<div class="activity-content">
    <div class="row">
        <div class="col-md-2 col-xs-6">
            <a class="btn-block" routerLink="/student/forum/question/ask">Ask Doubt</a>
        </div>
        <div class="col-md-2 col-xs-6">
            <a class="btn-block" target="_blank" href="#">Doubt Class Schedule</a>
        </div>
    </div>
</div>