<div class="panel-loader" [ngClass]="panelLoader">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Orders</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let buyer of buyers; let i=index">
                <td>{{i+1}}</td>

                <td><a (click)="showInfo({id:buyer.orders[0].user, firstName:buyer.orders[0].buyerDetail.name})" class="link">{{buyer.orders[0].buyerDetail.name}}</a></td>
                <td>{{buyer.orders[0].buyerDetail.email}}</td>
                <td>{{buyer.orders[0].buyerDetail.mobile}}</td>
                <td>{{buyer.orders.length}}</td>
                <td>
                    <a *ngIf="viewOpt" class="btn btn-link btn-xs" routerLink="{{viewOpt}}/{{buyer.user}}">More Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>