<div class="activity-content">
    <div class="row">
        <div class="col-md-8">
            <div class="section pd-15 ">
                <div class="row key-cards">
                    <div class="col-md-12">
                        <a class="key-card video-course" routerLink="/student/online-courses/classes" style="    background-image: linear-gradient( 120deg, #f32727 0%, #f78917 100%);">
                            <span style="font-size: 24px; line-height: 28px;"><b style="font-size: 40px;">Live</b> <br>Classes</span>
                            <i class="pi pi-circle-on" style="color:#ef0606 !important"></i>
                            <img class="key-card-bg" src="./assets/images/pattern1.png ">
                        </a>
                    </div>
                </div>
                <div class="row key-cards">
                    <div class="col-md-6" >
                        <a class="key-card video-course" routerLink="/student/online-courses">
                            <span><b>Video</b> <br>Classes</span>
                            <i class="pi pi-video" style="color:red"></i>
                            <img class="key-card-bg" src="./assets/images/pattern1.png ">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/student/batchfeeds/notes" class="key-card daily-quiz ">
                            <span><b>Study</b> <br>Material</span> <i class="pi pi-clone" style="color:red"></i>
                            <img class="key-card-bg" src="./assets/images/back-pattern.png">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/student/testment" class="key-card online-test ">
                            <span><b>Test</b> <br>Series</span> <i class="pi pi-desktop" style="color:#8BC34A"></i>
                            <img class="key-card-bg" src="./assets/images/pattern3.png">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/student/batchfeeds/assignments" class="key-card booster">
                            <span style="font-size: 13px;"><b>Booster</b> <br>Assignments</span> <i class="pi pi-compass" style="color:#FFC107"></i>
                            <img class="key-card-bg" src="./assets/images/pattern2.png">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/student/online-courses/video-solution" class="key-card  discussion">
                            <span><b>Video</b> <br>Solutions</span> <i class="pi pi-play" style="color:#FFEB3B"></i>
                            <img class="key-card-bg" src="./assets/images/pattern2.png">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/student/forum/question" class="key-card forum">
                            <span><b>Doubt</b> <br>Forum</span> <i class="pi pi-comments" style="color:#9C27B0"></i>
                            <img class="key-card-bg" src="./assets/images/pattern1.png">
                        </a>
                    </div>
                </div>
            </div>
            <section class="section" id="dash-ads">
                <div class="row" >
                    <div class="col-md-12  col-xs-12">
                        <ng-container *ngIf="images.length>0">
                            <p-galleria [value]="images" [autoPlay]="true" [containerStyle]="{'max-width': '100%'}" [numVisible]="5"
                            [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" >
                                <ng-template pTemplate="item" let-item>
                                    <!-- <a href="{{item.href}}"  target="new"><img [src]="item.source" [alt]="item.alt"/></a> -->
                                    <a (click)="openLink(item.href)"><img [src]="item.source" [alt]="item.alt"/></a>
                                </ng-template>
                            </p-galleria>
                        </ng-container>
                    </div>
                </div>
            </section>
            
        </div>
        <div class="col-md-4" style="padding-top:15px">
            <div class="panel panel-primary panel-profile panel-loader" [ngClass]="nfLoader">
                <div class="panel-heading" style="margin-bottom: 0px;">
                    <h3 class="panel-title"> <i class="pi pi-newspaper-o"> </i> Noticeboard</h3>
                </div>
                <div class="panel-body" style="height: 660px; overflow-y: auto;">
                    <ul class="notification-list">
                        <ng-container *ngIf="notifications&&notifications.length>0">
                            <li *ngFor="let nf of notifications; let i=index;" >
                                <div *ngIf="nf.campaign?.msg?.contentType=='link'" >
                                    <p (click)="openLink(nf.campaign?.thumb)" *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a (click)="openLink(nf.campaign?.msg?.link)" class="link" target="new">{{nf.message}}..</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="nf.campaign?.msg?.contentType=='video'" >
                                    <p (click)="openLink(nf.campaign?.thumb)" *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a  class="link" target="new">{{nf.message}}</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="nf.campaign?.msg?.contentType=='audio'" >
                                    <p (click)="openLink(nf.campaign?.thumb)" *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a  class="link" target="new">{{nf.message}}</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="nf.campaign?.msg?.contentType=='html'" >
                                    <p (click)="openLink(nf.campaign?.thumb)" *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a  class="link" (click)="showNoticeContent(i)">{{nf.message}}</a>
                                    <div class="nf-meta" ><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="nf.campaign?.msg?.contentType=='text'" >
                                    <p (click)="openLink(nf.campaign?.thumb)" *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a  class="link" target="new">{{nf.message}}</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="nf.campaign?.msg?.contentType=='pdf'" >
                                    <p (click)="openLink(nf.campaign?.thumb)" *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a  class="link"  (click)="openLink(nf.campaign?.msg?.pdf)">{{nf.message}}</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="nf.campaign?.msg?.contentType=='img'" >
                                    <p> <img src="{{nf.campaign?.msg?.img}}"  (click)="openLink(nf.campaign?.msg?.img)" style="max-width: 100%;"></p>
                                    <a  class="link">{{nf.message}}</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="nf.campaign?.msg?.contentType=='inapp'||(!nf.campaign?.msg?.contentType&&nf.campaign?.msg?.inapp)" >
                                    <p (click)="openLink(nf.campaign?.thumb)" *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a  class="link" (click)="showInappNotice(i)">{{nf.message}}</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                                <div *ngIf="!nf.campaign?.msg" >
                                    <p *ngIf="nf.campaign?.thumb"> <img src="{{nf.campaign?.thumb}}" style="max-width: 100%;"></p>
                                    <a  class="link" target="new">{{nf.message}}</a>
                                    <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MMM-yyyy hh:mm a'}}</div>
                                </div>
                            </li>
                        </ng-container>
                        <p *ngIf="notifications&&notifications.length<1" class="alignC">No News & Notices found.</p>
                    </ul>
                </div>
                <div class="panel-footer alignR" style="padding: 3px 10px;">
                    <!-- <a *ngIf="notifications&&notifications.length>0&&totalRecords>10" class="btn btn-xs btn-info" (click)="showNewsAndNotice()">View More <i class="pi pi-arrow-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Noticeboard" [(visible)]="displayNotice" [style]="{width: '50vw'}" [modal]="true" [dismissableMask]="true">
    <p [innerHtml]="noticeContent"></p>
</p-dialog>





