<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary" >
                <div class="panel-heading">
                    <h3 class="panel-title">OverAll Report <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <span class="pull-right" style="margin-top:-4px">
                            <a class="ek-btn btn-list btn-mini"routerLink="/student/testment/testseries">All Tests</a>
                        </span>
                    </h3>
                    
                </div>
                <div class="panel-body alignC" *ngIf="overAllReportList?.length <1" style="position: absolute;;width:90%;">
                    <i class="fa fa-bar-chart fa-5x" aria-hidden="true" style="color :#80808075"></i>
                    <h3> No Test Attempted Yet !!</h3>
                    <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">ATTEMPT NOW</button>
                </div>
                <div class="panel-body">
                    <div class="barchart-container">
                        <canvas #overAllChart id="overAllChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Top 3 Tests <i class="fa fa-book" aria-hidden="true"></i></div>
                    <!-- <div class="test-scroll"> -->
                    <div *ngIf="overAllReportList?.length<1" class="alignC">
                        <i class="fa fa-book fa-5x" aria-hidden="true" style="color :#80808075"></i>
                        <h3> No Test Attempted !!</h3>
                        <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">ATTEMPT NOW</button>
                    </div>
                    <div style="margin: 0px 5px 0px 5px;">
                        <div class="row"  *ngFor="let overAllReport of overAllReportList; let i=index">
                            <div class="col-md-12 test-card" title="View Chart" *ngIf="i<3" (click)="setTopTestChart(overAllReport)">
                                <div class="row">
                                    <div class="col-md-9 col-xs-12">
                                        <div class="row">
                                            <div class=" col-md-12 col-xs-12 title"> {{overAllReport?.test?.title}}</div>
                                            <div class=" content col-md-4 col-xs-6">
                                                <label>Score</label><br>{{overAllReport?.stdScore}} / {{overAllReport?.test?.maxScore}}
                                            </div>
                                            <div class=" content col-md-8 col-xs-6">
                                                <label>Time Taken <i class="fa fa-clock-o" aria-hidden="true"></i></label><br>{{getSecondsAsDigitalClock(overAllReport.totalTimeTaken)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-8"><div class="circle">{{overAllReport?.percentage?.toFixed(2)}}%</div></div>
                                    <div class="col-md-1 col-xs-4"><i class="fa fa-angle-right fa-2x test-arrow" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div *ngIf="!testChartContent" class="alignC" style="position: absolute;width:90%;top: 25%;">
                        <i class="fa fa-pie-chart fa-5x" aria-hidden="true" style="color :#80808075"></i>
                        <h3> No Test Attempted !!</h3>
                        <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">ATTEMPT NOW</button>
                    </div>
                    <div class="panel-title" *ngIf="testChartContent?.test?.title"> <i class="fa fa-pie-chart" aria-hidden="true"></i> Test - {{testChartContent?.test?.title}}</div>
                    <div class="chart-space">
                        <div class="chart-container">
                                <div class="chart-percentage" *ngIf="testChartContent">{{testChartContent?.percentage?.toFixed(2)}}%</div>
                                <!-- <div class="chart-percentage" *ngIf="!testChartContent">
                                    No Test
                                </div> -->
                                <canvas #testChart id="testChart"></canvas>
                        </div>
                    </div>
                    <ng-container *ngIf="testChartContent">
                        <div class="row chart-report" >
                            <div class="col-md-1 correct">{{testChartContent?.correctQs || 0}}</div>
                            <div class="col-md-1 incorrect">{{testChartContent?.inCorrectQs || 0}}</div>
                            <div class="col-md-1 attempted">{{testChartContent?.test?.totalQs-testChartContent?.unAttemptedQs || 0}}</div>
                            <div class="col-md-1 unattempt">{{testChartContent?.unAttemptedQs || 0}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title" *ngIf="lastAttemptedTest"> <i class="fa fa-pie-chart"></i> Last Attempted Test</div>
                    <div *ngIf="!lastAttemptedTest" class="alignC" style="position: absolute;width:90%;top: 20%;">
                        <i class="fa fa-pie-chart fa-5x" aria-hidden="true" style="color :#80808075"></i>
                        <h3> No Test Attempted !!</h3>
                        <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">ATTEMPT NOW</button>
                    </div> 
                    <div class="panel-title" *ngIf="lastAttemptedTest?.test?.title">{{lastAttemptedTest?.test?.title}}</div>
                    <div class="chart-space">
                        <div class="chart-container" style="margin-left: -10%;">
                            <div class="chart-percentage" *ngIf="lastAttemptedTest">{{lastAttemptedTest?.percentage?.toFixed(2)}}%</div>
                            <!-- <div class="emptyTest" *ngIf="!lastAttemptedTest">No Test Report</div> -->
                            <canvas #lastAttemptedChart id="lastAttemptedChart"></canvas>
                        </div>
                    </div>
                    <ng-container *ngIf="lastAttemptedTest">
                        <div class="row chart-report">
                            <div class="col-md-1 correct">{{lastAttemptedTest?.correctQs || 0}}</div>
                            <div class="col-md-1 incorrect">{{lastAttemptedTest?.inCorrectQs || 0}}</div>
                            <div class="col-md-1 attempted">{{lastAttemptedTest?.test?.totalQs-lastAttemptedTest?.unAttemptedQs || 0}}</div>
                            <div class="col-md-1 unattempt">{{lastAttemptedTest?.unAttemptedQs || 0}}</div>
                        </div>
                    </ng-container> 
                </div>
                <!-- <div class="panel-body">
                    
                </div> -->
            </div>
        </div>
        <div class="col-md-6 col-xs-12" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class=" col-md-9 panel-title">Recommended Tests <i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                        <!-- <div class=" col-md-3"><a class="btn btn-info" routerLink="/student/testment/test">View Tests</a></div> -->
                    </div>
                </div>
                <div class="panel-body" style="   margin-top: -32px;">
                    <div class="row" *ngFor="let upComingTest of upComingTests; let i=index">
                        <div class="col-md-12 test-card" routerLink="/student/testment/test" [queryParams]="{tsId : upComingTest.testSeries }">
                            <div  class="title"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{upComingTest?.test?.title}}</div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table-responsive rec-test">
                                        <tbody>
                                            <tr>
                                                <th class="head">Duration</th>
                                                <th class="head">Total Marks</th>
                                                <th class="head">Total Question</th>
                                            </tr>
                                            <tr>
                                                <td>{{upComingTest?.test?.duration}} min</td>
                                                <td>{{upComingTest?.test?.maxScore}}</td>
                                                <td>{{upComingTest?.test?.totalQs}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="col-md-3">
                                    <a class="btn btn-success btn-sm" (click)="testWindow(upComingTest)">Attempt Now</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div *ngIf="upComingTests?.length<1" class="alignC">
                        <i class="fa fa-file-text-o fa-5x" aria-hidden="true" style="color :#80808075"></i>
                        <h3> No Test Recommended !!</h3>
                        <!-- <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">ATTEMPT NOW</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>