<form class="form-horizontal fgm0" role="form" (ngSubmit)="updateProduct()" [formGroup]="productForm">
    
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="pCat">Course<sup>*</sup>:</label>
            <select name="" id="pCat" class="form-control" formControlName="course">
                <option value="" >Select Course</option>
                <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="pCat">Product Category/ Program<sup>*</sup>:</label>
            <select name="" id="pCat" class="form-control" formControlName="category">
                <option value="" >Select Product Category</option>
                <option value="{{pc.id}}" *ngFor="let pc of productCategories" >{{pc.valueAlias}}</option>
            </select>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="pType">Type<sup>*</sup>:</label>
            <select name="" id="pType" class="form-control" formControlName="type" (change)="setProductType()">
                <option value="" >Select Product Type</option>
                <option value="{{pt.id}}" *ngFor="let pt of productTypes">{{pt.valueAlias}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="pCat">Stream<sup>*</sup>:</label>
            <select name="" id="pCat" class="form-control" formControlName="stream">
                <option value="" >Select Stream</option>
                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="pMrp">MRP</label>
            <input type="text" class="form-control" id="pMrp" placeholder="Product MRP in INR" formControlName="mrp">
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="mCost">Cost</label>
            <input type="text" class="form-control" id="mCost" placeholder="Cost of Product" formControlName="cost">
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="pShping">Need Shipping:</label>
                <select name="" id="pShping" class="form-control" formControlName="shipping">
                    <option value="false" >No</option>
                    <option value="true" >Yes</option>
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="pNeedSRN">Need Student Registration (with SRN):</label>
                        <select name="" id="pNeedSRN" class="form-control" formControlName="needStdReg" (change)="loadFirms()">
                            <option [value]="null" >Select</option>
                            <option [value]="false" >No</option>
                            <option [value]="true" >Yes</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group" *ngIf="productForm.value.needStdReg==true||productForm.value.needStdReg=='true'">
                        <label for="srFirm">Student Registration under the Institute:</label>
                        <select id="srFirm" class="form-control" formControlName="stdRegInsty">
                            <option value="null">Select Institute</option>
                            <option value="{{firm.id}}" *ngFor="let firm of firms; let i=index">{{firm.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="centerDepend">Center/Location Based?:</label>
                <select id="centerDepend" class="form-control" formControlName="centerDependent" (change)="loadCenters()">
                    <option [ngValue]="null" >Select</option>
                    <option [ngValue]="false" >No</option>
                    <option [ngValue]="true" >Yes</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group" *ngIf="productForm.value.centerDependent==true">
                <label for="prdctCenter">Center/Location:</label>
                <select id="prdctCenter" class="form-control" formControlName="center">
                    <option value="null">Select Center/Location</option>
                    <option value="{{c.id}}" *ngFor="let c of centers; let i=index">{{c.title}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label for="pStr">Store:</label>
                <select class="form-control" formControlName="store">
                    <option value="null">Select Store</option>
                    <option value="{{store.id}}" *ngFor="let store of availableStores">{{store.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label for="pSrc">Store Front:</label>
                <div class="row" style.width="100%">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <label for="omw">Main Website: <input id="omw" type="checkbox" [checked]="product?.storeFronts&&product?.storeFronts.indexOf('MAIN')!==-1" (change)="linkStoreFront('MAIN')" /></label>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <label for="otm">TestMent: <input id="otm" type="checkbox" [checked]="product?.storeFronts&&product?.storeFronts.indexOf('TESTMENT')!==-1" (change)="linkStoreFront('TESTMENT')" /></label>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <label for="ovt">Video Tube: <input id="ovt" type="checkbox" [checked]="product?.storeFronts&&product?.storeFronts.indexOf('VIDEOTUBE')!==-1" (change)="linkStoreFront('VIDEOTUBE')" /></label>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <label for="obs">Book Store: <input id="obs" type="checkbox" [checked]="product?.storeFronts&&product?.storeFronts.indexOf('BOOKSTORE')!==-1" (change)="linkStoreFront('BOOKSTORE')" /></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="pStatus">Status<sup>*</sup>:</label>
                <select name="" id="pStatus" class="form-control" formControlName="status">
                <option value="true" >Active</option>
                <option value="false" >Inactive</option>
            </select>
            </div>
        </div>
        
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
            </div>
        </div>
    </div>
</form>