<form role="form" class="form-in-oneview" (ngSubmit)="updateUser()" [formGroup]="userForm">
    <div class="form-in-oneview-sec">
        <h4 class="subheading">Basic Details</h4>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="ttl">First Name<sup>*</sup></label>
                    <input type="text" class="form-control" id="ttl" placeholder="First Name" formControlName="firstName">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="lname">Last Name<sup>*</sup></label>
                    <input type="text" class="form-control" id="lname" placeholder="Last name" formControlName="lastName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="email">Email ID<sup>*</sup></label>
                    <input type="text" class="form-control" id="email" placeholder="Email ID" formControlName="email">
                </div>

            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="mbl">Mobile Number<sup>*</sup></label>
                    <input type="text" class="form-control" id="mbl" placeholder="10 digit mobile number" formControlName="mobile">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12"></div>
            <div class="col-md-6 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12"></div>
            <div class="col-md-6 col-xs-12"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="" id="input3" class="form-control" formControlName="status">
                        <option [value]="null" >Select</option>
                        <option [value]="true" >Active</option>
                        <option [value]="false" >Inactive</option>
                    </select>
                </div>

            </div>
        </div>
    </div>


    <div class="form-in-oneview-sec" *ngIf="userType!='ADMIN'&&userType!='FACULTY'">
        <h4 class="subheading">Address</h4>
        <div class="row" formGroupName="address">
            <div class="col-md-6">
                <fieldset formGroupName="shipping">
                    <b>Current/Shipping Address</b>
                    <div class="form-group">
                        <label for="adrs">Address</label>
                        <textarea class="form-control" id="adrs" placeholder="Address" formControlName="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="lndmrk">Landmark</label>
                        <input type="text" class="form-control" id="lndmrk" placeholder="Nearby Landmark" formControlName="landmark">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="pin">Postal Code (pin)</label>
                        <input type="text" class="form-control" id="pin" placeholder="6 Digit PIn Code" formControlName="postalCode">
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset formGroupName="billing">
                    <b>Billing/Permanant Address <span style="margin-left:50px"><input #bao type="checkbox" (click)="setBillingAddress(bao.checked)"></span> <small>Same as shipping address</small></b>
                    <div class="form-group">
                        <label for="paadrs">Address</label>
                        <textarea class="form-control" id="paadrs" placeholder="Address" formControlName="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="palndmrk">Landmark</label>
                        <input type="text" class="form-control" id="palndmrk" placeholder="Nearby Landmark" formControlName="landmark">
                    </div>
                    <div class="form-group">
                        <label for="pacity">City</label>
                        <input type="text" class="form-control" id="pacity" placeholder="City" formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="pastate">State</label>
                        <input type="text" class="form-control" id="pastate" placeholder="State" formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="papin">Postal Code (pin)</label>
                        <input type="text" class="form-control" id="papin" placeholder="6 Digit PIn Code" formControlName="postalCode">
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
    <div class="form-in-oneview-sec">
        <h4 class="subheading">Images</h4>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6" *ngIf="userForm.value.profileImg!=''">
                <span class="frm-img-thumb"><img src="{{userForm.value.profileImg}}"></span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-6">
                <div class="form-group">
                    <label for="id">Profile Photo</label>
                    <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="profileImg"></ek-fileinput>
                </div>


            </div>
        </div>
    </div>

    <div class="form-in-oneview-sec">
        <h4 class="subheading">Login Credentials</h4>
        <div class="row">
            <p class="col-md-12" *ngIf="userForm.value.email==''">Enter Email ID first!</p>

            <div class="col-md-6" *ngIf="userForm.value.email!=''">
                <div class="form-group">
                    <label for="stdun">Username (Email ID)</label>
                    <input type="text" class="form-control" id="stdun" value="{{userData.username}}" placeholder="Username of student (Email ID)" readonly>
                </div>
                <p><label><input #rstPass id="uslgn" type="checkbox" [checked]="resetPassword" (change)="setPasswordOpt(rstPass.checked)"> Set/Re-Set Password.</label></p>
                <div class="form-group" *ngIf="resetPassword">
                    <label for="stdpass">Password</label> <a (click)="generatePassword()">Auto Generate</a>
                    <input type="text" class="form-control" id="stdpass" placeholder="Enter new Password" formControlName="password">
                </div>

            </div>
        </div>
    </div>

    <div class="form-in-oneview-sec" *ngIf="userType=='ADMIN'||userType=='FACULTY'">
        <h4 class="subheading">App Access</h4>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="id">Add App/Module</label>
                    <select #appIndex class="form-control" (change)="addAppAccess(appIndex.value)">
                        <option [value]="null">Select App</option>
                        <option [value]="i" *ngFor="let app of userApps; let i=index" >{{app}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p><b>Added App Access</b></p>
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let app of addedApps; let i=index">
                            <td>{{app}}</td>
                            <td><i class="fa fa-close link" (click)="removeAddedApp(i)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    

    <p class="padding15">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':submitLabel)}}</button>
    </p>
</form>