<div class="activity-content">
    <div class="row">
        <div class="col-md-8">
            <div class="activity-navbar">
                <ul>
                    <!-- <li class="head">Forum</li> -->
                    <li><a routerLink="/student/forum/question" disabled>My Questions</a></li>
                    <!-- <li><a href="/ims/faculty/member/{{faculty?.id}}/period">Network Questions</a></li> -->
                </ul>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Ask Doubt Question</h3>
                                <hr>
                                <ask-forum-question> </ask-forum-question>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
