<div class="form-group">
    <label class="sr-only" for="ekUsrSrch">Search User</label>
    <input type="text" class="form-control user-search-input" id="ekUsrSrch" placeholder="Search User if already exist (Enter user email id)" [(ngModel)]="query" value="{{selectedUser?.firstName}} {{selectedUser?.lastName}} ({{selectedUser?.email}}) ">
    <div *ngIf="enquiries.length>0" class="usr-srch-windw">
        <ul class="usr-srch-rslt">
            <li *ngFor="let enquiry of enquiries; let i=index">
                <a (click)="selectUser(i)">{{enquiry.email}}<br><small>{{enquiry.firstName}} {{enquiry.lastName}}</small> </a>
            </li>
        </ul>
    </div>
</div>