<div class="activity-content">
    <div class="row">
        <div class="col-md-12  panel-loader"  [ngClass]="panelLoader">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2" *ngIf="questions.length == 0">
                            <h4>Upload File:</h4>
                        </div>
                        <div class="col-md-6"  *ngIf="questions.length == 0">
                            <div class="row">
                                <div class="col-md-6">
                                        <input class="pull-left" style="margin-top: 7px;" type="file" id="questionsFile" (change)="getFilePath('questionsFile')">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control"  [(ngModel)]="lang" (change)=changeTag()>
                                        <option value="EN">English</option>
                                        <option value="HI">Hindi</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-md-offset-6 form-group" *ngIf="lang == 'HI'" style="margin-top: 15px;">
                                    <select class="form-control"  [(ngModel)]="font">
                                        <option value="">Select Font</option>
                                        <option value="kruti-dev-10">Kruti Dev 10</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-md-offset-6" style="margin-top: 15px;" *ngIf="!qsetId">
                                    <input type="text" class="form-control" [(ngModel)]="tag" (change)=changeTag() placeholder="Enter Tag">
                                </div>
                                <div class="col-md-12" *ngIf="validateError" style="color: red">{{validateError}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 q-content" *ngIf="questions.length > 0">
                            <h4 class="pull-left">Total {{questions.length}} Questions</h4>
                            <button   [disabled]=" errors.length > 0 || fileStatus == 'Processing'" class="btn btn-success btn-sm pull-right" (click)="saveFileQuestions()">{{(fileStatus=='Processing'?'Processing...':'Save Questions')}}</button>
                        </div>
                        <div class="col-md-4 pull-right">
                            <ul class="list-inline">
                                <li><a class="ek-btn btn-edit btn-mini" href="https://ehub.iesmaster.org/3imehub/resources/files/1554464057849-upload-Q-format.docx" ><i class="fa fa-download"></i>Format File</a></li>
                                <li><button  class="ek-btn btn-list btn-mini" (click)="showIns()">Instructions</button></li>
                                <li><button  class="ek-btn btn-create" (click)="newUpload = true;">new Upload</button></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <button class="ek-btn btn-edit" (click)="uploadFileQuestions()">upload</button> -->
                    <div class="file-instruction" *ngIf="displayIns">
                        <div class="title"><h3>Instructions</h3></div>
                        <div class="content table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><b>1.</b></td>
                                        <td>“ [:NQ] ” always start a new question with this tag</td>
                                    </tr>
                                    <tr>
                                        <td><b>2.</b></td>
                                        <td>“ [:END] ” Tag is defined in the last of file (only once) .</td>
                                    </tr>
                                    <tr>
                                        <td><b>3.</b></td>
                                        <td>“ [:ANS] ” Tag use for Answer.</td>
                                    </tr>
                                    <tr>
                                        <td><b>4.</b></td>
                                        <td>“ [:SOLN] ” Tag use for Solution.</td>
                                    </tr>
                                    <tr>
                                        <td><b>5.</b></td>
                                        <td>“ [:P.2] ” Tag contains the number of below question in this passage.</td>
                                    </tr>
                                    <tr>
                                        <td><b>6.</b></td>
                                        <td>Question sequence will be shown as “[:Q.1]  , [:Q.2] ….. [:Q.N]”.</td>
                                    </tr>
                                    <tr>
                                        <td><b>7.</b></td>
                                        <td>Question option tags are :- “ [:A] , [:B] , [:C] , [:D] , [:E]” and don’t use numerical format.</td>
                                    </tr>
                                    <tr>
                                        <td><b>8.</b></td>
                                        <td>“ [:INFO] ” sub tags are separate by comma ” , ” and don’t press ”ENTER” between tags.</td>
                                    </tr>
                                    <tr>
                                        <td><b>9.</b></td>
                                        <td>“[:INFO]” Tag is optional in all questions. If a question don’t contains [:INFO] tag, it will automatically updated with previous INFO tag,  (T&C apply).</td>
                                    </tr>
                                    <tr>
                                        <td><b>10.</b></td>
                                        <td>“ [:INFO] ”  sub tags are : -  “ title , type ,  mp , mn , course , 'stream' , subject, unit, topic , level , dlang, session “.</td>
                                    </tr>
                                    <tr>
                                        <td><b>11.</b></td>
                                        <td>“ [:INFO] ”  sub tags are optional except “ course and type ”.</td>
                                    </tr>
                                    <tr>
                                        <td><b>12.</b></td>
                                        <td>“course , stream, subject, unit, topic , session”  in  “[:INFO]” Tag ,it always input ID’s.</td>
                                    </tr>
                                    <tr>
                                        <td><b>13.</b></td>
                                        <td>While creating option please press “ENTER” after ending of each option.</td>
                                    </tr>
                                    <tr>
                                        <td><b>14.</b></td>
                                        <td>“ CourseID, StreamID, SubjectID, UnitID, levelID and TopicID “  will replaced by their Database ID’s, copy them from panel and paste in your question file.</td>
                                    </tr>
                                    <tr>
                                        <td><b>15.</b></td>
                                        <td>ALL Tags are in capital letter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-5 table-responsive">
                                <table class="table">
                                    <thead>
                                        <th>Course Name</th>
                                        <th>ID</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let course of courses">
                                            <td>{{course?.valueAlias}}</td>
                                            <td>{{course?.id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-5 table-responsive">
                                <table class="table">
                                    <thead>
                                        <th>Stream Name</th>
                                        <th>ID</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let stream of streams">
                                            <td>{{stream?.valueAlias}}</td>
                                            <td>{{stream?.id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2 table-responsive">
                                <table class="table">
                                    <thead>
                                        <th>Level</th>
                                        <th>ID</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Easy</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Average</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>Medium</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>Difficult</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>Very Difficult</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>Tough</td>
                                            <td>6</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 table-responsive">
                                <table class="table">
                                    <thead>
                                        <th>Session</th>
                                        <th>ID</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let session of sessions">
                                            <td>{{session.name}}</td>
                                            <td>{{session.id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-5 table-responsive">
                                <table class="table">
                                    <thead>
                                        <th>Sources</th>
                                        <th>ID</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let source of sourceList">
                                            <td>{{source.value}}</td>
                                            <td>{{source.id}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="errors.length > 0">
                        <div style="color: red" *ngFor="let error of errors">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" *ngIf="content && questions.length == 0">
                <div class="panel-heading" style="text-align: center">
                    <button class="ek-btn btn-list" (click)="fetch()">Convert to Questions</button>
                    <button class="ek-btn btn-list" (click)="tableFormatFetch()">Convert as table format</button>
                    <button class="ek-btn btn-list" (click)="codeFetch()">Convert By Code</button>
                </div>
                <div class="panel-body">
                    <div id="wordHtml" [innerHTML]="content | safeHtml"></div>
                </div>
            </div>
            <ng-container *ngIf="questions && questions.length>0">
                <div class="panel panel-primary panel-profile" *ngFor="let question of questions; let i=index;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Question - {{i+1}}</h3>
                        <span class=" brooch brooch-success">{{question?.mp}}</span>
                        <span class="brooch brooch-danger">-{{question?.mn}}</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" *ngIf="question?.havePassage">
                                <div *ngIf="question?.passage?.passageContent">
                                    <b>Passage -
                                    <div [innerHTML]="question?.passage.passageContent"></div>
                                    </b>
                                </div>
                            </div>
                            <div class="col-md-8 col-border-right q-content" style="font-size: 16px;">
                                <div  class="file-question">
                                    <span class="pull-left" >Q - </span>
                                    <div *ngIf="question?.qContent" [innerHTML]="question?.qContent | safeHtml" [ngClass]="question?.defaultFont"></div>
                                </div>
                                <div *ngIf="question?.qType == 'MCQ' || question?.qType == 'MAQ' || question?.qType == 'ARQ' || question?.qType == 'PTQ'">
                                    <div *ngIf="question?.qOption?.optionA"><b>(A) </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                    <div *ngIf="question?.qOption?.optionB"><b>(B) </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                    <div *ngIf="question?.qOption?.optionC"><b>(C) </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                    <div *ngIf="question?.qOption?.optionD"><b>(D) </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                    <div *ngIf="question?.qOption?.optionE"><b>(E) </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                </div>
                                <div *ngIf="question?.qType == 'MTQ'">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div *ngIf="question?.qOption?.optionA"><b>(A) </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionB"><b>(B) </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionC"><b>(C) </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionD"><b>(D) </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionE"><b>(E) </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                       </div>
                                        <div class="col-md-6">
                                            <div *ngIf="question?.qOption?.optionP"><b>(P) </b><span  [innerHTML]="question?.qOption?.optionP | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionQ"><b>(Q) </b><span  [innerHTML]="question?.qOption?.optionQ | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionR"><b>(R) </b><span  [innerHTML]="question?.qOption?.optionR | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionS"><b>(S) </b><span  [innerHTML]="question?.qOption?.optionS | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionT"><b>(T) </b><span  [innerHTML]="question?.qOption?.optionT | safeHtml"  [ngClass]="question?.defaultFont"></span></div>
                                         </div>
                                    </div>
                                </div>
                                <div><p class="brooch brooch-info">Answer :</p><span class="bold">{{question?.ans}}</span></div>
                                <ng-container *ngIf="question?.qSolution">
                                    <div class="brooch brooch-info">Solution :</div>
                                    <div  [innerHTML]="question?.qSolution | safeHtml"  [ngClass]="question?.defaultFont"></div>
                                </ng-container>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-brdr0">
                                    <tbody>
                                        <tr><td colspan="2"><label>Title</label><br/><b  [ngClass]="question?.defaultFont">{{question?.title}}</b></td></tr>
                                        <tr>
                                            <td><label>Question Type</label><br/><b>{{question?.qType}}</b></td>
                                            <td><label>Level</label><br/><b>{{qLevelLabel[question?.level] || 0}}</b></td>
                                        </tr>
                                        <tr>
                                            <td><label>Course</label><br/><b>{{question?.course || 'NIL'}}</b></td>
                                            <td><label>Stream</label><br/><b>{{question?.stream || 'NIL'}}</b></td>
                                        </tr>
                                        <tr>
                                            <td><label>Subject</label><br/><b>{{question?.subject || 'NIL'}}</b></td>
                                            <td><label>Unit</label><br/><b>{{question?.unit || 'NIL'}}</b></td>
                                        </tr>
                                        <tr>
                                            <td><label>Topic</label><br/><b>{{question?.topic || 'NIL'}}</b></td>
                                            <td><label>defaultLang</label><br/><b>{{question?.defaultLang || 'NIL'}}</b></td>
                                        </tr>
                                        <tr>
                                            <td *ngIf="question?.tags?.length > 0">
                                                <label>Tags</label><br/>
                                                <b *ngFor="let tag of question?.tags">{{tag}}, </b>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            
        </div>
    </div>
</div>
<p-dialog header="New Upload System" [(visible)]="newUpload" modal="true" [responsive]="true">
    <div class="row panel-loader" [ngClass]="panelLoader">
        <div class="col-md-12 form-group">
                <input type="file" id="questionsFiless" (change)="getFilePathTable('questionsFiless')">
        </div>
    </div>
</p-dialog>