<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size:22px">Online Interview Guidance Program</h3>
                </div>
                <div class="" style="padding:15px">
                    <div class="row">
                        <h4 style="padding-left:15px">PD Session Videos</h4>
                        <hr>
                    </div>

                    <div class="row vids">
                        <div class="col-md-3" *ngFor="let vid of lectures['PD Session']" >
                            <div class="vid-bx" ngClass="notAvlbl{{vid.videoSourceId}}">
                                <div class="vid-thumb" (click)="playVideo(vid.id, vid.videoSourceId)">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="vid-info">
                                    <h6>{{vid.title}}</h6>
                                    <p>{{vid.customParams?.date}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="" style="padding:15px">
                    <div class="row">
                        <h4 style="padding-left:15px">Current Affairs Session Videos</h4>
                        <hr>
                    </div>

                    <div class="row vids">
                        <div class="col-md-3" *ngFor="let vid of lectures['Current Affairs Session']" >
                            <div class="vid-bx" ngClass="notAvlbl{{vid.videoSourceId}}">
                                <div class="vid-thumb" (click)="playVideo(vid.id, vid.videoSourceId)">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="vid-info">
                                    <h6>{{vid.title}}</h6>
                                    <p>{{vid.customParams?.date}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="" style="padding:15px">
                    <div class="row">
                        <h4 style="padding-left:15px">Technical Session Videos</h4>
                        <hr>
                    </div>

                    <div class="row vids">
                        <div class="col-md-3" *ngFor="let vid of lectures['Technical Session']" >
                            <div class="vid-bx" ngClass="notAvlbl{{vid.videoSourceId}}">
                                <div class="vid-thumb" (click)="playVideo(vid.id, vid.videoSourceId)">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="vid-info">
                                    <h6>{{vid.title}}</h6>
                                    <p>{{vid.customParams?.date}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>