<div class="activity-content">
    <div class="panel panel-primary profile">
        <div id="testMentTabView" class="panel-body">
            <div class="report-title">
                {{userReport?.test?.title}}
                <ul class="list-inline pull-right">
                    <li *ngIf="userReport?.test?.testType == 'PRACTICE' && userReport?.uotAttempt">
                        <button class="btn btn-success btn-sm" (click)="ShowTestAttemptsModal()">Past Attempts</button>
                    </li>
                    <li>
                        <button class="blink-button" (click)="ShowFeedbackModal('TEST')">Feedback</button>
                    </li>
                </ul>
            </div>
            <div class="row report-header">
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style="background-color: #3F51B5;">{{userReport?.percentage.toFixed(2)}}%</div>
                        <div class="ek-card-title">Percentage</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style=" background-color: #4CAF50;">{{userReport?.correctQs}}</div>
                        <div class="ek-card-title">Correct</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style=" background-color: #e6574c;">{{userReport?.inCorrectQs}}</div>
                        <div class="ek-card-title">In Correct</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style=" background-color: #FF9800;">{{userReport?.unAttemptedQs}}</div>
                        <div class="ek-card-title">Un Attempted</div>
                    </div>
                </div>
            </div>
            <p-tabView (onChange)="onTabChange($event.index)">
                <p-tabPanel header="Score Overview" [selected]="activeTab == '0'">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <div class="row chart">
                        <div class="col-md-4 col-xs-12">
                            <div class="chart-title"><i class="fa fa-pie-chart"></i> Overview</div>
                                <!-- <div class="chart-percentage" *ngIf="userReport">{{userReport?.percentage?.toFixed(2)}}%</div> -->
                                <div class="emptyTest" *ngIf="!userReport">No Test Report</div>
                                <canvas #overviewChart id="overviewChart" width="50vw" height="50vh"></canvas>
                        </div>
                        <div class="col-md-offset-2 col-md-4 col-xs-12">
                            <div class="chart-title"><i class="fa fa-pie-chart"></i> Section Wise Score</div>
                                <!-- <div class="chart-percentage" *ngIf="userReport">{{userReport?.percentage?.toFixed(2)}}%</div> -->
                                <div class="emptyTest" *ngIf="!userReport">No Test Report</div>
                                <canvas #sectionChart id="sectionChart" width="50vw" height="50vh"></canvas>
                        </div>
                    </div>
                    <div class="ek-report">
                        <div class="row report-table">
                            <div class="col-md-4 col-xs-6"><b>Total Marks</b><div class="report-text">{{userReport?.test?.maxScore}}</div></div>
                            <div class="col-md-4 col-xs-6"><b>Your Score </b><div class="report-text">{{userReport?.stdScore}}</div></div>
                            <div class="col-md-4 col-xs-6"><b>Total Correct</b><div class="report-text">{{userReport?.correctQs}}</div></div>
                            <div class="col-md-4 col-xs-6"><b>Max Time</b> <div class="report-text">{{userReport?.test?.duration}} min</div></div>
                            <div class="col-md-4 col-xs-6"><b>Time Spend</b> <div class="report-text">{{userReport?.totalTimeTaken}}</div></div>
                            <div class="col-md-4 col-xs-6"><b>Total InCorrect</b><div class="report-text">{{userReport?.inCorrectQs}}</div></div>
                            <div class="col-md-4 col-xs-6"><b>Total Question</b> <div class="report-text">{{userReport?.test?.totalQs}}</div></div>    
                            <div class="col-md-4 col-xs-6"><b>Percentage</b> <div class="report-text">{{userReport?.percentage.toFixed(2)}}%</div></div>
                            <div class="col-md-4 col-xs-6"><b>Total UnAttempted </b><div class="report-text">{{userReport?.unAttemptedQs}}</div></div>
                            <div class="col-md-4 col-xs-6" title=" Rank based on latest Attempt"><b>RANK</b><div class="report-text">{{rankData?.rank}}</div></div>
                            <div class="col-md-4 col-xs-6" *ngIf="userReport?.test?.solVideos?.ids&&userReport?.test?.solVideos?.ids.length>0"><button class="btn btn-primary" (click)="showSolutionVideosModal()"><i class="fa fa-film"></i> Solution Videos</button></div>
                            <div class="col-md-12 col-xs-12 text-danger" *ngIf="userReport?.test?.theme=='CSIR'">*Result is evaluated as per attempting limit in test.</div>
                        </div>
                    </div>
                    <!-- <div class="ek-report table-responsive">
                        <table class=" table report-table">
                            <tbody>
                                <tr>
                                    <td><b>Total Marks</b><div class="report-text">{{userReport?.test?.maxScore}}</div></td>
                                    <td><b>Your Score </b><div class="report-text">{{userReport?.stdScore}}</div></td>
                                    <td><b>Total Correct</b><div class="report-text">{{userReport?.correctQs}}</div></td>
                                </tr>
                                <tr>
                                    <td><b>Max Time</b> <div class="report-text">{{userReport?.test?.duration}} min</div></td>
                                    <td><b>Time Spend</b> <div class="report-text">{{userReport?.totalTimeTaken}}</div></td>
                                    <td><b>Total InCorrect</b><div class="report-text">{{userReport?.inCorrectQs}}</div></td>
                                </tr>
                                <tr>
                                    <td><b>Total Question</b> <div class="report-text">{{userReport?.test?.totalQs}}</div></td>    
                                    <td><b>Percentage</b> <div class="report-text">{{userReport?.percentage.toFixed(2)}}%</div></td>
                                    <td><b>Total UnAttempted </b><div class="report-text">{{userReport?.unAttemptedQs}}</div></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><b>RANK</b><div class="report-text">{{rankData?.rank}}</div></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </p-tabPanel>
                <p-tabPanel header="Section wise" [selected]="activeTab == '1'">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content"> <!-- this is used for lazy loading-->
                        <div class="row chart">
                            <div class="col-md-12 col-xs-12">
                                <div class="chart-title"><i class="fa fa-bar-chart"></i> Section Wise</div>
                                <div class="barchart-container">
                                    <canvas #sectionBarChart id="sectionBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="ek-report" *ngFor="let sectionScore of userReport?.sectionScore; let i = index" >
                            <div class="ek-card-title">{{sections[i].title}}</div>
                            <div class=" row report-table">
                                <div class="col-md-4 col-xs-6"><b>Your Score </b><div class="report-text">{{sectionScore?.score}}</div></div>
                                <div class="col-md-4 col-xs-6"><b>Time Spend</b> <div class="report-text">{{getSecondsAsDigitalClock(sectionScore?.timeTaken)}}</div></div>
                                <div class="col-md-4 col-xs-6"><b>Total Question</b> <div class="report-text">{{sections[i].totalQs}}</div></div>  
                                <div class="col-md-4 col-xs-6"><b>Total Correct</b><div class="report-text">{{sectionScore?.correctQs}}</div></div>
                                <div class="col-md-4 col-xs-6"><b>Total Marks</b><div class="report-text">{{sections[i].totalMarks}}</div></div>
                                <div class="col-md-4 col-xs-6"><b>Max Time</b><div class="report-text">{{sections[i].maxTime}} min</div></div>
                                <div class="col-md-4 col-xs-6"><b>Un Attempted </b><div class="report-text">{{sectionScore?.unAttemptedQs}}</div></div>
                                <div class="col-md-4 col-xs-6"><b>Total InCorrect</b><div class="report-text">{{sectionScore?.inCorrectQs}}</div></div>
                                <div class="col-md-4 col-xs-6" *ngIf="sections[i].attemptLimit"><b>Attempt Limit</b><div class="report-text">{{sections[i].attemptLimit}} Question</div></div>
                            </div>
                        </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Topic wise" [selected]="activeTab == '2'">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content">
                            <div class="panel-heading" style="margin-top: 10px">
                                <p-tabView (onChange)="onTopicSecChange($event?.index)">
                                    <p-tabPanel [header]="section.title" *ngFor="let section of sections; let sIndex = index" [selected]="sIndex== activeTopSec">
                                        <ng-template pTemplate="content">
                                            <div *ngFor="let data of section.topicQs;let tIndex = index;">
                                                <div class="panel panel-primary panel-profile">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-md-10 col-xs-12">
                                                                <h3 class="panel-title">{{tIndex+1}} - {{data?.topic?.name}}</h3>
                                                            </div>
                                                            <div class="col-md-2 col-xs-12">
                                                                <a class="ek-btn btn-list pull-right" (click)="dislpayTopicQs(sIndex,tIndex)">View Questions</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="report-table">
                                                        <tbody>
                                                            <tr>
                                                                <td><b>Total Question</b> <div class="report-text">{{data?.totalQs}}</div></td>    
                                                                <td><b>Correct</b><div class="report-text">{{data?.correctQs}}</div></td>
                                                                <td><b>In Correct</b><div class="report-text">{{data?.inCorrectQs}}</div></td>
                                                                <td><b>Attempted </b><div class="report-text">{{data?.attemptedQs}}</div></td>
                                                                <td><b>Un Attempted </b><div class="report-text">{{data?.unAttemptedQs}}</div></td>
                                                                <td><b>Your Score </b><div class="report-text">{{data?.score}}</div></td>
                                                                <td><b>Time Spend</b> <div class="report-text">{{getSecondsAsDigitalClock(data?.timeTaken)}}</div></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="panel-body" *ngIf="data?.showQuestions">
                                                        <div class="panel panel-primary panel-profile" *ngFor="let qResponse of data?.questions;let qIndex=index;">
                                                            <div class="panel-heading panel-loader">
                                                                <div class="row">
                                                                    <div class="col-md-10">
                                                                            <span><b>Question : {{qIndex+1}}  </b></span>
                                                                            <i *ngIf="qResponse?.isCorrect == false && qResponse.status == 'answered'" class="fa fa-times-circle fa-2x" style="color: red;margin-left: 10px;"></i>
                                                                            <i *ngIf="qResponse?.isCorrect == true" class="fa fa-check-circle fa-2x" style="color: green;margin-left: 10px;"></i>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <button class="btn" *ngIf="!qBookmark[qResponse?.question?.id]" (click)="addQuestionBookmark(qResponse?.question?.id)" title="Bookmark this Question"><i class="fa fa-star-o"></i> Bookmark</button>
                                                                        <button class="btn btn-warning" 
                                                                            *ngIf="qBookmark[qResponse?.question?.id] && qResponse?.question?.id == qBookmark[qResponse?.question?.id].question"
                                                                            (click)="removeQuestionBookmark(qBookmark[qResponse?.question?.id].id)"
                                                                            title="Un Bookmark this Question">
                                                                            <i class="fa fa-star"></i> Bookmark
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-md-12" *ngIf="qResponse?.question?.havePassage == true">
                                                                        <button *ngIf="!qResponse?.question?.passage?.passageContent" class="ek-btn btn-list btn-sm" (click)="getQuestionPassage(qResponse?.question?.passage,qIndex)">Show Passage</button>
                                                                        <div *ngIf="qResponse?.question?.passage?.passageContent">
                                                                            <b>Passage -</b>
                                                                            <div [innerHTML]="qResponse?.question?.passage?.passageContent | safeHtml"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-8 col-border-right">
                                                                        <div>
                                                                            <span class="pull-left" >Q - </span>
                                                                            <span *ngIf="qResponse?.question?.qContent" [innerHTML]="qResponse?.question?.qContent | safeHtml"></span>
                                                                        </div>
                                                                        <div *ngIf="qResponse?.question?.qType == 'MCQ' || qResponse?.question?.qType == 'MAQ' || qResponse?.question?.qType == 'ARQ' || qResponse?.question?.qType == 'PTQ'">
                                                                            <div *ngIf="qResponse?.question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionA | safeHtml"></span></div>
                                                                            <div *ngIf="qResponse?.question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionB | safeHtml"></span></div>
                                                                            <div *ngIf="qResponse?.question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionC | safeHtml"></span></div>
                                                                            <div *ngIf="qResponse?.question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionD | safeHtml"></span></div>
                                                                            <div *ngIf="qResponse?.question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionE | safeHtml"></span></div>
                                                                        </div>
                                                                        <div *ngIf="qResponse?.question?.qType == 'MTQ'">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionA | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionB | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionC | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionD | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionE | safeHtml"></span></div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionA"><b>P. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionP | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionB"><b>Q. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionQ | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionC"><b>R. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionR | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionD"><b>S. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionS | safeHtml"></span></div>
                                                                                    <div *ngIf="qResponse?.question?.qOption?.optionE"><b>T. </b><span  [innerHTML]="qResponse?.question?.qOption?.optionT | safeHtml"></span></div>
                                                                                    </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row" style="margin: 10px 0px;">
                                                                            <div class="col-md-4"><p class="brooch brooch-info">Correct Answer :</p> 
                                                                                <b *ngIf="qResponse?.correctAns">{{qResponse?.correctAns}}</b>
                                                                                <b *ngIf="!qResponse?.correctAns">{{qResponse?.question?.ans}}</b>
                                                                            </div>
                                                                            <div class="col-md-4"><p class="brooch brooch-info">Your Answer :</p> <b>{{qResponse?.answer}}</b></div>
                                                                        </div>
                                                                        <div class="brooch brooch-info">Solution :</div>
                                                                        <div *ngIf="qResponse?.question?.qSolution" [innerHTML]="qResponse?.question?.qSolution | safeHtml"></div>            
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        
                                                                        <table class="table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td><label>Status</label><br/>{{qResponse?.status || 'not visited'}}</td>
                                                                                    <td><label>Question Type</label><br/>{{qResponse?.question?.qType}}</td>
                                                                                </tr> 
                                                                                <tr>
                                                                                    <td><label>Level</label><br/>{{qLevelLabel[qResponse?.question?.level]}}</td>
                                                                                    <td><label>Time Spend</label>
                                                                                        <div *ngIf="qResponse?.timeTaken" class="brooch brooch-info"><i class="fa fa-clock-o"></i> {{getSecondsAsDigitalClock(qResponse?.timeTaken)}}</div>
                                                                                        <div *ngIf="!qResponse?.timeTaken">-</div>
                                                                                    </td> 
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <label>Positive Marks</label>
                                                                                            <span class=" brooch brooch-success">{{qResponse?.mp || 0}}</span>
                                                                                            <!-- <span *ngIf="!qResponse?.mp" class=" brooch brooch-success">{{qResponse?.question?.mp}}</span> -->
                                                                                        </td>
                                                                                    <td>
                                                                                        <label>Negative Marks</label>
                                                                                        <span class="brooch brooch-danger">{{qResponse?.mn || 0}}</span>
                                                                                        <!-- <span *ngIf="!qResponse?.mn" class="brooch brooch-danger">-{{qResponse?.question?.mn}}</span> -->
                                                                                    </td> 
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Question wise" [selected]="activeTab == '3'">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content">
                            <div class="panel-heading" style="margin-top: 10px">
                                <p-tabView (onChange)="onQuestionSecChange($event?.index)">
                                    <p-tabPanel [header]="section.title" *ngFor="let section of sections; let i = index" [selected]="i== activeQueSec">
                                        <ng-template pTemplate="content">
                                            <ul *ngIf="section.attemptLimit" class="list-inline text-danger">
                                                <li>Result is evaluated on {{section.attemptLimit}} Questions as per attempting limit.</li>
                                            </ul>
                                            <div class="table-responsive">
                                                    <table class="table report-question">
                                                            <tbody >
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Response</th>
                                                                    <th>Time Spend</th>
                                                                    <th>Status</th>
                                                                    <th>Correct Ans</th>
                                                                    <th>Your Ans</th>
                                                                    <th>Question Type</th>
                                                                </tr>
                                                                <tr  *ngFor="let responseData of section.questions">
                                                                    <td>{{responseData?.questionSeqId}}</td>
                                                                    <td>
                                                                        <div *ngIf="responseData?.isBonus"><i class="brooch brooch-success">Bonus</i></div>
                                                                        <div *ngIf="!responseData?.isBonus">
                                                                            <i *ngIf="responseData?.isCorrect == false && (responseData.status == 'answered' || responseData.status == 'review_answered' )" class="fa fa-times-circle fa-2x" style="color: red"></i>
                                                                            <i *ngIf="responseData?.isCorrect == true" class="fa fa-check-circle fa-2x" style="color: green"></i>
                                                                            <i *ngIf="!responseData?.status || responseData.status == 'not_answered'">-</i>
                                                                        </div>
                                                                    </td>
                                                                    <td><div *ngIf="responseData?.timeTaken" class="brooch brooch-info"><i class="fa fa-clock-o"></i> {{getSecondsAsDigitalClock(responseData?.timeTaken) || '-'}}</div>
                                                                        <div *ngIf="!responseData?.timeTaken">-</div>
                                                                    </td>
                                                                    <td>
                                                                        <span *ngIf="responseData?.status == 'answered'" class="brooch brooch-success">Answered</span>
                                                                        <span *ngIf="responseData?.status == 'not_answered'" class="brooch brooch-danger">Not Answered</span>
                                                                        <span *ngIf="responseData?.status == 'review_answered'" class="brooch brooch-list">Review Answered</span>
                                                                        <span *ngIf="responseData?.status == 'review'" class="brooch brooch-warning">Review</span>
                                                                        <span *ngIf="!responseData?.status" class="brooch brooch-default">Not Visited</span>
                                                                        <!-- {{responseData?.status || 'not visited'}} -->
                                                                    </td>
                                                                    <td>
                                                                        <div *ngIf="responseData?.correctAns">{{responseData?.correctAns}}</div>
                                                                        <div *ngIf="!responseData?.correctAns">{{responseData?.question?.ans}}</div>
                                                                    </td>
                                                                    <td>{{responseData?.answer || '-'}}</td>
                                                                    <td>{{responseData?.question.qType || '-'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                            </div>
                                        </ng-template>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                            
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Compare with Toppers" [selected]="activeTab == '4'">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content">
                        <div class="row chart">
                            <div class="col-md-12 col-xs-12">
                                <div class="chart-title"><i class="fa fa-bar-chart"></i> Compare With Topper</div>
                                <div class="barchart-container">
                                    <canvas #compareChart id="compareChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 sticky">
                                <div class="ek-report">
                                    <div class="row" style="margin: 15px 0px;">
                                        <div class="col-md-2">
                                            <img *ngIf="sessionStd.profileImg" class="profile-image" src="{{sessionStd.profileImg}}">
                                            <i *ngIf="!sessionStd.profileImg" aria-hidden="true" class="fa fa-user-circle-o fa-5x"></i>
                                        </div>
                                        <div class="col-md-6 topper-title">YOU</div>  
                                        <div class="col-md-4 topper-title">RANK : {{rankData?.rank}}</div>                                          
                                    </div>
                                    <div class=" row report-table">
                                        <div class="col-md-4 col-xs-6"><b>Total Marks</b><div class="report-text">{{userReport?.test?.maxScore}}</div></div>
                                        <div class="col-md-4 col-xs-6"><b>Your Score </b><div class="report-text">{{userReport?.stdScore}}</div></div>
                                        <div class="col-md-4 col-xs-6"><b>Total Correct</b><div class="report-text">{{userReport?.correctQs}}</div></div>
                                        <div class="col-md-4 col-xs-6"><b>Max Time</b> <div class="report-text">{{userReport?.test?.duration}} min</div></div>
                                        <div class="col-md-4 col-xs-6"><b>Time Spend</b> <div class="report-text">{{userReport?.totalTimeTaken}}</div></div>
                                        <div class="col-md-4 col-xs-6"><b>Total InCorrect</b><div class="report-text">{{userReport?.inCorrectQs}}</div></div>
                                        <div class="col-md-4 col-xs-6"><b>Total Question</b> <div class="report-text">{{userReport?.test?.totalQs}}</div></div>    
                                        <div class="col-md-4 col-xs-6"><b>Percentage</b> <div class="report-text">{{userReport?.percentage.toFixed(2)}}</div></div>
                                        <div class="col-md-4 col-xs-6"><b>Un Attempted </b><div class="report-text">{{userReport?.unAttemptedQs}}</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div *ngFor="let topper of toppers">
                                    <div class="ek-report" *ngIf="topper.rank != rankData?.rank">
                                        <div class="row" style="margin: 15px 0px;">
                                            <div class="col-md-2">
                                                <img *ngIf="topper?.user?.profileImg" class="profile-image" src="{{topper?.user?.profileImg}}">
                                                <i *ngIf="!topper?.user?.profileImg" aria-hidden="true" class="fa fa-user-circle-o fa-5x"></i>
                                            </div>
                                            <div class="col-md-6 topper-title">{{topper?.user?.firstName}} {{topper?.user?.lastName}}</div>  
                                            <div class="col-md-4 topper-title">RANK : {{topper?.rank}}</div>                                          
                                        </div>
                                        <div class="row report-table">
                                            <div class="col-md-4 col-xs-6"><b>Total Marks</b><div class="report-text">{{userReport?.test?.maxScore}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Your Score </b><div class="report-text">{{topper?.stdScore}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Total Correct</b><div class="report-text">{{topper?.correctQs}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Max Time</b> <div class="report-text">{{userReport?.test?.duration}} min</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Time Spend</b> <div class="report-text">{{getSecondsAsDigitalClock(topper?.totalTimeTaken)}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Total InCorrect</b><div class="report-text">{{topper?.inCorrectQs}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Total Question</b> <div class="report-text">{{userReport?.test?.totalQs}}</div></div>    
                                            <div class="col-md-4 col-xs-6"><b>Percentage</b> <div class="report-text">{{topper?.percentage.toFixed(2)}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Un Attempted </b><div class="report-text">{{topper?.unAttemptedQs}}</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Solution" [selected]="activeTab == '5'" style="-webkit-user-select: none;
                -moz-user-select: -moz-none;
                 -ms-user-select: none;
                     user-select: none;">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content">
                            <div class="panel-heading" style="margin-top: 10px">
                                <ul class="list-inline pull-right">
                                    <li *ngIf="userReport?.test?.solVideos?.ids&&userReport?.test?.solVideos?.ids.length>0"><button class="btn btn-primary btn-sm" (click)="showSolutionVideosModal()"><i class="fa fa-film"></i> Solution Videos</button></li>
                                    <li>
                                        <select class="form-control" [(ngModel)]="lang" (change)="getReportSolution(activeSolSec)">
                                            <option value="EN">English</option>
                                            <option value="HI">Hindi</option>
                                        </select>
                                    </li>
                                </ul>
                                <p-tabView (onChange)="onSolutionSecChange($event?.index)">
                                    <p-tabPanel title="{{section.title}}" [header]="section.title.length <= 25 ? section.title : (section.title.substr(0,25)+'...')" *ngFor="let section of solutionSections; let i = index" [selected]="i == activeSolSec"> 
                                        <ng-template pTemplate="content">
                                            <div *ngIf="section.questions">
                                                <div *ngFor="let qResponse of section.questions[lang]; let qIndex=index">
                                                    <div class="panel panel-primary panel-profile">
                                                        <div class="panel-heading panel-loader">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                        <span><b>Question : {{qResponse?.questionSeqId}}  </b></span>
                                                                        <span *ngIf="qResponse?.isBonus"><i class="brooch brooch-success">Bonus</i></span>
                                                                        <span *ngIf="!qResponse?.isBonus">
                                                                            <i *ngIf="qResponse?.isCorrect == false && (qResponse.status == 'answered' || qResponse.status == 'review_answered')" class="fa fa-times-circle fa-2x" style="color: red;margin-left: 10px;"></i>
                                                                            <i *ngIf="qResponse?.isCorrect == true" class="fa fa-check-circle fa-2x" style="color: green;margin-left: 10px;"></i>
                                                                        </span>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <ul class="list-inline">
                                                                        <li>
                                                                            <button class="btn btn-primary btn-sm" (click)="ShowFeedbackModal('QUESTION',qResponse)">Q. Feedback</button>
                                                                        </li>
                                                                        <li>
                                                                            <button class="btn btn-sm" *ngIf="!qBookmark[qResponse?.question?._id]" (click)="addQuestionBookmark(qResponse?.question?._id)" title="Bookmark this Question"><i class="fa fa-star-o"></i> Bookmark</button>
                                                                            <button class="btn btn-warning btn-sm" 
                                                                                *ngIf="qBookmark[qResponse?.question?._id] && qResponse?.question?._id == qBookmark[qResponse?.question?._id].question"
                                                                                (click)="removeQuestionBookmark(qBookmark[qResponse?.question?._id].id)"
                                                                                title="Un Bookmark this Question">
                                                                                <i class="fa fa-star"></i> Bookmark
                                                                            </button>
                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12" *ngIf="qResponse?.question?.havePassage == true">
                                                                    <button *ngIf="!qResponse?.question?.passage?.passageContent" class="ek-btn btn-list btn-sm" (click)="getQuestionPassage(qResponse?.question?.passage,qIndex)">Show Passage</button>
                                                                    <div *ngIf="qResponse?.question?.passage?.passageContent">
                                                                        <b>Passage -</b>
                                                                        <div [innerHTML]="qResponse?.question?.passage?.passageContent | safeHtml"></div>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-8 col-border-right q-content" 
                                                                [ngStyle]= "{'background':'linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8)),url('+client.logo+')', 'background-repeat': 'no-repeat', 'background-position': 'center','background-size' : '30vw 10vh'}">
                                                                    <div>
                                                                        <span class="pull-left" ><b>Q -</b></span>
                                                                        <span *ngIf="qResponse?.question?.qContent" [innerHTML]="qResponse?.question?.qContent | safeHtml"></span>
                                                                    </div>
                                                                    <div *ngIf="qResponse?.question?.qType == 'MCQ' || qResponse?.question?.qType == 'MAQ' || qResponse?.question?.qType == 'ARQ' || qResponse?.question?.qType == 'PTQ'">
                                                                        <div *ngIf="qResponse?.question?.qOption?.optionA"><b>(A)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionA | safeHtml"></span></div>
                                                                        <div *ngIf="qResponse?.question?.qOption?.optionB"><b>(B)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionB | safeHtml"></span></div>
                                                                        <div *ngIf="qResponse?.question?.qOption?.optionC"><b>(C)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionC | safeHtml"></span></div>
                                                                        <div *ngIf="qResponse?.question?.qOption?.optionD"><b>(D)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionD | safeHtml"></span></div>
                                                                        <div *ngIf="qResponse?.question?.qOption?.optionE"><b>(E)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionE | safeHtml"></span></div>
                                                                    </div>
                                                                    <div *ngIf="qResponse?.question?.qType == 'MTQ'">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionA"><b>(A)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionA | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionB"><b>(B)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionB | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionC"><b>(C)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionC | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionD"><b>(D)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionD | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionE"><b>(E)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionE | safeHtml"></span></div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionA"><b>(P)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionP | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionB"><b>(Q)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionQ | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionC"><b>(R)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionR | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionD"><b>(S)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionS | safeHtml"></span></div>
                                                                                <div *ngIf="qResponse?.question?.qOption?.optionE"><b>(T)</b><span  [innerHTML]="qResponse?.question?.qOption?.optionT | safeHtml"></span></div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row" style="margin: 10px 0px;">
                                                                        <div class="col-md-6">
                                                                            <p class="brooch brooch-info">Correct Answer :</p> 
                                                                            <strong *ngIf="qResponse?.correctAns">{{qResponse?.correctAns}}</strong>
                                                                            <strong *ngIf="!qResponse?.correctAns">{{qResponse?.question?.ans}}</strong>
                                                                        </div>
                                                                        <div class="col-md-6"><p class="brooch brooch-info">Your Answer :</p> <strong>{{qResponse?.answer}}</strong></div>
                                                                    </div>
                                                                    <div class="brooch brooch-list">Solution :</div>
                                                                    <div *ngIf="qResponse?.question?.qSolution" [innerHTML]="qResponse?.question?.qSolution | safeHtml"></div>            
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <table class="table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td><label>Status</label><br/>{{qResponse?.status || 'not visited'}}</td>
                                                                                <td><label>Question Type</label><br/>{{qResponse?.question?.qType}}</td>
                                                                            </tr> 
                                                                            <tr>
                                                                                <td><label>Level</label><br/>{{qLevelLabel[qResponse?.question?.level]}}</td>
                                                                                <td><label>Time Spend</label>
                                                                                    <div *ngIf="qResponse?.timeTaken" class="brooch brooch-info"><i class="fa fa-clock-o"></i> {{getSecondsAsDigitalClock(qResponse?.timeTaken)}}</div>
                                                                                    <div *ngIf="!qResponse?.timeTaken">-</div>
                                                                                </td> 
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <label>Positive Marks</label>
                                                                                        <span class=" brooch brooch-success">{{qResponse?.mp || 0}}</span>
                                                                                        <!-- <span *ngIf="!qResponse?.mp" class=" brooch brooch-success">{{qResponse?.question?.mp}}</span> -->
                                                                                    </td>
                                                                                <td>
                                                                                    <label>Negative Marks</label>
                                                                                    <span class="brooch brooch-danger">{{qResponse?.mn || 0}}</span>
                                                                                    <!-- <span *ngIf="!qResponse?.mn" class="brooch brooch-danger">-{{qResponse?.question?.mn}}</span> -->
                                                                                </td> 
                                                                            </tr>
                                                                            <tr *ngIf="qResponse?.question?.qType == 'MAQ' || qResponse?.question?.qType == 'MTQ'">
                                                                                <td *ngIf="userReport?.test?.maqPM || userReport?.test?.maqPM">
                                                                                    <span class=" brooch brooch-list">Partial Marking</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </ng-template>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Difficulty Level" [selected]="activeTab == '6'">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content">
                        <div class="row chart">
                            <div class="col-md-12 col-xs-12">
                                <div class="chart-title"><i class="fa fa-bar-chart"></i> Difficulty Level</div>
                                <div class="barchart-container">
                                    <canvas #dLevelBarChart id="dLevelBarChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngFor="let report of diffLevelReport;let i=index;">
                                <div class="col-md-4" *ngIf="report.totalQs != 0">
                                    <div class="ek-report">
                                        <div class="level-title">{{report.title}}</div>
                                        <div class=" row level-table">
                                            <div class="col-md-4 col-xs-6"><b>Total Question</b><div>{{report?.totalQs}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Correct</b><div>{{report?.response?.correctQs || 0}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Attempted</b><div>{{report?.response?.attemptedQs || 0}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Time Spend</b>
                                                <div *ngIf="report?.response?.totalTimeTaken">{{getSecondsAsDigitalClock(report?.response?.totalTimeTaken)}}</div>
                                                <div *ngIf="!report?.response?.totalTimeTaken">0</div>
                                            </div>
                                            <div class="col-md-4 col-xs-6"><b>In Correct</b><div>{{report?.response?.inCorrectQs || 0}}</div></div>
                                            <div class="col-md-4 col-xs-6"><b>Un Attempted</b><div>{{(report?.totalQs-report?.response?.attemptedQs) || 0}}</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Leader Board" [selected]="activeTab == '7'" title="Leader board based on latest Attempt">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content">
                        <div class="table-responsive leader-board">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Rank</th>
                                        <th colspan="2">User Name</th>
                                        <th>Score</th> 
                                        <th>Percentage</th>
                                        <th>Correct</th>
                                        <th>In Correct</th>
                                        <th>Un Attempted</th>
                                        <th>Time Spend</th>
                                    </tr>
                                    <tr *ngFor="let participant of testParticipants">
                                        <td><div class=" brooch brooch-info">{{participant?.rank}}</div></td>
                                        <td><img *ngIf="participant?.user?.profileImg" class="profile-image img" src="{{participant?.user?.profileImg}}">
                                            <i *ngIf="!participant?.user?.profileImg" aria-hidden="true" class="fa fa-user-circle-o fa-3x"></i>
                                        </td>
                                        <td>{{participant?.user.firstName}} {{participant?.user.lastName}}</td>
                                        <td>{{participant?.stdScore}}</td>
                                        <td>{{participant?.percentage.toFixed(2)}}</td>  
                                        <td>{{participant?.correctQs || 0}}</td>
                                        <td>{{participant?.inCorrectQs || 0}}</td>
                                        <td>{{participant?.unAttemptedQs || 0}}</td>  
                                        <td>{{getSecondsAsDigitalClock(participant?.totalTimeTaken)}}</td>  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row" *ngIf="totalRecords > 10" style="margin-top: 5vh">
                            <div class="col-md-12">
                                <!-- <p class="alignC">Total Records: {{totalRecords}}</p> -->
                                <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                            </div>
                        </div>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>                  
        </div>
    </div>
</div>
<p-dialog header="Watch Solution Video" [modal]="true" [width]="600" [(visible)]="displaySolutionVideosModal">
    <div>
        <ul class="list-inline">
            <li *ngFor="let id of userReport?.test?.solVideos?.ids; let i = index;">
                <a class="btn btn-xs2" [ngClass]="(i == activeVideo?'btn-info':'btn-default')" (click)="changeVideoURL(i,id,userReport?.test?.solVideos?.source)">Video {{i+1}}</a>
            </li> 
        </ul>
    </div>
    <!-- <iframe *ngIf="preDisVideoURL" width="550" height="300" frameborder="0" [src]="preDisVideoURL"></iframe> -->
    <iframe *ngIf="solutionVideoURL" width="550" height="300" [src]="solutionVideoURL"></iframe>
</p-dialog>
<p-dialog header="FeedBack Form" [modal]="true" [width]="600" [(visible)]="displayFeedbackModal">
    <form role="form" (submit)="submitFeedback()" [formGroup]="feedbackForm">
        <div class="row panel-loader" [ngClass]="panelLoader">
            <div class="col-md-12 col-xs-12 form-group">
                <label>Questions</label>
                <ul style="list-style: none;">
                    <li  *ngFor="let subject of fbSubjects[activeFbType]; let i=index;">
                    <input type="radio" formControlName="subject" value="{{subject.id}}"> <b>{{subject.title}}</b>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-xs-12 form-group">
                <label for="title">Write Your Comment</label>
                <textarea class="form-control" id="title" rows="8" placeholder="Enter your comment" formControlName="query"></textarea>
            </div>
            <div class="col-md-12 col-xs-12 form-group">
                <button type="submit" class="btn btn-primary pull-right" [disabled]="!feedbackForm.valid || panelLoader == 'show'? true : false">{{panelLoader == 'show'? 'Processing...' : 'Submit'}}</button>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog header="Past Attempts" [modal]="true" [width]="800" [(visible)]="displayTestAttemptsModal">
    <div class="table-responsive">
        <table class="table table-bordered" *ngIf="testAttempts.length >1">
            <thead>
                <tr>
                    <th>Attempt</th>
                    <th>Score</th>
                    <th>Per %</th>
                    <th>Time Taken</th>
                    <th>Correct</th>
                    <th>In Correct</th>
                    <th>Un Attempted</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of testAttempts;let i=index;">
                    <th>{{i+1}}</th>
                    <td>{{res.stdScore}}</td>
                    <td>{{res.percentage.toFixed(2)}}%</td>
                    <td>{{getSecondsAsDigitalClock(res.totalTimeTaken) || 0}}</td>
                    <td>{{res.correctQs}}</td>
                    <td>{{res.inCorrectQs}}</td>
                    <td>{{res.unAttemptedQs}}</td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="viewPastReport(i)">Full Report</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 class="alignC" *ngIf="testAttempts?.length <2">
        NO Past Attempts
    </h3>
    <div class="ek-report alignC">
        <b>Note : </b> Rank, Compare with Topper and Leader Board is always based on latest Attempted Report. 
    </div>
</p-dialog>

