<div class="rws-child">
    <div class="panel-loader">
        <form action="" [formGroup]="changeStudentPhotoForm" (ngSubmit)="updateStudentPhotos()">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6" *ngIf="changeStudentPhotoForm?.value?.personalImg!=''">
                    <span class="frm-img-thumb"><img src="{{changeStudentPhotoForm?.value?.personalImg}}"></span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <div class="form-group">
                        <label for="id">Personal Passport Size Photo</label>
                        <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" customClass="form-control" formControlName="personalImg"></ek-fileinput>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6" *ngIf="changeStudentPhotoForm?.value?.signImg!=''">
                    <span class="frm-img-thumb sign-img"><img src="{{changeStudentPhotoForm?.value?.signImg}}"></span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6">
                    <div class="form-group">
                        <label for="id">Signature Photo</label>
                        <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" customClass="form-control" formControlName="signImg"></ek-fileinput>
                    </div>


                </div>
            </div>
            <div class="row">
                <p class="col-md-12 padding15" >
                    <button type="submit" class="btn btn-primary" [disabled]="!changeStudentPhotoForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Save')}}</button>
                </p>
            </div>
        </form>
    </div>
</div>