<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading" *ngIf="userTestSeries?.length > 0">
                    <span class="panel-title">My Test Series</span>
                    <span class="pull-right"><a class="btn btn-info" routerLink="/student/testment/test">My Tests</a></span>
                </div>
                <div class="panel-body">
                    <div class="row ts-content" *ngIf="userTestSeries?.length > 0">
                        <div class="col-md-4" *ngFor="let tsDetail of userTestSeries">
                            <div class="ek-card-3" routerLink="/student/testment/test" [queryParams]="{tsId:tsDetail?.testSeries?._id}">
                                <div class="image-container">
                                    <div class="tag">{{tsDetail?.testSeries?.totalTests}}<br>Tests</div>
                                    <img *ngIf="tsDetail?.testSeries?.featureImage" class="image" src="{{tsDetail?.testSeries?.featureImage}}">
                                    <img *ngIf="!tsDetail?.testSeries?.featureImage" class="image" src="./assets/images/test-series.jpg" alt="No Image">
                                </div>
                                <div class="content">
                                    <div class="title">{{tsDetail?.testSeries?.title}}</div>
                                    <span class="code">{{tsDetail?.testSeries?.stream?.valueAlias}}</span>
                                    <div class="text alignC">{{tsDetail?.testSeries?.startDate | date: 'MMM d, y, h:mm a'}}</div>
                                    <div class="alignC"><b>TO</b></div>
                                    <div class="text alignC">{{tsDetail?.testSeries?.endDate | date: 'MMM d, y, h:mm a'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userTestSeries?.length < 1" class="alignC no-data-man-img" style="width : 100%;height:40vh;">
                        <h4>No Test Series !!</h4>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-profile panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <h3 class="panel-title">Buy Test Series</h3>
                </div>
                <div class="panel-body">
                    <div class="row ts-content">
                        <div class="col-md-4" *ngFor="let product of tsProducts">
                            <div class="product">
                                <div class="product-img">
                                    <img *ngIf="product?.featureImg" class="image" src="{{product?.featureImg}}" alt="Product Image">
                                    <div *ngIf="!product?.featureImg" class="image" alt="Product Image" style="background-color: #fd38384a;"></div>
                                </div>
                                <div class="content">
                                    <div class="title">{{product?.title}}</div>
                                    <span class="code">{{product?.stream?.valueAlias}}</span>
                                    <span class="code"><b>{{product?.sourceId?.length}} Test Series</b></span>
                                    <div class="text" *ngIf="product?.description" [innerHTML]="product?.description.substr(0,250) | safeHtml"></div>
                                    <span class="code alignC">&#8377; <b>{{product?.cost}}</b>/- <small style="text-decoration: line-through;">{{product?.mrp}}</small></span>
                                    <a class="button" *ngIf="product?.cost >0" routerLink="/student/shop/product/view" [queryParams]="{productId : product?.id }"><b>&#8377; {{product?.cost}}/-</b>&nbsp;{{product?.customParam?.btnText || 'Buy Now'}}</a>
                                    <a class="button" *ngIf="product?.cost <=0" routerLink="/student/shop/product/view" [queryParams]="{productId : product?.id }">Free Enroll Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngIf="tsProducts?.length < 1" style="text-align: center">
                            <i class="fa fa-shopping-cart fa-5x" aria-hidden="true" style="color :#80808075"></i>
                            <h3>Coming Soon !!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
