<div class="activity-header">
    <h1 class="activity-heading">Available Programs</h1>
    <div class="activity-header-menu" style="margin-top:0px">
        <ul>
            <li><a routerLink="/student/shop" class="ek-btn btn-create"><i class="fa fa-cart-plus fa-2x"></i> My Orders</a></li>
        </ul>
    </div>
</div>
<!-- 
<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li><a routerLink="/ims/home">Home</a></li>
        <li><a routerLink="/ims/testment">Testment</a></li>
        <li class="active">Test</li>
    </ol>
</div> -->
<div class="activity-content">
    <section class="section" id="dash-ots-products">
        <div class="row">
            <div id="testMentTabView" class="col-md-12" *ngIf="productCategories&&productCategories.length>0">
                <p-tabView (onChange)="onProductTabChange($event)">
                    <ng-container *ngFor="let pCat of productCategories;let i=index">
                        <p-tabPanel  header="{{setTitle(pCat?.valueAlias)}}" [selected]="i==0" >
                            <div class="panel panel-primary panel-profile panel-loader" [ngClass]="panelLoader"> 
                                <div class="panel-body" style="padding-top: 0px;">
                                    <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                                        <div class="col-md-5 col-xs-12">
                                            <!-- <p style="font-size: 1.5em;">Product List</p> -->
                                        </div>
                                        <div class="col-md-1 hidden-xs"><label for="" style="margin-top: 10px;">Class:</label></div>
                                        <div class="col-md-3  col-xs-6">
                                            <select name="selectedCourse" class="form-control" [(ngModel)]="selectedCourse" [ngModelOptions]="{standalone: true}" (change)="setSelectedCourse(selectedCourse)" id="selectedCourse">
                                                <option [value]="course?.id" *ngFor="let course of allCourses">{{course?.valueAlias}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1 hidden-xs"><label style="margin-top: 10px;">Medium:</label></div>
                                        <div class="col-md-2  col-xs-6">
                                            <select name="selectedStream" class="form-control" [(ngModel)]="selectedStream" [ngModelOptions]="{standalone: true}" (change)="setSelectedStream(selectedStream)" id="selectedStream">
                                                <option [value]="null">Select Medium</option>
                                                <option [value]="stream?.id" *ngFor="let stream of streams">{{stream?.valueAlias}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row ts-content">
                                        <ng-container *ngIf="myRecommandedProducts&&myRecommandedProducts.length>0">
                                            <div class="col-md-4 col-xs-12" *ngFor="let product of myRecommandedProducts;let pIndex=index" >
                                                <div class="product" style="margin-bottom: 30px;">
                                                    <div class="product-img">
                                                        <img *ngIf="product?.featureImg" class="image" src="{{product?.featureImg}}" alt="Product Image">
                                                        <div *ngIf="!product?.featureImg" class="image" alt="Product Image" style="background-color: #fd38384a;"></div>
                                                    </div>
                                                    <div class="content">
                                                        <div class="title">{{product?.title}}</div>
                                                        <span class="code">{{product?.stream?.value}} | {{product?.course?.value}} | {{product?.customParam?.medium}}</span>
                                                        <!-- <span class="code"><b>{{product?.sourceId?.length}} {{pCat?.sourceName}}</b></span> -->
                                                        
                                                        <!-- <div class="text" *ngIf="product?.description" [innerHTML]="product?.description.substr(0,250) | safeHtml"></div> -->
                                                        <span class="code">
                                                            <b>&#8377; {{product?.cost}}/-</b>
                                                        </span>
                                                        <ng-container *ngIf="product?.cost > 0">
                                                            <a class="button" *ngIf="!product.customParam?.regUrl" routerLink="/student/shop/product/view" [queryParams]="{productId : product?.id }">{{product?.customParam?.btnText || 'Enroll Now'}}</a>
                                                            <a class="button" *ngIf="product.customParam && product?.customParam?.regUrl" href="product?.customParam?.regUrl">{{product?.customParam?.btnText||'Enroll Now'}}</a>
                                                        </ng-container>
                                                        <a class="button" *ngIf="product?.cost <= 0" routerLink="/student/shop/product/view" [queryParams]="{productId : product?.id}"> Free Enroll Now</a>
                                                    </div>
                                                </div>  
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="panelLoader!='show'&&myRecommandedProducts&&myRecommandedProducts.length<1">
                                            <div class="col-md-12 product-err-img" style=" width: 100%;height: 60vh;">
                                                <h4> No Product Found !!</h4>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                    </ng-container>
                </p-tabView>
            </div>
        </div>
    </section>
</div>