<div class="activity-content">
    <div class="row profile-content">
        <div class="col-md-4 hm-side-bx">
            <div class="row">
                <div class="col-md-12">
                    <p class="alignC profile-pic"><img style="border-radius: 50%; border: solid 2px #cdd1d3; padding: 5px;" *ngIf="student?.personalImg&&student?.personalImg!='NA'"  src="{{student?.personalImg}}"><img style="border-radius: 50%; border: solid 2px #cdd1d3; padding: 5px;" *ngIf="!student?.personalImg||student?.personalImg=='NA'"  src="./assets/images/avatar-student.png"></p>
                    <div>
                        <h3>{{student?.firstName}} {{student?.lastName}}</h3>
                        <p><span class="glyphicon glyphicon-envelope"></span> {{student?.email}}<br><small><span class="glyphicon glyphicon-phone"></span> {{student?.mobile}}</small></p>
                        <p>Enrollement No.: {{student?.srn}}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5 alignC-md">Stream:</div>
                        <div class="col-md-7"><b>{{student?.majorStream?.valueAlias}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 alignC-md">Course:</div>
                        <div class="col-md-7"><b>{{student?.majorCourse?.valueAlias}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 alignC-md">Center:</div>
                        <div class="col-md-7"><b>{{student?.center?.title}}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 alignC-md">Session:</div>
                        <div class="col-md-7"><b>{{student?.session?.name}}</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Personal Details</h4>
                </div>

                <div class="details-rows">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Full Name:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.firstName}} {{student?.lastName}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Email ID:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.email}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Mobile:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.mobile}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Gender:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.gender}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">DoB:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.dob}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-5">Login ID:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.user?.username}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Password:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">****** <a class="link pull-right" routerLink="/student/profile/edit">Change Password</a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Referral Code</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">
                            <ng-container *ngIf="!student?.user?.referralCode"><a class="link" (click)="generateReferralCode()">Generate ReferralCode</a></ng-container> {{student?.user?.referralCode}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading dp-tbl">
                    <h4 class="pull-left" style="display:inline-block">Address</h4>
                    <a class="link" routerLink="/student/profile/edit" style="float: right;">Edit</a>
                </div>

                <div class="details-rows">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-12"><b>Shipping Address</b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">Address:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.address?.address}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">City:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.address?.city}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">State:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.address?.state}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">PIN:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.address?.postalCode}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">Landmark:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.address?.landmark}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-12"><b>Permanant Address</b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">Address:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.permanantAddress?.address}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">City:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.permanantAddress?.city}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">State:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.permanantAddress?.state}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">PIN:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.permanantAddress?.postalCode}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-5">Landmark:</div>
                                <div class="col-md-9 col-sm-8 col-xs-7">{{student?.permanantAddress?.landmark}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Course & Batch Details</h4>
                </div>

                <div class="details-rows">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Stream:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.majorStream?.valueAlias}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Course:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.majorCourse?.valueAlias}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Session:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.session?.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Centre:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.center?.title}}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Program:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.mainBatchProduct?.title}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Batch(es):</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">
                            <ul *ngIf="student?.batches&&student?.batches.length>0">
                                <li *ngFor="let batch of student?.batches; let i=index"> {{batch?.batch?.code}}  <span *ngIf="i==0" class="bg-success">Current <i class="fa fa-check"></i>  </span></li>
                            </ul>
                            <p *ngIf="student?.batches&&student?.batches.length<1">Not enrolled in any batch</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
