<div class="form-group user-search-input-bx">
    <label class="sr-only" for="ekUsrSrch">Search User</label>
    <select [(ngModel)]="field" id="ekUsrSrchField">
        <option value="mobile">Search by Mobile</option>
        <option value="email">Search by Email</option>
        <option value="username">Search by Username (Login ID)</option>
        <option value="firstName">Search by First Name</option>
    </select>
    <input type="text" [(ngModel)]="query" class="form-control user-search-input" id="ekUsrSrch" placeholder="Search User if already exist (Enter {{field?.toUpperCase()}})" (keyup)="search($event)" autocomplete="off">
    <div class="user-search-selected" *ngIf="selectedUser" >
        {{selectedUser?.firstName}} {{selectedUser?.lastName}} ({{selectedUser?.username}})
        <span class="fa fa-close" (click)="clearSearch()"></span>
    </div>
    <div *ngIf="users.length>0" class="usr-srch-windw">
        <ul class="usr-srch-rslt">
            <li *ngFor="let user of users; let i=index" (click)="selectUser(i)">
                <a >{{user.firstName}} {{user.lastName}} (Username: {{user.username}})<br><small>Mobile: {{user.mobile}}, Email: {{user.email}}, SRN: {{user.srn}}</small> </a>
            </li>
        </ul>
    </div>
</div>
