<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile">
                <div id="testMentTabView" class="panel-body panel-loader" [ngClass]="panelLoader">
                    <p-tabView *ngIf="courseIds&&courseIds.length>0">
                        <p-tabPanel header="{{courses[courseId]?.valueAlias}}" *ngFor="let courseId of courseIds; let i=index" [selected]="courses[courseId]?._id == activeCourse">
                            <div *ngFor="let testSeries of userTestSeries; let j=index">
                                <p-fieldset *ngIf="testSeries?.course?._id == courses[courseId]?._id" [toggleable]="true" [collapsed]="(testSeries.tsDetail._id == activeTestSeries? false: true)">
                                    <p-header>{{testSeries?.tsDetail?.title}}</p-header>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row test-student" *ngFor="let tests of testSeries.tests; let i=index">
                                                <div class="col-md-1 col-xs-1">
                                                    <strong>{{i+1}}</strong>
                                                </div>
                                                <div class="col-md-7 col-xs-10">
                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12">
                                                            <b>{{tests?.test?.title}}</b>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">Score : </span>
                                                            <b>{{tests?.stdScore}}</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label"> Per : </span>
                                                            <b>{{tests?.percentage?.toFixed(2)}}%</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">Correct : </span>
                                                            <b>{{tests?.correctQs}}</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">In Correct : </span>
                                                            <b>{{tests?.inCorrectQs}}</b>
                                                        </div>
                                                    </div> 
                                                </div>
                                                <div class=" col-xs-offset-1 col-md-3 col-xs-1 ">
                                                    <button class="btn btn-warning margin-top-20" routerLink="/student/testment/overview" [queryParams]="{uotId:tests?._id}">View Report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <table class="table table-brdr0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="ek-label">#</div>
                                                </th>
                                                <th>
                                                    <div class="ek-label">Test Name</div>
                                                </th>
                                                <th>
                                                    <div class="ek-label">Action</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tests of testSeries.tests; let i=index">
                                                <td>{{i+1}}</td>
                                                <td><div><b>{{tests?.test?.title}}</b></div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <span class="ek-label">Score : </span>
                                                            <b>{{tests?.stdScore}}</b>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span class="ek-label"> Percentage: </span>
                                                            <b>{{tests?.percentage?.toFixed(2)}}%</b>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span class="ek-label">Correct : </span>
                                                            <b>{{tests?.correctQs}}</b>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span class="ek-label">In Correct : </span>
                                                            <b>{{tests?.inCorrectQs}}</b>
                                                        </div>
                                                    </div> 
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning" routerLink="/student/testment/overview" [queryParams]="{uotId:tests?._id}">View Report</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> -->
                                </p-fieldset>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                    <div *ngIf="userTestSeries?.length < 1" class="alignC">
                        <i class="fa fa-line-chart fa-5x" aria-hidden="true" style="color :#80808075"></i>
                        <h3>No Report !!</h3>
                        <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">ATTEMPT NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>