<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="activity-navbar">
                <ul>
                    <li class="head">My Admissions</li>
                    <li><a class="active" routerLink="/student/forum/question">My Questions</a></li>
                    <li class="link-action"><a routerLink="/student/forum/question/ask">Ask Question</a></li>
                </ul>
            </div> -->
            <div class="feeds panel-loader" [ngClass]="panelLoader">
                <div class="panel panel-info">
                    <div class="panel-heading" style="margin-bottom: 0px;">
                        <h3 class="panel-title">New Admission/Order</h3>
                    </div>
                    <div class="panel-body" style="padding-top: 10px;">
                        <ek-student-reg-form-2 [productCategory]="['3030707264637463636c7370']"></ek-student-reg-form-2>
                        <!-- <ek-full-order-form [productCategory]="['3030707264637463636c7370']"></ek-full-order-form> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>