<form class="" role="form" (ngSubmit)="addNews()" [formGroup]="newsForm">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label for="input1">Title<sup>*</sup></label>
                <input type="text" id="input1" class="form-control" formControlName="title">
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="category">Category<sup>*</sup></label>
                <select id="category" class="form-control" formControlName="category">
                    <option value="null">Select Category</option>
                    <option value="{{nc.id}}" *ngFor="let nc of newsCategories">{{nc.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="type">Type<sup>*</sup></label>
                <select class="form-control" id="type" formControlName="type">
                    <option value="null">Select Type</option>
                    <option value="NOTICE">Notice</option>
                    <option value="ARTICLE">Blog/Article</option>
                    <option value="TIMETABLE">Schedule / Time-Table</option>
                    <option value="OFFER">Offer</option>
                    <option value="GENERAL">General</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label for="htmlContent">
                    Content
                </label>
                <!-- <quill-editor id="htmlContent" formControlName="htmlContent"></quill-editor> -->
                <ck-editor formControlName="htmlContent"></ck-editor>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="startDate">Start Date<sup>*</sup></label>
                <p-calendar formControlName="startDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="">Valid Till<sup>*</sup></label>
                <p-calendar formControlName="endDate" [minDate]="minDateValue" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for=""> Need Center?</label>
                <select class="form-control" formControlName="needCenter" id="" (change)="loadCentre()">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" *ngIf="newsForm.value.needCenter&&newsForm.value.needCenter!=='false'&& centres&&centres.length>0">
            <div class="form-group">
                <label for="centre">Centre</label>
                <select class="form-control" formControlName="centre" id="centre" (change)="setActiveFilter()">
                    <option value="null">Select Centre</option>
                    <option value="{{centre.id}}" *ngFor="let centre of centres">{{centre.title}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for=""> Need Session?</label>
                <select class="form-control" formControlName="needSession" id="" (change)="loadSessions()">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12"  *ngIf="newsForm.value.needSession&&newsForm.value.needSession!=='false'&&sessions&& sessions.length>0">
            <div class="form-group">
                <label for="session">Session</label>
                <select formControlName="session" id="" class="form-control" (change)="setActiveFilter()">
                    <option value="null">Select session</option>
                    <option value="{{session.id}}" *ngFor="let session of sessions">{{session.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for=""> Need Stream?</label>
                <select class="form-control" formControlName="needStream" id="" (change)="loadStream()" (change)="setActiveFilter()">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" *ngIf="newsForm.value.needStream&&newsForm.value.needStream!='false'&&streams&& streams.length>0">
            <div class="form-group">
                <label for="stream">Stream</label>
                <select class="form-control" formControlName="stream" id="stream" (change)="setActiveFilter()">
                    <option value="null">Select Stream</option>
                    <option value="{{stream.id}}" *ngFor="let stream of streams">{{stream.valueAlias}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for=""> Need Course?</label>
                <select class="form-control" formControlName="needCourse" id="" (change)="loadCourses()">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" *ngIf="courses&& courses.length>0">
            <div class="form-group">
                <label for="course">Course</label>
                <select formControlName="course" id="" class="form-control" (change)="setActiveFilter()">
                    <option value="null">Select Course</option>
                    <option value="{{course.id}}" *ngFor="let course of courses">{{course.valueAlias}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6" *ngIf="newsForm?.value?.session&&newsForm?.value?.session!=='null'&&newsForm?.value?.session&&newsForm?.value?.session!=='null'&&newsForm?.value?.stream&&newsForm?.value?.stream!=='null'">
            <div class="form-group">
                <label for="">Need Product</label>
                <select class="form-control" formControlName="needProduct" #prdctSpcfc (change)="setFilter(prdctSpcfc.value)">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" *ngIf="newsForm?.value?.needProduct&&newsForm?.value?.needProduct!=='false'&&products&& products.length>0">
            <div class="form-group">
                <label for="product">Product/Program</label>
                <select formControlName="product" id="" class="form-control">
                    <option value="null">Select Product/Program</option>
                    <option value="{{i}}" *ngFor="let product of products;let i=index">{{product.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" *ngIf="products&&products.length>0&& newsForm?.value.product&&products[newsForm?.value.product]&& products[newsForm?.value.product].batches&& products[newsForm?.value.product].batches.length>0">
            <div class="form-group">
                <label for="batch">batch</label>
                <select formControlName="batch" id="" class="form-control">
                    <option value="null">Select batch</option>
                    <option value="{{batch.id}}" *ngFor="let batch of products[newsForm?.value.product].batches">{{batch.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="featured">Featured</label>
                <select class="form-control" formControlName="featured" id="featured">
                    <option value="null">Select Featured</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="featuredImage">Featured Image</label>
                <ek-fileinput class="form-control" formControlName="featuredImage"></ek-fileinput>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="order">order</label>
                <input type="number" min="0" id="order" class="form-control" formControlName="order">
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="status">Status<sup>*</sup>:</label>
                <select id="status" class="form-control" formControlName="status">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="isPrivate">Visiblity<sup>*</sup>:</label>
                <select id="isPrivate" class="form-control" formControlName="isPrivate">
                    <option value="false">Public</option>
                    <option value="true">Private(for logged in User)</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label for="url">Target URL</label>
                <input id="url" type="text" class="form-control" formControlName="targetUrl">
            </div>
        </div>
        <div class="col-md-12 col-xs-12 AlignC">
            <b>OR</b>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label for="atturl">Attacth File</label>
                <ek-fileinput id="atturl" type="text" class="form-control" formControlName="targetUrl"></ek-fileinput>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!newsForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>

            </div>
        </div>
    </div>
</form>
