 <div class="ticker-wrap">
  <div class="ticker">
      <div  *ngFor="let news of newses;let i=index" class="ticker__item">
          <a href="{{news?.targetUrl||'#'}}" class="btn btn-link">{{news.title}}</a>
      </div>
  </div>
</div>