<div class="page-loader" [ngClass]="pageLoader" style="position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;">Loading</div>
<link rel="stylesheet" href="/assets/css/ezukit-student.css">
<ek-notifier></ek-notifier>
<router-outlet></router-outlet>
