<div class="faculty-login">
        <div style="width:420px; margin:auto; display: flex; height:100%; align-items: center;">
            <div style=" width:100%; height:100%;    justify-content: center;
            display: flex;
            flex-direction: column;">
                <p style="text-align: center;"><img src="./assets/images/logo.png" style=" padding: 15px;    max-width: 98%;"></p>

                <!-- <ek-loginbox userType="STUDENT" [loginWith]="loginWith" title="" [authenticated]="false" loginTarget="/student/dashboard" logoutTarget="same"></ek-loginbox> -->
                <!-- <form></form> -->
            </div>
        </div>
</div>
