<div class="panel-loader" *ngIf="paymentHistory" [ngClass]="panelLoader">
    <legend>Payment History <small style="font-size:12px">Order #{{order?.orderNo}}</small></legend>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Amount</th>
                <th>Mode</th>
                <th>Option</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pmt of oldPayments; let i=index">
                <td>{{i+1}}</td>
                <td>{{pmt.amount}}</td>
                <td>{{pmt.primaryMode}}</td>
                <td>{{pmt.paymentOption}}</td>
                <td>{{pmt.createdAt|date:'mediumDate'}} <small>{{pmt.createdAt|date:'shortTime'}}</small></td>
                <td>{{pmt.transactionStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<form [formGroup]="paymentForm" (ngSubmit)="addPayment()">
    <legend>Add New Payment</legend>

    <div class="form-group">
        <label for="pmtTtl">Pay Amount</label>
        <select #amtOpt class="form-control" (change)="setPaymentOption(amtOpt.value)">
            <option [value]="null">Select Option</option>
            <option  value="{{opt.index}}" *ngFor="let opt of pmtOptions; let i=index" [disabled]="opt.disabled">{{opt.title}}</option>
        </select>
        <br>
        <input *ngIf="amtOpt.value!='null'" type="number" class="form-control" id="pmtTtl" placeholder="Amount" formControlName="amount">
        <p *ngIf="amtOpt.value!='null'" class="help-text">Total Amount: {{order?.availablePaymentOptions[amtOpt.value].amount}} | Remainig Amount: {{order?.availablePaymentOptions[amtOpt.value].amount-order?.availablePaymentOptions[amtOpt.value].paid}}</p>
        
        <p *ngIf="amtOpt.value!='null'">
            <span>Extra Amount:</span>
            <input type="number" class="form-control" id="pmtTtlex" placeholder="Extra Amount (Any Charge/Fine)" formControlName="extraAmount">
        </p>
        
    </div>
    <div class="form-group">
        <label for="pmtNote">Note</label>
        <input type="text" class="form-control" id="pmtNote" placeholder="Note for this payment" formControlName="note">
    </div>
    <div class="form-group">
        <label for="pmtMode">Mode</label>
        <select class="form-control" id="pmtMode" placeholder="Mode of payment" formControlName="primaryMode">
            <option [value]="null">Select</option>
            <option value="CASH">CASH</option>
            <option value="DD">DD</option>
            <option value="CHEQUE">CHEQUE</option>
            <option value="NEFT">NEFT</option>
            <option value="POS">POS (Debit/Credit)</option>
            <option value="Online">Online (Paid by PaymentGateway)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="pmtRefId">Ref ID</label>
        <input type="text" class="form-control" id="pmtRefId" placeholder="Bank Ref ID related to payment mode" formControlName="bankRefId">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!paymentForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
</form>