<div class="rsw-child">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal padding15" role="form" (ngSubmit)="addDepartment()" [formGroup]="departmentForm">
                <div class="form-group">
                    <label for="name">Department Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Department Name" formControlName="title">
                </div>

                <div class="form-group">
                    <label for="input3">Status</label>
                    <select name="" id="input3" class="form-control" formControlName="status">
                        <option value="null" >Select Status</option>
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>


                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!departmentForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
