<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size:22px">Online Interview Guidance Program</h3>
                </div>
                 <div class="panel-body">
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod vitae praesentium, molestias deleniti facilis necessitatibus laborum aliquid omnis enim iusto animi nulla voluptatem alias pariatur, accusantium corrupti quam dolore nobis!</p>
                 </div>
            </div>
        </div>
    </div>
</div>