<div class="panel-loader" *ngIf="paymentHistory" [ngClass]="panelLoader">
    <legend>Payment History <small style="font-size:12px">Order #{{order?.orderNo}}</small></legend>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Amount</th>
                <th>Mode</th>
                <th>Option</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pmt of oldPayments; let i=index">
                <td>{{i+1}}</td>
                <td>{{pmt.amount}}</td>
                <td>{{pmt.primaryMode}}</td>
                <td>{{pmt.paymentOption}}</td>
                <td>{{pmt.createdAt|date:'mediumDate'}} <small>{{pmt.createdAt|date:'shortTime'}}</small></td>
                <td>{{pmt.transactionStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>
<form [formGroup]="paymentForm" (ngSubmit)="addPayment()">
    <legend>Add New Payment</legend>

    <div class="form-group" style="position: relative">
        <!-- <select #amtOpt class="form-control" (change)="setPaymentOption($event,amtOpt.value)" multiple>
            <option [value]="null">Select Option</option>
            <option  value="{{i}}" *ngFor="let opt of pmtOptions; let i=index" [disabled]="opt.disabled">{{opt.title}}</option>
        </select> -->
        <label for="">Select Payment Option</label>
        <p-multiSelect [options]="paymentOptions" formControlName="selectedNodes" (onChange)="setPaymentOptions($event)" styleClass="form-control"  [style]="{width:'100%',padding:'0px', marginBotton:'20px'}">
        </p-multiSelect>
        <span class="refresh-opt" (click)="getPaymentOptions();totalAmount=null;"> <i class="fa fa-refresh"></i> </span>
        <br>
        <label for="pmtTtl">Pay Amount</label>

        <input *ngIf="totalAmount!='null'" type="number" class="form-control" id="pmtTtl" placeholder="Amount" formControlName="amount">
        <p *ngIf="totalAmount!='null'" class="help-text">Total Amount: {{totalAmount}} | Remaining Amount: {{remAmt}} | Discount : {{discountAmt}} </p>
        
        <p *ngIf="totalAmount!='null'">
            <span>Extra Amount:</span>
            <input type="number" class="form-control" id="pmtTtlex" placeholder="Extra Amount (Any Charge/Fine)" formControlName="extraAmount">
        </p>
    </div>
    <div class="form-group">
        <label for="">Discount Type</label>
        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="discountType"  id="">
            <option value="null">Choose Discount Type</option>
            <option value="PROMOCODE">Promocode Discount</option>
            <option value="COUPON">Coupon Discount</option>
            <option value="DIRECT">Custom</option>
        </select>
    </div>
    <div class="form-group" *ngIf="discountType&&(discountType!=='null'||discountType!==null)">
        <div class="row">
            <div class="col-md-12" *ngIf="discountType=='DIRECT'">
                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="discountDetail.discountType" id="">
                    <option value="FIX">Fix</option>
                    <option value="PER">Percentage(%)</option>
                </select>
            </div>
            <div class="col-md-9" *ngIf="discountType=='PROMOCODE'||discountType=='COUPON'">
                <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="discountDetail.discountCode" type="text">
            </div>
            <div class="col-md-9" *ngIf="discountType=='DIRECT'">
                    <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="discountDetail.discountVal" type="text">
                </div>
            <div class="col-md-3">
                <a class="btn btn-info" (click)="applyDiscount()">Apply</a>
                <a (click)="clearDiscount()" class="btn btn-primary btn-sm">Clear</a>
            </div>
        </div>
    </div>
     
    <div class="form-group">
        <label for="pmtNote">Note</label>
        <input type="text" class="form-control" id="pmtNote" placeholder="Note for this payment" formControlName="note">
    </div>
    <div class="form-group">
        <label for="pmtMode">Mode</label>
        <select class="form-control" id="pmtMode" placeholder="Mode of payment" formControlName="primaryMode">
            <option [value]="null">Select</option>
            <option value="CASH">CASH</option>
            <option value="DD">DD</option>
            <option value="CHEQUE">CHEQUE</option>
            <option value="NEFT">NEFT</option>
            <option value="POS">POS (Debit/Credit)</option>
            <option value="Online">Online (Paid by PaymentGateway)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="pmtRefId">Ref ID</label>
        <input type="text" class="form-control" id="pmtRefId" placeholder="Bank Ref ID related to payment mode" formControlName="bankRefId">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!paymentForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
    <button type="button" class="ek-btn btn-create pull-right" (click)="showAddPaymentNode()">add Due Payment Node</button>
    <button type="button" class="ek-btn btn-edit pull-right mr-10" (click)="displayCustomPaymentForm=true">Add custom Payment</button>
</form>
<hr>
<ng-container *ngIf="showPaymentNode">
    <form [formGroup]="duePaymentNodeForm" (ngSubmit)="addDuePaymentNode()">
        <legend>Add Due Fee Node</legend>
        <div class="form-group" style="position: relative">
            <label for="duePmtTtl">Due Payment Title</label>
            <input class="form-control" type="text" formControlName="title">
        </div>
        <div class="form-group" style="position: relative">
            <label for="duePmtAmt">Due Amount</label>
            <input class="form-control" type="number" formControlName="amount">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!duePaymentNodeForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
    </form>
</ng-container>

<p-dialog header="Custom Payment" [(visible)]="displayCustomPaymentForm" [modal]="true" [draggable]="false" [resizable]="false">
    <form [formGroup]="customPaymentForm" (ngSubmit)="addCustomPayment()">
        <div class="form-group">
            <label for="">Title</label>
            <select  class="form-control" formControlName="title" id="ttl">
                <option value="Other Charges">Other Charges</option>
                <option value="Extra Amount">Extra Amount</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Payment Option</label>
            <select formControlName="selectedNodes" class="form-control">
                <option value="null">Select Payment Option</option>
                <option value="{{option.id}}" *ngFor="let option of pmtOptions">{{option?.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Extra Amount</label>
            <input type="number" formControlName="extraAmount" class="form-control">
        </div>
        <div class="form-group">
            <label for="pmtNote">Note</label>
            <input type="text" class="form-control" id="pmtNote" placeholder="Note for this payment" formControlName="note">
        </div>
        <div class="form-group">
            <label for="pmtMode">Mode</label>
            <select class="form-control" id="pmtMode" placeholder="Mode of payment" formControlName="primaryMode">
                <option [value]="null">Select</option>
                <option value="CASH">CASH</option>
                <option value="DD">DD</option>
                <option value="CHEQUE">CHEQUE</option>
                <option value="NEFT">NEFT</option>
                <option value="POS">POS (Debit/Credit)</option>
                <option value="Online">Online (Paid by PaymentGateway)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pmtRefId">Ref ID</label>
            <input type="text" class="form-control" id="pmtRefId" placeholder="Bank Ref ID related to payment mode" formControlName="bankRefId">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!customPaymentForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>

    </form>
</p-dialog>