<div class="rsw-child">
    <div class="row">
        <div class="col-md-12" [ngClass]="panelLoader">
            <form class="form-horizontal padding15 panel-loader" role="form" (ngSubmit)="updateDesignation()" [formGroup]="designationForm">
                <div class="form-group">
                    <label for="name">Designation Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Designation Name" formControlName="title">
                </div>
                <div class="form-group">
                    <label for="input3">Status</label>
                    <select name="" id="input3" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>


                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!designationForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>