<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="col-md-6"><h3 class="panel-title">My Books</h3></div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Title</td>
                                <td>ISBN</td>
                                <td>Subscribed At</td>
                                <td>Issued</td>
                                <td>Issued At</td>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr *ngIf="!subscribedBooks||subscribedBooks.length<1" >
                                <td colspan="8" >You don't have any books.</td>
                            </tr>
                            <tr *ngFor="let record of subscribedBooks; let i=index" >
                                <td>{{(i+1)}}</td>
                                <td>{{record.book.title}}</td>
                                <td>{{record.book.isbn}}</td>
                                <td>{{record.subscribedAt | date:'d MMM, y'}}</td>
                                <td><span *ngIf="!record.isIssued"  class="label label-default">Not Issued</span> <span *ngIf="record.isIssued" class="label label-success">Issued</span></td>
                                <td><span *ngIf="record.isIssued">{{record.issuedAt | date:'d MMM, y'}}</span></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>