<div class="form-group">
    <label class="sr-only" for="ekPrdctSrch">Search Product/Program/Service</label>
    <input type="text" class="form-control" id="ekPrdctSrch" placeholder="Search Product (Enter product name)" [(ngModel)]="query" value="{{selectedProduct?.alias}}">
    <div *ngIf="products.length>0" class="usr-srch-windw">
        <ul class="usr-srch-rslt">
            <li *ngFor="let product of products; let i=index">
                <a (click)="selectProduct(i)">{{product.alias}}</a>
            </li>
        </ul>
    </div>
</div>