<div class="activity-content">
    <div class="row">
        <form class="form-horizontal fgm0" role="form" (ngSubmit)="addTest()" [formGroup]="testForm">
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add {{title}}</h3>
                    </div>
                    <div class="panel-body panel-loader" [ngClass]="frmLoader">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="testTitle">Title<sup style="color:red">*</sup> </label>
                                    <input type="text" class="form-control" id="testTitle" placeholder="Title of Test" formControlName="title" pattern="[^'\x22]+">
                                </div>
                                <div class="validate" *ngIf=" testForm.value.title != '' &&!testForm.controls['title'].valid&&testForm.controls['title'].dirty">
                                    {{validMessage}}
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="testAlias">Alias<sup style="color:red">*</sup></label>
                                    <input type="text" class="form-control" id="testAlias" placeholder="Title Alias of test" formControlName="alias" pattern="[^'\x22]+">
                                </div>
                                <div class="validate" *ngIf=" testForm.value.alias != '' &&!testForm.controls['alias'].valid&&testForm.controls['alias'].dirty">
                                    {{validMessage}}
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="testCourse">Course<sup style="color:red">*</sup></label>
                                    <select #qcourse id="testCourse" class="form-control" formControlName="course">
                                        <option value="">Select Course</option>
                                        <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="quesStream">Stream<sup style="color:red">*</sup></label>
                                    <select #qstream id="quesStream" class="form-control" formControlName="stream">
                                        <option value="">Select Stream</option>
                                        <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="testType">Test Type<sup style="color:red">*</sup></label>
                                    <select #info id="testType" class="form-control" formControlName="testType">
                                        <option value="">Select Test Type</option>
                                        <option value="PRACTICE">PRACTICE</option>
                                        <option value="LIVE">LIVE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="testTheme">Theme <sup style="color:red">*</sup></label>
                                    <select name="" id="testTheme" class="form-control" formControlName="theme">
                                        <option value="">Select Theme</option>
                                        <option value="GATE" >GATE</option>
                                        <option value="NEET" >NEET</option>
                                        <option value="JEE" >JEE</option>
                                        <option value="ESE" >ESE</option>
                                        <option value="SSC" >SSC</option>
                                        <option value="SBI-PO" >SBI PO</option>
                                        <option value="CSIR" >CSIR</option>
                                        <option value="UPSC-IAS" >UPSC (IAS)</option>
                                        <option value="SCHOLARSHIP" >SCHOLARSHIP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="testDuration">Duration <sup style="color:red">*</sup></label>
                                    <input type="text" class="form-control" id="testDuration" placeholder="test duration" formControlName="duration">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="totalQs">Total Questions <sup style="color:red">*</sup></label>
                                    <input type="text" class="form-control" id="totalQs" placeholder="Total Questions" formControlName="totalQs">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="totalMarks">Total Marks <sup style="color:red">*</sup></label>
                                    <input type="text" class="form-control" id="totalMarks" placeholder="Total Marks" formControlName="maxScore">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="testLang">Language</label>
                                    <select name="" id="testLang" class="form-control" formControlName="defaultLang">
                                        <option value="EN" >English</option>
                                        <option value="HI" >Hindi</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="tsStatus">Status <sup style="color:red">*</sup></label>
                                    <select name="" id="tsStatus" class="form-control" formControlName="status">
                                        <option value="true" >Active</option>
                                        <option value="false" >In Active</option>
                                    </select>
                                </div>
                            </div> -->
                            
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div><label>Start Date <sup style="color:red">*</sup></label></div>
                                    <p-calendar formControlName="startDate" [showTime]="true"  [showIcon]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div><label>End Date <sup style="color:red">*</sup></label></div>
                                    <p-calendar formControlName="endDate" [showTime]="true"  [showIcon]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <ul class="list-inline">
                                        <li><label for="quesInstruction">Instruction<sup style="color:red">*</sup></label></li>
                                        <li><a (click)="getInstructions()"><i class="fa fa-refresh" style="cursor: pointer"></i> Refresh</a></li>
                                        <li><a routerLink="/ims/testment/instruction/add" target="blank" ><i class="fa fa-plus-circle"></i> Add New</a></li>
                                        <li><a routerLink="/ims/testment/instruction/{{testForm.value.instruction}}" target="blank">View</a></li>
                                    </ul>
                                    <select #qInstruction id="quesInstruction" class="form-control" formControlName="instruction">
                                        <option value="">Select Instruction</option>
                                        <option value="{{instruction.id}}" *ngFor="let instruction of instructions" >{{instruction?.title}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-xs-12 margin-bottom-10">
                                <div class="form-group">
                                    <label for="tsCalculator">Calculator</label>
                                    <select name="" id="tsCalculator" class="form-control" formControlName="isCalculator">
                                        <option value="true" >Active</option>
                                        <option value="false" >In Active</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12" *ngIf="testForm.value.testType == 'LIVE'">
                                <div class="form-group">
                                    <div><label>Result Date</label></div>
                                    <p-calendar formControlName="resultDate" [showTime]="true"  [showIcon]="true"></p-calendar>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 form-group" *ngIf="testForm.value.testType == 'PRACTICE'">
                                <label for="oneTimeSubmission">One Time Submission <sup style="color:red">*</sup></label>
                                <select name="" id="oneTimeSubmission" class="form-control" formControlName="oneTimeSubmission">
                                    <option value="true">Active</option>
                                    <option value="false">In Active</option>
                                </select>
                            </div>
                            <div class="col-md-12 col-xs-12  panel-body ek-border margin-bottom-10">
                                <div class="row">
                                    <div class=" col-md-1"><label>Sections</label></div>
                                    <div class="col-md-2"><label>Title<sup style="color:red">*</sup></label></div>
                                    <div class="col-md-2"><label>Total Questions</label></div>
                                    <div class="col-md-2"><label>Total Marks</label></div>
                                    <div class="col-md-2"><label>Maximum Time</label></div>
                                    <div class="col-md-1"  *ngIf=" testForm.value?.theme == 'CSIR'"><label>Attempt Limit</label></div>
                                </div>
                                <div  formArrayName="sections" *ngFor="let count of testForm.get('sections')?.controls; let i=index" >
                                    <div class="row" [formGroupName]="i">
                                        <!-- <div class="col-md-1"><label>Sec {{i+1}} :</label></div> -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                    <!-- <label>{{i+1}}</label> -->
                                                <input type="text" formControlName="title" class="form-control" placeholder="Section Name" >
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input type="number" formControlName="totalQs" class="form-control" placeholder="T.Question">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input type="number" formControlName="totalMarks" class="form-control" placeholder="T.Marks">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <input type="number" formControlName="maxTime" class="form-control" placeholder="Max Time">
                                            </div>
                                        </div>
                                        <div class="col-md-2" *ngIf=" testForm.value?.theme == 'CSIR'">
                                            <div class="form-group">
                                                <input type="number" formControlName="attemptLimit" class="form-control" placeholder="Attempt Limit">
                                            </div>
                                        </div>
                                        <div class="col-md-1" *ngIf="i != 0">
                                            <div class="form-group">
                                                <a class="brooch brooch-danger" (click)="deleteSection(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-success btn-mini pull-right" (click)="setSections(1)" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Section</a>
                            </div>
                            <div class="col-md-12 col-xs-12  panel-body ek-border" formGroupName="preDiscussionVideos" style="margin-bottom: 10px;">
                                <div><label>Pre Discussion Videos</label></div>
                                <div class="form-group col-md-3 col-xs-12">
                                    <label for="source">Source</label>
                                    <select formControlName="source" id="source" class="form-control" (change)="sourceChange()">
                                        <option value="">Select Source</option>
                                        <option value="youtube">Youtube</option>
                                        <option value="vimeo">Vimeo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-9 col-xs-12">
                                    <label>Video ID's</label>
                                    <p-chips formControlName="ids" [allowDuplicate]="false" [inputStyle]="{'width':'400px'}" placeholder="Enter Embeded code then press 'Enter' to insert next code"></p-chips>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12  panel-body ek-border" formGroupName="solVideos">
                                <div><label>Solution Videos</label></div>
                                <div class="form-group col-md-3 col-xs-12">
                                    <label for="solsource">Source</label>
                                    <select formControlName="source" id="solsource" class="form-control" (change)="sourceChange()">
                                        <option value="">Select Source</option>
                                        <option value="youtube">Youtube</option>
                                        <option value="vimeo">Vimeo</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-9 col-xs-12">
                                    <label>Video ID's</label>
                                    <p-chips formControlName="ids" [allowDuplicate]="false" [inputStyle]="{'width':'400px'}" placeholder="Enter Embeded code then press 'Enter' to insert next code"></p-chips>
                                </div>
                            </div>   
                            <div class="col-md-12 col-xs-12 margin-top-20">
                                <div class="form-group">
                                    <label for="testDesc">Description</label>
                                    <ck-editor id="testDesc" formControlName="description"></ck-editor>
                                </div>
                                <div class="validate" *ngIf=" testForm.value.description != '' &&!testForm.controls['description'].valid&&testForm.controls['description'].dirty">
                                    {{validMessage}}
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary" [disabled]="!testForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="instruction-box">
                    <h4>Instructions:</h4>
                    <ul>
                        <li>Fields marked with <sup style="color:red">*</sup> are mandatory.</li>
                    </ul>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.maqPM" formControlName="maqPM"> <b>MAQ</b> Partial Marking</div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.mtqPM" formControlName="mtqPM"> <b>MTQ</b> Partial Marking</div>
                </div>

                <div class="panel panel-primary" *ngIf="!isPaper">
                    <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.isFree" formControlName="isFree"> Enable as Free Test</div>
                </div>
                <ng-container *ngIf="isPaper">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.inTM" formControlName="inTM"> Enable for Testment</div>
                    </div>
                    <div class="panel panel-primary"  *ngIf="clientConfig?.isESSeller">
                        <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.forSell" (change)="testForSell($event)"> {{title}} For Sale </div>
                        <div class="panel-body" *ngIf="testForm?.value?.forSell">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="mrp">Mrp<sup>*</sup></label>
                                        <input type="number" class="form-control" id="mrp" placeholder="Enter Mrp" formControlName="mrp">
                                    </div>
                                    <div class="form-group">
                                        <label for="cost">Cost<sup>*</sup></label>
                                        <input type="number" class="form-control" id="cost" placeholder="Enter Cost" formControlName="cost">
                                    </div>
                                    <div class="form-group">
                                        <label for="discount">Discount (in %)<sup>*</sup></label>
                                        <input type="number" class="form-control" id="discount" placeholder="Enter discount" formControlName="discount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
</div>