<div class="activity-content">    
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{title}}</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal fgm0" role="form" (ngSubmit)="updateTest()" [formGroup]="testForm">
                    <div class="row">
                            <div class="col-md-9">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testTitle">Title <sup style="color:red">*</sup></label>
                                <input type="text" class="form-control" id="testTitle" placeholder="Title of Test" formControlName="title" pattern="[^'\x22]+">
                            </div>
                            <div class="validate" *ngIf=" testForm.value.title != '' &&!testForm.controls['title'].valid&&testForm.controls['title'].dirty">
                                {{validMessage}}
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testAlias">Alias <sup style="color:red">*</sup></label>
                                <input type="text" class="form-control" id="testAlias" placeholder="Title Alias of test" formControlName="alias" pattern="[^'\x22]+">
                            </div>
                            <div class="validate" *ngIf=" testForm.value.alias != '' &&!testForm.controls['alias'].valid&&testForm.controls['alias'].dirty">
                                {{validMessage}}
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testCourse">Course<sup style="color:red">*</sup></label>
                                <select id="testCourse" class="form-control" formControlName="course">
                                    <option value="" >Select Course</option>
                                    <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="quesStream">Stream<sup style="color:red">*</sup></label>
                                <select name="" #qstream id="quesStream" class="form-control" formControlName="stream">
                                    <option value="">Select Stream</option>
                                    <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testType">Test Type<sup style="color:red">*</sup></label>
                                <select id="testType" class="form-control" formControlName="testType">
                                <option value="PRACTICE">PRACTICE</option>
                                <option value="LIVE">LIVE</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testTheme">Theme <sup style="color:red">*</sup></label>
                                <select id="testTheme" class="form-control" formControlName="theme">
                                    <option value="GATE" >GATE</option>
                                    <option value="NEET" >NEET</option>
                                    <option value="JEE" >JEE</option>
                                    <option value="ESE" >ESE</option>
                                    <option value="SSC" >SSC</option>
                                    <option value="SBI-PO" >SBI PO</option>
                                    <option value="CSIR" >CSIR</option>
                                    <option value="UPSC-IAS" >UPSC (IAS)</option>
                                    <option value="SCHOLARSHIP" >SCHOLARSHIP</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testDuration">Duration <sup style="color:red">*</sup></label>
                                <input type="text" class="form-control" id="testDuration" placeholder="test duration" formControlName="duration">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="totalQs">Total Questions <sup style="color:red">*</sup></label>
                                <input type="text" class="form-control" id="totalQs" placeholder="Total Questions" formControlName="totalQs">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="maxScore">Total Marks <sup style="color:red">*</sup></label>
                                <input type="text" class="form-control" id="maxScore" placeholder="Total Marks" formControlName="maxScore">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testLang">Language</label>
                                <select id="testLang" class="form-control" formControlName="defaultLang">
                                    <option value="EN" >English</option>
                                    <option value="HI" >Hindi</option>
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div><label>Start Date</label></div>
                                <p-calendar formControlName="startDate" [(ngModel)]="startDate" [showTime]="true"  [showIcon]="true"></p-calendar>
                                <span class="pull-right"> 
                                    <p *ngIf="!startDate">{{testData?.startDate | date : "MMM d, y h:mm a"}}</p>
                                    <p *ngIf="startDate">{{startDate | date : "MMM d, y h:mm a"}}</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div><label>End Date</label></div>
                                <p-calendar formControlName="endDate" [(ngModel)]="endDate" [showTime]="true" [showIcon]="true"></p-calendar>
                                <span class="pull-right">
                                    <p *ngIf="!endDate">{{testData?.endDate | date : "MMM d, y h:mm a"}}</p>
                                    <p *ngIf="endDate">{{endDate | date : "MMM d, y h:mm a"}}</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" style="margin-bottom: 10px">
                            <div class="form-group">
                                <label for="tsCalculator">Calculator</label>
                                <select name="" id="tsCalculator" class="form-control" formControlName="isCalculator">
                                    <option value="true" >Active</option>
                                    <option value="false" >In Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <ul class="list-inline">
                                    <li><label for="quesInstruction">Instruction<sup style="color:red">*</sup></label></li>
                                    <li><a (click)="getInstructions()"><i class="fa fa-refresh" style="cursor: pointer"></i> Refresh</a></li>
                                    <li><a routerLink="/ims/testment/instruction/add" target="blank" ><i class="fa fa-plus-circle"></i> Add New</a></li>
                                    <li><a routerLink="/ims/testment/instruction/{{testForm.value.instruction}}" target="blank">View</a></li>
                                </ul>
                                <select #qInstruction id="quesInstruction" class="form-control" formControlName="instruction">
                                    <option value="">Select Instruction</option>
                                    <option value="{{instruction.id}}" *ngFor="let instruction of instructions" >{{instruction?.title}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="tsStatus">Status <sup style="color:red">*</sup></label>
                                <select name="" id="tsStatus" class="form-control" formControlName="status">
                                    <option value="true" >Active</option>
                                    <option value="false" >In Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="testForm.value.testType == 'LIVE'">
                            <div class="form-group">
                                <div><label>Result Date</label></div>
                                <p-calendar formControlName="resultDate" [(ngModel)]="resultDate" [showTime]="true" [showIcon]="true"></p-calendar>
                                <span class="pull-right">
                                    <p *ngIf="!resultDate">{{testData?.resultDate | date : "MMM d, y h:mm a"}}</p>
                                    <p *ngIf="resultDate">{{resultDate | date : "MMM d, y h:mm a"}}</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 form-group" *ngIf="testForm.value.testType == 'PRACTICE'">
                            <label for="oneTimeSubmission">One Time Submission <sup style="color:red">*</sup></label>
                            <select name="" id="oneTimeSubmission" class="form-control" formControlName="oneTimeSubmission">
                                <option value="true">Active</option>
                                <option value="false">In Active</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-xs-12  panel-body ek-border" formGroupName="preDiscussionVideos" style="margin-bottom: 10px;">
                            <div><label>Pre Discussion Videos</label></div>
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="source">Source</label>
                                <select formControlName="source" id="source" class="form-control" (change)="sourceChange()">
                                    <option value="">Select Source</option>
                                    <option value="youtube">Youtube</option>
                                    <option value="vimeo">Vimeo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-9 col-xs-12" >
                                <label>Video ID's</label>
                                <p-chips formControlName="ids" [allowDuplicate]="false" [inputStyle]="{'width':'400px'}" placeholder="Enter Embeded code then press 'Enter' to insert next code"></p-chips>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12  panel-body ek-border margin-bottom-10" formGroupName="solVideos" style="margin-bottom: 10px;">
                            <div><label>Solution Videos</label></div>
                            <div class="form-group col-md-3 col-xs-12">
                                <label for="solSource">Source</label>
                                <select formControlName="source" id="solSource" class="form-control" (change)="sourceChange()">
                                    <option value="">Select Source</option>
                                    <option value="youtube">Youtube</option>
                                    <option value="vimeo">Vimeo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-9 col-xs-12">
                                <label>Video ID's</label>
                                <p-chips formControlName="ids" [allowDuplicate]="false" [inputStyle]="{'width':'400px'}" placeholder="Enter Embeded code then press 'Enter' to insert next code"></p-chips>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="instruction-box">
                            <h4>Instructions:</h4>
                            <hr/>
                            <ul>
                                <li>Fields marked with <sup style="color:red">*</sup> are mandatory.</li>
                                <li>Section (<i class="fa fa-check" style="color:#0ed00e"></i>) sign is enabled. when Q-Set is Assigned in Section.</li>
                            </ul>
                            <hr/>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.maqPM" formControlName="maqPM"> <b>MAQ</b> Partial Marking</div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.mtqPM" formControlName="mtqPM"> <b>MTQ</b> Partial Marking</div>
                        </div>
                        <div class="panel panel-primary" *ngIf="!isPaper">
                            <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.isFree" formControlName="isFree"> Enable as Free Test</div>
                        </div>
                        <ng-container *ngIf="isPaper">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.inTM" formControlName="inTM"> Enable For Testment</div>
                            </div>
                            <div class="panel panel-primary" *ngIf="!testForm.value.isPurchased && clientConfig?.isESSeller">
                                <div class="panel-heading"><input type="checkbox" [checked]="testForm.value.forSell" (change)="testForSell($event)"> {{title}} For Sale </div>
                                <div class="panel-body" *ngIf="testForm?.value?.forSell">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="mrp">Mrp<sup>*</sup></label>
                                                <input type="number" class="form-control" id="mrp" placeholder="Enter Mrp" formControlName="mrp">
                                            </div>
                                            <div class="form-group">
                                                <label for="cost">Cost<sup>*</sup></label>
                                                <input type="number" class="form-control" id="cost" placeholder="Enter Cost" formControlName="cost">
                                            </div>
                                            <div class="form-group">
                                                <label for="discount">Discount (in %)<sup>*</sup></label>
                                                <input type="number" class="form-control" id="discount" placeholder="Enter discount" formControlName="discount">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <div class="col-md-12 col-xs-12 panel-body ek-border">
                    <div class="row">
                        <div class="col-md-1"><label>Sections</label></div>
                        <div class="col-md-2"><label>Title<sup style="color:red">*</sup></label></div>
                        <div class="col-md-2">
                            <label>Total Questions</label>
                        </div>
                        <div class="col-md-2">
                            <label>Total Marks</label>
                        </div>
                        <div class="col-md-2">
                            <label>Maximum Time</label>
                        </div>
                        <div class="col-md-1" *ngIf=" testForm.value?.theme == 'CSIR'">
                            <label>Attempt Limit</label>
                        </div>
                        <!-- *ngIf="showBonusMarksModal" -->
                        <div class="col-md-2">
                            <label>Action</label>
                        </div>
                    </div>
                    <div formArrayName="sections" *ngFor="let count of testForm.get('sections')?.controls; let i=index">
                        <div class="row" [formGroupName]="i">
                            <div class="col-md-1"><label>Section {{i+1}} <i *ngIf="testData?.sections[i]?.isQsetAssigned == true" class="fa fa-check" aria-hidden="true" style="color:#0ed00e"></i></label></div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" formControlName="title" class="form-control" placeholder="Section Name">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="number" formControlName="totalQs" class="form-control" placeholder="Total Question">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="number" formControlName="totalMarks" class="form-control" placeholder="Total Marks">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="number" formControlName="maxTime" class="form-control" placeholder="Max Time">
                                </div>
                            </div>
                            <div class="col-md-1" *ngIf=" testForm.value?.theme == 'CSIR'">
                                <div class="form-group">
                                    <input type="number" formControlName="attemptLimit" class="form-control" placeholder="Attempt Limit">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a *ngIf="testData?.sections[i]?.isQsetAssigned == true" class="btn btn-primary btn-mini" (click)="displayBonusMarks(i,testData?.sections[i]?.qset)" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Bonus Marks</a>
                                <a *ngIf="i != 0" class="brooch brooch-danger" (click)="deleteSection(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-success btn-mini pull-right" (click)="setSections(1)" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Section</a>
                    <!-- <a class="btn btn-primary btn-mini pull-right" (click)="displayBonusMarks()" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Bonus Marks</a> -->
                </div>  
                
                <div class="col-md-12 col-xs-12 margin-top-20">
                    <div class="form-group">
                        <label for="testDesc">Description</label>
                        <ck-editor id="testDesc" formControlName="description"></ck-editor>
                    </div>
                    <div class="validate" *ngIf=" testForm.value.description != '' &&!testForm.controls['description'].valid&&testForm.controls['description'].dirty">
                        {{validMessage}}
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary" [disabled]="!testForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>
<p-dialog header="Bonus Marks" [(visible)]="showBonusMarksModal" [modal]="true" [width]="700">
    <div [ngClass]="panelLoader" style="overflow-x:auto;height: 65vh;">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Question</th>
                    <th>Bonus Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let qData of sectionQs[sectionIndex]; let i=index;">
                    <td><b>Q-{{qData.questionSeqId}}</b></td>
                    <td>{{qData.question}}</td>
                    <td><input type="number" #input (change)="inputBonus(qData.question,input.value)" value="{{testForm.value.sections[sectionIndex].bonusMarks[qData.question]}}"></td>
                </tr>
            </tbody>
        </table>
        <!-- <a class="ek-btn btn-primary pull-right" (click)="saveBonusMarks()">Save Changes</a> -->
    </div>
</p-dialog>