<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{title}}</h3>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <form role="form" [formGroup]="searchForm" (ngSubmit)="searchData()">
                        <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Course</th>
                                    <th>Stream</th>
                                    <th>Test Type</th>
                                    <th>Theme</th>
                                    <th>Total Sections</th>
                                    <!-- <th>Duration</th>
                                    <th>Total Questions</th>
                                    <th>Total Marks</th> -->
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Result Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="title" placeholder="Test Title">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select id="quesCourse" class="form-control" formControlName="course">
                                                <option value="" *ngIf="!courses" >Loading courses...</option>
                                                <option value="" *ngIf="courses" >Select Course</option>
                                                <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                        <select id="quesStrm" class="form-control" formControlName="stream">
                                                <option value="" *ngIf="!streams" >Loading streams...</option>
                                                <option value="" *ngIf="streams" >Select stream</option>
                                                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select id="testType" class="form-control" formControlName="testType">
                                                <option value="">Select Theme</option>
                                                <option value="PRACTICE">PRACTICE</option>
                                                <option value="LIVE">LIVE</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select id="theme" #theme class="form-control" formControlName="theme">
                                                <option value="">Select Theme</option>
                                                <option value="GATE">GATE</option>
                                                <option value="NEET" >NEET</option>
                                                <option value="JEE" >JEE</option>
                                                <option value="ESE" >ESE</option>
                                                <option value="SSC" >SSC</option>
                                                <option value="SBI-PO" >SBI PO</option>
                                                <option value="CSIR" >CSIR</option>
                                                <option value="UPSC-IAS" >UPSC (IAS)</option>
                                                <option value="SCHOLARSHIP" >SCHOLARSHIP</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="form-group" style="width: 80px; margin-right: 24px;">
                                            <p-calendar formControlName="startDate" [showTime]="true"  [showIcon]="true"></p-calendar>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" style="width: 80px; margin-right: 24px;">
                                                <p-calendar formControlName="endDate" [showTime]="true"  [showIcon]="true"></p-calendar>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- <div class="form-group">
                                                <p-calendar formControlName="resultDate" [showTime]="true"  [showIcon]="true"></p-calendar>
                                        </div> -->
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select id="" class="form-control" formControlName="status">
                                                <option value="">Select Status</option>
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-info">Filter</button>
                                    </td>
                                </tr>
                                <tr class="table-action"  *ngFor="let row of rows; let i=index">
                                    <td>{{countBase+i}}</td>
                                    <td>
                                        <a  [routerLink]="userPerms?.VIEW? routes+'/'+row.id:routes" title="View Details">{{row?.title}}</a>
                                        <br>
                                        <small>{{row?.alias}}</small><br>
                                        <i *ngIf="row?.forSell" title="For Sale" class="fa fa-inr forSell-icon"></i>
                                        <i *ngIf="row?.isPurchased" title="Purchased" class="fa fa-shopping-bag" style="color:green"></i>
                                       
                                    </td>
                                    <td> {{row?.course?.valueAlias}}</td>
                                    <td> {{row?.stream?.valueAlias}}</td>
                                    <td>{{row?.testType}}</td>
                                    <td>{{row?.theme}}</td>
                                    <td>{{row?.sections?.length}}</td>
                                    <!-- <td> {{row?.duration}}</td>
                                    <td> {{row?.totalQs}}</td>
                                    <td> {{row?.maxScore}}</td> -->
                                    <td> {{row?.startDate | date:"medium"}}</td>
                                    <td> {{row?.endDate | date:"medium"}}</td>
                                    <td> {{row?.resultDate | date:"medium"}}</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" [checked]="row?.status" (click)="updateStatus($event,i)" *ngIf="userPerms?.EDIT">
                                            <input type="checkbox" [checked]="row?.status" disabled *ngIf="!userPerms?.EDIT">
                                            <span class="slider round" [ngStyle]="{'cursor':(!userPerms?.EDIT?'not-allowed':'pointer')}"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <ek-dropdown class="ek-action-btn" direction="right">
                                            <span class="dropdown-toggle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                                            <ng-container class="dropdown-menu">
                                                <li *ngIf="userPerms?.VIEW"><a routerLink="{{routes}}/{{row.id}}"><i class="fa fa-file-text-o"></i> View Details</a></li>
                                                <li *ngIf="userPerms?.EDIT"><a routerLink="{{routes}}/edit/{{row?.id}}"><i class="fa fa-pencil-square-o"></i>  Edit</a></li>
                                                <li *ngIf="userPerms?.PRINT"><a routerLink="{{routes}}/print/{{row?.id}}"><i class="fa fa-print"></i> Print</a></li>
                                                <ng-container *ngIf="!isPaper">
                                                    <li *ngIf="userPerms?.VIEW_REPORT"><a routerLink="/ims/testment/dashboard/participants" [queryParams]="{testId : row?.id }"><i class="fa fa-file"></i> Report</a></li>
                                                    <li *ngIf="userPerms?.VIEW_FEEDBACK"><a routerLink="/ims/testment/feedback" [queryParams]="{testId : row?.id}"><i class="fa fa-commenting-o"></i> Feedbacks</a></li>
                                                    <li *ngIf="userPerms?.DUPLICATE"><a (click)="createDuplicate(row)"><i class="fa fa-files-o"></i> Duplicate</a></li>
                                                </ng-container>
                                                <li *ngIf="userPerms?.DELETE"><a (click)="deleteTest(row)"><i class="fa fa-trash"></i> Delete</a></li>
                                            </ng-container>
                                        </ek-dropdown>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </form>
                    <p *ngIf="rows?.length<1" class="alignC">
                        <b>No Test available for now!</b>
                        <a routerLink="{{routes}}/add" class="ek-btn btn-create btn-icon">Add New</a>
                    </p>
                </div>
                <div class="row" *ngIf="rows?.length>0">
                    <div class="col-md-12">
                        <p class="alignC">Total Records: {{totalRecords}}</p>
                        <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>