<div class="activity-content">
    <div class="panel panel-default" [ngClass]="panelLoader">
        <div class="panel-body">
            <div class="row" *ngIf="printStatus =='FORM'">
                <div class="col-md-9">
                    <p-fieldset legend="Test Print Form">
                        <form class="form-horizontal fgm0" role="form" (ngSubmit)="convertData()" [formGroup]="testPrintForm">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="testTitle">Title<sup>*</sup></label>
                                <input type="text" class="form-control" id="testTitle" placeholder="Enter Test Title" formControlName="title">
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label>Front Page<sup style="color:red">*</sup></label>
                                <ek-fileinput class="form-control" formControlName="frontPage"></ek-fileinput>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label>Footer</label>
                                <ek-fileinput class="form-control" formControlName="footerImg"></ek-fileinput>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="pageSize">Page Size <small>(Default as A4 size)</small></label>
                                <ul class="list-inline form-control">
                                    <li><input type="radio" value="1000" formControlName="pageSize"> A4</li>
                                    <li><input type="radio" value="950" formControlName="pageSize"> LETTER</li>
                                </ul>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="">Language</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="defaultLang" (change)="loadVariantQs(dfaultLang.value)" #dfaultLang >
                                    <option value="EN" title="English">EN</option>
                                    <option value="HI" title="Hindi">HI</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-xs-12 ">
                                <p-triStateCheckbox formControlName="numericalOption" label="status"></p-triStateCheckbox> Answer Options like (1),(2) instead of (a),(b).
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <p-triStateCheckbox formControlName="smpq" label="status"></p-triStateCheckbox> Show Marks Per Question.
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <p-triStateCheckbox formControlName="roughPage" label="status"></p-triStateCheckbox> Rough Work Page.
                            </div>
                           
                            <div class="form-group col-md-6 col-xs-12">
                                <p-triStateCheckbox formControlName="showSecName"></p-triStateCheckbox> Show Section Name.
                            </div>
                            <!-- *ngIf="testPrintForm.value.showSecName" -->
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <p-triStateCheckbox formControlName="sswnc"></p-triStateCheckbox> Section Start With Next Column.
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <p-triStateCheckbox formControlName="resSectionNum" label="status"></p-triStateCheckbox> Reset Question Numbering For Each Section.
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <p-triStateCheckbox formControlName="showInstyInfo" label="status"></p-triStateCheckbox> Show Institute Info.
                                
                                <div *ngIf="testPrintForm.value.showInstyInfo"> 
                                    <input type="text" class="form-control" placeholder="Enter Information" formControlName="instyInfo">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <p-triStateCheckbox formControlName="showLogo" label="status"></p-triStateCheckbox> Show Featured Logo. <small>(Default as Institute Logo)</small> 
                                <a (click)="changeLogo=true" style="cursor: pointer;color: -webkit-link">Change</a>
                                
                                <div *ngIf="changeLogo">
                                    <ek-fileinput class="form-control" formControlName="logo"></ek-fileinput>
                                    <a class="pull-right" (click)="testPrintForm.value.logo = clientConfig.logo" style="cursor: pointer;color: -webkit-link">Reset</a>
                                </div>
                            </div>
                            <!-- *ngIf="testPrintForm.value.showInstyInfo" -->
                            <!-- <div class="form-group col-md-6 col-xs-12" style="height: 40px;" *ngIf="testPrintForm.value.showInstyInfo"> 
                                <input type="text" class="form-control" placeholder="Enter Information" formControlName="instyInfo">
                            </div>
                            <div  class="col-md-6 col-xs-12">
                                <div class="form-group" *ngIf="changeLogo">
                                    <ek-fileinput class="form-control" formControlName="logo"></ek-fileinput>
                                    <a class="pull-right" (click)="testPrintForm.value.logo = clientConfig.logo">Reset</a>
                                </div>
                            </div> -->
                            <div class="col-md-offset-10 col-md-2 col-xs-12">
                                <div class="form-group" style="margin: 10px">
                                    <button type="submit" class="btn btn-primary" [disabled]="!testPrintForm.valid || formStatus == 'Processing'">{{formStatus == 'Processing'?'Processing...':'Convert'}}</button>
                                </div>
                            </div>
                        </form>
                    </p-fieldset>   
                </div>
                <div class="col-md-3">
                    <ul class="list-inline">
                        <li><button class="btn btn-primary" (click)="printStatus = 'ANSWERKEY'"><i class="fa fa-print" aria-hidden="true"></i> Answer Key</button></li>
                        <li><button class="btn btn-primary" (click)="displaySolution()"><i class="fa fa-print" aria-hidden="true"></i> Solution</button></li>
                    </ul>
                    <div class=" display-image" *ngIf="testPrintForm.value.frontPage">
                        <img alt="Edukit" width="100%" height="240px" src="{{testPrintForm.value.frontPage}}">
                    </div>
                    <div class=" display-image" *ngIf="testPrintForm.value.showLogo">
                        <img alt="Edukit" height="32px" src="{{testPrintForm.value.logo}}">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class=" display-image" *ngIf="testPrintForm.value.footerImg">
                        <img alt="Edukit" width="100%" height="32px" src="{{testPrintForm.value.footerImg}}">
                    </div>
                </div>
            </div>
            <div *ngIf="printStatus =='FORM' && !showTestCustomize">
                <div class="rough-questions">
                    <div *ngFor="let section of row?.sections; let i=index">
                        <div class="con-piece" el-type="sec_name" *ngIf="testPrintForm.value.showSecName">
                            <div class="section_name">
                                Section - {{section.title}}
                            </div>
                        </div>
                        <div *ngFor="let qset of section.qset; let seq=index">
                            <div class="con-piece" el-type="q">
                                <div class="ques">
                                    <span class="view-only">{{seq+1}}</span>
                                    <span class="q_content" *ngIf="qset.question?.qContent" [innerHTML]="qset.question?.qContent | safeHtml" [ngClass]="qset.question?.defaultFont"></span>
                                </div>
                                <div class="q_marks" *ngIf="testPrintForm.value.smpq">[ +{{qset.mp}} , -{{qset.mn}}]</div>
                            </div>
                            <div class="print-option"  *ngIf="qset.question?.qType == 'MCQ' || qset.question?.qType == 'MAQ' || qset.question?.qType == 'ARQ' || qset.question?.qType == 'PTQ'">
                                <div class="con-piece" el-type="opt_start"></div>
                                <div class="con-piece" el-type="opt" option-start="1" *ngIf="qset.question?.qOption?.optionA">
                                    <span class="view-only">(a)</span>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionA | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div class="con-piece" el-type="opt" *ngIf="qset.question?.qOption?.optionB">
                                        <span class="view-only">(b)</span>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionB | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div class="con-piece" el-type="opt" *ngIf="qset.question?.qOption?.optionC">
                                        <span class="view-only">(c)</span>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionC | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div class="con-piece" el-type="opt" *ngIf="qset.question?.qOption?.optionD">
                                        <span class="view-only">(d)</span>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionD | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div class="con-piece" el-type="opt" *ngIf="qset.question?.qOption?.optionE">
                                        <span class="view-only">(e)</span>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionE | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div class="con-piece" el-type="opt_end"></div>
                            </div>
                            <div *ngIf="qset.question?.qType == 'MTQ'">
                                <div class="con-piece" el-type="opt_start" ></div>
                                
                                <div class="con-piece" el-type="opt" q-type="MTQ">
                                    <div *ngIf="qset.question?.qOption?.optionA"><span class="opt_seq">(a)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionA | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionB"><span class="opt_seq">(b)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionB | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionC"><span class="opt_seq">(c)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionC | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionD"><span class="opt_seq">(d)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionD | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionE"><span class="opt_seq">(e)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionE | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                </div>
                                <div class="con-piece" el-type="opt" q-type="MTQ">
                                    <div *ngIf="qset.question?.qOption?.optionP"><span class="opt_seq">(p)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionP | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionQ"><span class="opt_seq">(q)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionQ | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionR"><span class="opt_seq">(r)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionR | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionS"><span class="opt_seq">(s)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionS | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionT"><span class="opt_seq">(t)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionT | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                </div>
                                <div class="con-piece" el-type="opt_end"></div>
                            </div>
                        </div>
                        <div class="con-piece" el-type="sec_end"></div>
                    </div>
                </div>
            </div>
            <div *ngIf="printStatus =='EXAM'">
                <ul class="list-inline pull-right" *ngIf="!disable">
                    <li><button type="button"  class="btn btn-primary" (click)=" displayTestCustomization()">Customization</button></li>
                    <li><button type="button" class="btn btn-primary" (click)="disable=true;">Hide</button></li>
                </ul>
                <div *ngIf="testPrintForm.value.frontPage" [ngClass]="{'a4-page' : testPrintForm.value?.pageSize == '1000', 'letter-page' : testPrintForm.value?.pageSize == '950'}">
                    <div class="page-container">
                        <img  class="ng-tns-c0-0" alt="frontpage" src="{{testPrintForm.value.frontPage}}">
                    </div>
                </div>
                <div *ngFor="let page of testData; let i=index" [ngClass]="{'a4-page' : testPrintForm.value?.pageSize == '1000', 'letter-page' : testPrintForm.value?.pageSize == '950'}">
                    <div class="page-container">
                        <div *ngIf="testPrintForm.value.showInstyInfo" class="page-bar" [ngClass]="{'a4-page-bar' : testPrintForm.value?.pageSize == '1000', 'letter-page-bar' : testPrintForm.value?.pageSize == '950'}">
                            <img *ngIf="testPrintForm.value.showLogo" alt="Edukit" src="{{testPrintForm.value?.logo}}">
                            <span>{{testPrintForm.value?.instyInfo}}</span>
                        </div>
                        <div class="paper-header">
                            <span class="logo"><img *ngIf="testPrintForm.value.showLogo" class="ng-tns-c0-0" alt="Edukit" height="32px" src="{{testPrintForm.value.logo}}"></span> 
                            <span  class="title">{{testPrintForm.value?.title}}</span>
                            <span class="page_seq">({{countBase+i}})</span>
                        </div>
                        <div *ngFor="let column of page">
                            <div class="paper-questions" [ngClass]="{'a4-questions' : testPrintForm.value?.pageSize == '1000', 'letter-questions' : testPrintForm.value?.pageSize == '950'}">
                                <div *ngFor="let question of column">
                                    <div [innerHTML]="question.content | safeHtml" [ngClass]="question?.defaultFont"></div>
                                </div>
                            </div>
                        </div>
                        <div class="paper-footer">
                            <img *ngIf="testPrintForm.value?.footerImg" alt="Edukit" src="{{testPrintForm.value.footerImg}}">
                        </div>
                    </div>
                </div>
                <div *ngIf="testPrintForm.value.roughPage" [ngClass]="{'a4-page' : testPrintForm.value?.pageSize == '1000', 'letter-page' : testPrintForm.value?.pageSize == '950'}">
                    <div class="page-container">
                        <div class="paper-header">
                            <span class="logo"><img *ngIf="testPrintForm.value.showLogo" class="ng-tns-c0-0" alt="Edukit" height="32px" src="{{testPrintForm.value.logo}}"></span> 
                            <span  class="title">{{testPrintForm.value?.title}}</span>
                            <span class="page_seq">({{(testData?.length + countBase)}})</span>
                        </div>
                        <div class="rough-space">Space for Rough Work</div>
                        <!-- <div class="paper-footer">
                            <img *ngIf="testPrintForm.value?.footerImg" alt="Edukit" src="{{testPrintForm.value.footerImg}}">
                        </div> -->
                    </div>
                </div>
            </div>
            <div *ngIf="printStatus =='SOLUTION'" class="print-solution" >
                <div class="sol-heading">
                    <div class="logo" *ngIf="testPrintForm.value.logo">
                        <img  src="{{testPrintForm.value.logo}}" alt="Edukit" height="25px" >
                    </div> 
                    <div class="heading">SOLUTIONS</div>
                    <div class="title">{{row?.title}}</div>
                </div>
                <div *ngFor="let section of row?.sections; let i=index">
                    <div class="sec-name">
                        <b>Section {{i+1}}</b> - {{section.title}}
                    </div>
                    <div>
                        <table class="table table-responsive">
                            <tbody>
                                <tr *ngFor="let qset of section.qset; let seq=index">
                                    <td class="q-seq">
                                        <div>Q-{{seq+1}}</div>
                                    </td>
                                    <td>
                                        <div><b>Answer</b> : {{qset?.question?.ans}}</div>
                                        <div><b>Solution</b> : </div>
                                        <div class="sol-content" [innerHTML]="qset.question?.qSolution | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div *ngIf="printStatus == 'ANSWERKEY'" [ngClass]="{'a4-page' : testPrintForm?.value?.pageSize === '1000', 'letter-page' : testPrintForm?.value?.pageSize === '950'}">
                <div class="page-container answer-key">
                    <div class="paper-header">
                        <span class="logo ans-logo"><img *ngIf="testPrintForm.value.showLogo" alt="Edukit" height="32px" src="{{testPrintForm.value.logo}}"></span>
                        <h3>ANSWER KEYS</h3>
                        {{testPrintForm?.value?.title}}
                    </div>
                    <div [ngClass]="{'ans-a4-questions' : testPrintForm.value?.pageSize == '1000', 'ans-letter-questions' : testPrintForm.value?.pageSize == '950'}">
                        <div *ngFor="let section of row?.sections; let i=index">
                            <div class="title">PART-{{charSeq[i]}} [ {{section?.title | uppercase}} ]</div>
                            <div class="ans-box">
                                <div class="content"  *ngFor="let qset of section.qset; let seq=index">
                                    <span>{{seq+1}}.</span>
                                    &nbsp;
                                    <span>({{qset?.question?.ans}})</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paper-footer">
                        <span class="ans-footer-logo"><img *ngIf="testPrintForm.value.showLogo" alt="Edukit" height="32px" src="{{testPrintForm.value.logo}}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="showTestCustomize" [fullScreen]="true" [baseZIndex]="10000">
    <div style="text-align: center;">
        <h3>Test Customization</h3>
    </div>
    <div style="float: right;">
        <button type="button" class="btn btn-primary" (click)="testCustomization()" [disabled]="formStatus == 'Processing'">{{formStatus == 'Processing'? 'Processing...' : 'Submit'}}</button>
    </div>
    <div class="row">
        <div class=" col-md-offset-1 col-md-4 boxx" *ngIf="showTestCustomize" >
            <div class="rough-questions" style="padding: 1px;">
                <div *ngFor="let section of row?.sections; let i=index">
                    <div class="con-piece"  el-type="sec_name" *ngIf="testPrintForm.value.showSecName">
                        <div class="section_name">
                            Section - {{section.title}}
                        </div>
                    </div>
                    <div *ngFor="let qset of section.qset; let seq=index">
                         <!-- id is created by tag + section Index + seq -->
                        <div id="q{{1+i}}{{1+seq}}" (click)="clickContent('q'+(1+i)+(1+seq))">
                            <div class="con-piece content-box" el-type="q">
                                <div class="ques">
                                    <div class="view-only"><b>{{seq+1}}</b> </div><div  class="q_content" *ngIf="qset.question?.qContent" [innerHTML]="qset.question?.qContent | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div class="q_marks" *ngIf="testPrintForm.value.smpq">[ +{{qset.mp}} , -{{qset.mn}}]</div>
                            </div>
                        </div>
                        <div class="con-piece" el-type="opt_start" ></div>
                        <!-- id is created by tag + section Index + seq -->
                        <div id="opt{{1+i}}{{1+seq}}" (click)="clickContent('opt'+(1+i)+(1+seq))">
                            <div class="print-option" *ngIf="qset.question?.qType == 'MCQ' || qset.question?.qType == 'MAQ' || qset.question?.qType == 'ARQ' || qset.question?.qType == 'PTQ'">
                                <div  class="con-piece content-box" el-type="opt" option-start="1" *ngIf="qset.question?.qOption?.optionA">
                                    <div class="view-only">(a) </div>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionA | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div  class="con-piece content-box" el-type="opt" *ngIf="qset.question?.qOption?.optionB">
                                    <div class="view-only">(b) </div>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionB | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div  class="con-piece content-box" el-type="opt" *ngIf="qset.question?.qOption?.optionC">
                                    <div class="view-only">(c) </div>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionC | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div  class="con-piece content-box" el-type="opt" *ngIf="qset.question?.qOption?.optionD">
                                    <div class="view-only">(d) </div>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionD | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                                <div  class="con-piece content-box" el-type="opt" *ngIf="qset.question?.qOption?.optionE">
                                    <div class="view-only">(e) </div>
                                    <div class="opt_con" [innerHTML]="qset.question?.qOption?.optionE | safeHtml" [ngClass]="qset.question?.defaultFont"></div>
                                </div>
                            </div>
                            <div class="print-option" *ngIf="qset.question?.qType == 'MTQ'">
                                <div class="con-piece" el-type="opt" q-type="MTQ">
                                    <div *ngIf="qset.question?.qOption?.optionA"><span class="opt_seq">(a)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionA | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionB"><span class="opt_seq">(b)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionB | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionC"><span class="opt_seq">(c)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionC | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionD"><span class="opt_seq">(d)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionD | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionE"><span class="opt_seq">(e)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionE | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                </div>
                                <div class="con-piece" el-type="opt" q-type="MTQ">
                                    <div *ngIf="qset.question?.qOption?.optionP"><span class="opt_seq">(p)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionP | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionQ"><span class="opt_seq">(q)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionQ | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionR"><span class="opt_seq">(r)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionR | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionS"><span class="opt_seq">(s)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionS | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                    <div *ngIf="qset.question?.qOption?.optionT"><span class="opt_seq">(t)</span><span class="opt_con" [innerHTML]="qset.question?.qOption?.optionT | safeHtml" [ngClass]="qset.question?.defaultFont"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="con-piece" el-type="opt_end"></div>
                    </div>
                    <div class="con-piece" el-type="sec_end"></div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-1">
            <button type="button" class="btn btn-primary" (click)="testCustomization()">Done</button>
        </div> -->
        <div class="col-md-7"> 
                <form role="form" (ngSubmit)="updateContent()" [formGroup]="contentForm">
                    <ck-editor formControlName="content"></ck-editor>
                    <div style="margin-top: 3%;">
                                Tag : [[break]]
                            <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
                    </div>
                </form>
        </div>
    </div>
</p-sidebar>
<!-- <p-dialog header="Test Customization" [(visible)]="showTestCustomize" [modal]="true" [width]="600">
      
   
</p-dialog> -->