<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <form class="form" role="form" (ngSubmit)="getTests()" [formGroup]="filterForm">
                        <div class="row">
                            <div class="col-md-3 col-xs-12 form-group">
                                <select #seller class="form-control" formControlName="client"
                                    (change)="selectClient(seller.value)">
                                    <option value="" *ngIf="!sellers">Loading Sellers...</option>
                                    <option value="" *ngIf="sellers">Select Sellers</option>
                                    <option value="{{seller.client?.id}}" *ngFor="let seller of sellers">
                                        {{seller.client?.title}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-xs-12 form-group">
                                <select class="form-control" formControlName="course">
                                    <option value="">Select Course</option>
                                    <option value="" *ngIf="!sellerCourses">Choose Seller First</option>
                                    <option value="{{crs.id}}" *ngFor="let crs of sellerCourses">{{crs.valueAlias}}</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-xs-12 form-group">
                                <select class="form-control" formControlName="stream">
                                    <option value="">Select stream</option>
                                    <option value="" *ngIf="!sellerStreams">Choose Seller First</option>
                                    <option value="{{stream.id}}" *ngFor="let stream of sellerStreams">{{stream.valueAlias}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="!filterForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Filter')}}</button>
                                <button type="button" class="btn btn-success pull-right" (click)="showOrderSummary()">Buy
                                    Now</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <p *ngIf="tests?.length < 1" class="alignC">
                        <i class="fa fa-filter" style="font-size: 100px;color: #80808066;"></i><br>
                        <b>Apply Filter to view Papers !!</b>
                    </p>
                    <ng-container *ngIf="tests?.length > 0">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Course</th>
                                    <th>Stream</th>
                                    <th>Total Question</th>
                                    <th>MRP</th>
                                    <th>Discount</th>
                                    <th>Effective Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tests; let i=index">
                                    <td>{{countBase+i}}</td>
                                    <td>{{row?.title}}</td>
                                    <td>{{row?.course?.value}}</td>
                                    <td>{{row?.stream?.valueAlias}}</td>
                                    <td>{{row.totalQs}}</td>
                                    <td>MRP :- {{row.mrp}}<br>Sell. Price :- {{row?.cost}}</td>
                                    <td>{{row.discount}}%</td>
                                    <td><span *ngIf="row.cost">{{row.cost-(row.cost*row.discount/100)}}</span></td>
                                    <td>
                                        <button type="button" class=" ek-btn btn-list btn-mini"
                                            (click)="showTestModal(row.id,i)">More Details</button>
                                        <input type="checkbox" (change)="selectTest($event,row?.id,i)"
                                            [checked]="selectedTests[row?.id]"
                                            style="float: right;line-height: normal;height: 25px;width: 25px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <p class="alignC">Total Records: {{totalRecords}}</p>
                            <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}"
                                [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)">
                            </p-paginator>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="displayTestModal" [fullScreen]="true">
    <h3 style="text-align: center;">Buy Papers</h3>
    <div class="panel panel-primary panel-profile panel-loader" [ngClass]="panelLoader">
        <div class="panel-heading">
            <h3 class="panel-title">{{test?.title}} 
            </h3>
            <ul class="list-inline pull-right">  
                <li><button type="button" class="btn btn-success pull-right" (click)="showOrderSummary()">Buy Now</button></li>                  
            </ul>
        </div>
        <div class="panel-body panel-loader table-responsive" style="width: 100%">
            <table class="table table-brdr0">
                <tbody>
                    <tr>
                        <td><label>Title</label><br><b>{{test?.title}}</b></td>
                        <td><label>Course</label><br>{{test?.course?.valueAlias}}</td>
                        <td><label>Stream</label><br>{{test?.stream?.valueAlias}}</td>
                        <td><label>Theme</label><br>{{test?.theme}}</td>
                        <td><label>Test Type</label><br>{{test?.testType}}</td>
                        <td><label>Duration</label><br>{{test?.duration}}</td>
                        <td><label>Total Question</label><br>{{test?.totalQs}}</td>
                        <td><label>Total Marks</label><br>{{test?.maxScore}}</td>
                        <td><label>Language</label><br>{{test?.defaultLang}}</td>
                    </tr>
                </tbody>
            </table>
            <div><h4>Sections</h4></div>
            <table class="table">
                <tbody>
                    <tr>
                        <td><label>Title</label></td>
                        <td><label>Total Question</label></td>
                        <td><label>Total Marks</label></td>
                        <td><label>Max. Time</label></td>
                        <td><label>Questions</label></td>
                    </tr>
                    <tr *ngFor="let section of test?.sections; let i=index">
                        <td><b>{{section?.title}}</b></td>
                        <td>{{section?.totalQs}}</td>
                        <td>{{section?.totalMarks}}</td>
                        <td>{{section?.maxTime}}</td>
                        <td>
                            <button class="ek-btn btn-list " (click)="showSectionQsModal(i)">View Questions</button>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</p-sidebar>
<ng-container *ngIf="test && test?.sections?.length>0 && test.sections[secIndex]">
    <p-dialog header="sections Questions - {{test.sections[secIndex].title}}" [(visible)]="displaySectionQsModal" [modal]="true" [width]="1200">
        <div class="row">
            <div class="col-md-12" id="mathload" style="height: 70vh; overflow-y: auto;">
                <div *ngFor="let qsetQuestion of test.sections[secIndex].questions; let i=index">
                    <div class="panel panel-primary panel-profile" [ngClass]="panelLoader">
                        <div class="panel-heading panel-loader">
                            <span><b>Question : {{qsetQuestion?.questionSeqId}} </b></span>
                            <span class=" brooch brooch-success">{{qsetQuestion?.mp}}</span>
                            <span class="brooch brooch-danger">-{{qsetQuestion?.mn}}</span>
                            <!-- <ul class="list-inline pull-right" *ngIf="activeClientConfig?.client == qsetQuestion?.question?.client">
                                <li><a class="ek-btn btn-edit btn-mini "
                                        routerLink="/{{routes}}/qbank/question/edit/{{qsetQuestion?.question?._id}}"
                                        [queryParams]="{qsetId: qset?.id,lang : qsetQuestion?.question?.defaultLang}"><span
                                            class="glyphicon glyphicon-edit"></span></a>
                                </li>
                                <li><a class="ek-btn btn-edit btn-mini" (click)="showQuickEdit(i)">Quick Edit</a>
                                </li>
                            </ul> -->
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" *ngIf="qsetQuestion?.question?.havePassage">
                                    <span [innerHTML]="qsetQuestion?.question?.passage?.passageContent | safeHtml"></span>
                                </div>
                                <div class="col-md-8 col-border-right q-content">
                                    <div *ngIf="qsetQuestion?.question?.qContent"
                                        [innerHTML]="qsetQuestion?.question?.qContent | safeHtml"></div>
                                    <div
                                        *ngIf="qsetQuestion?.question?.qType == 'MCQ' || qsetQuestion?.question?.qType == 'MAQ' || qsetQuestion?.question?.qType == 'ARQ' || qsetQuestion?.question?.qType == 'PTQ'">
                                        <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span
                                                [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml"></span>
                                        </div>
                                        <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span
                                                [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml"></span>
                                        </div>
                                        <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span
                                                [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml"></span>
                                        </div>
                                        <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span
                                                [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml"></span>
                                        </div>
                                        <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span
                                                [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qType == 'MTQ'">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionP"><b>(P) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionP | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionQ"><b>(Q) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionQ | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionR"><b>(R) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionR | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionS"><b>(S) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionS | safeHtml"></span>
                                                </div>
                                                <div *ngIf="qsetQuestion?.question?.qOption?.optionT"><b>(T) </b><span
                                                        [innerHTML]="qsetQuestion?.question?.qOption?.optionT | safeHtml"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-brdr0">
                                        <tbody>
                                            <tr>
                                                <td><label>Question
                                                        Type</label><br /><b>{{qsetQuestion?.question?.qType}}</b></td>
                                                <td><label>Language</label><br /><b>{{qsetQuestion?.question?.defaultLang}}</b>
                                            </tr>
                                            <tr>
                                                <td><label>Course</label><br /><b>{{qsetQuestion?.question?.course?.value}}</b>
                                                </td>
                                                <td><label>Stream</label><br /><b>{{qsetQuestion?.question?.stream?.valueAlias}}</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</ng-container>
<p-dialog header="Order Summary" [(visible)]="displayOrderSummary" modal="true" [width]="800">
    <div class="row  panel-loader" [ngClass]="panelLoader" *ngIf="orderSummary">
        <div class="col-md-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>MRP</th>
                        <th>Sell. Price</th>
                        <th>Discount</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let test of orderSummary?.tests; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{test.title}}</td>
                        <td>{{test.mrp}}</td>
                        <td>{{test.cost}}</td>
                        <td>{{test.discountAmt}}<br><b>{{test.discount}}%</b></td>
                        <td>{{test.totalAmount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Total Amount : </td>
                        <td><b>{{orderSummary?.totalAmount}}</b></td>
                    </tr>
                    <tr>
                        <td>GST (18%) :</td>
                        <td><b>{{(orderSummary?.totalAmount*0.18).toFixed(2)}}</b></td>
                    </tr>
                    <tr>
                        <td>Payable Amount :</td>
                        <td><b>{{(orderSummary?.totalAmount+(orderSummary?.totalAmount*0.18)).toFixed(2)}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 alignC">
            <button type="button" class="btn btn-success" (click)="placeOrder()">Place Order</button>
        </div>
    </div>
</p-dialog>
<p-dialog header="Make Payment" [(visible)]="displayPaymentModal" modal="true" draggable="false" [responsive]="true">
    <div class="row panel-loader" [ngClass]="panelLoader">
        <div class="col-md-12">
            <p>
                Amount in Your Wallet : {{activeClientConfig?.cashBalance?.toFixed(2)||0}}
            </p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Amount to pay</th>
                        <th>{{order?.total}}</th>
                    </tr>

                </thead>
            </table>
            <p style="text-align: center;">
                <ng-container *ngIf="order?.total> (activeClientConfig?.cashBalance || 0) ">
                    Insufficient Balance<br>
                    <a class="btn btn-success" routerLink="/ims/edukit-store"> Add Money</a>
                </ng-container>
                <button class="btn btn-success" (click)="makePayment()"
                    *ngIf="order?.total==activeClientConfig?.cashBalance||activeClientConfig?.cashBalance>order?.total">Proceed
                    to pay</button>
            </p>
        </div>
    </div>
</p-dialog>