<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary panel-profile panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <h3 class="panel-title">{{test?.title}}&nbsp; 
                        <i *ngIf="test?.forSell" title="For Sale" class="fa fa-inr forSell-icon"></i>
                        <i *ngIf="test?.isPurchased" title="Purchased" class="fa fa-shopping-bag" style="color:green"></i>
                    </h3>
                    <ul class="list-inline pull-right">  
                        <ng-container *ngIf="!test?.isPaper">
                            <li *ngIf="userPerms?.VIEW_REPORT"><a class="ek-btn btn-list btn-mini" routerLink="/ims/testment/dashboard/participants" [queryParams]="{testId : test?.id }"><i class="fa fa-file-text-o"></i> Report</a></li>
                            <li *ngIf="userPerms?.VIEW_FEEDBACK"><a class="ek-btn btn-list btn-mini" routerLink="/ims/testment/feedback" [queryParams]="{testId : test?.id}"><i class="fa fa-commenting-o"></i> Feedbacks</a></li>
                        </ng-container>
                        <li *ngIf="userPerms?.PRINT"><a class="ek-btn btn-edit btn-mini" routerLink="{{routes}}/print/{{test?.id}}"><i class="fa fa-print"></i> Print</a></li>                  
                        <li *ngIf="userPerms?.EDIT"><a class="ek-btn btn-edit btn-mini" routerLink="{{routes}}/edit/{{test?.id}}" *ngIf="panelLoader!='deleted'"><span class="glyphicon glyphicon-edit"></span></a></li>
                        <li *ngIf="userPerms?.DELETE"><a class="ek-btn btn-delete btn-mini " (click)="deleteTest(test?.id)" *ngIf="panelLoader!='deleted'"><span class="glyphicon glyphicon-trash"></span></a></li> 
                    </ul>
                </div>
                <div class="panel-body panel-loader table-responsive">
                    <table class="table table-brdr0">
                        <tbody>
                            <tr>
                                <td><label>Title</label><br><b>{{test?.title}}</b></td>
                                <td><label>Course</label><br>{{test?.course?.valueAlias}}</td>
                                <td><label>Stream</label><br>{{test?.stream?.valueAlias}}</td>
                                <td><label>Theme</label><br>{{test?.theme}}</td>
                                <td><label>Test Type</label><br>{{test?.testType}}</td>
                                <td><label>Duration</label><br>{{test?.duration}}</td>
                                <td><label>Total Question</label><br>{{test?.totalQs}}</td>
                                <td><label>Total Marks</label><br>{{test?.maxScore}}</td>
                                <td><label>Language</label><br>{{test?.defaultLang}}</td>
                                <td><label>Calculator</label><br>
                                    <span class=" brooch brooch-success" *ngIf="test?.isCalculator">Active</span>
                                    <span class=" brooch brooch-danger" *ngIf="!test?.isCalculator">In Active</span></td>
                                <td>
                                    <label>Status</label><br>
                                    <span class=" brooch brooch-success" *ngIf="test?.status">Active</span>
                                    <span class=" brooch brooch-danger" *ngIf="!test?.status">In Active</span>
                                </td>
                            </tr>
                            <tr *ngIf="test?.isPaper">
                                <td><label>In Testment</label><br>
                                    <span class="brooch brooch-success" *ngIf="test?.inTM">Active</span>
                                    <span class="brooch brooch-danger" *ngIf="!test?.inTM">In Active</span>
                                </td>
                                <ng-container *ngIf="!test?.isPurchased">
                                    <td><label>For Sell</label><br>
                                        <span class=" brooch brooch-success" *ngIf="test?.forSell">Active</span>
                                        <span class=" brooch brooch-danger" *ngIf="!test?.forSell">In Active</span>
                                    </td>
                                    <td><label>Mrp</label><br>{{test?.mrp}}</td>
                                    <td><label>Cost</label><br>{{test?.cost}}</td>
                                    <td><label>Discount</label><br>{{test?.discount}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                    <div><h4>Sections</h4></div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><label>Title</label></td>
                                <td><label>Total Question</label></td>
                                <td><label>Total Marks</label></td>
                                <td><label>Max. Time</label></td>
                                <td><label>Questions</label></td>
                            </tr>
                            <tr *ngFor="let section of test?.sections; let i=index">
                                <td><b>{{section?.title}} <i *ngIf="section?.isQsetAssigned == true" class="fa fa-check" aria-hidden="true" style="color:#0ed00e"></i></b></td>
                                <td>{{section?.totalQs}}</td>
                                <td>{{section?.totalMarks}}</td>
                                <td>{{section?.maxTime}}</td>
                                <td>
                                    <a class="ek-btn btn-create" *ngIf="section?.isQsetAssigned == false&&userPerms?.CAN_ASSIGN_QSET" (click)="assignQsetDialog(i)">Assign Question Set</a>
                                    <a class="ek-btn btn-success" *ngIf="section?.isQsetAssigned == true&&userPerms?.CAN_ASSIGN_QSET"(click)="assignQsetDialog(i)"><span><i class="fa fa-check" aria-hidden="true"></i></span> Assigned</a>
                                    <button class="ek-btn btn-list " *ngIf="section?.isQsetAssigned == true&&userPerms?.CAN_VIEW_ASSIGNED_QSET" routerLink="/ims/qbank/qset/view" [queryParams]="{qsetId: section?.qset}">View</button>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p-dialog header="Assign Question Set" [(visible)]="display" [modal]="true">
                <table class="table table-brdr0">
                        <tbody>
                            <tr>
                                <td><label>Course : </label></td>
                                <td> 
                                    <select name="" #qCourse id="qsetCourse" class="form-control" >
                                        <option value="null"  >Select Qset Course</option>
                                        <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                 <td><label>Stream : </label></td>
                                <td>
                                    <select name="" #qstream id="quesStream" class="form-control" (change)=setTitle(qstream.value,qCourse.value) >
                                        <option value="null">Select Qset Stream</option>
                                        <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Title : </label></td>
                                <td>
                                    <select class="form-control"#qsetId  >
                                        <option value="null" *ngIf="!qsetTitles" >Loading Titles...</option>
                                        <option value="null" *ngIf="qsetTitles" >Select Qset Title</option>
                                        <option value="{{qset.id}}" *ngFor="let qset of qsetTitles">{{qset.title}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-primary pull-right" (click)="assignQset(qsetId.value)">Assign</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </p-dialog>
    </div>
</div>

