<ng-container *ngIf="formSettings&&formSettings?.firstName&& studentRegForm&& studentRegForm?.controls">
    <form class="form" [formGroup]="studentRegForm" *ngIf="activeStep===1" (ngSubmit)="processOrderToStep2()" [ngClass]="validationError">
        <fieldset class="single-product-form product-form-group">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="center">Centre/Branch<sup>*</sup> </label>
                        <select class="form-control" id="center" placeholder="Select Center" (change)="loadSessions()"
                            formControlName="center">
                            <option value="">Select Centre</option>
                            <option value="{{center.id}}" *ngFor="let center of centers; let i=index">{{center.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="session">Session<sup>*</sup> </label>
                        <select class="form-control" id="session" placeholder="Select Session" (change)="loadCourse()"
                            formControlName="session">
                            <option value="">Select Session</option>
                            <option value="{{session.id}}" *ngFor="let session of sessions; let i=index">{{session.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="course">Course<sup>*</sup> </label>
                        <select class="form-control" id="course" placeholder="Select Course" (change)="loadStreams()"
                            formControlName="course">
                            <option value="">Select Course</option>
                            <option value="{{course.id}}" *ngFor="let course of courses; let i=index">{{course.valueAlias}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="stream">Stream<sup>*</sup> </label>
                        <select class="form-control" id="stream" placeholder="Select Stream" (change)="loadProductTypes()"
                            formControlName="stream">
                            <option value="">Select Stream</option>
                            <option value="{{stream.id}}" *ngFor="let stream of streams; let i=index">{{stream.valueAlias}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="productType">Program Type<sup>*</sup> </label>
                        <select class="form-control" id="productType" placeholder="Program" (change)="loadProducts()"
                            formControlName="productType">
                            <option value="">Select Program Type</option>
                            <option value="{{pt.id}}" *ngFor="let pt of productTypes; let i=index">{{pt.valueAlias}}</option>
                        </select>
                    </div>
                </div>
                
               
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="product">Program/Package<sup>*</sup> </label>
                        <select class="form-control" id="product" #prdct placeholder="Select Product" (change)="onProductChanged(prdct.value)" (click)="checkProductDepParams()"
                              formControlName="product">
                            <option value="">Select Program Package</option>
                            <option value="{{i}}" *ngFor="let product of products; let i=index">{{product.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8 table-responsive"  *ngIf="selectedProduct&&selectedProduct?.customParam&&selectedProduct.customParam?.haveRelatedProduct">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <ng-container>
                                    <th colspan="7">
                                        {{selectedProduct?.valueAlias}} Packages/Individual Product
                                        <br>
                                        <span style="font-weight: 500;font-size: 11px;">
                                            <b style="font-size: 12px;">Note :</b>Make your own package selecting any product(s) from the
                                            Product List.
                                        </span>
                                        <!-- <span style="font-weight: 500;font-size: 11px;">
                                            <b style="font-size: 12px;">Note :</b>Make your own package selecting any 8 subjects from the
                                            Subject List  and get a discount of Rs. 5000/- on total and also free
                                            enrollment in GS & Engineering Aptitude Batch.
                                        </span> -->
                                    </th>
                                </ng-container>
                                <ng-container *ngIf="selectedProductType?.id=='3030707264637474636f6e65'">
                                    <th colspan="7">
                                        {{selectedProductType?.valueAlias}} Packages/Individual Test
                                        <br>
                                        <span style="font-weight: 500;font-size: 11px;">
                                            <b style="font-size: 12px;">Note :</b>Make package selecting any 1 or more tests from
                                            the Test List.
                                        </span>

                                    </th>
                                </ng-container>
                            </tr>
                            <tr>
                                <th width="35px">SNO</th>
                                <th>Product</th>
                                <th>Type</th>
                                <th class="alignR" width="70px">Price</th>
                                <th width="90px">Buy</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let product of allRelatedProducts; let i=index" [ngClass]="(product.isCombo?'swip-package':'')">
                                <td>{{i+1}}.</td>
                                <td>{{product.title}}</td>
                                <td>
                                    {{product?.type?.valueAlias}}
                                </td>
                                <!-- <td class="swip-dt">
                                    <p *ngIf="!product.isCombo">{{product.description}}</p>
                                    <p *ngIf="product.isCombo">
                                        <button type="button" class="btn btn-xs btn-default" (click)="showProductStrucutre(i)">View Schedule</button>
                                    </p>
                                </td> -->
                                <td class="alignR">
                                    <ng-container *ngIf="product.mrp!=product.cost">
                                        <span class="strikethrough">
                                            <i class="fa fa-inr"></i> {{product.mrp}}</span>
                                        <br>
                                    </ng-container>
                                    <i class="fa fa-inr"></i> {{product.cost}}</td>
                                <td >
                                    <button class="btn btn-xs btn-info" (click)="addProductToCart(i)" *ngIf="addedProducts.indexOf(i)==-1">Select</button>
                                    <button class="btn btn-xs btn-success" *ngIf="addedProducts.indexOf(i)>-1">Added</button>&nbsp;
                                    <i class="fa fa-close fa-1x" (click)="removeCartProduct(i)" *ngIf="addedProducts.indexOf(i)>-1" title="Remove "></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="alignR">Sub Total ( <b>added Products Total</b> + <b>Main Product cost</b>):
                        <i class="fa fa-inr"></i> <b>{{cartTotal||0 }} </b> + <b> {{convertToFloat(selectedProduct.cost)}}</b>
                            =
                            <i class="fa fa-inr"></i> <b>{{setTotal(cartTotal||0,selectedProduct.cost)||0}}</b></p>
                    <!-- <p class="alignR">Discount:
                        <i class="fa fa-inr"></i> {{discountAmt}}</p> -->
                    
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="selectedProduct?.haveBatch">
                    <div class="form-group">
                        <label for="batch">Batch<sup>*</sup> </label>
                        <select class="form-control" id="batch" placeholder="Select batch" formControlName="batch">
                            <option value="">Select Batch</option>
                            <option value="{{i}}" *ngFor="let batch of selectedProduct.batches; let i=index">{{batch.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="product">Program/Package<sup>*</sup> </label>
                    <select class="form-control" id="product" placeholder="Select Product" (click)="checkProductDepParams()" formControlName="product">
                        <option value="">Select Program Package</option>
                        <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.title}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="product">Program/Package<sup>*</sup> </label>
                    <select class="form-control" id="product" placeholder="Select Product" (click)="checkProductDepParams()" formControlName="product">
                        <option value="">Select Program Package</option>
                        <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.title}}</option>
                    </select>
                </div>
            </div> -->
            </div>

        </fieldset>
        <fieldset formGroupName="user">
            <p-fieldset legend="PERSONAL DETAILS" [toggleable]="true">
                <div class="row">
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.firstName&&formSettings?.firstName?.display">
                        <div class="form-group">
                            <label for="fname">First Name<sup>*</sup> </label>
                            <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="firstName">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.middleName&&formSettings?.middleName?.display">
                        <div class="form-group">
                            <label for="mName">Middle Name </label>
                            <input type="text" class="form-control" id="mName" placeholder="Middle Name"
                                formControlName="middleName">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.lastName&&formSettings?.lastName?.display">
                        <div class="form-group">
                            <label for="lname">Last Name </label>
                            <input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lastName">
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.aadhaarNo&&formSettings?.aadhaarNo?.display">
                        <div class="form-group">
                            <label for="aadhaarNo">Aadhaar No </label>
                            <input type="text" minlength="12" maxlength="12" class="form-control" id="aadhaarNo"
                                placeholder="Aadhaar No" formControlName="aadhaarNo">
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.email&&formSettings?.email?.display">
                        <div class="form-group">
                            <label for="email">Email </label>
                            <input type="text" class="form-control" id="email" placeholder="Email ID" formControlName="email" disabled>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mobile&&formSettings?.mobile?.display">
                        <div class="form-group">
                            <label for="mobile">Mobile<sup>*</sup> </label>
                            <input type="text" maxlength="10" class="form-control" id="mobile" placeholder="Mobile Number (10 Digit)"
                                formControlName="mobile">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.gender&&formSettings?.gender?.display">
                        <div class="form-group">
                            <label for="gender">Gender </label>
                            <select #gender class="form-control" id="gender" placeholder="Gender" formControlName="gender">
                                <option value="null">Select Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.dob&&formSettings?.dob?.display">
                        <div class="form-group">
                            <label for="dob">Date of Birth </label>
                            <p-calendar id="dob" class="form-control ngp-date" formControlName="dob" dateFormat="dd/mm/yy"></p-calendar>

                            <!-- <input #dob type="text" #dob  id="dob" placeholder="Date of  Birth " formControlName="dob" (keypress)="(dob.value.length>1?(gender.focus()):'')"> -->
                            <!-- <my-date-picker name="dob" id="dob" [options]="myDatePickerOptions" [placeholder]="'DD/MM/YYYY'" formControlName="dob"></my-date-picker> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.category&&formSettings?.category?.display">
                        <div class="form-group">
                            <label for="category">Category </label>
                            <select class="form-control" id="category" placeholder="Category" formControlName="category">
                                <option value="null">Select Category</option>
                                <option value="GENERAL">General</option>
                                <option value="OBC">OBC</option>
                                <option value="SC">SC</option>
                                <option value="ST">ST</option>
                                <option value="PH">PH</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.motherTongue&&formSettings?.motherTongue?.display">
                        <div class="form-group">
                            <label for="motherTongue">Mother Tongue </label>
                            <select class="form-control" id="motherTongue" placeholder="motherTongue" formControlName="motherTongue">
                                <option value="null">Select Mother Tongue</option>
                                <option value="HINDI">Hindi</option>
                                <option value="ENGLISH">English</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.languageKnown&&formSettings?.languageKnown?.display">
                        <div class="form-group">
                            <label for="languageKnown">Language Known </label>
                            <select class="form-control" id="languageKnown" placeholder="languageKnown" formControlName="languageKnown">
                                <option value="null">Select Language Known</option>
                                <option value="HINDI">Hindi</option>
                                <option value="ENGLISH">English</option>
                                <option value="BOTH">Both</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.urbanOrRural&&formSettings?.urbanOrRural?.display">
                        <div class="form-group">
                            <label for="urbanOrRural">Rural/Urban </label>
                            <select class="form-control" id="urbanOrRural" placeholder="urbanOrRural" formControlName="urbanOrRural">
                                <option value="null">Select Rural/Urban</option>
                                <option value="RURAL">Rural</option>
                                <option value="URBAN">Urban</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.religion&&formSettings?.religion?.display">
                        <div class="form-group">
                            <label for="religion">Religion </label>
                            <select class="form-control" id="religion" placeholder="religion" formControlName="religion">
                                <option value="null">--Select --</option>
                                <option value="HINDU">Hindu</option>
                                <option value="MUSLIM">Muslim</option>
                                <option value="CHRISTIAN">Christian</option>
                                <option value="SIKH">Sikh</option>
                                <option value="BUDDHIST">Buddhist</option>
                                <option value="PARSI">Parsi</option>
                                <option value="JAIN">Jain</option>
                                <option value="OTHERS">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.nationality&&formSettings?.nationality?.display">
                        <div class="form-group">
                            <label for="nationality">Nationality </label>
                            <select class="form-control" id="nationality" placeholder="nationality" formControlName="nationality">
                                <option value="null">Select Nationality</option>
                                <option value="INDIAN">Indian</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.bloodGroup&&formSettings?.bloodGroup?.display">
                        <div class="form-group">
                            <label for="bloodGroup">Blood Group </label>
                            <select class="form-control" id="bloodGroup" placeholder="bloodGroup" formControlName="bloodGroup">
                                <option value="null">Select blood Group</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="formSettings?.distanceFromSchool&&formSettings?.distanceFromSchool?.display">
                        <div class="form-group">
                            <label for="distanceFromSchool">Distance From School </label>
                            <input type="text" class="form-control" id="distanceFromSchool" placeholder="distance From School (in KM)"
                                formControlName="distanceFromSchool">
                        </div>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset legend="FATHER DETAILS" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.father?.display">
                <fieldset formGroupName="father">
                    <div class="row" *ngIf="formSettings?.father?.fields">
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.name&&formSettings?.father?.fields?.name?.display">
                            <div class="form-group">
                                <label for="fatherName">Father's Name<sup>*</sup> </label>
                                <input type="text" class="form-control" id="fatherName" placeholder="Father's Name"
                                    formControlName="name">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.mobile&&formSettings?.father?.fields?.mobile?.display">
                            <div class="form-group">
                                <label for="fMobile">Father's Mobile<sup>*</sup> </label>
                                <input type="text" class="form-control" maxlength="10" id="fMobile" placeholder="Father's Contact Number"
                                    formControlName="mobile">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.email&&formSettings?.father?.fields?.email?.display">
                            <div class="form-group">
                                <label for="fEmail">Father's Email </label>
                                <input type="text" class="form-control" id="fEmail" placeholder="Father's Email Address"
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.aadhaarNo&&formSettings?.father?.fields?.aadhaarNo?.display">
                            <div class="form-group">
                                <label for="fAadhaarNo">Aadhaar No </label>
                                <input type="text" minlength="12" maxlength="12" class="form-control" id="fAadhaarNo"
                                    placeholder="Aadhaar No" formControlName="aadhaarNo">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.age&&formSettings?.father?.fields?.age?.display">
                            <div class="form-group">
                                <label for="fAge">Father's Age </label>
                                <input type="text" class="form-control" id="fAge" placeholder="Father's Age"
                                    formControlName="age">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.qualification&&formSettings?.father?.fields?.qualification?.display">
                            <div class="form-group">
                                <label for="fQualification">Father's Qualification </label>
                                <input type="text" class="form-control" id="fQualification" placeholder="Father's qualification"
                                    formControlName="qualification">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.occupation&&formSettings?.father?.fields?.occupation?.display">
                            <div class="form-group">
                                <label for="fOccupation">Father's Occupation </label>
                                <input type="text" class="form-control" id="fOccupation" placeholder="Father's Occupation"
                                    formControlName="occupation">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.designation&&formSettings?.father?.fields?.designation?.display">
                            <div class="form-group">
                                <label for="fDesignation">Father's Designation </label>
                                <input type="text" class="form-control" id="fDesignation" placeholder="Father's designation"
                                    formControlName="designation">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.annualIncome&&formSettings?.father?.fields?.annualIncome?.display">
                            <div class="form-group">
                                <label for="fAnnualIncome">Father's Annual Income </label>
                                <input type="text" class="form-control" id="fAnnualIncome" placeholder="Father's Annual Income"
                                    formControlName="annualIncome">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.officeAddress&&formSettings?.father?.fields?.officeAddress?.display">
                            <div class="form-group">
                                <label for="fOfficeAddress">Father's Office Address </label>
                                <input type="text" class="form-control" id="fOfficeAddress" placeholder="Father's office Address"
                                    formControlName="officeAddress">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.nationality&&formSettings?.father?.fields?.nationality?.display">
                            <div class="form-group">
                                <label for="fNationality">Nationality </label>
                                <select class="form-control" id="fNationality" placeholder="nationality"
                                    formControlName="nationality">
                                    <option value="null">Select Nationality</option>
                                    <option value="INDIAN">Indian</option>
                                    <option value="OTHER">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields?.photo&&formSettings?.father?.fields?.photo?.display">
                            <p>Passport Size photo </p>
                            <p><img src="{{studentRegForm.value?.user?.father?.photo}}" alt="Father Passport Size Photo"
                                    title="Your Father Passport size photo 140*140" class="img-thumbnail pp-photo"></p>
                            <!-- <p><input id="personalImg" type="file" (change)="upload('personalImg')"></p> -->
                            <p>
                                <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'"
                                    formControlName="photo"></ek-fileinput>
                            </p>
                        </div>
                    </div>
                </fieldset>
            </p-fieldset>

            <p-fieldset legend="MOTHER DETAILS" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.mother?.display">
                <fieldset formGroupName="mother">
                    <div class="row" *ngIf="formSettings?.mother?.fields">
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.name&&formSettings?.mother?.fields?.name?.display">
                            <div class="form-group">
                                <label for="motherName">Mother's Name<sup>*</sup> </label>
                                <input type="text" class="form-control" id="motherName" placeholder="Mother's Name"
                                    formControlName="name">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.mobile&&formSettings?.mother?.fields?.mobile?.display">
                            <div class="form-group">
                                <label for="mMobile">Mother's Mobile </label>
                                <input type="text" class="form-control" maxlength="10" id="mMobile" placeholder="Mother's Contact Number"
                                    formControlName="mobile">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.email&&formSettings?.mother?.fields?.email?.display">
                            <div class="form-group">
                                <label for="mEmail">Mother's Email </label>
                                <input type="text" class="form-control" id="mEmail" placeholder="Mother's Email Address"
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.aadhaarNo&&formSettings?.mother?.fields?.aadhaarNo?.display">
                            <div class="form-group">
                                <label for="mAadhaarNo">Aadhaar No </label>
                                <input type="text" minlength="12" maxlength="12" class="form-control" id="mAadhaarNo"
                                    placeholder="Aadhaar No" formControlName="aadhaarNo">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.age&&formSettings?.mother?.fields?.age?.display">
                            <div class="form-group">
                                <label for="mAge">Mother's Age </label>
                                <input type="text" class="form-control" id="mAge" placeholder="Mother's Age"
                                    formControlName="age">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.qualification&&formSettings?.mother?.fields?.qualification?.display">
                            <div class="form-group">
                                <label for="mQualification">Mother's Qualification </label>
                                <input type="text" class="form-control" id="mQualification" placeholder="Mother's qualification"
                                    formControlName="qualification">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.occupation&&formSettings?.mother?.fields?.occupation?.display">
                            <div class="form-group">
                                <label for="mOccupation">Mother's Occupation </label>
                                <input type="text" class="form-control" id="mOccupation" placeholder="Mother's Occupation"
                                    formControlName="occupation">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.designation&&formSettings?.mother?.fields?.designation?.display">
                            <div class="form-group">
                                <label for="mDesignation">Mother's Designation </label>
                                <input type="text" class="form-control" id="mDesignation" placeholder="Mother's designation"
                                    formControlName="designation">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.annualIncome&&formSettings?.mother?.fields?.annualIncome?.display">
                            <div class="form-group">
                                <label for="mAnnualIncome">Mother's Annual Income </label>
                                <input type="text" class="form-control" id="mAnnualIncome" placeholder="Mother's Annual Income"
                                    formControlName="annualIncome">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.officeAddress&&formSettings?.mother?.fields?.officeAddress?.display">
                            <div class="form-group">
                                <label for="mOfficeAddress">Mother's Office Address </label>
                                <input type="text" class="form-control" id="mOfficeAddress" placeholder="Mother's office Address"
                                    formControlName="officeAddress">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.nationality&&formSettings?.mother?.fields?.nationality?.display">
                            <div class="form-group">
                                <label for="nationality">Nationality </label>
                                <select class="form-control" id="nationality" placeholder="nationality" formControlName="nationality">
                                    <option value="null">Select Nationality</option>
                                    <option value="INDIAN">Indian</option>
                                    <option value="OTHER">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.mother?.fields?.photo&&formSettings?.mother?.fields?.photo?.display">
                            <p>Passport Size photo </p>
                            <p><img src="{{studentRegForm.value?.user?.mother?.photo}}" alt="Mother Passport Size Photo"
                                    title="Your Father Passport size photo 140*140" class="img-thumbnail pp-photo"></p>
                            <!-- <p><input id="personalImg" type="file" (change)="upload('personalImg')"></p> -->
                            <p>
                                <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'"
                                    formControlName="photo"></ek-fileinput>
                            </p>
                        </div>
                    </div>
                </fieldset>
            </p-fieldset>
            <p-fieldset legend="SIBLING DETAILS" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.siblings?.display">
                <div class="col-md-12" style="text-align:right">
                    <span class="alignR">
                        <button class="ek-btn btn-create" (click)="createSiblingByInput(1)"> <i class="fa fa-plus"></i>
                            add Sibling</button>
                    </span>
                </div>
                <fieldset class="col-md-12" formArrayName="siblings">

                    <div class="row" *ngFor="let siblingItem of siblings?.controls; let i=index">
                        <div [formGroupName]="i">
                            <div class="col-md-12">Sibling {{i+1}}</div>
                            <div class="col-md-4">
                                <label for="">Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="name" name="" id="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="">Age</label>
                                <div class="form-group">
                                    <input type="number" min="1" max="30" class="form-control" formControlName="age"
                                        name="" id="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="">Institution</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="institute" name="" id="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="">Standard</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="standard" name="" id="">
                                </div>
                            </div>
                            <div class="col-md-1" *ngIf="i>1">
                                <button class="ek-btn btn-delete" (click)="removeSibling(i)"><i class="fa fa-remove"></i></button>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </p-fieldset>
            <p-fieldset legend="ADDRESS DETAILS" [collapsed]="true" [toggleable]="true" *ngIf="formSettings&&formSettings?.address&&formSettings?.address?.display&&formSettings?.address?.fields">
                <fieldset formGroupName="address" *ngIf="formSettings?.address?.fields?.address&&formSettings?.address?.fields?.address?.display">
                    <h3 class="frm-subheading">Correspondence Address</h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="address">Address<sup>*</sup> </label>
                                <textarea rows="3" class="form-control" id="address" placeholder="Address"
                                    formControlName="address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="landmark">Landmark<sup>*</sup> </label>
                                <input type="text" class="form-control" id="landmark" placeholder="Nearby landmark"
                                    formControlName="landmark" [required]="formSettings?.address?.fields?.address&&formSettings?.address?.fields?.address?.mandatory">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="city">City<sup>*</sup> </label>
                                <input type="text" class="form-control" id="city" placeholder="City" formControlName="city"
                                    [required]="formSettings?.address?.fields?.address&&formSettings?.address?.fields?.address?.mandatory">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="state">State<sup>*</sup> </label>
                                <input type="text" class="form-control" id="state" placeholder="State" formControlName="state"
                                    [required]="formSettings?.address?.fields?.address&&formSettings?.address?.fields?.address?.mandatory">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="pin">Postal Code (PIN)<sup>*</sup> </label>
                                <input type="text" class="form-control" id="pin" placeholder="Pincode (6 Digit)"
                                    formControlName="postalCode" [required]="formSettings?.address?.fields?.address&&formSettings?.address?.fields?.address?.mandatory">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset formGroupName="permanantAddress" *ngIf="formSettings?.address?.fields?.permanentAddress&&formSettings?.address?.fields?.permanentAddress?.display">
                    <h3 class="frm-subheading">PERMANENT ADDRESS <span class="same-adrs-opt"><input #adrsOpt type="checkbox"
                                (change)="setAddressSimilarity($event)"> Same as correspondence?</span></h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="address">Address </label>
                                <textarea rows="3" class="form-control" id="address" placeholder="Address"
                                    formControlName="address"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="landmark">Landmark</label>
                                <input type="text" class="form-control" id="landmark" placeholder="Nearby landmark"
                                    formControlName="landmark">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="pin">Postal Code (PIN)</label>
                                <input type="text" class="form-control" id="pin" placeholder="Pincode (6 Digit)"
                                    formControlName="postalCode">
                            </div>
                        </div>
                    </div>

                </fieldset>
            </p-fieldset>
            <p-fieldset legend="ACADEMIC DETAILS" [collapsed]="true" [toggleable]="true" *ngIf="formSettings&&formSettings?.pastCourses&&formSettings?.pastCourses?.display&&formSettings?.pastCourses?.fields">
                <div formArrayName="pastCourses">
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Name of Institute/City</th>
                                    <th>Passing Year</th>
                                    <th>% Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [formGroupName]="i" *ngFor="let pastCrs of pastCrses; let i=index">
                                    <th><input type="text" class="form-control" id="psclg{{i}}" placeholder="Course Name"
                                            formControlName="course"> </th>
                                    <td style="width:40%"><input type="text" class="form-control" id="psclg{{i}}"
                                            placeholder="College Name" formControlName="college"></td>
                                    <td><input type="text" class="form-control" id="psyr{{i}}" placeholder="Year of course"
                                            formControlName="year"></td>
                                    <td><input type="text" class="form-control" id="psmarks{{i}}" placeholder="Marks"
                                            formControlName="marks"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </p-fieldset>
            <p-fieldset legend="Ex Student Of Institute" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.exStudent&&formSettings?.exStudent?.display">
                    <p>Are you old Student of Institute* : : <input [(ngModel)]="isExStd" name="isExStd" [ngModelOptions]="{standalone: true}" (click)="setExStudent('mandatory')" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="isExStd" [(ngModel)]="isExStd" (click)="setExStudent('optional')" [ngModelOptions]="{standalone: true}"
                        [value]="false"> No</p>
                <fieldset *ngIf="isExStd" formGroupName="exStudent">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="exsrn">Enrollment Number</label>
                                <input type="text" class="form-control" id="exsrn" placeholder="Last year Enrollment Number"
                                    formControlName="srn">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="exsession">Session Year</label>
                                <input type="text" class="form-control" id="exsession" placeholder="Session Year"
                                    formControlName="session">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="exProgram">Program</label>
                                <input type="text" class="form-control" id="exProgram" placeholder="Session Year"
                                    formControlName="program">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="idProof">ID Proof</label>
                                <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'"
                                    formControlName="idProof"></ek-fileinput>
                                <!-- <input type="file" id="idProof" placeholder="ID Proof" (change)="upload('idProof')"> -->
                            </div>
                        </div>
                    </div>

                </fieldset>
            </p-fieldset>
            <p-fieldset legend="PHOTOS" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.personalImg&&formSettings?.personalImg.display">
                <div class="row">
                    <div class="col-md-4">
                        <p>{{(formSettings?.signImg?.label?formSettings?.signImg?.label:'Passport Size photo')}}<sup *ngIf="formSettings?.personalImg?.mandatory">*</sup> </p>
                        <p><img src="{{studentRegForm.value?.user.personalImg}}" alt="Student Passport Size Photo"
                                title="Your Passport size photo 140*140" class="img-thumbnail pp-photo"></p>
                        <!-- <p><input id="personalImg" type="file" (change)="upload('personalImg')"></p> -->
                        <p>
                            <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'"
                                formControlName="personalImg"></ek-fileinput>
                        </p>
                    </div>
                    <div class="col-md-4" *ngIf="formSettings&&formSettings?.signImg&&formSettings?.signImg.display">
                        <p>{{(formSettings?.signImg?.label?formSettings?.signImg?.label:'Signature photo')}}<sup *ngIf="formSettings?.signImg?.mandatory">*</sup> </p>
                        <p><img src="{{studentRegForm.value?.user.signImg}}" alt="Signature Photo" title="Student Signature photo 140*80"
                                class="img-thumbnail sign-photo"></p>
                        <p>
                            <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'"
                                formControlName="signImg"></ek-fileinput>
                        </p>
                        <!-- <p><input type="file" id="signImg" (change)="upload('signImg')"></p> -->
                    </div>
                    <div class="col-md-4" *ngIf="formSettings&&formSettings?.idProof&&formSettings?.idProof.display">
                        <p>{{(formSettings?.idProof?.label?formSettings?.idProof?.label:'ID Proof')}}<sup *ngIf="formSettings?.idProof?.mandatory">*</sup> </p>
                        <p><img src="{{studentRegForm.value?.user.idProof}}" alt="ID Proof" title="Student ID Proof 140*80"
                                class="img-thumbnail pp-photo"></p>
                        <p>
                            <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'"
                                formControlName="idProof"></ek-fileinput>
                        </p>
                        <!-- <p><input type="file" id="signImg" (change)="upload('signImg')"></p> -->
                    </div>

                </div>
            </p-fieldset>
            <p-fieldset legend="MEDICAL HISTORY" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.medicalHistory&&formSettings?.medicalHistory?.display">
                <fieldset formGroupName="medicalHistory">
                    <div class="row" formGroupName="birthHistory" *ngIf="formSettings?.medicalHistory?.birthHistory&&formSettings?.medicalHistory?.birthHistory?.fields">
                        <div class="col-md-12">
                            <h3 style="    background: #dede;padding: 10px;">Birth History</h3>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.birthHistory?.fields?.birthDetail&&formSettings?.medicalHistory?.birthHistory?.fields?.birthDetail?.display">
                            <div class="form-group">
                                <label for="birthDetail"> Birth Detail</label>
                                <select formControlName="birthDetail" id="" class="form-control">
                                    <option value="null">Select Birth Detail</option>
                                    <option value="NORMAL">Normal</option>
                                    <option value="CAESARIAN">Caesarian</option>
                                    <option value="FORCEPS">Forceps</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.birthHistory?.fields?.birthCry&&formSettings?.medicalHistory?.birthHistory?.fields?.birthCry?.display">
                            <div class="form-group">
                                <label for="birthCry">Birth Cry<sup>*</sup> </label>
                                <select formControlName="birthCry" id="" class="form-control">
                                    <option value="null">Select Birth Cry</option>
                                    <option value="IMMEDIATE">Immediate</option>
                                    <option value="DELAYED">Delayed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.birthHistory?.fields?.dischargeInDays&&formSettings?.medicalHistory.birthHistory?.fields?.dischargeInDays?.display">
                            <div class="form-group">
                                <label for="dischargeInDays">Discharge from Hospital (In Days)<sup>*</sup> </label>
                                <input type="number" min="1" class="form-control" id="dischargeInDays" formControlName="dischargeInDays">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.birthHistory?.fields?.specialCare&&formSettings?.medicalHistory.birthHistory?.fields?.specialCare?.display">
                            <div class="form-group">
                                <label for="">Special Care Given In Hospital</label>
                                <input type="radio" formControlName="specialCare" value="YES"> &nbsp;YES &nbsp;&nbsp;<input
                                    type="radio" formControlName="specialCare" value="NO" id=""> &nbsp;NO
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="studentRegForm?.value?.user?.medicalHistory?.birthHistory?.specialCare=='YES'">
                            <div class="form-group">
                                <label for="">If Yes, </label>
                                <input type="radio" formControlName="ifNICU" value="NICU"> &nbsp;NICU &nbsp;&nbsp;<input
                                    type="radio" formControlName="ifNICU" value="EXTENDED" id=""> &nbsp;Ex tended
                                hospital stay
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="studentRegForm?.value?.user?.medicalHistory?.birthHistory?.specialCare=='YES'">
                            <div class="form-group">
                                <label for="">Explain </label>
                                <input type="text" formControlName="explaination" value="explain" minlength="5" class="form-control"
                                    [required]="(studentRegForm?.value?.user?.medicalHistory?.birthHistory?.specialCare=='YES'?true:false)">
                            </div>
                        </div>

                    </div>
                    <div class="row" formGroupName="hearing" *ngIf="formSettings?.medicalHistory?.hearing&&formSettings?.medicalHistory?.hearing?.display&&formSettings?.medicalHistory?.hearing?.fields">
                        <div class="col-md-12">
                            <h3 style="    background: #dede;padding: 10px;">Hearing</h3>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.hearing?.fields?.difficulty">
                            <div class="form-group">
                                <label for="">Any difficulty observed :</label>
                                <input type="radio" formControlName="difficulty" value="YES"> &nbsp;Yes &nbsp;&nbsp;<input
                                    type="radio" formControlName="difficulty" value="No" id=""> &nbsp;No
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.hearing?.fields?.consultation">
                            <div class="form-group">
                                <label for="">Any Consultation with doctor done :</label>
                                <input type="radio" formControlName="consultation" value="YES"> &nbsp;Yes &nbsp;&nbsp;<input
                                    type="radio" formControlName="consultation" value="No" id=""> &nbsp;No
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="studentRegForm?.value?.user?.medicalHistory?.hearing?.consultation=='YES'">
                            <div class="form-group">
                                <label for="">if Yes, Explain :</label>
                                <input type="text" class="form-control" formControlName="explaination" [required]="studentRegForm?.value?.user?.medicalHistory?.hearing?.consultation=='YES'">
                            </div>
                        </div>
                    </div>
                    <div class="row" formGroupName="vision" *ngIf="formSettings?.medicalHistory?.vision&&formSettings?.medicalHistory?.vision?.display&&formSettings?.medicalHistory?.vision?.fields">
                        <div class="col-md-12">
                            <h3 style="    background: #dede;padding: 10px;">Vision</h3>
                        </div>

                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.vision?.fields?.difficulty">
                            <div class="form-group">
                                <label for="">Use of Spectacles/Corrective Lenses:</label>
                                <input type="radio" formControlName="useLenses" value="YES"> &nbsp;Yes &nbsp;&nbsp;<input
                                    type="radio" formControlName="difficulty" value="No" id=""> &nbsp;No
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.medicalHistory?.vision?.fields?.consultation">
                            <div class="form-group">
                                <label for="">Any Consultation with doctor done :</label>
                                <input type="radio" formControlName="consultation" value="YES"> &nbsp;Yes &nbsp;&nbsp;<input
                                    type="radio" formControlName="consultation" value="No" id=""> &nbsp;No
                            </div>
                        </div>
                    </div>
                    <div class="row" formGroupName="motorMileStone" *ngIf="formSettings?.medicalHistory?.motorMileStone&&formSettings?.medicalHistory?.motorMileStone?.display&&formSettings?.medicalHistory?.motorMileStone?.fields">
                        <div class="col-md-12">
                            <h3 style="    background: #dede;padding: 10px;">Motor Mile Stones (Approx in Months)</h3>
                        </div>
                        <div class="col-md-3 col-xs-12" *ngIf="formSettings?.medicalHistory?.motorMileStone?.fields?.sitting&&formSettings?.medicalHistory?.motorMileStone?.fields?.sitting?.display">
                            <div class="form-group">
                                <label for="">Sitting:</label>
                                <input type="text" class="form-control" formControlName="sitting">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12" *ngIf="formSettings?.medicalHistory?.motorMileStone?.fields?.standing&&formSettings?.medicalHistory?.motorMileStone?.fields?.standing?.display">
                            <div class="form-group">
                                <label for="">Standing:</label>
                                <input type="text" class="form-control" formControlName="standing">
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-12" *ngIf="formSettings?.medicalHistory?.motorMileStone?.fields?.walking&&formSettings?.medicalHistory?.motorMileStone?.fields?.walking?.display">
                            <div class="form-group">
                                <label for="">Walking:</label>
                                <input type="text" class="form-control" formControlName="walking">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12" *ngIf="formSettings?.medicalHistory?.motorMileStone?.fields?.speech&&formSettings?.medicalHistory?.motorMileStone?.fields?.speech?.display">
                            <div class="form-group">
                                <label for="">speech:</label>
                                <input type="text" class="form-control" formControlName="speech">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="formSettings?.medicalHistory?.motorMileStone?.fields?.medicationForMedicalCondition&&formSettings?.medicalHistory?.motorMileStone?.fields?.medicationForMedicalCondition?.display">
                            <div class="form-group">
                                <label for="">Medication For Medical Condition:</label>
                                <input type="text" class="form-control" formControlName="medicationForMedicalCondition">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="formSettings?.medicalHistory?.motorMileStone?.fields?.medicationForWellBeing&&formSettings?.medicalHistory?.motorMileStone?.fields?.medicationForWellBeing?.display">
                            <div class="form-group">
                                <label for="">Medication For Well Being:</label>
                                <input type="text" class="form-control" formControlName="medicationForWellBeing">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="formSettings?.medicalHistory?.motorMileStone?.fields?.medicationForAlergy&&formSettings?.medicalHistory?.motorMileStone?.fields?.medicationForAlergy?.display">
                            <div class="form-group">
                                <label for="">Medication For Alergy:</label>
                                <input type="text" class="form-control" formControlName="medicationForAlergy">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </p-fieldset>
            <p-fieldset legend="EMERGENCY CONTACT" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.emergencyContact&&formSettings?.emergencyContact?.display&&formSettings?.emergencyContact?.fields">
                <fieldset formGroupName="emergencyContact" *ngIf="formSettings?.mother?.fields">
                    <div class="row">
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.emergencyContact?.fields?.name&&formSettings?.emergencyContact?.fields?.name?.display">
                            <div class="form-group">
                                <label for="emergencyContactName">Name<sup>*</sup> </label>
                                <input type="text" class="form-control" id="emergencyContactName" placeholder="Emergency Contact Person Name"
                                    formControlName="name">
                            </div>

                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.emergencyContact?.fields?.mobile&&formSettings?.emergencyContact?.fields?.mobile?.display">
                            <div class="form-group">
                                <label for="emergencyContactMobile">Mobile Number<sup>*</sup> </label>
                                <input type="text" maxlength="10" class="form-control" id="emergencyContactMobile"
                                    placeholder="Emergency Contact Person Name" formControlName="mobile">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="formSettings?.emergencyContact?.fields?.relationship&&formSettings?.emergencyContact?.fields?.relationship?.display">
                            <div class="form-group">
                                <label for="relationship">Relationship<sup>*</sup> </label>
                                <input type="text" class="form-control" id="relationship" placeholder="Relationship with Emergency Contact Person"
                                    formControlName="relationship">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </p-fieldset>
            <p-fieldset legend="MISCELLANEOUS" [collapsed]="true" [toggleable]="true" *ngIf="formSettings?.miscellaneous&&formSettings?.miscellaneous?.display&&formSettings?.miscellaneous?.fields">
                <fieldset formGroupName="miscellaneous" *ngIf="formSettings?.miscellaneous?.fields">
                    <div class="row" formGroupName="howDidHearAboutInstitue">
                        <fieldset *ngIf="formSettings?.miscellaneous?.fields?.howDidHearAboutInstitue&&formSettings?.miscellaneous?.fields?.howDidHearAboutInstitue?.display">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="website">Website<sup>*</sup> </label>
                                    <input type="text" class="form-control" id="website" placeholder="Website"
                                        formControlName="website">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="magzine">Magzine<sup>*</sup> </label>
                                    <input type="text" class="form-control" id="magzine" placeholder="Name of Magzine"
                                        formControlName="magzine">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="newsPaper">News Paper<sup>*</sup> </label>
                                    <input type="text" class="form-control" id="newsPaper" placeholder="Name of News Paper"
                                        formControlName="newsPaper">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="other">Others<sup>*</sup> </label>
                                    <input type="text" class="form-control" id="other" placeholder="Other"
                                        formControlName="others">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </p-fieldset>
        </fieldset>
         <div class="col-md-12 fh">
            <h3>Terms & Conditions</h3>
        </div>
        <div class="col-md-12 fr">
            <div class="col-md-12">
                <p style="text-align:justify">I <input type="text" style="border: transparent;" value="{{studentRegForm?.value?.user?.firstName}} {{studentRegForm?.value?.user?.lastName}}" class="tnc-text"> applying for admission in <input style="border: transparent; width:300px" *ngIf="selectedProduct?.title"
                        type="text" value="{{selectedProduct?.title}}" class="tnc-text ttxt"> programme of the institute for session <input style="border: transparent; width:56px" *ngIf="studentRegForm?.value?.session" type="text" value="{{selectedSession?.name}}"
                        class="tnc-text">. I certify that information given by me is true to the best as my knowledge & belief. I understand that if anything is found false/incorrect at any state, my Candidature / admission to the course shall be cancelled
                    without any refunds. I shall abide by all the rule & regulations of Institute. Also, If I get selected in any competitive examination Institute can publish and display my name and photograph on its website, promotional material (all
                    medium of promotions i.e. newspaper, online on air etc. <br>I have read the <a href="{{tandCSetting?tandCSetting?.value:'/'}}" target="new">‘Term & Conditions’</a> of the institute given and agree to abide by the same.</p>
                <p class="alignR">
                    (Signature of Student) <img src="{{studentRegForm?.value?.user?.signImg}}" class="tnc-sign" style="width: 140px;
                        height: 60px;">
                </p>
                <p><label><input type="checkbox" (change)="setTandC($event)" value="true"> Accept Terms & Conditions.</label></p>
            </div>
            <hr>
        </div>
        <div class="ftr">
            <div class="row">
                <div class="col-md-12" *ngIf="fh.error">
                    <div class="alert alert-danger">{{fh.error}}</div>

                </div>
                <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4">
                    <div class="form-group">
                        <button class="btn btn-success" [disabled]="fh.status=='Processing'">{{(fh.status=='Processing'?'Processing...':'Next')}}</button>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <!-- <div class="step step2" *ngIf="activeStep===2">
        <div class="uni-order-frm-step-2">
            <fieldset class="single-product-form product-form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="center">Centre/Branch<sup>*</sup> </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="course">Course<sup>*</sup> </label>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="productType">Program Type<sup>*</sup> </label>
                            <span>{{selectedProductType.valueAlias}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="stream">Stream<sup>*</sup> </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="session">Session<sup>*</sup> </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="product">Program/Package<sup>*</sup> </label>
                            <span>{{selectedProduct?.title}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="selectedProduct?.haveBatch">
                        <div class="form-group">
                            <label for="batch">Batch<sup>*</sup> </label>
                            <span>{{selectedProduct?.batches[orderData?.batch].name}}</span>
                        </div>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <h3 class="frm-subheading">PERSONAL DETAILS</h3>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fname">First Name<sup>*</sup> </label>
                            <span>{{orderData?.user.firstName}}</span>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="lname">Last Name <sup>*</sup> </label>
                            <span>{{orderData?.user.lastName}}</span>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="email">Email<sup>*</sup> </label>
                            <span>{{orderData?.user.email}}</span>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="mobile">Mobile<sup>*</sup> </label>
                            <span>{{orderData?.user.mobile}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="gender">Gender<sup>*</sup> </label>
                            <span>{{orderData?.user.gender}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="dob">Date of Birth<sup>*</sup> </label>
                            <span>{{orderData?.user.dob?.formatted}}</span>
                        </div>
                    </div>

                </div>

                <fieldset>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="fathername">Father Name<sup>*</sup> </label>
                                <span>{{orderData?.user.father.name}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="fmobile">Father's Mobile<sup>*</sup> </label>
                                <span>{{orderData?.user.father.mobile}}</span>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <fieldset>
                            <div class="form-group">
                                <label for="mothername">Mother's Name<sup>*</sup> </label>
                                <span>{{orderData?.user.mother.name}}</span>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="category">Category<sup>*</sup> </label>
                            <span>{{orderData?.user.category}}</span>
                        </div>
                    </div>
                </div>

                <fieldset>
                    <h3 class="frm-subheading">Correspondence Address</h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="address">Address<sup>*</sup> </label>
                                <div>{{orderData?.user.address.address}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="landmark">Landmark<sup>*</sup> </label>
                                <span>{{orderData?.user.address.landmark}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="city">City<sup>*</sup> </label>
                                <span>{{orderData?.user.address.city}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="state">State<sup>*</sup> </label>
                                <span>{{orderData?.user.address.state}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="pin">Postal Code (PIN)<sup>*</sup> </label>
                                <span>{{orderData?.user.address.postalCode}}</span>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <h3 class="frm-subheading">PERMANENT ADDRESS</h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="address">Address </label>
                                <div>{{orderData?.user.permanantAddress.address}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="landmark">Landmark</label>
                                <span>{{orderData?.user.permanantAddress.landmark}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="city">City</label>
                                <span>{{orderData?.user.permanantAddress.city}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="state">State</label>
                                <span>{{orderData?.user.permanantAddress.state}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="pin">Postal Code (PIN)</label>
                                <span>{{orderData?.user.permanantAddress.postalCode}}</span>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div>
                    <h3 class="frm-subheading">ACADEMIC DETAILS</h3>

                    <div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Name of College/City</th>
                                    <th>Passing Year</th>
                                    <th>% Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pastCrs of pastCrses; let i=index">
                                    <th>{{orderData?.user.pastCourses[i].course}}<sup *ngIf="i<1">*</sup> </th>
                                    <td style="width:40%"><span>{{orderData?.user.pastCourses[i].college}}</span></td>
                                    <td><span>{{orderData?.user.pastCourses[i].year}}</span></td>
                                    <td><span>{{orderData?.user.pastCourses[i].marks}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <hr>
                <div>
                    <p>Have you attempted the Exam(GATE/IES) in the previous year* : {{(stdHavePastExams==true?'Yes':'No')}}</p>
                    <div class="row" *ngIf="stdHavePastExams">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="eGATE">Rank in GATE</label>
                                <span>{{orderData?.user.pastExams[0].rank}}</span>
                            </div>


                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="eESE">Rank in IES</label>
                                        <span>{{orderData?.user.pastExams[1].rank}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="eRmrk">Attended IES Interview</label>
                                        <span>{{orderData?.user.pastExams[1].remarks}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <p>Are you old Student of Institute* : : <span>{{(isExStd==true?'Yes':'No')}}</span></p>
                <fieldset *ngIf="isExStd">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="exsrn">Enrollment Number</label>
                                <span>{{orderData?.user.exStudent.srn}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="exsession">Session Year</label>
                                <span>{{orderData?.user.exStudent.session}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="idProof">ID Proof</label>
                                <span>{{orderData?.user.exStudent.idProof}}</span>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <hr>
                <p>Are you Current Student of Institute* : : <span>{{(isCurrentStd==true?'Yes':'No')}}</span></p>
                <fieldset *ngIf="isExStd">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="exsrn">Enrollment Number</label>
                                <span>{{orderData?.user.currentStd.srn}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="exsession">Session Year</label>
                                <span>{{orderData?.user.currentStudent.session}}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="idProof">ID Proof</label>
                                <span>{{orderData?.user.currentStudent.idProof}}</span>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="photo-grp">
                    <h3 class="frm-subheading">PHOTOS</h3>
                    <div class="row">

                        <div class="col-md-4">
                            <p>Passport Size photo<sup>*</sup> </p>
                            <p><img src="{{fh?.personalImg}}" alt="Passport Size Photo" title="Your Passport size photo 140*140" class="img-thumbnail pp-photo"></p>
                        </div>
                        <div class="col-md-4">
                            <p>Signature photo<sup>*</sup> </p>
                            <p><img src="{{fh?.signImg}}" alt="Signature Photo" title="Your Signature photo 140*80" class="img-thumbnail pp-photo"></p>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="ftr">
                <div class="row">
                    <div class="col-md-12" *ngIf="fh.error">
                        <div class="alert alert-danger">{{fh.error}}</div>

                    </div>
                    <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4">
                        <div class="form-group">
                            <button class="btn btn-default" (click)="activeStep=1">Back</button>
                            <button class="btn btn-success" (click)="activeStep=3">{{(fh.status=='Processing'?'Processing...':'Confirm & Next')}}</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div> -->
    <div class="step step3" *ngIf="activeStep===2">
        <fieldset>
            <div class="row mb5">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Program/Product</th>
                                <th>Sessoin</th>
                                <th class="alignR">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{selectedProduct?.title}}</th>
                                <td> <span  *ngIf="studentRegForm?.value?.session">{{selectedSession?.name}}</span></td>
                                <td  class="alignR"><span><i class="fa fa-inr"></i> {{selectedProduct?.cost}}</span></td>
                            </tr>
                            <tr *ngFor="let pIndex of addedProducts" >
                                <th>{{allRelatedProducts[pIndex].title}} </th>
                                <td><span  *ngIf="studentRegForm?.value?.session">{{selectedSession?.name}}</span></td>
                                <td class="alignR"><span><i class="fa fa-inr"></i> {{allRelatedProducts[pIndex]?.cost}}</span></td>
                            </tr>
                            <tr>
                                <th colspan="2">Total</th>
                                <td class="alignR"><span><i class="fa fa-inr"></i> {{setTotal(cartTotal,selectedProduct?.cost)}}</span></td>
                            </tr>
                            <tr>
                                <th colspan="2">Total After GST</th>
                                <td class="alignR"><span><i class="fa fa-inr"></i> {{setTaxTotal()}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </fieldset>
        <div class="ftr">
            <div class="row">
                <div class="col-md-12" *ngIf="fh.error">
                    <div class="alert alert-danger">{{fh.error}}</div>

                </div>
                <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4">
                    <div class="form-group">
                        <button class="btn btn-default" (click)="activeStep=1">Back</button>
                        <button class="btn btn-success" (click)="processOrder()">{{(fh.status=='Processing'?'Processing...':'Proceed to Payment')}}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="step step-4" *ngIf="activeStep===4">
        <ek-student-order-payment [order]="order"></ek-student-order-payment>

    </div>
</ng-container>