<div class="order-payment-window panel-loader" [ngClass]="panelLoader">
    <fieldset>
        <div class="row mb10">
            <div class="col-md-12">
                <p>
                    <span class="pull-right"><a class="btn btn-link text-info" (click)="showDiscountModal()">Have Discount Code?</a></span>
                </p>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Program/Product</th>
                            <th class="alignR">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>{{order?.orderNo}}</span></td>
                            <th>{{order?.productTitle}} </th>
                            <td class="alignR"><span>₹ {{order?.subTotal}}</span></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="alignR">Sub Total: </th>
                            <td class="alignR"><span>₹ {{order?.subTotal}}</span></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="alignR"> Discount:</th>
                            <td class="alignR"><span>- ₹ {{order?.discountTotal||0}}</span></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="alignR">Total Payable: </th>
                            <td class="alignR"><span>₹ {{order?.total}}</span></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="alignR">Paid: </th>
                            <td class="alignR"><span>₹ {{order?.paid}}</span></td>
                        </tr>
                        <tr>
                            <th colspan="2" class="alignR">Total Remaining: </th>
                            <td class="alignR"><span>₹ {{order?.total-order?.paid}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-container *ngIf="orderProduct&&orderProduct.status &&order&&order?.total>0&&order?.total!=order?.paid">
            <h3 class="frm-subheading">Payment Details</h3>
            <div class="row mb10">
                <div class="col-md-4 col-xs-6 alignR"><b>Payment Method:</b></div>
                <div class="col-md-8 col-xs-6">
                    <select class="form-control" [(ngModel)]="paymentMethod">
                        <option value="null">Select</option>
                        <option value="Online">Online (Net Banking or Debit/Credit Card or UPI or Wallet)</option>
                        <!-- <option value="Promocode">Promocode or Voucher</option> -->
                    </select>
                </div>
            </div>
            <div class="row mb10">
                <div class="col-md-4 col-xs-6 alignR"><b>Payment Option:</b></div>
                <div class="col-md-8 col-xs-6">
                    <select class="form-control" [(ngModel)]="activePmtOptionIndex" (change)="setDiscount(activePmtOptionIndex)">
                        <option [value]="null">Select Option</option>
                        <option  value="{{i}}" *ngFor="let opt of order?.availablePaymentOptions; let i=index" [disabled]="(opt.amount-(opt.discountTotal||0))==opt.paid||(i>0&&order?.availablePaymentOptions[i-1]&&order?.availablePaymentOptions[i-1].paid!=(order?.availablePaymentOptions[i-1].amount-(order?.availablePaymentOptions[i-1].discountTotal||0)))">{{opt.title}} (₹ {{opt.amount-(opt.discountTotal||0)-(opt.paid||0)}}) {{(opt.paid==(opt.amount-(opt.discountTotal||0))?'- Paid':'')}} </option>
                        <option value="{{order?.availablePaymentOptions?.length}}" *ngIf="orderProduct&&orderProduct?.customParam&&orderProduct?.customParam?.needFullPaymentOption&&order?.availablePaymentOptions&&order?.availablePaymentOptions?.length>1">Full Payment (₹ {{order?.total-order?.paid}})</option>
                        <!-- <option  value="{{i}}" *ngFor="let opt of order?.availablePaymentOptions; let i=index" [disabled]="opt?.amount==opt?.paid||(i>0&&order?.availablePaymentOptions[i-1]&&order?.availablePaymentOptions[i-1].paid!=order?.availablePaymentOptions[i-1]?.amount)">{{opt.title}} (₹ {{opt.amount-(opt.discountTotal||0)-(opt.paid||0)}}) {{(opt.paid==(opt.amount-(opt.discountTotal||0))?'- Paid':'')}} </option> -->
                    </select>
                </div>
            </div>

            <div class="row mb10">
                <div class="col-md-4 col-xs-6 alignR"><b>Payable  Amount:</b></div>
                <div class="col-md-8 col-xs-6">₹
                    <span *ngIf="!totalDiscount&&order?.availablePaymentOptions&&activePmtOptionIndex<order?.availablePaymentOptions?.length">{{ ((order?.availablePaymentOptions[activePmtOptionIndex]?.amount + (order?.availablePaymentOptions[activePmtOptionIndex]?.extraAmount||0)) - (order?.availablePaymentOptions[activePmtOptionIndex]?.discountTotal||0)- (order?.availablePaymentOptions[activePmtOptionIndex]?.paid||0))}}  /- <ng-container *ngIf="order?.availablePaymentOptions[activePmtOptionIndex]?.extraAmount&&order?.availablePaymentOptions[activePmtOptionIndex]?.extraAmount>0">(included ₹ {{order?.availablePaymentOptions[activePmtOptionIndex]?.extraAmount}} extra Charges)</ng-container></span>
                    <span *ngIf="totalDiscount">{{(order?.total-totalDiscount)-order?.paid}} ( ₹ {{totalDiscount}} extra discount on one time payment)</span>
                    <span *ngIf="order?.availablePaymentOptions&&activePmtOptionIndex==order?.availablePaymentOptions?.length">{{order?.total-order?.paid}}</span>
                </div>
            </div>
            <!-- <ng-container  *ngIf="paymentMethod=='Promocode'">

                <div class="row mb10">
                    <div class="col-md-4 alignR">
                        <label for="Promocde">Promocode Or Voucher :</label>
                    </div>
                    <div class="col-md-8">
                            <input type="text" [(ngModel)]="promocode" placeholder="Enter your Promocode or Voucher code here.." class="form-control">
                    </div>

                </div>
                <div class="row mb10">
                    <div class="col-md-offset-4 col-md-6">
                            <button class="btn btn-info" (click)="applyPromocode()">Apply Promocode</button>
                    </div>
                </div>
            </ng-container> -->
        </ng-container>
    </fieldset>
    <div class="ftr">
        <div class="row">
            <div class="col-md-12" *ngIf="errorMsg">
                <div class="alert alert-danger">{{errorMsg}}</div>
            </div>
            <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4" *ngIf="paymentMethod=='Online'">
                <div class="form-group">
                    <!-- <button class="btn btn-default" (click)="activeStep=2" *ngIf="order?.paymentStatus=='Unpaid'">Edit Order</button> -->
                    <button class="btn btn-success" (click)="processPayment()">{{(formStatus=='Processing'?'Processing...':'Proceed to Payment')}}</button>
                </div>
            </div>
            <div class="col-md-12" *ngIf="paid">
                <div class="alert alert-success">Promocode applied successfully.. After verification your product/benifit will provide u soon..</div>
            </div>
        </div>
    </div>
</div>
<!-- Promocode OR Voucher Discount
<p-dialog header="Apply Promocode or Voucher"  [(visible)]="discountModalDisplay" [modal]='true' [draggable]="false">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="discountVoucherForm" (ngSubmit)="applyDiscount()">
                <div class="form-group">
                    <label for="">Discount Code / Promocode</label>
                    <input type="text" class="form-control" formControlName="discountCode">
                </div>
                <button class="btn btn-success" [disabled]="formStatus=='Processing'||!discountVoucherForm.valid">{{formStatus=='Processing'?'Processing':'Apply Promocode/Voucher'}}</button>
            </form>
        </div>
    </div>
</p-dialog> -->

<!-- COUPON Discount -->
<p-dialog [(visible)]="showDiscountModalForm"  [modal]='true' [draggable]="false" header="Apply Discount/Coupon Code">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="discountCouponForm" (ngSubmit)="addDiscount()">
                <div class="form-group">
                    <label for="">Discount Code</label>
                    <input type="text" formControlName="discountCode" class="form-control">
                </div>
                <button type="submit" class="btn btn-success" [disabled]="formStatus=='Processing'|| !discountCouponForm.valid">{{formStatus=='Processing'?'Processing':'Appply Discount Code'}}</button>
            </form>
        </div>
    </div>
</p-dialog>
