<p (click)="fmModalStatus='show'" class="fileinput-selector" [ngClass]="customClass">
    <span class="" *ngIf="selectedFileUrl==''">Choose File </span>
    <span *ngIf="selectedFileUrl!=''">Choosen File: ({{selectedFileUrl}})</span>
</p>
<div class="ek-modal" *ngIf="fmModalStatus=='show'">
    <div class="ekm-content">
        <div class="ekm-cancel-btn" (click)="fmModalStatus='hide'">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </div>
        <div class="fmm-header">
            <h4>File Manager <small>Upload, Manage files</small></h4>
        </div>
        <div class="fmm-body panel-loader" [ngClass]="panelLoader">
            <div class="panel-profile">
                <div class="row">
                    <div class="col-md-4 fm-menu">
                        <ul>
                            <li class="" [ngClass]="(activeBox=='listBx'?'active':'')" (click)="activeBox='listBx';typeCategory='';loadFiles()">All Files</li>
                            <li class="pl-25" [ngClass]="(activeBox=='IMAGE'?'active':'')" (click)="activeBox='IMAGE';typeCategory='IMAGE';loadFiles()">Images</li>
                            <li class="pl-25" [ngClass]="(activeBox=='DOC'?'active':'')" (click)="activeBox='DOC';typeCategory='DOC';loadFiles()">Docxs</li>
                            <li class="pl-25" [ngClass]="(activeBox=='PDF'?'active':'')" (click)="activeBox='PDF';typeCategory='PDF';loadFiles()">PDF's</li>
                            <li class="pl-25" [ngClass]="(activeBox=='EXCEL'?'active':'')" (click)="activeBox='EXCEL';typeCategory='EXCEL';loadFiles()">EXCELS</li>
                            <!-- <li class="add-fbtn" [ngClass]="(activeBox=='upldBx'?'active':'')" (click)="activeBox='upldBx'">Add new File</li> -->
                            <li style="border: none;" class="alignC"  (click)="activeBox='upldBx'">
                                <a class="btn btn-info btn-xs"><i class="fa fa-plus"></i></a> New File
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 fm-content">
                        <div class="list-bx" *ngIf="activeBox!='upldBx'">
                            <!-- <div class="fmimg-thumb" *ngFor="let file of files; let i=index" (click)="selectFile(i)" [ngClass]="(selectedFileIndex===i?'selected':'')">
                                <img *ngIf="file.category=='IMAGE'"  [src]="file.url">
                                <i *ngIf="file.category!='IMAGE'" class="fa fa-{{fileType[file.type]?.icon}} fa-3x"></i>

                                <input #url  value="{{file.url}}" type="text" *ngIf="showURL &&selectedPdfIndex==i" style="    width: 100%;
                                position: absolute;
                                background: #474849;
                                color: white;
                                border: 0;
                                padding: 5px;">
                                <a  (click)="copyText($event,file.id ,i)"  id="{{file.id}}" *ngIf="file.category=='PDF'" class="btn btn-info btn-mini">Copy PDF URL</a>
                            </div> -->
                            <p *ngIf="files&&files.length<1">Zero files! <button class="btn btn-link" (click)="activeBox='upldBx'">Upload new</button></p>

                            <!-- <div class="table-responsive" *ngIf="files&&files.length>0">
                                <table class="table table-stripped">
                                    <thead>
                                        <th>#</th>
                                        <th>Thumb</th>
                                        <th>Created At</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let file of files; let i=index" class="" [ngClass]="(selectedFileIndex===i?'active':'')">
                                            <td>{{countBase+i}}</td>
                                            <td>
                                                <a href="{{file.url}}" target="new">
                                                    <img *ngIf="file.category=='IMAGE'" class="img-thumbnail"  [src]="file.url">
                                                </a>
                                                <input type="text" style="opacity: 0;position: absolute;left: 999px;"   value="{{file?.url}}" id="fle{{file?.id}}">
                                                <i *ngIf="file.category!='IMAGE'" (dblclick)="copyText(i)"  class="fa fa-{{fileType[file.type]?.icon}} fa-3x"></i>

                                            </td>
                                            <td style="width: 126px;">
                                                 {{file?.title}} <br>
                                                <small>{{file.createdAt|date:'short'}}</small>
                                            </td>
                                            <td>
                                                <a class="btn btn-xs btn-danger" (click)="deleteSelectedFile()" *ngIf="selectedFileIndex==i"><i class="fa fa-remove"></i></a>
                                                <a class="btn btn-xs btn-primary" (click)="selectFile(i)" *ngIf="selectedFileIndex!=i">Select</a>
                                                <a class="btn btn-xs btn-warning" (click)="cancelSelectedFile()" *ngIf="selectedFileIndex==i">Unselect</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->

                            <div class="fmimg-thumb" *ngFor="let file of files; let i=index" [ngClass]="(selectedFileIndex===i?'selected':'')" >
                                <span class="fminm-title">{{file?.title}}</span>
                                <ng-container *ngIf="file.category==='IMAGE'">
                                    <a  (dblclick)="copyText(i)">
                                        <img class="img-thumbnail" [src]="file.url">
                                    </a>
                                </ng-container>

                                <i *ngIf="file.category!='IMAGE'" (dblclick)="copyText(i)" class="fa fa-{{fileType[file.type]?.icon}} fa-3x"></i>
                                <input type="text"   style="opacity: 0;position: absolute;left: 999px;"   value="{{file?.url}}" id="fle{{file?.id}}">
                                <input type="checkbox" [checked]="selectedFileIndex===i?true:null" #id+{{i+1}} style="position: absolute; top: 0;right: 0;"  (change)="setSelectedFile($event, i)">
                            </div>
                            <div class="fm-footer">
                                <p class="alignC">Total Records: {{totalRecords}}</p>
                                <!-- <p-paginator alwaysShow="false" rows="12" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[12,36,60]" (onPageChange)="paginate($event)"></p-paginator> -->

                            </div>

                        </div>
                        <div class="upld-bx" *ngIf="activeBox=='upldBx'">

                            <div class="form" role="form">

                                <div class="form-group">
                                    <label for="fmFile">Select File</label>
                                    <input id="fmFile" type="file">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success" (click)="uploadFile()">Upload</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="ekm-footer">
            <!-- <button *ngIf="selectedFileIndex!==null" type="button" (click)="deleteSelectedFile()" class="btn btn-danger">Delete</button> -->
            <button *ngIf="selectedFileIndex!==null" type="button" (click)="useSelectedFile()" class="btn btn-primary pull-right">Use Selected File</button>
            <button *ngIf="selectedFileIndex!==null" type="button" (click)="cancelSelectedFile()" class="btn btn-default pull-right mr5">Cancel</button>
            <button *ngIf="selectedFileIndex===null" type="button" (click)="fmModalStatus='hide'" class="btn btn-default pull-right">Close</button>
        </div>
    </div>
    <div class="ekm-bg" (click)="fmModalStatus='hide'"></div>
</div>
