<div class="row">
    <div class="col-md-12" *ngIf="userSearchOpt">
        <ek-user-search-form (onUserSelect)="onUserSelect($event)"></ek-user-search-form>
    </div>
</div>

<form class="form" [formGroup]="studentRegForm" (ngSubmit)="addUpdateStudent()" [ngClass]="validationError">
    <fieldset class="single-product-form product-form-group">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="center">Centre/Branch<sup>*</sup> </label>
                    <select class="form-control" id="center" placeholder="Select Center" (change)="loadCourse()" formControlName="center">
                        <option value="">Select Centre</option>
                        <option value="{{center.id}}" *ngFor="let center of centers; let i=index" >{{center.title}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="course">Course<sup>*</sup> </label>
                    <select class="form-control" id="course" placeholder="Select Course" (change)="loadProducts()" formControlName="course">
                        <option value="">Select Course</option>
                        <option value="{{course.id}}" *ngFor="let course of courses; let i=index" >{{course.valueAlias}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="productType">Program Type<sup>*</sup> </label>
                    <select class="form-control" id="productType" placeholder="Program" (change)="loadProducts()" formControlName="productType">
                        <option value="">Select Program Type</option>
                        <option value="{{pt.id}}" *ngFor="let pt of productTypes; let i=index" >{{pt.valueAlias}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="stream">Stream<sup>*</sup> </label>
                    <select class="form-control" id="stream" placeholder="Select Stream" (change)="loadProducts()" formControlName="stream">
                        <option value="">Select Stream</option>
                        <option value="{{stream.id}}" *ngFor="let stream of streams; let i=index" >{{stream.valueAlias}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="session">Session<sup>*</sup> </label>
                    <select class="form-control" id="session" placeholder="Select Session" (change)="loadProducts()" formControlName="session">
                        <option value="">Select Session</option>
                        <option value="{{session.id}}" *ngFor="let session of sessions; let i=index" >{{session.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="product">Program/Package<sup>*</sup> </label>
                    <select class="form-control" id="product" placeholder="Select Product" (click)="checkProductDepParams()" (change)="setProductDepParams()" formControlName="product">
                        <option value="">Select Program Package</option>
                        <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.title}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="selectedProduct?.haveBatch">
                <div class="form-group">
                    <label for="batch">Batch<sup>*</sup> </label>
                    <select class="form-control" id="batch" placeholder="Select batch" formControlName="batch">
                        <option value="">Select Batch</option>
                        <option value="{{i}}" *ngFor="let batch of selectedProduct.batches; let i=index" >{{batch.name}}</option>
                    </select>
                </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="product">Program/Package<sup>*</sup> </label>
                <select class="form-control" id="product" placeholder="Select Product" (click)="checkProductDepParams()" formControlName="product">
                    <option value="">Select Program Package</option>
                    <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.title}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="product">Program/Package<sup>*</sup> </label>
                <select class="form-control" id="product" placeholder="Select Product" (click)="checkProductDepParams()" formControlName="product">
                    <option value="">Select Program Package</option>
                    <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.title}}</option>
                </select>
            </div>
        </div> -->
        </div>

    </fieldset>
    <fieldset formGroupName="user">
        <h3 class="frm-subheading">PERSONAL DETAILS</h3>
        <div class="row">
            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.firstName&&formSettings?.firstName?.display">
                <div class="form-group">
                    <label for="fname">First Name<sup>*</sup> </label>
                    <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="firstName">
                </div>
            </div>

            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.lastName&&formSettings?.lastName?.display">
                <div class="form-group">
                    <label for="lname">Last Name <sup>*</sup> </label>
                    <input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lastName">
                </div>
            </div>

            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.email&&formSettings?.email?.display">
                <div class="form-group">
                    <label for="email">Email<sup>*</sup> </label>
                    <input type="text" class="form-control" id="email" placeholder="Email ID" formControlName="email">
                </div>
            </div>

            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.mobile&&formSettings?.mobile?.display">
                <div class="form-group">
                    <label for="mobile">Mobile<sup>*</sup> </label>
                    <input type="text" class="form-control" id="mobile" placeholder="Mobile Number (10 Digit)" formControlName="mobile">
                </div>
            </div>
            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.gender&&formSettings?.gender?.display">
                <div class="form-group">
                    <label for="gender">Gender<sup>*</sup> </label>
                    <select #gender class="form-control" id="gender" placeholder="Gender" formControlName="gender">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.dob&&formSettings?.dob?.display">
                <div class="form-group">
                    <label for="dob">Date of Birth<sup>*</sup> </label>
                    <p-calendar id="dob" class="form-control ngp-date" formControlName="dob" dateFormat="dd/mm/yy"></p-calendar>

                    <!-- <input #dob type="text" #dob  id="dob" placeholder="Date of  Birth " formControlName="dob" (keypress)="(dob.value.length>1?(gender.focus()):'')"> -->
                    <!-- <my-date-picker name="dob" id="dob" [options]="myDatePickerOptions" [placeholder]="'DD/MM/YYYY'" formControlName="dob"></my-date-picker> -->
                </div>
            </div>

        </div>

        <fieldset formGroupName="father" *ngIf="formSettings&&formSettings?.father&&formSettings?.father?.display">
            <div class="row">
                <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields&&formSettings?.father?.fields?.name&&formSettings?.father?.fields?.name?.display">
                    <div class="form-group">
                        <label for="fathername">Father Name<sup>*</sup> </label>
                        <input type="text" class="form-control" id="fathername" placeholder="Father Name" formControlName="name">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12" *ngIf="formSettings?.father?.fields&&formSettings?.father?.fields?.name&&formSettings?.father?.fields?.mobile?.display">
                    <div class="form-group">
                        <label for="fmobile">Father's Mobile<sup>*</sup> </label>
                        <input type="text" class="form-control" id="fmobile" placeholder="Father's Contact Number" formControlName="mobile">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row" >
            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.mother&&formSettings?.mother?.display">
                <fieldset formGroupName="mother">
                    <div class="form-group" *ngIf="formSettings?.mother?.fields&&formSettings?.mother?.fields?.name&&formSettings?.mother?.fields?.name?.display">
                        <label for="mothername">Mother's Name<sup>*</sup> </label>
                        <input type="text" class="form-control" id="mothername" placeholder="Mother's Name" formControlName="name">
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6 col-xs-12" *ngIf="formSettings&&formSettings?.category&&formSettings?.category?.display">
                <div class="form-group">
                    <label for="category">Category<sup>*</sup> </label>
                    <select class="form-control" id="category" placeholder="Category" formControlName="category">
                    <option value="">Select Category</option>
                    <option value="GENERAL">General</option>
                    <option value="OBC">OBC</option>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <option value="PH">PH</option>
                </select>
                </div>
            </div>
        </div>

        <fieldset formGroupName="address">
            <h3 class="frm-subheading">Correspondence Address</h3>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="address">Address<sup>*</sup> </label>
                        <textarea rows="3" class="form-control" id="address" placeholder="Address" formControlName="address"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="landmark">Landmark<sup>*</sup> </label>
                        <input type="text" class="form-control" id="landmark" placeholder="Nearby landmark" formControlName="landmark">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="city">City<sup>*</sup> </label>
                        <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="state">State<sup>*</sup> </label>
                        <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="pin">Postal Code (PIN)<sup>*</sup> </label>
                        <input type="text" class="form-control" id="pin" placeholder="Pincode (6 Digit)" formControlName="postalCode">
                    </div>
                </div>
            </div>

        </fieldset>
        <fieldset formGroupName="permanantAddress">
            <h3 class="frm-subheading">PERMANENT ADDRESS <span class="same-adrs-opt"><input #adrsOpt type="checkbox" (change)="setAddressSimilarity($event)"> Same as correspondence?</span></h3>
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="address">Address </label>
                        <textarea rows="3" class="form-control" id="address" placeholder="Address" formControlName="address"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="landmark">Landmark</label>
                        <input type="text" class="form-control" id="landmark" placeholder="Nearby landmark" formControlName="landmark">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="pin">Postal Code (PIN)</label>
                        <input type="text" class="form-control" id="pin" placeholder="Pincode (6 Digit)" formControlName="postalCode">
                    </div>
                </div>
            </div>

        </fieldset>
        <div formArrayName="pastCourses">
            <h3 class="frm-subheading">ACADEMIC DETAILS</h3>

            <div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Name of College/City</th>
                            <th>Passing Year</th>
                            <th>% Marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [formGroupName]="i" *ngFor="let pastCrs of pastCrses; let i=index">
                            <th>{{studentRegForm.value?.user.pastCourses[i].course}}<sup *ngIf="i<1">*</sup> </th>
                            <td style="width:40%"><input type="text" class="form-control" id="psclg{{i}}" placeholder="College Name" formControlName="college"></td>
                            <td><input type="text" class="form-control" id="psyr{{i}}" placeholder="Year of course" formControlName="year"></td>
                            <td><input type="text" class="form-control" id="psmarks{{i}}" placeholder="Marks" formControlName="marks"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>
        <div formArrayName="pastExams">
            <p>Have you attempted the Exam(GATE/IES) in the previous year* : <input [(ngModel)]="stdHavePastExams" name="stdHavePastExams" [ngModelOptions]="{standalone: true}" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="stdHavePastExams"
                    [(ngModel)]="stdHavePastExams" [ngModelOptions]="{standalone: true}" [value]="false"> No</p>
            <div class="row" *ngIf="stdHavePastExams">
                <div class="col-md-4" formGroupName="0">
                    <div class="form-group">
                        <label for="eGATE">Rank in GATE</label>
                        <input type="text" class="form-control" id="eGATE" placeholder="GATE RANK" formControlName="rank">
                    </div>


                </div>
                <div class="col-md-8" formGroupName="1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="eESE">Rank in IES</label>
                                <input type="text" class="form-control" id="eESE" placeholder="RANK in ESE" formControlName="rank">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="eRmrk">Attended IES Interview</label>
                                <p><input type="radio" name="remarks" value="IES Interview- Yes" formControlName="remarks"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="remarks" value="IES Interview- No" formControlName="remarks"> No</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p>Are you old Student of IES Master* : : <input [(ngModel)]="isExStd" name="isExStd" [ngModelOptions]="{standalone: true}" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="isExStd" [(ngModel)]="isExStd" [ngModelOptions]="{standalone: true}"
                [value]="false"> No</p>
        <fieldset formGroupName="exStudent" *ngIf="isExStd">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exsrn">Enrollment Number</label>
                        <input type="text" class="form-control" id="exsrn" placeholder="Last year Enrollment Number" formControlName="srn">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exsession">Session Year</label>
                        <input type="text" class="form-control" id="exsession" placeholder="Session Year" formControlName="session">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="idProof">ID Proof</label>
                        <!-- <input type="file" id="idProof" placeholder="ID Proof" (change)="upload('idProof')"> -->
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="photo-grp">
            <h3 class="frm-subheading">PHOTOS</h3>
            <div class="row">

                <div class="col-md-4">
                    <p>Passport Size photo<sup>*</sup> </p>
                    <p><img src="{{studentRegForm.value?.user.personalImg}}" alt="Student Passport Size Photo" title="Your Passport size photo 140*140" class="img-thumbnail pp-photo"></p>
                    <!-- <p><input id="personalImg" type="file" (change)="upload('personalImg')"></p> -->
                    <p>
                        <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="personalImg"></ek-fileinput>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>Signature photo<sup>*</sup> </p>
                    <p><img src="{{studentRegForm.value?.user.signImg}}" alt="Signature Photo" title="Student Signature photo 140*80" class="img-thumbnail sign-photo"></p>
                    <p>
                        <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="signImg"></ek-fileinput>
                    </p>
                    <!-- <p><input type="file" id="signImg" (change)="upload('signImg')"></p> -->
                </div>
            </div>
        </div>
    </fieldset>
    <!-- <fieldset formGroupName="cart">
        <h3 class="frm-subheading">Payment Details</h3>
        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Sub Total:</b></div>
            <div class="col-md-8 col-xs-6">₹ {{(products[studentRegForm.value.product]?products[studentRegForm.value.product].cost+'/-':'NA (Please Select Program First)')}}</div>
        </div>
        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Other Charges:</b></div>
            <div class="col-md-8 col-xs-6">₹ 0.00/-</div>
        </div>
        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Total Amount:</b></div>
            <div class="col-md-8 col-xs-6">₹ {{(products[studentRegForm.value.product]?products[studentRegForm.value.product].cost:'NA')}}/-</div>
        </div>

    </fieldset> -->
    <div class="ftr">
        <div class="row">
            <div class="col-md-12" *ngIf="fh.error">
                <div class="alert alert-danger">{{fh.error}}</div>

            </div>
            <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4">
                <div class="form-group">
                    <button class="btn btn-success" [disabled]="fh.status=='Processing'">{{(fh.status=='Processing'?'Processing...':'Next')}}</button>
                </div>
            </div>
        </div>

    </div>

</form>