<div class="ek-modal" *ngIf="ekModal?.status=='show'">
    <div class="ekm-content">
        <div class="ekm-cancel-btn" (click)="ekModal.status='hide'">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </div>
        <div class="ekm-header">
            <h4>{{event?.type}} <small>{{event?.title}}</small></h4>
        </div>
        <div class="ekm-body panel-loader" [ngClass]="panelLoader">
            <div class="panel-profile">
                <table class="table table-brdr0">
                    <tbody>
                        <tr>
                            <td><label>Title</label><br>{{event?.title}}</td>
                            <td><label>Status</label><br><span class="label label-info evt{{event?.status}}">{{event?.status}}</span></td>
                        </tr>
                        <tr>
                            <td><label>Date</label><br>{{event?.start|date:'d/M/y'}}</td>
                            <td><label>Timing</label><br>{{event?.start |date:'shortTime'}} - {{event?.end |date:'shortTime'}}</td>
                        </tr>
                        <tr>
                            <td><label>Batch</label><br>{{event?.batch.name}}</td>
                            <td><label>Subject</label><br>{{event?.subject.name}}</td>
                        </tr>
                        <tr>
                            <td><label>Classroom</label><br>{{event?.classroom.name}}</td>
                            <!--<td><label>Subject</label><br>{{event?.subject.name}}</td>-->
                        </tr>
                    </tbody>
                </table>
                <div class="event-edit-frm">

                    <form class="form-inline" (ngSubmit)="updateEventTiming()" [formGroup]="eventTimingForm">
                        <div class="form-group">
                            <span>Class Start</span><br/>
                            <input type="time" class="form-control" id="exampleInputName2" placeholder="Class Start Time" formControlName="startedAt">
                        </div>
                        <div class="form-group">
                            <span>Break Start</span><br/>
                            <input type="time" class="form-control" id="exampleInputEmail2" placeholder="Break Start Time" formControlName="breakStart">
                        </div>
                        <div class="form-group">
                            <span>Break Finish</span><br/>
                            <input type="time" class="form-control" id="exampleInputEmail2" placeholder="Break Finish Time" formControlName="breakEnd">
                        </div>
                        <div class="form-group">
                            <span>Class Finish</span><br/>
                            <input type="time" class="form-control" id="exampleInputEmail2" placeholder="Class Finish Time" formControlName="endedAt">
                        </div>
                        <div class="form-group">
                            <span>Students</span><br/>
                            <input type="number" class="form-control" id="exampleInputEmail2" placeholder="Total Students" formControlName="attendees">
                        </div>

                        <div class="form-group">
                            <br/>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <!--<div class="ekm-footer">
            footer
        </div>-->
    </div>
    <div class="ekm-bg" (click)="ekModal.status='hide'"></div>
</div>