<div class="panel-loader" [ngClass]="panelLoader">
    <legend>Stock History</legend>
    <div *ngFor="let stock of stocks; let i=index" class="row stk-hstry">
        <div class="col-md-2"><small>Accounting Stock</small><br>{{stock.accountingStock}}</div>
        <div class="col-md-2"><small>Physical Stock</small><br>{{stock.physicalStock}}</div>
        <div class="col-md-2"><small>Date</small><br>{{stock.createdAt|date:'short'}}</div>
        <div class="col-md-2"><small>Added By</small><br>{{stock.addedBy.firstName}} {{stock.addedBy.lastName}}</div>
        <div class="col-md-2" *ngIf="stock?.to"><small>Distributed To</small><br>{{stock?.to?.title}} </div>

    </div>
</div>