<div class="ek-order-process-steps">
    <div class="step ops{{step.text}} step{{step.compeleted}}" *ngFor="let step of steps">
        <div class="node">
            <span class="circle"></span>
            <span class="stepName">{{step.text}}</span>
        </div>
        <div class="edge"></div>
    </div>
</div>