    <!-- <label class="sr-only" for="ekPrdctInptFld">Search Product/Program</label> -->
    <input type="text" [ngClass]="elmClass" id="ekPrdctInptFld" placeholder="Search Product by Name Alias" [(ngModel)]="query" value="{{selectedProduct?.alias}}" autocomplete="off">
    <div *ngIf="products.length>0" class="input-field-srch-windw">
        <ul class="usr-srch-rslt">
            <li *ngFor="let product of products; let i=index">
                <a (click)="selectProduct(i)">{{product.alias}} </a>
            </li>
        </ul>
    </div>