<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="activity-navbar">
                <ul>
                    <li class="head">My Admissions</li>
                    <li><a class="active" routerLink="/student/forum/question">My Questions</a></li>
                    <li class="link-action"><a routerLink="/student/forum/question/ask">Ask Question</a></li>
                </ul>
            </div> -->
            <div class="feeds panel-loader" [ngClass]="panelLoader">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payment  <small>Order #{{order?.orderNo}}</small></h3>
                    </div>
                    <div class="panel-body" *ngIf="order&&order?.orderNo">
                        <ek-student-order-payment [order]="order"></ek-student-order-payment>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
