<div class="ek-quick-order-window" [ngClass]="windowState">
    <span class="close-opt" (click)="closeWindow()"><i class="fa fa-close fa-2x"></i></span>
    <div class="step1" *ngIf="activeStep==1">
        <div class="qfb-container">
            <ek-user-search-form (onUserSelect)="onUserSelect($event)"></ek-user-search-form>
            <div class="">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Program</th>
                            <th>Stream/Course</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of userOldOrders; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{order.products[0]?.title}}
                                <br><small>Center: {{order.relCenter?.title}}</small>
                                <br><small>Session: {{order.relSession?.name}}</small>
                                <br><small *ngIf="order.products[0]?.haveBatch">Batch: {{order.relBatch?.name}}</small>
                            </td>
                            <td>{{order.relStream?.valueAlias}}<br><small>{{order.relCourse?.valueAlias}}</small></td>
                            <td>Paid: {{order.paid}}<br><small>Total: {{order.total}}</small></td>
                            <td>{{order.status}}</td>
                            <td>{{order.createdAt|date:'mediumDate'}}<br><small>{{order.createdAt|date:'shortTime'}}</small></td>
                            <td><button (click)="proceedToStep3(i)" class="btn btn-xs btn-info">Proceed This</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="alignC qfb-orline"><span>OR</span></p>
            <p class="alignC"><button class="btn btn-default" (click)="resetSelectedUser()">Reset</button> <button class="btn btn-primary" (click)="proceedToStep2()">Proceed for New Admission</button></p>
        </div>

    </div>
    <div class="step2" *ngIf="activeStep==2">
        <div class="qfb-container quick-form-box">


            <form class="form" [formGroup]="quickOrderForm" (ngSubmit)="addUpdateStudent(true)">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <legend>Course Details</legend>

                        <div class="form-group">
                            <label for="center">Centre/Branch<sup>*</sup> </label>
                            <select class="form-control" id="center" placeholder="Select Center" (change)="onCenterChanged()" formControlName="center">
                                <option [value]="null">Select Centre</option>
                                <option value="{{center.id}}" *ngFor="let center of centers; let i=index" >{{center.title}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Course<sup>*</sup> </label>
                            <select class="form-control" id="course" placeholder="Select Course" (change)="onCourseChanged()" formControlName="course">
                                <option [value]="null">Select Course</option>
                                <option value="{{course.id}}" *ngFor="let course of courses; let i=index" >{{course.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productType">Program Type<sup>*</sup> </label>
                            <select class="form-control" id="productType" placeholder="Program" (change)="onProgramTypeChanged()" formControlName="productType">
                                <option [value]="null">Select Program Type</option>
                                <option value="{{pt.id}}" *ngFor="let pt of productTypes; let i=index" >{{pt.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="stream">Stream<sup>*</sup> </label>
                            <select class="form-control" id="stream" placeholder="Select Stream" (change)="onStreamChanged()" formControlName="stream">
                                <option [value]="null">Select Stream</option>
                                <option value="{{stream.id}}" *ngFor="let stream of streams; let i=index" >{{stream.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="session">Session<sup>*</sup> </label>
                            <select class="form-control" id="session" placeholder="Select Session" (change)="onSessionChanged()" formControlName="session">
                                <option [value]="null">Select Session</option>
                                <option value="{{session.id}}" *ngFor="let session of sessions; let i=index" >{{session.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="product">Program/Package<sup>*</sup> </label>
                            <select class="form-control" id="product" placeholder="Select Product" (click)="checkProductDepParams()" (change)="onProductChanged()" formControlName="product">
                                <option [value]="null">Select Program Package</option>
                                <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.title}}</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="selectedProduct?.haveBatch">
                            <label for="batch">Batch<sup>*</sup> </label>
                            <select class="form-control" id="batch" placeholder="Select batch" formControlName="batch">
                                <option [value]="null">Select Batch</option>
                                <option value="{{i}}" *ngFor="let batch of selectedProduct.batches; let i=index" >{{batch.name}}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <legend>Personal Details</legend>

                        <fieldset formGroupName="user">
                            <div class="form-group">
                                <label for="qoFname">First Name </label>
                                <input type="text" class="form-control" id="qoFname" placeholder="First Name" formControlName="firstName">
                            </div>
                            <div class="form-group">
                                <label for="qoLname">Last Name </label>
                                <input type="text" class="form-control" id="qoLname" placeholder="Last Name" formControlName="lastName">
                            </div>
                            <div class="form-group">
                                <label for="qoEml">Email</label>
                                <input type="text" class="form-control" id="qoEml" placeholder="Email" formControlName="email" [readOnly]="(selectedUser?true:false)">
                            </div>
                            <div class="form-group">
                                <label for="qoMbl">Mobile</label>
                                <input type="text" class="form-control" id="qoMbl" placeholder="Mobile Number (10 Digit)" formControlName="mobile">
                            </div>
                            <div class="form-group">
                                <label for="dob">Date of Birth (DD/MM/YYYY)<sup>*</sup> </label>
                                <p-calendar id="dob" class="form-control ngp-date" formControlName="dob" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender<sup>*</sup> </label>
                                <select #gender class="form-control" id="gender" placeholder="Gender" formControlName="gender">
                                    <option value="">Select Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                            <p>Is he old student of the institute<sup>*</sup> : : 
                                <input [(ngModel)]="isExStd" name="isExStd" [ngModelOptions]="{standalone: true}" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp; 
                                <input type="radio" name="isExStd" [(ngModel)]="isExStd" [ngModelOptions]="{standalone: true}" [value]="false"> No
                            </p>
                            <fieldset formGroupName="exStudent" *ngIf="isExStd">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="exsrn">Enrollment Number</label>
                                            <input type="text" class="form-control" id="exsrn" placeholder="Last year Enrollment Number" formControlName="srn">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="exsession">Session Year</label>
                                            <input type="text" class="form-control" id="exsession" placeholder="Session Year" formControlName="session">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="idProof">ID Proof</label>
                                            <input type="file" id="idProof" placeholder="ID Proof" (change)="upload('idProof')">
                                        </div>
                                    </div> -->
                                </div>

                            </fieldset>
                            <fieldset formGroupName="address">
                                <h4 class="frm-subheading">Correspondence Address</h4>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="address">Address<sup>*</sup> </label>
                                            <textarea rows="3" class="form-control" id="address" placeholder="Address" formControlName="address"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="landmark">Landmark<sup>*</sup> </label>
                                            <input type="text" class="form-control" id="landmark" placeholder="Nearby landmark" formControlName="landmark">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="city">City<sup>*</sup> </label>
                                            <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="state">State<sup>*</sup> </label>
                                            <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="pin">Postal Code (PIN)<sup>*</sup> </label>
                                            <input type="text" class="form-control" id="pin" placeholder="Pincode (6 Digit)" formControlName="postalCode">
                                        </div>
                                    </div>
                                </div>
                    
                            </fieldset>
                        </fieldset>

                    </div>
                    <div class="col-md-12 col-xs-12 alignC">
                        <p class="alert alert-danger" *ngIf="fh.error">
                            {{fh.error}}
                        </p>
                        <hr>
                        <div class="form-group">
                            <button class="btn  btn-default" (click)="activeStep=1"> Back </button> <button class="btn btn-info" [disabled]="!quickOrderForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="step3" *ngIf="activeStep==3">
        <div class="qfb-container">
            <ek-order-payment [order]="theOrder" (onPaymentAdd)="onPaymentAdd($event)" [paymentHistory]="true"></ek-order-payment>
        </div>
        <p class="alignC"><button class="btn  btn-default" (click)="activeStep=1"> Back </button></p>
    </div>
</div>