<div class="rsw-child">
    <div class="row">
        <div class="col-md-12">
            <ek-user-form submitLabel="Save" (onUserSaved)="onCustomerAdded($event)" [defaultUserValue]="{isRecurringCustomer:true, recurringCustomerOf:store}"></ek-user-form>
        </div>
    </div>

</div>