<div class="page-loader" [ngClass]="pageLoader" style="position: fixed;
width: 100%;
height: 100%;
z-index: 9999;
background: rgba(255, 255, 255, 0.47);">

    <div class="spinner clockwise">
        <div class="spinner-icon" style="border-top-color: #2196F3; border-left-color: #2196F3;"></div>
    </div>
</div>
<ek-notifier></ek-notifier>

<div class="main-container me-app">
    <div class="left-container" style="  
    min-width: 250px;height:100vh">
        <div class="sidebar-sec" style="display: flex;
        flex-direction: column;
        
        /* align-items: flex-end; */
        height: 100%;">
            <div class="head" style="padding:0px">
                <img src="./assets/images/logo.png" style="max-width: 94%;
                max-height: 72px;
                padding: 5px;">
            </div>
            <div class="main-menu" style="padding-top: 30px;">
                <ul>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}"><a routerLink="/student/dashboard"><i class="pi pi-home"></i> Home</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}"><a routerLink="/student/online-courses/classes"><i class="pi pi-circle-on" style="color:red"></i> Live
                            Classes</a></li>

                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}"><a routerLink="/student/online-courses"><i class="pi pi-video"></i> Video Classes</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}"><a routerLink="/student/batchfeeds/notes"><i class="pi pi-clone"></i> Study Material</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/student/testment"><i class="pi pi-desktop"></i> Test Series</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/student/batchfeeds/assignments"><i class="pi pi-compass"></i> Booster Assignments</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/student/online-courses/video-solution"><i class="pi pi-play"></i> Video Solutions</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/student/forum/question"><i class="pi pi-comments"></i> Doubt Forum</a></li>
                    <!-- <li routerLinkActive="active"><a routerLink="/student/batchfeeds/notes"><i class="pi pi-clone"></i> Study Material</a></li>
                    <li routerLinkActive="active"><a routerLink="/student/testment"><i class="pi pi-desktop"></i> Test Series</a></li>
                    <li routerLinkActive="active"><a routerLink="/student/batchfeeds/assignments"><i class="pi pi-compass"></i> Booster Assignemnt</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}"><a routerLink="/student/online-courses/video-solution"><i class="pi pi-play"></i> Video Solutions</a></li>
                    <li routerLinkActive="active"><a routerLink="/student/forum/question"><i class="pi pi-comments"></i> Doubt Forum</a></li> -->

                </ul>
            </div>
            <div class="foot">
                <div class="foot-bdy">
                    <div class="user-info" style="display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    align-items: center;">
                        <span style="display: flex; max-width:80%; overflow:hidden">
                            <a class="user-img" style="    width: 38px;
                        margin-right: 5px;
                        border: solid 1px #688593;
                        border-radius: 3px;" routerLink="/student/profile"><img [src]="student?.profileImg"
                                    style="max-width: 100%;"></a>
                            <a style="color: #283d65;" routerLink="/student/profile"><strong>{{student?.firstName}}
                                    {{student?.lastName}}</strong><br><small>{{student?.username}}</small></a>
                        </span>
                        <button (click)="logout()" pButton icon="pi pi-sign-out" type="button"
                            class="p-button-outlined p-button-secondary p-button-rounded"></button>
                    </div>
                    <!-- <div class="usr-opts">
                        <button pButton icon="pi pi-sign-out" type="button" class="p-button-outlined p-button-rounded"></button>
                        <button pButton icon="pi pi-check" type="button" class="p-button-outlined p-button-rounded"></button>
                        <button pButton icon="pi pi-check" type="button" class="p-button-outlined p-button-rounded"></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="the-container">
            <student-panel-mainbody *ngIf="client" [client]="client" [ngClass]="'theme-'">

            </student-panel-mainbody>
        </div>
    </div>
</div>