<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">CQPP Offline Test Series</h3>
                </div>
                <ng-container>
                    <p-tabView *ngIf="ceTests&&ceTests?.length>0">
                        <p-tabPanel [header]="product.product?.title" *ngFor="let product of ceTests; let productIndex=index"  [selected]="productIndex==0">
                        
                        <p-fieldset [toggleable]="true"  *ngFor="let testSeries of product?.testSerieses; let testSeriesIndex=index" [collapsed]="(testSeriesIndex == 0? false: true)">
                            <p-header>{{testSeries?.title}}</p-header>
                                <div class="table-responsive" >
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <td>Title</td>
                                                <td>Question Paper</td>
                                                <td>Solution</td>
                                                <td>Result</td>
                                                <td>Top Five Evaluated Copies</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="!testSeries||testSeries?.tests?.length<1" >
                                                <td colspan="8" >You don't have any conventional test.</td>
                                            </tr>
                                            <tr *ngFor="let ceTest of testSeries?.tests; let i=index" >
                                                <td>#</td>
                                                <td>{{ceTest?.title}}</td>
                                                <td>
                                                    <a class="btn btn-primary" *ngIf="!ceTest?.quesPdf||!checkEnabled(ceTest?.startDate)"   disabled>Download Paper</a>
                                                    <a class="btn btn-primary" *ngIf="ceTest?.quesPdf&&checkEnabled(ceTest?.startDate)"  href="{{ceTest?.quesPdf}}" target="_blank">Download Paper</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-success" *ngIf="!ceTest?.solPdf"   disabled>Download Solution</a>
                                                    <a class="btn btn-success btn-sm" *ngIf="ceTest?.solPdf"  href="{{ceTest?.solPdf}}" target="_blank">Download Solution</a>                                    
                                                <br>
                                                <ng-container *ngIf="!ceTest?.views||ceTest?.views<ceTest?.test?.videoViewsLimit">
                                                    <a *ngIf="(ceTest?.test?.solPdf&&ceTest?.confirmedToCheck)||(ceTest?.test?.solPdf&&checkEnabled(ceTest?.startDate)&&checkEnabled(ceTest?.endDate))" style="cursor: pointer" (click)="showVideoModal(i)"><i class="fa fa-play-circle-o"></i> Watch Video</a>
                                                </ng-container>
                                                </td>
                                                <td>
                                                    <a class="btn btn-info" *ngIf="!ceTest?.offlineResultPdf||(checkEnabled(ceTest?.startDate)&&!checkEnabled(ceTest?.endDate))" disabled>Check Now</a>
                                                    <a class="btn btn-info" *ngIf="ceTest?.offlineResultPdf&&checkEnabled(ceTest?.endDate)" href="{{ceTest?.offlineResultPdf}}">Check Now</a>
                                                </td>
                                                <td>
                                                    <ng-container *ngIf="ceTest?.topFiveSolutions">
                                                        <a class="btn-link" (click)="showSolutionModal(productIndex,testSeriesIndex ,i)">Top Five Solution</a>
                                                </ng-container> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </p-fieldset>
                        </p-tabPanel>
                    </p-tabView>
                </ng-container>
                
                <div *ngIf="ceTests&&ceTests?.length<1" >
                    No Test Series subscribed yet!!
                </div>
                
            </div>
        </div>
    </div>
</div>

<p-dialog header="Top Five Solutions" [width]="600" [height]="300" [(visible)]="viewTopSolutionModal">
<ng-container *ngIf="ceTest&&ceTest?.topFiveSolutions">
    <a  href="{{ceTest?.topFiveSolutions?.topSolution1}}">Download Top 1 Solution</a><br/>
    <a href="{{ceTest?.topFiveSolutions?.topSolution2}}">Download Top 2 Solution</a><br/>

    <a href="{{ceTest?.topFiveSolutions?.topSolution3}}">Download Top 3 Solution</a><br/>
    
    <a href="{{ceTest?.topFiveSolutions?.topSolution4}}">Download Top 4 Solution</a><br/>

    <a href="{{ceTest?.topFiveSolutions?.topSolution5}}">Download Top 5 Solution</a>
</ng-container>
         
    
 </p-dialog>
<p-dialog header="Solution Video" [modal]="true" [resizable]="false" [draggable]="false" [width]="600" [height]="400" [(visible)]="showVideo">
    <div class="panel-loader" [ngClass]="panelLoader" *ngIf="videoSolution">
        <iframe [src]="videoSolution" width="550" height="300" frameborder="0" allowfullscreen></iframe>
    </div>
</p-dialog>