<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="section pd-15">
                <div class="row key-cards">
                    <div class="col-md-4" >
                        <a class="key-card video-course" routerLink="/student/online-courses">
                            <span><b>Video</b> <br>Classes</span>
                            <i class="pi pi-video" style="color:red"></i>
                            <img class="key-card-bg" src="./assets/images/pattern1.png ">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a routerLink="/student/batchfeeds/notes" class="key-card daily-quiz ">
                            <span><b>Study</b> <br>Material</span> <i class="pi pi-clone" style="color:red"></i>
                            <img class="key-card-bg" src="./assets/images/back-pattern.png">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a routerLink="/student/testment" class="key-card online-test ">
                            <span><b>Test</b> <br>Series</span> <i class="pi pi-desktop" style="color:#8BC34A"></i>
                            <img class="key-card-bg" src="./assets/images/pattern3.png">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a routerLink="/student/batchfeeds/assignments" class="key-card booster">
                            <span style="font-size: 13px;"><b>Booster</b> <br>Assignments</span> <i class="pi pi-compass" style="color:#FFC107"></i>
                            <img class="key-card-bg" src="./assets/images/pattern2.png">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a routerLink="/student/online-courses/video-solution" class="key-card  discussion">
                            <span><b>Video</b> <br>Solutions</span> <i class="pi pi-play" style="color:#FFEB3B"></i>
                            <img class="key-card-bg" src="./assets/images/pattern2.png">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a routerLink="/student/forum/question" class="key-card forum">
                            <span><b>Doubt</b> <br>Forum</span> <i class="pi pi-comments" style="color:#9C27B0"></i>
                            <img class="key-card-bg" src="./assets/images/pattern1.png">
                        </a>
                    </div>
                </div>
            </div>
            <section class="section" id="dash-ads">
                <div class="row" >
                    <div class="col-xs-12 " style="width:100%">
                        <ng-container *ngIf="images.length>0">
                            <p-galleria [value]="images" [containerStyle]="{'max-width': '100%'}" [numVisible]="5"
                            [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
                                <ng-template pTemplate="item" let-item>
                                    <img [src]="item.source" [alt]="item.alt" />
                                </ng-template>
                            </p-galleria>
                        </ng-container>
                    </div>
                </div>
            </section>
            <!-- <section class="section">
                <div class="row" >
                    <div class="col-md-6 col-xs-12" >
                        <div class="panel panel-primary panel-profile panel-loader" [ngClass]="nfLoader">
                            <div class="panel-heading" style="margin-bottom: 0px;">
                                <h3 class="panel-title"> <i class="pi pi-newspaper-o"> </i> News & Notices</h3>
                            </div>
                            <div class="panel-body" style="height: 280px; overflow-y: auto;">
                                <ul class="notification-list">
                                    <ng-container *ngIf="notifications&&notifications.length>0">
                                        <li *ngFor="let nf of notifications; let i=index;" >
                                            <div *ngIf="nf.campaign?.msg?.contentType=='link'" >
                                                <a href="{{nf.campaign?.msg?.link||'#'}}" class="link" target="new">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="nf.campaign?.msg?.contentType=='video'" >
                                                <a  class="link" target="new">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="nf.campaign?.msg?.contentType=='audio'" >
                                                <a  class="link" target="new">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="nf.campaign?.msg?.contentType=='html'" >
                                                <a  class="link" target="new">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="nf.campaign?.msg?.contentType=='text'" >
                                                <a  class="link" target="new">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="nf.campaign?.msg?.contentType=='pdf'" >
                                                <a  class="link" target="new" href="nf.campaign?.msg?.pdf">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="nf.campaign?.msg?.contentType=='img'" >
                                                <a  class="link" target="new" href="nf.campaign?.msg?.img">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="nf.campaign?.msg?.contentType=='inapp'||(!nf.campaign?.msg?.contentType&&nf.campaign?.msg?.inapp)" >
                                                <a  class="link" target="new">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                            <div *ngIf="!nf.campaign?.msg" >
                                                <a  class="link" target="new">{{nf.message}}</a>
                                                <div class="nf-meta"><i class="pi pi-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                            </div>
                                        </li>
                                    </ng-container>
                                    <p *ngIf="notifications&&notifications.length<1" class="alignC">No News & Notices found.</p>
                                </ul>
                            </div>
                            <div class="panel-footer alignR" style="padding: 3px 10px;">
                                <a *ngIf="notifications&&notifications.length>0&&totalRecords>10" class="btn btn-xs btn-info" (click)="showNewsAndNotice()">View More <i class="pi pi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>
    </div>
</div>



