<div class="activity-header">
    <h1 class="activity-heading">Exams</h1>
    <div class="activity-header-menu">
        <ul>
            <li>
                <a (click)="showAddOption()" class="ek-btn btn-create">Add New</a>
            </li>
        </ul>
    </div>
</div>

<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li>
            <a routerLink="/{{routes}}/home">Home</a>
        </li>
        <li>
            <a routerLink="/{{routes}}/qbank">Qbank</a>
        </li>
        <li>
            <a routerLink="/{{routes}}/qbank/question">Question</a>
        </li>
        <li class="active">Exams</li>
    </ol>
</div>

<div class="activity-content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading">
                    Exams
                </div>
                <div class="panel-body">
                    <table class="table tbale-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <!-- <th>ID</th> -->
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let exam of examList; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{exam?.value}}
                                    <br>
                                    <small>{{exam?.valueAlias}}</small>
                                </td>
                                <td>{{exam?.status? 'Active': 'In Active'}}</td>
                                <td>
                                    <a class="ek-btn btn-create" (click)="showEditOption(exam?.id,i)">Edit</a> &nbsp;&nbsp;
                                    <a class="ek-btn btn-delete" (click)="deleteOption(exam,i)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="displayAddOption" styleClass="ui-sidebar-md ui-sidebar-right" position="right">
    <div class="panel panel-primary" style="margin-top:85px;">
        <div class="panel-heading">Add Exam</div>
        <div class="panel-body">
            <form class="form-horizontal fgm0" role="form" (ngSubmit)="addExam()" [formGroup]="addExamForm">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="value">
                </div>
                <div class="form-group">
                    <label for="Title">Alias</label>
                    <input type="text" class="form-control" id="Title" placeholder="Enter Alias" formControlName="valueAlias">
                </div>
                <div class="form-group">
                    <label for="Status">Status<sup>*</sup></label>
                    <select name="" id="Status" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"  [disabled]="!addExamForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                </div>
            </form>
        </div>
    </div>
</p-sidebar>
<p-sidebar [(visible)]="displayEditOption" styleClass="ui-sidebar-md ui-sidebar-right" position="right">
    <div class="panel panel-primary" style="margin-top:85px;">
        <div class="panel-heading">Edit Exam</div>
        <div class="panel-body">
            <form class="form-horizontal fgm0" role="form" (ngSubmit)="updateExam()" [formGroup]="editExamForm">
                <div class="form-group">
                    <label for="name">Title<sup>*</sup></label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="value">
                </div>
                <div class="form-group">
                    <label for="Title">Alias<sup>*</sup></label>
                    <input type="text" class="form-control" id="Title" placeholder="Enter Alias" formControlName="valueAlias">
                </div>
                <div class="form-group">
                    <label for="Status">Status<sup>*</sup></label>
                    <select name="" id="Status" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"  [disabled]="!editExamForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                </div>
            </form>
        </div>
    </div>
</p-sidebar>