<div class="activity-header">
    <h1 class="activity-heading">Sources</h1>
    <div class="activity-header-menu">
        <ul>
            <li>
                <a (click)="showAddOption()" class="ek-btn btn-create">Add New</a>
            </li>
        </ul>
    </div>
</div>

<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li>
            <a routerLink="/{{routes}}/home">Home</a>
        </li>
        <li>
            <a routerLink="/{{routes}}/qbank">Qbank</a>
        </li>
        <li>
            <a routerLink="/{{routes}}/qbank/question">Question</a>
        </li>
        <li class="active">Sources</li>
    </ol>
</div>

<div class="activity-content">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading">
                    Sources
                </div>
                <div class="panel-body">
                    <table class="table tbale-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <!-- <th>ID</th> -->
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of rows; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{row?.value}}
                                    <br>
                                    <small>{{row?.valueAlias}}</small>
                                </td>
                                <td>{{row?.status? 'Active': 'In Active'}}</td>
                                <td>
                                    <a class="ek-btn btn-create" (click)="showEditOption(row?.id,i)">Edit</a> &nbsp;&nbsp;
                                    <a class="ek-btn btn-delete" (click)="deleteOption(row,i)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="displayAddOption" styleClass="ui-sidebar-md ui-sidebar-right" position="right">
    <div class="panel panel-primary" style="margin-top:85px;">
        <div class="panel-heading">Add Source</div>
        <div class="panel-body">
            <form class="form-horizontal fgm0" role="form" (ngSubmit)="addSource()" [formGroup]="addForm">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="value">
                </div>
                <div class="form-group">
                    <label for="Title">Alias</label>
                    <input type="text" class="form-control" id="Title" placeholder="Enter Alias" formControlName="valueAlias">
                </div>
                <div class="form-group">
                    <label for="Status">Status<sup>*</sup></label>
                    <select id="Status" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"  [disabled]="!addForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                </div>
            </form>
        </div>
    </div>
</p-sidebar>
<p-sidebar [(visible)]="displayEditOption" styleClass="ui-sidebar-md ui-sidebar-right" position="right">
    <div class="panel panel-primary" style="margin-top:85px;">
        <div class="panel-heading">Edit Source</div>
        <div class="panel-body">
            <form class="form-horizontal fgm0" role="form" (ngSubmit)="updateSource()" [formGroup]="editForm">
                <div class="form-group">
                    <label for="name1">Title<sup>*</sup></label>
                    <input type="text" class="form-control" id="name1" placeholder="Enter Name" formControlName="value">
                </div>
                <div class="form-group">
                    <label for="Title1">Alias<sup>*</sup></label>
                    <input type="text" class="form-control" id="Title1" placeholder="Enter Alias" formControlName="valueAlias">
                </div>
                <div class="form-group">
                    <label for="Status">Status<sup>*</sup></label>
                    <select id="Status1" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"  [disabled]="!editForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                </div>
            </form>
        </div>
    </div>
</p-sidebar>