<form [formGroup]="stockForm" (ngSubmit)="addStock()">
    <legend>Add new stock</legend>

    <div class="form-group">
        <label for="sq">Accounting(For Sales) Stock</label>
        <input type="number" class="form-control" id="sq" placeholder="New Stock Quantity" formControlName="accountingStock">
    </div>
    <div class="form-group">
        <label for="sq">Physical(Real) Stock</label>
        <input type="number" class="form-control" id="sq" placeholder="New Stock Quantity" formControlName="physicalStock">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!stockForm.valid||stockFormStatus=='Processing'">{{(stockFormStatus=='Processing'?'Processing...':'Add')}}</button>
</form>