<div class="row">
    <div class="col-md-12">
        <p class="table-opts">
            <button class="btn btn-sm btn-primary" (click)="showAddForm()">Enroll new Program/Product</button>
        </p>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div style="padding:15px" [ngClass]="productUsers&&productUsers.length<1&&!activeFilter.user?'hide':''">
                <ek-user-search-form (onUserSelect)="filterByUser($event)" (onSearchClear)="clearUserFilter()"
                    [type]="'STUDENT'"></ek-user-search-form>
            </div>
            <p class="alignC bold" *ngIf="productUsers&&productUsers?.length<1&&activeFilter.user">This user is not
                enrolled to this product yet!</p>
            <p class="alignC" *ngIf="productUsers&&productUsers?.length<1&&!activeFilter.user"><br><b>No one enrolled
                    yet!</b></p>
            <table *ngIf="productUsers?.length>0" class="table table-bordered panel-loader" [ngClass]="panelLoader">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Enrolled On</th>
                        <th>Valid Till</th>
                        <th>Order No.</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let up of productUsers; let i=index;">
                        <td>{{i+1}}.</td>
                        <td><a class="link" (click)="loadUserInfo(up.user?.id)">{{up.user?.firstName}}
                                {{up.user?.lastName}}</a><br>Username: {{up.user?.username}}</td>
                        <td>{{up.createdAt|date:'mediumDate'}}<br><small>{{up.createdAt|date:'shortTime'}}</small></td>
                        <td>{{up?.validTill|date:'mediumDate'}} &nbsp; <a class="link" *ngIf="selectedIndex!=i"
                                (click)="selectedIndex=i; validTill=up?.validTill"> <i class="fa fa-gear"></i> </a>
                            <ng-container *ngIf="selectedIndex==i">
                                <input type="date" id="validTill" class="form-control ngp-date" [(ngModel)]="validTill"
                                    dateFormat="dd/mm/yy">
                                <a (click)="extendValidity()" class="btn btn-sm btn-info">save</a>
                            </ng-container>
                        </td>
                        <td><a *ngIf="up.order"
                                routerLink="ims/course-creator/order/{{up.order?.id}}">{{up.order?.orderNo}}</a><span
                                *ngIf="!up.order">Added direct.</span></td>
                        <td><button class="ek-btn btn-delete btn-mini" (click)="removeProduct(i)"> Remove </button></td>

                    </tr>
                </tbody>
            </table>
            <p class="alignC">Total Records: {{totalRecords}}</p>
            <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,30]"
                (onPageChange)="paginate($event)"></p-paginator>

            <ims-rswindow windowWidth="600" [rswComponentData]="rswComponentData" (onClose)="onRSWClose($event)"
                (onScrolledToBottom)="onRSWScrolledToBottom($event)"></ims-rswindow>
        </div>
    </div>
</div>


<p-dialog header="Add new product to filtered students" [(visible)]="showAddProductModal" [width]="450" [height]="500" [modal]="true">
    <form [formGroup]="productAddForm" (ngSubmit)="addUserProductAndFulfill()" class="form-horizontal" role="form">
        <div class="form-group">
                <label for="upcat">Product Category</label>
                <select class="form-control" id="upcat" #upcat placeholder="Placeholder" formControlName="productCategory" (change)="loadProductTypes(upcat.value)">
                    <option [ngValue]="null">Select Product Category</option>
                    <option value="{{pc.id}}" *ngFor="let pc of productCategories" >{{pc.valueAlias}}</option>
                </select>
        </div>
        <div class="form-group">
                <label for="uptype">Product Type</label>
                <select class="form-control" id="uptype" placeholder="Placeholder" formControlName="productType" (change)="setCourseAndStream()"> 
                <option [ngValue]="null">Select Product Type</option>
                <option value="{{pt.id}}" *ngFor="let pt of productTypes" >{{pt.valueAlias}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="upcourse">Course</label>
            <select class="form-control" id="upcourse" placeholder="Placeholder" formControlName="course">
                <option [ngValue]="null">Select Course</option>
                <option value="{{course.id}}" *ngFor="let course of courses" >{{course.valueAlias}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="upstream">Stream</label>
            <select class="form-control" id="upstream" placeholder="Placeholder" formControlName="stream" (change)="loadProducts()">
                <option [ngValue]="null">Select Stream</option>
                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
            </select>
        </div>
        <div class="form-group">
                <label for="up">Product</label>
                <select class="form-control" id="up" placeholder="Placeholder" formControlName="product">
                <option [ngValue]="null">Select Product</option>
                <option value="{{p.id}}" *ngFor="let p of products" >{{p.alias}}</option>
            </select>
        </div>
        
        
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" [disabled]="!productAddForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Add & Fulfill')}}</button>
            </div>
        </div>
    </form>
    
</p-dialog>