<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="activity-navbar">
                <ul>
                    <li class="head">My Admissions</li>
                    <li><a class="active" routerLink="/student/forum/question">My Questions</a></li>
                    <li class="link-action"><a routerLink="/student/forum/question/ask">Ask Question</a></li>
                </ul>
            </div> -->
            <div class="feeds panel-loader" [ngClass]="panelLoader">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Courses/Programs</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Course</th>
                                    <th>Program</th>
                                    <th>Stream</th>
                                    <th>Batch</th>
                                    <th>Center</th>
                                    <th>Approval<br>Status</th>
                                    <th>Payment<br>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders; let i=index">
                                    <td>{{i+1}}.</td>
                                    <td>{{order.relCourse?.valueAlias}}<br><small>Session: {{order.relSession?.name}}</small></td>
                                    <td><b>{{order?.productTitle}}</b></td>
                                    <td>{{order.relStream?.valueAlias}}</td>
                                    <td>{{order.relBatch?.code}}</td>
                                    <td>{{order.relCenter?.title}}</td>
                                    <td><b>{{(order.isApproved?'Approved':'Pending')}}</b></td>
                                    <td><small>{{order.paymentStatus}}</small><br><a *ngIf="order.paymentStatus!='Paid'" routerLink="/student/shop/order/{{order.id}}/payment" class="btn btn-xs btn-info"> Pay Now </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>