<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Downloads - {{downloadCat?.title}}</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive"  *ngIf="downloads?.length >0">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of downloads; let i=index" >
                                    <td>{{(i+1)}}</td>
                                    <td><b>{{d.title}}</b></td>
                                    <td><a href="{{d.fileUrl}}" target="new">View/Download</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="alignC">Total Records: {{totalRecords}}</p>
                        <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                    </div>
                    <h3 class="alignC" *ngIf="!downloads||downloads?.length<1">
                        No downloads available for now.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>