<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Downloads</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!downloadCats||downloadCats.length<1" >
                                    <td colspan="8" ><h3 class="alignC">No downloads available for now.</h3></td>
                                </tr>
                                <tr *ngFor="let dc of downloadCats; let i=index" >
                                    <td>{{(i+1)}}</td>
                                    <td><b>{{dc.title}}</b></td>
                                    <td><a routerLink="/student/resources/downloads/{{dc.id}}">View All</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>