<div class="activity-navbar">
    <ul>
        <li class="head">Student</li>
        <li><a routerLink="/ims/{{route}}/student/{{student?.id}}">Profile</a></li>
        <li><a routerLink="/ims/{{route}}/student/order/{{student?.id}}">Orders</a></li>
        <li><a routerLinkActive="active" routerLink="/ims/{{route}}/student/program/{{student?.id}}">Products/Programs</a></li>
        <li><a>Reports</a></li>
        <li><a>Timeline</a></li>
        <li><a routerLink="/ims/{{route}}/student/setting/{{student?.id}}">Settings</a></li>
    </ul>
</div>
<div class="activity-header">
    <h1 class="activity-heading">Products/Programs <small>{{student?.firstName}} {{student?.lastName}} </small></h1>
    <div class="activity-header-menu">
        <ul>
            <li><a (click)="showAddForm()" class="ek-btn btn-create">Add New Product/Program</a></li>
            <li><a routerLink="/ims/{{route}}/student" class="ek-btn btn-list">All Students</a></li>
        </ul>
    </div>
</div>
<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li><a routerLink="/ims/home">Home</a></li>
        <li><a routerLink="/ims/{{route}}">{{title}}</a></li>
        <li><a routerLink="/ims/{{route}}/student">Students</a></li>
        <li><a routerLink="/ims/{{route}}/student/{{student?.id}}">{{student?.firstName}} {{student?.lastName}}</a></li>
        <li class="active">Products</li>
    </ol>
</div>

<div class="activity-content">
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
            <div class="panel-heading">
                <h3 class="panel-title">Product/Programs</h3>
            </div>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product/Program</th>
                        <th>Order No</th>
                        <th>Added At</th>
                        <th>Validity</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="userProducts&&userProducts.length<1" >
                        <td colspan="4">Zero records!</td>
                    </tr>
                    <tr *ngFor="let up of userProducts; let i=index">
                        <td>{{i+1}}</td>
                        <td>
                            <!-- <ng-container *ngIf="up.productCategory==''"> -->
                                <a routerLink="/ims/{{routes[up?.productCategory]}}/product/{{up.product?.id}}">{{up.product?.alias}}</a>
                            <!-- </ng-container> -->
                        </td>
                        <td><a *ngIf="up.order"  routerLink="/ims/{{route}}/order/{{up.order?.id}}">{{up.order?.orderNo}}</a><span *ngIf="!up.order" >Added direct.</span></td>
                        <td>{{up.createdAt|date:'mediumDate'}}<br><small>{{up.createdAt|date:'shortTime'}}</small></td>
                        <td>{{up?.validTill|date:'mediumDate'}}</td>
                        <td>
                            <a class="btn btn-xs btn-success" *ngIf="selectedIndex!=i" (click)="selectedIndex=i">Extend validity</a>
                            <ng-container *ngIf="selectedIndex==i">
                                <p-calendar id="validTill" class="form-control ngp-date" [(ngModel)]="validTill" dateFormat="dd/mm/yy"></p-calendar>
                                 <a (click)="extendValidity()" class="btn btn-xs bth-info">save</a>
                            </ng-container>
                            <a (click)="removeUserProduct(i)" class="btn btn-xs btn-danger">Remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</div>
<p-dialog header="Add new product to {{student?.firstName}} {{student?.lastName}} (without order)" [(visible)]="showAddProductModal" [width]="450" [height]="400" [modal]="true">
    
    <form [formGroup]="productAddForm" (ngSubmit)="addUserProductAndFulfill()" class="form-horizontal" role="form">
        <div class="form-group">
             <label for="upcat">Product Category</label>
             <select class="form-control" id="upcat" placeholder="Placeholder" formControlName="productCategory" (change)="loadProductTypes()">
                 <option [ngValue]="null">Select Product Category</option>
                 <option value="{{pc.id}}" *ngFor="let pc of productCategories" >{{pc.valueAlias}}</option>
             </select>
        </div>
        <div class="form-group">
             <label for="uptype">Product Type</label>
             <select class="form-control" id="uptype" placeholder="Placeholder" formControlName="productType" (change)="loadProducts()">
                <option [ngValue]="null">Select Product Type</option>
                <option value="{{pt.id}}" *ngFor="let pt of productTypes" >{{pt.valueAlias}}</option>
            </select>
        </div>
        <div class="form-group">
             <label for="up">Product</label>
             <select class="form-control" id="up" placeholder="Placeholder" formControlName="product">
                <option [ngValue]="null">Select Product</option>
                <option value="{{p.id}}" *ngFor="let p of products" >{{p.alias}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="validity">Valid Till</label>
            <p-calendar formControlName="validTill" [minDate]="minDateValue" class="form-control"></p-calendar>
        </div>
        
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" [disabled]="!productAddForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Add & Fulfill')}}</button>
            </div>
        </div>
    </form>
    
</p-dialog>