<div class="rsw-child">
    <div>

        <form (ngSubmit)="changeEmail()" role="form" [formGroup]="changeEmailFrm">
            <legend *ngIf="title">Change Email ID</legend>

            <div class="form-group">
                <label for="cuEmail">New Email ID</label>
                <input type="email" class="form-control" id="cuEmail" placeholder="Enter new email id" formControlName="email">
            </div>
            <div *ngIf="frmError mb10">
                <div class="alert alert-danger">
                    {{frmError}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!changeEmailFrm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
        </form>

    </div>
</div>