<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                    <div class="col-md-9"><h3 class="panel-title">Class Test Series</h3></div>
                    <div class="col-md-"> </div>
                    </div>
                </div> 
                <div class="panel-body">
                    <p-fieldset [toggleable]="true" *ngFor="let testSeries of ceTestSeries;let testSeriesIndex=index" [collapsed]="(testSeriesIndex == activeTestSeries? false: true)" >
                        <p-header>{{testSeries?.tsDetail?.title}}</p-header>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Test Date</th>
                                        <th>Max Score</th>
                                        <th>Your Score</th>
                                        <th>Sectionwise Score</th>
                                        <th>Rank</th>
                                        <th>Per(%)</th>
                                        <th>Correct</th>
                                        <th>In-Correct</th>
                                        <th>Report</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!testSeries?.tests||testSeries?.tests.length<1">
                                        <td colspan="8">You don't have any conventional test.</td>
                                    </tr>
                                    <tr *ngFor="let ceTest of testSeries?.tests; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{ceTest?.test?.title}}</td>
                                        <td>{{ceTest?.test?.date | date:'d MMM, y'}}</td>
                                        <td>{{ceTest?.test?.maxScore}}</td>
                                        <td>{{ceTest?.stdScore}}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12" *ngFor="let sectionItem of ceTest?.test.sections; let scI=index">
                                                    <b>{{sectionItem.title}}</b> : {{ceTest?.sectionScore[scI].score}},
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ceTest?.rank}}</td>
                                        <td>{{ceTest?.percentage}}</td>
                                        <td>{{ceTest?.correctQs}}</td>
                                        <td>{{ceTest?.inCorrectQs}}</td>
                                        <td> <a class="btn btn-info" style="color: white;" routerLink="/student/class-test/report/" [queryParams]="{classTestResultId:ceTest?._id}">Report</a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p-dialog header="Upload Answersheet" [width]="600" [height]="400" [(visible)]="answerUploadModal">
    <div class="panel-loader" [ngClass]="panelLoader">
    <p><input type="file" id="fmFile"></p>
    <p><button class="btn btn-info" (click)="uploadAnswersheet()">Upload</button></p>
    </div>
</p-dialog> -->
<p-dialog header="Upload Answersheet" [width]="1024" [height]="600" [(visible)]="viewPdfModal">
    
    <object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/149125/relativity.pdf" type="application/pdf" width="100%" height="100%">
        <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>.</p>
     </object>
</p-dialog>
<p-dialog header="Instructions" [width]="600" [height]="400" [(visible)]="instructionModal">
    <ul>
        <li>Download QCAB.</li>
        <li>Write your answer in QCAB Format for better practice and real feel of UPSC Mains otherwise you can write your answer in A4 paper also.</li>
        <li>Scan all the pages of your answer sheet properly with clear visibility in a single PDF File.</li>
        <li>Answer Sheet PDF file size should not exceed to 50MB.</li>
        <li>Upload your answer sheet before last date of submission.</li>
        <li>You can re-upload your answer sheet if you find any issue in your uploaded sheet.</li>        
        <li>Click on "Confirm to Evaluate" Button to submit your answer sheet. </li>
        <li>Check carefully before submission your answer sheet as you can't upload the file again once submitted.</li>
        <li>You can view the Solution only after submission of your answer sheet.</li>
        <li>Once your answer sheet gets evaluated, you can view it in the same panel with your score.</li>
    </ul>
</p-dialog>

<p-dialog header="Feedback Form"  [width]="600" [height]="400" [(visible)]="showFeedBackOption">
    <div class="panel-loader" [ngClass]="panelLoader">
        
        <form  role="form" [formGroup]="feedBackForm" >
            <table class="table ">
                <thead>
                    <tr>
                        <th>Q.No.</th>
                        <th>Question</th>
                        <th>Your Response</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let fb of feedbackList">
                        <tr *ngFor="let q of fb.fbqs;let i =index" >
                            <td>{{i+1}}</td>
                            <td>{{q?.title}}</td>
                            <td>
                                <select formControlName="response" id="" class="form-control" >
                                    <option value="null">Select Response</option>
                                    <option value="1">Poor</option>
                                    <option value="2">Average</option>
                                    <option value="3">Medium</option>
                                    <option value="4">Good</option>
                                    <option value="5">Excelent</option>
                                </select>
                            </td>
                            <td><button class="btn btn-success" (click)="submitFeedBack(q.id)">Submit</button></td>
                        </tr>
                    </ng-container >
                </tbody>
            </table>
            
        </form>
        
         
    </div>
</p-dialog>

<div class="panel-loader" [ngClass]="panelLoader">
<p-dialog header="Solution Video" (onHide)="closeVideo()" [modal]="true" [resizable]="false" [draggable]="false" [width]="600"
    [height]="400" [(visible)]="showVideo">
<!-- <div class="panel-loader" [ngClass]="panelLoader" *ngIf="videoSolutions">
        <iframe [src]="videoSolutions" width="550" height="300" frameborder="0" allowfullscreen></iframe>
        <p *ngIf="viewLimitMsg">{{viewLimitMsg}}</p>
    </div>-->
</p-dialog>
</div>
