<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile">
                <div id="testMentTabView" class="panel-body panel-loader" [ngClass]="panelLoader">
                    <p-tabView *ngIf="courseIds&&courseIds.length>0">
                        <p-tabPanel header="{{courses[courseId]?.valueAlias}}" *ngFor="let courseId of courseIds; let i=index" [selected]="courses[courseId]?._id == activeCourse">
                            <div *ngFor="let testSeries of userTestSeries; let j=index">
                                <p-fieldset *ngIf="testSeries?.course?._id == courses[courseId]?._id" [toggleable]="true" [collapsed]="(testSeries.tsDetail._id == activeTestSeries? false: true)">
                                    <p-header>{{testSeries?.tsDetail?.title}}</p-header>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row test-student" *ngFor="let tests of testSeries.tests; let i=index">
                                                <div class="col-md-1 col-xs-1">
                                                    <strong>{{i+1}}</strong>
                                                </div>
                                                <div class="col-md-7 col-xs-10">
                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12">
                                                            <b>{{tests?.test?.title}}</b>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">Score : </span>
                                                            <b>{{tests?.stdScore || 0}}</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label"> Per : </span>
                                                            <b>{{tests?.percentage? tests?.percentage?.toFixed(2) : 0}}%</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">Correct : </span>
                                                            <b>{{tests?.correctQs || 0}}</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">In Correct : </span>
                                                            <b>{{tests?.inCorrectQs || 0}}</b>
                                                        </div>
                                                    </div> 
                                                </div>
                                                <div class=" col-xs-offset-1 col-md-3 col-xs-1 ">
                                                    <button class="btn btn-warning margin-top-20" routerLink="/student/testment/overview" [queryParams]="{uotId:tests?._id}">View Report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                    <div *ngIf="userTestSeries?.length < 1" class="alignC no-data-man-img" style="width: 100%; height:50vh;">
                        <h3>No Report !!</h3>
                        <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">ATTEMPT NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>