<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="activity-navbar">
                <ul>
                    <li class="head">My Admissions</li>
                    <li><a class="active" routerLink="/student/forum/question">My Questions</a></li>
                    <li class="link-action"><a routerLink="/student/forum/question/ask">Ask Question</a></li>
                </ul>
            </div> -->
            <div class="feeds panel-loader" [ngClass]="panelLoader">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">My Admissions/Orders</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Order No</th>
                                    <th>Program/Product</th>
                                    <th>Order<br>Status</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders; let i=index">
                                    <td>{{i+1}}.</td>
                                    <td>{{order.orderNo}}</td>
                                    <td>{{order.productTitle}}</td>
                                    <td><span class="label label-{{order.status}} label-circle"></span> {{order.status}}</td>
                                    <td>Paid: ₹ {{order.paid}}<br><small class="fs10">Total: ₹ {{order.total}}</small></td>
                                    <td>{{order.createdAt|date:'mediumDate'}}<br><small>{{order.createdAt|date:'shortTime'}}</small></td>
                                    <td><small>{{order.paymentStatus}}</small><br><a *ngIf="order.paymentStatus!='Paid'&&order?.total!=0&&order?.total!=order?.paid" routerLink="/student/shop/order/{{order.id}}/payment" class="btn btn-xs btn-info"> Pay Now </a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>