<div class="activity-content">
    <div class="row">
        <div class="col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Notification</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" (ngSubmit)="updateNotification()" [formGroup]="notificationForm">
                        <div class="form-group">
                            <label for="input2" class="col-sm-2 control-label">Title<sup>*</sup>:</label>
                            <div class="col-sm-10">
                                <input type="text" id="input2" class="form-control" formControlName="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nftype" class="col-sm-2 control-label">Type<sup>*</sup></label>
                            <div class="col-sm-10">
                                <input type="text" id="nftype" class="form-control" formControlName="type" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nfe" class="col-sm-2 control-label">Action Event<sup>*</sup></label>
                            <div class="col-sm-10">
                                <select #nfe id="nfe" class="form-control" formControlName="actionEvent" (change)="setHelp(nfe.value)">
                                    <option value="">Select</option>
                                    <option [value]="e.id" *ngFor="let e of actionEvents" >{{e.valueAlias}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nfsub" class="col-sm-2 control-label">Subject<sup>*</sup></label>
                            <div class="col-sm-10">
                                <input type="text" id="nfsub" class="form-control" formControlName="subjectTemplate">
                            </div>
                        </div>
                        <ng-container *ngIf="notificationForm.value.type=='EMAIL'">
                            <div class="form-group">
                                <label for="senderName" class="col-sm-2 control-label">Default From Name <sup>*</sup></label>
                                <div class="col-sm-10"><input type="text" formControlName="senderName" class="form-control" [required]="notificationForm.value.type=='EMAIL'"></div>
                            </div>
                            <div class="form-group">
                                <label for="sender" class="col-sm-2 control-label">Default From Email <sup>*</sup></label>
                                <div class="col-sm-10"><input type="text" formControlName="sender" class="form-control" [required]="notificationForm.value.type=='EMAIL'"></div>
                            </div>
                        </ng-container>
                        <div class="form-group">
                            <label for="nftmplt" class="col-sm-2 control-label">Template<sup>*</sup></label>
                            <div class="col-sm-10">
                                <quill-editor id="nftmplt" placeholder="Notification template" formControlName="template"></quill-editor>
                                <!-- <textarea id="nftmplt" class="form-control" formControlName="template"></textarea> -->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nfparams" class="col-sm-2 control-label">Params<sup>*</sup></label>
                            <div class="col-sm-10">
                                <textarea id="nfparams" class="form-control" formControlName="params"></textarea>
                            </div>
                        </div>
                        <fieldset formArrayName="defaultNotifications" class="notifier-default-nfset">
                            <div [formGroupName]="i" *ngFor="let dnf of totalDefaultNotifications; let i=index">
                                <hr *ngIf="i>0" />
                                <div class="form-group">
                                    <label for="nfdtype" class="col-sm-2 control-label">Always Send to<sup>*</sup></label>
                                    <div class="col-sm-10">
                                        <select name="" id="nfdtype" class="form-control" formControlName="type">
                                        <option value="" >Select</option>
                                        <option value="ADMIN" >Admin</option>
                                        <option value="CUSTOM" >Custom Number/Email ID</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group" *ngIf="notificationForm.value.defaultNotifications[i].type=='CUSTOM'">
                                    <label for="nfdsubto" class="col-sm-2 control-label">To Value<sup>*</sup></label>
                                    <div class="col-sm-10">
                                        <input type="text" id="nfdsubto" class="form-control" formControlName="to">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nfdsub" class="col-sm-2 control-label">Subject<sup>*</sup></label>
                                    <div class="col-sm-10">
                                        <input type="text" id="nfdsub" class="form-control" formControlName="subjectTemplate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nfdtmplt" class="col-sm-2 control-label">Template<sup>*</sup></label>
                                    <div class="col-sm-10">
                                        <textarea id="nfdtmplt" class="form-control" formControlName="template"></textarea>
                                    </div>
                                </div>
                                <span class="btn btn-xs btn-link pull-right" (click)="removeDefaultReceipent(i)">Remove</span>
                            </div>
                        </fieldset>
                        <p><button type="button" class="btn btn-link" (click)="addDefaultReceipent()">Add Default Receipent</button></p>

                        <div class="form-group">
                            <label for="input3" class="col-sm-2 control-label">Status<sup>*</sup>:</label>
                            <div class="col-sm-10">

                                <select name="" id="input3" class="form-control" formControlName="status">
                                    <option value="true" >Active</option>
                                    <option value="false" >Inactive</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" [disabled]="!notificationForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="instruction-box">
                <h4>Instructions:</h4>
                <ul>
                    <li>Fields marked with * are mandatory.</li>
                </ul>
            </div>
            <hr/>
            <div class="instruction-box">
                <h4>Selected Case's available params:</h4>
                <ul>
                    <li *ngFor="let p of selectedActionEvent?.more.split(',')">[[{{p}}]]</li>
                </ul>
            </div>

        </div>
    </div>

</div>