<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Notifications</h3>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <p *ngIf="rows&&rows?.length<1" class="alignC">
                        <b>No notification available for now!</b>
                        <a routerLink="{{routes}}/add" class="ek-btn btn-create btn-icon">Add New</a>
                    </p>
                    <table class="table table-bordered table-hover" *ngIf="rows?.length>0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>ActionEvent</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of rows; let i=index">
                                <td>{{i+1}}</td>
                                <td><a routerLink="{{routes}}/{{row.id}}">{{row.title}}</a></td>
                                <td>{{row.type}}</td>
                                <td>{{row.actionEvent?.valueAlias}}</td>
                                <td>{{row.status?'Active':'Inactive'}}</td>
                                <td><a class="ek-btn btn-edit btn-mini" routerLink="{{routes}}/edit/{{row.id}}">Edit</a>
                                    <a class="ek-btn btn-delete btn-mini" (click)="deleteNotification(row)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
