
<div class="activity-content">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-primary panel-profile">
                <div class="panel-heading">
                    <h3 class="panel-title">{{notification?.title}}</h3>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">

                    <table class="table table-brdr0">

                        <tbody>
                            <tr>
                                <td><label>Name</label><br>{{notification?.title}}</td>
                                <td><label>Status</label><br>{{notification?.status?'Active':'Inactive'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>

                    </p>

                </div>
                <div class="panel-footer">
                    <a class="ek-btn btn-edit " routerLink="{{routes}}/edit/{{notification?.id}}" *ngIf="panelLoader!='deleted'">Edit</a>
                    <a class="ek-btn btn-delete " (click)="deleteNotification(notification?.id)" *ngIf="panelLoader!='deleted'">Delete</a>
                </div>
            </div>

        </div>
    </div>

</div>
