<div class="step step1" *ngIf="activeStep===1">
    <form class="form" [formGroup]="studentRegForm" (ngSubmit)="processOrderToStep2()" [ngClass]="validationError">
        <fieldset class="single-product-form product-form-group">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="center">Centre/Branch<sup>*</sup> </label>
                        <select class="form-control" id="center" placeholder="Select Center" (change)="onCenterChanged()" formControlName="center">
                        <option value="">Select Centre</option>
                        <option value="{{center.id}}" *ngFor="let center of centers; let i=index" >{{center.title}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="session">Session<sup>*</sup> </label>
                        <select class="form-control" id="session" placeholder="Select Session" (change)="onSessionChanged()" formControlName="session">
                            <option value="">Select Session</option>
                            <option value="{{session.id}}" *ngFor="let session of sessions; let i=index" >{{session.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="stream">Stream<sup>*</sup> </label>
                        <select class="form-control" id="stream" placeholder="Select Stream" (change)="onStreamChanged()" formControlName="stream">
                            <option value="">Select Stream</option>
                            <option value="{{stream.id}}" *ngFor="let stream of streams; let i=index" >{{stream.valueAlias}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="productType">Program<sup>*</sup> </label>
                        <select #ptype class="form-control" id="productType" placeholder="Program" (change)="onProgramTypeChanged(ptype.value)">
                            <option value="">Select Program Type</option>
                            <option value="{{i}}" *ngFor="let pt of productTypes; let i=index" >{{pt.valueAlias}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="!selectedProductType?.sellInMulti" >
                    <div class="form-group">
                        <label for="product">Program Package<sup>*</sup> </label>
                        <select #prdct class="form-control" id="product" placeholder="Select Product" (click)="checkProductDepParams()" (change)="onProductChanged(prdct.value)" formControlName="product">
                            <option value="">Select Program Package</option>
                            <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12" *ngIf="selectedProductType?.sellInMulti" >
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="7">{{selectedProductType?.valueAlias}} Packages/Options</th>
                            </tr>
                            <tr>
                                <th width="35px">SNO</th>
                                <th>Subject/Package</th>
                                <th>Type</th>
                                <th width="180px">Date</th>
                                <th class="alignR" width="70px">Price</th>
                                <th width="90px">Buy</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let product of products; let i=index"  [ngClass]="(product.isCombo?'swip-package':'')">
                                <td >{{i+1}}.</td>
                                <td>{{product.title}}</td>
                                <td><span *ngIf="product.isCombo"><i class="fa fa-th-large"></i> Package</span><span *ngIf="!product.isCombo">Individual Subject</span></td>
                                <td class="swip-dt">
                                    <p *ngIf="!product.isCombo">{{product.description}}</p>
                                    <p *ngIf="product.isCombo"><button type="button" class="btn btn-xs btn-default" (click)="showProductStrucutre(i)">View Schedule</button></p>
                                </td>
                                <td class="alignR"><ng-container *ngIf="product.mrp!=product.cost"><span  class="strikethrough">₹ {{product.mrp}}</span><br></ng-container>₹ {{product.cost}}</td>
                                <td ><button class="btn btn-xs btn-info" (click)="addProductToCart(i)" *ngIf="addedProducts.indexOf(i)==-1" >Select</button> <button class="btn btn-xs btn-success" *ngIf="addedProducts.indexOf(i)>-1">Added</button> &nbsp; &nbsp; <i class="fa fa-close fa-1x" (click)="removeCartProduct(i)" *ngIf="addedProducts.indexOf(i)>-1"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="alignR">Sub Total: ₹ {{cartTotal}}</p>
                    <p class="alignR">Disount: ₹ {{discountAmt}}</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="course">Course<sup>*</sup> </label>
                        <select class="form-control" id="course" placeholder="Select Course" (change)="onCourseChanged()" formControlName="course">
                            <option value="">Select Course</option>
                            <option value="{{course.id}}" *ngFor="let course of courses; let i=index" >{{course.valueAlias}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="selectedProduct?.haveBatch">
                    <div class="form-group">
                        <label for="batch">Batch<sup>*</sup> </label>
                        <select class="form-control" id="batch" placeholder="Select batch" #btch (change)="loadBatchSeat(btch.value)" formControlName="batch">
                            <option value="">Select Batch</option>
                            <option value="{{i}}" *ngFor="let batch of selectedProduct.batches; let i=index" >{{batch.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6" *ngIf="batchSeats?.length>0&& !selectedProduct?.customParam?.mode">
                    <div class="form-group">
                        <label for="">Mock Interview Mode<sup>*</sup></label>
                        <select formControlName="mode" class="form-control" id="">
                            <option value="null">Select Interview Mode</option>
                            <option value="online">Skype</option>
                            <option value="offline">Physical</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6" *ngIf="batchSeats&&batchSeats?.length>0&&(selectedProduct?.customParam?.mode||studentRegForm.value.mode==='online')">
                    <div class="form-group">
                        <label for="">Skype ID<sup>*</sup></label>
                            <input type="text" formControlName="skypeId" id="skypeId" placeholder="Your Skype ID for Mock Interview" class="form-control" minlength="6" maxlength="15">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="batchSeats?.length>0">
                    <div class="form-group">
                        <label for="batchSeat">Slot<sup>*</sup></label>
                        <select class="form-control" formControlName="batchSeat" id="">
                            <option [value]="null">Select Slot</option>
                            <option value="{{i}}" *ngFor="let batchSlot of batchSeats;let i=index" [ngClass]="batchSlot?.admissionStatus?'':'booked'" [disabled]="batchSlot.admissionStatus?false:true">{{batchSlot.title}} {{batchSlot?.admissionStatus?'':'Booked'}}</option>
                        </select>
                    </div>

                </div>
                <div class="col-xs-12" *ngIf="selectedProduct?.customParam?.needExamDetail">
                    <!-- <hr> -->
                    <!-- <p>Are you ESE Mains 2018 Qualified?* : : 
                        <input [(ngModel)]="isCurrentESE" name="isCurrentESE" [ngModelOptions]="{standalone: true}" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp;
                        <input type="radio" name="isCurrentESE" [(ngModel)]="isCurrentESE" [ngModelOptions]="{standalone: true}" [value]="false"> No
                     </p> -->
                    <fieldset formGroupName="customParams">
                        <fieldset formGroupName="currentESE">
                            <div class="row" >
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="currentEseSrn">ESE 2018 Roll Number</label>
                                        <input type="text" class="form-control" id="currentEseSrn" placeholder="ESE 2018 Roll Number" formControlName="rollNo">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="prelimsExpectedMarks">Expected Marks in Prelims</label>
                                        <input type="text" class="form-control" id="prelimsExpectedMarks" placeholder="Expected Marks in Prelims" formControlName="prelimsExpectedMarks">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="expectedPaperImarks"> Expected Marks in Mains Paper-I</label>
                                        <input type="text" class="form-control" id="expectedPaperImarks" placeholder="Expected Marks in Mains Paper-I" formControlName="expectedPaperImarks">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="expectedPaperIImarks">Expected Marks in Mains Paper-II</label>
                                        <input type="text" class="form-control" id="expectedPaperIImarks" placeholder="Expected Marks in Mains Paper-II" formControlName="expectedPaperIImarks">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="eseAdmitCard">ESE 2018 Admit Card</label>
                                        <ek-fileinput [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="eseAdmitCard"></ek-fileinput>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                    <hr>
                </div>
            </div>

        </fieldset>
        <fieldset formGroupName="user">
            <h3 class="frm-subheading">PERSONAL DETAILS</h3>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="fname">First Name<sup>*</sup> </label>
                        <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="firstName">
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="lname">Last Name <sup>*</sup> </label>
                        <input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lastName">
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="email">Email<sup>*</sup> </label>
                        <input type="text" class="form-control" id="email" placeholder="Email ID" formControlName="email">
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="mobile">Mobile<sup>*</sup> </label>
                        <input type="text" class="form-control" id="mobile" placeholder="Mobile Number (10 Digit)" formControlName="mobile">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="gender">Gender<sup>*</sup> </label>
                        <select #gender class="form-control" id="gender" placeholder="Gender" formControlName="gender">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="dob">Date of Birth (d/m/y)<sup>*</sup> </label>
                        <p-calendar id="dob" class="form-control ngp-date" formControlName="dob" dateFormat="dd/mm/yy"></p-calendar>

                        <!-- <input #dob type="text" #dob  id="dob" placeholder="Date of  Birth " formControlName="dob" (keypress)="(dob.value.length>1?(gender.focus()):'')"> -->
                        <!-- <my-date-picker name="dob" id="dob" [options]="myDatePickerOptions" [placeholder]="'DD/MM/YYYY'" formControlName="dob"></my-date-picker> -->
                    </div>
                </div>

            </div>

            <fieldset formGroupName="father">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fathername">Father Name<sup>*</sup> </label>
                            <input type="text" class="form-control" id="fathername" placeholder="Father Name" formControlName="name">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fmobile">Father's Mobile<sup>*</sup> </label>
                            <input type="text" class="form-control" id="fmobile" placeholder="Father's Contact Number" formControlName="mobile">
                        </div>
                    </div>
                </div>

            </fieldset>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <fieldset formGroupName="mother">
                        <div class="form-group">
                            <label for="mothername">Mother's Name<sup>*</sup> </label>
                            <input type="text" class="form-control" id="mothername" placeholder="Mother's Name" formControlName="name">
                        </div>

                    </fieldset>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="category">Category<sup>*</sup> </label>
                        <select class="form-control" id="category" placeholder="Category" formControlName="category">
                    <option value="">Select Category</option>
                    <option value="GENERAL">General</option>
                    <option value="OBC">OBC</option>
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <option value="PH">PH</option>
                </select>
                    </div>
                </div>
            </div>

            <fieldset formGroupName="address">
                <h3 class="frm-subheading">Shipping Address</h3>
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="address">Address<sup>*</sup> </label>
                            <textarea rows="3" class="form-control" id="address" placeholder="Address" formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="landmark">Landmark<sup>*</sup> </label>
                            <input type="text" class="form-control" id="landmark" placeholder="Nearby landmark" formControlName="landmark">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="city">City<sup>*</sup> </label>
                            <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="state">State<sup>*</sup> </label>
                            <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pin">Postal Code (PIN)<sup>*</sup> </label>
                            <input type="text" class="form-control" id="pin" placeholder="Pincode (6 Digit)" formControlName="postalCode">
                        </div>
                    </div>
                </div>

            </fieldset>
            <fieldset formGroupName="permanantAddress">
                <h3 class="frm-subheading">PERMANENT ADDRESS <span class="same-adrs-opt"><input #adrsOpt type="checkbox" (change)="setAddressSimilarity($event)"> Same as correspondence?</span></h3>
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="address">Address </label>
                            <textarea rows="3" class="form-control" id="address" placeholder="Address" formControlName="address"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="landmark">Landmark</label>
                            <input type="text" class="form-control" id="landmark" placeholder="Nearby landmark" formControlName="landmark">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pin">Postal Code (PIN)</label>
                            <input type="text" class="form-control" id="pin" placeholder="Pincode (6 Digit)" formControlName="postalCode">
                        </div>
                    </div>
                </div>

            </fieldset>
            <div formArrayName="pastCourses">
                <h3 class="frm-subheading">ACADEMIC DETAILS</h3>

                <div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Name of College/City</th>
                                <th>Passing Year</th>
                                <th>% Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [formGroupName]="i" *ngFor="let pastCrs of pastCrses; let i=index">
                                <th>{{studentRegForm.value?.user.pastCourses[i].course}}<sup *ngIf="i<1">*</sup> </th>
                                <td style="width:40%"><input type="text" class="form-control" id="psclg{{i}}" placeholder="College Name" formControlName="college"></td>
                                <td><input type="text" class="form-control" id="psyr{{i}}" placeholder="Year of course" formControlName="year"></td>
                                <td><input type="text" class="form-control" id="psmarks{{i}}" placeholder="Marks" formControlName="marks"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <hr>
            <div formArrayName="pastExams">
                <p>Have you attempted the Exam(GATE/IES) in the previous year* : <input [(ngModel)]="stdHavePastExams" name="stdHavePastExams" [ngModelOptions]="{standalone: true}" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="stdHavePastExams"
                        [(ngModel)]="stdHavePastExams" [ngModelOptions]="{standalone: true}" [value]="false"> No</p>
                <div class="row" *ngIf="stdHavePastExams">
                    <div class="col-md-4" formGroupName="0">
                        <div class="form-group">
                            <label for="eGATE">Rank in GATE</label>
                            <input type="text" class="form-control" id="eGATE" placeholder="GATE RANK" formControlName="rank">
                        </div>


                    </div>
                    <div class="col-md-8" formGroupName="1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="eESE">Rank in IES</label>
                                    <input type="text" class="form-control" id="eESE" placeholder="RANK in ESE" formControlName="rank">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="eRmrk">Attended IES Interview</label>
                                    <p><input type="radio" name="remarks" value="IES Interview- Yes" formControlName="remarks"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="remarks" value="IES Interview- No" formControlName="remarks"> No</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p>Are you old Student of Institute* : : <input [(ngModel)]="isExStd" name="isExStd" [ngModelOptions]="{standalone: true}" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="isExStd" [(ngModel)]="isExStd" [ngModelOptions]="{standalone: true}"
                    [value]="false"> No</p>
            <fieldset formGroupName="exStudent" *ngIf="isExStd">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="exsrn">Enrollment Number</label>
                            <input type="text" class="form-control" id="exsrn" placeholder="Last year Enrollment Number" formControlName="srn">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="exsession">Session Year</label>
                            <input type="text" class="form-control" id="exsession" placeholder="Session Year" formControlName="session">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="idProof">ID Proof</label>
                            <!-- <input type="file" id="idProof" placeholder="ID Proof" (change)="upload('idProof')"> -->
                             <ek-fileinput [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="idProof"></ek-fileinput>
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr>
            <p>Are you Current Student of Institute* : : <input [(ngModel)]="isCurrentStd" name="isCurrentStd" [ngModelOptions]="{standalone: true}" type="radio" [value]="true"> Yes &nbsp;&nbsp;&nbsp; <input type="radio" name="isCurrentStd" [(ngModel)]="isCurrentStd" [ngModelOptions]="{standalone: true}"
                    [value]="false"> No</p>
            <fieldset formGroupName="currentStudent" *ngIf="isCurrentStd">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="currentsrn">Enrollment Number</label>
                            <input type="text" class="form-control" id="currentsrn" placeholder="Current year Enrollment Number" formControlName="srn">
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="currentsession">Session Year</label>
                            <input type="text" class="form-control" id="currentsession" placeholder="Session Year" formControlName="session">
                        </div>
                    </div> -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="idProof">ID Proof</label>
                            <!-- <input type="file" id="idProof" placeholder="ID Proof" (change)="upload('idProof')"> -->
                             <ek-fileinput [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="idProof"></ek-fileinput>
                        </div>
                    </div>
                </div>

            </fieldset>
            <div class="photo-grp">
                <h3 class="frm-subheading">PHOTOS</h3>
                <div class="row">

                    <div class="col-md-4">
                        <p>Passport Size photo<sup>*</sup> </p>
                        <p><img src="{{studentRegForm.value?.user.personalImg}}" alt="Student Passport Size Photo" title="Your Passport size photo 140*140" class="img-thumbnail pp-photo"></p>
                        <!-- <p><input id="personalImg" type="file" (change)="upload('personalImg')"></p> -->
                        <p>
                            <ek-fileinput [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="personalImg"></ek-fileinput>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>Signature photo<sup>*</sup> </p>
                        <p><img src="{{studentRegForm.value?.user.signImg}}" alt="Signature Photo" title="Student Signature photo 140*80" class="img-thumbnail sign-photo" style="margin-top:60px"></p>
                        <p>
                            <ek-fileinput [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="signImg"></ek-fileinput>
                        </p>
                        <!-- <p><input type="file" id="signImg" (change)="upload('signImg')"></p> -->
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="col-md-12 fh">
            <h3>Terms & Conditions</h3>
        </div>
        <div class="col-md-12 fr">
            <div class="col-md-12">
                <p style="text-align:justify">I <input type="text" style="border: transparent;" value="{{studentRegForm.value.user?.firstName}} {{studentRegForm.value.user?.lastName}}" class="tnc-text"> applying for admission in <input style="border: transparent; width:300px" *ngIf="selectedProduct?.title"
                        type="text" value="{{selectedProduct?.title}}" class="tnc-text ttxt"> programme of the institute for session <input style="border: transparent; width:56px" *ngIf="studentRegForm.value?.session" type="text" value="{{getValue(sessions, studentRegForm.value?.session).name}}"
                        class="tnc-text">. I certify that information given by me is true to the best as my knowledge & belief. I understand that if anything is found false/incorrect at any state, my Candidature / admission to the course shall be cancelled
                    without any refunds. I shall abide by all the rule & regulations of Institute. Also, If I get selected in any competitive examination Institute can publish and display my name and photograph on its website, promotional material (all
                    medium of promotions i.e. newspaper, online on air etc. <br>I have read the <a href="https://iesmaster.org/tandc" target="new">‘Term & Conditions’</a> of the institute given and agree to abide by the same.</p>
                <p class="alignR">
                    (Signature of Student) <img src="{{studentRegForm.value?.user.signImg}}" class="tnc-sign" style="width: 140px;
                        height: 60px;">
                </p>
                <p><label><input type="checkbox" (change)="setTandC($event)" value="true"> Accept Terms & Conditions.</label></p>
            </div>
            <hr>
        </div>
        <div class="ftr">
            <div class="row">
                <div class="col-md-12" *ngIf="fh.error">
                    <div class="alert alert-danger">{{fh.error}}</div>

                </div>
                <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4" style="margin-top:30px;">
                    <div class="form-group">
                        <button class="btn btn-success" [disabled]="fh.status=='Processing'">{{(fh.status=='Processing'?'Processing...':'Next')}}</button>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>
<div class="step step2" *ngIf="activeStep===2">
    <div class="uni-order-frm-step-2">
        <fieldset class="single-product-form product-form-group">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="center">Centre/Branch<sup>*</sup> </label>
                        <span>{{getValue(centers, formData?.center).title}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="course">Course<sup>*</sup> </label>
                        <span>{{getValue(courses, formData?.course).valueAlias}}</span>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="productType">Program Type<sup>*</sup> </label>
                        <span>{{selectedProductType.valueAlias}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="stream">Stream<sup>*</sup> </label>
                        <span>{{getValue(streams, formData?.stream).valueAlias}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="session">Session<sup>*</sup> </label>
                        <span>{{getValue(sessions, formData?.session).name}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="product">Program/Package<sup>*</sup> </label>
                        <span>{{selectedProduct?.title}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="selectedProduct?.haveBatch">
                    <div class="form-group">
                        <label for="batch">Batch<sup>*</sup> </label>
                        <span>{{selectedProduct?.batches[formData?.batch].name}}</span>
                    </div>
                </div>
            </div>

        </fieldset>
        <fieldset>
            <h3 class="frm-subheading">PERSONAL DETAILS</h3>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="fname">First Name<sup>*</sup> </label>
                        <span>{{formData?.user.firstName}}</span>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="lname">Last Name <sup>*</sup> </label>
                        <span>{{formData?.user.lastName}}</span>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="email">Email<sup>*</sup> </label>
                        <span>{{formData?.user.email}}</span>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="mobile">Mobile<sup>*</sup> </label>
                        <span>{{formData?.user.mobile}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="gender">Gender<sup>*</sup> </label>
                        <span>{{formData?.user.gender}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="dob">Date of Birth<sup>*</sup> </label>
                        <span>{{formData?.user.dob?.formatted}}</span>
                    </div>
                </div>

            </div>

            <fieldset>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fathername">Father Name<sup>*</sup> </label>
                            <span>{{formData?.user.father.name}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="fmobile">Father's Mobile<sup>*</sup> </label>
                            <span>{{formData?.user.father.mobile}}</span>
                        </div>
                    </div>
                </div>

            </fieldset>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <fieldset>
                        <div class="form-group">
                            <label for="mothername">Mother's Name<sup>*</sup> </label>
                            <span>{{formData?.user.mother.name}}</span>
                        </div>

                    </fieldset>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                        <label for="category">Category<sup>*</sup> </label>
                        <span>{{formData?.user.category}}</span>
                    </div>
                </div>
            </div>

            <fieldset>
                <h3 class="frm-subheading">Correspondence Address</h3>
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="address">Address<sup>*</sup> </label>
                            <div>{{formData?.user.address.address}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="landmark">Landmark<sup>*</sup> </label>
                            <span>{{formData?.user.address.landmark}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="city">City<sup>*</sup> </label>
                            <span>{{formData?.user.address.city}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="state">State<sup>*</sup> </label>
                            <span>{{formData?.user.address.state}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pin">Postal Code (PIN)<sup>*</sup> </label>
                            <span>{{formData?.user.address.postalCode}}</span>
                        </div>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <h3 class="frm-subheading">PERMANENT ADDRESS</h3>
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="address">Address </label>
                            <div>{{formData?.user.permanantAddress.address}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="landmark">Landmark</label>
                            <span>{{formData?.user.permanantAddress.landmark}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="city">City</label>
                            <span>{{formData?.user.permanantAddress.city}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="state">State</label>
                            <span>{{formData?.user.permanantAddress.state}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pin">Postal Code (PIN)</label>
                            <span>{{formData?.user.permanantAddress.postalCode}}</span>
                        </div>
                    </div>
                </div>

            </fieldset>
            <div>
                <h3 class="frm-subheading">ACADEMIC DETAILS</h3>

                <div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Name of College/City</th>
                                <th>Passing Year</th>
                                <th>% Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pastCrs of pastCrses; let i=index">
                                <th>{{formData?.user.pastCourses[i].course}}<sup *ngIf="i<1">*</sup> </th>
                                <td style="width:40%"><span>{{formData?.user.pastCourses[i].college}}</span></td>
                                <td><span>{{formData?.user.pastCourses[i].year}}</span></td>
                                <td><span>{{formData?.user.pastCourses[i].marks}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <hr>
            <div>
                <p>Have you attempted the Exam(GATE/IES) in the previous year* : {{(stdHavePastExams==true?'Yes':'No')}}</p>
                <div class="row" *ngIf="stdHavePastExams">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="eGATE">Rank in GATE</label>
                            <span>{{formData?.user.pastExams[0].rank}}</span>
                        </div>


                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="eESE">Rank in IES</label>
                                    <span>{{formData?.user.pastExams[1].rank}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="eRmrk">Attended IES Interview</label>
                                    <span>{{formData?.user.pastExams[1].remarks}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p>Are you old Student of Institute* : : <span>{{(isExStd==true?'Yes':'No')}}</span></p>
            <fieldset *ngIf="isExStd">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="exsrn">Enrollment Number</label>
                            <span>{{formData?.user.exStudent.srn}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="exsession">Session Year</label>
                            <span>{{formData?.user.exStudent.session}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="idProof">ID Proof</label>
                            <span>{{formData?.user.exStudent.idProof}}</span>
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr>
            <p>Are you Current Student of Institute* : : <span>{{(isCurrentStd==true?'Yes':'No')}}</span></p>
            <fieldset *ngIf="isExStd">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="exsrn">Enrollment Number</label>
                            <span>{{formData?.user.currentStd.srn}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="exsession">Session Year</label>
                            <span>{{formData?.user.currentStudent.session}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="idProof">ID Proof</label>
                            <span>{{formData?.user.currentStudent.idProof}}</span>
                        </div>
                    </div>
                </div>

            </fieldset>
            <div class="photo-grp">
                <h3 class="frm-subheading">PHOTOS</h3>
                <div class="row">

                    <div class="col-md-4">
                        <p>Passport Size photo<sup>*</sup> </p>
                        <p><img src="{{fh?.personalImg}}" alt="Passport Size Photo" title="Your Passport size photo 140*140" class="img-thumbnail pp-photo"></p>
                    </div>
                    <div class="col-md-4">
                        <p>Signature photo<sup>*</sup> </p>
                        <p><img src="{{fh?.signImg}}" alt="Signature Photo" title="Your Signature photo 140*80" class="img-thumbnail pp-photo"></p>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="ftr">
            <div class="row">
                <div class="col-md-12" *ngIf="fh.error">
                    <div class="alert alert-danger">{{fh.error}}</div>

                </div>
                <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4">
                    <div class="form-group">
                        <button class="btn btn-default" (click)="activeStep=1">Back</button>
                        <button class="btn btn-success" (click)="activeStep=3">{{(fh.status=='Processing'?'Processing...':'Confirm & Next')}}</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="step step3" *ngIf="activeStep===3">
    <fieldset>
        <div class="row mb5">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Program/Product</th>
                            <th>Sessoin</th>
                            <th class="alignR">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pIndex of addedProducts" >
                            <th>{{products[pIndex].title}} </th>
                            <td><span>{{getValue(sessions, formData?.session).name}}</span></td>
                            <td class="alignR"><span>₹ {{products[pIndex].cost}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <h3 class="frm-subheading">Payment Details</h3>
        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Payment Method:</b></div>
            <div class="col-md-8 col-xs-6">
                <select class="form-control" [(ngModel)]="paymentMethod">
                    <option value="" class="">Select</option>
                    <option value="Online">Online (Net Banking or Debit/Credit Card or UPI or Wallet)</option>
                </select>
            </div>
        </div>
        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Payment Option:</b></div>
            <div class="col-md-8 col-xs-6" *ngIf="paymentOptions">
                <select #pmtOpt class="form-control" [(ngModel)]="activePmtOptionIndex" *ngIf="!selectedProduct?.disableFullPriceOptOnOrder" (change)="setCartTotal()">
                    <option value="">Select</option>
                    <option value="{{i}}" *ngFor="let opt of paymentOptions; let i=index" >{{opt.title}}</option>
                </select>
                <select #pmtOpt class="form-control" [(ngModel)]="activePmtOptionIndex" *ngIf="selectedProduct?.disableFullPriceOptOnOrder" (change)="setCartTotal()">
                    <option [value]="null">Select</option>
                    <option [value]="0" >{{paymentOptions[0]?.title}}</option>
                </select>
                
            </div>
        </div>

        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Payable  Amount:</b></div>
            <div class="col-md-8 col-xs-6 alignR" *ngIf="pmtOpt?.value!=''" >₹
                <span *ngIf="paymentOptions&&!discountAmt">{{(pmtOptAmount)}}/-</span>
                <span *ngIf="paymentOptions&&discountAmt&&activePmtOptionIndex!=null" >{{pmtOptAmount}} - {{discountAmt}} = {{(pmtOptAmount-discountAmt)}}/-</span>
                <span *ngIf="paymentOption=='Full Amount'">{{(selectedProduct?.cost)}}/-</span>
                <span *ngIf="paymentOption=='Basic Booking Amount'">{{selectedProduct?.basicBookingOpt.amount}}/-</span>
            </div>
        </div> -->

    </fieldset>
    <div class="ftr">
        <div class="row">
            <div class="col-md-12" *ngIf="fh.error">
                <div class="alert alert-danger">{{fh.error}}</div>

            </div>
            <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4">
                <div class="form-group">
                    <button class="btn btn-default" (click)="activeStep=2">Back</button>
                    <button class="btn btn-success" (click)="processOrder()">{{(fh.status=='Processing'?'Processing...':'Proceed to Payment')}}</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="step step-4" *ngIf="activeStep===4">
<ek-student-order-payment [order]="order"></ek-student-order-payment>
    <!-- <fieldset>
        <h3 class="frm-subheading">Payment Details</h3>
        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Payment Method:</b></div>
            <div class="col-md-8 col-xs-6">
                <select class="form-control" [(ngModel)]="paymentMethod">
                    <option value="" class="">Select</option>
                    <option value="Online">Online (Net Banking or Debit/Credit Card or UPI or Wallet)</option>
                </select>
            </div>
        </div>
        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Payment Option:</b></div>
            <div class="col-md-8 col-xs-6" *ngIf="paymentOptions">
                <select #pmtOpt class="form-control" [(ngModel)]="activePmtOptionIndex" *ngIf="!selectedProduct?.disableFullPriceOptOnOrder" (change)="setCartTotal()">
                    <option value="">Select</option>
                    <option value="{{i}}" *ngFor="let opt of paymentOptions; let i=index" >{{opt.title}}</option>
                </select>
                <select #pmtOpt class="form-control" [(ngModel)]="activePmtOptionIndex" *ngIf="selectedProduct?.disableFullPriceOptOnOrder" (change)="setCartTotal()">
                    <option [value]="null">Select</option>
                    <option [value]="0" >{{paymentOptions[0]?.title}}</option>
                </select>
                
            </div>
        </div>

        <div class="row mb5">
            <div class="col-md-4 col-xs-6 alignR"><b>Payable  Amount:</b></div>
            <div class="col-md-8 col-xs-6 alignR" *ngIf="pmtOpt?.value!=''" >₹
                <span *ngIf="paymentOptions&&!discountAmt">{{(pmtOptAmount)}}/-</span>
                <span *ngIf="paymentOptions&&discountAmt&&activePmtOptionIndex!=null" >{{pmtOptAmount}} - {{discountAmt}} = {{(pmtOptAmount-discountAmt)}}/-</span>
                <span *ngIf="paymentOption=='Full Amount'">{{(selectedProduct?.cost)}}/-</span>
                <span *ngIf="paymentOption=='Basic Booking Amount'">{{selectedProduct?.basicBookingOpt.amount}}/-</span>
            </div>
        </div>

    </fieldset>
    <div class="ftr">
        <div class="row">
            <div class="col-md-12" *ngIf="fh.error">
                <div class="alert alert-danger">{{fh.error}}</div>

            </div>
            <div class="col-md-8 col-md-offset-4 col-xs-12 col-sm-8 col-sm-offset-4">
                <div class="form-group">
                    <button class="btn btn-default" (click)="activeStep=3">Back</button>
                    <button class="btn btn-success" (click)="processOrder()">{{(fh.status=='Processing'?'Processing...':'Proceed to Payment')}}</button>
                </div>
            </div>
        </div>

    </div> -->
</div>
<div class="modal fade" [ngClass]="(showModal?'in':'')" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Package Structure & Schedule</h4>
        </div>
        <div class="modal-body">
            <p *ngIf="!itemsForModal" ><b>Loading...</b></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SNO</th>
                        <th>Subject</th>
                        <th width="180px">Date</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemsForModal; let i=index">
                        <td>{{i+1}}.</td>
                        <td>{{item.title}}</td>
                        <td><span class="swip-dt">{{item.description}}</span></td>
                        <td>₹ {{item.mrp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="hideModal()">Close</button>
        </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" *ngIf="showModal"></div>