<div class="table-opts" style="padding-left:15px; padding-right:15px">
    <select #fy class="form-control pull-left" style="width: 132px;" (change)="filterWithFY(fy.value)" [(ngModel)]="activeFY">
        <option value="null">Financial Year</option>
        <option value="{{fy.id}}" *ngFor="let fy of fys" >FY: {{fy.title}}</option>
        <option value="null">FY: All</option>
        
    </select>
    <button class="btn btn-default btn-sm" (click)="setFilterBox()" *ngIf="!filterOpen">Advance Filter</button>
    <div class="btn-group" [ngClass]="exportMenuStatus" >
        <button type="button" (click)="exportData()" class="btn btn-info btn-sm">Export</button>
        <button (click)="exportMenuStatus=(exportMenuStatus=='open'?'closed':'open')" type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" style="left:auto;right:0px" >
            <li><a class="pointer" (click)="exportWithTax()">Simple Report With Tax</a></li>
            <li><a class="pointer" (click)="exportWithoutTax()">Simple Report Without Tax</a></li>
            <li><a class="pointer" (click)="exportData()">Simple Report Full Details</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="exportWithTaxAndExtraOption()" class="pointer">Indepth Report With Tax</a></li>
            <li><a (click)="exportWithoutTaxAndExtraOption()" class="pointer">Indepth Report Without Tax</a></li>
            <li><a (click)="exportWithExtraOption()" class="pointer">Indepth Report  Full Details</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="exportRefundedPayments()" class="pointer">Export Refunded Payments</a></li>

        </ul>
    </div>
</div>
<div class="table-filter-bx" *ngIf="filterOpen" style="right:15px">
    <span class="close-opt" (click)="filterOpen=false"> <i class="fa fa-close"></i> </span>
    <form [formGroup]="filterForm" (ngSubmit)="loadPaymentsWithFilter()" role="form">

        <legend>Filter Data</legend>

        <div class="form-group">
            <label for="">Date From <small>(Payment Added Date)</small></label>
            <input type="date" class="form-control" id="" formControlName="from">
        </div>
        <div class="form-group">
            <label for="">Date To <small>(Payment Added Date)</small></label>
            <input type="date" class="form-control" id="" formControlName="to">
        </div>
        <div class="form-group">
            <label for="fllterOrdrStatus">Order Status</label>
            <select class="form-control" id="fllterOrdrStatus" formControlName="status">
                <option value="">All</option>
                <option value="{{status.value}}" *ngFor="let status of orderStatus" >{{status.valueAlias}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fllterAprvlStatus">Approval Status</label>
            <select class="form-control" id="fllterAprvlStatus" formControlName="isApproved">
                <option [value]="null">Approval Status</option>
                <option [value]="true">Approved</option>
                <option [value]="false">Not Approved</option>
                <option [value]="null">All</option>
            </select>
        </div>

        <div class="form-group">
            <label for="fllterStr">Store</label>
            <select class="form-control" id="fllterStr" formControlName="store">
                <option [value]="null">Select Store</option>
                <option value="{{str.id}}" *ngFor="let str of filterData?.stores" >{{str.title}}</option>
                <option [value]="null">All</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fltrOrdrNo">Order No </label>
            <input type="number" class="form-control" id="fltrOrdrNo" formControlName="orderNo">
        </div>

        <div class="form-group">
            <label for="fltrOrdrNo">Invoice No </label>
            <input type="text" class="form-control" id="fltrOrdrNo" formControlName="invoiceNo">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<p class="filter-tags" style="padding-left:15px; padding-right:15px">
    <span class="label label-info" *ngIf="filteredTags?.from">From: {{filteredTags?.from}}</span>
    <span class="label label-info" *ngIf="filteredTags?.to">To: {{filteredTags?.to}}</span>
    <span class="label label-info" *ngIf="filteredTags?.status">Status: {{filteredTags?.status}}</span>
    <span class="label label-info" *ngIf="filteredTags?.store"> Store </span>
    <span class="label label-info" *ngIf="filteredTags?.orderNo">Order No: {{filteredTags?.orderNo}}</span>
    <span class="label label-info" *ngIf="filteredTags?.invoiceNo">Invoice No: {{filteredTags?.invoiceNo}}</span>
    <span class="label label-info" *ngIf="filteredTags?.customerEmail">Customer Email:~ {{filteredTags?.customerEmail}}</span>
    <!-- <button class="btn btn-link pull-right" *ngIf="filterForm.value">Clear Filter</button> -->
    <span *ngIf="filteredTags" (click)="clearFilter()" class="btn btn-xs btn-link">Clear All</span>
</p>
<div class="aprvd-pmt-srch">

    <form [formGroup]="approvedSearchForm" (ngSubmit)="loadApprovedPayments()" class="form-inline alignC" role="form">

        <div class="form-group alignL">
            <label for="aprvDtFrm">From <small>(Approval Date)</small></label><br>
            <input type="date" class="form-control" id="aprvDtFrm" formControlName="approvedDateFrom">
        </div>
        <div class="form-group alignL">
            <label for="aprvDtTo">To <small>(Approval Date)</small></label><br>
            <input type="date" class="form-control" id="aprvDtTo" formControlName="approvedDateTo">
        </div>
        <div class="form-group alignL">
            <label for="apsStr">Store</label><br>
            <select class="form-control" id="apsStr" formControlName="store">
                <option [value]="null">Select Store</option>
                <option value="{{str.id}}" *ngFor="let str of filterData?.stores" >{{str.title}}</option>
                <option [value]="null">All</option>
            </select>
        </div>
        <p class="alignC"><button type="submit" class="btn btn-primary">Search</button></p>
    </form>

</div>
<form [formGroup]="filterRowForm">
<table class="table table-bordered panel-loader" [ngClass]="panelLoader">
    <thead>
        <tr>
            <th>#</th>
            <th>Order ID</th>
            <th *ngIf="invoiceOpt">Receipt No</th>
            <th>Customer</th>
            <th>Programs/Products</th>
            <th style="width: 105px;">Amount</th>
            <th>Date Added</th>
            <th>Mode</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            
        <tr>
            
                <td> <i class="fa fa-serach"></i> </td>
                <td> <input class="form-control" placeholder="Order Number" formControlName="orderNo"> </td>
                <td *ngIf="invoiceOpt">
                    <input class="form-control" placeholder="Receipt Number" formControlName="receiptNo">
                </td>
                <td> </td>
                <td> </td>
                <td>
                    
                </td>
                <td> <input style="width: 116px;font-size: 11px; padding:0px" type="date" class="form-control" placeholder="Date" formControlName="createdAt"> </td>
                <td> <select class="form-control" formControlName="primaryMode">
                        <option [value]="null">Select Mode</option>
                        <option value="CASH">Cash</option>
                        <option value="ONLINE">Online</option>
                        <option value="DD">Cheque</option>
                        <option value="CHEQUE">Cheque</option>
                        <option [value]="null">All</option>
                    </select> </td>
                <td> <select class="form-control" formControlName="transactionStatus">
                        <option [value]="null">Status</option>
                        <option value="Success">Success</option>
                        <option value="Failure">Failure</option>
                        <option value="Aborted">Aborted</option>
                        <option [value]="null">All</option>
                    </select>
                </td>
                <td> <button class="btn btn-sm btn-primary" (click)="loadPaymentsWithRowFilter()">Filter</button></td>
            
        </tr>
    
        <tr *ngFor="let pmt of payments; let i=index">
            <td>{{countBase+i}}</td>
            <td>
                <a *ngIf="viewOpt" routerLink="{{viewOpt}}/{{pmt.order?.id}}"> Order #{{pmt.order?.orderNo}} </a>
                <a *ngIf="!viewOpt"> Order #{{pmt.order?.orderNo}} </a>
            </td>
            <td *ngIf="invoiceOpt">
                <span *ngIf="pmt?.isApproved">{{pmt?.receiptNo}}</span>
                <a class="link" *ngIf="!pmt?.isApproved" (click)="approvePayment(i)">Approve</a>
            </td>
            <td>{{pmt.order?.buyerDetail?.name}}<br><small>{{pmt.order?.buyerDetail?.email}}</small></td>
            <td>{{pmt.order?.productTitle}}</td>
            <td>Paid: ₹ {{pmt?.amount}}<br><small>Total: ₹ {{pmt.order?.total}}</small></td>

            <td>{{pmt.createdAt|date:'mediumDate'}}<br><small>{{pmt.createdAt|date:'shortTime'}}</small></td>
            <td>{{pmt.primaryMode}}</td>
            <td><span class="label label-{{pmt.transactionStatus|lowercase}}">{{pmt.transactionStatus}}</span></td>
            <td>
                <a *ngIf="viewOpt" class="btn btn-link btn-xs" routerLink="{{viewOpt}}/{{pmt.order?.id}}">More Details</a>
            </td>
        </tr>
    </tbody>
</table>
</form>
<p class="alignC">Total Records: {{totalRecords}}</p>
<p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>