<div class="activity-header">
    <h1 class="activity-heading">Add new product</h1>
    <div class="activity-header-menu">
        <ul>
            <li><a routerLink="/ims/admission/program" class="ek-btn btn-list">View All</a></li>
        </ul>
    </div>
</div>

<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li><a routerLink="/ims/home">Home</a></li>
        <li><a routerLink="/ims/admission">Admission</a></li>
        <li><a routerLink="/ims/admission/program">Products</a></li>
        <li class="active">New</li>
    </ol>
</div>

<div class="activity-content">
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal fgm0" role="form" (ngSubmit)="addProduct()" [formGroup]="productForm">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Basic Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pTitle">Title <sup class="text-danger">*</sup> </label>
                                <input type="text" class="form-control" id="pTitle" placeholder="Title of Product" formControlName="title">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pAlias">Alias <sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" id="pAlias" placeholder="Title Alias of product" formControlName="alias">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pCat">Course<sup class="text-danger">*</sup>:</label>
                                <select name="" id="pCat" #pCat (change)="setBatches({course:pCat.value})" class="form-control" formControlName="course">
                                    <option value="" >Select Course</option>
                                    <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pCat">Product Category/ Program<sup class="text-danger">*</sup>:</label>
                                <select name="" id="pCat" class="form-control" formControlName="category">
                                    <option value="" >Select Product Category</option>
                                    <option value="{{pc.id}}" *ngFor="let pc of productCategories" >{{pc.valueAlias}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pType">Type<sup class="text-danger">*</sup>:</label>
                                <select name="" id="pType" class="form-control" formControlName="type" (change)="setProductType()">
                                <option value="" >Select Product Type</option>
                                <option value="{{pt.id}}" *ngFor="let pt of productTypes">{{pt.valueAlias}}</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pCat">Stream<sup class="text-danger">*</sup>:</label>
                                <select name="" id="pCat" class="form-control" formControlName="stream">
                                    <option value="" >Select Stream</option>
                                    <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pSesion">Session<sup class="text-danger">*</sup>:</label>
                                <select name="" id="pSesion" #pSesion class="form-control" formControlName="session" (change)="setBatches({session:pSesion.value})">
                                    <option value="" >Select Session</option>
                                    <option value="{{session.id}}" *ngFor="let session of sessions" >{{session.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pDesc">Description <sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" id="pDes" placeholder="Mini Description" formControlName="description">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pFDesc">Full Desc <sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" id="pFDesc" placeholder="Full Description" formControlName="fullDescription">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pThumb">Thumbnail <sup class="text-danger">*</sup></label>
                                <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="thumb"></ek-fileinput>

                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pFtrImg">Feature Cover Image <sup class="text-danger">*</sup></label>
                                <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="featureImg"></ek-fileinput>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pUri">URI Slug <sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" id="pUr" placeholder="URL Slug" formControlName="uri">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pSrc">Source ID:</label>
                                <input type="text" class="form-control" id="pSrc" placeholder="Source Node ID" formControlName="sourceId">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pShping">Need Shipping: <sup class="text-danger">*</sup></label>
                                <select name="" id="pShping" class="form-control" formControlName="shipping">
                                    <option value="false" >No</option>
                                    <option value="true" >Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="pNeedSRN">Need Student Registration (with SRN):</label>
                                        <select name="" id="pNeedSRN" class="form-control" formControlName="needStdReg" (change)="loadFirms()">
                                            <option [value]="null" >Select</option>
                                            <option [value]="false" >No</option>
                                            <option [value]="true" >Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group" *ngIf="productForm.value.needStdReg==true||productForm.value.needStdReg=='true'">
                                        <label for="srFirm">Student Registration under the Institute:</label>
                                        <select id="srFirm" class="form-control" formControlName="stdRegInsty">
                                            <option value="null">Select Institute</option>
                                            <option value="{{firm.id}}" *ngFor="let firm of firms; let i=index">{{firm.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="centerDepend">Center/Location Based?:</label>
                                <select id="centerDepend" class="form-control" formControlName="centerDependent" (change)="loadCenters()">
                                    <option [ngValue]="null" >Select</option>
                                    <option [ngValue]="false" >No</option>
                                    <option [ngValue]="true" >Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group" *ngIf="productForm.value.centerDependent==true">
                                <label for="prdctCenter">Center/Location:</label>
                                <select id="prdctCenter" #prdctCenter class="form-control" formControlName="center"
                                    (change)="setBatches({center:prdctCenter.value})">
                                    <option value="null">Select Center/Location</option>
                                    <option value="{{c.id}}" *ngFor="let c of centers; let i=index">{{c.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="pStr">Store:</label>
                                <select class="form-control" formControlName="store">
                                    <option value="null">Select Store</option>
                                    <option value="{{store.id}}" *ngFor="let store of availableStores">{{store.title}}</option>
                                </select>
                                <!-- <p-multiSelect [options]="availableStores" id="pStr" placeholder="Select Store" formControlName="store"></p-multiSelect> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pStatus">Status<sup class="text-danger">*</sup>:</label>
                                <select name="" id="pStatus" class="form-control" formControlName="status">
                                    <option value="true" >Active</option>
                                    <option value="false" >Inactive</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pMstck">Manage Stock<sup class="text-danger">*</sup>:</label>
                                <select name="" id="pMstck" class="form-control" formControlName="manageStock">
                                    <option [value]="true" >Yes</option>
                                    <option [value]="false" >No</option>
                                </select>
                            </div>
                        </div>
                        <div class="" *ngIf="productForm.value.manageStock=='true'">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="pStk">Opening Accounting Stock:</label>
                                        <input type="number" class="form-control" id="pStk" placeholder="Stock Quantity" formControlName="accountingStock">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="pStk">Opening Physical Stock:</label>
                                        <input type="number" class="form-control" id="pStk" placeholder="Stock Quantity" formControlName="physicalStock">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pricing</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pMrp">MRP <sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" id="pMrp" placeholder="Product MRP in INR" formControlName="mrp">
                            </div>
                            <div class="form-group">
                                <label for="mCost">Cost <sup class="text-danger">*</sup></label>
                                <input type="text" class="form-control" id="mCost" placeholder="Cost of Product" formControlName="cost">
                            </div>
                            <div class="prdct-sub-window">
                                <div class="baseamt-box">
                                    <div class="togl"><input type="checkbox" (change)="setBaseAmtBox($event)"> Enable booking/registration with Basic/Token Amount?</div>

                                    <div class="prdct-sub-window-content" *ngIf="baseAmtBoxStatus">
                                        <div class="form-group">
                                            <label for="baseAmtTtl">Amount Title</label>
                                            <input type="text" id="baseAmtTtl" class="form-control" [(ngModel)]="baseBkgAmt.title" [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="form-group">
                                            <label for="baseAmtAmt">Amount (INR)</label>
                                            <input type="number" id="baseAmtAmt" class="form-control" [(ngModel)]="baseBkgAmt.amount" [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="fpopt"><input id="fpopt" type="checkbox" (change)="productForm.value.disableFullPriceOptOnOrder=$event.target.checked"> Disable Full Price option during purchase.</label>
                            </div>
                            <div class="form-group" *ngIf="isCombo">
                                <label for="pbcopt"><input id="pbcopt" type="checkbox" (change)="productForm.value.pmtOptAsComboItems=$event.target.checked" [attr.checked]="productForm?.value.pmtOptAsComboItems?true:null"> Only Accept payments according combined products cost.</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Discounts</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6 col-xs-12">
                            <fieldset formGroupName="discount">
                                <div class="form-group">
                                    <label for="exStdDiscount">Ex Student Discount (Fix Amount)</label>
                                    <input type="number" class="form-control" id="exStdDiscount" placeholder="Ex Student Discount (FIX Amount)" formControlName="exStudentDiscount">
                                </div>
                                <div class="form-group">
                                    <label for="crntStdDiscount">Current Student Discount (Fix Amount)</label>
                                    <input type="number" class="form-control" id="crntStdDiscount" placeholder="Current Student Discount (FIX Amount)" formControlName="currentStudentDiscount">
                                </div>
                                <div class="form-group">
                                    <label for="fullPmtDiscount">Full Payment Discount (Fix Amount)</label>
                                    <input type="number" class="form-control" id="fullPmtDiscount" placeholder="CDiscount on Full Payment (FIX Amount)" formControlName="fullPaymentDiscount">
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button (click)="addProduct()" class="btn btn-primary" [disabled]="!productForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-4 prdct-side-window">
            <div class="batch-box">
                <div class="togl"><input type="checkbox" (change)="setBatchBox($event)"> Have batch in this program/product?</div>
                <div class="added-batch-list" *ngIf="batchBoxStatus">
                    <p *ngIf="!addedBatches||addedBatches?.length<1">No batches added yet!</p>
                    <ul>
                        <li *ngFor="let ab of addedBatches; let bi=index">
                            <span>{{ab.name}} ({{ab.code}})<br><small>{{ab.filledSeats}}/{{ab.totalSeats}} Seats</small></span> <span><a (click)="removeAddedBatch(bi)" class="ek-btn btn-smini btn-delete btn-icon pull-right"></a></span>
                        </li>
                    </ul>
                </div>
                <div class="batch-form" *ngIf="batchBoxStatus">
                    <div class="form-group">
                        <label for="fprdct">Select Batch to add</label>
                        <select #batch class="form-control" (change)="addBatch(batch.value)">
                            <option value="">Select Batch</option>
                            <option value="{{i}}" *ngFor="let b of batches; let i=index">{{b.name}} {{b.code}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="emi-box">
                <div class="togl"><input type="checkbox" (change)="setEMIBox($event)"> Have EMI in this program/product?</div>
                <div class="added-emi-list" *ngIf="EMIBoxStatus">
                    <p *ngIf="!addedEMIes||addedEMIes?.length<1">No EMIes added yet!</p>
                    <ul>
                        <li *ngFor="let emi of addedEMIes; let bi=index">
                            <span>{{emi.title}}<br><small *ngFor="let inst of emi.installements; let ii=index">{{ii+1}}.) ₹ {{inst.amount}} | </small></span> <span><button (click)="removeAddedEMI(bi)" class="ek-btn btn-smini btn-delete btn-icon pull-right"></button></span>
                        </li>
                    </ul>
                </div>
                <div class="emi-form" *ngIf="EMIBoxStatus">

                    <form (ngSubmit)="addEMI()" [formGroup]="emiForm" role="form">
                        <legend>Add Installement</legend>

                        <div class="form-group">
                            <label for="emiTtl">Title</label>
                            <input type="text" class="form-control" id="emiTtl" placeholder="Title of Installement" formControlName="title">
                        </div>
                        <div class="form-group">
                            <label for="emiCc">Number of Installements:</label>
                            <input type="text" #emiC class="form-control" id="emiCc" placeholder="Total number of Installements (Max 60)" (keyup)="setEMICounts(emiC.value)">
                        </div>
                        <fieldset formArrayName="installements">
                            <div class="form-group" *ngFor="let emi of emiCounts; let i=index" [formGroupName]="i">
                                <label for="emiCount{{i}}">Installement- {{i+1}}:</label>
                                <input type="number" class="form-control" id="emiCount{{i}}" placeholder="Installement - {{i+1}} amount in INR" formControlName="amount">
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <label for="emiRemark">Remark:</label>
                            <input type="text" class="form-control" id="emiRemark" placeholder="Any remark" formControlName="remark">
                        </div>

                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>

                </div>

            </div>
            <div class="baseamt-box">
                <div class="togl"><input type="checkbox" (change)="setBaseAmtBox($event)"> Enable booking/registration with Basic/Token Amount?</div>

                <div class="added-emi-list" *ngIf="baseAmtBoxStatus">
                    <div class="form-group">
                        <label for="baseAmtTtl">Amount Title</label>
                        <input type="text" id="baseAmtTtl" class="form-control" [(ngModel)]="baseBkgAmt.title">
                    </div>
                    <div class="form-group">
                        <label for="baseAmtAmt">Amount (INR)</label>
                        <input type="number" id="baseAmtAmt" class="form-control" [(ngModel)]="baseBkgAmt.amount">
                    </div>
                </div>
            </div>

            <div class="custmparams-box">
                <div class="togl"><input type="checkbox" (change)="setCustomParamsBox($event)"> Need Custom Params?</div>

                <div class="cstmParamListBx" *ngIf="customParamsBoxStatus">
                    <form (ngSubmit)="addCustomParam()" [formGroup]="customParamFrom">
                        <div class="row ">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed">
                                    <tbody>
                                        <tr *ngFor="let key of addedCustomParamsKeys" >
                                            <td>{{key}}</td>
                                            <td>{{addedCustomParams[key]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cstmParamKey">Key</label>
                                <input type="text" id="cstmParamKey" class="form-control" formControlName="key" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cstmParamVal">Value</label>
                                <input type="text" id="cstmParamVal" class="form-control" formControlName="value" required>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default btn-icon btn-sm">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="combo-pbx" style="margin-bottom:20px">
                <div class="togl"><input type="checkbox" (change)="setComboBox($event)"> This is combo Product!</div>

                <div class="cmb-plist added-batch-list panel-loader" [ngClass]="cmbPanelLoader" *ngIf="isCombo">
                    <ul>
                        <li *ngFor="let cp of addedProducts; let ci=index">
                            <span>{{cp.alias}}</span> <button (click)="removeComboProduct(ci)" class="ek-btn btn-mini btn-delete btn-icon pull-right"></button>
                        </li>
                    </ul>
                </div>
                <div class="batch-form" *ngIf="isCombo">
                    <div class="form-group">
                        <label for="fprdct">Select Product to add</label>
                        <!-- <select #cmbp class="form-control" (change)="addComboProduct(cmbp.value)">
                                <option value="">Select Product</option>
                                <option value="{{i}}" *ngFor="let p of products; let i=index">{{p.alias}}</option>
                            </select> -->
                        <ek-product-input elmClass="form-control" (onProductSelect)="addComboProduct($event)"></ek-product-input>
                            
                    </div>


                </div>

            </div>
            <div class="combo-pbx" >
                <div class="togl"><input type="checkbox" (change)="addCourseProgram($event)"> also Create Webber Course Program</div>

            </div>
            <div class="instruction-box">
                <h4>Instructions:</h4>
                <hr/>
                <ul>
                    <li>Fields marked with * are mandatory.</li>
                </ul>
            </div>

        </div>
    </div>

</div>