<div class="ek-tab-panel panel-loader" [ngClass]="panelLoader">

    <div class="ek-tab-panel-tabs">
        <ul>
            <li class="ek-tab-panel-tab" (click)="activeTab=0" [ngClass]="(!activeTab||activeTab===0?'active':'')">Overview</li>
        </ul>
    </div>
    <div class="ek-tab-panel-contents">
        <div class="ek-tab-panel-content" *ngIf="(!activeTab||activeTab===0)">
            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Name</div>
                <div class="col-md-9 col-xs-7 val">{{department?.title}}</div>
            </div>


            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Current Status</div>
                <div class="col-md-9 col-xs-7 val">{{department?.status?'Active':'Inactive'}}</div>
            </div>
        </div>
    </div>
</div>
