<div class="rsw-child">
    <div class="ek-tab-panel panel-loader" [ngClass]="panelLoader">

        <div class="ek-tab-panel-tabs">
            <ul>
                <li class="ek-tab-panel-tab" (click)="activeTab=0" [ngClass]="(activeTab===0?'active':'')">Overview</li>
                <li class="ek-tab-panel-tab" (click)="loadOrders()" [ngClass]="(activeTab===1?'active':'')">Orders</li>
            </ul>
        </div>
        <div class="ek-tab-panel-contents">
            <div class="ek-tab-panel-content" *ngIf="(activeTab===0)">
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Name</div>
                    <div class="col-md-9 col-xs-7 val">{{user?.firstName}} {{user?.lastName}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Email</div>
                    <div class="col-md-9 col-xs-7 val">{{user?.email}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Mobile</div>
                    <div class="col-md-9 col-xs-7 val">{{user?.mobile}}</div>
                </div>
                <div class="row detail-row" *ngIf="user?.type!='ADMIN'">
                    <div class="col-md-6">
                        <P class="lbl">Shipping Address</P>
                        <div class="val">{{user?.address?.shipping.address}}<br> {{user?.address?.shipping.landmark}}
                            <br> {{user?.address?.shipping.city}}, {{user?.address?.shipping.state}}<br> {{user?.address?.shipping.postalCode}}, {{user?.address?.shipping.country}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <P class="lbl">Billing Address</P>
                        <div class="val">{{user?.address?.billing.address}}<br> {{user?.address?.billing.landmark}}
                            <br> {{user?.address?.billing.city}}, {{user?.address?.billing.state}}<br> {{user?.address?.billing.postalCode}}, {{user?.address?.billing.country}}
                        </div>
                    </div>
                </div>

                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Current Status</div>
                    <div class="col-md-9 col-xs-7 val">{{user?.status?'Active':'Inactive'}}</div>
                </div>
                <div class="row detail-row" *ngIf="user?.type=='ADMIN'">
                    <div class="vol-md-12">
                        <hr>
                    </div>
                    <div class="col-md-3 col-xs-5 lbl">App Access</div>
                    <div class="col-md-9 col-xs-7 val">{{user?.apps?.ims.join(', ')}}</div>
                </div>
                <div class="row detail-row" *ngIf="user?.type=='ADMIN'">
                    <div class="vol-md-12">
                        <hr>
                    </div>
                    <div class="col-md-3 col-xs-5 lbl">General Access</div>
                    <div class="col-md-9 col-xs-7 val"><pre>{{user?.defaultParams | json}}</pre></div>
                </div>

            </div>
            <div class="ek-tab-panel-content" *ngIf="(activeTab===1)">
                <p *ngIf="!userOrders||userOrders.length==0">Zero orders!</p>
                <div *ngIf="userOrders">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Order ID</th>
                                <th *ngIf="invoiceOpt">Order Invoice</th>
                                <th>Amount</th>
                                <th>Date </th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of userOrders; let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    <a *ngIf="orderViewOpt" routerLink="{{orderViewOpt}}/{{order.id}}"> Order #{{order.orderNo}} </a>
                                    <a *ngIf="!orderViewOpt"> Order #{{order.orderNo}} </a>
                                </td>
                                <td *ngIf="orderInvoiceOpt">
                                    <span *ngIf="order?.invoiceNo">#{{order?.invoicePrefix+""+order?.invoiceNo}}</span>
                                    <a class="link" *ngIf="!order?.invoiceNo" (click)="generateInvoiceNo(i)">Approve &<br>Generate</a>
                                </td>

                                <td>₹ {{order.total}}</td>
                                <td>{{order.createdAt|date:'mediumDate'}}<br><small>{{order.createdAt|date:'shortTime'}}</small></td>
                                <td><span class="label label-{{order.status|lowercase}}">{{order.status}}</span></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>