body{
    background:white;
}
.theme-ALPHA .wrapper{
    display:block;
    padding-top: 100px;
}
.theme-ALPHA .main-content-wrapper{
    width: 100%;
    float: none;
    margin:auto
    
}
p.dash-card-heading{
    font-size: 20px;
    font-weight: bold;
}
.tile-ample{
    padding: 15px;
    margin-bottom: 10px;
}
.tile-ample .text-default{
    color: #fff;
}
.tile-ample .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.tile-ample .title{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.recent-lesson{
    margin-bottom: 10px
}
.recent-lesson p.tile-title {
    color: #000;
    font-size: 18px;
    padding: 15px;
    background: #f0f0f0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 27px;
    padding-bottom: 27px;
}

.recent-lesson p.tile-footer{
    color: #fff;
    font-size: 20px;
    padding: 5px;
    background: #2b2b2b9e;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 15px
}
.recent-lesson p.tile-footer>span>a{
    text-decoration: none;
}
.bg-blue-skies{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-slight-ocean{
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-misty-meadow{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.bg-amethyst{
    background: #9D50BB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-light-orange{
    background: #FFB75E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-grandeur{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.two-part li {
    width: 48.8%;
}
.two-part li i {
    font-size: 50px;
    color: #fff;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.two-part li span {
    font-size: 50px;
    font-weight: 100;
    font-family: 'Rubik', sans-serif;
}
.quiz-details {
    /* background: #e9f0f3; */
    padding: 22px;
    font-size: 20px;
}
.question{
    padding: 10px;
}
.question-info{
    font-size: 20px;
    font-weight: 500;
    display: flex;
}
.question-info img{
    max-width: 100%;
}
.question .option-content{
    margin-top: 20px;
}
.qNo{
    font-weight: bold;
    margin-right: 5px;
}
.lesson-quiz {
    overflow: auto; 
    height: 95vh;
    position: relative;
}
.quiz-footer{
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    float: left;
    background: #f1f1f1;
    /* left: 250px; */
    right: 18px;
    /* width: calc(100% - 580px); */
    width: calc(100% - 10px) !important;
    padding-left: 10px;
}
.question-solution{
    /* border-top: 1px solid #ece2e2; */
    /* border-bottom: 1px solid #ece2e2; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.question-solution img{
    max-width: 100%;
}
ul.option-content>li>span {
    margin-right: 10px;
    margin-left: 5px;
}
.mobile-menu{
    position: absolute;
    top: 0;
    padding: 10px;
    color: #fff;
}
.menu-items{
    min-width: 425px;
    position: absolute;
    /* height: 33px; */
    z-index: 111;
    left: 0;
    top: 52px;
    background: #e5e5e5;
}
.menu-items >ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* left: 0; */
    /* background: #427721; */
    width: 100%;
    margin: 0px;
}
.menu-items >ul>li{
    display: inline-block;
    padding: 10px 0px 10px 0px;
    border-left: solid 1px #dadada;
}
.menu-items >ul>li>a{
    color: #3c7ab8;
    cursor: pointer;
    font-size: 15px;
    padding: 8px;
}
 
/* width */
::-webkit-scrollbar {
    width: 10px;
    border: 1px solid #dedede;
  }
  
  /* Track */
  scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8c1212;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 10px;
  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #efefef; 
}

/* Sub Header */
.sub-header{
    width: 1090px;
    background: #f8f8f9;
    padding: 0;
    margin: 0 auto;
    height: 40px;
}
.sub-header ul {
    /* background: darkorange; */
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  .sub-header li {
      /* color: #fff;
      background: darkorange; */
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  .sub-header li a {
    color: rgb(22, 13, 13);
  }
  
  .sub-header li:hover,
  .sub-header li:focus-within {
      /* background: red; */
      cursor: pointer;
  }
  
  .sub-header li:focus-within a {
    outline: none;
  }
  
  .sub-header ul li ul {
    background: #fff;
    visibility: hidden;
    opacity: 0;
    min-width: 15rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  .sub-header ul li:hover > ul,
  .sub-header ul li:focus-within > ul,
  .sub-header ul li ul:hover,
  .sub-header ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  .sub-header ul li ul li {
      clear: both;
    width: 100%;
  }
@media (max-width: 450px){
    .quiz-footer{
        width: calc(100% - 25px);
        left: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media(max-width: 768px){
    .quiz-footer {
        position: fixed;
        bottom: 0;
        float: left;
        background: #f1f1f1;
        width: calc(100% - 51px);
        padding-left: 10px;
    }
}
@media (min-width: 768px){
    .theme-ALPHA .main-content-wrapper {
        width: 750px;
    }
}
@media (min-width: 992px){
    .theme-ALPHA .main-content-wrapper {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .theme-ALPHA .main-content-wrapper {
        width: 1170px;
    }
}

.ytp-chrome-top-buttons {
    display: none !important;
}

.bg-danger{
    background: #fb1f1f;
    color: #fff
}

.bg-success {
    background: rgb(2, 121, 28);
    color: #fff;
}

.quiz-footer .btn{
    font-size: 13px;
}