.page-menu-bar {
    padding: 0px;
    list-style: none;
    background: #bbbaba;
    padding-top: 2px;
    margin-bottom: 50px;
}

.page-menu-bar li {
    display: inline-block;
    padding: 6px 10px;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.page-menu-bar li.active {
    background: white;
}

.page-menu-bar li:hover {
    background: rgb(240, 240, 240)
}

.test-list-bx {
    border: solid 1px #bebebe;
    margin-top: -15px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 8px 5px 4px 1px #f5f5f5;
}

.test-list-bx thead {
    background: rgba(139, 195, 74, 0.54);
}

.test-list-bx hr {
    /*border-top: 1px solid #fff;*/
}

.add-crt-opt {
    display: inline-block;
    cursor: pointer;
}

.add-crt-opt .fa-plus,
.add-crt-opt .fa-minus,
.cart-prvu .fa-minus {
    display: inline-block;
    padding: 5px;
    background: green;
    color: white;
    border-radius: 25px;
    width: 32px;
    text-align: center;
    height: 32px;
    line-height: 25px;
    font-size: 18px;
}

.add-crt-opt .fa-minus,
.cart-prvu .fa-minus {
    background: #ffb0aa;
    line-height: 22px;
}

.cart-prvu .fa-minus {
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 13px;
}

.added-test-list {
    padding: 5px;
    border: dashed 2px #bebebe;
}

.add-crt-opt span {
    display: inline-block;
    border: solid 2px green;
    padding: 2px 12px;
    position: relative;
    right: -11px;
    top: -1.6px;
    /* z-index: 0; */
    border-right: transparent;
    border-radius: 3px;
    z-index: 0;
}

.cart-added .add-crt-opt span {
    border: solid 2px #ffb0aa;
}

.add-crt-opt:hover span {
    background: green;
    color: white;
}

.cart-added {
    background: #c3ffc5;
}

.cart-added:hover {
    background: #c3ffc5 !important;
}

.cart-added .add-crt-opt:hover span {
    background: #ffb0aa;
}

.cart-added .fa-minus {
    border: solid 2px #ffafa9;
}

.crt-smry {
    text-align: right;
    background: #eeeeee;
    padding: 5px;
}

.crt-nxt-opt {
    text-align: right;
}

.pkg-ofr {
    text-align: center;
}

.pkg-ofr img {
    width: 64px;
}

.regi {
    text-align: center;
}

.regi span:first-child {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 25px;
    font-size: 27px;
    margin: 5px;
    border: solid 2px green;
    color: black;
}

.regi.active span:first-child {
    background: #4CAF50;
    color: white;
}

.regi span:nth-child(2) {
    font-size: 16px;
}

.regs {
    display: none;
}

.regs.active {
    display: block;
}

form fieldset {
    width: 100%
}

.fr .ui-fileupload-buttonbar {
    background: none;
    border: none;
}

.fr .ui-fileupload-content {
    background: none;
    border: none;
}

.fixed-cart {
    position: fixed;
    top: 0px
}

.ttcnt {
    display: inline-block;
    float: left;
}

.err-bx .fr {
    margin-top: 10px;
}

.pp-photo {
    width: 140px;
    height: 140px !important;
}

.cart-offer-prvu {
    border: dashed 1px #2196F3;
    /* border-bottom: dashed blue; */
    padding-bottom: 5px;
    padding-top: 5px;
    background: #B3E5FC;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.cart-offer-prvu>p {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
}

.cart-offer-prvu>p .ofr-titl {
    font-size: 16px;
    line-height: 28px;
}

.bk-adrs {
    font-size: 12px;
    line-height: 15px !important;
    display: inline-block;
    padding-top: 5px;
}

.sameAdrsOpt {
    font-size: 13px;
    float: right;
}

.more-infol {
    text-align: right;
    margin-bottom: -35px;
}

.ui-tabview .ui-tabview-nav>li.ui-state-default {
    background: #e4e4e4;
}

.ui-tabview .ui-tabview-nav>li.ui-state-active {
    background: white;
    z-index: 5;
}

.btn-primary {
    color: white !important;
}

#loggedinbx {
    background: #8bc34a;
    padding: 10px;
    color: white;
}

@media screen and (max-width: 991px) {
    .cart-prvu {
        position: static;
    }
}

@media(min-width:992) {}

.free-tests {
    background: rgba(233, 30, 99, 0.83);
    color: white;
}

.free-tests thead tr th:first-child {
    font-size: 17px;
}

.free-txt {
    display: inline-block;
    padding: 2px 5px;
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.rltv {
    position: relative;
}

.crs-line {
    display: inline-block;
    width: 40px;
    position: absolute;
    border-top: solid 2px red;
    left: 9px;
    top: 18px;
    transform: rotate (-30deg);
    -webkit-transform: rotate(-30deg);
}

.ttl-clm {
    width: 225px !important;
}

.offer-bx {
    padding: 10px;
    background: #E91E63;
    color: white;
    font-size: 14px;
    position: relative;
    padding-left: 45px;
}

.offer-bx i {
    position: absolute;
    top: 0px;
    font-size: 30px;
    left: 10px;
    top: 5px;
}

.crt-fee-clm {
    width: 60px;
}

.tpc-txt {
    display: block;
    font-size: 11px;
}

.tpc-txt.ofr-txt {
    background: #e91e63;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: 10px;
}

.feeclm,
.crt-fee-clm {
    width: 80px;
}

.buyclm {
    width: 140px;
}

.tbl-swip b {
    font-weight: bold;
    font-size: 13px;
}

.tbl-swip {
    font-size: 13px;
}