html{
    min-height: 100%;
    position: relative;
}
body {
    background: #ebeff2;
    height: auto;
    min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
div,
td,
th,
small,
label,
button,
input,
select {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    background: white;
    height: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    z-index: 1001;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sidebar-wrapper {
    float: left;
    width: 18%;
    background: white;
    /*min-height: 400px;*/
}

ims-sidebar {
    position: fixed;
    width: 18%;
    height: 100%;
    background: white;
    margin-top: 51px;
    top: 0px;
    z-index: 2;
}
ims-footer{
    position: absolute;
    bottom: 0px;
    z-index: 0;
    background: #d9dada96;
    width: 100%;
    border-top: solid 1px #d8d8d8;
    padding: 2px 15px;
}
ims-footer footer{
    padding-left:18.1%;
}
ims-footer.footer-edukit-store footer{
    padding-left:0px;
}
ims-footer footer ul{
    padding:0px;
    margin: 0px;
    display: inline-block;
}

ims-footer footer ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
    font-size: 12px;
}
ims-footer footer ul li.brand{
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 0px;
}
header .ek-logo-sec {
    display: inline-block;
    padding: 8px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: #00796B;
    width: 18%;
    border-right: solid 1px whitesmoke;
    min-width:130px;
}

header .ek-logo-sec i {
    color: #009688;
}

header .app-sec {
    display: inline-block;
    padding: 8px;
    font-size: 20px;
    margin-left: 60px;
}

.exp-dt-hdr{
    font-size: 9px;
    color: #bb7104;
}
.expired-module-layer{
    position: fixed;
    height: 100%;
    top: 0pc;
    bottom: 0px;
    left: 18%;
    right: 0px;
    background: white;
    border-right: solid 1px #d2d2d2;
    box-shadow: inset 0px 0px 1px 0px #a0a0a0;
    padding-top: 100px;
    text-align: center;
    font-size: 16px;
    color: #bd1004;
}
.pgCharHeading{
    background: white;
    margin: 0px;
    padding: 8px;
    position: relative;
}
.pgCharHeading h3{
    margin:0px
}
#view-selector-container table{
    width:30% !important;
    display:inline-block;
}

header .right-sec {
    float: right;
}

header .right-sec ul {
    margin: 0px;
}

header .right-sec ul li {
    padding: 4px 8px;
    list-style: none;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
}

header .right-sec>ul>li.user-opts>a {
    cursor: pointer;
    font-size: 30px;
}

header .right-sec>ul>li.user-opts .ui-menu {
    background: white;
    box-shadow: rgb(214, 214, 214) 1px 1px 1px 0px;
}
.header .ssn-cntr-dt{
    color:#888888;
    font-size: 12px;
}

.sidebar {
    padding-bottom: 100px;
    overflow-y: auto;
    height: 100%;
}

.sidebar .org-logo-sec {
    position: fixed;
    bottom: 0px;
    width: 18%;
    height: 60px;
    z-index: 1;
}

.sidebar .org-logo-sec a {
    width: 100%;
    display: inline-block;
    min-height: 60px;
    max-height: 100px;
    overflow: hidden;
    /* vertical-align: text-top; */
    background: rgb(247, 60, 46);
    padding: 5px;
}

.sidebar .org-logo-sec a img {
    width: 100%;
}

.sidebar .menu-heading h4 {
    font-size: 14px;
    color: darkgrey;
    padding-left: 15px;
    border-bottom: solid 1px rgba(230, 230, 230, 0.31);
    padding-bottom: 6px;
    margin-top: 20px;
}

.sidebar-menu {
    padding: 0px;
}

.sidebar-menu li {
    list-style: none;
}

.sidebar-menu li a {
    display: inline-block;
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 400;
    color: #36404a;
    border-left: 3px solid transparent;
}

.sidebar-menu li a:hover {
    text-decoration: none;
    background: #f4f8fb;
    border-left: 3px solid #5fbeaa;
    color: #5fbeaa !important;
}

.sidebar-menu li.active a {
    text-decoration: none;
    background: #f4f8fb !important;
    border-left: 3px solid #5fbeaa;
    color: #5fbeaa !important;
}

.sidebar-menu li a .link-icon {
    font-size: 17px;
    display: inline-block;
    margin-right: 16px;
}
.side-app-link{
    padding:10px 15px;
}
.side-app-link .sal-link{
    padding: 5px;
    border: solid 2px #c1c1c1;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px #c1c1c1;
    cursor: pointer;
}
.side-app-link .sal-link:hover{
    border: solid 2px #71b8ef;
    box-shadow: 2px 2px 2px 0px #cbe8ff;
}
.side-app-link .sal-link img{
    width: 34px;
    display: inline-block;
    width: 34px;
    padding-right: 5px;
}
.link-text {
    display: inline-block;
    margin-top: -5px;
    padding: 1px;
    font-size: 15px;
    position: relative;
    top: -3px;
}

.main-content-wrapper {
    float: left;
    width: 82%;
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar .favlinks{
    margin-top:15px;
}
.sidebar .shrtct-opt a .glyphicon{
    border: dotted 2px #9e9c9c;
    padding: 5px;
    border-radius: 25px;
}
.sidebar .shrtct-opt a{
    color:#9e9c9c;
    cursor: pointer;
}
.sidebar .shrtct-opt a:hover{
    background: transparent;
    border-left-color: transparent;
    color: #3c3b3b !important;
}
.sidebar .favlinks li.active a{
    background: transparent !important;
}
.sidebar .favlinks li{
    position: relative;
}
.sidebar .favlinks li .fl-rmv{
    position: absolute;
    right: 5px;
    top: 14px;
    font-size: 8px;
    color: #c7c7c7;
    padding: 2px;
    border: solid 1px;
    border-radius: 15px;
    display: none
}
.sidebar .favlinks li:hover .fl-rmv{
    display: inline-block;
}
.sidebar .favlinks li .fl-rmv:hover{
    color:black;
}

/*FCB*/

.FCB {
    position: fixed;
    bottom: 0px;
    z-index: 1001;
    width: 82%;
    left: 18%;
    padding-left: 15px;
    padding-right: 15px;
    bottom: -50px;
    -webkit-transition: bottom 2s;
    transition: bottom 0.5s;
    transition-delay: 0.01s;
}

.fcb-content {
    background: white;
    padding: 8px 15px 6px;
    box-shadow: 1px 1px 5px 2px #dfdfdf;
}

.fcb-show {
    bottom: 0px;
}

.fcb-hide {
    bottom: -50px;
}

.fcb-hide .fcb-content {
    display: none;
}


/*----ends FCB*/

.ek-datatable datatable-header {
    height: 50px;
    width: 100%;
    background: gainsboro;
    /*border: solid 2px #e4e3e3;*/
}



.ek-datatable datatable-body-cell,
.ek-datatable datatable-header-cell {
    padding: 5px;
    border-left: solid 1px #e4e3e3;
    border-bottom: solid 1px #e4e3e3;
}

.ek-datatable .datatable-row-group datatable-body-cell:last-child,
.ek-datatable .datatable-row-group datatable-header-cell:last-child {
    border-right: solid 1px #e4e3e3;
}

.ek-datatable datatable-pager i {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.ek-datatable i.icon-right:before {
    content: "\e077";
}

.ek-datatable i.icon-left:before {
    content: "\e069";
}

.ek-datatable i.icon-prev:before {
    content: "\e070";
}

.ek-datatable i.icon-skip:before {
    content: "\e076";
}

.activity-navbar {
    background: #dadfe2;
    margin-left: -15px;
    margin-right: -15px;
}

.activity-navbar ul {
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
}

.activity-navbar ul li {
    list-style: none;
    display: inline-block;
}

.activity-navbar ul li.head {
    font-weight: bold;
    font-size: 18px;
    color: #4c5667;
    position: relative;
    bottom: -1px;
    margin-right: 10px;
}

.activity-navbar ul li a {
    padding: 10px 10px 8px 10px;
    height: 40px;
    display: inline-block;
    margin: 0px 2px;
    color: #4c5667;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.activity-navbar ul li a.active,
.activity-navbar ul li a:hover {
    border-bottom: solid 2px #3F51B5;
    color: #142ba9;
}

.activity-header {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    border-bottom: solid 2px #e6e6e6;
}

.activity-heading {
    font-size: 27px;
    color: #757677;
    display: inline-block;
}

.activity-header-menu {
    float: right;
    margin-top: 20px;
}

.activity-header-menu ul li {
    float: left;
    list-style: none;
    margin: 2px;
    margin-left: 5px;
}

.activity-header-menu ul li.dd-btn {

    position: relative;
    width: 40px;
    border: solid 1px #848484;
    height: 30px;
    /* line-height: 14px; */

    /* padding: 1px; */

    border-radius: 2px;

}
.dd-btn .ek-tgle {


    font-size: 17px;
    padding: 0 9px;
    line-height: 32px;

}

.activity-breadcrumb {
    padding-bottom: 1px;
}

.activity-breadcrumb .breadcrumb {
    padding: 0px;
    background: transparent;
}

.activity-content {
    margin-top: 15px;
}

.ek-btn {
    display: inline-block;
    padding: 5px 10px;
    background: #3F51B5;
    color: white !important;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.ek-btn:hover {
    color: white;
    text-decoration: none;
    background: #3F51B5;
}

.btn-create {
    background: #3F51B5;
}

.btn-create:hover {
    background: #303F9F;
}

.btn-list {
    background: #009688;
}

.btn-list:hover {
    background: #00796B;
}

.btn-view {
    background: #3F51B5;
}

.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: white !important;
}

.btn-info:hover {
    background-color: rgb(49, 176, 213);
    border-color: rgb(38, 154, 188);
}

.btn-sms {
    background-color: #a2b113;
    border-color: #8d9a0c;
    color: white !important;
}

.btn-sms:hover {
    background-color: #85920d;
    border-color: #8d9a0c;
}
.btn-email {
    background-color: #2da5ff;
    border-color: #1b93ec;
    color: white !important;
}

.btn-email:hover {
    background-color: #1e92e8;
    border-color: #1b93ec;
}

.btn-edit,
.btn-add {
    background: #673AB7;
}

.ek-btn.btn-icon::before {
    font-family: 'Glyphicons Halflings';
    top: 2px;
    position: relative;
    /*margin-right: 5px;*/
    padding: 1px 2px;
}

.btn-icon.btn-add::before {
    content: "\002b";
}

.btn-edit:hover,
.btn-add:hover {
    background: #7B1FA2;
}

.btn-icon.btn-edit::before {
    content: "\e065"
}

.btn-save {
    background: #3F51B5;
}

.btn-delete {
    background: rgba(158, 48, 40, 0.97);
}

.btn-icon.btn-delete::before {
    content: "\e014";
}

.btn-delete:hover {
    background: rgba(121, 29, 23, 0.97);
}
.icon-add, .icon-new{
    color: #673AB7;
    font-size: 18px;
    cursor: pointer;
}

.icon-remove, .icon-delete{
    color: #b70303;
    font-size: 18px;
    cursor: pointer;
}
.icon-remove:hover, .icon-delete:hover{
    color:#c11717;
}

.btn-cancel {
    background: #3F51B5;
}

.btn-back {
    background: #3F51B5;
}

.ek-loader-bar {
    background-color: #F44336;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 2px;
}

.btn-mini {
    margin: 1px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 12px;
}

.btn-smini {
    margin: 1px;
    font-size: 10px;
    padding: 4px;
    line-height: 9px;
}

.ek-datatable .btn-mini {
    line-height: 16px;
}

.page-loader.hide {
    display: none !important;
}

.page-loader.show {
    display: block !important;
}

.page-loader .spinner {
    position: absolute;
    display: inline-block;
    top: calc(50% - 22px);
    left: calc(50% - 22px);
}

.page-loader .spinner-icon {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border: solid 4px transparent;
    border-radius: 50%;
    -webkit-animation: eknotifier-spinner 400ms linear infinite;
    animation: eknotifier-spinner 800ms linear infinite;
}

.activity-grp-link {
    display: block;
    width: 100%;
    min-height: 80px;
    background: white;
    padding: 5px;
    font-size: 18px;
    position: relative;
    color: grey;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.activity-grp-link:hover {
    text-decoration: none;
    box-shadow: 1px 1px 4px 0px #9E9E9E;
}

.activity-grp-link .agl-icn {
    position: absolute;
    font-size: 60px;
    /* top: 10px; */
    opacity: 0.5;
    color: #8BC34A;
    top: 34px;
    right: -12px;
    display: inline-block;
}

.panel-loader {
    position: relative;
}

.panel-loader.show {
    position: relative
}

.panel-loader.show>div,
.panel-loader.show.table,
.panel-loader.show table {
    opacity: 0.7;
}

.panel-loader.Processing::after {
    content: "Processing...";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.68);
    top: 0;
    left: 0px;
    text-align: center;
    padding-top: 10px;
    color: #2196F3;
    /* text-shadow: 2px 2px 2px #1b1b1b; */
    font-weight: bold;
}

.panel-loader.show::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 100px;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.panel-loader.deleted::after {
    content: "Deleted!";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: white;
    top: 0;
    left: 0px;
    text-align: center;
    padding-top: 10px;
    color: black;
    text-shadow: 2px 2px 2px #1b1b1b;
}

.screen-loader {
    display: flex;
    margin: auto;
    width: 64px;
    height: 100%;
    align-items: center;
}

.screen-loader img {
    width: 64px;
    height: 64px;
}


/*EK-Modal*/

.ek-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.ekm-content {
    width: 92%;
    max-width: 600px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 3px 1px #f1f1f1;
    z-index: 10001;
    position: relative;
    border-radius: 2px;
    top: 15%;
    display: flex;
    flex-direction: column;
}

.ekm-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    opacity: 0.7;
    background: rgb(0, 0, 0);
}

.ekm-cancel-btn {
    position: absolute;
    right: -10px;
    font-size: 20px;
    line-height: 20px;
    background: white;
    border-radius: 25px;
    top: -10px;
    padding: 2px;
    width: 24px;
    height: 26px;
    cursor: pointer;
    color: #636363;
}

.ekm-cancel-btn:hover {
    color: black;
}

.ekm-header {
    padding: 10px;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 10px;
}

.ekm-body {
    padding: 15px;
    margin-top: 5px;
    max-height: 80%;
    overflow-y: auto;
    border-bottom: solid 4px #e6e6e6;
    padding-bottom: 30px;
}

.ekm-footer {
    padding: 10px;
    background: rgb(230, 230, 230);
}


/*----Modal Style ends*/

.form-horizontal .ui-multiselect {
    width: 100%;
    height: 29px;
}

.panel-footer {
    background: #f4f8fb;
    border-top: 0px;
}

.panel-footer .cancel-link {
    margin-bottom: 7px;
    font-size: 12px;
}

.panel-footer .cancel-link a {
    cursor: pointer;
}

.table-day-slots tbody:nth-child(2n+1) {
    background: rgba(245, 245, 245, 0.53);
}

.psbx {
    display: inline-block;
    position: relative;
}

.period-slot {
    display: inline-block;
    position: relative;
    padding: 5px;
    cursor: default;
    margin: 5px;
}

.period-slot .btn-action {
    opacity: 0;
    position: absolute;
    font-size: 8px;
    padding: 4px 4px;
    line-height: 5px;
}

.period-slot:hover .btn-action {
    opacity: 1;
}

.period-slot .time-info {
    display: inline-block;
    font-size: 10px;
}

.psbx:hover .dlt-btn {
    display: inline-block;
}

.psbx .dlt-btn {
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: none;
    height: 14px;
    font-size: 16px;
    top: inherit;
    color: #F44336;
    cursor: pointer;
    z-index: 1;
}

.psbx .dlt-btn:hover {
    color: red;
}

.psbx .event-selector input {
    position: absolute;
    top: -6px;
    right: 0px;
    font-size: 16px;
    font-weight: bold;
}

.slts-container {
    position: relative;
    height: 120px;
}

.slts-container .slt-bx {
    position: absolute;
    z-index: 1;
    display: inline-block;
    height: 100px;
}

.slts-container .batch-slts .slt-bx {
    background: #f1f1f1;
    border: dashed 2px #a2a2a2;
    color: #c1bcbc;
}

.slts-container .batch-slts .slt-bx:hover {
    border: dashed 3px #9c9b9b;
    margin: -1px;
}

.slts-container .psbx {
    height: 90px;
}

.slts-container .period-slot {
    height: 100%;
    box-shadow: 0px 2px 2px 2px #a2a2a2;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    /* border: solid 2px transparent; */
    /*background: rgba(245, 245, 245, 0.83);*/
    /* border: solid 7px transparent; */
    /* margin-right: -10px; */
    display: inline-block;
}

.slts-container .period-slot:hover {
    background: #d6f2ff;
}

form .help-text-blck {
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 100%;
    border: dashed 1px #dddddd;
    background: white;
    border-radius: 0px;
}

.ui-tabview {
    background: none;
}

.ui-tabview-panels {
    background: white;
}
ek-order-component .ui-tabview.ui-tabview-left>.ui-tabview-nav li, ek-order-component  .ui-tabview.ui-tabview-right>.ui-tabview-nav li{
    width:100%;
}
ek-order-component .ui-tabview .ui-tabview-nav > li.ui-state-active{
    width: calc(100% + 1px);
}

.demo-cls {
    background: red;
}

.btns-right .panel-title {
    display: inline-block;
}


/*PrimeNG Theme Modigications*/

.ek-default .ui-buttonset .ui-button {
    background: #cacaca;
    border-color: #b1b1b1;
    color: black;
}

.ek-default .ui-buttonset .ui-button-text-icon-left .ui-c {
    background: white;
    cursor: text;
}

.ek-default .ui-buttonset .ui-button-text-icon-left .ui-c {
    color: black;
}

.ek-default .ui-widget-header .ui-button:enabled:hover,
.ek-default .ui-widget-header .ui-button:focus,
.ek-default .ui-widget-content .ui-button:enabled:hover,
.ek-default .ui-widget-content .ui-button:focus,
.ek-default .ui-button:enabled:hover,
.ek-default .ui-button:focus {
    border: 1px solid #616161;
    background: #757575;
}


/*----end--PrimeNG Theme Modigications*/

.empty-day {
    background-color: #ffe6e6;
    background-image: url('http://supernovathemes.com/wp-content/themes/supernovathemes/images/bg/b4.png');
}

.schedule-table-view table table {
    margin-bottom: 0px;
}

.schedule-table-view table table>tbody>tr>td {
    font-size: 12px;
}

.schedule-table-view table table>tbody>tr>td:nth-child(1),
.schedule-table-view table table>thead>tr>th:nth-child(1) {
    width: 5%;
}

.schedule-table-view table table>tbody>tr>td:nth-child(2),
.schedule-table-view table table>thead>tr>th:nth-child(2) {
    width: 30%;
}

.schedule-table-view table table>tbody>tr>td:nth-child(3),
.schedule-table-view table table>thead>tr>th:nth-child(3) {
    width: 35%;
}

.schedule-table-view .period-slot {
    cursor: pointer;
}

.schedule-table-view .period-slot:hover {
    box-shadow: 1px 1px 1px 1px #e3e3e3;
}

.fliter-bar {
    margin-bottom: 20px;
}


/*ek-notifier-css*/

.ek-notifier {
    position: fixed;
    z-index: 999;
    background: #3F51B5;
    height: 2px;
    width: 0px;
    /*width: 100%;*/
    /* transition: opacity 0.1s linear; */
    /*-webkit-transition-delay: 0.1s;*/
    /* Safari */
    /*transition-delay: 0.1s;*/
    opacity: 1;
    -webkit-transition: width 0.5s;
    /* Safari */
    transition: width 0.5s;
}

.vhide {
    visibility: hidden;
}


/* .ek-progressbar {
    transition: opacity 0.5s linear;
} */

.ek-alert {
    position: fixed;
    z-index: 1011;
    right: 10px;
    top: 120px;
}

.ek-alert .msg-box {
    background: #e2e2e2;
    padding: 10px;
    border-radius: 2px;
    color: black;
    font-size: 12px;
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.ek-alert .msg-box.success {
    background: #4CAF50;
    color: white;
}

.ek-alert .msg-box.danger {
    background: #F44336;
    color: white;
}

.ek-alert .close-opt {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px;
    color: #d2d2d2;
    font-size: 16px;
    cursor: pointer;
}

.spinner {
    display: block;
    position: fixed;
    z-index: 1032;
    top: 15px;
    left: 16%;
}

.ek-nav-spinner .spinner {
    z-index: 1031;
    top: 15px;
    left: 16%;
}

@keyframes eknotifier-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-radius: 50%;
    -webkit-animation: eknotifier-spinner 400ms linear infinite;
    animation: eknotifier-spinner 400ms linear infinite;
}


/*end-ek-notifier-css*/


/*<----ek-loginbox*/

.ek-loginbox {
    background: white;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    top: 0px;
}

.ek-loginbox .lb-container {
    max-width: 580px;
    width: 92%;
    margin: auto
}


/*ek-loginbox end---->*/

ezukit-ims>ek-loginbox .ek-loginbox,
ims-login>ek-loginbox .ek-loginbox {
    /* special css for IMS Login*/
    display: flex;
}

ezukit-ims>ek-loginbox .ek-loginbox .lb-container,
ims-login>ek-loginbox .ek-loginbox .lb-container {
    background: #eaeaea;
    border-radius: 2px;
    text-align: center;
    padding-bottom: 10px;
}

ezukit-ims>ek-loginbox .ek-loginbox legend,
ims-login>ek-loginbox .ek-loginbox legend {
    padding: 10px;
}

ezukit-ims>ek-loginbox .ek-loginbox .form-group,
ims-login>ek-loginbox .ek-loginbox .form-group {
    padding: 0px 10px;
    text-align: left
}

.ui-calendar {
    max-width: 100%;
}

.ui-calendar .ui-inputtext {
    max-width: 100%;
}

.psSUG {
    background: #71d3ff;
}

.psHint {
    background: #FFFDE7;
    border: dashed 2px #FFEB3B;
}

.schdl-frm p-multiselect {
    display: block;
}

.schdl-frm .ui-multiselect {
    width: 100%;
}

.evtTEST {
    background-color: #9E9E9E;
    color: white;
}

.evtPENDING {
    background: #607D8B;
    color: white;
}

.evtAPPROVED{
    background:#8BC34A;
    color:#fff;
}
.evtCONFIRMED {
    background: #4CAF50;
    color: white;
}

.evtUNAPPROVED,
.evtDECLINED {
    background: #F44336;
    color: white;
}

.evtCANCELED {
    background: #FF9800;
    color: white;
}

.evtRESCHEDULED {
    background: #795548;
    color: white;
}

.evtPASSED {
    background: #795548;
    color: white;
}

.evtRUNTIME {
    background: #795548;
    color: white;
}

.evtRUNNING {
    background: #795548;
    color: white;
}

.evtFINISHED {
    background: #795548;
    color: white;
}

.evtSHIFTED {
    background: orange;
    color: white;
}

.panel {
    border: none;
    margin-bottom: 20px;
}

.panel .panel-heading {
    border: none !important;
    border-top: 3px solid #DADFE2 !important;
    padding: 10px 20px 10px;
    background-color: #ffffff;
    position: relative;
}
.panel .panel-heading .panel-header-right-opts{
    position: absolute;
    right: 15px;
    top: 12px;
}

.panel .table-bordered, .panel .table-responsive .table-bordered {
    border-bottom: solid 1px #d9d9d9;
}

.panel-heading .panel-title {
    display: inline-block;
    margin-bottom: 0px;
    line-height: 30px;
    font-size: 20px
}

.panel-heading .panel-opts {
    padding: 0px;
    list-style: none;
    float: right;
}

.panel-heading .panel-opts li {
    padding: 0px;
}

.panel-default>.panel-heading {
    background-color: #f4f8fb;
    border-bottom: none;
    color: #797979;
}

.panel>table,
.panel>.table-responsive>table {
    margin-top: 20px;
}

.panel .panel-body {
    padding: 15px 20px 20px 20px;
}

.panel .panel-body {
    padding: 20px;
}
.panel .panel-body img {
    max-width: 100%;
}

.panel.panel-primary .panel-heading {
    border-color: #4c5667 !important;
    color: #4c5667 !important;
    box-shadow: 0px 0px 3px 0px rgb(212, 212, 212);
}

.table-tdp0>tbody>tr>td,
.table-tdp0>thead>tr>th {
    padding: 0px;
    font-size: 12px;
}

.panel-profile label {
    color: #b7b7b7;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
}

.post-info {
    margin-right: 15px;
    font-size: 12px;
    color: #abafb1;
}

.table-brdr0>tbody>tr>td,
.table-brdr0>tbody>tr>th {
    border: none;
}

.table-brdr0 .spcl-bdy {
    border: solid 3px #e8e8e8;
    border-radius: 2px;
}

.table-schedule-grid>thead>tr>th:first-child,
.table-schedule-grid>tbody>tr>td:first-child {
    width: 86px;
    background: whitesmoke;
}

.table-schedule-grid>tbody>tr>td:first-child {
    font-size: 12px;
    color: #757575;
}

.rswindow {
    position: fixed;
    top: 50px;
    background: white;
    z-index: 99;
    /* width: 400px; */
    /* right: -400px; */
    display: none;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 0px 3px 7px 1px #e3e3e3;
    -webkit-transition: right 0.5s;
    /* Safari */
    transition: right 0.5s;
}

.rsw-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #bdc2c5;
}

.rsw-heading {
    display: inline-block;
    max-width: 300px;
    margin-left: 15px;
}

.rsw-heading h4 {
    display: inline;
    color: #424a58;
}

.rsw-options {
    display: inline-block;
    float: right;
    margin-right: 15px;
}

.rsw-options .close-btn {
    border: solid 1px #e6e6e6;
    color: #ebeff2;
}

.rsw-options .close-btn:hover {
    color: #545454;
    border: solid 1px #757a87;
}

.rsw-content .rsw-child {
    padding: 15px;
    padding-bottom: 80px;
}

.sdl-exprt-frm {
    padding: 15px;
}

.rsw-outer-footer {
    position: fixed;
    bottom: 0px;
    z-index: 101;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.87);
    padding: 5px 15px;
    -webkit-transition: right 0.5s;
    -webkit-transition: bottom 0.5s;
    transition: right 0.5s;
    transition: bottom 0.5s;
    border-top: solid 1px #cccccc;
}

.links-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.links-list li {
    display: inline-block;
    margin: 1px 2px;
}

@media print {
    /* html,
    body {
        width: 1024px;
    } */
    .wrapper{
        padding-top:0px;
    }
    .panel .panel-body{
        padding:0px
    }
    .activity-content{
        margin-top:0px;
    }
    html, body {
        /* width: 216mm;
        height: 279mm; */
        width: 210mm;
        height: 297mm;
      }
    .a4-page, .letter-page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .printHide, .print-hide {
        display: none;
    }
    header{
        position:relative;
    }
    .sidebar-wrapper{
        display: none;
    }
    .activity-breadcrumb, .activity-header-menu, .header .right-sec{
        display: none;
    }
    .main-content-wrapper{
        margin: auto;
        /* padding: 0; */
    }
    footer{
        text-align: center;
    }
    .ui-tabview-nav{
        display: none;
    }
    .ui-tabview-panels{
        width:100% !important;
    }
    /* -----------lokesh changes in print ------- */
    header{
        display :none;
    }
    .sidebar-toggle-btn{
        display:none !important;
    }
    ims-footer{
        display:none;
    }
    /* ------------- // lokesh changes in print --------- */
}

.sidebar-toggle-btn{
    position: absolute;
    top: 0px;
    z-index: 10001;
    background: white;
    height: 50px;
    width: 40px;
    display: none;
}
@media (max-width: 767px) {
    .sidebar-wrapper {
        z-index: 102;
        width: 0px;
        width:240px;
        position: absolute;

    }
    .sidebar-closed .sidebar-wrapper{
        left:-240px;
    }
    .sidebar-open .sidebar-wrapper{
        left:0px;
    }
    .sidebar-toggle-btn{
        display: inline-block;
    }
    ims-sidebar{
        width:240px;
    }
    .sidebar-wrapper .sidebar {
        margin-top: 0px;
        transition: left 0.1s linear;
        /*-webkit-transition-delay: 0.1s;*/
        /* Safari */
        /*transition-delay: 0.1s;*/
        left: -250px;
        -webkit-transition: left 0.5s;
        /* Safari */
        transition: left 0.5s;
        top: 0px
    }
    .sidebar-wrapper .sidebar.CLOSED {
        left: -250px !important;
    }
    .sidebar-wrapper .sidebar.OPENED {
        left: 0px !important;
    }
    faculty-mainbody .main-content-wrapper {
        width: 100%;
    }
    faculty-mainbody .activity-heading {
        font-size: 20px;
    }
    faculty-mainbody .activity-breadcrumb li {
        font-size: 12px;
    }
    .wrapper .main-content-wrapper {
        width: 100%;
    }
}

.form-control.ngp-date {
    padding: 0px;
}

.form-control.ngp-date .ui-calendar {
    width: 100%;
    height: 100%;
}

.form-control.ngp-date input {
    width: 100%;
    height: 100%;
}

.sdl-pdf-prvw {
    background: white;
    padding-top: 100px;
    text-align: center;
    font-size: 26px;
}

.sdl-pdf-prvw .table>tbody>tr>td,
.sdl-pdf-prvw .table>thead>tr>th {
    border: transparent;
    border-width: 0px;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.sdl-pdf-prvw .table>thead>tr>th {
    font-size: 34px;
}

.sdl-pdf-prvw>.sdl-pdf-bx>.table>thead>tr>th:first-child {
    border: solid 1px black
}

.sdl-pdf-prvw>.sdl-pdf-bx>table>tbody>tr:nth-child(n+1)>td {
    border-right: 0px;
}

.sdl-pdf-prvw .tblinnr.table thead tr th {
    border-top: solid 1px black;
    border-right: solid 1px black;
}

.sdl-pdf-prvw table.table tr td {
    border: solid 1px black;
}

.sdl-pdf-prvw>.sdl-pdf-bx>table {
    width: 96%;
    margin: auto;
    min-width: 600px;
    overflow-y: auto;
}


/*.sdl-pdf-prvw>.sdl-pdf-bx>table tbody {
    border: solid 2px #dddddd;
}*/

.sdl-pdf-prvw .tblinnr tr:nth-child(1) td {
    border-top: 1px;
}

.sdl-pdf-prvw .tblinnr tr:nth-child(n+2) td {
    border-top: solid 1px !important;
}

.sdl-pdf-prvw .sdl-pdf-bx table tr td {
    vertical-align: middle;
    font-size: 28px;
    line-height: 50px;
    font-weight: normal;
    font-weight: bold;
}

.sdl-pdf-prvw>.sdl-pdf-bx>table table {
    margin-bottom: 0px;
}

.sdl-pdf-prvw .tblinnr.table tr td,
.sdl-pdf-prvw .tblinnr.table tr th {
    width: 33%;
    border: 0px;
    border-right: solid 1px;
}

.sdl-pdf-prvw table th {
    text-align: center;
}

.sdl-pdf-prvw h3 {
    font-size: 40px;
    margin: 40px;
}

.sdl-pdf-prvw h4 {
    font-size: 30px;
    margin-bottom: 30px;
}

.info-tile {
    margin: 0px 0px 32px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    display: block;
}

.info-tile .tile-icon {
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    left: 10px;
    bottom: -100px;
    font-size: 40px;
}

.info-tile .tile-heading {
    text-align: left;
    color: #9e9e9e;
    height: 16px;
    line-height: 16px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.info-tile .tile-body {
    text-align: right;
    color: #616161;
    font-size: 36px;
    font-weight: 400;
    line-height: 72px;
    position: relative;
    z-index: 1;
}

.info-tile .tile-footer {
    text-align: right;
    font-size: 12px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.info-tile.tile-danger .tile-icon i {
    color: #f9bdbb;
}

.info-tile.tile-success .tile-icon i {
    color: #dcedc8;
}

.schedule-footer-options {
    text-align: left;
    list-style: none;
}

.schedule-footer-options li {
    display: inline-block;
}


/*COntact Card*/

.card-box {
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.contact-card {
    position: relative;
}

.contact-card img {
    width: 80px;
    height: 80px;
}

.contact-card .member-info {
    padding-left: 100px;
    padding-bottom: 20px;
}

.contact-card .member-info h4,
.contact-card .member-info p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.text-dark {
    color: #797979 !important;
}

.text-muted {
    color: #98a6ad;
}

.contact-card:hover .contact-action {
    display: block;
}

.contact-card .contact-action {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
}

.m-0 {
    margin: 0px !important;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.social-links li a {
    -webkit-border-radius: 50%;
    background: #EFF0F4;
    border-radius: 50%;
    color: #7A7676;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.tile-ample {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
}

.tile-ample .title {
    margin: 0px 0px 12px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}

.two-part li {
    width: 48.8%;
}

.two-part li i {
    font-size: 50px;
}

.two-part li span {
    font-size: 50px;
    font-weight: 100;
    font-family: 'Rubik', sans-serif;
}

.row-top {
    margin-top: 25px;
}

.tile-order {
    min-height: 250px;
}

.tile-order i.ftr-icn {
    font-size: 85px;
}

.tile-list-v li {
    list-style: none;
    margin-bottom: 10px;
    /* border-bottom: solid 1px #cdd1d3; */
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 3px;
    line-height: 14px;
    text-align: right;
}

.tile-list-v li .info-val {
    font-weight: bold;
    font-size: 24px;
    color: #6d6d6d;
}

.tile-list-v li .info-txt {
    font-size: 12px;
}


/*MDI ICONS Additions*/

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


/*----MDI Icons ends*/

.tbl-hrs tbody tr td {
    color: #6d6d6d;
    font-size: 11px;
}

.tbl-hrs tbody tr td b {
    font-size: 13px;
    color: #4a4949;
}

.pnl-subhead {
    display: flex;
    padding: 10px;
}

.hrs-pnl-subhead .lft,
.pnl-subhead .lft {
    float: left;
    width: 33.33%;
}

.hrs-pnl-subhead .mid,
.pnl-subhead .mid {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.hrs-pnl-subhead .rt,
.pnl-subhead .rt {
    float: left;
    width: 33.33%;
    text-align: right;
}

.smry-head {
    background: rgb(236, 255, 236);
    font-weight: 100;
}

.smry-head th {
    font-weight: normal;
}

thead tr {
    background: #ececec;
}

.batch-labels {
    margin-top: 15px;
}

.batch-labels .label {
    margin: 5px 10px 5px 0px;
}

.evtsltdrpbx {
    display: inline-block;
    /* line-height: 72px; */
    vertical-align: top;
    padding: 18px 30px;
    border: dashed #5fbeaa;
    color: #827777;
}

.dialogue-absolute .ui-dialog {
    position: absolute;
}

.dialogue-absolute .ui-dialog-content {
    overflow: initial;
}

.alignR {
    text-align: right;
}

.alignC {
    text-align: center;
}

.alignL {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

.settings-card {
    padding: 5px 15px 10px 15px;
    background: white;
    box-shadow: 1px 1px 1px 0px #cdd1d3;
    border-radius: 3px;
    margin-bottom: 5px;
}

.settings-card .form-control[disabled] {
    background-color: #fff;
    opacity: 1;
    border: transparent;
    box-shadow: none;
    cursor: text;
}

.form-group-changeable-width {
    max-width: 100%;
    min-width: 250px;
}

.form-group-changeable-width input {
    width: 100% !important;
}

.tag {
    background: #9E9E9E;
    padding: 3px 5px;
    font-size: 12px;
    color: white;
    border-radius: 2px;
    margin: 5px;
}

.tag-info {
    background-color: #03A9F4;
    color: white
}

.help-tooltip {
    position: relative;
    display: inline;
}

.help-tooltip .ht-content {
    background: white;
    padding: 5px;
    position: absolute;
    z-index: 10001;
    left: 99%;
    top: -50%;
    display: none;
    border: solid 1px #cdd1d3;
    box-shadow: 2px 2px 2px #dadde0;
    border-radius: 2px;
    font-size: 11px;
    min-width: 150px;
    min-height: 50px;
    max-width: 200px;
    max-height: 250px;
    overflow-y: auto;
}

.help-tooltip:hover .ht-content {
    display: block;
}

.fgm0 .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.maxw100 {
    max-width: 100%;
}

.form-in-tabview {
    padding: 15px;
}

.form-in-oneview {
    padding: 15px;
}

.form-in-oneview .subheading {
    border-bottom: solid 1px #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 35px;
}

.form-in-oneview label {
    font-weight: normal;
}

.profile-in-tabview {
    padding: 15px;
}

.detail-row {
    margin-bottom: 20px;
}

.detail-row .lbl {
    color: #666;
}

/* .detail-row .val {
    font-weight: bold;
} */

.padding15 {
    padding: 15px;
}


/*File Manager*/

.fmm-header {
    padding: 10px;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 0px;
}

.fmm-body {
    max-height: 80%;
    /* overflow-y: auto; */
    border-bottom: solid 4px #e6e6e6;
    /*padding-bottom: 30px;*/
}

.fm-menu ul {
    border-right: solid 1px #e2e2e2;
    /* padding-top: 15px; */
    padding: 0px;
    font-weight: bold;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 0px;
    padding-top: 10px;
}

.fm-menu ul li {
    list-style: none;
    padding: 5px;
    padding-left: 15px;
    border-bottom: solid 1px #e2e2e2;
    cursor: pointer;
}

.fm-menu ul li.active,
.fm-menu ul li:hover {
    background: #f1efef;
}

.fm-content {
    padding-top: 15px;
}

.fmimg-thumb {
    width: 84px;
    height: 84px;
    display: inline-block;
    border-radius: 2px;
    padding: 1px;
    margin: 5px;
    border: solid 1px #bfbfbf;
}

.fmimg-thumb img, .fmimg-thumb i {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 75px;
    color: #a5a5a5;
}
.fmimg-thumb .file-ttl{
    width: 100%;
    overflow: -webkit-paged-x;
    height: 20px;
    font-size: 10px;
    padding-top: 2px;
    margin-bottom: 5px;
}

.fmimg-thumb.selected,
.fmimg-thumb:hover {
    background: blue;
    opacity: 0.8;
    border-color: blue;
}

.fileinput-selector {
    cursor: pointer;
    margin-bottom: 0px;
}

.fileinput-selector span {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* word-wrap: break-word; */
    overflow: hidden;
    /* overflow-anchor: initial; */
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*----File Manager*/

.mr5 {
    margin-right: 5px !important;
}

.cmb-plist li {
    border-bottom: solid 1px #ebeff2;
    /* padding-bottom: 4px; */
    margin-bottom: 5px;
    line-height: 26px;
    list-style: decimal;
}

.frm-img-thumb img {
    width: 84px;
    height: 84px;
}

.frm-img-thumb.sign-img img {
    width: 84px;
    height: 44px;
}

.order-detail-panel .ui-tabview-panel {
    min-height: 400px;
    border: solid 1px #d6d6d6;
}

.order-detail-panel table th {
    text-align: right;
}
.order-detail-panel .tbl-discnt tbody tr:first-child{
    background: #efefef;
}
.order-detail-panel .add-discnt-bx{
    background: #f0efff;
    padding: 15px;
    margin-left: -14px;
    margin-right: -14px;
    margin-top: 30px;
    margin-bottom: -14px;
}

.order-status-list {
    min-height: 120px;
}

.order-history {
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #ececec;
}

.order-status-frm {
    background: #f3f5ff;
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    bottom: -14px;
    padding-top: 10px;
}

.f11 {
    font-size: 11px;
}

.pmt-box {
    padding: 15px;
    padding-top: 0px;
    border: solid 2px #c5ffc8;
    border-top: solid 5px #c5ffc8;
    margin-bottom: 15px;
    border-color: #cacaca;
    position: relative;
}

.pmt-box>.row,
.pmt-box .pmt-details>.row {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #d6d6d6;
    margin-bottom: 5px;
}

.ordr-pmt-dd {
    position: absolute;
    right: 0px;
    z-index: 2;
    display: none;
}

.pmt-box:hover .ordr-pmt-dd {
    display: inline-block;
}

.pmt-box .ordr-pmt-dd .dropdown-toggle {
    background: #dbf3e4;
    border-radius: 0px;
}

.pmt-box .th {
    font-weight: bold;
    text-align: right;
    word-wrap: break-word;
}

.panel-body.panel-form .form-horizontal .form-group {
    margin-right: 5px;
    margin-left: 5px;
}

.link {
    cursor: pointer;
    color: #1976D2 !important;
}
.pointer {
    cursor: pointer;
}

.label {
    background-color: #a2a1a1;
}

.btn-primary {
    color: #fff !important;
}

.label-pending {
    background: #607D8B;
    color: white;
}

.label-completed {
    background: green;
    color: white;
}

.label-processed {
    background: #83c31f;
    color: white;
}

.label-shipped {
    background: #4CAF50;
    color: white;
}

.label-aborted {
    background: #ffaa00;
    color: white;
}

.label-success {
    background: #5cb85c;
    color: white;
}

.label-placed {
    background: #009688;
    color: white;
}

.label-failed {
    background: #FF5722;
    color: white;
}

.label-shipped {
    background: #2196F3;
    color: white;
}

.label-completed {
    background: #5cb85c;
    color: white;
}

.label-partially.shipped {
    background-color: rgba(100, 145, 204, 0.94);
    color: white;
}

.brdr-aborted {
    border-color: #ffaa0038;
}

.brdr-success {
    border-color: #5cb85c2b;
}

.brdr-failed {
    border-color: #ff572233;
}

.brdr-pending {
    border-color: #607D8B;
}

.notifier-default-nfset {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 15px;
    border: dashed 1px #cccccc;
}

.cmbo-prdct-tr {
    font-size: 0.8em;
    background: #fbfbfb;
}

.prdct-cntrls-tr {
    text-align: right;
    /* font-size: 13px; */
}


/* ///order-process-steps */

.ek-order-process-steps {
    position: relative;
    min-height: 40px;
    text-align: left;
}

.ek-order-process-steps .step {
    display: inline-block;
    width: 80px;
    background: red;
    font-size: 12px;
    position: relative;
}

.node {
    position: absolute;
    top: -10px;
    width: 50px;
    /* left: calc(50% - 5px); */
    text-align: right;
    right: 0px;
    z-index: 2;
}

.circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: red;
    border-radius: 25px;
}

.stepName {
    display: block;
    text-align: right;
    font-size: 11px;
}

.edge {
    position: absolute;
    height: 3px;
    width: 100%;
    background: red;
    top: -3px;
    margin-left: -5px;
}

.step0 .node .circle {
    border: solid 1px #a9a4a4;
    background: #eaeaea;
}

.step0 .edge {
    background: #eaeaea;
    border: solid 1px #a9a4a4;
}

.step1 .node .circle {
    background: #8BC34A;
    border: solid 1px #4CAF50;
}

.step1 .edge {
    background: #8BC34A;
    border: solid 1px #4CAF50;
}


/* /-----order-process-steps end  */


/* Ek-Tabpanel */

.ek-tab-panel {
    background: white;
}

.ek-tab-panel .ek-tab-panel-heading {
    padding-top: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.ek-tab-panel .ek-tab-panel-heading .panel-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.ek-tab-panel .ek-tab-panel-tabs ul {
    list-style: none;
    padding: 0px;
    border-bottom: solid 1px #dadfe2;
}

.ek-tab-panel .ek-tab-panel-tab {
    display: inline-block;
    margin: 2px 2px 0px 2px;
    padding: 7px 10px;
    color: #3F51B5;
    cursor: pointer;
}

.ek-tab-panel .ek-tab-panel-tab:hover {
    color: #0273ce;
}

.ek-tab-panel .ek-tab-panel-tab.active {
    border-bottom: solid 3px #3F51B5;
    color: #7d7d7d;
    cursor: default;
}

/* .ek-tab-panel .ek-tab-panel-contents {} */

.ek-tab-panel .ek-tab-panel-content {
    padding: 15px;
}


/* -----end ek tab panel */

.stk-add-bx {
    background: #e2e6e8;
    padding: 15px;
}

.usr-srch-windw {
    position: relative;
    z-index: 10;
}

.usr-srch-rslt {
    position: absolute;
    z-index: 200;
    background: white;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #cccccc;
    max-height: 250px;
    overflow-y: auto;
    padding: 0px 0px 5px 0px;
    list-style: none;
    margin-top: -20px;
    padding-top: 30px;
    border: solid 1px #cdcdcd;
}

.usr-srch-rslt li {
    padding: 4px 10px;
    margin-bottom: 0px;
    cursor: pointer;
}

.usr-srch-rslt li a {
    text-decoration: none;
}

.usr-srch-rslt li:nth-child(2n+1) {
    background: #f1f1f1;
}

.usr-srch-rslt li:hover {
    background: #dcdcdc
}

.addedItemLst .itemHeading {
    padding: 5px;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 10px;
    background: #f6f7f9;
}

.addedItemLst .itemRow {
    padding: 5px;
    border-bottom: solid 1px #eaeaea;
    font-size: 12px;
}

.addedItemLst .itemRow input {
    width: 75%;
}

.newProductBx {
    width: 350px;
    margin: 10px;
}

.addMoreItemOpt {
    text-align: right;
}

.addMoreItemOpt a {
    font-size: 12px;
    color: #2196F3;
    cursor: pointer;
}

.box-with-pm15 {
    background: #f0efff;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;
    margin-bottom: -15px;
}
.box-with-pm14{
    background: #f0efff;
    padding: 15px;
    margin-left: -14px;
    margin-right: -14px;
    margin-top: 30px;
    margin-bottom: -14px;
}

.table-opts {
    text-align: right;
    padding-top: 15px;
}

.table-bx {
    position: relative;
}

.table-filter-bx {
    width: 300px;
    padding: 15px;
    position: absolute;
    z-index: 99;
    background: white;
    box-shadow: 1px 1px 2px 2px #ececec;
    right: 0px;
    min-height: 200px;
    max-width: 100%;
    border: solid 1px #eaeaea;
    border-bottom: solid 3px #cecece;
}

.table-bx .table-opts {
    padding-right: 10px;
}

.table-filter-bx .close-opt {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 2px 7px;
    border: solid 1px #cccccc;
    cursor: pointer;
    color: #868585;
}

.table-filter-bx .close-opt:hover {
    background: #dddddd;
    color: black
}
.fltr-cntrl-2in1 input{
    width:48%;
    display: inline-block;
}

.fq-title {
    width: 450px;
}

.fq-title h5 {
    margin-top: 0px;
    font-size: 16px;
}

.fq-title h5 a {
    color: #292929;
    cursor: pointer
}

.post-attachments-bx {
    padding: 15px;
    border: dashed 1px #989797;
    margin-top: 20px;
    margin-bottom: 15px;
}

.profilePic84 {
    width: 84px;
    height: 84px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    background: #f1f1f1;
    font-size: 10px;
}
.signPic84 {
    width: 84px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    background: #f1f1f1;
    font-size: 10px;

}

.usr-prfl-bx {
    display: flex;
    justify-content: space-around;
}

.usr-prfl-bx .usr-info {
    width: 160px;
    overflow: hidden;
}

.comment-box {
    display: flex;
    padding-bottom: 10px;
    box-shadow: 0px 3px 0px 0px #e0e0e0;
    margin-bottom: 30px;
}

.comment-box .user-img {
    width: 60px;
}

.comment-box .user-img img {
    min-width: 44px;
    min-height: 44px;
    background: #ececec;
    font-size: 10px;
    text-align: center;
    overflow: hidden;
    max-width: 44px;
    max-height: 44px;
}

.comment-box .user-cmnt {
    flex-basis: 100%;
}

.comment-add-box .form-group {
    overflow: hidden
}

.comment-add-box {
    margin-left: -30px;
    margin-right: -30px;
    padding: 15px;
    background: #FFF3E0;
}

.std-profile .row.dtl-row {
    margin-bottom: 7px;
    margin-top: 7px;
    border-bottom: solid 1px #ebeff2;
    padding-bottom: 5px;
    padding-top: 5px;
}


/* .std-profile .dtl-row .row .col-md-6:nth-child(2) {
    color: black !important;
} */

.std-profile .dtl-highlight {
    background: #e8e8e8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.std-profile .dtl-brdr-btm {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    border-bottom: solid 2px #dedede !important;
    /* font-weight: bold; */
    background: #f1f1f1;
    /* font-weight: bold; */
}

.std-profile .prsnlImg {
    width: 120px;
    height: 140px;
    display: inline-block;
    background: #f5f5f5;
    border: solid 2px #f1f1f1;
    border-radius: 2px;
    text-align: center;
}

.std-profile .signImg {
    width: 120px;
    height: 50px;
    display: inline-block;
    background: #f5f5f5;
    /* border: solid 2px #f1f1f1; */
    /* border-radius: 2px; */
    text-align: center;
}

.std-detaild-info {
    padding: 15px;
    border: dashed 2px #90CAF9;
}

.badge.badge-success {
    background-color: #5cb85c;
}

.prdct-side-window .batch-box,
.prdct-side-window .emi-box,
.prdct-side-window .baseamt-box,
.prdct-sub-window .baseamt-box
{
    margin-bottom: 20px;
}

.prdct-side-window .added-batch-list ul,
.prdct-side-window .added-emi-list ul {
    padding: 0px;
}

.prdct-side-window .emi-box,
.prdct-side-window .batch-box,
.prdct-side-window .baseamt-box,
.prdct-sub-window .baseamt-box,
.prdct-side-window .custmparams-box,.prdct-side-window .tax-box {
    margin-bottom: 20px;
}

.prdct-side-window .added-batch-list li,
.prdct-side-window .added-emi-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #e4e4e4;
    padding-bottom: 3px;
    padding-top: 5px;
}

.prdct-side-window .togl,
.activity-side-bx .togl,
.prdct-sub-window .togl {
    border: solid 2px #dadfe2;
    border-radius: 2px;
    padding: 5px 15px;
    background: #f1f3f5;
}

.prdct-side-window .added-batch-list,
.prdct-side-window .added-emi-list,
.prdct-sub-window .prdct-sub-window-content,
.activity-side-bx .pg-form, .custmparams-box .cstmParamListBx, .tax-box .tax-list{
    padding: 10px 15px;
    border: solid 2px #dadfe2;
}

.prdct-side-window .batch-form,
.prdct-side-window .emi-form {
    padding: 10px 15px;
    background: #dadfe2;
}

img.pp-in-list {
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 25px;
    border: solid 1px #d4dde4;
    overflow: hidden;
}

.user-search-input {
    border-radius: 25px;
    border-radius: 25px;
    z-index: 11;
    position: relative;
    box-shadow: 1px 0px 1px 1px #cccccc;
}

.pp-photo {
    width: 120px;
    height: 120px;
}

.sign-photo {
    width: 120px;
    height: 50px;
}

#ekPrdctSrch {
    z-index: 111;
    position: relative;
}


/* quick registration window */

.ek-quick-order-window, .ek-full-screen-window {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1001;
    background: white;
    overflow: auto;
}

.qfb-container {
    width: 860px;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
}

.qfb-orline {
    border-bottom: solid 3px #d7d7d7;
    margin-bottom: 30px;
    margin-top: 30px;
}

.qfb-orline span {
    position: relative;
    bottom: -16px;
    background: white;
    font-weight: bold;
    color: #cccccc;
    display: inline-block;
    padding: 5px;
}

.quick-form-box {
    /* box-shadow: 0px 0px 5px 0px #bfbfbf; */
    border-radius: 2px;
    border: solid 3px #e6e6e6;
    margin-bottom: 100px;
}

.quick-form-box .row .col-md-6:nth-child(1) {
    padding-right: 30px;
    border-right: solid 2px #f1f1f1;
}

.quick-form-box .row .col-md-6:nth-child(2) {
    padding-left: 30px;
}

.ek-quick-order-window .close-opt {
    color: #b3b2b2;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 2px 4px;
}

.ek-quick-order-window .close-opt:hover {
    color: #7d7d7d;
}


/*  */

.std-advance-filter-box form {
    padding: 30px;
}

.cls-opt {
    font-weight: normal;
    color: #c7c4c4;
    padding: 0px 5px;
    cursor: pointer;
}

.cls-opt:hover {
    color: #989696
}

.mw-a-200 a {
    display: inline-block;
    width: 200px;
    overflow: hidden;
}

form .ng-invalid.ng-touched.form-control,
form input.ng-invalid.ng-touched {
    border: 1px solid #de2525;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
}

form.show-error .ng-invalid.ng-untouched.form-control,
form.show-error input.ng-invalid.ng-untouched {
    border: 1px solid #de2525;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
}

.std-srch-bx {
    text-align: center;
    padding-top: 15px;
    border: solid 1px #dddddd;
    padding-bottom: 15px;
    margin-bottom: -21px;
}

.std-srch-bx form {
    display: inline-block
}

.aprvd-pmt-srch {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 15px;
    /* border-top: solid 2px #dddddd; */
    border: solid 1px #dddddd;
}

.aprvd-pmt-srch p {
    padding-top: 5px;
}

.ek-dropdown {
    display: inline-block;
    position: relative;
}

.ek-dd-toggle {
    display: inline-block;
    cursor: pointer;
}

.ek-full-screen-window {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1001;
    background: white;
    overflow: auto;
}

.fsw-container {
    width: 860px;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
}
.ek-full-screen-window .close-opt {
    color: #b3b2b2;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 2px 4px;
}

.ek-full-screen-window .close-opt:hover {
    color: #7d7d7d;
}
.ek-full-screen-window .eaa-app-grp h4{
    border-bottom: solid 2px #dddddd;
    padding-bottom: 8px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.input-field-srch-windw{
    position: relative;
    top: 18px;
}
.btn-outline{
    background: transparent;
    color: #4c5666 !important;
}
.btn-info.btn-outline:hover{
    color:white !important;
}

.book-issue-window .std-dtls{
    border-right: solid 2px rgb(230,230,230);
}
.bookThumb64{
    display: inline-block;
    width: 64px;
    height: 72px;
    background: #ddfbd7;
    border: solid 1px #78a97a;
    overflow: hidden;
    font-size: 10px;
}
.clr-success{
    color:green;
}

/* class schedule */
.event-item {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a.event-item:hover,
a.event-item:focus {
    background: rgb(239, 238, 238);
    text-decoration: none;
    color: black;
}

.event-item .evt-main {
    font-size: 14px;
    font-weight: bold;
}

.event-item .evt-sub {
    font-size: 12px;
}

.db-events {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.db-events li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 2px #eeeeee;
    margin-bottom: 15px;
}

.mt30 {
    margin-top: 30px;
}

.event-title,
.event-timing {
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: solid 2px whitesmoke;
}

.event-timing .event-slt:nth-child(2) {
    float: right;
}

.event-slt {
    display: inline-block;
    padding: 15px 5px 5px 5px;
    text-align: left;
    font-size: 12px;
}

.event-card .head {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    background: #e6e6e6;
    padding: 0px 15px;
    height: 20px;
}

.event-card .head label {
    position: relative;
    /* bottom: -10px; */
    background: #e6e6e6;
    padding: 2px 5px;
    font-size: 13px;
}

.event-card .val {
    font-size: 12px;
    padding: 0px 5px 8px 5px;
    display: inline-block;
}

.event-status .val {
    padding-top: 15px;
    padding-left: 20px;
}

.ar {
    text-align: right !important;
}

.al {
    text-align: left !important;
}

.ac {
    text-align: center !important;
}

.ui-dialog {
    max-width: 96%;
}

.dialogue-with-overlays .ui-dialog {
    overflow: visible;
}

.dialogue-with-overlays .ui-dialog .ui-dialog-content {
    /*height: 100%;*/
    overflow: inherit !important;
}

.form-control.ngp-date {
    padding: 0px;
}

.form-control.ngp-date .ui-calendar {
    width: 100%;
    height: 100%;
}

.form-control.ngp-date input {
    width: 100%;
    height: 100%;
}

p-footer {
    display: block;
    width: 100%;
}


/*MDI ICONS Additions*/

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

/* class schedule edns */

.display-ib{
    display: inline-block;
}
.book-stock-frm{
    padding: 15px;
    background: #ececec;
    border: solid 1px #a5a5a5;
    border-radius: 2px;
}
.book-stock-hstry{
    padding: 15px;
    border: solid 1px #aaaaaa;
    background: #fdfdfd;
}
.stk-hstry{
    padding: 15px;
    border-bottom: solid 1px #a2a2a2;
    margin-bottom: 30px;
    border-radius: 2px;
}
.dashbox .fltr-bx form{
    padding: 15px;
    background: #ecececa6;
}
.issued-book-row{
    background: #dbffd991;
}
.enquiry-activity-bx{
    box-shadow: 3px 4px 13px 0px #dedede;
    background: #fff;
    padding:10px 15px;
    margin-bottom:7px
}
.striped-rows-db{
    margin-left: -15px;
    margin-right: -15px;
}
.striped-rows-db .row{
    padding: 5px 15px;
    padding-top: 5px;
}
.striped-rows-db .row:nth-child(2n+1){
    background: #efefef87;


}
.swpr-fltr-frm .form-control{
    width:100%;
}

/* Question  */

.optionA::before{
    content: "(A)";
    margin-right: 10px;
}
.optionB::before{
    content: "(B)";
    margin-right: 10px;
}
.optionC::before{
    content: "(C)";
    margin-right: 10px;
}
.optionD::before{
    content: "(D)";
    margin-right: 10px;
}
.optionE::before{
    content: "(E)";
    margin-right: 10px;
}

/* Enquiry */

.label-danger {
    background-color: #d9534f;
}
.enquiry-card-box{
    padding: 20px;
    border: 1px solid rgba(54, 64, 74, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
    background-clip: padding-box;
    background-color: #ffffff;
    z-index: 0;
}
.enquiry-card-inner-box{
    display: table;
    height: 100%;
    width: 100%;
}
.enquiry-card-box .inner-card-box .checkbox-detail {
        width: 30px;

}
.enquiry-card-detail{
    display: table-cell;
    vertical-align: middle;
}
.enquiry-card-detail .checkbox-single{
    height: 18px;
    width: 18px;
    margin-right: 15px !important;
}
.enquiry-card-detail .checkbox.checkbox-single input{
    height: 18px;
    width: 18px;
    position: absolute;
    margin: 0;
}
.enquiry-card-detail .checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
}
.enquiry-card-detail .checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #98a6ad;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    /* margin-left: -17px; */
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none !important;
}
.enquiry-card-detail .checkbox label{
    display: inline-block;
    padding-left: 5px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.enquiry-card-detail .checkbox label::after {
    color: #98a6ad;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -17px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #5d9cec;
    border-color: #5d9cec;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #ffffff;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'FontAwesome';
}
.checkbox.checkbox-single label:after {
    margin-left: 0;
}
.enquiry-card-detail .member-info{
    padding-right: 10px;
}
.enquiry-card-detail .member-info h4 {
    font-size: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
}
.card-inner-box .lable-detail {
    text-align: center;
    width: 20%;
}
.enquiry-card-detail .member-info .enquiry-card-text-dark{
    color: #797979 !important;
}
.enquiry-card-detail .member-info .enquiry-card-text-dark .enquiry-card-text-muted{
    color: #98a6ad !important;
}

.enquiry-card-detail .label-info{background-color: #34d3eb;}
.enquiry-card-detail .enquiry-card-table-action-btn{
    color: #98a6ad;
    display: inline-block;
    width: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 20px;
}
.enquiry-card-dd{
    position: absolute;
    right: 0;
    z-index: 2;
    /* display: none; */
    top: 0px;
}
.enquiry-assignee-list{
    position: absolute;
    bottom: 3px;
    right: 10px;
}
.enquiry-assignee-list img{
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 100px;
    overflow: hidden;
}
.enquiry-user-details img{
    margin:auto;
    max-width: 200px;
}
.enquiry-user-details .row{
    margin-bottom:5px;
}
.enquiry-user-stats .row{
    margin-bottom:5px;
}
.enquiry-crnt-details .row{
    margin-bottom:5px;
}
.atndnc-pram-form .form-control{
    width:100%
}
.atnd-param-bx {

    padding-bottom: 50px;

}
.atnd-frm-bx {

    padding-bottom: 15px;
    border: solid 3px #cadff2;
    background: #cadff25c;
    padding-top: 10px;


}
.atnd-frm-bx .form-group{
    width: 100%;
}
.stdBatchFeeCondBox{
        background: #e4e4e4;
        padding-top: 10px;
        padding-bottom: 10px;

}
.form-group-transparent{
    display: inline-block;
}
.form-group-transparent .form-control{
    border: transparent;
    background: transparent;
    box-shadow: none;
}
.mainBatchAtndnce{
    background: rgb(230, 230, 230);
}
.apps-stack{
    display: inline-flex;
    position: absolute;
    height: 50px;

    padding: 9px;

}
.apps-stack .app-icn{
    display: inline-block;
    width: 40px;
    position: relative;
    top: 0px;
    cursor: pointer;
    height: 100%;
    /* top: -10px; */
    padding: 0px;
    padding-bottom: -4px;
    text-align: center;
}
.apps-stack img.icn-clr{
    display: none;
}
.apps-stack:hover img.icn-clr{
    display: inline;
}
.apps-stack:hover img.icn-blk{
    display: none;
}
.apps-stack .apps-wrapper{
    padding: 30px;
    padding-bottom: 65px;
}
.apps-stack .apps-wrapper .apps-list{
    margin-bottom: 15px;
}
.apps-stack .default-apps{
    text-align: right;
}
.apps-stack .default-apps ul{
    margin:0px;
}
.apps-stack .default-apps ul li{
    display: inline-block;
    list-style: none;
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    font-size: 14px;
}
.apps-stack.active{
    background: #f1f9ff;
}
.apps-stack.active img.icn-blk{
    display: none;
}
.apps-stack.active img.icn-clr{
    display: inline;
}
.app-window{
    position: fixed;
    left: 0px;
    background: #f1f9ff;
    width: 100%;
    padding: 0px;
    top:50px;
    overflow: hidden;
    height: 0px;
    display: block !important;
    overflow-y: auto;
}
.apps-sec-head{
    border-bottom: solid 1px #c8d9e4;
    padding-bottom: 5px;
    margin-bottom: 10px;
    /* margin-left: 15px; */
    /* margin-right: 45px; */
    padding-left: 0px;
}
.apps-sec-head .apps-sec-ttl{
    font-size:18px;
    padding-left: 0px;
}
.apps-sec-head .apps-sec-opts{
    padding-right: 0px;
    text-align: right
}
.apps-sec-head .apps-sec-opts img{
    top: -5px;
    position: relative;
    left: -5px;
}

.more-apps .apps-sec-opts a{
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    color: #ee8133;
    cursor: pointer;
    background: #9db138;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    color: white;
    padding-top: 1px;
    padding-bottom: 2px;
    text-decoration: none;
}
.more-apps .apps-sec-opts a:hover{
    background:#7f9027;
}
.more-apps .apps-sec-opts .fa{
    font-size: 18px;
    position: relative;
    top: -3px;
    right: -5px;
    color: #ffffff;
    margin-left: -30px;
}
.apps-list .col-md-2{
    padding-left: 5px;
    padding-right: 5px;
}
.app-bx{
    display:flex;
    margin-top:15px;
    margin-bottom: 15px;
    height: 100px;
    background: white;
    border-radius:5px;
    padding:10px;
    overflow: hidden;
    border: solid 1px #d4d4d4;

}
.app-bx:hover{
    box-shadow: 1px 1px 2px 2px #e3eef5;
}
.app-bx .app-thumb img{
    width:72px;
}
@media screen and (min-width: 991px) and (max-width: 1380px) {
    .app-bx .app-thumb img{
        width:40px;
    }
}

.app-bx .app-desc{
    padding-left: 8px;
}
.app-bx .app-desc h4{
    font-size: 14px;
    margin: 0px;
    margin-bottom: 3px;
}
.app-bx .app-desc p{
    font-size: 8px;
}
.ek-quick-enquiry-window .ui-tabview-panels{
    border: solid 2px #d6d6d6;
    border-radius: 4px;
    margin-top: -2px;
}

/* edukit store */
.eks-slider{
    margin:0px;
}
.eks-slider{
    width:100%;
}



.eks-slider .slide-index-thumb{
    height: 72px;
    border: solid 1px #afadad;
    margin-top: 30px;
    border-radius: 5px;
    background: #e6e6e6;
}
.eks-slider .slide-index-thumb img{
    width:100%;
    height: 100%;
}
.eks-slider .right img{
    width:100%;
}
.eks-sidebar{
    padding-left:30px;
}
.eks-sidebar .head{
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
.eks-sidebar .links{
    padding: 0px;
    margin: 0px;
    list-style: circle;
    border-radius: 2px;
    margin: 10px 0px 0px 0px;
    padding-left: 20px;
}
.eks-sidebar .links li{
    padding: 8px 15px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.eks-sidebar .links li.active{
    background: #acbcc778
}
.eks-sidebar .links li:hover{
    background: #acbcc75c
}

.eks-app-cards{
    margin:50px 0px 0px 0px;
}

.eks-app-card{
    min-height: 300px;
    background: white;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 1px 0px #afafaf;

}
.eks-app-card:hover{
    box-shadow: 2px 2px 2px 1px #afafaf;
}
.eks-app-card .thumb{
    background: linear-gradient(to top, #b5b3ad , #ffffffb5);
    text-align: center;
    height: 150px;
    margin: auto;
    background-position: center;

}
.eks-app-card .thumb span{
    display: inline-block;
    width: 100px;
    background: white;
    border-radius: 100px;
    padding: 10px;
    margin-top: 25px;
    overflow: hidden;
    height: 100px;
}
.eks-app-card .thumb span img{
    width: 80%;
}

.eks-app-card .app-icon{
    max-width: 100%;
    margin-top: 10px;
}
.eks-app-card h4{
    font-size: 20px;
    margin-bottom: 0px;

}
.eks-app-card .ftr>.lft{
    position: absolute;
    left: 15px;
    bottom:15px;
    font-weight: bold;
}
.eks-app-card .ftr>.lft small{
    font-weight: normal;
    font-size: 10px;
}
.eks-app-card .ftr .rt{
    position: absolute;
    right: 15px;
    bottom:15px;
}
.eks-app-card .ftr .rt .fa-check-circle{
    color:green;
}
.eks-app-wrapper{
    width:100%;
}
.wrapper ng-component{
    width:100%;
}
.eks-app-wrapper .top-row{
    margin-top:30px;
    margin-bottom: 15px;
}
.eks-app-wrapper .thumb{
    border-radius: 2px;
    text-align: center;
    padding: 30px 15px;
    background: white;
}
.eks-app-wrapper .thumb img{
    max-width: 100%;
}
.eks-app-wrapper .ftr-img{
    width: 100%;
    height: 260px;
}
.eks-app-wrapper .ftr-img img{
    width: 100%;
    height:100%;
}
.eks-app-wrapper .menu ul{
    padding: 0px;
    box-shadow: inset 0px -1px #bdbdbd;
}
.eks-app-wrapper .menu li{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    padding: 5px 0px 10px 0px;
    color: #868585;
    cursor: pointer;
}
.eks-app-wrapper .menu li:hover{
    color:black
}
.eks-app-wrapper .menu li.active{
    box-shadow: inset 0px -2px #673AB7;
    color:black
}
.eks-app-wrapper .install-opt{
    margin-top:25px;
}
.eks-app-wrapper .install-opt>.prc{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.eks-app-wrapper .install-opt>.prc>small{
    font-size: 10px;
    font-weight: normal;
    position: relative;
    top: -5px;
}
.eks-app-wrapper .install-opt>.rt{
    float: right;
}
.eks-app-wrapper .install-opt>.rt .fa-check-circle{
    color:green
}
.eks-app-wrapper hr{
    border-top: 1px solid #c5c5c5;
}
/* .eks-app-wrapper .appTabContent{
    padding:15px;
} */
.eks-app-wrapper .appTabContent img{
    max-width: 100%;
}

.eks-app-wrapper .appTabContent .faq-ans{
    margin-bottom: 30px;
    border-bottom: solid 2px #e2e2e2;
    padding-bottom: 15px;
}

.eks-cart-item{
    border-bottom: solid 1px rgba(132,152,164,.4);
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.eks-pmt-smry{
    background: white;
    min-height: 26.5rem;
    border-radius: .3125rem;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0,0,0,.09);
    padding:30px;
}
.eks-pmt-smry>.row{
    margin-bottom: 5px;
    padding: 5px 0px;
}
.eks-pmt-smry>.row:last-child{
    margin-top: 20px;
}
.eks-crt-heading{
    background: #c1ccd3;
    margin-bottom: 15px;
    padding: 10px 0px;
    font-weight: bold;
}
.eks-cart-item .fa-close{
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 25px;
    border: solid 2px #ca3939;
    padding: 3px;
    color: #ca3939;
}
.eks-cart-item .count{
    display: inline-block;
    width: 25px;
    text-align: center;
}
.eks-cart-item .icon{
    display: inline-block;
    width: 40px;
    padding: 7px;
    background: white;
    text-align: center;
    border-radius: 30px;
    height: 40px;
}
.eks-cart-item .icon img{
    width:100%
}


/* 28/8/18 */
.tile-card {
    padding: 25px;
    float: left;
    width: 100%;
    /* margin-bottom: 25px; */
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23); */
    border-radius: 3px;
}

.tile-card.bg-info {
    background: #2455a4;
}

.tile-card.bg-danger-light {
    background: #3f118a;
}

.tile-card.bg-success {
    background: #4CAF50
}

.tile-card .counter {
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
}

.tile-card .title {
    color: #fff
}

.card-details {
    padding: 0px;
    border-radius: 3px;
    height: 170px;
    overflow-y: scroll;
}

.card-light-shadow {
    box-shadow: 0 3px 6px rgb(212, 212, 212),
        0 3px 6px rgb(226, 227, 228);
    background: white;
    height: 225px;
    width: 100%;

}


.card-dark-shadow {
    box-shadow: 0 3px 6px rgb(176, 177, 181),
        0 3px 6px rgb(137, 142, 142);
}

.card-info-shadow {
    box-shadow: 0 3px 6px rgb(86, 121, 177),
        0 3px 6px rgb(48, 99, 181);
}

.card-success-shadow {
    box-shadow: 0 3px 6px rgb(159, 214, 162),
        0 3px 6px rgb(112, 199, 115);
}

.card-voilet-shadow {
    box-shadow: 0 3px 6px rgb(178, 150, 224), 0 3px 6px rgb(177, 151, 218)
}

.card-details p {
    font-size: 20px;
    color: #2a2e35;
}

.text-default {
    color: #dedede
}
#view-selector-container{
    background: white;
    padding: 0pc 15px;
}
/* .eks-app-wrapper .conatiner{} */
/* ends edukit store */

/* ek simple slider */



/* end ek simple slider */

/* Freshchat Icon */
.ek-d-hotline.h-btn {
    width: 60px;
    height: 60px;
    position: fixed;

    right: 20px;
    bottom: 21px;
    z-index: 9995;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.26);
    cursor: pointer;
    border-radius: 34px 8px 34px 34px;
    color: #FFF;
    padding: 7px 10px 10px;
    display: table;
}
.ek-d-hotline {
    background-color: #483c8b !important;
    color: #ffffff !important;
    border-color: transparent #483c8b transparent transparent;
}
.ek-d-hotline.h-btn .chat-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 23px;
    padding: 2px 0 0 2px;
}


/* end fresh chat icon */

/* ================ lokesh CSS================= */
/* .btn-success {
    background: #39ab39;
} */

.btn-success:hover {
    background: #069206;
    color: #fff !important;
}

.margin-bottom-20 {
    margin-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.col-border-right {
    border-right: 1px solid #e6e6e6;
}

.col-border-top {
    border-top: 1px solid #e6e6e6;
}

.col-border-bottom {
    border-bottom: 1px solid #e6e6e6;
}

.font-size-20 {
    font-size: 20px;
    font-weight: bold;
}

.brooch {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin: -6px 0px 0px 5px;
}

.brooch-success {
    background-color: #5cb85c;
}

.brooch-danger {
    background-color: #FF5722;
}

.brooch-info {
    margin: 1% !important;
    background-color: #3F51B5;
}
.brooch-tag {
    margin: 1% !important;
    background-color: #186ba0;
}
.ui-picklist-buttons-cell {
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    float: left;
    width: 30px;
}

.ek-footer {
    background-color: #ffffff;
    box-shadow: 0px -1px 5px 0px #aaaab1;
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0px;
    border-top: solid 1px rgb(230, 230, 230);
}

.footer-container {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 38px;
}

.ek-border {
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.choose-option {
    margin-left: 15px;
    width: 65%;
}

.choose-option td {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.choose-option li {
    font-size: 18px;
    padding-left: 13%;
    font-weight: bold;
}
.Dashboard-box{
    background: white;
    border: 0.5px solid #8080805c;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.Dashboard-box .remark{
    font-size: 38px;
}
.Dashboard-box .title{
    font-weight: bold;
    font-size: 20px;
}
.Dashboard-box .icon{
    position: absolute;
    font-size: 46px;
    color: #5fbeaa;
}
.pointer:hover{
    cursor: pointer;
    border: 0;
}
.tmpltSidWindow{
    width:480px;
    padding:0px;
    overflow-y: auto;
}
.tmpltSidWindow h4{
    margin: 0px;
    padding:15px;
    background: #e4e4e4;
}
.web-tmplt-list{
    padding:25px;
}
.web-tmplt-card{
    box-shadow: 1px 1px 1px 1px #bbbbbb;
    border-radius: 4px;
    min-height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
}
.web-tmplt-card:hover{
    box-shadow: 1px 1px 3px 3px #bbbbbb;
}
.web-tmplt-card .thumb img{
    width:100%;
    height:260px;
}
.web-tmplt-card .desc h6{
    font-size: 16px;
    padding: 5px 15px;
}
.web-tmplt-card .desc .opts{
    padding: 10px 15px;
    border-top: solid 1px #dedede;
    margin-bottom: 0px;
}
.refresh-opt{
    padding: 2px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menutr{
    border-top: solid 3px #bfbfbf;
}
.menu1tr{
    border-top: solid 2px #dddddd;
}
.menuSub2tr td:nth-child(2){
    border-right: transparent;
}
.menuSub2tr td:nth-child(3){
    border-left: transparent;
}
.toggle-wpcb{
    display: inline-block;
    cursor: pointer;
    float: right
}
.fa.fa-toggle-on{
    color:green;
}
.fa.fa-toggle-off{
    color:rgb(225, 225, 225);
}
.table-participant > tr{
    /* font-weight: bold; */
    font-size: 14px;
}
/* -------------------------------------- student Overview -------------------------------------------- */

.ek-card-profile {width: 150px;height: 130px;border: 1px solid #0000001c;border-radius: 10px;box-shadow: 0 0 10px 2px #0000001c;}
.ek-card-level {
    height: 130px;
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin-top: 14px;
    box-shadow: 0 0 10px 2px #0000001c;
    /* background: linear-gradient(to left,#2bc0ec,#0788f5); */
}

.ek-card-label {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px -13px;
    color: white;
    border-radius: 5px;
}

.ek-card-title,.level-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.ek-card:hover .ek-card-label {
    box-shadow: 0 0px 5px 5px #00000021;
}
.ek-report {
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px 2px #0000001c;
}
.report-title {
    font-size: 20px;
    font-weight: bold;
}
.report-img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.report-user {
    padding-top: 10px;
    font-weight: bold;
}
.report-user .name{
    font-size: 16px;
}
.report-user .srn{
    font-size: 14px;
    color: grey;
}
.report-text {
    font-size: 28px;
    margin-bottom: 10px;
}

.report-table {
    margin: 20px 20px;
    width: 95%;
    text-align: center;
}

.report-table td>b {
    color: grey;
}

.report.stitle {
    font-weight: bold;
    font-size: 18px;
}

.report-question {
    width: 100%;
}

.report-question tr {
    border-top: 1px solid #00000026;
    border-bottom: 1px solid #00000026;
    text-align: center;
    font-size: 16px;
    /* font-weight: bold; */
}

.report-question tr>th {
    text-align: center;
    /* color: grey; */
}
.level-table {
    margin: 10px;
    margin-left: 25px;
    width: 80%;
}

.level-table td {
    color: grey;
    text-align: center;
}

.level-table td>div {
    font-size: 24px;
    color: black;
}

.level-title {
    margin: 10px 0px;
}
/* -------------------------- // student Overview--------------------------- */
.show-message{
    text-align: center;
}
.leader-board {
    width: 100%;
    margin: 20px;
}
.leader-board tr {
    text-align: center;
    font-weight: bold;
}
.leader-board tr>th {
    text-align: center;
    color: grey;
}
.leader-board .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* RTE Student Edit Form */
.rteform .ui-tabview-panel.ui-widget-content{
    padding-top: 30px;
}

/* Admission Form validation */

.form .show-error .ng-invalid.ng-untouched.form-control,
.form .show-error input.ng-invalid.ng-untouched {
    border: 1px solid #de2525;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
}
.form .ui-fieldset,
.form .ui-fieldset .ui-fieldset-legend {
    padding: .6em 1em;
    margin-bottom: 10px;
}
.student-img{
    width: 100px;
height: 100px;
border-radius: 50%;
}
.ek-action-btn .ek-dropdown{
    /* background: #009688;
    color: white; */
    text-align: center;
    border-radius: 6px;
    border: 1px solid #0000009e;
    font-size: 16px;
    width: 35px;
    /* cursor: pointer; */
    font-weight: bold;
}
.ek-action-btn .ek-dropdown .dropdown-menu>li>a{
    cursor: pointer;
}
.ek-action-btn .ek-dropdown:hover{
    background: #d6d4d4;

}
.ek-action-btn .ek-dropdown a:hover{
    background: #009688;
    color: white;
    /* font-weight: 400; */
}
.file-question{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.file-instruction{
    margin : 10px;
}
.file-instruction .title{
    text-align: center;
    margin: 1.5em;
    text-decoration: underline;
}
.file-instruction .content{
    border: 2px solid #0000008c;
    padding: 10px;
    font-size: 1.1em;
    color: black;
    border-radius: 2%;
    margin: 0px 4vw 10vh;
}
.quickedit{
    margin: 25px 0px;
}

/* Print Panel Css */

.print-panel{
    float: left;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin: 0px;
    margin-bottom: 40px;

}
.print-panel .print-panel-header {
 position: relative;
     padding: 17px;
}
.print-panel .print-panel-header .print-panel-title{
    position: absolute;
    top: -41px;
    background: #ffffff;
    padding: 5px;
}

.print-panel .print-panel-body {
    float: left;
    width: 100%;
}
.sub-title{
    font-weight: bold;
    font-size: 20px;
}
.step{
    border: 1px solid #0000009c;
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
    margin-left:40%;
    cursor: pointer;
}
.active-step{
    background: #0e48a0;
    color: white;
}
.bold-content{
    font-weight: bold;
}

.line{
    border-top: 1.5px solid #737373;
}
.step .digit{
 text-align: center;
 font-size: 24px;
 margin-top: 5px;
}
.step-content{
    text-align: center;
}

.tagBtn{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.tagBtn:hover{
    text-decoration: none;
    cursor: pointer;
}
/* --------------------------- Input Switch--------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #39ab39;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  /* ------------------------------- // Input Switch --------------------- */
.p-remove{
    cursor: pointer;
    margin-top: -4px;
    float: right;
    color: red;
}
.opt{
    margin-right: 10px;
    float: left;
    /* font-weight: bold; */
}
.q-content b{
    float: left;
    margin-right: 10px;
}
.bold{
    font-weight: bold;
}
.table-action{
    position: relative;
}
.table-action .action {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.table-action:hover .action {
    display: block;
}
    /* ------------------  Print Paper ------------------------- */
@page {
    size: A4;
    margin: 0;
    padding: 0;
}
.a4-page {
    width: 210mm;
    height: 297mm;
}
.letter-page {
    width: 216mm;
    height: 279mm;
}
.page-container {
    padding: 8mm 8mm 4mm 4mm;
    height: 100%;
    width: 100%;
    position: relative;
}
.page-container >img{
    height: 100%;
    width : 100%;
}
.paper-header{
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 15px;
}
.paper-header .logo{
    width : 22%; height: 32px; display:inline-block
}
.paper-header .title{
    width: 73%;
    padding-left: 95px;
    display: inline-block;
}
.paper-header .page_seq{
    float: right; padding-top: 10px; font-weight: bold
}
.paper-questions{
    float: left;
    margin-right: 25px;
    width: 348px;
    height : 1000px;
}
.paper-questions table{
    width: 100%;
}
.a4-questions{
    height: 1000px !important;
}
.letter-questions{
    height: 950px !important;
}
.page-bar{
    height: 20px;
    font-weight: bold;
    font-size: 11.5px;
    position: absolute;
    transform: rotate(270deg);
    border-top: solid 10px #a7a7a7d9;
    border-bottom: solid 10px #a7a7a7d9;
}
.a4-page-bar{
    width: 1000px;
    left: -124px;
    top: 575px;
}
.letter-page-bar{
    width: 950px;
    left: -99px;
    top: 550px;
}
.page-bar img{
    height: 20px;
    background-color: white;
    position: relative;
    top: -10px;
}
.page-bar span{
    vertical-align: middle;
    position: relative;
    top: -10px;
}
.paper-footer{
    float: left;
    width: 100%;
    position: sticky;
    border-top: 1px solid black;
}
.paper-footer .logo{
    width : 22%; height: 32px; display:inline-block;
}
.paper-footer >img{
    position: relative;
    width: 100%;
    height: 32px;
    /* border-top: 1px solid black !important; */
    z-index: -1;
}
.rough-questions{
    width:348px;
}
.rough-questions img{
    max-width: 100%;
}
.ques{
    margin-bottom: 5px;
    text-align: justify;
    display: inline-flex;
}
.ques .q_seq{
    /* margin-right:12px; */
    position: absolute;
    font-weight: bold;
}
.ques .q_content{
    padding-left: 26px;
}
.ques .q_content >p{
    padding: 0;
    margin: 0;
}
.ques .q_content img{
    max-width: 100%;
}
.view-only{
    position: absolute;
}
.option_inline{
    width:100%;
    padding: 0px 0px 10px 30px;
}
.option_inline .option{
    width: 50%;
    display:inline-block;
}
.option_inline .opt_seq{
    position: absolute;
}
.option_block{
    width:100%;
    padding: 0px 0px 10px 30px;
}
.option_block .opt_seq{
    position: absolute;
}
.opt_con{
    display: inline;
    margin-left: 26px;
}
.opt_con p{
    display: inline;
}

.con-piece{
    display: inline-block;
}
/* .con-piece .view-only{
    margin-right: 10px;
} */

.q_marks{
    text-align: right;
    font-weight: bold;
    margin: 5px 10px;
}
.display-image{
    border: 1px solid #8080807d;
    padding: 35px;
    border-radius: 12px;
    margin: 10px 0px;
}
.print_form{
    border: 1px solid grey;
    padding: 12px;
    border-radius: 12px;
}
.section_name{
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: center;
    width: 348px;
    border: 1px solid black;
    font-weight: bold;
}


 /* ------------------ //   Print Paper ------------------------- */
.watermark {
    opacity: 0.5;
    color: BLACK;
    position: absolute;
    bottom: 0;
    right: 0;
}

 /* ------------------ //   Print Paper ------------------------- */
 .qset-print{
    margin: 10px;
 }
 .qset-print .q_seq{
    padding-right: 10px;
    font-weight: bold;
 }
 .qset-print .q-option{
   margin-top:10px;
 }
 .q-option .mtq-left{
     float:left;
     margin-right: 50px;
 }
 /* Post CSS */
 .tagBtn{
    background: #4c1075;
    font-size: 12px;
 }
  ul.postTags{
      padding: 0;
  }
 ul.postTags>li{
    margin: 4px;
    padding: 0
 }
label sup{
    color: #F44336;
}
.quill-btn{
    margin-top: 35px;
    margin-right: 5px;
    float: right;
    list-style: none;
}
.quill-btn li{
    margin-bottom: 5px;
}
.quill-btn a{
    color: #333;
    cursor: pointer;
}
.quill-btn a:hover{
    color: #06c;
    border: none;
}
/* -------------------- MathJax Changes---------------------- */
#math-field{
    min-width: 40%
}
.MJXc-display{
    display: initial !important;
    text-align: inherit !important;
}
/* -------------------- // MathJax Changes---------------------- */
.settingFrm .row,.settingFrm fieldset{
    padding: 10px
}

/* ---------------------  Input Switch 2 ----------------------------- */

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    /* border: 2px solid #999999; */
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color:#39ab39;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/* ---------------------  Input Switch 2 ----------------------------- */
.rough-space{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    font-family: sans-serif;
}
.answer-key{
    font-weight: bold;
    text-align: center;
}
.answer-key .ans-header{
    border: 3px solid black !important;
}
.answer-key .title{
    font-size: 20px;
    line-height: 3;
}
.answer-key .ans-box{
    display: flex;
    flex-flow: row wrap;
}
.answer-key .ans-box .content{
    width: 105px;
}
.answer-key .ans-logo{
    position: absolute;
    left: 18px;
    top: 78px;
}
.ans-a4-questions{
    height: 965px !important;
}
.letter-questions{
    height: 915px !important;
}
.answer-key .ans-footer-logo{
    float: right;
    display: inline-block;
    width: 22%;
    margin-top: 2px;

}
.answer-key .ans-footer-logo >img{
    height: 25px;
}
.paper-footer .ans-content{
    font-size: 12px;
    float: left;
    width: 50%;
    margin-left: 13em;
}
.select-font label{
    color : black;
}

#post #description .ql-container .ql-editor{
    min-height: 450px
}
.validate{
    background: #F44336;
    width: 91%;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 81%;
}
/* .vd-textarea{
    left: 18%;
    width: 76%;
    top:0;
} */

 .btn-light-cyan{
     background: #7bccd1;
     color: #fff;

 }
 .btn-light-cyan:hover {
     background: #28a1a7;
     color: #fff
 }

 .ek-btn .btn-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
 }
.print-solution{
    margin: 20px;
}
.print-solution .heading{
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
}
.print-solution .title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.print-solution .logo{
    position: absolute;
    margin-top: 10px;
}
.print-solution .sec-name{
    margin-top: 30px;
    text-align: center;
}
.print-solution .q-seq{
    width: 4em;
    font-weight: bold;
}


.ck-btn {
    float: right;
    margin: 35px 15px;
}
.ck-btn a{
    color: #333;
    cursor: pointer;
}
.ck-btn a:hover{
    color: #06c;
    border: none;
}
.content-box{
    box-shadow: 0px 0px 1px 0px;
    cursor: pointer;
}
.print-option{
    margin-left: 30px;
}
.boxx{
    height: 600px;
    overflow-y: auto;
    width: 366px;
    padding: 0px;
}
/* COURSE STUDIO */

/* #courseStudio .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    border-bottom: 0;
    top: 1px;
    width: 20%;
    padding: 10px;
    background: #ffffff !important;



}
#courseStudio .ui-tabview.ui-tabview-top>.ui-tabview-nav li>a{
    color: #000000;
    width: 200px;
}

#courseStudio .ui-tabview .ui-tabview-nav > li.ui-state-active {
    background: #673ab7 !important;
    font-weight: normal;

}
#courseStudio .ui-tabview .ui-tabview-nav > li.ui-state-active>a{
    color:#ffffff;
}
#courseStudio .scrollable-block-parent{
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    height: 455px;
}
#courseStudio .scrollable-block-parent .scrollable-block{
    position: absolute;
} */
#courseStudio .panel.panel-primary{
    margin-bottom: 0px;
}
#courseStudio .panel.panel-primary .panel-body{
    padding-bottom: 0px;
}
.lesson-list ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-shadow:inset -1px 0px 0px 0px #e6e6e6
}
.lesson-list ul li{
    /* margin-bottom: 5px; */
    border-bottom: solid 1px #e6e6e6;
    border-top:solid 1px #e6e6e6;
}

.lesson-list .lesson-add-btn{
    margin-bottom: 15px;
}
.lesson-list .lesson-add-btn a{
    border-radius: 15px;
}

.lesson-list ul li a{
    display: block;
    padding: 5px 10px;
    padding: 5px 15px;
    display: block;
}
.lesson-list ul li a i.fa-arrow-right{
    display:none;
    font-size: 18px;
}
.lesson-list ul li a.active i.fa-arrow-right{
    display:inline-block;
    float: right;
}
.lesson-content{
    position: relative;
    border-left: solid 1px #eeeeee;
}
.lesson-content .options{
    text-align: center;
    margin-bottom: 15px;
}
.content-type-menu{
    /* position: absolute; */
    /* right: 15px; */
    background: #eeeeee;
    /* height: 100%; */
    min-height: 150px;
    /* max-height: 350px; */
    padding: 1px 1px 1px 0px;
    min-height: calc(100vh - 150px);

}
.ctm-item{
    padding:10px 12px;
    border-bottom: solid 1px #b7b7b78f;
}
.ctm-item .ctm-opts{
    display: none;
}
.ctm-item.active{
    background: white;
}
.ctm-item.active .ctm-opts{
    display:block;
}
.ctm-item a.btn{
    margin-bottom:2px;
    width: 60px;
    padding: 2px 5px;
    font-size: 12px;
    text-align: left;
}
.tabs-data{
    max-height:calc(100vh - 160px);
    overflow-y: auto;
}
.tabs-data .content-blocks{
    margin-right: 30px;
}
#content-card{
    /* width: 75vw; */
    /* float: left; */
    margin-right: 30px;
}
#content-card .content-card {
    /* background-color: #fffcfc; */
    border-bottom: 2px solid #bbbaba;
    /* border-radius: 6px; */
    /* width: 100%; */
    margin-bottom: 15px;
    padding: 15px;

}
#content-card .content-card .card-default{
    border-color: #ddd;
    background-color: #fff;
    margin-bottom: 24px;
  }
#content-card .content-card .content-card .card-body{ display: table; width: 100%; padding: 12px; }
#content-card .content-card .content-card-header{ border-radius: 6px 6px 0 0; padding: 8px; }
.testseriesTestList{
    list-style: none;
}
.testseriesTestList .seq{
    margin-right: 15px;
    font-size: 16px;
}

/* Forum Thread Starts */

.forum-q-set{
    border-left: solid 3px #e8e8e8;
    margin-bottom: 15px;
}
.forum-q{
    background: #f9f9f9;
}
.forum-q-title{
    padding: 5px 15px;
    font-size: 16px;
}
.forum-q-desc{
    padding: 5px 15px;
    font-size: 14px;
}
.forum-q-opts{
    font-size: 12px;
    padding: 5px 15px;
    background: #f3f0f0;
}
.forum-reply{
    padding: 5px 15px;
    border-bottom: solid 1px #f3f0f0;
    margin-bottom: 15px;
}
.forum-reply-opts{
    font-size: 10px;
    border-top: solid 1px #f3f0f0;
    margin-top: 5px;
}
/* Forum Thread ends */
.input-marks {
    color: black;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    width: 45px;
}
.border-success{
    border: 3px solid #5cb85c;
}
.border-danger{
    border: 3px solid #FF5722;
}

.order-card{
    text-align: center;
    border: 1px solid black;
    border-radius: 11px;
    margin: 1px;
}
.order-card .score{
    font-size: 20px;
    font-weight: bold;
}
.order-card .content{
    font-size: 14;
    font-weight: bold;
}

.m-5{
    margin: 5px !important;
}
.m-10{
    margin: 10px !important;
}
.m-15{
    margin: 15px;
}
.ml-0{
    margin-left: 0px !important;
}

.mr-0{
    margin-right: 0px !important;
}

.mt-0{
    margin-top: 0px !important;
}

.mb-0{
    margin-bottom: 0px !important;
}
.ml-5{
    margin-left: 5px !important;
}

.mr-5{
    margin-right: 5px !important;
}

.mt-5{
    margin-top: 5px !important;
}

.mb-5{
    margin-bottom: 5px !important;
}
.ml-10{
    margin-left: 10px !important;
}

.mr-10{
    margin-right: 10px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mb-10{
    margin-bottom: 10px !important;
}
.ml-15{
    margin-left: 15px !important;
}

.mr-15{
    margin-right: 15px !important;
}

.mt-15{
    margin-top: 15px !important;
}

.mb-15{
    margin-bottom: 15px !important;
}

/* Padding */
.p-5{
    padding: 5px !important;
}
.p-10{
    padding: 10px !important;
}
.p-15{
    padding: 15px;
}
.pl-0{
    padding-left: 0px !important;
}

.pr-0{
    padding-right: 0px !important;
}

.pt-0{
    padding-top: 0px !important;
}

.pb-0{
    padding-bottom: 0px !important;
}
.pl-5{
    padding-left: 5px !important;
}

.pr-5{
    padding-right: 5px !important;
}

.pt-5{
    padding-top: 5px !important;
}

.pb-5{
    padding-bottom: 5px !important;
}
.pl-10{
    padding-left: 10px !important;
}

.pr-10{
    padding-right: 10px !important;
}

.pt-10{
    padding-top: 10px !important;
}

.pb-10{
    padding-bottom: 10px !important;
}
.pl-15{
    padding-left: 15px !important;
}

.pr-15{
    padding-right: 15px !important;
}

.pt-15{
    padding-top: 15px !important;
}

.pb-15{
    padding-bottom: 15px !important;
}


.pl-20{
    padding-left: 20px !important;
}

.pr-20{
    padding-right: 20px !important;
}

.pt-20{
    padding-top: 20px !important;
}

.pb-20{
    padding-bottom: 20px !important;
}

.pl-25{
    padding-left: 25px !important;
}

.pr-25{
    padding-right: 25px !important;
}

.pt-25{
    padding-top: 25px !important;
}

.pb-25{
    padding-bottom: 25px !important;
}
.add-money{
    /* top: 7px;
    right: 0;
    position: absolute;
    left: 42px; */
    padding: 0;
    color: #833eff!important;
    outline: none !important;
}

.add-money .fa-2x{
    font-size: 1.7em;
}

#newsForm .ui-calendar {
    width: 100% !important;
}

#newsForm .ui-calendar .ui-inputtext {
    width: 100% !important;
}
.list-bx{
    height: 300px;
    overflow: auto;
}
.list-bx .table img{
    max-width: 100px;
}

.list-bx .table>tbody>tr>td{
    vertical-align: middle;
}

.combo-pbx{
    margin-bottom: 15px;
}
.mjx-chtml{
    font-size: 100% !important;
}

.bg-secondary{
    background-color: #ebeff2 ;
}
.forSell-icon{
    padding: 3px 6px;
    color: white;
    font-size: 12px;
    background: #0ed00e;
    border-radius: 50%;
}
.calendar-input{
    width:80px;
}