.dash-card-heading{
    font-size: 16px;
}
.full-window .window-body .window-leftbar{
    order:2
}
.window-body .window-content .right-sec{
    float: right;
}
.window-body .window-content .right-sec ul li.active {
    margin-left: -2px;
    background-image: linear-gradient(to left, whitesmoke , white);
}
.window-body  .window-content .right-sec {
    border-left: solid 1px #cccccc;
    padding-left: 0px;
    box-shadow: 1px 1px 4px -2px #ffffff;
}


.recent-lesson{
    margin-bottom: 10px
}
.recent-lesson p.tile-title {
    color: #000;
    font-size: 18px;
    padding: 15px;
    background: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 27px;
    padding-bottom: 27px;
}

.recent-lesson p.tile-footer{
    color: #fff;
    font-size: 20px;
    padding: 5px;
    background: #2b2b2b9e;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 15px
}
.recent-lesson p.tile-footer>span>a{
    text-decoration: none;
}

.video-courses hr{
    border-top: 1px solid #4f493d;
}
