@font-face {
    font-family: 'Kruti-Dev';
    src: url('../fonts/k010-webfont.eot'),
         url('../fonts/k010-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/k010-webfont.woff') format('woff'),
         url('../fonts/k010-webfont.ttf') format('truetype'),
         url('../fonts/k010-webfont.svg#kruti_dev_010regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Walkman-Chanakya-901';
    src:url('../fonts/WalkmanChanakya901Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Symbol';
     src:url('../fonts/symbol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.list-bx img.img-thumbnail {
    max-width: 60px !important;
}
.list-bx table tr td{
    word-break: break-all;
}
.list-bx {
    max-height: 300px;
    overflow: auto;
}
block-document {
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #513f73;
    opacity: 8;

}
.blocked-ui {
    width: 100%;
    height: 100%;
    top: 0;
    cursor: not-allowed;
    pointer-events: none;
    z-index: 99999999999;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}
.blocked-ui>div{
    width: 100%;
    position: relative;
    padding-top: 44vh;
    padding-left: 44vw;
}

.blocked-ui>div h2,.blocked-ui>div p {
    
    color: #fff;
}
