body {
    background: #ebeff2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
div,
td,
th,
small,
label,
button,
input,
select {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    background: white;
    height: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    z-index: 100;
}
.exp-dt-hdr{
    font-size: 9px;
    color: #bb7104;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.sidebar-wrapper {
    float: left;
    width: 250px;
    background: white;
    z-index: 1;
    /*min-height: 400px;*/
}

faculty-sidebar {
    position: fixed;
    height: 100%;
    top: 0px;
}

header .ek-logo-sec {
    display: inline-block;
    padding: 8px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: #00796B;
    width: 250px;
    /* border-right: solid 1px #14202bba;  */
     /* #293f54; */
    /* background: #293f54; */
}
header .user-name{
    color:#7d7d7d;
    font-size: 14px;
}
header .ek-logo-sec .sbnm {
    font-weight: normal;
    font-size: 24px;
    color: #14202bc2;
}

header .ek-logo-sec img {
    width: 116px;
}

header .app-sec {
    display: inline-block;
    padding: 11px;
    font-size: 20px;
}

@media (max-width: 767px) {
    header .app-sec {
        padding-left: 64px;
    }
}

header .right-sec {
    float: right;
}

header .right-sec ul {
    margin: 0px;
}

header .right-sec ul li {
    padding: 4px 8px;
    list-style: none;
    margin-left: 5px;
    cursor: pointer;
}

header .right-sec>ul>li.user-opts>a {
    cursor: pointer;
    font-size: 30px;
}

header .right-sec>ul>li.user-opts .ui-menu {
    background: white;
    box-shadow: rgb(214, 214, 214) 1px 1px 1px 0px;
}

.sidebar {
    height: 100%;
    width: 250px;
    background: #293f54;
    position: fixed;
    margin-top: 0px;
    overflow: auto;
    padding-bottom: 30px;
}

.sidebar .ek-sb-logo-sec {
    margin-top: -50px;
    padding: 8px 8px 8px 15px;
    background: #1c3146;
}

.sidebar .ek-sb-logo-sec img {
    width: 116px;
}

.sidebar-toggle {
    position: relative;
    top: 0px;
    z-index: 101;
    font-size: 24px;
    padding: 8px 15px 9px;
    background: #1c3146;
    color: white;
    left: 250px;
}

.sidebar.OPENED .sidebar-toggle .glyphicon-menu-hamburger {
    display: none;
}

.sidebar.CLOSED .sidebar-toggle .glyphicon-remove {
    display: none;
}

.sidebar .org-logo-sec {
    text-align: center;
    padding-top: 10px;
}

.sidebar .org-logo-sec a {
    width: 100%;
    display: inline-block;
    min-height: 60px;
    max-height: 100px;
    overflow: hidden;
    /* vertical-align: text-top; */
    /*background: rgba(244, 67, 54, 0.21);*/
    padding: 5px;
    margin-top: 12px;
}

.sidebar .org-logo-sec a img {
    width: 200px;
}

.sidebar .menu-heading h4 {
    font-size: 14px;
    color: #e4e4e4;
    padding-left: 15px;
    border-bottom: solid 1px rgba(230, 230, 230, 0.31);
    padding-bottom: 6px;
    margin-top: 20px;
}

.sidebar-menu {
    padding: 0px;
}

.sidebar-menu li {
    list-style: none;
}

.sidebar-menu li a {
    display: inline-block;
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.sidebar-menu li a:hover {
    text-decoration: none;
    background: #eeeeee;
    color: #1c3146;
}

.sidebar-menu li.active a {
    text-decoration: none;
    background: #eeeeee;
    color: #1c3146;
}

.sidebar-menu li a .link-icon {
    font-size: 17px;
    display: inline-block;
    margin-right: 16px;
}

@media (max-width: 767px) and (orientation: portrait) {
    .sidebar-wrapper {
        z-index: 102;
        width: 0px;
    }
    .sidebar-wrapper .sidebar {
        margin-top: -51px;
        transition: left 0.1s linear;
        /*-webkit-transition-delay: 0.1s;*/
        /* Safari */
        /*transition-delay: 0.1s;*/
        left: -250px;
        -webkit-transition: left 0.5s;
        /* Safari */
        transition: left 0.5s;
    }
    .sidebar-wrapper .sidebar.CLOSED {
        left: -250px !important;
    }
    .sidebar-wrapper .sidebar.OPENED {
        left: 0px !important;
    }
    faculty-mainbody .main-content-wrapper {
        width: 100%;
    }
    faculty-mainbody .activity-heading {
        font-size: 20px;
    }
    faculty-mainbody .activity-breadcrumb li {
        font-size: 12px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .sidebar-wrapper {
        width: 248px;
    }
    .sidebar {
        width: 235px;
    }
}

.link {
    cursor: pointer;
    color: #1976D2 !important;
}

.link-text {
    display: inline-block;
    margin-top: -5px;
    padding: 1px;
    font-size: 15px;
    position: relative;
    top: -3px;
}

.main-content-wrapper {
    float: left;
    width: 82%;
    padding-left: 15px;
    padding-right: 15px;
}

.ek-datatable datatable-header {
    height: 50px;
    width: 100%;
    background: gainsboro;
    /*border: solid 2px #e4e3e3;*/
}

.ek-datatable datatable-body {
    /*border: solid 2px #e4e3e3;*/
}

.ek-datatable datatable-body-cell,
.ek-datatable datatable-header-cell {
    padding: 5px;
    border-left: solid 1px #e4e3e3;
    border-bottom: solid 1px #e4e3e3;
}

.ek-datatable .datatable-row-group datatable-body-cell:last-child,
.ek-datatable .datatable-row-group datatable-header-cell:last-child {
    border-right: solid 1px #e4e3e3;
}

.ek-datatable datatable-pager i {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.ek-datatable i.icon-right:before {
    content: "\e077";
}

.ek-datatable i.icon-left:before {
    content: "\e069";
}

.ek-datatable i.icon-prev:before {
    content: "\e070";
}

.ek-datatable i.icon-skip:before {
    content: "\e076";
}

.activity-navbar {
    background: #dadfe2;
    margin-left: -15px;
    margin-right: -15px;
}

.activity-navbar ul {
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
}

.activity-navbar ul li {
    list-style: none;
    display: inline-block;
}

.activity-navbar ul li.head {
    font-weight: bold;
    font-size: 18px;
    color: #4c5667;
    position: relative;
    bottom: -1px;
    margin-right: 10px;
}

.activity-navbar ul li a {
    padding: 10px 10px 8px 10px;
    height: 40px;
    display: inline-block;
    margin: 0px 2px;
    color: #4c5667;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.activity-navbar ul li a.active,
.activity-navbar ul li a:hover {
    border-bottom: solid 2px #3F51B5;
    color: #142ba9;
}

.activity-header {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    border-bottom: solid 2px #e6e6e6;
}

.activity-heading {
    font-size: 27px;
    color: #757677;
    display: inline-block;
}

.activity-header-menu {
    float: right;
    margin-top: 20px;
}

.activity-header-menu ul li {
    float: left;
    list-style: none;
    margin: 2px;
    margin-left: 5px;
}

.activity-breadcrumb {
    padding-bottom: 1px;
}

.activity-breadcrumb .breadcrumb {
    padding: 0px;
    background: transparent;
}

.activity-content {
    margin-top: 15px;
}

.ek-btn {
    display: inline-block;
    padding: 5px 10px;
    background: #3F51B5;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.ek-btn:hover {
    color: white;
    text-decoration: none;
    background: #3F51B5;
}

.btn-create {
    background: #3F51B5;
}

.btn-create:hover {
    background: #303F9F;
}

.btn-list {
    background: #009688;
}

.btn-list:hover {
    background: #00796B;
}

.btn-view {
    background: #3F51B5;
}

.btn-edit,
.btn-add {
    background: #673AB7;
}

.ek-btn.btn-icon::before {
    font-family: 'Glyphicons Halflings';
    top: 2px;
    position: relative;
    /*margin-right: 5px;*/
    padding: 1px 2px;
}

.btn-icon.btn-add::before {
    content: "\002b";
}

.btn-edit:hover,
.btn-add:hover {
    background: #7B1FA2;
}

.btn-icon.btn-edit::before {
    content: "\e065"
}

.btn-save {
    background: #3F51B5;
}

.btn-delete {
    background: rgba(158, 48, 40, 0.97);
}

.btn-icon.btn-delete::before {
    content: "\e014"
}

.btn-delete:hover {
    background: rgba(121, 29, 23, 0.97);
}

.btn-cancel {
    background: #3F51B5;
}

.btn-back {
    background: #3F51B5;
}

.ek-loader-bar {
    background-color: #F44336;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 2px;
}

.btn-mini {
    margin: 1px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 12px;
}

.ek-datatable .btn-mini {
    line-height: 16px;
}

.page-loader.hide {
    display: none !important;
}

.page-loader.show {
    display: block !important;
}

.activity-grp-link {
    display: block;
    width: 100%;
    min-height: 80px;
    background: white;
    padding: 5px;
    font-size: 18px;
    position: relative;
    color: grey;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.activity-grp-link:hover {
    text-decoration: none;
    box-shadow: 1px 1px 4px 0px #9E9E9E;
}

.activity-grp-link .agl-icn {
    position: absolute;
    font-size: 60px;
    /* top: 10px; */
    opacity: 0.5;
    color: #8BC34A;
    top: 34px;
    right: -12px;
    display: inline-block;
}

.panel-loader {
    position: relative;
}

.panel-loader.show>div,
.panel-loader.show table {
    opacity: 0.6;
}

.panel-loader.show::after {
    content: "Processing";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: transparent;
    top: 0;
    left: 0px;
    text-align: center;
    padding-top: 10px;
    color: black;
    /*text-shadow: 2px 2px 2px #1b1b1b;*/
    font-weight: bold;
}

.panel-loader.deleted::after {
    content: "Deleted!";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: white;
    top: 0;
    left: 0px;
    text-align: center;
    padding-top: 10px;
    color: black;
    text-shadow: 2px 2px 2px #1b1b1b;
}

/*EK-Modal*/

.ek-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.ekm-content {
    width: 92%;
    max-width: 600px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 3px 1px #f1f1f1;
    z-index: 10001;
    position: relative;
    border-radius: 2px;
    top: 15%;
    display: flex;
    flex-direction: column;
}

.ekm-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    opacity: 0.7;
    background: rgb(0, 0, 0);
}

.ekm-cancel-btn {
    position: absolute;
    right: -10px;
    font-size: 20px;
    line-height: 20px;
    background: white;
    border-radius: 25px;
    top: -10px;
    padding: 2px;
    width: 24px;
    height: 26px;
    cursor: pointer;
    color: #636363;
}

.ekm-cancel-btn:hover {
    color: black;
}

.ekm-header {
    padding: 10px;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 10px;
}

.ekm-body {
    padding: 15px;
    margin-top: 5px;
    max-height: 80%;
    overflow-y: auto;
    border-bottom: solid 4px #e6e6e6;
    padding-bottom: 30px;
}

.ekm-footer {
    padding: 10px;
    background: rgb(230, 230, 230);
}
/*----Modal Style ends*/

.panel-profile label {
    color: #b7b7b7;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px;
}

.table-brdr0>tbody>tr>td {
    border: none;
}

.table-schedule-grid>thead>tr>th:first-child,
.table-schedule-grid>tbody>tr>td:first-child {
    width: 86px;
    background: whitesmoke;
}

.table-schedule-grid>tbody>tr>td:first-child {
    font-size: 12px;
    color: #757575;
}

.form-horizontal .ui-multiselect {
    width: 100%;
    height: 29px;
}

.panel-footer {
    background: #f4f8fb;
    border-top: 0px;
}

.panel-footer .cancel-link {
    margin-bottom: 7px;
    font-size: 12px;
}

.panel-footer .cancel-link a {
    cursor: pointer;
}

.table-day-slots tbody:nth-child(2n+1) {
    background: rgba(245, 245, 245, 0.53);
}

.psbx {
    display: inline-block;
    position: relative;
}

.period-slot {
    display: inline-block;
    position: relative;
    padding: 5px;
    cursor: default;
    margin: 5px;
}

.period-slot .btn-action {
    opacity: 0;
    position: absolute;
    font-size: 8px;
    padding: 4px 4px;
    line-height: 5px;
}

.period-slot:hover .btn-action {
    opacity: 1;
}

.period-slot .time-info {
    display: inline-block;
    font-size: 10px;
}

form .help-text-blck {
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 100%;
    border: dashed 1px #dddddd;
    background: white;
    border-radius: 0px;
}

.ui-tabview {
    background: none;
}

.ui-tabview-panels {
    background: white;
}

.demo-cls {
    background: red;
}

.btns-right .panel-title {
    display: inline-block;
}


/*PrimeNG Theme Modigications*/

.ek-default .ui-buttonset .ui-button {
    background: #cacaca;
    border-color: #b1b1b1;
    color: black;
}

.ek-default .ui-widget-header .ui-button:enabled:hover,
.ek-default .ui-widget-header .ui-button:focus,
.ek-default .ui-widget-content .ui-button:enabled:hover,
.ek-default .ui-widget-content .ui-button:focus,
.ek-default .ui-button:enabled:hover,
.ek-default .ui-button:focus {
    border: 1px solid #616161;
    background: #757575;
}


/*----end--PrimeNG Theme Modigications*/

.empty-day {
    background-color: #ffe6e6;
    background-image: url('http://supernovathemes.com/wp-content/themes/supernovathemes/images/bg/b4.png');
}

.schedule-table-view table table {
    margin-bottom: 0px;
}

.schedule-table-view table table>tbody>tr>td {
    font-size: 12px;
}

.schedule-table-view table table>tbody>tr>td:nth-child(1),
.schedule-table-view table table>thead>tr>th:nth-child(1) {
    width: 5%;
}

.schedule-table-view table table>tbody>tr>td:nth-child(2),
.schedule-table-view table table>thead>tr>th:nth-child(2) {
    width: 30%;
}

.schedule-table-view table table>tbody>tr>td:nth-child(3),
.schedule-table-view table table>thead>tr>th:nth-child(3) {
    width: 35%;
}


/*ek-notifier-css*/

.ek-notifier {
    position: fixed;
    z-index: 999;
    background: #3F51B5;
    height: 2px;
    /*width: 100%;*/
    transition: opacity 0.1s linear;
    /*-webkit-transition-delay: 0.1s;*/
    /* Safari */
    /*transition-delay: 0.1s;*/
    opacity: 1;
    -webkit-transition: width 0.5s;
    /* Safari */
    transition: width 0.5s;
}

.ek-alert {
    position: fixed;
    z-index: 999;
    right: 10px;
    top: 120px;
}

.ek-alert .msg-box {
    background: #e2e2e2;
    padding: 10px;
    border-radius: 2px;
    color: black;
    font-size: 12px;
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.ek-alert .msg-box.success {
    background: #4CAF50;
    color: white;
}

.ek-alert .msg-box.danger {
    background: #F44336;
    color: white;
}

.ek-alert .close-opt {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px;
    color: #d2d2d2;
    font-size: 16px;
    cursor: pointer;
}

.spinner {
    display: block;
    position: fixed;
    z-index: 1032;
    top: 15px;
    left: 16%;
}

.ek-nav-spinner .spinner {
    z-index: 1031;
    top: 15px;
    left: 16%;
}

@keyframes eknotifier-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-radius: 50%;
    -webkit-animation: eknotifier-spinner 400ms linear infinite;
    animation: eknotifier-spinner 400ms linear infinite;
}


/*end-ek-notifier-css*/


/*<----ek-loginbox*/

.ek-loginbox {
    background: white;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    top: 0px;
}

.ek-loginbox .lb-container {
    max-width: 580px;
    width: 92%;
    margin: auto
}


/*ek-loginbox end---->*/

.faculty-login {
    position: absolute;
    width: 100%;
    height: 100%;
}

.faculty-login .ek-loginbox {
    /* special css for faculty Login*/
    position: relative;
    display: flex;
}

.faculty-login>.row {
    height: 100%;
}

.faculty-login>.row>.col-md-5 {
    height: 100%;
}

.faculty-login .lft {
    text-align: center;
    overflow: hidden
}

@media (max-width: 767px) {
    .faculty-login .lft {
        height: 50%;
    }
    .faculty-login>.row>.col-md-5 {
        height: 50%;
    }
}

.faculty-login .lft img {
    width: 90%;
    max-width: 340px;
}

.faculty-login .lft .wlcm-text {
    margin-top: 100px;
}

.panel-title .label {
    padding: 0.3em .6em .3em;
}

.evtTEST {
    background: #9E9E9E;
    color: white;
}

.evtPENDING {
    background: #607D8B;
    color: white;
}

.evtAPPROVED {
    background: #CDDC39;
    color: white;
}

.evtCONFIRMED {
    background: #CDDC39;
    color: white;
}

.evtUNAPPROVED {
    background: #F44336;
    color: white;
}

.evtDECLINED {
    background: #F44336;
    color: white;
}

.evtCANCELED {
    background: #FF9800;
    color: white;
}

.evtRESCHEDULED {
    background: #795548;
    color: white;
}

.evtPASSED {
    background: #795548;
    color: white;
}

.evtRUNTIME {
    background: #795548;
    color: white;
}

.evtRUNNING {
    background: #795548;
    color: white;
}

.evtFINISHED {
    background: #4CAF50;
    color: white;
}

.panel {
    border: none;
    margin-bottom: 20px;
}

.panel .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #DADFE2 !important;
    padding: 10px 20px 0px;
}

.panel-default>.panel-heading {
    background-color: #f4f8fb;
    border-bottom: none;
    color: #797979;
}

.panel .panel-body {
    padding: 15px 20px 20px 20px;
}

.panel .panel-body {
    padding: 20px;
}
.panel .panel-body img {
    max-width: 100%;
}

.panel.panel-primary .panel-heading {
    border-color: #4c5667 !important;
    color: #4c5667 !important;
}

.panel .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #DADFE2 !important;
    padding: 10px 20px 0px;
}

.panel-heading {
    border: none !important;
    padding: 10px 20px;
}

.tablef12 tr th {
    text-align: center
}

.tablef12 tr td {
    font-size: 12px;
    text-align: center
}

td.evt-ttl-td {
    min-width: 135px;
}

.evt-ttl-td a {
    max-width: 164px;
    display: block;
    text-decoration: none;
}

.evt-ttl-td a span {
    display: block;
    text-align: center;
    padding: 2px 0px;
    width: 100%;
    border: solid 1px #607d8b;
    font-size: 12px;
    color: white;
}

.tdTEST.evt-ttl-td a span {
    background: #9E9E9E;
    border-color: #9E9E9E;
}

.tdPENDING.evt-ttl-td a span {
    background: #607D8B;
    border-color: #607D8B;
    color: white;
}

.tdAPPROVED.evt-ttl-td a span {
    background: #CDDC39;
    border-color: #CDDC39;
    color: white;
}

.tdCONFIRMED.evt-ttl-td a span {
    background: #CDDC39;
    border-color: #CDDC39;
    color: white;
}

.tdUNAPPROVED.evt-ttl-td a span {
    background: #F44336;
    border-color: #F44336;
    color: white;
}

.tdDECLINED.evt-ttl-td a span {
    background: #F44336;
    border-color: #F44336;
    color: white;
}

.tdCANCELED.evt-ttl-td a span {
    background: #FF9800;
    border-color: #FF9800;
    color: white;
}

.tdRESCHEDULED.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdPASSED.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdRUNTIME.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdRUNNING.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdFINISHED.evt-ttl-td a span {
    background: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

.evt-ttl-td a span:nth-child(2) {
    color: #5a5a5a;
    background: transparent
}

.evt-ttl-td a span:nth-child(3) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #5a5a5a;
    background: transparent
}

.event-item {
    display: block;
    text-decoration: none;
    color: black;
}

a.event-item:hover,
a.event-item:focus {
    background: rgb(239, 238, 238);
    text-decoration: none;
    color: black;
}

.event-item .evt-main {
    font-size: 14px;
    font-weight: bold;
}

.event-item .evt-sub {
    font-size: 12px;
}

.db-events {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.db-events li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 2px #ebeff2;
}

.mt30 {
    margin-top: 30px;
}

.event-title,
.event-timing {
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: solid 2px whitesmoke;
}

.event-timing .event-slt:nth-child(2) {
    float: right;
}

.event-slt {
    display: inline-block;
    padding: 15px 5px 5px 5px;
    text-align: left;
    font-size: 12px;
}

.event-card .head {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    background: #e6e6e6;
    padding: 0px 15px;
    height: 20px;
}

.event-card .head label {
    position: relative;
    /* bottom: -10px; */
    background: #e6e6e6;
    padding: 2px 5px;
    font-size: 13px;
}

.event-card .val {
    font-size: 12px;
    padding: 0px 5px 8px 5px;
    display: inline-block;
}

.event-status .val {
    padding-top: 15px;
    padding-left: 20px;
}

.ar {
    text-align: right !important;
}

.al {
    text-align: left !important;
}

.ac {
    text-align: center !important;
}

.ui-dialog {
    max-width: 96%;
}

.dialogue-with-overlays .ui-dialog {
    overflow: visible;
}

.dialogue-with-overlays .ui-dialog .ui-dialog-content {
    /*height: 100%;*/
    overflow: inherit !important;
}

.form-control.ngp-date {
    padding: 0px;
}

.form-control.ngp-date .ui-calendar {
    width: 100%;
    height: 100%;
}

.form-control.ngp-date input {
    width: 100%;
    height: 100%;
}

p-footer {
    display: block;
    width: 100%;
}


/*MDI ICONS Additions*/

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


/*----MDI Icons ends*/

.info-tile {
    margin: 0px 0px 32px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    display: block;
}

.info-tile .tile-icon {
    position: absolute;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    left: 10px;
    bottom: -100px;
    font-size: 40px;
}

.info-tile .tile-heading {
    text-align: left;
    color: #9e9e9e;
    height: 16px;
    line-height: 16px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.info-tile .tile-body {
    text-align: right;
    color: #616161;
    font-size: 36px;
    font-weight: 400;
    line-height: 72px;
    position: relative;
    z-index: 1;
}

.info-tile .tile-footer {
    text-align: right;
    font-size: 12px;
    position: absolute;
    right: 12px;
    bottom: 8px;
}

.info-tile.tile-danger .tile-icon i {
    color: #f9bdbb;
}

.info-tile.tile-success .tile-icon i {
    color: #dcedc8;
}

.tbl-hrs tbody tr td {
    color: #6d6d6d;
    font-size: 11px;
}

.tbl-hrs tbody tr td b {
    font-size: 13px;
    color: #4a4949;
}

.hrs-pnl-subhead .lft {
    float: left;
    width: 33.33%;
}

.hrs-pnl-subhead .mid {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.hrs-pnl-subhead .rt {
    float: left;
    width: 33.33%;
    text-align: right;
}

.smry-head {
    background: rgb(236, 255, 236);
    font-weight: 100;
}

.smry-head th {
    font-weight: normal;
}

thead tr {
    background: #ececec;
}
.alignR {
    text-align: right;
}

.alignC {
    text-align: center;
}

.alignL {
    text-align: left;
}

.fgm0 .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
/*---------------------------------- panel ims ------------------------------ */
.panel {
    border: none;
    margin-bottom: 20px;
}

.panel .panel-heading {
    border: none !important;
    border-top: 3px solid #DADFE2 !important;
    padding: 10px 20px 10px;
    background-color: #ffffff;
    position: relative;
}
.panel .panel-heading .panel-header-right-opts{
    position: absolute;
    right: 15px;
    top: 12px;
}

.panel .table-bordered, .panel .table-responsive .table-bordered {
    border-bottom: solid 1px #d9d9d9;
}

.panel-heading .panel-title {
    display: inline-block;
    margin-bottom: 0px;
    line-height: 30px;
    font-size: 20px
}

.panel-heading .panel-opts {
    padding: 0px;
    list-style: none;
    float: right;
}

.panel-heading .panel-opts li {
    padding: 0px;
}

.panel-default>.panel-heading {
    background-color: #f4f8fb;
    border-bottom: none;
    color: #797979;
}

.panel>table,
.panel>.table-responsive>table {
    margin-top: 20px;
}

.panel .panel-body {
    padding: 15px 20px 20px 20px;
}

.panel .panel-body {
    padding: 20px;
}

.panel.panel-primary .panel-heading {
    border-color: #4c5667 !important;
    color: #4c5667 !important;
    box-shadow: 0px 0px 3px 0px rgb(212, 212, 212);
}

.table-tdp0>tbody>tr>td,
.table-tdp0>thead>tr>th {
    padding: 0px;
    font-size: 12px;
}

.panel-profile label {
    color: #b7b7b7;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0px; 
}
/*---------------------------------- // panel ims ------------------------------ */
/*---------------------------------- Ek-Tabpanel ims ------------------------------ */

.ek-tab-panel {
    background: white;
}

.ek-tab-panel .ek-tab-panel-heading {
    padding-top: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.ek-tab-panel .ek-tab-panel-heading .panel-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.ek-tab-panel .ek-tab-panel-tabs ul {
    list-style: none;
    padding: 0px;
    border-bottom: solid 1px #dadfe2;
}

.ek-tab-panel .ek-tab-panel-tab {
    display: inline-block;
    margin: 2px 2px 0px 2px;
    padding: 7px 10px;
    color: #3F51B5;
    cursor: pointer;
}

.ek-tab-panel .ek-tab-panel-tab:hover {
    color: #0273ce;
}

.ek-tab-panel .ek-tab-panel-tab.active {
    border-bottom: solid 3px #3F51B5;
    color: #7d7d7d;
    cursor: default;
}

/* .ek-tab-panel .ek-tab-panel-contents {} */

.ek-tab-panel .ek-tab-panel-content {
    padding: 15px;
}


/* -----     end ek tab panel --------------------------------------- */

/* -------------------- FullScreen window ------------------ */
.ek-full-screen-window {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1001;
    background: white;
    overflow: auto;
}

/* .fsw-container {
    width: 860px;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
} */
.ek-full-screen-window .close-opt {
    color: #b3b2b2;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 2px 4px;
}

.ek-full-screen-window .close-opt:hover {
    color: #7d7d7d;
}
.ek-full-screen-window .eaa-app-grp h4{
    border-bottom: solid 2px #dddddd;
    padding-bottom: 8px;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* ------------------- // FullScreen window ----------------------- */

/* -------------------  Lokesh edukit.ims.css --------------------------------------------------- */
.btn-success {
    background: #39ab39;
}

.btn-success:hover {
    background: #069206;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.col-border-right {
    border-right: 1px solid #e6e6e6;
}

.col-border-top {
    border-top: 1px solid #e6e6e6;
}

.col-border-bottom {
    border-bottom: 1px solid #e6e6e6;
}

.font-size-20 {
    font-size: 20px;
    font-weight: bold;
}

.brooch {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
    margin: -6px 0px 0px 5px;
}

.brooch-success {
    background-color: #5cb85c;
}

.brooch-danger {
    background-color: #FF5722;
}

.brooch-info {
    margin: 1% !important;
    background-color: #3F51B5;
}

.ui-picklist-buttons-cell {
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons button {
    float: left;
    width: 30px;
}

.ek-footer {
    background-color: #ffffff;
    box-shadow: 0px -1px 5px 0px #aaaab1;
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0px;
    border-top: solid 1px rgb(230, 230, 230);
}

.footer-container {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 38px;
}

.ek-border {
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.choose-option {
    margin-left: 15px;
    width: 65%;
}

.choose-option td {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.choose-option li {
    font-size: 18px;
    padding-left: 42px;
    font-weight: bold;
}
.Dashboard-box{
    background: white;
    border: 0.5px solid #8080805c;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.Dashboard-box .remark{
    font-size: 38px;
}
.Dashboard-box .title{
    font-weight: bold;
    font-size: 20px;
}
.Dashboard-box .icon{
    position: absolute;
    font-size: 46px;
    color: #5fbeaa;
}
.pointer:hover{
    cursor: pointer;
    border: 0;
}
.tmpltSidWindow{
    width:480px;
    padding:0px;
    overflow-y: auto;
}
.tmpltSidWindow h4{
    margin: 0px;
    padding:15px;
    background: #e4e4e4;
}
.web-tmplt-list{
    padding:25px;
}
.web-tmplt-card{
    box-shadow: 1px 1px 1px 1px #bbbbbb;
    border-radius: 4px;
    min-height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
}
.web-tmplt-card:hover{
    box-shadow: 1px 1px 3px 3px #bbbbbb;
}
.web-tmplt-card .thumb img{
    width:100%;
    height:260px;
}
.web-tmplt-card .desc h6{
    font-size: 16px;
    padding: 5px 15px;
}
.web-tmplt-card .desc .opts{
    padding: 10px 15px;
    border-top: solid 1px #dedede;
    margin-bottom: 0px;
}
.refresh-opt{
    padding: 2px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
}
.menutr{
    border-top: solid 3px #bfbfbf;
}
.menu1tr{
    border-top: solid 2px #dddddd;
}
.menuSub2tr td:nth-child(2){
    border-right: transparent;
}
.menuSub2tr td:nth-child(3){
    border-left: transparent;
}
.toggle-wpcb{
    display: inline-block;
    cursor: pointer;
    float: right;
}
.fa.fa-toggle-on{
    color:green;
}
.fa.fa-toggle-off{
    color:rgb(225, 225, 225);
}
.table-participant > tr{
    font-weight: bold;
    font-size: 16px;
}
    /* -------------------------------------- student Overview -------------------------------------------- */

.ek-card-profile {width: 150px;height: 130px;border: 1px solid #0000001c;border-radius: 10px;box-shadow: 0 0 10px 2px #0000001c;}
.ek-card-level {
    height: 130px;
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin-top: 14px;
    box-shadow: 0 0 10px 2px #0000001c;
    /* background: linear-gradient(to left,#2bc0ec,#0788f5); */
}

.ek-card-label {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px -13px;
    color: white;
    border-radius: 5px;
}

.ek-card-title,.level-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.ek-card:hover .ek-card-label {
    box-shadow: 0 0px 5px 5px #00000021;
}
.ek-report {
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px 2px #0000001c;
}
.report-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.report-img{
    width: 75px; 
    height: 75px;
    border-radius: 50%;
}
.report-user {
    padding-top: 10px;
    font-weight: bold;
}
.report-user .name{
    font-size: 16px;
}
.report-user .srn{
    font-size: 14px;
    color: grey;
}
.report-text {
    font-size: 28px;
    margin-bottom: 10px;
}

.report-table {
    margin: 20px 20px;
    width: 95%;
    text-align: center;
}

.report-table td>b {
    color: grey;
}

.report.stitle {
    font-weight: bold;
    font-size: 18px;
}

.report-question {
    width: 100%;
}

.report-question tr {
    border-top: 1px solid #00000026;
    border-bottom: 1px solid #00000026;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.report-question tr>th {
    text-align: center;
    color: grey;
}
.level-table {
    margin: 10px;
    margin-left: 25px;
    width: 80%;
}

.level-table td {
    color: grey;
    text-align: center;
}

.level-table td>div {
    font-size: 24px;
    color: black;
}

.level-title {
    margin: 10px 0px;
}
/* ----------------------------------------------------- */
.show-message{
    text-align: center;
}
.leader-board {
    width: 100%;
    margin: 20px;
}
.leader-board tr {
    text-align: center;
    font-weight: bold;
}
.leader-board tr>th {
    text-align: center;
    color: grey;
}
.leader-board .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* RTE Student Edit Form */
.rteform .ui-tabview-panel.ui-widget-content{
    padding-top: 30px;
}

/* Admission Form validation */

.form .show-error .ng-invalid.ng-untouched.form-control,
.form .show-error input.ng-invalid.ng-untouched {
    border: 1px solid #de2525;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 118, 118, 0.6);
}
.form .ui-fieldset,
.form .ui-fieldset .ui-fieldset-legend {
    padding: .6em 1em;
    margin-bottom: 10px;
}
.student-img{
    width: 100px;
height: 100px;
border-radius: 50%;
}
.ek-action-btn .ek-dropdown{
    /* background: #009688;
    color: white; */
    text-align: center;
    border-radius: 6px;
    border: 1px solid #0000009e;
    font-size: 16px;
    width: 35px;
    /* cursor: pointer; */
    font-weight: bold;
}
.ek-action-btn .ek-dropdown .dropdown-menu>li>a{
    cursor: pointer;
}
.ek-action-btn .ek-dropdown:hover{
    background: #d6d4d4;

}
.ek-action-btn .ek-dropdown a:hover{
    background: #009688;
    color: white;
    /* font-weight: 400; */
}
.file-question{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.file-instruction{
    margin : 10px;
}
.file-instruction .title{
    text-align: center;
    margin: 1.5em;
    text-decoration: underline;
}
.file-instruction .content{
    border: 2px solid #0000008c;
    padding: 10px;
    font-size: 1.1em;
    color: black;
    border-radius: 2%;
    margin: 0px 4vw 10vh;
}
.quickedit{
    margin: 25px 0px;
}

/* Print Panel Css */

.print-panel{
    float: left;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin: 0px;
    margin-bottom: 40px;
   
}
.print-panel .print-panel-header {
 position: relative;
     padding: 17px; 
}
.print-panel .print-panel-header .print-panel-title{
    position: absolute;
    top: -41px;
    background: #ffffff;
    padding: 5px;
}

.print-panel .print-panel-body {
    float: left;
    width: 100%;
}
.sub-title{
    font-weight: bold;
    font-size: 20px;
}
.step{
    border: 1px solid #0000009c;
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
    margin-left:40%;
    cursor: pointer;
}
.active-step{
    background: #0e48a0;
    color: white;
}
.bold-content{
    font-weight: bold;
}

.line{
    border-top: 1.5px solid #737373;
}
.step .digit{
 text-align: center;
 font-size: 24px;
 margin-top: 5px;
}
.step-content{
    text-align: center;
}

.tagBtn{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.tagBtn:hover{
    text-decoration: none;
    cursor: pointer;
}
    /* --------------------------- Input Switch--------------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #39ab39;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* ------------------------------- // Input Switch --------------------- */
    .p-remove{
        cursor: pointer;
        margin-top: -4px;
        float: right;
        color: red;
    }
    .opt{
        margin-right: 10px;
        float: left;
        font-weight: bold;
    }

    .quill-btn{
        margin-top: 35px;
        margin-right: 5px;
        float: right;
        list-style: none;
    }
    .quill-btn li{
        margin-bottom: 5px;
    }
    .quill-btn a{
        color: #333;
        cursor: pointer;
    }
    .quill-btn a:hover{
        color: #06c;
        border: none;
    }
/* -------------------  Lokesh edukit.ims.css ----------------------- */

/* -------------------------------------- student Overview -------------------------------------------- */

.ek-card-profile {width: 150px;height: 130px;border: 1px solid #0000001c;border-radius: 10px;box-shadow: 0 0 10px 2px #0000001c;}
.ek-card-level {
    height: 130px;
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin-top: 14px;
    box-shadow: 0 0 10px 2px #0000001c;
    /* background: linear-gradient(to left,#2bc0ec,#0788f5); */
}

.ek-card-label {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px -13px;
    color: white;
    border-radius: 5px;
}

.ek-card-title,.level-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.ek-card:hover .ek-card-label {
    box-shadow: 0 0px 5px 5px #00000021;
}
.ek-report {
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px 2px #0000001c;
}
.report-title {
    font-size: 20px;
    font-weight: bold;
}
.report-img{
    width: 75px; 
    height: 75px;
    border-radius: 50%;
}
.report-user {
    padding-top: 10px;
    font-weight: bold;
}
.report-user .name{
    font-size: 16px;
}
.report-user .srn{
    font-size: 14px;
    color: grey;
}
.report-text {
    font-size: 28px;
    margin-bottom: 10px;
}

.report-table {
    margin: 20px 20px;
    width: 95%;
    text-align: center;
}

.report-table td>b {
    color: grey;
}

.report.stitle {
    font-weight: bold;
    font-size: 18px;
}

.report-question {
    width: 100%;
}

.report-question tr {
    border-top: 1px solid #00000026;
    border-bottom: 1px solid #00000026;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.report-question tr>th {
    text-align: center;
    color: grey;
}
.level-table {
    margin: 10px;
    margin-left: 25px;
    width: 80%;
}

.level-table td {
    color: grey;
    text-align: center;
}

.level-table td>div {
    font-size: 24px;
    color: black;
}

.level-title {
    margin: 10px 0px;
}
.q-content b{
    float: left;
    margin-right: 10px;
}
.ck-btn {
    float: right;
    margin: 35px 15px;
}
.ck-btn a{
    color: #333;
    cursor: pointer;
}
.ck-btn a:hover{
    color: #06c;
    border: none;
}
/* -------------------------- // student Overview--------------------------- */
label sup{
    color: #F44336;
}


/* FORUM */
.forum-question {
    width: 100%;
    float: left;
    background: #fcfeff;
    padding: 5px;
    box-shadow: 0px 2px 5px 2px #dadada;
    border-radius: 5px;
    min-height: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
}
.forum-question-title {
    float: left;
    width: 100%;
    font-size: 1.6em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dfdfdf94;
    padding-bottom: 5px;
}
.forum-question-replies {
    width: 100%;
    float: left;
    background: #fdfdfd;
    padding: 10px;
    margin-bottom: 20px;
}
.reply-form{
    width:100%;
    float: left;
}
.q-reply {
    background: #fff;
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 1px;
}

.reply-footer>p{
    font-size: 1rem;
    text-align: right;
    padding: 0;
    margin-block-end: 0.5em;
}
.replies-footer{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #dfdfdf;
}

.media-border{
    border-bottom: 1px solid #ececec;
    padding-bottom: 5px;
}

.recent-replies{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.forum-question-title>small{
    font-size: 12px;
    font-weight: 500;
}
.forum-question-replies>h3{

}

.forum-question-replies .media-left{
    max-width: 70px;
    overflow: auto;
    word-break: break-all;
}

.forum-question-replies .media-left >p{
    font-size: 0.9em;
}

.forum-question-replies h4.media-heading{
    font-size: 1em;
}

.forum-question-desc{
    float: left;
    width: 100%;
    padding-top: 10px;
}

.forum-question-label{
    position: absolute;
    background: red;
    color: white;
    transform: rotate(320deg);
    bottom: 32px;
    right: 0;
    padding-left: 20px;
    padding-right: 15px;
}

.forum-question-bg-success{
    border-top-color: rgba(6, 146, 6, 0.01) !important;
    border-bottom-color: rgba(6, 146, 6, 0) !important;
    border-right-color: rgb(6, 146, 6) !important;
    border-left-color: rgba(6, 146, 6, 0) !important;
}

.shape {
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.shape {
    border-style: solid;
    border-width: 0 97px 61px 0;
    float: right;
    height: 0px;
    width: 0px;
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); 
    
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(360deg);
}
.shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.rel-thread{
    padding: 5px;
    background: #fcfeff;
    box-shadow: 0px 2px 5px 2px #dadada;
    min-height: 50px;
}
.calendar-input{
    width:80px;
}
.calendar-input input{
    width:80px;
}



/*File Manager*/

.fmm-header {
    padding: 10px;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 0px;
}

.fmm-body {
    max-height: 80%;
    /* overflow-y: auto; */
    border-bottom: solid 4px #e6e6e6;
    /*padding-bottom: 30px;*/
}

.fm-menu ul {
    border-right: solid 1px #e2e2e2;
    /* padding-top: 15px; */
    padding: 0px;
    font-weight: bold;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 0px;
    padding-top: 10px;
}

.fm-menu ul li {
    list-style: none;
    padding: 5px;
    padding-left: 15px;
    border-bottom: solid 1px #e2e2e2;
    cursor: pointer;
}

.fm-menu ul li.active,
.fm-menu ul li:hover {
    background: #f1efef;
}

.fm-content {
    padding-top: 15px;
}

.fmimg-thumb {
    width: 84px;
    height: 84px;
    display: inline-block;
    border-radius: 2px;
    padding: 1px;
    margin: 5px;
    border: solid 1px #bfbfbf;
}

.fmimg-thumb img, .fmimg-thumb i {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 75px;
    color: #a5a5a5;
}
.fmimg-thumb .file-ttl{
    width: 100%;
    overflow: -webkit-paged-x;
    height: 20px;
    font-size: 10px;
    padding-top: 2px;
    margin-bottom: 5px;
}

.fmimg-thumb.selected,
.fmimg-thumb:hover {
    background: blue;
    opacity: 0.8;
    border-color: blue;
}

.fileinput-selector {
    cursor: pointer;
    margin-bottom: 0px;
}

.fileinput-selector span {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* word-wrap: break-word; */
    overflow: hidden;
    /* overflow-anchor: initial; */
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*----File Manager*/


.shared-note-sidebar-h2{
    padding: 10px;
    color: #FFF;
    background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
