body {
    background: #ebeff2;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
div,
td,
th,
small,
label,
button,
input,
select {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    background: white;
    height: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    z-index: 100;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.sidebar-wrapper {
    float: left;
    width: 250px;
    background: white;
    z-index: 1;
    /*min-height: 400px;*/
}

faculty-sidebar {
    position: fixed;
    height: 100%;
    top: 0px;
}

header .ek-logo-sec {
    display: inline-block;
    padding: 8px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: #00796B;
    width: 250px;
    border-right: solid 1px #293f54;
    background: #2f323e;
}

header .ek-logo-sec .sbnm {
    font-weight: normal;
    font-size: 24px;
    color: #14202b
}

header .ek-logo-sec img {
    width: 116px;
}

header .app-sec {
    display: inline-block;
    padding: 11px;
    font-size: 20px;
}

@media (max-width: 767px) {
    header .app-sec {
        padding-left: 64px;
    }
}

header .right-sec {
    float: right;
}

header .right-sec ul {
    margin: 0px;
}

header .right-sec ul li {
    padding: 4px 8px;
    list-style: none;
    margin-left: 5px;
    cursor: pointer;
}

header .right-sec>ul>li.user-opts>a {
    cursor: pointer;
    font-size: 30px;
}

header .right-sec>ul>li.user-opts .ui-menu {
    background: white;
    box-shadow: rgb(214, 214, 214) 1px 1px 1px 0px;
}

.sidebar {
    height: 100%;
    width: 250px;
    background: #2f323e;
    position: fixed;
    margin-top: 0px;
}

.sidebar .ek-sb-logo-sec {
    margin-top: -50px;
    padding: 8px 8px 8px 15px;
    background: #2f323e;
}

.sidebar .ek-sb-logo-sec img {
    width: 116px;
}

.sidebar-toggle {
    position: relative;
    top: 0px;
    z-index: 101;
    font-size: 24px;
    padding: 8px 15px 9px;
    background: #2f323e;
    color: white;
    left: 250px;
}

.sidebar.OPENED .sidebar-toggle .glyphicon-menu-hamburger {
    display: none;
}

.sidebar.CLOSED .sidebar-toggle .glyphicon-remove {
    display: none;
}

.sidebar .org-logo-sec {
    text-align: center;
    padding-top: 10px;
}

.sidebar .org-logo-sec a {
    width: 100%;
    display: inline-block;
    min-height: 60px;
    max-height: 100px;
    overflow: hidden;
    /* vertical-align: text-top; */
    /*background: rgba(244, 67, 54, 0.21);*/
    padding: 5px;
}

.sidebar .org-logo-sec a img {
    width: 200px;
}

.sidebar .menu-heading h4 {
    font-size: 14px;
    color: #e4e4e4;
    padding-left: 15px;
    border-bottom: solid 1px rgba(230, 230, 230, 0.31);
    padding-bottom: 6px;
    margin-top: 20px;
}

.sidebar-menu {
    padding: 0px;
}

.sidebar-menu li {
    list-style: none;
}

.sidebar-menu li a {
    display: inline-block;
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.sidebar-menu li a:hover {
    text-decoration: none;
    background: #eeeeee;
    color: #1c3146;
}

.sidebar-menu li.active a {
    text-decoration: none;
    background: #eeeeee;
    color: #1c3146;
}

.sidebar-menu li a .link-icon {
    font-size: 17px;
    display: inline-block;
    margin-right: 16px;
}

@media (max-width: 767px) {
    .sidebar-wrapper {
        z-index: 102;
        width: 0px;
    }
    .sidebar-wrapper .sidebar {
        margin-top: 0px;
        transition: left 0.1s linear;
        /*-webkit-transition-delay: 0.1s;*/
        /* Safari */
        /*transition-delay: 0.1s;*/
        left: -250px;
        -webkit-transition: left 0.5s;
        /* Safari */
        transition: left 0.5s;
        top: 0px
    }
    .sidebar-wrapper .sidebar.CLOSED {
        left: -250px !important;
    }
    .sidebar-wrapper .sidebar.OPENED {
        left: 0px !important;
    }
    faculty-mainbody .main-content-wrapper {
        width: 100%;
    }
    faculty-mainbody .activity-heading {
        font-size: 20px;
    }
    faculty-mainbody .activity-breadcrumb li {
        font-size: 12px;
    }
    .wrapper .main-content-wrapper {
        width: 100%;
    }
}

.link-text {
    display: inline-block;
    margin-top: -5px;
    padding: 1px;
    font-size: 15px;
    position: relative;
    top: -3px;
}

.main-content-wrapper {
    float: left;
    width: 82%;
    padding-left: 15px;
    padding-right: 15px;
}

.ek-datatable datatable-header {
    height: 50px;
    width: 100%;
    background: gainsboro;
    /*border: solid 2px #e4e3e3;*/
}

.ek-datatable datatable-body {
    /*border: solid 2px #e4e3e3;*/
}

.ek-datatable datatable-body-cell,
.ek-datatable datatable-header-cell {
    padding: 5px;
    border-left: solid 1px #e4e3e3;
    border-bottom: solid 1px #e4e3e3;
}

.ek-datatable .datatable-row-group datatable-body-cell:last-child,
.ek-datatable .datatable-row-group datatable-header-cell:last-child {
    border-right: solid 1px #e4e3e3;
}

.ek-datatable datatable-pager i {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.ek-datatable i.icon-right:before {
    content: "\e077";
}

.ek-datatable i.icon-left:before {
    content: "\e069";
}

.ek-datatable i.icon-prev:before {
    content: "\e070";
}

.ek-datatable i.icon-skip:before {
    content: "\e076";
}

.activity-header {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    border-bottom: solid 2px #e6e6e6;
}

.activity-heading {
    font-size: 27px;
    color: #757677;
    display: inline-block;
}

.activity-header-menu {
    float: right;
    margin-top: 20px;
}

.activity-header-menu ul li {
    float: left;
    list-style: none;
    margin: 2px;
    margin-left: 5px;
}

.activity-breadcrumb {
    padding-bottom: 1px;
}

.activity-breadcrumb .breadcrumb {
    padding: 0px;
    background: transparent;
}

.activity-content {
    margin-top: 15px;
}

.ek-btn {
    display: inline-block;
    padding: 5px 10px;
    background: #3F51B5;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}

.ek-btn:hover {
    color: white;
    text-decoration: none;
    background: #3F51B5;
}

.btn-create {
    background: #3F51B5;
}

.btn-create:hover {
    background: #303F9F;
}

.btn-list {
    background: #009688;
}

.btn-list:hover {
    background: #00796B;
}

.btn-view {
    background: #3F51B5;
}

.btn-edit,
.btn-add {
    background: #673AB7;
}

.ek-btn.btn-icon::before {
    font-family: 'Glyphicons Halflings';
    top: 2px;
    position: relative;
    /*margin-right: 5px;*/
    padding: 1px 2px;
}

.btn-icon.btn-add::before {
    content: "\002b";
}

.btn-edit:hover,
.btn-add:hover {
    background: #7B1FA2;
}

.btn-icon.btn-edit::before {
    content: "\e065"
}

.btn-save {
    background: #3F51B5;
}

.btn-delete {
    background: rgba(158, 48, 40, 0.97);
}

.btn-icon.btn-delete::before {
    content: "\e014"
}

.btn-delete:hover {
    background: rgba(121, 29, 23, 0.97);
}

.btn-cancel {
    background: #3F51B5;
}

.btn-back {
    background: #3F51B5;
}

.ek-loader-bar {
    background-color: #F44336;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 2px;
}

.btn-mini {
    margin: 1px;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 12px;
}

.ek-datatable .btn-mini {
    line-height: 16px;
}

.page-loader.hide {
    display: none !important;
}

.page-loader.show {
    display: block !important;
}

.activity-grp-link {
    display: block;
    width: 100%;
    min-height: 80px;
    background: white;
    padding: 5px;
    font-size: 18px;
    position: relative;
    color: grey;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.activity-grp-link:hover {
    text-decoration: none;
    box-shadow: 1px 1px 4px 0px #9E9E9E;
}

.activity-grp-link .agl-icn {
    position: absolute;
    font-size: 60px;
    /* top: 10px; */
    opacity: 0.5;
    color: #8BC34A;
    top: 34px;
    right: -12px;
    display: inline-block;
}

.panel-loader {
    position: relative;
}

.panel-loader.show>div,
.panel-loader.show table {
    opacity: 0.6;
}

.panel-loader.show::after {
    content: "Processing";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: transparent;
    top: 0;
    left: 0px;
    text-align: center;
    padding-top: 10px;
    color: black;
    /*text-shadow: 2px 2px 2px #1b1b1b;*/
    font-weight: bold;
}

.panel-loader.deleted::after {
    content: "Deleted!";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: white;
    top: 0;
    left: 0px;
    text-align: center;
    padding-top: 10px;
    color: black;
    text-shadow: 2px 2px 2px #1b1b1b;
}


/*EK-Modal*/

.ek-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.ekm-content {
    width: 92%;
    max-width: 600px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 3px 1px #f1f1f1;
    z-index: 10001;
    position: relative;
    border-radius: 2px;
    top: 15%;
    display: flex;
    flex-direction: column;
}

.ekm-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    opacity: 0.7;
    background: rgb(0, 0, 0);
}

.ekm-cancel-btn {
    position: absolute;
    right: -10px;
    font-size: 20px;
    line-height: 20px;
    background: white;
    border-radius: 25px;
    top: -10px;
    padding: 2px;
    width: 24px;
    height: 26px;
    cursor: pointer;
    color: #636363;
}

.ekm-cancel-btn:hover {
    color: black;
}

.ekm-header {
    padding: 10px;
    border-bottom: solid 1px #e2e2e2;
    margin-bottom: 10px;
}

.ekm-body {
    padding: 15px;
    margin-top: 5px;
    max-height: 80%;
    overflow-y: auto;
    border-bottom: solid 4px #e6e6e6;
    padding-bottom: 30px;
}

.ekm-footer {
    padding: 10px;
    background: rgb(230, 230, 230);
}


/*----Modal Style ends*/

.form-horizontal .ui-multiselect {
    width: 100%;
    height: 29px;
}

.panel-footer {
    background: #f4f8fb;
    border-top: 0px;
}

.panel-footer .cancel-link {
    margin-bottom: 7px;
    font-size: 12px;
}

.panel-footer .cancel-link a {
    cursor: pointer;
}

.table-day-slots tbody:nth-child(2n+1) {
    background: rgba(245, 245, 245, 0.53);
}

.period-slot {
    display: inline-block;
    position: relative;
    padding: 5px;
    cursor: default;
    margin: 5px;
}

.period-slot .btn-action {
    opacity: 0;
    position: absolute;
    font-size: 8px;
    padding: 4px 4px;
    line-height: 5px;
}

.period-slot:hover .btn-action {
    opacity: 1;
}

.period-slot .time-info {
    display: inline-block;
    font-size: 10px;
}

form .help-text-blck {
    font-size: 10px;
    padding: 5px;
    margin-top: 5px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
    width: 100%;
    border: dashed 1px #dddddd;
    background: white;
    border-radius: 0px;
}

.ui-tabview {
    background: none;
}

.ui-tabview-panels {
    background: white;
}

.demo-cls {
    background: red;
}

.btns-right .panel-title {
    display: inline-block;
}


/*PrimeNG Theme Modigications*/

.ek-default .ui-buttonset .ui-button {
    background: #cacaca;
    border-color: #b1b1b1;
    color: black;
}

.ek-default .ui-widget-header .ui-button:enabled:hover,
.ek-default .ui-widget-header .ui-button:focus,
.ek-default .ui-widget-content .ui-button:enabled:hover,
.ek-default .ui-widget-content .ui-button:focus,
.ek-default .ui-button:enabled:hover,
.ek-default .ui-button:focus {
    border: 1px solid #616161;
    background: #757575;
}


/*----end--PrimeNG Theme Modigications*/

.empty-day {
    background-color: #ffe6e6;
    background-image: url('http://supernovathemes.com/wp-content/themes/supernovathemes/images/bg/b4.png');
}

.schedule-table-view table table {
    margin-bottom: 0px;
}

.schedule-table-view table table>tbody>tr>td {
    font-size: 12px;
}

.schedule-table-view table table>tbody>tr>td:nth-child(1),
.schedule-table-view table table>thead>tr>th:nth-child(1) {
    width: 5%;
}

.schedule-table-view table table>tbody>tr>td:nth-child(2),
.schedule-table-view table table>thead>tr>th:nth-child(2) {
    width: 30%;
}

.schedule-table-view table table>tbody>tr>td:nth-child(3),
.schedule-table-view table table>thead>tr>th:nth-child(3) {
    width: 35%;
}


/*ek-notifier-css*/

.ek-notifier {
    position: fixed;
    z-index: 999;
    background: #3F51B5;
    height: 2px;
    /*width: 100%;*/
    transition: opacity 0.1s linear;
    /*-webkit-transition-delay: 0.1s;*/
    /* Safari */
    /*transition-delay: 0.1s;*/
    opacity: 1;
    -webkit-transition: width 0.5s;
    /* Safari */
    transition: width 0.5s;
}

.vhide {
    visibility: hidden;
}

.ek-alert {
    position: fixed;
    z-index: 999;
    right: 10px;
    top: 120px;
}

.ek-alert .msg-box {
    background: #e2e2e2;
    padding: 10px;
    border-radius: 2px;
    color: black;
    font-size: 12px;
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.ek-alert .msg-box.success {
    background: #4CAF50;
    color: white;
}

.ek-alert .msg-box.danger {
    background: #F44336;
    color: white;
}

.ek-alert .close-opt {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2px;
    color: #d2d2d2;
    font-size: 16px;
    cursor: pointer;
}

.spinner {
    display: block;
    position: fixed;
    z-index: 1032;
    top: 15px;
    left: 16%;
}

.ek-nav-spinner .spinner {
    z-index: 1031;
    top: 15px;
    left: 16%;
}

@keyframes eknotifier-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-radius: 50%;
    -webkit-animation: eknotifier-spinner 400ms linear infinite;
    animation: eknotifier-spinner 400ms linear infinite;
}


/*end-ek-notifier-css*/


/*<----ek-loginbox*/

.ek-loginbox {
    background: white;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    top: 0px;
}

.ek-loginbox .lb-container {
    max-width: 580px;
    width: 92%;
    margin: auto
}


/*ek-loginbox end---->*/

.faculty-login {
    position: absolute;
    width: 100%;
    height: 100%;
}

.faculty-login .ek-loginbox {
    /* special css for faculty Login*/
    position: relative;
    display: flex;
}

.faculty-login>.row {
    height: 100%;
}

.faculty-login>.row>.col-md-5 {
    height: 100%;
}

.faculty-login .lft {
    text-align: center;
    overflow: hidden
}

@media (max-width: 767px) {
    .faculty-login .lft {
        height: 50%;
    }
    .faculty-login>.row>.col-md-5 {
        height: 50%;
    }
}

.faculty-login .lft img {
    width: 90%;
    max-width: 340px;
}

.faculty-login .lft .wlcm-text {
    margin-top: 100px;
}

.panel-title .label {
    padding: 0.3em .6em .3em;
}

.evtTEST {
    background: #9E9E9E;
    color: white;
}

.evtPENDING {
    background: #607D8B;
    color: white;
}

.evtAPPROVED {
    background: #CDDC39;
    color: white;
}

.evtCONFIRMED {
    background: #CDDC39;
    color: white;
}

.evtUNAPPROVED {
    background: #F44336;
    color: white;
}

.evtDECLINED {
    background: #F44336;
    color: white;
}

.evtCANCELED {
    background: #FF9800;
    color: white;
}

.evtRESCHEDULED {
    background: #795548;
    color: white;
}

.evtPASSED {
    background: #795548;
    color: white;
}

.evtRUNTIME {
    background: #795548;
    color: white;
}

.evtRUNNING {
    background: #795548;
    color: white;
}

.evtFINISHED {
    background: #4CAF50;
    color: white;
}

.panel {
    border: none;
    margin-bottom: 20px;
}

.panel .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #DADFE2 !important;
    padding: 10px 20px 0px;
}

.panel-default>.panel-heading {
    background-color: #f4f8fb;
    border-bottom: none;
    color: #797979;
}

.panel .panel-body {
    padding: 15px 20px 20px 20px;
}

.panel .panel-body {
    padding: 20px;
}

.panel.panel-primary .panel-heading {
    border-color: #4c5667 !important;
    color: #4c5667 !important;
}

.panel .panel-heading {
    background-color: #ffffff;
    border-top: 3px solid #DADFE2 !important;
    padding: 10px 20px 0px;
}

.panel-heading {
    border: none !important;
    padding: 10px 20px;
}

.tablef12 tr th {
    text-align: center
}

.tablef12 tr td {
    font-size: 12px;
    text-align: center
}

td.evt-ttl-td {
    min-width: 135px;
}

.evt-ttl-td a {
    max-width: 164px;
    display: block;
    text-decoration: none;
}

.evt-ttl-td a span {
    display: block;
    text-align: center;
    padding: 2px 0px;
    width: 100%;
    border: solid 1px #607d8b;
    font-size: 12px;
    color: white;
}

.tdTEST.evt-ttl-td a span {
    background: #9E9E9E;
    border-color: #9E9E9E;
}

.tdPENDING.evt-ttl-td a span {
    background: #607D8B;
    border-color: #607D8B;
    color: white;
}

.tdAPPROVED.evt-ttl-td a span {
    background: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

.tdCONFIRMED.evt-ttl-td a span {
    background: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

.tdUNAPPROVED.evt-ttl-td a span {
    background: #F44336;
    border-color: #F44336;
    color: white;
}

.tdDECLINED.evt-ttl-td a span {
    background: #F44336;
    border-color: #F44336;
    color: white;
}

.tdCANCELED.evt-ttl-td a span {
    background: #FF9800;
    border-color: #FF9800;
    color: white;
}

.tdRESCHEDULED.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdPASSED.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdRUNTIME.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdRUNNING.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.tdFINISHED.evt-ttl-td a span {
    background: #795548;
    border-color: #795548;
    color: white;
}

.evt-ttl-td a span:nth-child(2) {
    color: #5a5a5a;
    background: transparent
}

.evt-ttl-td a span:nth-child(3) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #5a5a5a;
    background: transparent
}

.event-item {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a.event-item:hover,
a.event-item:focus {
    background: rgb(239, 238, 238);
    text-decoration: none;
    color: black;
}

.event-item .evt-main {
    font-size: 14px;
    font-weight: bold;
}

.event-item .evt-sub {
    font-size: 12px;
}

.db-events {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.db-events li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 2px #eeeeee;
    margin-bottom: 15px;
}

.mt30 {
    margin-top: 30px;
}

.event-title,
.event-timing {
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: solid 2px whitesmoke;
}

.event-timing .event-slt:nth-child(2) {
    float: right;
}

.event-slt {
    display: inline-block;
    padding: 15px 5px 5px 5px;
    text-align: left;
    font-size: 12px;
}

.event-card .head {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    background: #e6e6e6;
    padding: 0px 15px;
    height: 20px;
}

.event-card .head label {
    position: relative;
    /* bottom: -10px; */
    background: #e6e6e6;
    padding: 2px 5px;
    font-size: 13px;
}

.event-card .val {
    font-size: 12px;
    padding: 0px 5px 8px 5px;
    display: inline-block;
}

.event-status .val {
    padding-top: 15px;
    padding-left: 20px;
}

.ar {
    text-align: right !important;
}

.al {
    text-align: left !important;
}

.ac {
    text-align: center !important;
}

.ui-dialog {
    max-width: 96%;
}

.dialogue-with-overlays .ui-dialog {
    overflow: visible;
}

.dialogue-with-overlays .ui-dialog .ui-dialog-content {
    /*height: 100%;*/
    overflow: inherit !important;
}

.form-control.ngp-date {
    padding: 0px;
}

.form-control.ngp-date .ui-calendar {
    width: 100%;
    height: 100%;
}

.form-control.ngp-date input {
    width: 100%;
    height: 100%;
}

p-footer {
    display: block;
    width: 100%;
}


/*MDI ICONS Additions*/

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}

.btn .mdi::before {
    position: relative;
    top: 4px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    width: 18px;
}

.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}

.nav .mdi::before {
    position: relative;
    top: 4px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


/*----MDI Icons ends*/