<p class="col-md-12" *ngIf="userSearchOpt">
    <ek-user-search-form (onUserSelect)="onUserSelect($event)"></ek-user-search-form>
</p>

<form role="form" class="form-in-oneview" (ngSubmit)="addUpdateUser()" [formGroup]="userForm">
    <div class="form-in-oneview-sec">
        <h4 class="subheading">Basic Details</h4>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="ufFname">First Name<sup>*</sup></label>
                    <input type="text" class="form-control" id="ufFname" placeholder="First Name" formControlName="firstName">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="uflname">Last Name<sup>*</sup></label>
                    <input type="text" class="form-control" id="uflname" placeholder="Last name" formControlName="lastName">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="ufemail">Email ID<sup>*</sup></label>
                    <input type="text" class="form-control" id="ufemail" placeholder="Email ID" formControlName="email">
                </div>

            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="ufmbl">Mobile Number<sup>*</sup></label>
                    <input type="text" class="form-control" id="ufmbl" placeholder="10 digit mobile number" formControlName="mobile">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12"></div>
            <div class="col-md-6 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12"></div>
            <div class="col-md-6 col-xs-12"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ufstatus">Status</label>
                    <select name="" id="ufstatus" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>

            </div>
        </div>
    </div>


    <div class="form-in-oneview-sec" *ngIf="userType!='ADMIN'">
        <h4 class="subheading">Address</h4>
        <div class="row" formGroupName="address">
            <div class="col-md-6">
                <fieldset formGroupName="shipping">
                    <b>Current/Shipping Address</b>
                    <div class="form-group">
                        <label for="ufadrs">Address</label>
                        <textarea class="form-control" id="ufadrs" placeholder="Address" formControlName="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="uflndmrk">Landmark</label>
                        <input type="text" class="form-control" id="uflndmrk" placeholder="Nearby Landmark" formControlName="landmark">
                    </div>
                    <div class="form-group">
                        <label for="ufcity">City</label>
                        <input type="text" class="form-control" id="ufcity" placeholder="City" formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="ufstate">State</label>
                        <input type="text" class="form-control" id="ufstate" placeholder="State" formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="ufpin">Postal Code (pin)</label>
                        <input type="text" class="form-control" id="ufpin" placeholder="6 Digit PIn Code" formControlName="postalCode">
                    </div>

                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset formGroupName="billing">
                    <b>Billing/Permanant Address <span style="margin-left:50px"><input #bao type="checkbox" (click)="setBillingAddress(bao.checked)"></span> <small>Same as shipping address</small></b>
                    <div class="form-group">
                        <label for="ufpaadrs">Address</label>
                        <textarea class="form-control" id="ufpaadrs" placeholder="Address" formControlName="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ufpalndmrk">Landmark</label>
                        <input type="text" class="form-control" id="ufpalndmrk" placeholder="Nearby Landmark" formControlName="landmark">
                    </div>
                    <div class="form-group">
                        <label for="ufpacity">City</label>
                        <input type="text" class="form-control" id="ufpacity" placeholder="City" formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="ufpastate">State</label>
                        <input type="text" class="form-control" id="ufpastate" placeholder="State" formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="ufpapin">Postal Code (pin)</label>
                        <input type="text" class="form-control" id="ufpapin" placeholder="6 Digit PIn Code" formControlName="postalCode">
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
    <div class="form-in-oneview-sec">
        <h4 class="subheading">Images</h4>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6" *ngIf="userForm.value.profileImg!=''">
                <span class="frm-img-thumb"><img src="{{userForm.value.profileImg}}"></span>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-6">
                <div class="form-group">
                    <label for="id">Profile Photo</label>
                    <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="profileImg"></ek-fileinput>
                </div>


            </div>
        </div>
    </div>

    <div class="form-in-oneview-sec">
        <h4 class="subheading">Login Credentials</h4>
        <div class="row">
            <p class="col-md-12" *ngIf="userForm.value.email==''">Enter Email ID first!</p>

            <div class="col-md-6" *ngIf="userForm.value.email!=''">
                <div class="form-group">
                    <label for="stdun">Username (Email ID)</label>
                    <input type="text" class="form-control" id="stdun" value="{{userForm.value.email}}" placeholder="Username of student (Email ID)" readonly>
                </div>
                <p><label><input #rstPass id="uslgn" type="checkbox" [checked]="resetPassword" (change)="setPasswordOpt(rstPass.checked)"> Set/Re-Set Password.</label></p>
                <div class="form-group" *ngIf="resetPassword">
                    <label for="stdpass">Password</label> <a (click)="generatePassword()">Auto Generate</a>
                    <input type="text" class="form-control" id="stdpass" placeholder="Enter new Password" formControlName="password">
                </div>

            </div>
        </div>
    </div>

    <div class="form-in-oneview-sec" *ngIf="userType=='ADMIN'">
        <h4 class="subheading">App Access</h4>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="id">Add App/Module</label>
                    <select #appIndex class="form-control" (change)="addAppAccess(appIndex.value)">
                        <option [value]="null">Select App</option>
                        <option [value]="i" *ngFor="let app of imsApps; let i=index" >{{app}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <p><b>Added App Access</b></p>
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let app of addedApps; let i=index">
                            <td>{{app}}</td>
                            <td><i class="fa fa-close link" (click)="removeAddedApp(i)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <p class="padding15">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':submitLabel)}}</button>
    </p>
</form>