<form [formGroup]="batchForm" (ngSubmit)="changeBatch()" class="form-horizontal" role="form">


    <div class="form-group">
        <label for="btch">Batch</label>
        <select class="form-control" id="btch" placeholder="Placeholder" formControlName="batch">
            <option [value]="null">Select Batch</option>
            <option [value]="b.id" *ngFor="let b of product?.batches" >{{b.name}}</option>
        </select>
        <label><input type="checkbox" formControlName="updateStd"> Also Update in student profile!</label>
    </div>


    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" [disabled]="!batchForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
        </div>
    </div>
</form>