<div class="rsw-child">
    <div class="panel-loader">

        <form (ngSubmit)="changeMobile()" role="form" [formGroup]="changeMobileFrm">
            <legend *ngIf="title">Change Mobile</legend>

            <div class="form-group">
                <label for="cuMobil">New Mobile Number</label>
                <input type="number" class="form-control" id="cuMobil" placeholder="New mobile number" formControlName="mobile">
            </div>
            <div *ngIf="frmError mb10">

                <div class="alert alert-danger">
                    {{frmError}}
                </div>

            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!changeMobileFrm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
        </form>

    </div>
</div>