<header>
    <div class="header">
        <div class="container" style="position: relative;">
            <div class="ek-logo-sec hidden-xs"><a routerLink="/student/dashboard"><img src="{{client?.logo}}"></a></div>
            <div class="drop-menu">
                <span>
                    <i class="fa fa-close" *ngIf="menuOpened" (click)="menuOpened=false"></i>
                    <i class="fa fa-bars" *ngIf="!menuOpened" (click)="menuOpened=true"></i>
                </span>
                <ul *ngIf="menuOpened">
                    <li (click)="menuOpened=false">
                        <a routerLink="/student/dashboard"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li (click)="menuOpened=false">
                        <a routerLink="/student/online-courses"><i class="fa fa-play"></i> Video Class</a>
                    </li>
                    <li (click)="menuOpened=false">
                        <a routerLink="/student/batchfeeds/notes"><i class="fa fa-file"></i> Study Material</a>
                    </li>
                    <li (click)="menuOpened=false">
                        <a routerLink="/student/testment"><i class="fa fa-check"></i> Test Series</a>
                    </li>
                    <li (click)="menuOpened=false">
                        <a routerLink="/student/batchfeeds/assignments"><i class="fa fa-rocket"></i> Booster Assignment</a>
                    </li>
                    <li (click)="menuOpened=false">
                        <a routerLink="/student/online-courses/video-solution"><i class="fa fa-laptop"></i> Video Solution</a>
                    </li>
                    <li (click)="menuOpened=false">
                        <a routerLink="/student/forum/question"><i class="fa fa-comments"></i> Doubt Forum</a>
                    </li>
                </ul>

            </div>
            <div class="drop-menu-layer" (click)="menuOpened=false" *ngIf="menuOpened" ></div>
            <div class="app-sec">{{EkAppName}}</div>
            <div class="right-sec">
                <ul>
                    <!-- <li class="hidden-xs" *ngFor="let item of headerItems" >
                        <a [routerLink]="item.url">
                            <span class="{{item.icon}}" *ngIf="item.icon"></span>
                            <span *ngIf="item.title">{{item.title}}</span>
                        </a>
                    </li> -->
                    <!-- <li class="hidden-xs"><a routerLink="/student/course">My Courses</a></li> -->
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs hdr-noticeboard-link">
                        <span class="glyphicon glyphicon-bell" (click)="loadNoticeboard()" *ngIf="!nbOpened" ></span>
                        <span class="glyphicon glyphicon-remove" (click)="nbOpened=false" *ngIf="nbOpened" ></span>
                        <div class="hdr-noticeboard panel-loader" [ngClass]="nbLoader" *ngIf="nbOpened" >
                            <ul class="notification-list">
                                <ng-container *ngIf="notifications&&notifications.length>0">
                                    <li *ngFor="let nf of notifications; let i=index;" >
                                        <div *ngIf="nf.campaign?.msg?.contentType=='link'" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a href="{{nf.campaign?.msg?.link||'#'}}" class="link" target="new">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="nf.campaign?.msg?.contentType=='video'" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="nf.campaign?.msg?.contentType=='audio'" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="nf.campaign?.msg?.contentType=='html'" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="nf.campaign?.msg?.contentType=='text'" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="nf.campaign?.msg?.contentType=='pdf'" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new" href="nf.campaign?.msg?.pdf">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="nf.campaign?.msg?.contentType=='img'" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new" href="nf.campaign?.msg?.img">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="nf.campaign?.msg?.contentType=='inapp'||(!nf.campaign?.msg?.contentType&&nf.campaign?.msg?.inapp)" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                        <div *ngIf="!nf.campaign?.msg" >
                                            <!-- <a *ngIf="!nf.targetUrl && nf.htmlContent" class="link" (click)="showNotificationModal(i)" >{{nf.title}}</a> -->
                                            <a  class="link" target="new">{{nf.message}}</a>
                                            <div class="nf-meta"><i class="fa fa-dashboard"></i> {{nf.createdAt| date : 'dd-MM-yyyy'}}</div>
                                        </div>
                                    </li>
                                </ng-container>
                                <p *ngIf="notifications&&notifications.length<1" class="alignC">No News & Notices found.</p>
                            </ul>
                        </div>
                    </li>
                    <li class="last"></li>
                    <li class="user-opts">
                        <span>
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </span>
                        <div class="h-dropdown">
                            <ul class="dropdown-items">
                                <li routerLink="/student/profile">Profile</li>
                                <li routerLink="/student/shop">Admissions/Orders</li>
                                <li (click)="logout()">Logout</li>
                                <!-- <li>Logout</li> -->
                            </ul>
                        </div>
                        <!-- <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu> -->
                    </li>

                </ul>
            </div>
            <img src="./assets/images/header-bg.svg" class="header-bg">

        </div>
    </div>

</header>
