<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10"><h3 class="panel-title">CQPP Test Series</h3></div>
                        <div class="col-md-2"> <button class="btn btn-info pull-right" (click)="showInstructionModal()">Instructions</button></div>
                    </div>
                </div>
                <div class="panel-body">
                    <p-fieldset [toggleable]="true" *ngFor="let testSeries of ceTestSeries;let testSeriesIndex=index" [collapsed]="(testSeriesIndex == activeTestSeries? false: true)" >
                        <p-header>{{testSeries?.tsDetail?.alias}}</p-header>
                        <div class="table-responsive">
                            <table class="table table-bordered cExam-table">
                                <thead>
                                    <tr> 
                                        <td>#</td>
                                        <td>Title</td>
                                        <td>Open Date</td>
                                        <td>Last Date <br>of Submission</td>
                                        <td>Question Paper</td>
                                        <td *ngIf="testSeries?.tsDetail?.isQCAB">Question-cum <br>Answer Book</td>
                                        <td>Your Answer</td>
                                        <td>Result</td>
                                        <td>Evaluated Sheet <ng-container *ngIf="testSeries?.tsDetail?.isEvaluatedVideo">/ Video</ng-container></td>
                                        <!-- <td>Evaluated Video</td> -->
                                        <td>Solution</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!testSeries?.tests||testSeries?.tests.length<1">
                                        <td colspan="8">You don't have any conventional test.</td>
                                    </tr>
                                    <tr *ngFor="let ceTest of testSeries?.tests; let i=index">
                                        <td>#</td>
                                        <td>{{ceTest?.test?.title}}</td>
                                        <td>{{ceTest?.test?.startDate | date:'d MMM, y'}}</td>
                                        <td>{{ceTest?.test?.endDate | date:'d MMM, y'}}</td>
                                        <td>
                                            <a class="btn btn-primary btn-xs2" *ngIf="ceTest?.enablePaperDownload&&ceTest?.test?.quesPdf" href="{{ceTest?.test?.quesPdf}}">Download Ques. Paper</a>
                                            <a class="btn btn-primary btn-xs2" *ngIf="!ceTest?.enablePaperDownload||!ceTest?.test?.quesPdf" disabled>Download Ques. Paper</a>
                                            <div *ngIf="ceTest?.test?.preDiscussionVideos?.ids&&ceTest?.test?.preDiscussionVideos?.ids.length>0" style="margin-top:5px;"><a class="btn btn-info btn-xs2" (click)="showPreDisVideosModal(ceTest)">Pre Discussion Video</a></div>
                                        </td>
                                        <td *ngIf="testSeries?.tsDetail?.isQCAB">
                                            <a class="btn btn-primary btn-xs2" *ngIf="ceTest?.enablePaperDownload&&ceTest?.test?.qcabPdf" href="{{ceTest?.test?.qcabPdf}}"
                                                target="_blank">Download QCAB</a>
                                            <a class="btn btn-primary btn-xs2" *ngIf="!ceTest?.enablePaperDownload||!ceTest?.test?.qcabPdf" disabled>Download QCAB</a>
                                        </td>
                                        <td>
                                            <a *ngIf="!ceTest?.stdResponseFile&&ceTest?.enablePaperUpload" class="btn btn-info btn-xs2" (click)="showAnswerUploadModal(testSeriesIndex,i)">Upload Answersheet</a>
                                            <a *ngIf="!ceTest?.stdResponseFile&&!ceTest?.enablePaperUpload" class="btn btn-info btn-xs2" disabled>Upload Answersheet</a>
                                            <ng-container *ngIf="ceTest?.stdResponseFile">
                                                <a class="btn btn-link" target="_blank" href="{{ceTest?.stdResponseFile}}">Your Answersheet</a>
                                                <ng-container *ngIf="!ceTest?.confirmedToCheck">
                                                    <br>
                                                    <a class="btn btn-info btn-xs2" style="margin-top: 5px;" target="_blank" href="{{ceTest?.test?.modalAnsSheet}}" *ngIf="ceTest?.test?.modalAnsSheet" style="margin-top:5px;">Modal Answer Sheet</a>
                                                    <span style="width:55%;">
                                                        <a class="btn btn-danger btn-xs2" style="font-size: 10px;white-space: pre-wrap; margin-top: 5px;" (click)="confirmedToCheck(testSeriesIndex,i)">Confirm To Evaluate</a>
                                                    </span>
                                                    <span style="width:40%;">
                                                        <a class="btn btn-primary btn-xs2" style="font-size: 10px; margin-top: 5px; " (click)="showAnswerUploadModal(testSeriesIndex,i)">Reupload</a>
                                                    </span>
                                                </ng-container>
                                                <span style="width:40%;" *ngIf="ceTest?.isPdfInvalid">
                                                    <a class="btn btn-primary btn-xs2" style="font-size: 10px; margin-top: 5px; " (click)="showAnswerUploadModal(testSeriesIndex,i)">Reupload</a>
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="ceTest?.isPdfInvalid">
                                                <span>
                                                    <strong class="label label-danger">Rejected</strong>
                                                    <i class="glyphicon glyphicon-question-sign" title="{{ceTest?.reasonOfInvalid}}"></i>
                                                </span>
    
                                            </ng-container>
                                            <ng-container *ngIf="!ceTest?.isPdfInvalid">
                                                <span *ngIf="ceTest?.isChecked">
                                                    <b>Score :{{ceTest?.score}}</b>
                                                    <a class="btn btn-info btn-xs2"  *ngIf="ceTest?.test?.topSheetEnable" style="margin-top:5px;" (click)="showTop5SheetsModal(ceTest)">Top 5 Sheets</a>
                                                </span>
                                                <!-- <a class="btn btn-info" *ngIf="!ceTest?.onlineResultPdf||!ceTest?.enableSolnDownload" disabled>Check Now</a> -->
                                                <a class="btn btn-info btn-xs2" *ngIf="ceTest?.test?.onlineResultPdf" href="{{ceTest?.test?.onlineResultPdf}}">Check Now</a>
                                                <span *ngIf="!ceTest?.isChecked">Not Checked yet!</span><br>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <a *ngIf="!ceTest?.checkedFile " class="btn btn-success btn-xs2 " disabled>Evaluated Sheet</a>
                                            <a *ngIf="ceTest?.checkedFile" class="btn btn-success btn-xs2" href="{{ceTest?.checkedFile}}" target="_blank">Evaluated Sheet</a>
                                            <ng-container *ngIf="testSeries?.tsDetail?.isEvaluatedVideo">
                                                <div style="margin-top:5px;">
                                                    <a *ngIf="!ceTest?.isEvaluatedVideo " class="btn btn-default btn-xs2 " disabled>Evaluated Video</a>
                                                    <a *ngIf="ceTest?.isEvaluatedVideo" class="btn btn-default btn-xs2" (click)="showEvaluatedVideoModal(ceTest?.evaluatedVideo)">Evaluated Video</a>
                                                </div>
                                                <ng-container *ngIf="ceTest?.checkedFile">
                                                    <a class="btn btn-info btn-xs2  " style="margin-top: 10px;font-size: 10px" (click)="showFeedBackModal(testSeriesIndex,i)">FeedBack</a>
                                                </ng-container>
                                            </ng-container>
                                        </td>
                                        <!-- <td>
                                            <a *ngIf="!ceTest?.isEvaluatedVideo " class="btn btn-primary btn-xs2 " disabled>Evaluated Video</a>
                                            <a *ngIf="ceTest?.isEvaluatedVideo" class="btn btn-success btn-xs2" (click)="showEvaluatedVideoModal(ceTest?.evaluatedVideo)">Evaluated Video</a>
                                        </td> -->
                                        <td>
                                            <!-- <a class="btn btn-success btn-xs2" *ngIf="!ceTest?.test?.solPdf||(!ceTest?.confirmedToCheck&&!ceTest?.enableSolnDownload)||(!ceTest?.enableSolnDownload&&!ceTest?.enablePaperUpload)||!ceTest?.enableSolnDownload" -->
                                            <a class="btn btn-success btn-xs2" *ngIf="(!ceTest?.test?.solPdf ||!ceTest?.enableSolnDownload) "   disabled>Download Solution</a>
                                            <a class="btn btn-success btn-xs2" *ngIf="ceTest?.test&&ceTest?.test?.solPdf && ceTest?.enableSolnDownload"
                                                href="{{ceTest?.test?.solPdf}}" target="_blank">Download Solution
                                            </a>
                                            <br>
                                            
                                            <ng-container *ngIf="ceTest?.test?.solVideos?.ids&&ceTest?.test?.solVideos?.ids.length>0&&ceTest?.enableSolnDownload">
                                                <ng-container *ngFor="let video of ceTest?.test?.solVideos?.ids;let videoIndex=index">
                                                    <a style="cursor: pointer;color: black;font-size: 11px;" (click)="showVideoModal(video,ceTest?.test?.solVideos?.source,testSeriesIndex,i)">
                                                        <i class="fa fa-play-circle-o"></i> Watch solution <span *ngIf="ceTest?.test?.solVideos.length>1" >{{videoIndex+1}}</span>
                                                    </a>
                                                    <br>
                                                </ng-container>
                                                <label *ngIf="ceTest?.test?.videoViewsLimit" style="font-size: 12px;">View Limit : {{ceTest?.test?.videoViewsLimit}}</label>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Upload Answersheet" [width]="600" [height]="400" [modal]="true" [(visible)]="answerUploadModal">
    <div class="panel-loader" [ngClass]="panelLoader">
        <p><input type="file" id="fmFile"></p>
        <p><button class="btn btn-info" (click)="uploadAnswerSheet()" [disabled]="panelLoader == 'show'? true:false">{{(panelLoader == 'show'? 'Processing...':'Upload')}}</button></p>
    </div>
</p-dialog>
<p-dialog header="Evaluated Video" [modal]="true" [width]="600" [height]="400" [(visible)]="displayVideoModal">
    <iframe *ngIf="evaluatedVideoURL" width="550" height="300" frameborder="0" [src]="evaluatedVideoURL"></iframe>
</p-dialog>
<p-dialog header="Pre Discussion Video" [modal]="true" [width]="600" [(visible)]="displayPreDisVideoModal">
    <div>
        <ul class="list-inline">
            <li *ngFor="let id of activeTest?.test?.preDiscussionVideos?.ids; let i = index;">
                <a class="btn btn-info btn-xs2" (click)="changeVideoURL(id,activeTest?.test?.preDiscussionVideos?.source)">Video {{i+1}}</a>
            </li> 
        </ul>
    </div>
    <iframe *ngIf="preDisVideoURL" width="550" height="300" frameborder="0" [src]="preDisVideoURL"></iframe>
</p-dialog>
<p-dialog header="Top 5 Sheets" [modal]="true" [width]="600" [modal]="true" [(visible)]="displaytop5SheetsModal">
    <table class="table table-1 table-bordered0">
        <thead>
            <tr>
                <th>#</th>
                <th>Student</th>
                <th>Score</th>
                <th>Evaluated Sheet</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of topStudents;let i = index;">
                <td>{{i+1}}</td>
                <td>{{student.user?.firstName}} {{student.user?.lastName}}</td>
                <td>{{student.score}}</td>
                <td><a class="btn btn-success btn-xs2"  target="_blank" href="{{student.checkedFile}}" >View Sheet</a></td>
            </tr>
        </tbody>
    </table>
</p-dialog>
<p-dialog header="View Answersheet" [width]="1024" [height]="600" [modal]="true" [(visible)]="viewPdfModal">
    
    <object data="https://s3-us-west-2.amazonaws.com/s.cdpn.io/149125/relativity.pdf" type="application/pdf" width="100%" height="100%">
        <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>.</p>
     </object>
</p-dialog>
<p-dialog header="Instructions" [modal]="true" [width]="600" [height]="400" [(visible)]="instructionModal">
    <ul>
        <li>Download QCAB.</li>
        <li>Write your answer in QCAB Format for better practice and real feel of UPSC Mains otherwise you can write your answer in A4 paper also.</li>
        <li>Scan all the pages of your answer sheet properly with clear visibility in a single PDF File.</li>
        <li>Answer Sheet PDF file size should not exceed to 50MB.</li>
        <li>Upload your answer sheet before last date of submission.</li>
        <li>You can re-upload your answer sheet if you find any issue in your uploaded sheet.</li>        
        <li>Click on "Confirm to Evaluate" Button to submit your answer sheet. </li>
        <li>Check carefully before submission your answer sheet as you can't upload the file again once submitted.</li>
        <li>You can view the Solution only after submission of your answer sheet.</li>
        <li>Once your answer sheet gets evaluated, you can view it in the same panel with your score.</li>
    </ul>
</p-dialog>

<p-dialog header="Feedback Form"  [width]="600" [height]="400" [(visible)]="showFeedBackOption">
    <div class="panel-loader" [ngClass]="panelLoader">
        
        <form  role="form" [formGroup]="feedBackForm" >
            <table class="table ">
                <thead>
                    <tr>
                        <th>Q.No.</th>
                        <th>Question</th>
                        <th>Your Response</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let fb of feedbackList">
                        <tr *ngFor="let q of fb.fbqs;let i =index" >
                            <td>{{i+1}}</td>
                            <td>{{q?.title}}</td>
                            <td>
                                <select formControlName="response" id="" class="form-control" >
                                    <option value="null">Select Response</option>
                                    <option value="1">Poor</option>
                                    <option value="2">Average</option>
                                    <option value="3">Medium</option>
                                    <option value="4">Good</option>
                                    <option value="5">Excellent</option>
                                </select>
                            </td>
                            <td><button class="btn btn-success" (click)="submitFeedBack(q.id)">Submit</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </form>
    </div>
</p-dialog>

<div class="panel-loader" [ngClass]="panelLoader">
<p-dialog header="Solution Video" (onHide)="closeVideo()" [modal]="true" [resizable]="false" [draggable]="false" [width]="600"
    [height]="400" [(visible)]="showVideo">
    <div class="panel-loader" [ngClass]="panelLoader" *ngIf="videoSolutions">
        <iframe [src]="videoSolutions" width="550" height="300" frameborder="0" allowfullscreen></iframe>
    </div>
    <p *ngIf="viewLimitMsg" style="color : red;">{{viewLimitMsg}}</p>
</p-dialog>
</div>
