<div class="activity-content full-window">
    <div class="window-header">
        <div class="wh-logo hidden-xs"><img src="./assets/images/logo.png"></div>
        <div class="wh-course-back"><a routerLink="/student/online-courses"><i class="pi pi-angle-left"></i></a></div>
        <div class="wh-course-title">{{product?.title||client?.title}}</div>
        <div class="wh-course-more"> </div>
    </div>
    <div class="window-body" *ngIf="!blockVideoCourse">
        <div class="window-leftbar" [ngClass]="leftbarState"  id="windowLeftSideBar" #windowLeftSideBar>
            <a (click)="toggleLeftBar()" class="visible-xs leftbar-toggle">
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="glyphicon glyphicon glyphicon-remove"></span>
            </a>

            <div class="course-curriculum">
                <div class="chapters">
                    <div class="chapter ek-collapse" #colapsible *ngFor="let subject of subjects; let i=index" state="0">
                        <div class="chapter-title ek-collapse-head" [ngClass]="i==activeSubjectIndex?'activeSubject':''" (click)="selectSubject(i);colapsible.state=!colapsible.state;">
                            <p><b>{{subject?._id?.subject?.name}}</b> </p>
                            <i *ngIf="colapsible?.state"  class="fa fa-chevron-right"></i>  <i *ngIf="!colapsible?.state" class="fa fa-chevron-down"></i>
                        </div>
                        <div class="chapter-lessons ek-collapse-body"   [@slideUpDown]="i===activeSubjectIndex">
                            <div class="lesson" [ngClass]="activeChapterIndex==chapterIndex&&i==activeSubjectIndex?'activeClass':''" *ngFor="let chapter of chapters;let chapterIndex=index" (click)="selectChapter(i, chapterIndex)">
                                <div class="lesson-data" >
                                    <p>{{chapter?._id?.unit?.name}} <br><small>{{chapter?.lessons.length}} Lessons</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="window-leftbar-right"   id="windowLeftSideBarRight" #windowLeftSideBarRight>
            <div class="head-title">{{activeChapter?.lessons?.length}} Lessons:</div>
            <div class="course-curriculum">
                <div class="lesson" [ngClass]="activeLessonIndex==lessonIndex&&lessonIndex==activeLessonIndex?'activeClass':''" *ngFor="let lesson of activeChapter?.lessons;let lessonIndex=index" (click)="loadLessonContent(lessonIndex)">
                    <div class="lesson-data" >
                        <p> {{lesson?.title}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="window-content panel-loader" [ngClass]="panelLoader">
            <ng-container *ngIf="product&&product?.sourceId&&product?.sourceId.length<1">
                <p>Sorry, no Content avalable!</p>
            </ng-container>
            <ng-container *ngIf="product&&product?.sourceId&&product?.sourceId.length>0">
                <div class="row" *ngIf="userProduct=='no'&&activeLesson.type=='paid'">
                    <div class="col-md-12">
                        <p>Locked! To access this lesson, you need to buy this package. <a class="btn btn-info" routerLink="/student/online-courses/buy">Buy Now</a></p>
                    </div>
                </div>
                <div class="row" *ngIf="activeLesson?.content" >

                    <div class="col-md-12 col-xs-12 main-content-sec" >
                        <div class="lesson-theory" *ngIf="activeLesson?.activeContentType=='theory'" >
                            <ng-container *ngIf="activeLesson?.content&&activeLesson?.content.length>0">
                                <ng-container  *ngFor="let content of activeLesson?.content">
                                    <ng-container *ngIf="content?.content=='x'">
                                        <ng-container *ngIf="content?.type=='text'">
                                            <div [innerHTML]="content?.content"></div>
                                            <hr>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='image'">
                                                <img src="{{content?.content}}">
                                                <hr>
                                        </ng-container>
                                        <ng-container *ngIf="content.type=='video'">
                                                <!-- <iframe id="videocontent" [src]="content.content"  width="100%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                                                <iframe  id="videocontent" [src]="content.content"  width="100%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                                <!-- <iframe  *ngIf="content.source=='vimeo'&&activeLesson?.hlsv" [src]="content.hlsPlayerUrl"  width="100%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                                                <!-- <iframe width="450" height="250" [src]="content.content" *ngIf="content.source=='YouTube'"></iframe> -->
                                                <hr>
                                            </ng-container>
                                        <ng-container *ngIf="content.type=='live'">
                                            <div class="live-content">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="live-zoom-bx" style="color:white">
                                                            <img src="./assets/images/streaming.svg">
                                                            <span *ngIf="liveTimer&&liveTimer.secs<3600&&liveTimer.secs>0" ><i class="fa fa-clock-o"></i> {{liveTimer.mm}}:{{liveTimer.ss}} Mins</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 live-info">
                                                        <p><span>Date:</span> <b>{{content.startTime | date:"dd-MM-yyyy"}}</b></p>
                                                        <p><span>Time:</span> <b>{{content.startTime | date:"hh:mm aa"}}</b></p>
                                                        <p><span>Duration:</span> <b>{{content.duration}} Mins</b></p>
                                                        <p class="alignC" >
                                                            <a *ngIf="liveTimer.secs<1"  [href]="getSafeURL(apiUrl+'/course-creator/lesson-content/'+activeLesson._id+'/'+productId+'/j-live-class/'+activeLesson?.live?.id+'?accessKey='+accessKey)" target="blank" class="btn btn-danger btn-lg" >Join Live Class</a>
                                                            <button *ngIf="liveTimer.secs>0" target="new" class="btn btn-danger btn-lg muted" disabled>Join Live Class</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='audio'">
                                            <iframe width="100%" height="300" [src]="content?.content" frameborder="0"></iframe>
                                            <hr>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='pdf'">
                                            <!-- <a href="{{content?.content}}" target="new">Download</a> -->
                                            <div class="pdf-card  ml-10 pt-10 pb-10 pl-5">
                                                <a class="btn btn-link pr-0" target="new" href="{{content?.content}}"><i class="fa fa-2x fa-file-pdf-o text-danger"></i></a>
                                                <a class="btn btn-link pl-0" target="new" href="{{content?.content}}"> {{content?.title}}</a>
                                            </div>
                                            <hr>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='slides'">
                                            <iframe width="100%" height="580" [src]="content?.content" frameborder="0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            <hr>
                                        </ng-container>

                                    </ng-container>

                                    <ng-container *ngIf="content.content!==''">
                                        <ng-container *ngIf="content?.type=='text'">
                                            <div class="lead shadow p-10 ml-10 mr-10" [innerHTML]="content?.content"></div>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='image'">
                                                <img src="{{content?.content}}">
                                        </ng-container>
                                        <ng-container *ngIf="content.type=='video'">
                                            <div class="video-player">
                                                <!-- <span class="video-watermark">
                                                  {{sessionStd?.srn}}  | {{sessionStd?.email}}
                                                </span> -->

                                                <iframe *ngIf="content.source=='YouTube'" [src]="content.content"  width="100%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                                <iframe  *ngIf="content.source=='vimeo'" id="videocontent" [src]="content.content"  width="100%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                                <!-- <iframe  *ngIf="content.source=='vimeo'&&activeLesson?.hlsv" [src]="content.hlsPlayerUrl"  width="100%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                                                <iframe  *ngIf="content.source=='Vidrize'" [src]="content.content"  width="100%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                            </div>
                                                <!-- <iframe width="450" height="250" [src]="content.content" *ngIf="content.source=='YouTube'"></iframe> -->
                                        </ng-container>
                                        <ng-container *ngIf="content.type=='live'">
                                            <div class="live-content">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="live-zoom-bx" style="color:white">
                                                            <img src="./assets/images/streaming.svg">
                                                            <span *ngIf="liveTimer&&liveTimer.secs<3600&&liveTimer.secs>0" ><i class="fa fa-clock-o"></i> {{liveTimer.mm}}:{{liveTimer.ss}} Mins</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 live-info">
                                                        <p><span>Date:</span> <b>{{content.startTime | date:"dd-MM-yyyy"}}</b></p>
                                                        <p><span>Time:</span> <b>{{content.startTime | date:"hh:mm aa"}}</b></p>
                                                        <p><span>Duration:</span> <b>{{content.duration}} Mins</b></p>
                                                        <p class="alignC" >
                                                            <a *ngIf="liveTimer.secs<1"  [href]="getSafeURL(apiUrl+'/course-creator/lesson-content/'+activeLesson._id+'/'+productId+'/j-live-class/'+activeLesson?.live?.id+'?accessKey='+accessKey)" target="blank" class="btn btn-danger btn-lg" >Join Live Class</a>
                                                            <button *ngIf="liveTimer.secs>0" target="new" class="btn btn-danger btn-lg muted" disabled>Join Live Class</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="content.type=='vive'">
                                            <div class="live-content">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="live-zoom-bx" style="color:white">
                                                            <img src="./assets/images/streaming.svg">
                                                            <span *ngIf="liveTimer&&liveTimer.secs<3600&&liveTimer.secs>0" ><i class="fa fa-clock-o"></i> {{liveTimer.mm}}:{{liveTimer.ss}} Mins</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 live-info">
                                                        <p><span>Date:</span> <b>{{content.startTime | date:"dd-MM-yyyy"}}</b></p>
                                                        <p><span>Time:</span> <b>{{content.startTime | date:"hh:mm aa"}}</b></p>
                                                        <p><span>Duration:</span> <b>{{content.duration}} Mins</b></p>
                                                        <p class="alignC" >
                                                            <a *ngIf="liveTimer.secs<1" (click)="launchHostUrl('vive')"  class="btn btn-danger btn-lg" >Join Live Class</a>
                                                            <button *ngIf="liveTimer.secs>0" target="new" class="btn btn-danger btn-lg muted" disabled>Join Live Class</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='audio'">
                                            <iframe width="100%" height="300" [src]="content?.content" frameborder="0"></iframe>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='pdf'">
                                            <!-- <a href="{{content?.content}}" target="new" class=" btn btn-outline-info "><i class="fa fa-pdf"></i> {{content?.title}}</a> -->
                                            <div class="pdf-card  ml-10 pt-10 pb-10 pl-5">
                                                <a class="btn btn-link pr-0" target="new" href="{{content?.content}}"><i class="fa fa-2x fa-file-pdf-o text-danger"></i></a>
                                                <a class="btn btn-link pl-0" target="new" href="{{content?.content}}"> {{content?.title}}</a>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="content?.type=='slides'">
                                            <iframe width="100%" height="580" [src]="content?.content" frameborder="0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </ng-container>
                                        <hr>
                                    </ng-container>
                                </ng-container>

                            </ng-container>

                            <!-- <div class="lesson-opts">
                                <a class="btn btn-success btn-xs" *ngIf="activeLesson&& !activeLesson?.completeStatus" (click)="lessonCompletedAndLoadNext()">Complete and go to next lesson</a>
                            </div> -->
                        </div>
                        <div  class="lesson-quiz" *ngIf="activeLesson?.activeContentType=='quiz'">
                            <div class="quiz-details" *ngIf="!isReadyToAttemptQuiz&&!responses&&!submitted">
                                <table class="table table-bordered table-striped table-condensed">
                                    <tbody>
                                       <tr>
                                        <th>Lesson</th> <td> {{activeLesson?.title}}</td>
                                       </tr>
                                       <tr>
                                           <th>Quiz Name</th>
                                           <td>{{quiz?.title}}</td>
                                       </tr>
                                       <tr>
                                           <th>Total Questions</th>
                                           <td> {{quiz?.totalMarks}}</td>
                                       </tr>
                                       <tr>
                                           <td colspan="2" class="alignC">
                                                <a class="btn btn-info" (click)="loadQuizQuestions(quiz?.id)">Attempt Now</a>
                                            </td>
                                       </tr>
                                    </tbody>
                                </table>
                                <!-- <p style="font-size: 14px">
                                    <b>Quiz Name</b>: {{quiz?.title}}<br>
                                    <strong></strong>: {{quiz?.totalQs}} <br>
                                    <strong>Total Marks</strong> :<br>
                                </p> -->
                            </div>
                            <ng-container *ngIf="!submitted&&!responses">
                                <div class="question" *ngIf="activeQuestion&&activeQuestion?.question">
                                    <div class="question-info">
                                        <span class="qNo">#{{activeQuestionIndex+1}}</span>
                                        <span [innerHTML]="activeQuestion?.question?.qContent"></span>
                                    </div>
                                    <div class="question-options">
                                        <form [formGroup]="questionResponseForm">
                                            <ul class="option-content" *ngIf="activeQuestion?.question?.qType == 'MCQ' || activeQuestion?.question?.qType == 'ARQ' || activeQuestion?.question?.qType == 'PTQ'" style="list-style-type: none;">
                                                <li><input type="radio" id="optionA" formControlName="answer" value="A"><span>(A)</span><label for="optionA" [innerHTML]="activeQuestion?.question?.qOption.optionA"></label></li>
                                                <li><input type="radio" id="optionB" formControlName="answer" value="B"><span>(B)</span><label for="optionB" [innerHTML]="activeQuestion?.question?.qOption.optionB"></label></li>
                                                <li><input type="radio" id="optionC" formControlName="answer" value="C"><span>(C)</span><label for="optionC" [innerHTML]="activeQuestion?.question?.qOption.optionC"></label></li>
                                                <li><input type="radio" id="optionD" formControlName="answer" value="D"><span>(D)</span><label for="optionD" [innerHTML]="activeQuestion?.question?.qOption.optionD"></label></li>
                                                <li *ngIf="activeQuestion?.question?.qOption.optionE"><input type="radio" id="optionE" formControlName="answer" value="E"><span>(E)</span><label for="optionE" [innerHTML]="activeQuestion?.question?.qOption.optionE"></label></li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                                <div class="quiz-footer">

                                    <div class="row" *ngIf="activeQuestion&&activeQuestion.question">
                                        <div class="col-md-1 col-sm-2 col-xs-4">
                                            <a class="btn btn-warning" (click)="submitAndFinish()">Finish</a>
                                        </div>
                                        <div class="col-md-offset-8 col-sm-offset-5 col-sm-5 col-md-3 col-xs-8">
                                            <span><a class="btn btn-info" (click)="setActiveQuestion(activeQuestionIndex>0?activeQuestionIndex-1:null)" [ngClass]="activeQuestionIndex==0?'hide':''">Previous</a></span>
                                            <span><a class="btn btn-info" (click)="saveAndNext()" [ngClass]="activeQuestionIndex==questions.length-1?'hide':''">Save & Next</a></span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="responses&&responses?.questions">
                                <div class="quiz-report">
                                    <div class="well bg-success ">
                                        You Have attempted this quiz!
                                    </div>
                                    <table class="table table-bordered table-striped table-condensed">
                                        <tr>
                                            <th style="font-size:18px"> Total Questions</th>
                                            <th style="font-size:18px">{{quiz?.totalQs||0}}</th>
                                        </tr>
                                        <tr>
                                            <th style="font-size:18px">Attempt</th>
                                            <th style="font-size:18px"> {{responses?.correctQs+responses?.inCorrectQs}} </th>
                                        </tr>
                                        <tr>
                                            <th style="font-size:18px"> Correct </th>
                                            <th style="font-size:18px">{{responses?.correctQs||0}}</th>
                                        </tr>
                                        <tr>
                                            <th style="font-size:18px"> Incorrect</th>
                                            <th style="font-size:18px">{{responses?.inCorrectQs||0}}</th>
                                        </tr>
                                    </table>
                                </div>
                                <div  class="question" *ngFor="let qs of responses?.questions;let i=index">
                                    <div class="question-info">
                                            <span class="qNo"> #{{i+1}} </span>
                                            <span [innerHTML]="qs?.question?.qContent"></span>
                                    </div>
                                    <div class="question-options">
                                        <ul class="option-content" *ngIf="qs?.question?.qType == 'MCQ' || qs?.question?.qType == 'ARQ' || qs?.question?.qType == 'PTQ'" style="list-style-type: none;">
                                            <li>
                                                <span>(A)</span>
                                                <label for="optionA" [innerHTML]="qs?.question?.qOption.optionA"></label>
                                            </li>
                                            <li><span>(B)</span><label for="optionB" [innerHTML]="qs?.question?.qOption.optionB"></label></li>
                                            <li><span>(C)</span><label for="optionC" [innerHTML]="qs?.question?.qOption.optionC"></label></li>
                                            <li><span>(D)</span><label for="optionD" [innerHTML]="qs?.question?.qOption.optionD"></label></li>
                                            <li *ngIf="qs?.question?.qOption.optionE"><span>(E)</span><label for="optionE" [innerHTML]="qs?.question?.qOption.optionE"></label></li>
                                        </ul>
                                    </div>
                                    <div class="question-answer"   >
                                        <table class="table table-striped">
                                            <thead >
                                                <th *ngIf="qs?.answer&&qs.status=='answered'"><p  [ngClass]="qs?.isCorrect?'correct-answer':'wrong-anwer'"> Your Answer : {{qs?.answer}} </p></th>
                                                <th *ngIf="!qs?.answer&&!qs.status"><p class=""> Not attempted</p> </th>
                                                <th > <p>Correct Answer : {{qs?.question?.ans}}</p></th>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="question-solution">
                                        <ng-container><a class="btn btn-primary" (click)="setSolution(i)">view Solution</a></ng-container>
                                        <ng-container *ngIf="i==activeSolutionIndex">
                                            <ng-container *ngIf="qs?.question?.qSolution">
                                                <h4>Solution</h4>
                                                <span [innerHTML]="qs?.question?.qSolution"></span>
                                            </ng-container>
                                            <ng-container *ngIf="!qs?.question?.qSolution||qs?.question?.qSolution==null||qs?.question?.qSolution==''">
                                                <p>Solution not available</p>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="lesson-forum" *ngIf="activeLesson?.activeContentType=='forum'">
                            <!-- Discuccion Forum of {{activeLesson?.title}} -->
                            <forum-thread [thread]="activeLesson?._id"></forum-thread>
                        </div>
                        <div class="lesson-assignment" *ngIf="activeLesson?.activeContentType=='assignment'">
                            <table class="mt-15 table table-stripped" >
                                <th>
                                    Assignment
                                </th>
                                <th>Response</th>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a target="new" href="{{activeLesson?.assignment}}">Download Assignment</a>
                                            <p><b>Note:</b> <small>Please download assignment PDF file and write answer </small></p>
                                        </td>
                                        <td>
                                            <p *ngIf="userLesson&&userLesson.stdResponseUrl"> <a target="new" href="{{userLesson?.stdResponseUrl}}">Your response</a> </p>
                                            <p  *ngIf="userLesson&&!userLesson.stdResponseUrl">
                                                <ek-fileinput customClass="form-control" [(ngModel)]="assignmentResponse"></ek-fileinput>
                                                <button class="btn btn-xs btn-primary  mt-5" (click)="addAssignmentResponse()">Submit Assignment</button>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="lession-feedback" *ngIf="activeLesson?.activeContentType=='feedBack'">
                            <ng-container *ngIf="feedbackResponses&&feedbackResponses.length>0">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>#</th>
                                            <th>Question</th>
                                            <th>Your Answer</th>
                                            <th> Chosen Option</th>
                                            <th>Admin Reply</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let response of feedbackResponses; let i=index">
                                                <td>{{i+1}}</td>
                                                <td>{{response?.feedbackQs?.title}}</td>
                                                <td>{{response?.response}}</td>
                                                <td>{{response?.chosenOption}}</td>
                                                <td>
                                                    {{response?.reply?response?.reply:'Not Replied Yet!'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="feedbackResponses&&feedbackResponses.length<1">
                                <ng-container *ngIf="!feedBackResponseSubmitted">
                                    <h4><b>Note:</b> Please Give your feedBack on our Live Classes</h4>
                                    <div class="lesson-feedback-data" role="form" [formGroup]="feedBackResponseForm">
                                        <div formArrayName="responses" class="lesson-feedback-qs-data" *ngFor="let feedbackQs of feedbackQuesitons;let i=index">
                                            <ng-container [formGroupName]="i">
                                                <div class="lesson-feedback-qs">
                                                    <span>Q.{{i+1}}</span> {{feedbackQs?.title}} </div>
                                                <div class="lesson-feedback-options" [ngClass]="feedbackQs?.type=='rating'?'lesson-feedback-options-row':''">
                                                    <div class="option" [ngClass]="feedbackQs?.type=='rating'?'rating-option':''">
                                                        <input type="radio" value="{{feedbackQs?.options?.optionA}}"  formControlName="chosenOption" > {{feedbackQs?.options?.optionA}}
                                                    </div>
                                                    <div class="option" [ngClass]="feedbackQs?.type=='rating'?'rating-option':''">
                                                        <input type="radio" value="{{feedbackQs?.options?.optionB}}" formControlName="chosenOption"> {{feedbackQs?.options?.optionB}}
                                                    </div>
                                                    <div class="option" [ngClass]="feedbackQs?.type=='rating'?'rating-option':''">
                                                        <input type="radio" value="{{feedbackQs?.options?.optionC}}" formControlName="chosenOption"> {{feedbackQs?.options?.optionC}}
                                                    </div>
                                                    <div class="option" [ngClass]="feedbackQs?.type=='rating'?'rating-option':''">
                                                        <input type="radio" value="{{feedbackQs?.options?.optionD}}" formControlName="chosenOption"> {{feedbackQs?.options?.optionD}}
                                                    </div>
                                                    <div class="option" [ngClass]="feedbackQs?.type=='rating'?'rating-option':''">
                                                        <input type="radio" value="{{feedbackQs?.options?.optionE}}" formControlName="chosenOption" *ngIf="feedbackQs?.options?.optionE&&feedbackQs?.options?.optionE!=''"> {{feedbackQs?.options?.optionE}}
                                                    </div>
                                                </div>
                                                <div class="lesson-feedback-response" *ngIf="feedbackQs?.type!=='rating'">
                                                    <label for="">Your Response</label>
                                                    <textarea style="width: 500px;" formControlName="response" class="form-control"></textarea>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="lesson-feedback-footer">
                                            <button (click)="submitFeedBackResponses()" class="btn btn-sm btn-info"> Submit</button>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container  *ngIf="feedBackResponseSubmitted">
                                    <p class="lesson-feedback-submitted jumbotron">
                                        <span class="fa-2x"><i class="fa fa-check-circle-o"></i> Thank You..</span> <br>
                                        Your response has been submitted successfully...
                                    </p>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="!activeLesson?.content&&panelLoader=='none'">
                    <!-- <h4>Sorry, no content available for now!</h4> -->
                    <div class="alignC video-maker-img" style="height: 60vh; margin-top: 12%;">
                        <h4>We hope you're enjoying learning, we'll be back soon with another lecture.</h4>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="row" *ngIf="blockVideoCourse">
        <div class="col-md-12 alignC pt-100">
            <p> To watch video please download out Android App </p>
            <p> <a class="btn btn-success" href="https://play.google.com/store/apps/details?id=com.alphalearning.app">Download & Install APP Now</a></p>
        </div>
    </div>

</div>
