<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="head" style="display: flex;
            justify-content: space-between;">
                <h3 class="page-title">
                    <i *ngIf="activeProduct&&!activeLesson" (click)="loadProductList()" class="pi pi-arrow-left" style="cursor: pointer;"></i>  
                    <i *ngIf="activeLesson" (click)="loadCourse(activeProductIndex)" class="pi pi-arrow-left" style="cursor: pointer;"></i>  
                    <span *ngIf="!activeProduct"> Video Lectures</span> 
                    <span *ngIf="activeProduct&&!activeLesson">&nbsp;{{activeProduct?.product?.title}}</span>
                    <span *ngIf="activeLesson">&nbsp;{{activeLesson?.title}} <small style="font-size: 16px;">in {{activeLesson?.unit?.name}}</small></span>
                </h3>
                <p-calendar *ngIf="activeProduct&&!activeLesson"  [(ngModel)]="selectedDate" (onSelect)="onDateChange()" dateFormat="dd-MM-yy" placeholder="Today" showIcon="true"></p-calendar>
            </div>
            <hr>
            <div class="course-card-container panel-loader" [ngClass]="panelLoader" *ngIf="!activeProduct">
                <div class="course-card-item-h" *ngFor="let up of userProducts;let i=index">
                    <div class="course-card">
                       
                        <div class="course-card-body">
                            <div class="course-card-img" style="background-image: url({{up?.product?.featureImg}}); background-size: cover; background-position: center;">
                                <a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}">
                                    <!-- <img class="img-responsive" src="{{up?.product?.featureImg}}" alt="{{up?.product?.title}}"> -->
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a (click)="loadCourse(i)">{{ (up?.product?.title.length>45)? (up?.product?.title | slice:0:45)+'...':(up?.product?.title) }}</a>
                                </p>
                                <!-- <p><a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}" class="btn btn-success">Access Course</a></p> -->
                                <p class="alignR"><a (click)="loadCourse(i)" class="btn btn-success"><i class="pi pi-arrow-right"></i></a></p>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="course-card-item" *ngFor="let up of freeProducts">
                    <div class="course-card">
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">
                                    <img class="img-responsive" src="{{up?.featureImg}}" alt="{{up?.title}}">
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">{{ (up?.title.length>45)? (up?.title | slice:0:45)+'...':(up?.title) }}</a>
                                </p>
                                <p><a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}" class="btn btn-success">Access Cource</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <p *ngIf="userProducts&&userProducts.length<1">
                    No Courses available for you. to view our courses <a routerLink="/student/online-courses/buy">Click here</a>
                </p> -->
                <p *ngIf="userProducts&&userProducts.length<1" >You have not enrolled to any courses yet! <a class="btn btn-info" routerLink="/student/shop/product">Buy</a></p>

                <!-- <div class="col-md-3">
                    <a routerLink="/student/online-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/student/online-courses/my-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/student/online-courses/my-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
            <div class="course-lesson-container panel-loader" [ngClass]="panelLoader" *ngIf="activeProduct&&!activeLesson">
                <div class="row" *ngFor="let lsn of lessons; let li=index">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="lsn-card">
                            <div class="mn-heading">{{lsn.unit.name}}</div>
                            <div class="sb-heading"><i class="pi pi-folder"></i> {{lsn.subject.name}} &nbsp; &nbsp;  <i class="pi pi-file"></i>{{lsn.title}}</div>
                            <div class="opts">
                                <div class="lft">
                                    <span>{{lsn.publishDate | date:'hh:mm'}}</span>
                                    <span>
                                        <small>{{lsn.publishDate | date:'aa'}}</small>
                                        <small>{{lsn.publishDate | date:'dd MMM'}}</small>
                                    </span>
                                </div>
                                <div class="rt">
                                    <button *ngIf="!lsn.pending&&!lsn.expired" class="btn btn-sm btn-success" (click)="loadLessonContent(li)"> <i class="pi pi-play"></i> Watch</button>
                                    <button *ngIf="lsn.pending" class="btn btn-sm btn-success" disabled> <i class="pi pi-play"></i> Coming soon</button>
                                    <button *ngIf="lsn.expired" class="btn btn-sm btn-success" disabled> <i class="pi pi-play"></i> Expired</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="well" *ngIf="lessons&&lessons?.length<1">
                    No lectures available for now!
                </p>
            </div>
            <div class="course-lesson-data-container panel-loader" [ngClass]="panelLoader" *ngIf="activeLesson">
                <div class="row" >
                    <div class="col-md-12" *ngFor="let block of activeLesson?.content">
                        <ng-container *ngIf="block?.type=='text'">
                            <div class="lead shadow p-10 ml-10 mr-10" [innerHTML]="block?.content"></div>
                        </ng-container>
                        <ng-container *ngIf="block?.type=='image'">
                                <img src="{{block?.content}}">
                        </ng-container>
                        <ng-container *ngIf="block.type=='video'">
                            <div class="video-player" style="position: relative;">
                                <!-- <span class="video-watermark">
                                  {{sessionStd?.srn}}  | {{sessionStd?.email}}
                                </span> -->
                                <span class="vid-ldr">Loading...</span>
                                <iframe *ngIf="block.source=='YouTube'" [src]="block.content"  width="98%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <iframe  *ngIf="block.source=='vimeo'" id="videocontent" [src]="block.content"  width="98%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <iframe  *ngIf="block.source=='Vidrize'" id="videocontent" [src]="block.content"  width="98%" height="580" class="video-iframe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <span class="un-overlay" style="position: absolute; z-index: 100002; right: 50px; top: 80px; font-size: 12px; color: red; opacity: 0.6;">{{sessionStd?.firstName}} {{sessionStd?.lastName}}<br>{{sessionStd?.mobile}}</span>
                            </div>
                            <div class="lsn-desc" *ngIf="activeLesson?.description" >
                                <div [innerHTML]="activeLesson?.description"></div>
                            </div>
                                <!-- <iframe width="450" height="250" [src]="block.content" *ngIf="block.source=='YouTube'"></iframe> -->
                        </ng-container>
                        
                    </div>
                </div>
                <p class="well" *ngIf="activeLesson?.content&&activeLesson?.content?.length<1">
                    Lecture is not available for now!
                </p>
            </div>
        </div>

    </div>
</div>


