<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3 class="page-title">My Courses</h3>
            <hr>
            <div class="course-card-container panel-loader" [ngClass]="panelLoader">
                <div class="course-card-item" *ngFor="let up of userProducts;let i=index">
                    <div class="course-card">
                        <ng-container *ngIf="getValidity(up.validTill)==true">
                            <div class="expired-layer"></div>
                        </ng-container>
                        <div class="course-card-body">
                            <div class="course-card-img" style="background-image: url({{up?.product?.featureImg}}); background-size: cover; background-position: center;">
                                <a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}">
                                    <!-- <img class="img-responsive" src="{{up?.product?.featureImg}}" alt="{{up?.product?.title}}"> -->
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}">{{ (up?.product?.title.length>45)? (up?.product?.title | slice:0:45)+'...':(up?.product?.title) }}</a>
                                </p>
                                <p class="p-info">
                                    <span><i class="pi pi-th-large"></i> {{up?.product?.stream?.value}}</span> &nbsp;
                                    <span><i class="pi pi-table"></i> {{up?.product?.course?.value}}</span>
                                    
                                </p>
                                <p><a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}" class="btn btn-info btn-sm">Access Course</a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="course-card-item" *ngFor="let up of freeProducts">
                    <div class="course-card">
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">
                                    <img class="img-responsive" src="{{up?.featureImg}}" alt="{{up?.title}}">
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">{{ (up?.title.length>45)? (up?.title | slice:0:45)+'...':(up?.title) }}</a>
                                </p>
                                <p><a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}" class="btn btn-success">Access Cource</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <p *ngIf="userProducts&&userProducts.length<1">
                    No Courses available for you. to view our courses <a routerLink="/student/online-courses/buy">Click here</a>
                </p> -->
                <p *ngIf="userProducts&&userProducts.length<1" >You have not enrolled to any courses yet! <a class="btn btn-info" routerLink="/student/shop/product">Buy</a></p>

                <!-- <div class="col-md-3">
                    <a routerLink="/student/online-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/student/online-courses/my-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/student/online-courses/my-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>

    </div>
</div>


