
<div class="row">
    <div class="col-md-4 cmpn-steps" style="margin-top:50px">
        <div class="cmpn-step" [ngClass]="activeStep===1?'active':''" (click)="directToStep(1)" >
            <span>1</span>
            <span>Create Campaign Message</span>
            <span class="cmpn-vline"></span>
        </div>

        <div class="cmpn-step" [ngClass]="activeStep===2?'active':''" (click)="directToStep(2)">
            <span>2</span>
            <span>Select Contacts</span>
            <span class="cmpn-vline"></span>
        </div>
        <div class="cmpn-step" [ngClass]="activeStep===3?'active':''" (click)="directToStep(3)">
            <span>3</span>
            <span>Confirm & Send</span>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default" *ngIf="activeStep===1" style="border: solid 1px #dadfe3;">
            <div class="panel-heading">
                <h3 class="panel-title">Basic Details <small *ngIf="!editCampaignType&&campaignType" >{{campaignType}} Campaign</small></h3>
            </div>
            <div class="panel-body panel-loader" [ngClass]="frmLoader">
                <form class="form-horizontal fgm0" role="form" (ngSubmit)="addCampaign()" [formGroup]="campaignForm">
                    <!-- common -->
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="campTitle">Campaign Title </label>
                            <input type="text" class="form-control" id="campTitle" placeholder="Title of Campaign" formControlName="title">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="editCampaignType" >
                        <div class="form-group" >
                            <label for="testCourse">Notification Type<sup>*</sup>:</label>
                            <select name="" id="type" #type class="form-control" formControlName="type" (change)="setCampaignType(type.value)">
                                <option value="null">Select Type</option>
                                <option value="NOTICEBOARD">Notice Board in Student APP</option>
                                <option value="ANDROIDPUSH">Android Push Notification</option>
                                <option value="SMS" disabled>SMS</option>
                                <option value="EMAILPUSH" disabled>EMAIL</option>
                                <option value="WEBPUSH" disabled>WEB PUSH</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="type?.value!='SMS'" >
                        <div class="form-group">
                            <label for="thumb">Feature Image:</label>
                            <ek-fileinput class="form-control" formControlName="thumb"></ek-fileinput>
                        </div>
                    </div>
                    <!--campaignType: Student Notice Board -->
                    <fieldset  class="col-md-12 campaign-msg-fieldset" formGroupName="msg" *ngIf="campaignType=='NOTICEBOARD'">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cmpSubject">Message Heading</label>
                                <input type="text" class="form-control" id="cmpSubject" placeholder="Title of message/notice/announcement" formControlName="heading">
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="testCourse">Target Content Type<sup>*</sup>:</label>
                                <select name="" id="target" #contentType formControlName="contentType" class="form-control">
                                    <option value="null">Select Content Type</option>
                                    <option value="html">Direct Content</option>
                                    <option value="link">Link</option>
                                    <option value="video">YouTube VIDEO</option>
                                    <option value="pdf">PDF</option>
                                    <option value="image">Image</option>
                                    <option value="inapp">APP Page</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="contentType.value=='html'">
                            <div class="form-group">
                                <label for="contentText">Message Content<sup>*</sup>:</label>
                                <quill-editor id="targetHtml" formControlName="html"></quill-editor>
                            </div>
                        </div>
                        <div class="col-md12 col-xs-12" *ngIf="contentType.value=='link'">
                            <div class="form-group">
                                <label for="destnURL">Link URL</label>
                                <input type="text" class="form-control" id="destnURL" placeholder="Enter URL here" formControlName="link">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="contentType?.value=='image'" >
                            <div class="form-group">
                                <label for="featureImg">Target Image:</label>
                                <ek-fileinput class="form-control" formControlName="image" typeCategory="IMAGE"></ek-fileinput>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="contentType?.value=='pdf'" >
                            <div class="form-group">
                                <label for="featureImg">Target PDF:</label>
                                <ek-fileinput class="form-control" formControlName="pdf" typeCategory="PDF"></ek-fileinput>
                            </div>
                        </div>

                        <div class="col-md-12 col-xs-12" *ngIf="contentType?.value=='video'" >
                            <div class="form-group">
                                <label for="featureImg">Youtube Video ID:</label>
                                <input type="text" class="form-control" id="video" #video placeholder="Enter Video ID here" formControlName="video">
                                <p *ngIf="video.value" >
                                    <br>
                                    <iframe width="560" height="315" [src]="cleanURL('https://www.youtube.com/embed/'+video.value+'?controls=0')" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </p>
                            </div>
                        </div>

                    </fieldset>

                    <!--campaignType: Student Notice Board -->
                    <fieldset  class="col-md-12 campaign-msg-fieldset" formGroupName="msg" *ngIf="campaignType=='ANDROIDPUSH'">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="cmpSubject">Notification Title</label>
                                <input type="text" class="form-control" id="cmpSubject" placeholder="Title of notification" formControlName="heading">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textContent">Notification Body</label>
                                <textarea rows="4" class="form-control" id="textContent" placeholder="Message" formControlName="text"></textarea>
                            </div>
                        </div>

                    </fieldset>
                </form>
                <div class="col-md-12 andrd-push-params-sets" *ngIf="additionalParamsOpt||campaignForm?.value?.msg?.contentType=='inapp'">
                    <div class="andrd-push-params-set" *ngFor="let keyValSet of keyValSets; let i=index" >
                        <input type="text" placeholder="Key" [(ngModel)]="keyValSets[i].key">
                        <input type="text" placeholder="Value" [(ngModel)]="keyValSets[i].val">
                        <button type="button" class="btn btn-danger btn-outline" (click)="removeKeyValSet(i)"><i class="fa fa-close"></i></button>
                    </div>
                    <p class="alignR">
                        <button type="button" class="btn btn-default" (click)="keyValSets.push({key:'', val:''})"><i class="fa fa-plus"></i> Additional Params</button>
                    </p>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <button type="button" (click)="nextStep2()" class="btn btn-primary" [disabled]="!campaignForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Next')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" *ngIf="activeStep===2" style="border: solid 1px #dadfe3;">
            <div class="panel-heading">
                <h3 class="panel-title">Select Contacts</h3>
            </div>
            <div class="panel-body panel-loader" [ngClass]="contactLoader" >
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <label for="contactFilter">Send to<sup>*</sup>:</label>
                        <select name="" id="contactFilter" (change)="setContactFilter($event)"  class="form-control">
                            <option value="null">Select</option>
                            <option value="all">All Contacts</option>
                            <option value="filter">Filtered Contacts</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12" *ngIf="contactFilter=='filter'" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="contactFilter">Send to<sup>*</sup>:</label>
                            <select name="" id="contactFilterType"  class="form-control" (change)="setContactFilterType($event)">
                                <option value="null">Select Filter Type</option>
                                <option value="product">Filter by Program/Product</option>
                                <option value="course">Filter by Stream</option>
                                <option value="stream">Filter by Course</option>
                                <option value="list">Filter by Contact List</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="contactFilterType=='product'" >
                        <div class="form-group">
                            <label for="contactFilter">Send to<sup>*</sup>:</label>
                            <select name="" id="contactFilterType"  class="form-control" (change)="getContactCount($event)">
                                <option value="null">Select Product/Program</option>
                                <option value="{{product.id}}" *ngFor="let product of cfItems" >{{product.title}} ({{product.alias}})</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="col-md-12 col-xs-12">
                    <p class="bold">Total Contacts: {{contactCount}}</p>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <button type="button" (click)="nextStep3()" class="btn btn-primary" >Next</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" *ngIf="activeStep===3" style="border: solid 1px #dadfe3;">
            <div class="panel-heading">
                <h3 class="panel-title">Confirm & Send </h3>
                <button *ngIf="campaignType=='ANDROIDPUSH'"  class="btn btn-xs btn-default pull-right" (click)="testPushModal='show'">Test</button>
            </div>
            <div class="panel-body" style="position: relative;">
                <div class="col-md-12 col-xs-12">
                    <div><small>Heading/Title</small><p>{{campaignForm?.value.msg?.heading}}</p></div>
                    <div *ngIf="campaignType=='NOTICEBOARD'" ><small>Content</small>
                        <p *ngIf="campaignForm?.value?.msg?.contentType=='html'" class="cmpn-html-content"  [innerHtml]="campaignForm?.value.msg?.html"></p>
                        <p *ngIf="campaignForm?.value?.msg?.contentType=='text'"  >campaignForm?.value.msg?.text</p>
                        <p *ngIf="campaignForm?.value?.msg?.contentType=='image'"  ><img [src]="cleanURL(campaignForm?.value.msg?.image)" style="max-width: 100%; max-height: 300px;"></p>
                        <p *ngIf="campaignForm?.value?.msg?.contentType=='pdf'"  ><a target="new" [href]="cleanURL(campaignForm?.value.msg?.pdf)">PDF</a></p>
                        <p *ngIf="campaignForm?.value?.msg?.contentType=='link'"  ><a target="new" [href]="cleanURL(campaignForm?.value.msg?.link)">Link</a></p>
                        <p *ngIf="campaignForm?.value?.msg?.contentType=='video'"  >
                            <iframe width="560" height="315" [src]="cleanURL('https://www.youtube.com/embed/'+campaignForm?.value.msg?.video+'?controls=0')" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>
                    </div>
                    <div *ngIf="campaignType=='ANDROIDPUSH'" >
                        <small>Message</small>
                        <p *ngIf="campaignForm?.value?.msg?.contentType=='text'" class="cmpn-text-content" >{{campaignForm?.value.msg?.text}}</p>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div>
                        <p><b>Total Contacts: </b><span >{{contactCount}} contacts</span> <span *ngIf="contactFilter=='all'" >(All contacts)</span></p>
                    </div>

                </div>
                <div class="success-msg-cmpn" *ngIf="campaignSent" >
                    <i class="fa fa-check"></i> Sent!
                    <br>
                    <a class="btn btn-default" routerLink="/ims/notification/campaign">View Campaigns</a>
                    <a class="btn btn-default" (click)="resetCampaign()">New Campaign</a>
                </div>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group">
                        <button *ngIf="!createdCampaign"  type="button" (click)="addCampaign()" class="btn btn-primary" >{{(formStatus=='Processing'?'Processing...':'Confirm')}}</button>
                        <span *ngIf="createdCampaign" class="text-success">Confirmed</span>
                        <button *ngIf="createdCampaign"  type="button" (click)="sendCampaign()" class="btn btn-info" > {{(formStatus=='Processing'?'Processing...':'Send')}} <i class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="ek-modal" [ngClass]="testPushModal">
    <div class="ekm-content">
        <div class="ekm-cancel-btn" (click)="testPushModal='hide'">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </div>
        <div class="ekm-header">
            <h4>Send Push notification for testing</h4>
        </div>
        <div class="ekm-body panel-loader">
            <p>FCM Token<br><textarea class="form-control" [(ngModel)]="testFcmToken"></textarea></p>
            <p>
                <button  type="button" (click)="sendTestAndroidPushNotification()" class="btn btn-info" > {{(formStatus=='Processing'?'Processing...':'Send')}} <i class="fa fa-send"></i></button>
            </p>
        </div>
    </div>
    <div class="ekm-bg" (click)="testPushModal='hide'"></div>
</div>

