<div class="student-profile-card panel-loader" [ngClass]="panelLoader">
    <div class="spc-container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="pi col-xs-5 col-sm-4"><img *ngIf="student?.personalImg&&student?.personalImg!='NA'"  src="{{student?.personalImg}}"><img *ngIf="!student?.personalImg||student?.personalImg=='NA'"  src="./assets/images/avatar-student.png"></div>
                    <div class="col-xs-7 col-sm-8">
                        <h3 class="title">{{student?.firstName}} {{student?.lastName}}</h3>
                        <p><span class="glyphicon glyphicon-envelope"></span> {{student?.email}}<br><small><span class="glyphicon glyphicon-phone"></span> {{student?.mobile}}</small></p>
                        <p>Enrollement No.: {{student?.srn}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="row mb10">
                    <div class="col-xs-5 alignC-xs">Stream:</div>
                    <div class="col-xs-7"><b>{{student?.majorStream?.valueAlias}}</b></div>
                </div>
                <div class="row mb10">
                    <div class="col-xs-5 alignC-xs">Course:</div>
                    <div class="col-xs-7"><b>{{student?.majorCourse?.valueAlias}}</b></div>
                </div>
                <div class="row mb10">
                    <div class="col-xs-5 alignC-xs">Center:</div>
                    <div class="col-xs-7"><b>{{student?.center?.title}}</b></div>
                </div>
                <div class="row mb10">
                    <div class="col-xs-5 alignC-xs">Session:</div>
                    <div class="col-xs-7"><b>{{student?.session?.name}}</b></div>
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="row std-prfl-stats">
                    <div class="col-md-6 col-sm-3 col-xs-3 mb10">
                        <b>0</b><br>
                        <span>Followers</span>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-3 mb10">
                        <b>0</b><br>
                        <span>Following</span>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-3">
                        <b>0</b><br>
                        <span>Study Score</span>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-3">
                        <b>0</b><br>
                        <span>Practice Score</span>
                    </div>
                </div>
            </div> -->
        </div>
