<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <!-- <h3 class="panel-title">Quiz</h3> -->
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <h3 class="panel-title"><i  routerLink="/student/dashboard" class="pi pi-arrow-left back-btn-icon" style="cursor: pointer;"></i>  Quiz</h3>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <ul class="list-inline pull-right"  *ngIf="student&&student?.batches&&student?.batches.length>0">
                                <li><label for="activeIndex">Batches :</label></li>
                                <li>
                                     <div class="form-group" *ngIf="student?.batches&&student?.batches.length>0">
                                        <select class="form-control" name="activeIndex" [ngModelOptions]="{standalone: true}" [(ngModel)]="activeIndex" (change)="setActiveBatch(dfaultLang.value)" #dfaultLang >
                                            <option value="{{i}}" *ngFor="let batch of student?.batches;let i=index">{{batch?.batch?.code}}</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-body"> 
                    <div class="batch-feeds">
                            <div class="row" *ngIf="quizList&&quizList.length>0">
                                <div class="col-md-4 mb-15" *ngFor="let feed of quizList;let i=index">
                                    <div class="quiz-card-container" [ngClass]="(i%2==0)?'quiz-card-bighead-bg':'quiz-card-orange-bg'">
                                        <div class="quiz-card-head">
                                            <h2>
                                                {{feed?.data?.title}}
                                            </h2>
                                        </div>
                                        <div class="quiz-card-body">
                                            <p>
                                                <b>Total Qs</b> : {{feed?.data?.totalQs}}  | <b>Total Marks</b> : {{feed?.data?.totalMarks}}  | <b>Total Duration</b> : {{feed?.data?.duration}}
                                            </p>
                                            <div >
                                                Desc: <span [innerHtml]="feed?.data?.description||'-NA-'"></span>
                                            </div>
                                        </div>
                                        <div class="quiz-card-footer">
                                            <button [disabled]="quizOpened" (click)="quizWindow(feed?.data?.id)" class="btn btn-success" *ngIf="!feed?.data.isAttempted&&feed?.data.canAttempt">Take Quiz</button>
                                            <button [disabled]="true" class="btn btn-success" *ngIf="!feed?.data.canAttempt">Take Quiz</button>
                                            <a routerLink="/student/quiz/report/overview" [queryParams]="{quiz:feed?.data?.id}" class="btn btn-warning" *ngIf="feed?.data?.isAttempted">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <ng-container *ngIf="quizList&& quizList.length<1">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <p class="p-15"> -->
                                        <!-- No Quiz available for you. -->
                                        <div class="data-not-found"></div>
                                    <!-- </p> -->
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
