<div class="activity-content" >
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile panel-loader" *ngIf="activeStep == 1" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <span class="panel-title">{{tsProduct?.title}}</span>
                    <ul class="list-inline pull-right">
                        <li><b style="font-size: 18px;">&#8377; {{tsProduct?.cost}}/- </b> <b style="text-decoration: line-through; color: gray;">{{tsProduct?.mrp}}</b></li>
                        <li *ngIf="tsProduct && freeProduct"><a class="btn btn-success" (click)="enrollFreeProduct()">Free Enroll Now</a></li>
                        <li *ngIf="tsProduct && !freeProduct"><a class="ek-btn btn-create" (click)="activeStep = 2">Buy Now</a></li>
                    </ul>
                    <!-- <span class="pull-right"></span> -->
                    <!-- <span class="pull-right" ></span> -->
                </div>
                <div class="panel-body">
                    <div class="row margin-bottom-10" *ngIf="tsProduct">
                        <div class="col-md-offset-1 col-md-4 col-xs-12">
                            <img class="ts-img" src="{{tsProduct?.featureImg}}" alt="No Image" style="width: 20em;height: 20vh;">
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="col-md-6 col-xs-12">Course :<b> {{tsProduct?.course?.valueAlias}}</b></div>
                            <div class="col-md-6 col-xs-12">Total Test Series :<b> {{tsProduct?.sourceId?.length}}</b></div>
                            <div class="col-md-6 col-xs-12">Stream :<b> {{tsProduct?.stream?.valueAlias}}</b></div>
                            <div class="col-md-12 col-xs-12">Description : <b [innerHTML]="tsProduct?.description"></b></div>
                        </div>
                    </div>
                    <div *ngFor="let ts of testSeries;let i=index;">
                            <p-fieldset legend="TestSeries - {{ts?.title}}" [toggleable]="true">
                                <div class="row panel-loader" [ngClass]="testLoader">
                                    <div class="col-md-offset-1 col-md-2 col-xs-12">
                                        <img *ngIf="ts?.featureImage" class="ts-img" src="{{ts?.featureImage}}" alt="No Image">
                                        <img *ngIf="!ts?.featureImage" class="ts-img" src="./assets/images/test-series.jpg" alt="No Image">
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <table class="table alignC">
                                            <tbody>
                                                <tr>
                                                    <td><div>Course :<b> {{ts?.course?.valueAlias}}</b></div></td>
                                                    <td><div>Stream :<b> {{ts?.stream?.valueAlias}}</b></div></td>
                                                </tr>
                                                <tr>
                                                    <td><div>Total Tests :<b> {{ts?.totalTests}}</b></div></td>
                                                    <td *ngIf="!ts?.tests"><a class="ek-btn btn-list" (click)="loadTests(ts?.id,i)">View Tests</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 col-xs-12 table-responsive" *ngIf="ts?.tests">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>#</td>
                                                    <td>Title</td>
                                                    <td>Total Marks</td>
                                                    <td>Questions</td>
                                                    <td>Duration</td>
                                                    <td>Action</td>
                                                </tr>
                                                <tr *ngFor="let data of ts?.tests; let j=index;">
                                                    <td><b>{{j+1}}</b></td>
                                                    <td><a class="a-test" (click)="viewTest(data?.test)"><b> {{data?.test?.title}}</b><br><small>{{data?.test?.alias}}</small></a></td>
                                                    <td><b>{{data?.test?.maxScore}}</b></td>
                                                    <td><b>{{data?.test?.totalQs}}</b></td>
                                                    <td><b>{{data?.test?.duration}}</b></td>
                                                    <td>
                                                        <ng-container *ngIf="data?.test?.isFree">
                                                            <button class="btn btn-primary btn-xs" *ngIf="testOpened" (click)="loadTests(ts?.id,i)"><i class="fa fa-refresh"></i></button>
                                                            <ng-container *ngIf="data?.test?.testType == 'PRACTICE'">
                                                                <ng-container *ngIf="data?.test?.oneTimeSubmission">
                                                                        <button class="btn btn-success btn-mini" *ngIf="data?.userOnlineTest?.isAttempted == false" [disabled]="testOpened" (click)="testWindow(ts?.id,data?.test?.id)">Attempt Now</button>
                                                                </ng-container>
                                                                <ng-container *ngIf="!data?.test?.oneTimeSubmission">
                                                                        <button class="btn btn-success btn-mini" [disabled]="testOpened" (click)="testWindow(ts?.id,data?.test?.id)">Attempt Now</button>
                                                                </ng-container>
                                                                <button class="btn btn-warning btn-mini" *ngIf="data?.userOnlineTest?.isAttempted == true" [disabled]="testOpened" routerLink="/student/testment/overview" [queryParams]="{uotId:data?.userOnlineTest?.id}">Report</button>
                                                            </ng-container>
                                                            <ng-container *ngIf="data?.test?.testType == 'LIVE'">
                                                                <button class="btn btn-success btn-mini" *ngIf="!data?.userOnlineTest?.isAttempted" [disabled]="data?.test?.isTestStarted == false || testOpened" (click)="testWindow(ts?.id,data?.test?.id)">Attempt Now</button>
                                                                <button class="btn btn-warning btn-mini" *ngIf="data?.userOnlineTest?.isAttempted && data?.test?.showLiveResult" [disabled]="testOpened"  routerLink="/student/testment/overview" [queryParams]="{uotId:data?.userOnlineTest?.id}">Report</button>
                                                                <!-- <div class="brooch brooch-info" *ngIf="data?.userOnlineTest && data?.userOnlineTest?.isAttempted == true && !data?.test?.showLiveResult"> Attempted </div> -->
                                                                <button class="btn btn-primary" *ngIf="data?.userOnlineTest && data?.userOnlineTest?.isAttempted && !data?.test?.showLiveResult">
                                                                    Result Will Declared On<br>{{data?.test?.resultDate | date : "MMM d, y h:mm a"}}
                                                                </button>
                                                            </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="!data?.test?.isFree">
                                                            <button class="ek-btn btn-primary btn-mini" *ngIf="tsProduct && freeProduct" (click)="enrollFreeProduct()"><i class="fa fa-unlock"></i> Unlock Test</button>
                                                            <button class="ek-btn btn-primary btn-mini" *ngIf="tsProduct && !freeProduct" (click)="activeStep = 2"><i class="fa fa-unlock"></i> Unlock Test</button>
                                                        </ng-container>
                                                        <button class="ek-btn btn-list btn-mini" (click)="viewTest(data?.test)">View</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </p-fieldset>
                    </div>
                    <div class="col-md-12" *ngIf="testSeries?.length < 1">
                        <h3 style="text-align: center"> No Test Series Available</h3>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-profile panel-loader" *ngIf="activeStep == 2" [ngClass]="panelLoader">
                <div class="panel-body">
                    <h3 class="alignC">Order Details</h3>
                    <table class="table alignC">
                        <tbody>
                            <tr>
                                <th>Product</th>
                                <th>Course</th>
                                <th>Stream</th>
                                <th>Total TestSeries</th>
                                <th>Total Tests</th>
                                <th>Amount (INR)</th>
                            </tr>
                            <tr>
                                <td>{{tsProduct?.title}}</td>
                                <td>{{tsProduct?.course?.valueAlias}}</td>
                                <td>{{tsProduct?.stream?.valueAlias}}</td>
                                <td>{{tsProduct?.sourceId?.length}}</td>
                                <td>{{tsProduct?.totalTests}}</td>
                                <td>{{tsProduct?.cost}} <i class="fa fa-inr"></i></td>
                            </tr>
                            <tr>
                                <td colspan="100%">
                                    <a class="ek-btn btn-list" (click)="createOrder()">Proceed</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary panel-default panel-loader" *ngIf="activeStep == 3" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <span class="panel-title">Payment</span>
                    <button class="btn btn-primary btn-mini pull-right" routerLink="/student/testment/testseries"><i class="fa fa-arrow-left"></i></button>
                </div>
                <div class="panel-body">
                    <ek-student-order-payment [order]="order"></ek-student-order-payment>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{test?.title}}" [modal]="true" [(visible)]="displayTestModal">
    <div class="row">
        <div class="col-md-12 col-xs-12 table-responsive">
            <div class="">
            </div>
            <table class="table alignC">
                <tbody>
                    <tr>
                        <td><div><small>Total Marks</small><br><b> {{test?.maxScore}}</b></div></td>
                        <td><div><small>Total Questions</small><br><b> {{test?.totalQs}}</b></div></td>
                        <td><div><small>Total Duration</small><br><b> {{test?.duration}} M</b></div></td>
                        <!-- <td><div><small>Type</small><br><b> {{test?.testType}}</b></div></td> -->
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr>
                        <td>#</td>
                        <td>Section</td>
                        <td>Marks</td>
                        <td>Questions</td>
                        <!-- <td>Duration</td> -->
                    </tr>
                    <tr *ngFor="let section of test?.sections;let i=index;" style="font-weight:bold;">
                        <td>{{i+1}}</td>
                        <td>{{section.title}}</td>
                        <td>{{section.totalMarks}}</td>
                        <td>{{section.totalQs}}</td>
                        <!-- <td>{{section.maxTime}} M</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <small>Description</small><b [innerHTML]="test?.description"></b>
            <ul>
                <li *ngIf="test?.maqPM">Multiple Answer Questions has Partial Marking.</li>
                <li *ngIf="test?.maqPM">Matrix Type Questions has Partial Marking.</li>
            </ul>
        </div>
    </div>
</p-dialog>

