<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading pt-5 pb-5 mb-0" >
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <h3 class="panel-title pt-5"><i  routerLink="/student/dashboard" class="pi pi-arrow-left back-btn-icon" style="cursor: pointer;"></i>  Study Material</h3>
                        </div>
                        <div class="col-md-6 col-xs-12"  *ngIf="student&&student?.batches&&student?.batches.length>0">
                            <ul class="list-inline pull-right">
                                <li><label for="activeBatchIndex">Batches :</label></li>
                                <li>
                                    <select class="form-control" name="activeBatchIndex" [ngModelOptions]="{standalone: true}" [(ngModel)]="activeBatchIndex" (change)="setActiveBatch(dfaultLang.value)" #dfaultLang >
                                        <option value="{{i}}" *ngFor="let batch of student?.batches;let i=index">{{batch?.batch?.code}}</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="panel-body pt-10">
                    <div class="row" *ngIf="subjects&&subjects.length>0&&!selectedSubject">
                        <div class="col-md-12 pl-10 pb-10">
                            <b>Select a Subject</b>
                        </div>
                        <div class="col-md-12 p-10 bg-outline-grey link mb-10" *ngFor="let subject of subjects"
                            (click)="selectedSubject=subject;getBacthNotes({subject:subject?.id})">
                            <span>
                                <img src="./assets/images/book-blue.png" class="w-30 img-responsive img-circle img-thumbnail">
                            </span>
                            <span>{{subject?.name}} </span>
                            <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
                        </div>
                    </div>
                    <div class="row" *ngIf="selectedSubject">
                        <div class="col-md-12">
                            <p class="alignR"><a class="btn btn-info btn-xs" (click)="selectedSubject=null;activeFilter=null;">Change Subject</a></p>
                            <div class="ek-tabs">
                                <ul class="ek-tab-list group">
                                    <li>

                                        <a  (click)="setActiveTab('StudyMaterial')" [ngClass]="activeTab=='StudyMaterial'?'active-tab':''"> <i class="fa fa-file"></i> Study Material</a>
                                    </li>
                                    <li>
                                        <a (click)="setActiveTab('WorkBook')" [ngClass]="activeTab=='WorkBook'?'active-tab':''">  <i class="fa fa-check-circle"></i>  WorkBook</a>
                                    </li>
                                </ul>

                                <div class="ek-tab" *ngIf="activeTab=='StudyMaterial'">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Type</th>
                                                    <th>Genere</th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let feed of notes;let i=index'>
                                                     <td>
                                                         {{i+1}}
                                                     </td>
                                                     <td>
                                                         {{feed?.data?.title}}
                                                     </td>
                                                     <td>
                                                         {{
                                                             feed?.data?.type
                                                         }}
                                                     </td>
                                                     <td>
                                                         {{
                                                             feed?.data?.genere
                                                         }}
                                                     </td>
                                                     <td>
                                                         <a (click)="showDetails(i)" class="btn btn-primary btn-sm">View Details</a>
                                                     </td>
                                                </tr>
                                                <ng-container *ngIf="notes&& notes.length<1">
                                                <tr>
                                                     <td colspan="6" class="alignC p-15">
                                                         <!-- <p><b>Notes not found for you..,</b></p> -->
                                                         <div class="data-not-found"></div>
                                                     </td>
                                                </tr>
                                             </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="ek-tab" *ngIf="activeTab=='WorkBook'">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th> Title </th>
                                                    <th> Start Date  </th>
                                                    <th> Last Date </th>
                                                    <th> Assignment PDF </th>
                                                    <th> Response </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let feed of assignments;let i=index">
                                                    <td>
                                                        {{i+1}}
                                                    </td>
                                                    <td>
                                                        {{
                                                            feed?.data?.title
                                                        }}
                                                    </td>
                                                    <td>
                                                        {{feed?.data?.startDate|date}}
                                                    </td>
                                                    <td>
                                                        {{feed?.data?.endDate |date}}
                                                    </td>
                                                    <td>

                                                            <button class="btn btn-primary btn-sm" (click)="displayPdf(feed?.data?.quesPdf)" *ngIf="feed?.data?.quesPdf"
                                                            >Downoad Assignment</button>
                                                            <button class="btn btn-primary btn-sm" *ngIf="!feed?.data?.quesPdf"
                                                            disabled>Downoad Assignment</button>
                                                    </td>
                                                    <td>
                                                        <a *ngIf="feed?.data?.canAttempt&&!feed?.data?.response?.stdResponseFile"
                                                            (click)="showAnswerUploadModal(i)"
                                                            class="btn btn-primary btn-sm">Upload Answersheet</a>
                                                        <button
                                                            *ngIf="!feed?.data?.canAttempt&&!feed?.data?.response.stdResponseFile"
                                                            class="btn btn-primary btn-sm" disabled>Upload
                                                            Answersheet</button>
                                                        <ng-container *ngIf='feed?.data?.response.stdResponseFile'>

                                                            <a href="{{feed?.data?.response.stdResponseFile}}">Your
                                                                Response</a>
                                                            <ng-container *ngIf="!feed?.data?.response?.confirmedToCheck">
                                                                <a class="btn btn-success btn-mini"
                                                                    (click)="confirmedToCheck(i)">Confirm to Evaluate</a>
                                                                <a class="btn btn-primary btn-mini"
                                                                    (click)="showAnswerUploadModal(i)">Reupload
                                                                    Answersheet</a>
                                                            </ng-container>
                                                        </ng-container>
                                                        <span style="width:40%;" *ngIf="feed?.data?.response?.isPdfInvalid">
                                                            <a class="btn btn-primary btn-xs2"
                                                                style="font-size: 10px; margin-top: 5px; "
                                                                (click)="showAnswerUploadModal(i)">Reupload</a>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <ng-container *ngIf="assignments&& assignments.length<1">
                                                    <td colspan="6" class="alignC  p-15">
                                                        <div class="data-not-found"></div>
                                                    </td>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="displayArticleDetail" [fullScreen]="true" [ngStyle]="{overflow:'scroll'}" blockScroll="true">
    <div class="container">
        <ng-container *ngIf="selectedArticle?.data?.link" style="position: relative; ">
            <span style="position:absolute; left:48%; top:10%; z-index:-1">Loading...</span>

            <iframe style="width: 100%;height: 100vh;" [src]="selectedArticle?.data?.link" frameborder="0"></iframe>

            <!-- <embed style="width: 100%;height: 100vh;" [src]="getSafeUrl(selectedArticle?.data?.link)" type=""> -->
        </ng-container>
    </div>
</p-sidebar>


<p-sidebar [(visible)]="pdfViewer.show" [fullScreen]="true" [ngStyle]="{overflow:'scroll'}" class="pdf-sidebar" blockScroll="true">
    <div class="container">
        <ng-container *ngIf="pdfViewer?.link" style="position: relative; ">
            <span style="position:absolute; left:48%; top:10%; z-index:-1">Loading...</span>
            <!-- <embed style="width: 100%;height: 100vh;" [src]="getSafeURL(pdfViewer?.link+'#toolbar=0')" type=""> -->
            <iframe style="width: 100%; height : 100%" [src]="pdfViewer?.link" frameborder="0"></iframe>
        </ng-container>
    </div>
</p-sidebar>
