<div class="forum-thread panel-loader" [ngClass]="panelLoader">
    <ng-container *ngIf="panelLoader=='none'">
        <div class="well" *ngIf="qPosts&&qPosts.length<1">
            <b>Have any doubt query?</b><br> You can ask your all queries here related to this lesson.
        </div>
        <div class="doubt-btn" *ngIf="!activateAddQsForm&&!activeQPost">
            <a class="ek-btn btn-list" (click)="activeQPost=null;activateAddQsForm=true">Ask your Doubt</a>
        </div>
        <div class="forum-qs" *ngIf="!activeQPost&&!activateAddQsForm" >
            <div class="forum-q-set" *ngFor="let qPost of qPosts; let i=index" >
                <div class="forum-q">
                    <div class="forum-q-title">{{qPost.title}}</div>
                    <div class="forum-q-desc" [innerHTML]=qPost.content></div>
                </div>
                <div class="forum-q-opts"><a (click)="viewQReplies(i)" class="link"> <i class="fa fa-comments-o"></i> {{qPost?.totalReplies||''}} Replies</a> <span class="pull-right"><i class="fa fa-clock-o"></i> {{qPost?.createdAt | date:'mediumDate'}}&nbsp; <i class="fa fa-pencil"></i> {{qPost?.user?.firstName}}  {{qPost?.user?.lastName}} <ng-container *ngIf="qPost?.user?.type!=='STUDENT'">{{qPost?.user?.type}}</ng-container></span></div>
            </div>
        </div>
        <div class="active-forum-q" *ngIf="activeQPost" >
            <p class="top-opts">
                <button type="button" class="btn btn-xs btn-default" (click)="activeQPost=null"><i class="fa fa-arrow-left"></i> All Doubts</button>
            </p>
            <div class="forum-q">
                <div class="forum-q-title">{{activeQPost?.title}}</div>
                <div class="forum-q-desc" [innerHTML]="activeQPost?.content"></div>
                <div class="forum-reply-attachments" *ngIf="activeQPost?.attachments" >
                    <a *ngFor="let img of activeQPost?.attachments" [href]="img" target="new">
                        <img [src]="img" style="max-width: 120px; max-height: 120px;border: solid 1px #a9a6a6; padding: 5px; margin: 5px;">
                    </a>
                </div>
            </div>
            <div class="forum-q-opts">
                {{activeQPost?.replies?.length||0}} Replies
                <span class="pull-right"> <i class="fa fa-clock-o"></i>
                    {{activeQPost?.createdAt | date:'mediumDate'}}&nbsp;
                    <i class="fa fa-pencil"></i>
                    {{activeQPost?.user?.firstName}}  {{activeQPost?.user?.lastName}}
                    <ng-container *ngIf="activeQPost?.user?.type!=='STUDENT'">{{activeQPost?.user?.type}}</ng-container>
                </span>
            </div>
            <div class="forum-replies panel-loader" [ngClass]="activePostLoader">
                <ng-container  *ngIf="activePostLoader=='none'&&activeQPost&&activeQPost?.replies&&activeQPost?.replies.length>0">
                    <div class="forum-reply" *ngFor="let replyPost of activeQPost?.replies" >
                        <!-- <div class="forum-reply-title">{{replyPost.title}}</div> -->
                        <div class="forum-reply-desc" [innerHTML]="replyPost?.content"></div>
                        <div class="forum-reply-attachments" *ngIf="replyPost?.attachments" >
                            <a *ngFor="let img of replyPost?.attachments" [href]="img" target="new">
                                <img [src]="img" style="max-width: 200px; max-height: 200px;border: solid 1px #a9a6a6; padding: 5px; margin: 5px;">
                            </a>
                        </div>
                        <div class="forum-reply-opts flex-row"><!--<i class="fa fa-thumbs-up"></i> 1-->
                            <span><i class="fa fa-clock-o"></i>
                                {{replyPost?.createdAt | date:'mediumDate'}}&nbsp; <i class="fa fa-pencil"></i>
                                {{replyPost?.user?.firstName}} {{replyPost?.user?.lastName}}
                                <ng-container *ngIf="replyPost?.user?.type!=='STUDENT'">({{replyPost?.user?.type}})</ng-container>
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="add-reply">
                <form id="replyFrm" (ngSubmit)="addReply()" [formGroup]="replyForm" style="border: solid 1px #b7b7b7; padding: 15px; overflow: hidden; margin-top: 15px;">
                    <div class="form-group">
                        <label for="frm-q-rply">Your Reply</label>
                        <textarea type="text" class="form-control" id="frm-q-rply" placeholder="Enter your reply here" formControlName="description"></textarea>
                    </div>
                    <div class="form-group" style="padding:15px 0px">
                        <label class="frm-subheading">Reply Images/PDF Files</label>
                        <div class="row">

                            <div class="col-md-4">
                                <p>File 01 <small>(Optional)</small> </p>
                                <p><input id="file1" type="file" (change)="upload('file1')"></p>
                                <p *ngIf="fh?.file1Status!=''">{{fh.file1Status}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>File 02 <small>(Optional)</small> </p>
                                <p><input id="file2" type="file" (change)="upload('file2')"></p>
                                <p *ngIf="fh?.file2Status!=''">{{fh.file2Status}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>File 03 <small>(Optional)</small> </p>
                                <p><input id="file3" type="file" (change)="upload('file3')"></p>
                                <p *ngIf="fh?.file3Status!=''">{{fh.file3Status}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-sm" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="new-post" *ngIf="activateAddQsForm">
            <p class="top-opts">
                <button type="button" class="btn btn-sm btn-info" (click)="activeQPost=null;activateAddQsForm=false">All Questions</button>
            </p>
            <div class="row">
                <form [formGroup]="questionForm" (ngSubmit)="addNewQuestion()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" formControlName="title" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Question</label>
                            <ck-editor formControlName="content"></ck-editor>
                        </div>
                    </div>
                    <div class="form-group" style="padding:15px">
                        <label class="frm-subheading">Question Images/PDF Files</label>
                        <div class="row">

                            <div class="col-md-4">
                                <p>File 01 <small>(Optional)</small> </p>
                                <p><input id="file1" type="file" (change)="upload('file1')"></p>
                                <p *ngIf="fh?.file1Status!=''">{{fh.file1Status}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>File 02 <small>(Optional)</small> </p>
                                <p><input id="file2" type="file" (change)="upload('file2')"></p>
                                <p *ngIf="fh?.file2Status!=''">{{fh.file2Status}}</p>
                            </div>
                            <div class="col-md-4">
                                <p>File 03 <small>(Optional)</small> </p>
                                <p><input id="file3" type="file" (change)="upload('file3')"></p>
                                <p *ngIf="fh?.file3Status!=''">{{fh.file3Status}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-6">
                        <button class="btn btn-primary" [disabled]="formStatus=='Processing'||!questionForm?.valid"> {{(formStatus=='Processing'?'Processing':'Ask')}}</button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
    <!-- <p-dialog header="Add New doubt" [(visible)]="activateAddQsForm" [autoZIndex]="false" [baseZIndex]="0" width="600" height="500" [modal]="true" >
            <form [formGroup]="questionForm" (ngSubmit)="addNewQuestion">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text" formControlName="title" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Question</label>
                        <ck-editor formControlName="content"></ck-editor>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-6">
                    <button class="ek-btn btn-success" [disabled]="formStatus=='Processing'||!questionForm?.valid"> {{(formStatus=='Processing'?'Processing':'Ask')}}</button>
                </div>
            </form>
    </p-dialog> -->
</div>
