:host {

}
.main-container{
    display: flex;
    height: 100%;
}
.left-container{
    width:20%;
    background-color: #52a7c1;
    background-image: linear-gradient(315deg, #52a7c1 0%, #b3f6d8 74%);
    position: relative;
}
.right-container{
    width:80%;
    height: 100%;
    overflow: auto;
}

.head{
    padding: 15px;
    border-bottom: solid 1px #70908940;
    img{
        max-width: 100%;
    }

}
.main-menu{
    ul{
        padding:0px
    }
    li {
        padding: 8px 15px;
        display: flex;
        margin-bottom: 2px;
        color:#24365f;
        cursor: pointer;
        mat-icon{
            line-height: 21px;
            margin-right: 10px;
        }


    }
    li:hover{
        box-shadow: -1px 1px 4px 1px #9ae2d2;
    }
}
.foot{
    position: absolute;
    bottom: 0px;
    border-top: solid 2px #7ac9ca;
    width: 100%;
    .foot-bdy{
        padding:15px;
        .user-info{
            display: flex;
            font-size: 16px;
            .user-img{
                display: inline-block;
                width: 44px;
                height: 44px;
                border: solid 1px #7eacaf;
                border-radius: 5px;
                overflow: hidden;
                margin-right: 10px;
            }

        }
    }
}

@media (max-width:920px){
    .left-container{
        width:25%;
    }
    .right-container{
        width:75%;
    }
}
@media (max-width:640px){
    .left-container{
        // width:0%;
        display: none;
    }
    .right-container{
        width:100%;
    }
}

