<div class="main-container">
    <div class="left-container">
        <div class="sidebar">
            <div class="head">
                <img src="./assets/images/logo.png">
            </div>
            <div class="main-menu">
                <ul>
                    <li><mat-icon aria-hidden="false" aria-label="Example home outline icon">home</mat-icon> Home</li>
                    <li><mat-icon aria-hidden="false" aria-label="Example shop outline icon">shop</mat-icon> My Courses</li>

                </ul>
            </div>
            <div class="foot">
                <div class="foot-bdy">
                    <div class="user-info">
                        <span class="user-img"><img src="./assets/images/logo.png"></span>
                        <span><strong>Sunil Kumar</strong><br>8769591664</span>
                    </div>
                    <div class="usr-opts">
                        <button mat-stroked-button color="primary">Primary</button>
                        <span><mat-icon aria-hidden="false" aria-label="Example shop outline icon">shop</mat-icon></span>
                        <span><mat-icon aria-hidden="false" aria-label="Example shop outline icon">shop</mat-icon></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="the-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

