<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading pt-5 pb-5 mb-0">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <h3 class="panel-title pt-5"> <i  routerLink="/student/dashboard" class="pi pi-arrow-left back-btn-icon" style="cursor: pointer;"></i>  Booster Assignments</h3>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="student&&student?.batches&&student?.batches.length>0">
                            <ul class="list-inline pull-right">
                                <li><label for="activeBatchIndex">Batches :</label></li>
                                <li>
                                    <select class="form-control" name="activeBatchIndex"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="activeBatchIndex"
                                        (change)="setActiveBatch(dfaultLang.value)" #dfaultLang>
                                        <option value="{{i}}" *ngFor="let batch of student?.batches;let i=index">
                                            {{batch?.batch?.code}}</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel-body pt-10">
                    <div class="row" *ngIf="subjects&&subjects.length>0&&!selectedSubject">
                        <div class="col-md-12 pl-10 pb-10">
                            <b>Select a Subject</b>
                        </div>
                        <div class="col-md-12 p-10 bg-outline-grey link mb-10" *ngFor="let subject of subjects"
                            (click)="selectedSubject=subject;getAssignmentFeeds({subject:subject?.id,group:'boosterassignment'})">
                            <span>
                                <img src="./assets/images/book-blue.png" class="w-30 img-responsive img-circle img-thumbnail">
                            </span>
                            <span>{{subject?.name}} </span>
                            <span class="pull-right"><i class="fa fa-chevron-right"></i></span>
                        </div>
                    </div>
                    <div class="batch-feeds" *ngIf='selectedSubject'>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <p class="alignR"><a class="btn btn-info btn-xs" (click)="selectedSubject=null;activeFilter=null;">Change Subject</a></p>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th> Title </th>
                                                <th> Start Date  </th>
                                                <th> Last Date </th>
                                                <th> Assignment PDF </th>
                                                <th> Response </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let feed of assignments;let i=index">
                                                <td>
                                                    {{i+1}}
                                                </td>
                                                <td>
                                                    {{
                                                        feed?.data?.title
                                                    }}
                                                </td>
                                                <td>
                                                    {{feed?.data?.startDate|date}}
                                                </td>
                                                <td>
                                                    {{feed?.data?.endDate |date}}
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" *ngIf="feed?.data?.quesPdf"
                                                        (click)="showPdf(feed?.data?.quesPdf)">Download Assignment</a>
                                                    <button class="btn btn-primary btn-sm" *ngIf="!feed?.data?.quesPdf"
                                                        disabled>Download Assignment</button>
                                                </td>
                                                <td>
                                                    <a *ngIf="feed?.data?.canAttempt&&!feed?.data?.response?.stdResponseFile"
                                                        (click)="showAnswerUploadModal(i)"
                                                        class="btn btn-primary btn-sm">Upload Answersheet</a>
                                                    <button
                                                        *ngIf="!feed?.data?.canAttempt&&!feed?.data?.response.stdResponseFile"
                                                        class="btn btn-primary btn-sm" disabled>Upload
                                                        Answersheet</button>
                                                    <ng-container *ngIf='feed?.data?.response.stdResponseFile'>

                                                        <a (click)="showPdf(feed?.data?.response.stdResponseFile)">Your
                                                            Response</a>
                                                        <ng-container *ngIf="!feed?.data?.response?.confirmedToCheck">
                                                            <a class="btn btn-success btn-mini"
                                                                (click)="confirmedToCheck(i)">Confirm to Evaluate</a>
                                                            <a class="btn btn-primary btn-mini"
                                                                (click)="showAnswerUploadModal(i)">Reupload
                                                                Answersheet</a>
                                                        </ng-container>
                                                    </ng-container>
                                                    <span style="width:40%;" *ngIf="feed?.data?.response?.isPdfInvalid">
                                                        <a class="btn btn-primary btn-xs2"
                                                            style="font-size: 10px; margin-top: 5px; "
                                                            (click)="showAnswerUploadModal(i)">Reupload</a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <ng-container *ngIf="assignments&& assignments.length<1">
                                                <td colspan="6" class="alignC  p-15">
                                                    <div class="data-not-found"></div>
                                                </td>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="col-md-12">
                                    <p class="alignC">Total Records: {{totalRecords}}</p>
                                    <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}"
                                        [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                                </div> -->

                            </div>

                                <!-- <div class="assignment-card-container">
                                    <div class="assignment-card" *ngFor="let assignment of assignments;let i=index">
                                        <div class="assignment-card-head">
                                            <h3>{{assignment?.data?.title}}</h3>
                                        </div>
                                         <div class="assignment-card-body">
                                             <button class="btn btn-download">View</button>
                                         </div >
                                    </div>
                                </div> -->
                            <!-- <div class="col-md-4" *ngFor="let assignment of assignments;let i=index">
                                <div class="assigment-card p-10">
                                    <h3 class="mb-5">{{assignment?.data?.title}}</h3>
                                    <p>
                                        Last Submission Date : {{assignment?.data?.endDate |date:'short'}}
                                    </p>
                                    <a *ngIf="assignment?.data?.canAttempt&&!assignment?.data?.response?.stdResponseFile"
                                                        (click)="showAnswerUploadModal(i)"
                                                        class="btn btn-primary btn-sm">Upload Answersheet</a>
                                                    <button
                                                        *ngIf="!assignment?.data?.canAttempt&&!assignment?.data?.response.stdResponseFile"
                                                        class="btn btn-primary btn-sm" disabled>Upload
                                                        Answersheet</button>
                                                    <ng-container *ngIf='assignment?.data?.response.stdResponseFile'>

                                                        <a href="{{assignment?.data?.response.stdResponseFile}}">Your
                                                            Response</a>
                                                        <ng-container *ngIf="!assignment?.data?.response?.confirmedToCheck">
                                                            <a class="btn btn-success btn-mini"
                                                                (click)="confirmedToCheck(i)">Confirm to Evaluate</a>
                                                            <a class="btn btn-primary btn-mini"
                                                                (click)="showAnswerUploadModal(i)">Reupload
                                                                Answersheet</a>
                                                        </ng-container>
                                                    </ng-container>
                                                    <span style="width:40%;" *ngIf="assignment?.data?.response?.isPdfInvalid">
                                                        <a class="btn btn-primary btn-xs2"
                                                            style="font-size: 10px; margin-top: 5px; "
                                                            (click)="showAnswerUploadModal(i)">Reupload</a>
                                                    </span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p-sidebar [(visible)]="displayArticleDetail" [fullScreen]="true" [ngStyle]="{overflow:'scroll'}" blockScroll="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{selectedAssignment?.data?.title}}
                            <span class="pull-right panel-title-side-span">
                                <i class="fa fa-user"></i>
                                {{selectedAssignment?.data?.createdBy?.firstName}} {{selectedAssignment?.data?.createdBy?.lastName}}
                                | {{selectedAssignment?.data?.publishedAt|date}}
                            </span>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ng-container *ngIf="selectedAssignment?.data?.featuredVideo">
                                    <embed style="width: 100%;height: 400px;" [src]="getSafeUrl(selectedAssignment?.data?.featuredVideo,'VIDEO')" type="">
                                    </ng-container>
                                <ng-container *ngIf="!selectedAssignment?.data?.featuredVideo&&selectedAssignment?.data?.featureImg">
                                    <img src="{{selectedAssignment?.data?.featureImg}}">
                                </ng-container>
                            </div>
                            <div class="col-md-12 mt-15" *ngIf="selectedAssignment?.data?.tags&&selectedAssignment?.data?.tags.length>0">
                                Tags: <span *ngFor="let tag of selectedAssignment?.data?.tags" class="label label-primary">{{tag}}</span>
                            </div>
                            <div class="col-md-12" style="overflow: auto;">
                                <div [innerHtml]="selectedAssignment?.data?.description"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</p-sidebar> -->

<p-dialog header="Upload Answersheet" [draggable]="false" [modal]="true" [(visible)]="answerUploadModal">
    <div class="panel-loader" [ngClass]="panelLoader">
        <p><input type="file" id="fmFile" accept="application/pdf"></p>
        <p><button class="btn btn-info" (click)="uploadAnswerSheet()"
                [disabled]="panelLoader == 'show'? true:false">{{(panelLoader == 'show'? 'Processing...':'Upload')}}</button>
        </p>
    </div>
</p-dialog>

<p-sidebar [(visible)]="pdfViewer.show" [fullScreen]="true" [ngStyle]="{overflow:'scroll'}" class="pdf-sidebar" blockScroll="true">
    <div class="container">
        <ng-container *ngIf="pdfViewer?.link" style="position: relative; ">
            <span style="position:absolute; left:48%; top:10%; z-index:-1">Loading...</span>
            <!-- <embed style="width: 100%;height: 100vh;" [src]="getSafeURL(pdfViewer?.link+'#toolbar=0')" type=""> -->
            <iframe style="width: 100%; height : 100%" [src]="pdfViewer?.link" frameborder="0"></iframe>
        </ng-container>
    </div>
</p-sidebar>
