<form (ngSubmit)="submitQuestion()" [formGroup]="questionForm" role="form" class="panel-loader" [ngClass]="panelLoader">
    <!-- <div class="form-group">
        <label for="fqBatch">Your Batch</label>
        <select type="text" class="form-control" id="fqBatch" formControlName="group">
            <option value="null">Select</option>
            <option value="Regular">Regular</option>
            <option value="Weekend">Weekend</option>
        </select>
    </div> -->
     
    <!-- <div class="form-group">
        <label for="fqStrm">Stream <sup class="text-danger">*</sup></label>
        <select #stream class="form-control" id="fqStrm" formControlName="stream" (change)="loadSubjects(stream.value)">
            <option value="null" *ngIf="streams">Select Stream</option>
            <option value="null" *ngIf="!streams" >Loading...</option>
            <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
        </select>
    </div> -->

    <div class="form-group">
        <label for="fqSub">Subject <sup class="text-danger">*</sup></label>
        <select #subject class="form-control" id="fqSub" formControlName="subject" (change)="loadUnits(subject.value)">
            <option value="null" *ngIf="subjects">Select Subject</option>
            <!-- <option value="null" *ngIf="!subjects&&stream.value!='null'" >Loading...</option> -->
            <!-- <option value="null" *ngIf="stream.value=='null'">Select Stream First</option> -->
            <option value="{{subject.id}}" *ngFor="let subject of subjects" >{{subject.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="fqUnt">Unit/Chapter <sup class="text-danger">*</sup></label>
        <select class="form-control" id="fqUnt" formControlName="unit">
            <option value="null" *ngIf="units">Select Unit</option>
            <!-- <option value="null" *ngIf="!units&&subject.value!='null'" >Loading...</option> -->
            <option value="null" *ngIf="subject.value=='null'">Select Subject First</option>
            <option value="{{unt.id}}" *ngFor="let unt of units" >{{unt.name}}</option>
        </select>
    </div>
    <!-- <div class="form-group">
        <label for="fqTopic">Topic</label>
        <select class="form-control" id="fqTopic" formControlName="topic">
            <option value="null" *ngIf="topics">Select Topic</option>
            <option value="null" *ngIf="!topics&&subject.value!='null'" >Loading...</option>
            <option value="null" *ngIf="subject.value=='null'">Select Subject First</option>
            <option value="{{topic.id}}" *ngFor="let topic of topics" >{{topic.name}}</option>
        </select>
    </div> -->
    <!-- <div class="form-group">
        <label for="fqSrc">Question Source <sup class="text-danger">*</sup></label>
        <select #fqSrc class="form-control" id="fqSrc" formControlName="source">
            <option [ngValue]="null">Select</option>
            <option value="{{client?.title?client?.title:'Institute'}} TextBook">{{client?.title?client?.title:'Institute'}} TextBook</option>
            <option value="{{client?.title?client?.title:'Institute'}} GATE Solved Paper">{{client?.title?client?.title:'Institute'}} GATE Solved Paper</option>
            <option value="{{client?.title?client?.title:'Institute'}} ESE Objective I">{{client?.title?client?.title:'Institute'}} ESE Objective I</option>
            <option value="{{client?.title?client?.title:'Institute'}} ESE Objective II">{{client?.title?client?.title:'Institute'}} ESE Objective II</option>
            <option value="{{client?.title?client?.title:'Institute'}} Conventional Book I">{{client?.title?client?.title:'Institute'}} Conventional Book I</option>
            <option value="{{client?.title?client?.title:'Institute'}} Conventional Book II">{{client?.title?client?.title:'Institute'}} Conventional Book II</option>
            <option value="Other">Other</option>
        </select>
    </div> -->
    <!-- <fieldset *ngIf="fqSrc.value&&fqSrc.value!='Other'">
        <div class="form-group">
            <label for="fqBkpage">Book Page Number</label>
            <input type="text" class="form-control" id="fqBkpage" placeholder="Book Page Number" formControlName="bookPage">
        </div>
        <div class="form-group">
            <label for="fqBkQno">Question Number</label>
            <input type="text" class="form-control" id="fqBkQno" placeholder="Question number" formControlName="bookQNumber">
        </div>

    </fieldset> -->
    <!-- <fieldset *ngIf="fqSrc.value&&fqSrc.value=='Other'">
        <div class="form-group">
            <label for="fqBookTitle">Book Title</label>
            <input type="text" class="form-control" id="fqBookTitle" placeholder="Book Title" formControlName="bookTitle">
        </div>
        <div class="form-group">
            <label for="fqBookAuthor">Book Author</label>
            <input type="text" class="form-control" id="fqBookAuthor" placeholder="Book Author" formControlName="bookAuthor">
        </div>

    </fieldset> -->
    <fieldset>
        <div class="form-group">
            <label for="fqTitle">Question Title <sup class="text-danger">*</sup></label>
            <input type="text" class="form-control" id="fqTitle" placeholder="Title of your question" formControlName="title">
        </div>
        <div class="form-group">
            <label for="fqContent">Question <sup class="text-danger">*</sup></label>
            <quill-editor formControlName="content"></quill-editor>
            <!-- <textarea rows="6" type="text" class="form-control" id="fqContent" placeholder="Your question with full details" formControlName="content"></textarea> -->

        </div>
        <div class="form-group">
            <label class="frm-subheading">Question Images/PDF Files</label>
            <div class="row">

                <div class="col-md-4">
                    <p>File 01 <small>(Optional)</small> </p>
                    <p><input id="file1" type="file" (change)="upload('file1')"></p>
                    <p *ngIf="fh?.file1Status!=''">{{fh.file1Status}}</p>
                </div>
                <div class="col-md-4">
                    <p>File 02 <small>(Optional)</small> </p>
                    <p><input id="file2" type="file" (change)="upload('file2')"></p>
                    <p *ngIf="fh?.file2Status!=''">{{fh.file2Status}}</p>
                </div>
                <div class="col-md-4">
                    <p>File 03 <small>(Optional)</small> </p>
                    <p><input id="file3" type="file" (change)="upload('file3')"></p>
                    <p *ngIf="fh?.file3Status!=''">{{fh.file3Status}}</p>
                </div>
            </div>
        </div>
    </fieldset>






    <button type="submit" class="btn btn-primary" [disabled]="!questionForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
</form>