<div class="rsw-child">
    <div class="ek-tab-panel panel-loader" [ngClass]="panelLoader">

        <div class="ek-tab-panel-tabs">
            <ul>
                <li class="ek-tab-panel-tab" (click)="activeTab=0" [ngClass]="(activeTab===0?'active':'')">Question</li>
                <li class="ek-tab-panel-tab" (click)="loadReply()" [ngClass]="(activeTab===1?'active':'')">Replies/Comments</li>
            </ul>
        </div>
        <div class="ek-tab-panel-contents">
            <div class="ek-tab-panel-content" *ngIf="(activeTab===0)">
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-6 "><small class="lbl">Stream</small><br><span class="val">{{forumquestion?.stream?.valueAlias}}</span></div>
                    <div class="col-md-3 col-xs-6 "><small class="lbl">Subject</small><br><span class="val">{{forumquestion?.subject?.name}}</span></div>
                    <div class="col-md-3 col-xs-6 "><small class="lbl">Topic</small><br><span class="val">{{forumquestion?.topic?.name}}</span></div>
                    <div class="col-md-3 col-xs-6 "><small class="lbl">Status</small><br><span class="val">{{forumquestion?.status?'Active':'Inactive'}}</span></div>
                </div>
                <div class="row detail-row">
                        <div class="col-md-3 col-xs-6 "><small class="lbl">Category</small><br><span class="val">{{forumquestion?.category?.title}}</span></div>
                        <div class="col-md-3 col-xs-6 "><small class="lbl">Tags</small><br><span class="val">{{forumquestion?.tags}} <ng-container *ngIf="forumquestion?.tags&&forumquestion?.tags.length>0">
                            <i class="badge badge-info" *ngFor="let tag of forumquestion?.tags">{{tag}} </i>
                        </ng-container></span></div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-12">
                        <h3>{{forumquestion?.title}}</h3>
                    </div>
                    <div class="col-md-12" [innerHtml]="forumquestion?.content"></div>
                    <div class="col-md-12">
                        <div class="post-attachments-bx">
                            <p *ngFor="let file of forumquestion?.attachments; let i=index"><a href="{{file}}" target="_blank">File {{i+1}}</a></p>
                        </div>
                    </div>
                    <div class="col-md-12 ">Q. Source : <b class="val">{{forumquestion?.typeParams?.questionSource}}</b></div>
                    <div class="col-md-12 " *ngIf="forumquestion?.typeParams?.bookPage" >Source Page : <b class="val">{{forumquestion?.typeParams?.bookPage}}</b></div>
                    <div class="col-md-12 " *ngIf="forumquestion?.typeParams?.bookQNumber" >Source Q. No. : <b class="val">{{forumquestion?.typeParams?.bookQNumber}}</b></div>

                    <div class="col-md-12">
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="post-info">
                                    <span class="glyphicon glyphicon-comment"></span> 0
                                </span>
                                <span class="post-info">
                                    <span class="glyphicon glyphicon-time"></span> {{forumquestion?.createdAt | date:'d MMM, yy'}}
                                </span>
                            </div>
                            <div class="col-md-6 usr-prfl-bx">
                                <img src="{{forumquestion?.user?.profileImg}}" alt="{{forumquestion?.user?.firstName}}'s Photo" class="img-thumbnail profilePic84">
                                <p class="usr-info">{{forumquestion?.user?.firstName}} {{forumquestion?.user?.lastName}}
                                    <br><small>{{forumquestion?.user?.email}}</small>
                                    <br><small>{{forumquestion?.user?.mobile}}</small>
                                    <br><small>{{forumquestion?.group}}</small>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="ek-tab-panel-content" *ngIf="(activeTab===1)">
                <p *ngIf="!questionReplies">No Reply yet!
                </p>
                <div class="row">
                    <div class="col-md-12" *ngFor="let reply of questionReplies">
                        <div class="comment-box">
                            <div class="user-img"><img src="{{reply.user?.profileImg}}" alt="{{reply.user?.firstName}}'s Photo" class="img-circle">
                            </div>
                            <div class="user-cmnt">
                                <p class="user-info">{{reply.user?.firstName}} {{reply.user?.lastName}}
                                    <small>{{reply.user?.email}}</small>
                                    <span class="post-info pull-right">
                                        <span class="glyphicon glyphicon-time"></span> {{reply.createdAt | date:'d MMM, yy'}}
                                    </span>
                                </p>
                                <div class="cmnt-content" [innerHtml]="reply.content"></div>
                                <div class="cmnt-attachments">
                                    <p *ngFor="let file of reply.attachments; let i=index">
                                        <a href="{{file}}" target="_blank"><i class="fa fa-download"></i> Attachment {{i+1}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="comment-add-box">
                            <form (ngSubmit)="addReply()" [formGroup]="questionReplyForm" role="form" class="panel-loader" [ngClass]="panelLoader">

                                <div class="form-group">
                                    <label for="fqContent">Question Reply Content</label>
                                    <quill-editor id="fqContent" placeholder="Your reply with full details" formControlName="content"></quill-editor>
                                </div>
                                <div class="form-group">
                                    <label class="frm-subheading">Question Images/PDF Files</label>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <p>File 01 <small>(Optional)</small> </p>
                                            <p><input id="file1" type="file" (change)="upload('file1')"></p>
                                            <p *ngIf="fh?.file1Status!=''">{{fh.file1Status}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>File 02 <small>(Optional)</small> </p>
                                            <p><input id="file2" type="file" (change)="upload('file2')"></p>
                                            <p *ngIf="fh?.file2Status!=''">{{fh.file2Status}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>File 03 <small>(Optional)</small> </p>
                                            <p><input id="file3" type="file" (change)="upload('file3')"></p>
                                            <p *ngIf="fh?.file3Status!=''">{{fh.file3Status}}</p>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" [disabled]="!questionReplyForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
