<div class="panel panel-info std-advance-filter-box" *ngIf="showAdvanceFilter">
    <form [formGroup]="advanceFilterForm" (ngSubmit)="loadStudentsWithAdvanceFilter()" role="form">
        <legend>Advance Filter <span class="pull-right cls-opt" (click)="showAdvanceFilter=false"><i
                    class="fa fa-close"></i></span></legend>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="">Date From</label>
                    <input type="date" class="form-control" id="" formControlName="from">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="">Date To</label>
                    <input type="date" class="form-control" id="" formControlName="to">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrCntr">Centre</label>
                    <select class="form-control" id="fltrCntr" formControlName="center">
                        <option [value]="null">Select Centre</option>
                        <option value="{{center.id}}" *ngFor="let center of centers">{{center.title}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrStrm">Sessoin</label>
                    <select class="form-control" id="fltrStrm" formControlName="session">
                        <option [value]="null">Select Session</option>
                        <option value="{{session.id}}" *ngFor="let session of sessions">{{session.name}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrCrs">Course</label>
                    <select class="form-control" id="fltrCrs" formControlName="course">
                        <option [value]="null">Select Course</option>
                        <option value="{{course.id}}" *ngFor="let course of courses">{{course.valueAlias}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrStrm">Stream</label>
                    <select class="form-control" id="fltrStrm" formControlName="stream" (change)="loadProducts()">
                        <option [value]="null">Select Stream</option>
                        <option value="{{stream.id}}" *ngFor="let stream of streams">{{stream.valueAlias}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrPrd">Program/Product</label>
                    <!-- <select class="form-control" id="fltrPrd" (click)="checkProductDepParams()" (change)="setProductDepParams()" formControlName="mainProduct">
                        <option [value]="null">Select Program/Product</option>
                        <option value="{{i}}" *ngFor="let product of products; let i=index" >{{product.alias}}</option>
                        <option [value]="null">All</option>
                    </select> -->
                    <ek-product-input
                        [filter]="{center:advanceFilterForm.value.center,session:advanceFilterForm.value.session,stream:advanceFilterForm.value.stream,course:advanceFilterForm.value.course}"
                        elmClass="form-control" formControlName="product" (onProductSelect)="onProductSelect($event)">
                    </ek-product-input>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrBtch">Batch</label>
                    <select class="form-control" id="fltrBtch" formControlName="batch">
                        <option [value]="null">Select Batch</option>
                        <option value="{{batch.id}}" *ngFor="let batch of selectedProduct?.batches">{{batch.name}}
                        </option>
                        <option [value]="null">All</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr>
</div>
<p class="table-opts">
    <button *ngIf="!showAdvanceFilter" class="btn btn-sm btn-default" (click)="showAdvanceFilter=true">Advance
        Filter</button>
    <button class="btn btn-info btn-sm" *ngIf="userPerms?.EXPORT" (click)="exportData()">Export</button>
</p>
<p *ngIf="rows?.length<1&&appUri!='academics'" class="alignC">
    <b>No student available for now!</b>
    <a routerLink="/ims/{{appUri}}/order/add" class="ek-btn btn-create btn-icon">Add New</a>
</p>
<div class="std-srch-bx">

    <form (ngSubmit)="searchStudent()" [formGroup]="stdSearchForm" class="form-inline" role="form">

        <div class="form-group">
            <label class="" for="">Enroll No.: </label><br>
            <input type="email" class="form-control" id="" placeholder="SRN (Enrollement Number)" formControlName="srn">
            or
        </div>
        <div class="form-group">
            <label class="" for="">Email ID: </label><br>
            <input type="email" class="form-control" id="" placeholder="Email ID" formControlName="email"> or
        </div>
        <div class="form-group">
            <label class="" for="">Mobile: </label><br>
            <input type="email" class="form-control" id="" placeholder="Mobile Number" formControlName="mobile"> or
        </div>
        <div class="form-group">
            <label class="" for="">First Name: </label><br>
            <input type="email" class="form-control" id="" placeholder="First Name" formControlName="firstName">
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

</div>
<div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
    <table class="table table-bordered table-hover" *ngIf="rows?.length>0">
        <thead>
            <tr>
                <th><input type="checkbox" name="selStd" value="all" (change)="toggleStdSelectionAll($event)"
                        [checked]="rows.length==selectedStds.length"></th>
                <th>Photo</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Stream</th>
                <th>Batch (Roll No)</th>
                <th>Reg. Date</th>
                <th>Status</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let std of rows; let i=index">
                <td>{{countBase+i}}.<br><input type="checkbox" name="selStd" value="{{i}}"
                        (change)="toggleStdSelection(i, $event)" [checked]="selectedStds.indexOf(i)>-1"></td>
                <td>
                    <a routerLink="/ims/{{appUri}}/student/{{std.id}}"><img src="{{std.personalImg}}" class="pp-in-list"
                            alt="{{std.firstName}}'s Photo'"></a>
                </td>
                <td><a routerLink="/ims/{{appUri}}/student/{{std.id}}">{{std.firstName}}
                        {{std.lastName}}</a><br><small>SRN: {{std.srn}}</small></td>
                <td>{{std.email}}<br><small><span class="glyphicon glyphicon-phone"></span> {{std.mobile}}</small></td>
                <td>{{std.address?.city}}<br><small>{{std.address?.state}}</small></td>
                <td>{{std.majorStream?.valueAlias}}<br><small>{{std.majorCourse?.valueAlias}}</small></td>
                <td>{{std.mainBatch?.code}}
                    <!-- <ng-container *ngIf="std.mainBatch" >( {{std?.batchRollNo}} <button *ngIf="!std?.batchRollNo" (click)="setBatchRollNo(i)" class="btn btn-primary btn-xs">Set Roll No.</button> )</ng-container><br><small>{{std.mainBatchProduct?.alias}}</small> -->
                </td>
                <td>{{std.createdAt|date:'d/M/y'}}<br><small>{{std.createdAt|date:'shortTime'}}</small></td>
                <td>{{std.status?'Active':'Inactive'}}</td>
                <td>
                    <!-- <a class="ek-btn btn-edit btn-mini" routerLink="/ims/{{appUri}}/student/edit/{{std.id}}">Edit</a> -->
                    <a class="ek-btn btn-delete btn-mini" (click)="deleteStudent(std)">Delete</a>
                    <a class="ek-btn btn-delete btn-mini" *ngIf="!std?.isBlocked"
                        (click)="setBlockStatus(i,'BLOCK')">Block</a>
                    <a class="ek-btn btn-info btn-mini" *ngIf="std?.isBlocked"
                        (click)="setBlockStatus(i, 'UNBLOCK')">Un-Block</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="alignC">Total Records: {{totalRecords}}</p>

    <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,30,100]"
        (onPageChange)="paginate($event)"></p-paginator>
</div>
<div class="FCB " [ngClass]="'fcb-'+FCB.status">
    <div class="fcb-content">

        <div class="clearfix" *ngIf="FCB.activeControls=='MULTISELECT'">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-inline inline-block">
                        <div class="form-group">
                            <label for="exampleInputName2">With {{selectedStds.length}} Selected</label>
                            <select #mat class="form-control" [(ngModel)]="multiActionType">
                                <option [value]="null">Choose Action</option>
                                <option value="Assign-Product">Assign Product</option>
                                <option value="DOWNLOAD-ID-CARD">Donwload ID Card</option>
                                <!-- <option value="CHANGE-STATUS">Change Status</option> -->
                                <!-- <option value="DELETE">Delete events</option> -->
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default" (click)="bulkAction(mat.value)">Submit</button>
                        <a class="btn btn-default" (click)="unSelectAll()">Unselect All</a>
                    </div>
                    <!-- <button class="btn btn-warning pull-right" (click)="showMergedEvent()" *ngIf="selectedEvents.length==2">Merge Selected Events</button> -->
                </div>
            </div>
        </div>
    </div>

</div>

<p-dialog header="Assign Product" [(visible)]="showAssignModal" [modal]="true" [width]="350" [minWidth]="200">
    <form [formGroup]="productFilterForm" (ngSubmit)="assignProduct()" role="form">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrCrs">Course</label>
                    <select class="form-control" id="fltrCrs" formControlName="course">
                        <option [value]="null">Select Course</option>
                        <option value="{{course.id}}" *ngFor="let course of courses">{{course.valueAlias}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="fltrStrm">Stream</label>
                    <select class="form-control" id="fltrStrm" formControlName="stream">
                        <option [value]="null">Select Stream</option>
                        <option value="{{stream.id}}" *ngFor="let stream of streams">{{stream.valueAlias}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group">
                    <label>Program/Product</label>
                    <ek-product-input
                        [filter]="{type:productFilterForm.value.type,course : productFilterForm.value.course,stream:productFilterForm.value.stream}"
                        elmClass="form-control" formControlName="product"></ek-product-input>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Assign</button>
    </form>
</p-dialog>
