<div class="activity-content" >
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile" *ngIf="activeStep == 1">
                <div class="panel-heading">
                    <span class="panel-title">{{tsProduct?.title}}</span>
                    <span class="pull-right" *ngIf="tsProduct"><a class="ek-btn btn-create" (click)="activeStep = 2">Buy Now</a></span>
                </div>
                <div class="panel-body">
                    <div class="row" *ngIf="tsProduct">
                        <div class="col-md-12">
                            <table class="table product-info">
                                <tbody>
                                    <tr>
                                        <td><div>Total Test Series :<b> {{tsProduct?.sourceId?.length}}</b></div></td>
                                        <td><div>Price :<b> {{tsProduct?.cost}}</b></div></td>
                                    </tr>
                                    <tr>
                                        <td><div>Course :<b> {{tsProduct?.course?.valueAlias}}</b></div></td>
                                        <td><div>Stream :<b> {{tsProduct?.stream?.valueAlias}}</b></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngFor="let ts of testSeries;let i=index;">
                            <p-fieldset legend="TestSeries - {{ts?.title}}">
                                <div class="row">   
                                    <div class="col-md-offset-1 col-md-2 col-xs-12">
                                        <img class="card-img" src="{{ts?.featureImage}}" alt="Avatar" style="width: 150px;height: 150px;">
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <table class="table alignC">
                                            <tbody>
                                                <tr>
                                                    <td><div>Course :<b> {{ts?.course?.valueAlias}}</b></div></td>
                                                    <td><div>Stream :<b> {{ts?.stream?.valueAlias}}</b></div></td>
                                                </tr>
                                                <tr>
                                                    <td><div>Total Tests :<b> {{ts?.totalTests}}</b></div></td>
                                                    <td><a class="ek-btn btn-list" (click)="getTests(ts?.id,i)">View Tests</a></td>
                                                </tr>
                                                <tr  *ngIf="ts?.tests">
                                                    <td colspan="2">
                                                        <table class="table alignC">
                                                            <tbody>
                                                                <tr>
                                                                    <td>#</td>
                                                                    <td>Title</td>
                                                                    <td>Duration</td>
                                                                    <td>Total Marks</td>
                                                                </tr>
                                                                <tr *ngFor="let data of ts?.tests; let j=index;">
                                                                    <td><b> {{j+1}}</b></td>
                                                                    <td><b> {{data?.test?.title}}</b></td>
                                                                    <td><b> {{data?.test?.duration}}</b></td>
                                                                    <td><b> {{data?.test?.totalQs}}</b></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </p-fieldset>
                    </div>
                    <div class="col-md-12" *ngIf="testSeries?.length < 1">
                        <h3 style="text-align: center"> No Test Series Available</h3>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-profile" *ngIf="activeStep == 2">
                <div class="panel-body">
                    <h3 class="alignC">Order Details</h3>
                    <table class="table alignC">
                        <tbody>
                            <tr>
                                <th>Product</th>
                                <th>Course</th>
                                <th>Stream</th>
                                <th>Total TestSeries</th>
                                <th>Total Tests</th>
                                <th>Amount (INR)</th>
                            </tr>
                            <tr>
                                <td>{{tsProduct?.title}}</td>
                                <td>{{tsProduct?.course?.valueAlias}}</td>
                                <td>{{tsProduct?.stream?.valueAlias}}</td>
                                <td>{{tsProduct?.sourceId?.length}}</td>
                                <td>{{tsProduct?.totalTests}}</td>
                                <td>{{tsProduct?.cost}} <i class="fa fa-inr"></i></td>
                            </tr>
                            <tr>
                                <td colspan="100%">
                                    <a class="ek-btn btn-list" (click)="createOrder()">Proceed</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-primary panel-default" *ngIf="activeStep == 3">
                <div class="panel-heading">
                    <span class="panel-title">Payment</span>
                </div>
                <div class="panel-body">
                    <ek-student-order-payment [order]="order"></ek-student-order-payment>
                </div>
            </div>
        </div>
    </div>
</div>

