
<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile">
                <div id="testMentTabView" class="panel-body">
                    <p-tabView *ngIf="courseIds && courseIds.length > 0">
                        <p-tabPanel header="{{courses[courseId]?.valueAlias}}" *ngFor="let courseId of courseIds; let i=index" [selected]="courses[courseId]?._id == activeCourse">
                            <div  *ngFor="let testSeries of userTestSeries; let j=index">
                                <p-fieldset *ngIf="testSeries.course._id == courses[courseId]?._id" [toggleable]="true" [collapsed]="(testSeries?.tsDetail?._id == activeTestSeries? false: true)">
                                    <p-header>{{testSeries?.tsDetail?.title}}</p-header>
                                    <table class="table table-brdr0">
                                        <thead>
                                            <tr>
                                                <th><div class="ek-label">#</div></th>
                                                <th><div class="ek-label">Test Name</div></th>
                                                <th><div class="ek-label">Attempt</div></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tests of testSeries.tests; let i=index">
                                                <td>{{i+1}}</td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12">
                                                            <b class="pull-left">{{tests?.test?.title}}</b>
                                                            <!-- <div class="test-type pull-left bg-practice" [ngClass]="(tests?.test?.testType=='PRACTICE'?'bg-practice':'bg-live')">{{tests?.test?.testType}}</div> -->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <span class="ek-label">Duration : </span><b>{{tests?.test?.duration}}</b>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span class="ek-label">Total Marks : </span><b>{{tests?.test?.maxScore}}</b>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <span class="ek-label">Total Question : </span><b>{{tests?.test?.totalQs}}</b>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12">
                                                            <span class="ek-label">Start Date : </span><b>{{tests?.test?.startDate | date : "MMM d, y h:mm a"}}</b>
                                                        </div>
                                                        <div class="col-md-6 col-xs-12">
                                                            <span class="ek-label">End Date : </span><b>{{tests?.test?.endDate | date : "MMM d, y h:mm a"}}</b>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success" (click)="testWindow(tests)">Attempt Now</button>
                                                    <button class="btn btn-warning" *ngIf="tests?.isAttempted == true" routerLink="/faculty/qbank/test/report" [queryParams]="{uotId:tests?._id}">View Report</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </p-fieldset>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                    <div class="col-md-12 col-xs-12" *ngIf="userTestSeries?.length < 1">
                        <h3 style="text-align: center"> No Test</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
