<div class="activity-content">
    <div class="row profile-content">

        <div class="col-md-9 col-sm-8 col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">

                    <h4 style="    line-height: 38px;"><a  routerLink="/student/profile" pButton icon="pi pi-arrow-left" type="button" class="p-button-outlined p-button-rounded"></a> Change Password</h4>
                </div>

                <div class="panel-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        <div class="form-group">
                            <label for="pass">Current Password</label>
                            <input type="password" class="form-control" id="pass" placeholder="Your current Password" formControlName="currentPassword">
                        </div>
                        <div class="form-group">
                            <label for="passNew">New Password</label>
                            <input type="password" class="form-control" id="passNew" placeholder="New Password" formControlName="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="passNewConf">Confirm New Password</label>
                            <input type="password" class="form-control" id="passNewConf" placeholder="Confirm New Password" formControlName="newPasswordConf">
                        </div>
                        <div class="form-group">
                            <div class="alert alert-danger" *ngIf="cpfError">
                                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                                <strong>Oops</strong> {{cpfError}}
                            </div>
                            <button class="btn btn-warning">{{(cpfStatus=='Processing'?'Processing...':'Change Password')}}</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Address</h4>
                </div>

                <div class="details-rows">

                    <form (ngSubmit)="updateAddress()" [formGroup]="addressForm" role="form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12"><b>Correspendence/Shipping Address</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" formGroupName="address">


                                        <div class="form-group">
                                            <label for="adrs">Address Line 1</label>

                                            <textarea rows="3" class="form-control" id="adrs" placeholder="Placeholder" formControlName="address"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                                        </div>
                                        <div class="form-group">
                                            <label for="ldmrk">Landmark</label>
                                            <input type="text" class="form-control" id="ldmrk" placeholder="Landmark" formControlName="landmark">
                                        </div>
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                                        </div>
                                        <div class="form-group">
                                            <label for="pin">PIN</label>
                                            <input type="text" class="form-control" id="pin" placeholder="Postal Code" formControlName="postalCode">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12"><b>Permanant/Billing Address</b></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" formGroupName="permanantAddress">


                                        <div class="form-group">
                                            <label for="prmadrs">Address Line 1</label>

                                            <textarea rows="3" class="form-control" id="prmadrs" placeholder="Placeholder" formControlName="address"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="prmcity">City</label>
                                            <input type="text" class="form-control" id="prmcity" placeholder="City" formControlName="city">
                                        </div>
                                        <div class="form-group">
                                            <label for="prmldmrk">Landmark</label>
                                            <input type="text" class="form-control" id="prmldmrk" placeholder="Landmark" formControlName="landmark">
                                        </div>
                                        <div class="form-group">
                                            <label for="prmstate">State</label>
                                            <input type="text" class="form-control" id="prmstate" placeholder="State" formControlName="state">
                                        </div>
                                        <div class="form-group">
                                            <label for="prmpin">PIN</label>
                                            <input type="text" class="form-control" id="prmpin" placeholder="Postal Code" formControlName="postalCode">
                                        </div>



                                    </div>
                                </div>


                            </div>
                            <div class="col-md-12">
                                <div class="alert alert-danger" *ngIf="afError">
                                    <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                                    <strong>Oops</strong> {{afError}}
                                </div>
                                <button class="btn btn-primary">{{(afStatus=='Processing'?'Processing...':'Submit')}}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Course & Batch Details</h4>
                </div>

                <div class="details-rows">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Stream:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.majorStream.valueAlias}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Course:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.majorCourse?.valueAlias}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Session:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.session?.name}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Centre:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.center?.title}}</div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Program:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.mainBatchProduct?.title}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-5">Batch:</div>
                        <div class="col-md-9 col-sm-8 col-xs-7">{{student?.mainBatch?.title}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
