<p class="table-opts" style="padding-left:15px; padding-right:15px">
    <button class="btn btn-default btn-sm" (click)="setFilterBox()" *ngIf="!filterOpen">Filter</button>
    <button class="btn btn-info btn-sm" (click)="exportData()" *ngIf="userPerms?.EXPORT" >Export</button>
</p>
<div class="table-filter-bx" *ngIf="filterOpen" style="right:15px">
    <span class="close-opt" (click)="filterOpen=false"> <i class="fa fa-close"></i> </span>
    <form [formGroup]="filterForm" (ngSubmit)="loadOrdersWithFilter()" role="form">

        <legend>Filter Data</legend>

        <div class="form-group">
            <label for="">Date From</label>
            <input type="date" class="form-control" id="" formControlName="from">
        </div>
        <div class="form-group">
            <label for="">Date To</label>
            <input type="date" class="form-control" id="" formControlName="to">
        </div>
        <div class="form-group">
            <label for="fllterOrdrStatus">Status</label>
            <select class="form-control" id="fllterOrdrStatus" formControlName="status">
                <option value="">All</option>
                <option value="{{status.value}}" *ngFor="let status of orderStatus" >{{status.valueAlias}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fltrCstmrEml">Customer Email ID </label>
            <input type="email" class="form-control" id="fltrCstmrEml" formControlName="customerEmail">
        </div>
        <div class="form-group">
            <select class="form-control" formControlName="store">
                <option [value]="null">Select Store</option>
                <option value="{{str.id}}" *ngFor="let str of filterData?.stores" >{{str.title}}</option>
                <option [value]="null">All</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fltrOrdrNo">Order No </label>
            <input type="number" class="form-control" id="fltrOrdrNo" formControlName="orderNo">
        </div>

        <div class="form-group">
            <label for="fltrOrdrNo">Invoice No </label>
            <input type="text" class="form-control" id="fltrOrdrNo" formControlName="invoiceNo">
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<p class="filter-tags" style="padding-left:15px; padding-right:15px">
    <span class="label label-info" *ngIf="filteredTags?.from">From: {{filteredTags?.from}}</span>
    <span class="label label-info" *ngIf="filteredTags?.to">To: {{filteredTags?.to}}</span>
    <span class="label label-info" *ngIf="filteredTags?.status">Status: {{filteredTags?.status}}</span>
    <span class="label label-info" *ngIf="filteredTags?.store"> Store </span>
    <span class="label label-info" *ngIf="filteredTags?.orderNo">Order No: {{filteredTags?.orderNo}}</span>
    <span class="label label-info" *ngIf="filteredTags?.invoiceNo">Invoice No: {{filteredTags?.invoiceNo}}</span>
    <span class="label label-info" *ngIf="filteredTags?.customerEmail">Customer Email:~ {{filteredTags?.customerEmail}}</span>
    <!-- <button class="btn btn-link pull-right" *ngIf="filterForm.value">Clear Filter</button> -->
    <span *ngIf="filteredTags" (click)="clearFilter()" class="btn btn-xs btn-link">Clear All</span>
</p>
<div class="table-responsive">
    <table class="table table-bordered panel-loader" [ngClass]="panelLoader">
        <thead>
            <tr>
                <th>#</th>
                <th>Order ID</th>
                <th *ngIf="invoiceOpt">Approval</th>
                <th>Customer</th>
                <th>En.No/SRN</th>
                <th>Programs/Products<sup>1st</sup></th>
                <th style="width: 105px;">Amount</th>
                <th>Reg. Source</th>
                <th>Date Added</th>
                <th>Center</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr (ngSubmit)="loadOrdersWithRowFilter()" [formGroup]="filterRowForm">
                <td> <i class="fa fa-serach"></i> </td>
                <td> <input class="form-control" placeholder="Order Number" formControlName="orderNo"> </td>
                <td *ngIf="invoiceOpt"> <select class="form-control" formControlName="isApproved">
                        <option [value]="null">Approval Status</option>
                        <option [value]="true">Approved</option>
                        <option [value]="false">Not Approved</option>
                        <option [value]="null">All</option>
                    </select>
                </td>
                <td> <input class="form-control" placeholder="Customer Email ID" formControlName="customerEmail"> </td>
                <td> <input class="form-control" placeholder="Student Enrollment No" formControlName="srn"> </td>
                <td> 
                    <!-- <select class="form-control" formControlName="product">
                        <option [value]="null">Select Program/Product</option>
                        <option [value]="null">All</option>
                        <option value="{{fp.id}}" *ngFor="let fp of filterData.products">{{fp.title}}</option>
                    </select>  -->
                    <ek-product-input [filter]="{center:filterRowForm.value.center}" elmClass="form-control" formControlName="product"></ek-product-input>
                </td>
                <td>
                    <select class="form-control" formControlName="paymentStatus">
                        <option [value]="null">Payment Status</option>
                        <option value="Paid">Fully Paid</option>
                        <option value="Partially Paid">Partially Paid</option>
                        <option value="Unpaid">Un-paid</option>
                        <option [value]="null">All</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" formControlName="regSource">
                        <option [value]="null">Select Reg. Source</option>
                        <option value="{{regSource}}" *ngFor="let regSource of regSources">{{regSource}}</option>
                    </select>
                </td>
                <td> <input style="width: 116px;font-size: 11px; padding:0px" type="date" class="form-control" placeholder="Date" formControlName="createdAt"> </td>
                <td> <select class="form-control" formControlName="relCenter">
                        <option [value]="null">Select Center</option>
                        <option value="{{center.id}}" *ngFor="let center of filterData?.centers" >{{center.title}}</option>
                        <option [value]="null">All</option>
                    </select> </td>
                <td> <select class="form-control" formControlName="status">
                        <option [value]="null">Order Status</option>
                        <option value="Placed">Placed</option>
                        <option value="Failed">Failed</option>
                        <option value="Initiated">Initiated</option>
                        <option value="Processed">Processed</option>
                        <option [value]="null">All</option>
                    </select>
                </td>
                <td> <button class="btn btn-sm btn-primary" (click)="loadOrdersWithRowFilter()">Filter</button></td>

            </tr>
            <tr *ngFor="let order of orders; let i=index">
                <td>{{countBase+i}}</td>
                <td>
                    <a *ngIf="viewOpt&&userPerms?.VIEW" routerLink="{{viewOpt}}/{{order.id}}"> Order #{{order.orderNo}} </a>
                    <a *ngIf="viewOpt&&!userPerms?.VIEW"> Order #{{order.orderNo}} </a>
                    <a *ngIf="!viewOpt"> Order #{{order.orderNo}} </a>
                </td>
                <td *ngIf="invoiceOpt">
                    <span *ngIf="order?.isApproved">Approved</span>
                    <a class="link" *ngIf="!order?.isApproved" (click)="approveOrder(i)">Approve</a>
                </td>
                <td>{{order.buyerDetail.name}}<br><small *ngIf="userPerms?.VIEW_EMAIL">{{order.buyerDetail.email}}</small> <small *ngIf="!userPerms?.VIEW_EMAIL">*******</small></td>
                <td>{{order.buyerDetail.srn}}</td>
                <td>{{order.productTitle}}</td>
                <td>Paid: ₹ {{order.paid}}<br><small>Total: ₹ {{order.total}}</small></td>
                <td>{{order.tracer?.form}}</td>
                <td>{{order.createdAt|date:'mediumDate'}}<br><small>{{order.createdAt|date:'shortTime'}}</small></td>
                <td>{{order.relCenter?.title}}</td>
                <td><span class="label label-{{order.status|lowercase}}">{{order.status}}</span></td>
                <td>
                    <a *ngIf="viewOpt&& userPerms?.VIEW" class="btn btn-link btn-xs" routerLink="{{viewOpt}}/{{order.id}}">More Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p class="alignC">Total Records: {{totalRecords}}</p>
<p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>