<div class="activity-content" >
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3 class="page-title">Courses</h3>
            <!-- <span class="pull-right" *ngIf="tsProduct"><a class="ek-btn btn-create" (click)="activeStep = 2">Buy Now</a></span> -->
        
            <div class="course-card-container">
                <ng-container *ngFor="let product of products">
                    <div class="course-card-item" *ngIf="product?.cost!==0&&product?.cost!=='0'"> 
                        <div class="course-card"  >
                            <div class="course-card-body">
                                <div class="course-card-img">
                                    <img class="img-responsive" src="{{product?.thumb}}" alt="{{product?.title}}">
                                </div>
                                <div class="course-card-title">
                                    <p> <a href="/{{product?.course?.code}}/{{product?.uri}}">  {{ (product?.title.length>22)? (product?.title | slice:0:22)+'..':(product?.title) }}</a></p>
                                </div>
                                <div class="course-desc">
                                    <p>
                                        <span class="course-price"> <i class="fa fa-inr"></i> {{product?.cost}}-/</span>
                                        <span class="course-buy-btn"><a target="new" href="/{{product?.course?.code}}/{{product?.uri}}" class="btn btn-success">Buy now</a></span>
                                    </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </ng-container>
                <!-- <div class="course-card-item"> 
                    <div class="course-card">
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <img class="img-responsive" src="https://bashooka.com/wp-content/uploads/2022/09/ecommerce-ui-design-8.jpg" alt="Just a Demo">
                            </div>
                            <div class="course-card-title">
                                <p>Its Just a Demo 23</p>
                            </div>
                            <div class="course-desc">
                                <p>
                                    <span class="course-price">5000-/ Rs.</span>
                                    <span class="course-buy-btn"><button class="btn btn-success">Buy now</button></span>
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="course-card-item"> 
                    <div class="course-card">
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <img class="img-responsive" src="https://www.bloopanimation.com/wp-content/uploads/2018/11/coursesBoxes_v02_characterAnimator-2024x468.jpg" alt="Just a Demo">
                            </div>
                            <div class="course-card-title">
                                <p>Its Just a Demo 34</p>
                            </div>
                            <div class="course-desc">
                                <p>
                                    <span class="course-price">5000-/ Rs.</span>
                                    <span class="course-buy-btn"><button class="btn btn-success">Buy now</button></span>
                                </p>
                            </div>
                        </div>
                    </div> 
                </div> -->
            </div>
        </div>
    </div>
</div>

