<div class="panel-loader" [ngClass]="panelLoader">
    <legend>Stock History</legend>
    <div *ngFor="let stock of stocks; let i=index" class="row stk-hstry">
        <div class="col-md-3"><small>Accounting Stock</small><br>{{stock.accountingStock}}</div>
        <div class="col-md-3"><small>Physical Stock</small><br>{{stock.physicalStock}}</div>
        <div class="col-md-3"><small>Date</small><br>{{stock.createdAt|date:'dd/mm/yy h:i:s'}}</div>
        <div class="col-md-3"><small>By</small><br>{{stock.addedBy.firstName}} {{stock.addedBy.lastName}}</div>
    </div>
</div>