<div class="rsw-child">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal padding15" role="form" (ngSubmit)="convertEnquiry()" [formGroup]="convertEnquiryForm">
                <div class="form-group">
                    <label for="enquiryType">Enquiry Type</label>
                    <select type="text" class="form-control" id="enquiryType" placeholder="Center Name" formControlName="enquiryType">
                        <option value="null">Seclect Enquiry Type</option>
                        <option value="{{enqType.id}}" *ngFor="let enqType of enquiryTypes">{{enqType.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nextReminderTime">Next Reminder Time</label>
                    <p-calendar showTime="true" hourFormat="12" formControlName="nextReminderTime"></p-calendar>
                </div>
                <div class="form-group">
                    <label for="nextReminderMessage">Next Reminder Message</label>
                    <textarea type="text" formControlName="nextReminderMessage" class="form-control"></textarea>
                </div>
                <div>
                    <label for="assignedTo">Assign To</label>
                    <select formControlName="assignedTo" class="form-control" id="">
                        <option value="null">Select Counsler</option>
                        <option value="{{c.id}}" *ngFor="let c of employees">{{c.firstName}} {{c.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="padding15">
                        <button type="submit" class="btn btn-primary" [disabled]="!convertEnquiryForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
