<div class="table-responsive panel-loader" [ngClass]="panelLoader">
    <div *ngIf="freeProducts" class="pull-right" style="margin: 1%;">
        <a class="ek-btn btn-list" (click)="loadFreeProducts()">free Products</a>
    </div>
    <form [formGroup]="filterRowForm">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Stream</th>
                    <th>Type</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td> <i class="fa fa-serach"></i> </td>
                    <td> <input class="form-control" placeholder="Product/Program Title" formControlName="title"> </td>
                    <td> <select class="form-control" formControlName="stream">
                            <option [value]="null">Select Stream</option>
                            <option value="{{fp.id}}" *ngFor="let fp of streams">{{fp.valueAlias}}</option>
                            <option [value]="null">All</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" formControlName="type">
                            <option [value]="null">Select Type</option>
                            <option value="{{pt.id}}" *ngFor="let pt of productTypes">{{pt.valueAlias}}</option>
                            <option [value]="null">All</option>
                        </select>
                    </td>
                    <td> <input style="width: 116px;font-size: 11px; padding:0px" type="number" class="form-control" placeholder="Cost in INR" formControlName="cost"> </td>

                    <td> <select class="form-control" formControlName="status">
                            <option [value]="null">Select</option>
                            <option [value]="true">Active</option>
                            <option [value]="false">Inactive</option>
                            <option [value]="null">All</option>
                        </select>
                    </td>
                    <td> <button class="btn btn-sm btn-primary" (click)="loadProductsWithRowFilter()">Filter</button></td>

                </tr>
                <tr *ngIf="rows?.length<1" class="alignC">
                    <td colspan="7"><b>No records found!</b></td>
                </tr>
                <tr *ngFor="let row of rows; let i=index">
                    <td>{{countBase+i}}</td>
                    <td>
                        <a *ngIf="viewOpt&& userPerms?.VIEW" routerLink="{{viewOpt}}/{{row.id}}">{{row.title}}</a>
                        <a *ngIf="viewOpt&& !userPerms?.VIEW">{{row.title}}</a>
                        <a *ngIf="!viewOpt" routerLink="/ims/cmn/product/{{row.id}}">{{row.title}}</a>
                        <br><small>{{row.alias}}</small></td>
                    <td>{{row.stream?.valueAlias}}<br><small>Course: {{row.course?.valueAlias}}</small></td>
                    <td>{{row.type?.valueAlias}}<br><small>{{row.category?.valueAlias}}</small></td>
                    <td>₹ {{row.cost}}<br><small>MRP: {{row.mrp}}/-</small></td>
                    <td>
                        <!-- {{row.status?'Active':'Inactive'}}  -->
                        <div class="onoffswitch">
                            <input [disabled]="!userPerms?.EDIT" type="checkbox" name="onoffswitch{{i}}" class="onoffswitch-checkbox" (change)="updateProductStatus($event, i)" id="myonoffswitch{{i}}" #myonoffswitch+{{i}} [checked]="row.status?true:false">
                            <label class="onoffswitch-label" for="myonoffswitch{{i}}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <!-- <a *ngIf="editOp t" class="ek-btn btn-edit btn-mini" routerLink="{{editOpt}}/{{row.id}}">Edit</a> -->
                        <!-- <a *ngIf="deleteOpt" class="ek-btn btn-delete btn-mini" (click)="deleteProduct(row)">Delete</a> -->
                        <ek-dropdown class="ek-action-btn" direction="right">
                            <span class="dropdown-toggle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                            <ng-container class="dropdown-menu">
                                <li *ngIf="userPerms?.EDIT"><a *ngIf="editOpt" routerLink="{{editOpt}}/{{row.id}}"> <i class="fa fa-edit" ></i>  Edit</a></li>
                                <li *ngIf="userPerms?.DUPLICATE"><a (click)="showDupFormOption(i)"> <i class="fa fa-clone" ></i> Duplicate</a></li>
                                <li *ngIf="userPerms?.ENROLLED_STUDENT"><a *ngIf="enrollementsOpt"  routerLink="{{enrollementsOpt}}/{{row.id}}/enrollments"> <i class="fa fa-users" ></i>  Enrollments</a></li>
                                <li *ngIf="userPerms?.DELETE"><a *ngIf="deleteOpt"  (click)="deleteProduct(row)"> <i class="fa fa-remove" ></i>  Delete</a></li>
                            </ng-container>
                        </ek-dropdown>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<p class="alignC">Total Records: {{totalRecords}}</p>
<p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>

<p-dialog [(visible)]="showDupForm" width="400" height="450" [modal]="true" header="Create Duplicate Product">
    <form action="" [formGroup]="duplicateProductForm" (ngSubmit)="createDuplicateProduct()">
        <div class="form-group">
            <label for="">Session</label>
            <select class="form-control" formControlName="session">
                <option value="null">Select Session</option>
                <option value="{{session.id}}" *ngFor="let session of sessions">{{session.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">MRP</label>
            <input class="form-control" type="text" formControlName="mrp">
        </div>
        <div class="form-group">
            <label for="">Cost</label>
            <input class="form-control" type="text" formControlName="cost">
        </div>

        <div class="form-group">
            <label for="">Status</label>
            <select class="form-control" formControlName="status">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
        <button class="btn btn-success" [disabled]="!duplicateProductForm.valid||formStatus=='Processing'">{{(formStatus=='Processing')?'Processing':'Create'}}</button>
    </form>
</p-dialog>
