<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Your Feedbacks</h3>
            </div>
            <div id="testMentTabView" class="panel-body panel-loader" [ngClass]="panelLoader">
                    <p-tabView (onChange)="onTabChange($event)">
                        <p-tabPanel header="Test Series" [selected]="'TEST_SERIES' == activeTab">
                            <div class="table-responsive" *ngIf="feedbacks.TEST_SERIES?.length>0">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.NO</th>
                                            <th>Test Series</th>
                                            <th>Subject</th>
                                            <th>Comment</th>
                                            <th>Response</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-action"  *ngFor="let row of feedbacks.TEST_SERIES; let i=index">
                                            <td>{{1+i}}</td>
                                            <td>{{row.testSeries?.title}}</td>
                                            <td>{{row.subject?.title}}</td>
                                            <td>{{row.query}}</td>
                                            <td><div *ngIf="row.isResponsed">{{row.response}}</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="feedbacks?.TEST_SERIES?.length<1" class="alignC">
                                <i class="fa fa-commenting-o fa-5x" aria-hidden="true" style="color :#80808075"></i>
                                <h3>No Test Series Feedbacks!</h3>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Test" [selected]="'TEST' == activeTab">
                            <ng-template pTemplate="content"> 
                                <div class="table-responsive" *ngIf="feedbacks?.TEST?.length>0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>S.NO</th>
                                                <th>Test Series</th>
                                                <th>Test</th>
                                                <th>Subject</th>
                                                <th>Comment</th>
                                                <th>Response</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-action"  *ngFor="let row of feedbacks.TEST; let i=index">
                                                <td>{{1+i}}</td>
                                                <td>{{row.testSeries?.title}}</td>
                                                <td>{{row.test?.title}}</td>
                                                <td>{{row.subject?.title}}</td>
                                                <td>{{row.query}}</td>
                                                <td><div *ngIf="row.isResponsed">{{row.response}}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="feedbacks?.TEST?.length<1" class="alignC">
                                    <i class="fa fa-commenting-o fa-5x" aria-hidden="true" style="color :#80808075"></i>
                                    <h3>No Test Feedbacks!</h3>
                                </div>
                            </ng-template>
                        </p-tabPanel>
                        <p-tabPanel header="Question" [selected]="'QUESTION' == activeTab">
                            <ng-template pTemplate="content"> 
                                <div class="table-responsive" *ngIf="feedbacks?.QUESTION?.length>0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>S.NO</th>
                                                <th>Test Series</th>
                                                <th>Test</th>
                                                <th>Question</th>
                                                <th>Subject</th>
                                                <th>Comment</th>
                                                <th>Response</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-action"  *ngFor="let row of feedbacks.QUESTION; let i=index">
                                                <td>{{1+i}}</td>
                                                <td>{{row.testSeries?.title}}</td>
                                                <td>{{row.test?.title}}</td>
                                                <td><div *ngIf="row.qSeq"><b>Q.No - {{row.qSeq}}</b></div><div [innerHTML]="row.question?.qContent"></div></td>
                                                <td>{{row.subject?.title}}</td>
                                                <td>{{row.query}}</td>                                                    
                                                <td><div *ngIf="row.isResponsed">{{row.response}}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="feedbacks?.QUESTION?.length<1" class="alignC">
                                    <i class="fa fa-commenting-o fa-5x" aria-hidden="true" style="color :#80808075"></i>
                                    <h3>No Question Feedbacks!</h3>
                                </div>
                            </ng-template>
                        </p-tabPanel>
                    </p-tabView>
            </div>
        </div>
        </div>
    </div>
</div>