<div class="rsw-child" *ngIf="optionData?.option=='PRODUCTTYPE'">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" (ngSubmit)="updateCoption()" [formGroup]="optionForm">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="input2">Option<sup>*</sup></label>           
                        <input type="text" class="form-control" formControlName="option" readonly>                    
                    </div>
                </div>
                <div class="col-md-12" *ngIf="optionData?.option=='PRODUCTTYPE'">
                    <div class="form-group">
                        <label for="">Product Category</label>
                        <select formControlName="parentOption" id="" class="form-control">
                            <option value="null">Select Category</option>
                            <option value="{{category.id}}" *ngFor="let category of productCategories">{{category.value}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="input3">Option Value<sup>*</sup></label>
                    
                        <input type="text" id="input3" class="form-control" formControlName="value">
                    
                    </div>
                </div>    
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="input4">Value Alias<sup>*</sup></label>            
                        <input type="text" id="input4" class="form-control" formControlName="valueAlias">            
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="input5">Value Code<sup>*</sup></label>            
                        <input type="text" id="input5" class="form-control" placeholder="Code of 5 length." formControlName="code">            
                    </div>
                </div>
                <div class="col-md-12" *ngIf="optionData?.option=='PRODUCTTYPE'">
                    <div class="form-group">
                        <label for="">Thumb Image</label>
                        <ek-fileinput formControlName="thumb" class="form-control"></ek-fileinput>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="optionData?.option=='PRODUCTTYPE'">
                    <div class="form-group">
                        <label for="">Related App</label>
                        <select formControlName="relatedApp" class="form-control" id="relatedApp">
                            <option value="null">Select Related App</option>
                            <option value="{{app}}" *ngFor="let app of apps">{{app}}</option> 
            
                        </select>
                    </div>
                </div>
                
                <div class="col-md-12 form-group">
                    <label for="seq">Sequence</label>            
                    <input type="number" id="seq" class="form-control" placeholder="Sequence" formControlName="seq">            
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="input6">Status<sup>*</sup>:</label>      
                        <select name="" id="input6" class="form-control" formControlName="status">
                            <option value="true" >Active</option>
                            <option value="false" >Inactive</option>
                        </select>       
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary" [disabled]="!optionForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="rsw-child" *ngIf="optionData?.option!=='PRODUCTTYPE'">
    <form  class="form-horizontal" role="form" (ngSubmit)="updateCoption()"
        [formGroup]="optionForm">
        <div class="col-md-12">
            <div class="form-group">
                <label for="input2">Option<sup>*</sup></label>
                <input type="text" class="form-control" formControlName="option" readonly>
            </div>
        </div>
        <div class="col-md-12" *ngIf="optionData?.option=='PRODUCTTYPE'">
            <div class="form-group">
                <label for="">Product Category</label>
                <select formControlName="parentOption" id="" class="form-control">
                    <option value="null">Select Category</option>
                    <option value="{{category.id}}" *ngFor="let category of productCategories">{{category.value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="input3">Option Value<sup>*</sup></label>

                <input type="text" id="input3" class="form-control" formControlName="value">

            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="input4">Value Alias<sup>*</sup></label>
                <input type="text" id="input4" class="form-control" formControlName="valueAlias">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="input5">Value Code<sup>*</sup></label>
                <input type="text" id="input5" class="form-control" placeholder="Code of 5 length." formControlName="code">
            </div>
        </div>
        <div class="col-md-12" *ngIf="optionData?.option=='PRODUCTTYPE'">
            <div class="form-group">
                <label for="">Thumb Image</label>
                <ek-fileinput formControlName="thumb" class="form-control"></ek-fileinput>
            </div>
        </div>
        <div class="col-md-12" *ngIf="optionData?.option=='STREAM'">
            <div class="form-group">
                <label for="">Make it Common</label>
                <select formControlName="isCommon" id="" class="form-control">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <label for="seq">Sequence</label>            
            <input type="number" id="seq" class="form-control" placeholder="Sequence" formControlName="seq">            
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="input6">Status<sup>*</sup>:</label>
                <select name="" id="input6" class="form-control" formControlName="status">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary" [disabled]="!optionForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
            </div>
        </div>
    </form>
</div>
