<div class="rsw-child">
    <div class="row">
        <div class="col-md-12" [ngClass]="panelLoader">
            <form class="form-horizontal padding15 panel-loader" role="form" (ngSubmit)="updateForumquestion()" [formGroup]="forumquestionForm">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="name" placeholder="Forumquestion Name" formControlName="title">
                </div>
                <div class="form-group"><label for="">Question Category</label>
                    <select formControlName="category" id="" class="form-control">
                        <option value="null">Select Category</option>
                        <option value="{{category.id}}" *ngFor="let category of categories">{{category.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Tags</label>
                    <p-chips formControlName="tags" [allowDuplicate]="false"></p-chips>
                </div>
                <div class="form-group">
                    <label for="fqStrm">Stream</label>
                    <select type="text" class="form-control" id="fqStrm" #fqStrm (change)="loadSubjects(fqStrm.value)" placeholder="Placeholder" formControlName="stream">
                        <option value="null" *ngIf="streams">Select</option>
                        <option value="null" *ngIf="!streams" >Loading...</option>
                        <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream?.valueAlias}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fqSub">Subject/Unit</label>
                    <select type="text" class="form-control" id="fqSub" #fqSub (change)="loadTopics(fqSub.value)" placeholder="Placeholder" formControlName="subject">
                        <option value="null" *ngIf="subjects">Select</option>
                        <option value="null" *ngIf="!subjects" >Loading...</option>
                        <option value="{{subject.id}}" *ngFor="let subject of subjects" >{{subject?.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fqTopic">Topic</label>
                    <!-- <input type="text" class="form-control" id="fqTopic" placeholder="Topic realted to this question" formControlName="topic"> -->
                    <select type="text" class="form-control" id="fqTopic" placeholder="Placeholder" formControlName="topic">
                        <option value="null" *ngIf="topics">Select</option>
                        <option value="null" *ngIf="!topics" >Loading...</option>
                        <option value="{{topic.id}}" *ngFor="let topic of topics" >{{topic?.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="input3">Status</label>
                    <select name="" id="input3" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>


                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!forumquestionForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>