<div class="rsw-child">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal padding15" role="form" (ngSubmit)="addJobopening()" [formGroup]="jobopeningForm">
                <div class="form-group">
                    <label for="name">Job Opening Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Job Opening Name" formControlName="title">
                </div>

                <div class="form-group">
                    <label for="jaDes">Designation</label>
                    <select class="form-control" id="jaDes" formControlName="designation">
                        <option value="null">Select</option>
                        <option value="{{desg.id}}" *ngFor="let desg of designations">{{desg.title}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="jaCntr">Job Location/Center</label>
                    <select class="form-control" id="jaDes" formControlName="location">
                        <option value="null">Select</option>
                        <option value="{{center.id}}" *ngFor="let center of centers">{{center.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="jaDesc">Description </label>
                    <quill-editor id="jaDesc" formControlName="description"></quill-editor>
                </div>

                <div class="form-group">
                    <label for="jactc">CTC <small>(In Lac)</small></label>
                    <input type="text" class="form-control" id="jactc" placeholder="CTC" formControlName="ctc">
                </div>

                <div class="form-group">
                    <label for="jaMex">Minimum Experience <small>(In Year)</small></label>
                    <input type="text" class="form-control" id="jaMex" placeholder="Minimum experience in year" formControlName="minExperience">
                </div>
                <div class="form-group">
                    <label for="joStrm">Ask for Stream</label>
                    <select name="" id="joStrm" class="form-control" formControlName="stream">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="joCv">CV (PDF)</label>
                    <select name="" id="joCv" class="form-control" formControlName="cv">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="joCvv">Video CV/Demo</label>
                    <select name="" id="joCvv" class="form-control" formControlName="videoCv">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="joQlf">Ask Qualification</label>
                    <select name="" id="joQlf" class="form-control" formControlName="qualification">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="joClgTyp">Ask College Type</label>
                    <select name="" id="joClgTyp" class="form-control" formControlName="collegeType">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="joStrm">Ask College Name</label>
                    <select name="" id="joStrm" class="form-control" formControlName="collegeName">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="joStrm">Ask Experience</label>
                    <select name="" id="joStrm" class="form-control" formControlName="experience">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="joStrm">Ask Job Type (Full TIme, Half Time, On Demand)</label>
                    <select name="" id="joStrm" class="form-control" formControlName="jobType">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="joStrm">Ask Availability (Month wise) (In case of 'On Demand' Job Type)</label>
                    <select name="" id="joStrm" class="form-control" formControlName="availability">
                        <option value="null" >Select</option>
                        <option value="NO" >No</option>
                        <option value="MANDATORY" >Mandatory</option>
                        <option value="OPTIONAL" >Show option but not mandatory</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="jaEml">Email <small>(Email will be sent on new application)</small></label>
                    <input type="text" class="form-control" id="jaEml" placeholder="HR Admin email id" formControlName="nfEmail">
                </div>

                <div class="form-group">
                    <label for="jaSms">Mobile <small>(SMS will be sent on new application)</small></label>
                    <input type="text" class="form-control" id="jaSms" placeholder="HR Admin mobile number" formControlName="nfMobile">
                </div>

                <div class="form-group">
                    <label for="input3">Status</label>
                    <select name="" id="input3" class="form-control" formControlName="status">
                        <option value="null" >Select Status</option>
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>


                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!jobopeningForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>