<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="activity-navbar">
                <ul>
                    <!-- <li class="head">Forum</li> -->
                    <li><a [ngClass]="(case=='my'?'active':'')" routerLink="/student/forum/question"  [queryParams]="{case:'my'}">My Doutbs</a></li>
                    <li><a [ngClass]="(case=='all'?'active':'')"  routerLink="/student/forum/question" [queryParams]="{case:'all'}">All Doutbs</a></li>
                    <!-- <li><a href="/ims/faculty/member/{{faculty?.id}}/period">Network Questions</a></li> -->
                    <li class="link-action"><a routerLink="/student/forum/question/ask">Ask Question</a></li>
                </ul>
            </div>
            <div class="feeds panel-loader" [ngClass]="panelLoader">
                <div class="post-card ForumQuestion" *ngFor="let question of questions">
                    <span class="sol-tag {{(question?.typeParams?.solStatus)?'Solved':'UnSolved'}}">{{(question?.typeParams?.solStatus)?'Solved':'UnSolved'}}</span>
                    <div class="row">
                        <div class="col-md-12 ">
                            <h4 class="title"><a routerLink="/student/forum/question/{{question.id}}">{{question.title}}</a></h4>
                            
                        </div>
                        <div class="col-md-12">
                            <!-- <span class="label label-success">{{question.stream?.valueAlias}}</span> -->
                            <span class="label label-info">{{question.subject?.name}}</span>
                            <span class="label label-default">{{question.unit?.name}}</span>

                            <span class="post-info pull-right hidden-xs">
                                <span class="glyphicon glyphicon-user"></span> You
                            </span>
                            <span class="post-info pull-right hidden-xs">
                                <span class="glyphicon glyphicon-comment"></span> 0
                            </span>
                            <span class="post-info pull-right">
                                <span class="glyphicon glyphicon-time"></span> {{question.createdAt | date:'d MMM, yy'}}
                            </span>

                        </div>

                    </div>
                </div>
                <p *ngIf="questions&&questions.length<1">Zero doubts!</p>
            </div>
        </div>
        
    </div>
</div>