<div class="activity-content">
    <div class="row">
        <div class="col-md-8">
            <div class="activity-navbar">
                <ul>
                    <!-- <li class="head">Forum</li> -->
                    <li><a routerLink="/student/forum/question"><i class="pi pi-arrow-left"></i> My Questions</a></li>
                    <!-- <li><a href="/ims/faculty/member/{{faculty?.id}}/period">Network Questions</a></li> -->
                    <li class="link-action"><a routerLink="/student/forum/question/ask">Ask Question</a></li>
                </ul>
            </div>
            <div class=" panel-loader" [ngClass]="panelLoader">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="panel panel-default ForumQuestion" style="position: relative;">
                            <span class="sol-tag {{(question?.typeParams?.solStatus)?'Solved':'UnSolved'}}">{{(question?.typeParams?.solStatus)?'Solved':'UnSolved'}}</span>
                            <div class="panel-heading">
                                <h4>{{question?.title}}</h4>
                            </div>

                            <div class="panel-body">

                                <div class="content" [innerHtml]="question?.content"></div>
                                <hr>
                                <p *ngFor="let file of question?.attachments; let i=index">
                                    <a (click)="openLink(file)" style="color:blue; text-decoration: underline;"><i class="pi pi-cloud-download"></i> File {{i+1}} <span class="glyphicon glyphicon-new-window"></span></a>
                                </p>
                            </div>


                        </div>
                    </div>



                </div>
            </div>
            <div class="comment-feeds">
                <p *ngIf="!questionReplies">No Reply yet!
                </p>
                <div class="row">
                    <div class="col-md-12" *ngFor="let reply of questionReplies">
                        <div class="comment-box">
                            <div class="user-img"><img src="{{reply.user?.profileImg}}" alt="{{reply.user?.firstName}}'s Photo" class="img-circle">
                            </div>
                            <div class="user-cmnt">
                                <p class="user-info">{{reply.user?.firstName}} {{reply.user?.lastName}}
                                    <small>{{reply.user?.email}}</small>
                                    <span class="post-info pull-right">
                                                <span class="glyphicon glyphicon-time"></span> {{reply.createdAt | date:'d MMM, yy'}}
                                    </span>
                                </p>
                                <div class="cmnt-content" [innerHtml]="reply.content"></div>
                                <div class="cmnt-attachments">
                                    <p *ngFor="let file of reply.attachments; let i=index">
                                        <a  (click)="openLink(file)" style="color:blue; text-decoration: underline;"><i class="pi pi-cloud-download"></i> File {{i+1}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="comment-add-box">
                            <form (ngSubmit)="addReply()" [formGroup]="questionReplyForm" role="form" class="panel-loader" [ngClass]="panelLoader">

                                <div class="form-group">
                                    <label for="fqContent">Question Reply Content</label>
                                    <quill-editor id="fqContent" placeholder="Your reply with full details" formControlName="content"></quill-editor>
                                </div>
                                <div class="form-group">
                                    <label class="frm-subheading">Question Images/PDF Files</label>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <p>File 01 <small>(Optional)</small> </p>
                                            <p><input id="file1" type="file" (change)="upload('file1')"></p>
                                            <p *ngIf="fh?.file1Status!=''">{{fh.file1Status}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>File 02 <small>(Optional)</small> </p>
                                            <p><input id="file2" type="file" (change)="upload('file2')"></p>
                                            <p *ngIf="fh?.file2Status!=''">{{fh.file2Status}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>File 03 <small>(Optional)</small> </p>
                                            <p><input id="file3" type="file" (change)="upload('file3')"></p>
                                            <p *ngIf="fh?.file3Status!=''">{{fh.file3Status}}</p>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" [disabled]="!questionReplyForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- <p><a class="btn btn-info" target="_blank" disabled>Doubt Class Schedule</a></p> -->

        </div>
    </div>
</div>