<div class="activity-content">
    <div class="row">
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic Details</h3>
                </div>
                <div class="panel-body panel-loader" [ngClass]="frmLoader">
                    <form class="form-horizontal fgm0" role="form" (ngSubmit)="addPassage()" [formGroup]="passageForm">
                         
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="passageTitle">Title<sup>*</sup>:</label>
                                <input type="text" class="form-control" id="passageTitle" placeholder="Title of Question" formControlName="title">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="passageContent">Passage</label>
                               <ck-editor id="passageContent" formControlName="passageContent"></ck-editor>
                                <!-- <textarea class="form-control" id="qContent" placeholder="Question Content" formControlName="qContent"></textarea> -->
                            </div>
                        </div>
                                             
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="status">Status<sup>*</sup>:</label>
                                <select name="" id="status" class="form-control" formControlName="status">
                                <option value="true" >Active</option>
                                <option value="false" >Inactive</option>
                            </select>
                            </div>

                        </div> 
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary" [disabled]="!passageForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="instruction-box">
                <h4>Instructions:</h4>
                <hr/>
                <ul>
                    <li>Fields marked with * are mandatory.</li>
                </ul>
            </div>

        </div>
    </div>

</div>