
<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Passage</h3>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <form role="form" (ngSubmit)="searchData()" [formGroup]="passageForm">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>ID</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" formControlName="title" placeholder="Enter Title">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" formControlName="id" placeholder="Enter Passage ID">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <select name="" id="" class="form-control" formControlName="status">
                                                    <option value="">Select Status</option>
                                                    <option value="true">Active</option>
                                                    <option value="false">Inactive</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-info">Filter</button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let row of rows; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <a routerLink="/{{routes}}/qbank/passage/view" title="View Details" [queryParams]="{passageId: row.id}">{{row.title}}</a>
                                            <small [innerHTML]="row.passageContent | safeHtml"></small>
                                        </td>                            
                                        <td>{{row.id}}</td>
                                        <td>{{row.status?'Active':'Inactive'}}</td>
                                        <td>
                                            <ek-dropdown class="ek-action-btn" direction="right">
                                                <span class="dropdown-toggle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                                                <ng-container class="dropdown-menu">
                                                    <li><a routerLink="/{{routes}}/qbank/passage/view"  [queryParams]="{passageId: row.id}"><i class="fa fa-file-text-o"></i> View Detail</a></li>        
                                                    <li><a routerLink="/{{routes}}/qbank/question/add" [queryParams]="{passageId: row.id}"><i class="fa fa-plus"></i> Add Question</a></li>
                                                    <li><a routerLink="/{{routes}}/qbank/passage/edit/{{row.id}}"><i class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                    <!-- <li><a (click)="deletePassage(row)"><i class="fa fa-trash"></i> Delete</a></li> -->
                                                </ng-container>
                                            </ek-dropdown>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row" *ngIf="rows?.length>0">
                        <div class="col-md-12">
                            <p class="alignC">Total Records: {{totalRecords}}</p>
                            <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                        </div>
                    </div>
                    <p *ngIf="rows?.length<1" class="alignC">
                        <b>No Passage available for now!</b>
                        <a routerLink="/{{routes}}/qbank/passage/add" class="ek-btn btn-create btn-icon">Add New</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>