
<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary panel-profile" >
                    <div class="panel-heading panel-loader" [ngClass]="panelLoader">
                        <span><b> Passage - {{passage?.title}}</b></span>
                        <ul class="list-inline pull-right">                    
                            <li><a class="ek-btn btn-create" routerLink="/{{routes}}/qbank/question/add" [queryParams]="{passageId: passage?.id}">Add Question</a></li>
                            <!-- <li><a class="ek-btn btn-create" routerLink="/{{routes}}/qbank/question/studio" [queryParams]="{passageId: passage?.id}">Question Bank</a></li> -->
                            <li><a class="ek-btn btn-edit" routerLink="/{{routes}}/qbank/passage/edit/{{passage?.id}}" *ngIf="panelLoader!='deleted'"><span class="glyphicon glyphicon-edit"></span></a></li>
                            <!-- <li><a class="ek-btn btn-delete" (click)="deletePassage(passage?.id)" *ngIf="panelLoader!='deleted'"><span class="glyphicon glyphicon-trash"></span></a></li>  -->
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="row q-content">
                            <div class="col-md-12">
                                <span [innerHTML]="passage?.passageContent | safeHtml"></span>
                            </div>
                            <div *ngFor="let question of getPassageQuestions; let i=index">
                            <div class="col-md-8 col-border-right q-content">
                                <div class="panel col-border-top">
                                    <div class="panel-body"> 
                                        <span><b>Question : {{i+1}}  </b></span>
                                        <span class=" brooch brooch-success">{{question?.mp}}</span>
                                        <span class="brooch brooch-danger">-{{question?.mn}}</span>
                                        <ul class="list-inline pull-right">                    
                                            <li><a class="ek-btn btn-edit btn-mini" routerLink="/{{routes}}/qbank/question/edit/{{question.id}}"><span class="glyphicon glyphicon-edit"></span></a></li>
                                            <!-- <li><a class="ek-btn btn-delete btn-mini" (click)="deletePassageQuestion(id)"><span class="glyphicon glyphicon-trash"></span></a></li>  -->
                                        </ul>
                                    </div>
                                </div>
                                <span *ngIf="question?.qContent" [innerHTML]="question?.qContent | safeHtml"></span>
                                <div *ngIf="question?.qType == 'MCQ' || question?.qType == 'MAQ' || question?.qType == 'ARQ' || question?.qType == 'PTQ'">
                                    <div *ngIf="question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml"></span></div>
                                    <div *ngIf="question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml"></span></div>
                                    <div *ngIf="question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml"></span></div>
                                    <div *ngIf="question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml"></span></div>
                                    <div *ngIf="question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml"></span></div>
                                </div>
                                <div *ngIf="question?.qType == 'MTQ'">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div *ngIf="question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml"></span></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div *ngIf="question?.qOption?.optionA"><b>P. </b><span  [innerHTML]="question?.qOption?.optionP | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionB"><b>Q. </b><span  [innerHTML]="question?.qOption?.optionQ | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionC"><b>R. </b><span  [innerHTML]="question?.qOption?.optionR | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionD"><b>S. </b><span  [innerHTML]="question?.qOption?.optionS | safeHtml"></span></div>
                                            <div *ngIf="question?.qOption?.optionE"><b>T. </b><span  [innerHTML]="question?.qOption?.optionT | safeHtml"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div><p class="brooch brooch-info">Answer :</p> <b>{{question?.ans}}</b></div>
                                <div class="brooch brooch-info">Solution :</div>
                                <div *ngIf="question?.qSolution" [innerHTML]="question?.qSolution | safeHtml"></div>           
                            </div>
                            <div class="col-md-4">
                                <table class="table table-brdr0 col-border-top">
                                    <tbody>
                                        <tr>
                                            <td colspan="2"><label>Title</label><br/><b>{{question?.title || 'NIL'}}</b></td>
                                        </tr> 
                                        <tr>
                                            <td><label>Question Type</label><br/><b>{{question?.qType || 'NIL'}}</b></td>
                                            <td><label>Level</label><br/><b>{{questionLevel[question?.level] || 'NIL'}}</b></td>
                                        </tr>
                                        <tr>
                                            <td><label>Course</label><br/><b>{{question?.course?.value || 'NIL'}}</b></td>
                                            <td><label>Stream</label><br/><b>{{question?.stream?.valueAlias || 'NIL'}}</b></td>
                                        </tr>
                                        <tr><td colspan="2"><label>ID</label><br/><b>{{question?.id}}</b></td>
                                        </tr>
                                        <tr><td><label>Topic</label><br/><b>{{question?.topic?.name || 'NIL'}}</b></td>
                                            <td><label>subject</label><br/><b>{{question?.subject?.name || 'NIL'}}</b></td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>                            
                        </div>
                    </div>
                    <div class="panel-footer"  *ngIf="getPassageQuestions?.length<1">
                        <p class="alignC">
                            <b>No passage question available for now!</b>
                            <a routerLink="/{{routes}}/qbank/question/add" [queryParams]="{passageId: passage?.id}" class="ek-btn btn-create btn-icon">Add Question</a>
                        </p>
                    </div>
                </div>
        </div> 

    </div>

</div>
