<div class="activity-content">
    <div class="panel panel-primary profile">
        <div id="testMentTabView" class="panel-body">
            <div class="report-title">
                {{userReport?.test?.title}}
            </div>
            <div class="row" style="margin: 20px 0px;">
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style=" background-color: #FF9800;">{{userReport?.percentage}}%</div>
                        <div class="ek-card-title">Percentage</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style=" background-color: #4CAF50;">{{userReport?.correctQs}}</div>
                        <div class="ek-card-title">Correct</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style=" background-color: #e6574c;">{{userReport?.inCorrectQs}}</div>
                        <div class="ek-card-title">In Correct</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ek-card-profile">
                        <div class="ek-card-label" style=" background-color: #3F51B5;">{{(userReport?.test?.totalQs- (userReport?.correctQs+userReport?.inCorrectQs))}}</div>
                        <div class="ek-card-title">Un Attempted</div>
                    </div>
                </div>
            </div>
            <p-tabView >
                <p-tabPanel header="Score Overview">
                    <div class="ek-report">
                        <table class="report-table">
                            <tbody>
                                <tr>
                                    <td><b>Total Marks</b><div class="report-text">{{userReport?.test?.maxScore}}</div></td>
                                    <td><b>Your Score </b><div class="report-text">{{userReport?.stdScore}}</div></td>
                                    <td><b>Total Correct</b><div class="report-text">{{userReport?.correctQs}}</div></td>
                                </tr>
                                <tr>
                                    <td><b>Max Time</b> <div class="report-text">{{userReport?.test?.duration}} min</div></td>
                                    <td><b>Time Spend</b> <div class="report-text">{{userReport?.totalTimeTaken}}</div></td>
                                    <td><b>Total InCorrect</b><div class="report-text">{{userReport?.inCorrectQs}}</div></td>
                                </tr>
                                <tr>
                                    <td><b>Total Question</b> <div class="report-text">{{userReport?.test?.totalQs}}</div></td>    
                                    <td><b>Percentage</b> <div class="report-text">{{userReport?.percentage}}%</div></td>
                                    <td><b>Total UnAttempted </b><div class="report-text"> {{(userReport?.test?.totalQs- (userReport?.correctQs+userReport?.inCorrectQs))}}</div></td>
                                </tr>
                                <tr *ngIf="userReport?.rank">
                                    <td><b>Average Score</b><div class="report-text">{{averageScore}}</div></td>
                                    <td><b>RANK</b><div class="report-text">{{userReport?.rank}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Section/Subject wise">
                    <ng-template pTemplate="content">
                        <div class="panel panel-primary profile" *ngFor="let sectionScore of userReport.sectionScore; let i = index">
                            <div class="panel-heading" style="margin-top: 10px">
                                    <div class="ek-card-title">{{sections[i].title}}</div>
                            </div>
                            <div class="panel-body" style=" box-shadow: 0px 2px 0px 0px #4d56660d;">
                                <table class="report-table" >
                                    <tbody>
                                            <tr>
                                            <td><label>Total Marks</label><div class="report-text">{{sections[i].totalMarks}}</div></td>
                                            <!-- <td><label>Max Time</label> <div class="report-text">{{sections[i].maxTime}} min</div></td> -->
                                            <td><b>Total Question</b> <div class="report-text">{{sections[i].totalQs}}</div></td>  
                                            <td><b>Total InCorrect</b><div class="report-text">{{sectionScore?.inCorrectQs}}</div></td>
                                            </tr>
                                            <tr>
                                                <td><b>Your Score </b><div class="report-text">{{sectionScore?.score}}</div></td>
                                                <td><b>Total Correct</b><div class="report-text">{{sectionScore?.correctQs}}</div></td>
                                                <td><b>Un Attempted </b><div class="report-text">{{(sections[i].totalQs-(sectionScore?.correctQs+sectionScore?.inCorrectQs))}}</div></td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Topic wise">
                    <!-- If you change header you will have to update in onTabChange function -->
                    <ng-template pTemplate="content">
                            <div class="panel-heading" style="margin-top: 10px">
                                <p-tabView>
                                    <p-tabPanel [header]="subject.title" *ngFor="let subject of subjects; let sIndex = index" [selected]="sIndex==activeSection">
                                        <ng-template pTemplate="content">
                                            <div *ngFor="let topicData of topicWiseData;let i=index">
                                                <div class="panel panel-primary panel-profile" *ngIf="topicData.subject==subject?.title" >
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-md-10 col-xs-12">
                                                                <h3 class="panel-title">{{topicData?.topic}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="report-table">
                                                        <tbody>
                                                            <tr>
                                                                <td><b>Total Question</b> <div class="report-text">{{(topicData?.totalQs)}}</div></td>    
                                                                <td><b>Correct Question</b> <div class="report-text">{{topicData?.correctQs}}</div></td> 
                                                                <td><b>In-Correct Question</b> <div class="report-text">{{topicData?.inCorrectQs}}</div></td> 
                                                                <td><b>UnAttempted Question</b> <div class="report-text">{{(topicData?.totalQs - (topicData?.correctQs+topicData?.inCorrectQs))}}</div></td> 
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Question wise">
                    <ng-template pTemplate="content">
                            <div class="panel-heading" style="margin-top: 10px">
                                <p-tabView >
                                    <p-tabPanel [header]="section.title" *ngFor="let section of subjects; let i = index" [selected]="i== activeSection">
                                        <ng-template pTemplate="content">
                                            <div class="table-responsive">
                                                <table class="table report-question">
                                                    <tbody >
                                                        <tr>
                                                            <!-- <th>Response</th> -->
                                                            <th>Q.No.</th>
                                                            <th>Topic</th>
                                                            <th>Correct Ans</th>
                                                            <th>Your Ans</th>
                                                            <th>Time Taken</th>
                                                        </tr>
                                                        <tr  *ngFor="let responseData of qwise; let i=index;">
                                                            <ng-container *ngIf="section.title==responseData.subject">
                                                                <!-- <td>
                                                                    <i *ngIf="responseData?.stdResponse&&responseData?.correctAns!==responseData?.stdResponse" class="fa fa-times-circle fa-2x" style="color: red"></i>
                                                                    <i *ngIf="responseData?.correctAns === responseData?.stdResponse" class="fa fa-check-circle fa-2x" style="color: green"></i>
                                                                    <i *ngIf="!responseData?.stdResponse">-</i>
                                                                </td> -->
                                                                <td>{{i+1}}.</td>
                                                                <td style=" text-transform: capitalize;">{{responseData.topic}}</td> 
                                                                <td>
                                                                    <div *ngIf="responseData?.correctAns">{{responseData?.correctAns||'Nill'}}</div>
                                                                </td>
                                                                <td>{{responseData?.stdResponse || 'Nil'}}</td>
                                                                <td>{{responseData?.timeTaken || 'Nil'}}</td>
                                                            </ng-container>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </ng-template>
                                    </p-tabPanel>
                                </p-tabView>
                            </div>
                            
                    </ng-template>
                </p-tabPanel>
                 
            </p-tabView>                  
        </div>
    </div>
</div>
