<div class="sidebar {{sidebarState}}">
    <div class="sidebar-toggle visible-xs-inline-block" (click)="toggleSidebar()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div class="ek-sb-logo-sec">
        <a routerLink="/student/dashboard">
            <img src="{{client?.logo}}" title="Ezukit" alt="Ezukit">
        </a>
    </div>
    <!-- <div class="org-logo-sec">
        <a routerLink="/student/dashboard">
            <img src="http://iesmaster.org/public/images/logo.png" title="IES Master" alt="IES Master">
        </a>
    </div> -->
    <div class="menu-sec">
        <div class="menu-heading">
            <br>
        </div>
        <ul class="sidebar-menu">
            <li routerLinkActive="active">
                <a routerLink="/student/dashboard" (click)="sidebarState='CLOSED'">
                    <span class="glyphicon glyphicon-home link-icon"></span>
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
                <a routerLink="/student/shop/order/new" (click)="sidebarState='CLOSED'">
                    <span class="glyphicon glyphicon-list-alt link-icon"></span>
                    <span class="link-text">Apply Online</span>
                </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
                <a routerLink="/student/shop" (click)="sidebarState='CLOSED'">
                    <span class="glyphicon glyphicon-list-alt link-icon"></span>
                    <span class="link-text">Admissions/Orders</span>
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/student/profile" (click)="sidebarState='CLOSED'">
                    <span class="glyphicon glyphicon-list-alt link-icon"></span>
                    <span class="link-text">My Profile</span>
                </a>
            </li>
        </ul>
        <!-- <div class="menu-heading">
            <h4>Explore</h4>
        </div>
        <ul class="sidebar-menu">
            <li routerLinkActive="active">
                <a routerLink="/student/forum/question" (click)="sidebarState='CLOSED'">
                    <span class="glyphicon glyphicon-question-sign link-icon"></span>
                    <span class="link-text">Doubt Forum</span>
                </a>
                <span class="icon-menu-action glyphicon glyphicon-plus" routerLink="/student/forum/question/ask">
                    <span class="ek-tooltip">Ask Question</span>
                </span>
            </li>

        </ul> -->
        <ng-container *ngFor="let appCode of stdApps; let mi=index" >
            <div class="menu-heading">
                <h4>{{menuItems[appCode].title}}</h4>
            </div>
            <ul class="sidebar-menu">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}" *ngFor="let link of menuItems[appCode].menuItems" >
                    <a routerLink="{{link.path}}" (click)="sidebarState='CLOSED'">
                        <span class=" link-icon" [ngClass]="link.icon"></span>
                        <span class="link-text">{{link.title}}</span>
                    </a>
                </li>
            </ul>
        </ng-container>
        

    </div>
</div>