<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3 class="page-title">My Video Courses</h3>
            <hr>
            <div class="course-card-container panel-loader" [ngClass]="panelLoader">
                <div class="course-card-item" *ngFor="let up of userProducts;let i=index">
                    <div class="course-card">
                        <ng-container *ngIf="getValidity(up.validTill)==true">
                            <div class="expired-layer"></div>
                        </ng-container>
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}">
                                    <img class="img-responsive" src="{{up?.product?.featureImg}}" alt="{{up?.product?.title}}">
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}">{{ (up?.product?.title.length>22)? (up?.product?.title | slice:0:22)+'..':(up?.product?.title) }}</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="course-card-item" *ngFor="let up of freeProducts">
                    <div class="course-card">
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">
                                    <img class="img-responsive" src="{{up?.featureImg}}" alt="{{up?.title}}">
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">{{ (up?.title.length>22)? (up?.title | slice:0:22)+'..':(up?.title) }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p *ngIf="userProducts&&userProducts.length<1&&freeProducts&&freeProducts.length<1">
                    No Courses available for you . to view our courses <a routerLink="/student/online-courses/buy">Click here</a>
                </p>
                <!-- <div class="col-md-3">
                    <a routerLink="/student/online-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/student/online-courses/my-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a routerLink="/student/online-courses/my-courses/1">
                        <div class="course-card">
                            <div class="course-card-body">
                                <div class="card-img">
                                    <img class="img-responsive" src="https://miro.medium.com/max/1360/1*CFM9_VhPRrGG755enCmClw.jpeg" alt="">
                                </div>
                                <div class="course-card-title">
                                    <p>Lorem Title for Course Content</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>

    </div>
</div>


