<div class="panel panel-info" [ngClass]="(selectedEvent?'hide':'show')">
    <div class="panel-heading">
        <h3 class="panel-title">Classrooms Upcoming Schedule</h3>
    </div>
    <div class="panel-body panel-loader">
        <ul class="db-events">
            <li *ngFor="let cre of crEvents; let i=index">
                <a class="event-item" (click)="selectEvent(i)">
                    <p class="evt-main"><span class="label evt{{cre?.status}}">{{cre?.type}} </span> &nbsp; {{cre?.faculty.name}} at {{cre?.start |date:'shortTime'}}, {{cre?.start|date:'dd/MM/y'}}</p>
                    <p class="evt-sub">Sub: {{cre?.subject.name}} | Batch: {{cre?.batch.name}} | Venue: {{cre?.classroom.name}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="" *ngIf="selectedEvent" [ngClass]="(selectedEvent?'show':'hide')">
    <p><a class="btn btn-default btn-sm" (click)="selectedEvent=null">Back</a></p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{selectedEvent?.type}}
                <span class="label label-info pull-right evt{{selectedEvent?.status}}">{{selectedEvent?.status}}</span>
            </h3>
        </div>
        <div class="panel-body panel-loader" [ngClass]="panelLoader">
            <div class="event-card">
                <div class="row">
                    <div class="col-md-12 event-title">{{selectedEvent?.title}}</div>
                </div>
                <div class="row event-timing">
                    <div class="col-md-12"><span class="head"><label>Timing</label></span></div>
                    <div class="col-md-12"><span class="event-slt">{{selectedEvent?.start|date:'d/M/y'}}<br>{{selectedEvent?.start|date:'EEE'}} {{selectedEvent?.start |date:'shortTime'}}</span><span class="event-slt">{{selectedEvent?.end|date:'d/M/y'}}<br>{{selectedEvent?.end|date:'EEE'}} {{selectedEvent?.end |date:'shortTime'}}</span></div>
                </div>
                <div class="row event-batch">
                    <div class="col-md-6 col-xs-6"><span class="head"><label>Batch</label></span><br><span class="val">{{selectedEvent?.batch.name}}</span></div>
                    <div class="col-md-6 col-xs-6"><span class="head"><label>Venue</label></span><br><span class="val">{{selectedEvent?.classroom.name}}</span></div>
                </div>
                <div class="row event-status">
                    <div class="col-md-12"><span class="head"><label>Status</label></span></div>
                    <div class="col-md-12 val">
                        <span>{{(selectedEvent?.status=='PENDING'?'Pending for confirmation':selectedEvent?.status)}}</span>
                    </div>
                </div>
                <div class="row event-batch" *ngIf="selectedEvent?.startedAt">
                    <div class="col-md-6 col-xs-6" *ngIf="selectedEvent?.startedAt">
                        <span class="head"><label>Started At</label></span>
                        <span class="event-slt">{{selectedEvent?.startedAt|date:'d/M/y'}}<br>{{selectedEvent?.startedAt|date:'EEE'}} {{selectedEvent?.startedAt |date:'shortTime'}}</span>
                    </div>
                    <div class="col-md-6 col-xs-6" *ngIf="selectedEvent?.status=='FINISHED'"><span class="head"><label>Finished At</label></span>
                        <span class="event-slt">{{selectedEvent?.endedAt|date:'d/M/y'}}<br>{{selectedEvent?.endedAt|date:'EEE'}} {{selectedEvent?.endedAt |date:'shortTime'}}</span>
                        <!--<p *ngIf="selectedEvent?.breakDuration">Break: {{selectedEvent?.breakDuration}} Mins</p>-->
                    </div>
                </div>
                <div class="row event-batch" *ngIf="selectedEvent?.breaks">
                    <div class="col-md-12 col-xs-12" *ngIf="selectedEvent?.startedAt">
                        <span class="head"><label>Breaks ({{selectedEvent?.breakDuration}} Mins)</label></span>
                        <span class="event-slt" *ngFor="let b of selectedEvent?.breaks"> {{b?.start |date:'shortTime'}} - {{b?.end |date:'shortTime'}} | </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer ar clearfix" *ngIf="selectedEvent?.status!='FINISHED'">
            <button *ngIf="!selectedEvent?.startedAt" class="btn btn-info pull-left" (click)="startEventEMD()"><i class="fa fa-calendar-check-o"></i> Start {{selectedEvent?.type}}</button>
            <button *ngIf="selectedEvent?.status=='RUNNING'" class="btn btn-primary btn-xs pull-left" (click)="startBreakEMD()"><i class="fa fa-ban"></i> Start Break</button> &nbsp;
            <button *ngIf="selectedEvent?.status=='RUNNING'" class="btn btn-primary btn-xs pull-left" (click)="finishBreakEMD()"><i class="fa fa-ban"></i> Finish Break</button>
            <button *ngIf="selectedEvent?.status=='RUNNING'" class="btn btn-warning" (click)="finishEventEMD()"><i class="fa fa-hand-paper-o"></i> Finish {{selectedEvent?.type}}</button>
        </div>
    </div>
</div>

<p-dialog class="dialogue-with-overlays" [(visible)]="emd.display" modal="true" dismissableMask="true" responsive="true" width="480" height="400">
    <p-header>
        {{emd.heading}}
    </p-header>
    <form *ngIf="!selectedEvent?.startedAt" [formGroup]="startFrm" (ngSubmit)="startEvent()">
        <div class="form-group">
            <label for="startTime">Started On</label>
            <p-calendar formControlName="startedOn" class="form-control ngp-date" [showTime]="true" placeholder="{{defSDate|date:'d/M/y hh:mm a'}}" [defaultDate]="defSDate" hourFormat="12"></p-calendar>
        </div>
        <p class="ac"><button class="btn btn-info" type="submit">Submit</button></p>
    </form>

    <form *ngIf="emd.bsf" [formGroup]="startBreakFrm" (ngSubmit)="startBreak()">
        <div class="form-group">
            <label for="startTime">Break Start Time</label>
            <p-calendar formControlName="breakStart" class="form-control ngp-date" [showTime]="true" placeholder="{{defSDate|date:'hh:mm a'}}" [defaultDate]="defSDate" hourFormat="12" timeOnly="true"></p-calendar>
        </div>
        <p class="ac"><button class="btn btn-info" type="submit">Submit</button></p>
    </form>

    <form *ngIf="emd.bef" [formGroup]="finishBreakFrm" (ngSubmit)="finishBreak()">
        <div class="form-group">
            <label for="startTime">Break End Time</label>
            <p-calendar formControlName="breakEnd" class="form-control ngp-date" [showTime]="true" placeholder="{{defSDate|date:'hh:mm a'}}" [defaultDate]="defSDate" hourFormat="12" timeOnly="true"></p-calendar>
        </div>
        <p class="ac"><button class="btn btn-info" type="submit">Submit</button></p>
    </form>

    <form *ngIf="selectedEvent?.startedAt&&!emd.bef&&!emd.bsf" [formGroup]="finishFrm" (ngSubmit)="finishEvent()">
        <div class="form-group">
            <label for="finishTime">Finished On</label>
            <p-calendar formControlName="endedAt" class="form-control ngp-date" [showTime]="true" placeholder="{{defEDate|date:'d/M/y hh:mm a'}}" [defaultDate]="defEDate" hourFormat="12"></p-calendar>
        </div>
        <div class="form-group">
            <label for="breakTime">Break Time (in Minutes)</label>
            <input type="text" class="form-control" id="breakTime" placeholder="Break time during this event" formControlName="breakTime">
        </div>

        <p class="ac"><button class="btn btn-info" type="submit">Submit</button></p>
    </form>



</p-dialog>