<div class="activity-content" >
    <div class="row" style="margin-top: 5%; margin-bottom : 3%">
        <div class="col-md-12" >
            <div style="width : 80%; margin-left: 10%;">
                <div class="line"></div>
                <div class="row" style="margin-top:-25px">
                    <div class="col-md-4">
                        <div class="step" [ngClass]="{'active-step':activeStep == 1}">
                            <div class="digit">
                                <span *ngIf="activeStep == 1">1</span>
                                <span *ngIf="activeStep > 1" class="fa fa-check" style="color : #2dc32d;"></span>
                            </div>
                        </div>
                        <div class="step-content" [ngClass]="{'bold-content':activeStep == 1}">Product</div>
                    </div>
                    <div class="col-md-4">
                        <div class="step" [ngClass]="{'active-step':activeStep == 2}">
                            <div class="digit">
                                <span *ngIf="activeStep <= 2">2</span>
                                <span *ngIf="activeStep > 2" class="fa fa-check" style="color : #2dc32d;"></span>
                            </div>
                        </div>
                        <div class="step-content" [ngClass]="{'bold-content':activeStep == 2}">Order Summary</div>
                    </div>
                    <div class="col-md-4">
                        <div class="step" [ngClass]="{'active-step':activeStep == 3}">
                            <div class="digit">
                                <span *ngIf="activeStep <= 3">3</span>
                                <span *ngIf="activeStep > 3" class="fa fa-check" style="color : #2dc32d;"></span>
                            </div>
                        </div>
                        <div class="step-content" [ngClass]="{'bold-content':activeStep == 3}">Payment</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile panel-loader" *ngIf="activeStep == 1" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <span class="panel-title">{{tsProduct?.title}}</span>
                    <ul class="list-inline pull-right">
                        <li><b style="font-size: 18px;">&#8377; {{tsProduct?.cost}}/- </b> <b style="text-decoration: line-through; color: gray;">{{tsProduct?.mrp}}</b></li>
                        <li *ngIf="tsProduct && freeProduct"><a class="btn btn-success" (click)="enrollFreeProduct()">Free Enroll Now</a></li>
                        <li *ngIf="tsProduct && !freeProduct"><a class="ek-btn btn-create" (click)="activeStep = 2">Buy Now</a></li>
                    </ul>
                    <!-- <span class="pull-right"></span> -->
                        <!-- <span class="pull-right" ></span> -->
                </div>
                <div class="panel-body">
                    <div class="row margin-bottom-10">
                        <div class="col-md-offset-1 col-md-4 col-xs-12">
                            <img *ngIf="tsProduct?.featureImg" class="ts-img" src="{{tsProduct?.featureImg}}" alt="No Image" style="width: 20em;height: 20vh;">
                            <img *ngIf="!tsProduct?.featureImg" class="ts-img" src="/assets/images/no-image.svg" alt="No Image" style="width: 20em;height: 20vh;">
                        </div>
                        <div class="col-md-7 col-xs-12 p-content">
                            <div class="col-md-6 col-xs-12">Course :<b> {{tsProduct?.course?.valueAlias}}</b></div>
                            <div class="col-md-6 col-xs-12">Total {{tsProduct?.category?.sourceName}} :<b> {{tsProduct?.sourceId?.length}}</b></div>
                            <div class="col-md-6 col-xs-12">Stream :<b> {{tsProduct?.stream?.valueAlias}}</b></div>
                            <div class="col-md-12 col-xs-12">Description : <b [innerHTML]="tsProduct?.description"></b></div>
                        </div>
                    </div>
                    <ng-container *ngIf="tsProduct?.view == 'TESTMENT'">
                        <div *ngFor="let ts of testSeries;let i=index;">
                            <p-fieldset legend="TestSeries - {{ts?.title}}" [toggleable]="true">
                                <div class="row panel-loader" [ngClass]="testLoader">
                                    <div class="col-md-offset-1 col-md-2 col-xs-12">
                                        <img *ngIf="ts?.featureImage" class="ts-img" src="{{ts?.featureImage}}" alt="No Image">
                                        <img *ngIf="!ts?.featureImage" class="ts-img" src="/assets/images/test-series.jpg" alt="No Image">
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <table class="table alignC">
                                            <tbody>
                                                <tr>
                                                    <td><div>Course :<b> {{ts?.course?.valueAlias}}</b></div></td>
                                                    <td><div>Stream :<b> {{ts?.stream?.valueAlias}}</b></div></td>
                                                </tr>
                                                <tr>
                                                    <td><div>Total Tests :<b> {{ts?.totalTests}}</b></div></td>
                                                    <td *ngIf="!ts?.tests"><a class="ek-btn btn-list" (click)="loadTests(ts?.id,i)">View Tests</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 col-xs-12 table-responsive" *ngIf="ts?.tests">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>#</td>
                                                    <td>Title</td>
                                                    <td>Total Marks</td>
                                                    <td>Questions</td>
                                                    <td>Duration</td>
                                                    <td>Action</td>
                                                </tr>
                                                <tr *ngFor="let data of ts?.tests; let j=index;">
                                                    <td><b>{{j+1}}</b></td>
                                                    <td><a class="a-test" (click)="viewTest(data?.test)"><b> {{data?.test?.title}}</b><br><small>{{data?.test?.alias}}</small></a></td>
                                                    <td><b>{{data?.test?.maxScore}}</b></td>
                                                    <td><b>{{data?.test?.totalQs}}</b></td>
                                                    <td><b>{{data?.test?.duration}}</b></td>
                                                    <td>
                                                        <ng-container *ngIf="data?.test?.isFree">
                                                            <button class="btn btn-primary btn-xs" *ngIf="testOpened" (click)="loadTests(ts?.id,i)"><i class="fa fa-refresh"></i></button>
                                                            <ng-container *ngIf="data?.test?.testType == 'PRACTICE'">
                                                                <ng-container *ngIf="data?.test?.oneTimeSubmission">
                                                                        <button class="btn btn-success btn-mini" *ngIf="data?.userOnlineTest?.isAttempted == false" [disabled]="testOpened" (click)="testWindow(ts?.id,data?.test?.id)">Attempt Now</button>
                                                                </ng-container>
                                                                <ng-container *ngIf="!data?.test?.oneTimeSubmission">
                                                                        <button class="btn btn-success btn-mini" [disabled]="testOpened" (click)="testWindow(ts?.id,data?.test?.id)">Attempt Now</button>
                                                                </ng-container>
                                                                <button class="btn btn-warning btn-mini" *ngIf="data?.userOnlineTest?.isAttempted == true" [disabled]="testOpened" routerLink="/student/testment/overview" [queryParams]="{uotId:data?.userOnlineTest?.id}">Report</button>
                                                            </ng-container>
                                                            <ng-container *ngIf="data?.test?.testType == 'LIVE'">
                                                                <button class="btn btn-success btn-mini" *ngIf="!data?.userOnlineTest?.isAttempted" [disabled]="data?.test?.isTestStarted == false || testOpened" (click)="testWindow(ts?.id,data?.test?.id)">Attempt Now</button>
                                                                <button class="btn btn-warning btn-mini" *ngIf="data?.userOnlineTest?.isAttempted && data?.test?.showLiveResult" [disabled]="testOpened"  routerLink="/student/testment/overview" [queryParams]="{uotId:data?.userOnlineTest?.id}">Report</button>
                                                                <!-- <div class="brooch brooch-info" *ngIf="data?.userOnlineTest && data?.userOnlineTest?.isAttempted == true && !data?.test?.showLiveResult"> Attempted </div> -->
                                                                <button class="btn btn-primary" *ngIf="data?.userOnlineTest && data?.userOnlineTest?.isAttempted && !data?.test?.showLiveResult">
                                                                    Result Will Declared On<br>{{data?.test?.resultDate | date : "MMM d, y h:mm a"}}
                                                                </button>
                                                            </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="!data?.test?.isFree">
                                                            <button class="ek-btn btn-create btn-mini" *ngIf="tsProduct && freeProduct" (click)="enrollFreeProduct()"><i class="fa fa-unlock"></i> Unlock Test</button>
                                                            <button class="ek-btn btn-create btn-mini" *ngIf="tsProduct && !freeProduct" (click)="activeStep = 2"><i class="fa fa-unlock"></i> Unlock Test</button>
                                                        </ng-container>
                                                        <button class="ek-btn btn-list btn-mini" (click)="viewTest(data?.test)">View</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tsProduct?.view == 'CONVENTIONAL'">
                        <div class="col-md-6 col-xs-12" *ngFor="let ts of tsProduct?.sourceId;let i=index;">
                            <p-fieldset legend="{{ts?.title}}" [toggleable]="true">
                                <div class="row panel-loader" [ngClass]="testLoader">
                                    <div class="pull-right" *ngIf="!ts?.tests">
                                        <a class="ek-btn btn-list" (click)="loadConventionalTest(ts?.id,i)">View Tests</a>
                                    </div>
                                    <div class="col-md-12 col-xs-12 table-responsive" *ngIf="ts?.tests">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>#</td>
                                                    <td>Title</td>
                                                    <td>Total Marks</td>
                                                    <td>Questions</td>
                                                    <td>Duration</td>
                                                </tr>
                                                <tr *ngFor="let test of ts?.tests; let j=index;">
                                                    <td><b>{{j+1}}</b></td>
                                                    <td><b> {{test.title}}</b><br><small>{{test.alias}}</small></td>
                                                    <td><b>{{test.totalMarks}}</b></td>
                                                    <td><b>{{test.totalQs}}</b></td>
                                                    <td><b>{{test.duration}}</b></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tsProduct?.view == 'BOOK'">
                        <div class="col-md-4 col-xs-12" *ngFor="let book of tsProduct?.sourceId;let i=index;">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title" style="color: black;">{{book.title}}</h5>
                                  <!-- <p class="card-text" [innerHTML]="book.description | safeHtml"></p> -->
                                </div>
                              </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tsProduct?.view == 'EBOOK'">
                        <div class="col-md-4 col-xs-12" *ngFor="let book of tsProduct?.sourceId;let i=index;">
                            <div class="card">
                                <img class="card-img-top" src="{{book?.thumb}}" alt="No Image">
                                <div class="card-body">
                                  <h4>{{book.title}}</h4>
                                  <p  style="color: #8e8a8a;"[innerHTML]="book.description | safeHtml"></p>
                                </div>
                              </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="tsProduct?.view == 'ONLINE_COURSE'">
                        <div class="col-md-6 col-xs-12" *ngFor="let ts of tsProduct?.sourceId;let i=index;">
                            <p-fieldset legend="{{ts?.title}}">
                                <!-- <div class="row panel-loader" [ngClass]="testLoader">
                                    <div class="pull-right" *ngIf="!ts?.tests">
                                        <a class="ek-btn btn-list" (click)="loadConventionalTest(ts?.id,i)">View Tests</a>
                                    </div>
                                    <div class="col-md-12 col-xs-12 table-responsive" *ngIf="ts?.tests">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>#</td>
                                                    <td>Title</td>
                                                    <td>Total Marks</td>
                                                    <td>Questions</td>
                                                    <td>Duration</td>
                                                </tr>
                                                <tr *ngFor="let test of ts?.tests; let j=index;">
                                                    <td><b>{{j+1}}</b></td>
                                                    <td><b> {{test.title}}</b><br><small>{{test.alias}}</small></td>
                                                    <td><b>{{test.totalMarks}}</b></td>
                                                    <td><b>{{test.totalQs}}</b></td>
                                                    <td><b>{{test.duration}}</b></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                            </p-fieldset>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="panel panel-default panel-loader" *ngIf="activeStep == 2" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <span class="panel-title">Order Summary</span>
                    <button class="btn btn-primary btn-mini pull-right" (click)="activeStep = 1;"><i class="fa fa-arrow-left"></i></button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <img *ngIf="tsProduct?.featureImg" class="ts-img" src="{{tsProduct?.featureImg}}" alt="No Image" style="width: 15em;height: 18vh;">
                                    <img *ngIf="!tsProduct?.featureImg" class="ts-img" src="/assets/images/no-image.svg" alt="No Image" style="width: 15em;height: 18vh;">
                                </div>
                                <div class=" col-md-8 col-xs-12" style="font-weight: bold;">
                                    <div style="font-size : 20px;">{{tsProduct?.title}}</div>
                                    <div style="color : grey;">{{tsProduct?.alias}}</div>
                                    <span style="line-height: 3;">{{tsProduct?.course?.valueAlias}} &nbsp;|&nbsp; {{tsProduct?.stream?.valueAlias}}</span>
                                    <div style="font-size : 20px;"><i class="fa fa-inr"></i> {{tsProduct?.cost}}  <b style="text-decoration: line-through; color: gray;font-size : 14px;">{{tsProduct?.mrp}}</b> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="order-view">
                                <table class="table no-border">
                                    <tr>
                                        <td>Price</td>
                                        <td><i class="fa fa-inr"></i> {{tsProduct?.cost}}</td>
                                    </tr>
                                    <ng-container *ngIf="student&& student?.customParams&&student?.customParams?.specialDiscount">
                                        <tr>
                                            <td>Special Discount</td>
                                            <td><i class="fa fa-inr"></i> {{student?.customParams?.specialDiscount}}</td>
                                        </tr>
                                        <tr>
                                            <td>Discounted Price</td>
                                            <td><i class="fa fa-inr"></i> {{tsProduct?.cost-student?.customParams?.specialDiscount}}</td>
                                        </tr>
                                    </ng-container>
                                </table>
                                <div>
                                    <a class="ek-btn btn-list" (click)="createOrder()">PROCEED</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-default panel-loader" *ngIf="activeStep == 3" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <span class="panel-title">Payment</span>
                    <button class="btn btn-primary btn-mini pull-right" (click)="activeStep = 2;"><i class="fa fa-arrow-left"></i></button>
                </div>
                <div class="panel-body">
                    <ek-student-order-payment [order]="order"></ek-student-order-payment>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{test?.title}}" [modal]="true" [(visible)]="displayTestModal">
    <div class="row">
        <div class="col-md-12 col-xs-12 table-responsive">
            <div class="">
            </div>
            <table class="table alignC">
                <tbody>
                    <tr>
                        <td><div><small>Total Marks</small><br><b> {{test?.maxScore}}</b></div></td>
                        <td><div><small>Total Questions</small><br><b> {{test?.totalQs}}</b></div></td>
                        <td><div><small>Total Duration</small><br><b> {{test?.duration}} M</b></div></td>
                        <!-- <td><div><small>Type</small><br><b> {{test?.testType}}</b></div></td> -->
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr>
                        <td>#</td>
                        <td>Section</td>
                        <td>Marks</td>
                        <td>Questions</td>
                        <!-- <td>Duration</td> -->
                    </tr>
                    <tr *ngFor="let section of test?.sections;let i=index;" style="font-weight:bold;">
                        <td>{{i+1}}</td>
                        <td>{{section.title}}</td>
                        <td>{{section.totalMarks}}</td>
                        <td>{{section.totalQs}}</td>
                        <!-- <td>{{section.maxTime}} M</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <small>Description</small><b [innerHTML]="test?.description"></b>
            <ul>
                <li *ngIf="test?.maqPM">Multiple Answer Questions has Partial Marking.</li>
                <li *ngIf="test?.maqPM">Matrix Type Questions has Partial Marking.</li>
            </ul>
        </div>
    </div>
</p-dialog>


<p-dialog header="Choose EMI Plan" [styleClass]="'emi-plan-body'" [(visible)]="showEMIModal" [modal]="true" [draggable]="false" >
    <div class="row" *ngIf="paymentOptKeys&&paymentOptKeys.length>0">
        <div class="col-md-4" *ngFor="let key of paymentOptKeys;let i = index">
            <div class="emi-plan-box">
                <div class="glass"></div>

                <div class="emi-plan-content">
                    <h2>{{key}}</h2>
                    <ul>
                        <li *ngFor="let plan of paymentOptions[key]">{{plan?.title}} - ₹ {{plan?.amount}}</li>
                    </ul>
                    <button (click)="setEMIPlan(key)" class="btn btn-success">Select Plan</button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
