<div class="rsw-child">
    <div class="panel-loader">


        <form class="" role="form" (ngSubmit)="changePassword()" [formGroup]="changePasswordFrm">
            <legend *ngIf="title">{{title}}</legend>
            <div class="form-group">
                <label for="passA" >New Password<sup>*</sup>:</label>
                    <input type="password" id="passA" class="form-control" formControlName="passA">

            </div>

            <div class="form-group">
                <label for="passB">Confirm Password<sup>*</sup>:</label>

                    <input type="password" id="passB" class="form-control" formControlName="passB">

            </div>
            <div *ngIf="frmError mb10">

                    <div class="alert alert-danger">
                        {{frmError}}
                    </div>

                </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordFrm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                </div>
            </div>
        </form>

    </div>
</div>
