<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{video?.title}}</h3>
                </div>
                <div class="panel-body">
                    <iframe *ngIf="vidUrl"  [src]="vidUrl" width="640" height="360" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay; encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>