<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3 class="page-title">My Video Solution</h3>
            <hr>
            <div class="course-card-container">
                <div class="course-card-item" *ngFor="let up of userProducts">
                    <div class="course-card">
                        <ng-container *ngIf="getValidity(up.validTill)==true">
                            <div class="expired-layer"></div>
                        </ng-container>
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}">
                                    <img class="img-responsive" src="{{up?.product?.featureImg}}" alt="{{up?.product?.title}}">
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a routerLink="/student/online-courses/{{up?.product?.id}}" [queryParams]="{ up: 'yes'}">
                                        {{ (up?.product?.title.length>22)? (up?.product?.title | slice:0:22)+'..':(up?.product?.title) }}</a>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- <div class="course-card-item" *ngFor="let up of freeProducts">
                    <div class="course-card">
                        <div class="course-card-body">
                            <div class="course-card-img">
                                <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">
                                    <img class="img-responsive" src="{{up?.featureImg}}" alt="{{up?.title}}">
                                </a>
                            </div>
                            <div class="course-card-title">
                                <p>
                                    <a routerLink="/student/online-courses/{{up?.id}}" [queryParams]="{ up: 'no'}">{{ (up?.title.length>22)? (up?.title | slice:0:22)+'..':(up?.title) }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div *ngIf="userProducts&&userProducts.length<1" class="data-not-found"></div>
                
                <!-- <p class="bg-white" *ngIf="userProducts&&userProducts.length<1">
                    No Courses available for you . to view our courses <a routerLink="/student/online-courses/buy">Click here</a>
                </p> -->
                 
            </div>
        </div>

    </div>
</div>
