<div class="rsw-child">
    <div class="ek-tab-panel panel-loader" [ngClass]="panelLoader">

        <div class="ek-tab-panel-tabs">
            <ul>
                <li class="ek-tab-panel-tab" (click)="activeTab=0" [ngClass]="(!activeTab||activeTab===0?'active':'')">Overview</li>
            </ul>
        </div>
        <div class="ek-tab-panel-contents">
            <div class="ek-tab-panel-content" *ngIf="(!activeTab||activeTab===0)">
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Name</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.title}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Designation</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.designation?.title}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Location</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.location?.city}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">CTC</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.ctc}} Lac</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Min. Exp.</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.minExperience}} Years</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Stream</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.stream}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">CV (PDF)</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.cv}}</div>
                </div>

                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Video CV/Demo</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.videoCv}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Ask Qualification</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.qualification}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Ask College Type</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.collegeType}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Ask College Name</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.collegeName}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Ask experience</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.experience}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Ask Job Type</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.jobType}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Ask Availibility</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.availibility}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">HR EMail</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.nfEmail}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">HR Mobile</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.nfMobile}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Current Status</div>
                    <div class="col-md-9 col-xs-7 val">{{jobopening?.status?'Active':'Inactive'}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-12 col-xs-12 lbl">Description<br></div>
                    <div class="col-md-12 col-xs-12 val" [innerHtml]="jobopening?.description"></div>
                </div>



            </div>
        </div>
    </div>
</div>