<div class="ek-loginbox" *ngIf="!authenticated">
    <div class="lb-container">
        <div *ngIf="activeBox=='login'">
            <form role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <legend style="font-weight: bold;">{{title}}</legend>
                <div class="msg" *ngIf="authMsg" style="    color: red; border: solid 1px red; font-size: 14px; padding: 15px; /* border-radius: 5px; */ background: #fff5f5;">{{authMsg}}</div>
                <div class="form-group">
                    <label for="un">Username</label>
                    <input type="text" class="form-control" id="un" placeholder="Your login id" formControlName="username">
                </div>

                <div class="form-group">
                    <label for="pass">Password (DoB)</label>
                    <input type="password" class="form-control" id="pass" placeholder="Your password" formControlName="password">
                </div>

                <button type="submit" class="btn btn-primary">{{btnText}}</button>


            </form>
            <p class="alignR"><a (click)="activeBox='forgot'" class="btn btn-link link">Forgot Password?</a><br><a (click)="activeBox='signup';"  class="btn btn-link link">New Registration?</a> </p>
        </div>
        <div class="" *ngIf="activeBox=='forgot'">
            <form role="form" (ngSubmit)="processForgotPass()" [formGroup]="forgotPassForm">
                <legend>Request OTP to Recover Password</legend>
                <div class="msg" *ngIf="authMsg"></div>
                <div class="form-group">
                    <label for="un">Username</label>
                    <input type="text" class="form-control" id="un" placeholder="Your Username" formControlName="email">
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!forgotPassForm.valid">{{fpBtnText}}</button>
            </form>
            <p class="alignR">Have password, <a (click)="activeBox='login'" class="link">Login</a></p>
        </div>
        <div *ngIf="activeBox=='resetPassword'">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="requsetResetPassword()">
                <legend>Reset Your Password</legend>
                <div class="form-group">
                    <label for="">One Time Password (OTP) <sup>*</sup></label>
                    <input type="text" formControlName="otp" id="" placeholder="Enter OTP received on registered mobile no." class="form-control">
                </div>
                <div class="form-group">
                    <label for="">New Password <sup>*</sup></label>
                    <input type="password" formControlName="newPassword" minlength="6" placeholder="Enter New Password with minimum 6 digit" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Confirm Password <sup>*</sup></label>
                    <input type="password" formControlName="confirmPassword" placeholder="Enter Confirm password" id="" class="form-control">
                </div>
                <ng-container *ngIf="resetPasswordForm.value.confirmPassword&&resetPasswordForm.value.confirmPassword!==resetPasswordForm.value.newPassword">
                    <div class="alert alert-danger">
                        Confirm Password does not match with New Password.
                    </div>
                </ng-container>
                <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid||resetPasswordForm.value.confirmPassword!==resetPasswordForm.value.newPassword">{{fpBtnText}}</button>
            </form>
        </div>
         <div *ngIf="activeBox=='verifyOTP'">
            <form role="form" (ngSubmit)="verifyOTP()" [formGroup]="otpVarification">
                <legend>{{title}}</legend>
                <div class="msg" *ngIf="authMsg"></div>
                <div class="form-group">
                    <label for="otp">One Time Password(OTP)</label>
                    <input type="text" class="form-control" id="otp" placeholder="Enter OTP here" formControlName="otp">
                </div>



                <button type="submit" class="btn btn-primary">{{btnText}}</button>
            </form>
        </div>
        <div *ngIf="activeBox=='signup'" >
            <form role="form" (ngSubmit)="requestRegOTP()" [formGroup]="signupForm">
                <legend style="font-weight: bold; padding: 15px 0px; border-bottom: solid 3px #d1d6da; margin-bottom: 30px;">Registration Form</legend>
                <div class="msg" *ngIf="authMsg" style="    color: red; border: solid 1px red; font-size: 14px; padding: 15px; /* border-radius: 5px; */ background: #fff5f5;">{{authMsg}}</div>
                <div class="row">
                    <div class="form-group col-md-6 ">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="firstName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lanem">Last Name</label>
                        <input type="text" class="form-control" id="lanem" placeholder="Last Name" formControlName="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="mbl">Mobile</label>
                        <input type="text" class="form-control" id="mbl" placeholder="10 Digit Mobile Number" formControlName="mobile">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="eml">Email</label>
                        <input type="email" class="form-control" id="eml" placeholder="Email" formControlName="email">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="pass" placeholder="Your password" formControlName="pass">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cpass">Confirm Password</label>
                        <input type="password" class="form-control" id="cpass" placeholder="Retype your password" formControlName="cPass">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="dob">Date of Birth</label>
                        <input type="date" class="form-control" id="dob" placeholder="Date of Birth" formControlName="dob">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                       <p> 
                           <button type="submit" class="btn btn-primary">{{signupBtnText}}</button>
                           <a (click)="activeBox='login'" class="btn btn-link link" style="float:right">Login?</a>
                        </p>
                    </div>
                </div>

            </form>
        </div>
        <div *ngIf="activeBox=='verifySignupOTP'">
           <form role="form" (ngSubmit)="verifySignupOTP()" [formGroup]="signupOtpForm">
               <legend>Varify OTP</legend>
               <div class="msg" *ngIf="authMsg"></div>
               <div class="form-group">
                   <label for="otp">One Time Password(OTP)</label>
                   <input type="text" class="form-control" id="otp" placeholder="Enter OTP here" formControlName="otp">
               </div>



               <p><button type="submit" class="btn btn-primary">{{signupBtnText}} </button></p>
           </form>
       </div>
    </div>
</div>
