<div class="">
    <table class="table ">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Billing Date</th>
                <th>Store ID</th>
                <th>Invoice Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pmtOpt of paymentOpts; let i=index;" >
                <td>{{i+1}}</td>
                <td>{{pmtOpt.title}}</td>
                <td><i class="fa fa-inr"></i> {{pmtOpt.amount}}<br><small> + <i class="fa fa-inr"></i> {{pmtOpt.extraAmount}}</small></td>
                <td>{{pmtOpt.billingDate}}<br><small>Due: {{pmtOpt.dueDate}}</small></td>
                <td>{{pmtOpt.storeId}}</td>
                <td >
                    <ng-container *ngIf="pmtOpt?.invoiceType=='TI'">Texable Invoice </ng-container>
                    <ng-container *ngIf="pmtOpt?.invoiceType=='BS'" >Bill of Summary </ng-container>
                    <ng-container *ngIf="!pmtOpt?.invoiceType||pmtOpt?.invoiceType=='null'">No Invoice Type</ng-container>
                </td>
                <td>
                    <a (click)="showEditForm(i)"><i class="fa fa-edit fa-1x"></i></a>
                    <a (click)="removeOpt(i)"><i class="fa fa-close fa-1x icon-remove"></i></a></td>
                
            </tr>
        </tbody>
    </table>
    <p><button class="btn btn-default btn-sm" (click)="displayForm=true;" *ngIf="!displayForm" >Add new option</button></p>
</div>
<form [formGroup]="optForm" (ngSubmit)="addPaymentOpt()" *ngIf="displayForm" >
    <legend>Add new Option/EMI</legend>
    <div class="form-group">
        <label for="sq">Option/EMI Title</label>
        <input type="text" class="form-control"  placeholder="Title of the payment option" formControlName="title">
    </div>
    <div class="form-group">
        <label for="sq">Amount</label>
        <input type="number" class="form-control"  placeholder="Amount in INR" formControlName="amount">
    </div>
    <div class="form-group">
        <label for="sq">Any Charge</label>
        <input type="number" class="form-control"  placeholder="Amount in INR" formControlName="extraAmount">
    </div>
    <div class="form-group">
        <label for="">Apply Discount On this Option/EMI</label>
        <select formControlName="applyDiscount" id="" class=" form-control">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sq">Store</label>
        <select type="date" class="form-control" formControlName="storeId">
            <option [ngValue]="null">Select Store</option>
            <option [ngValue]="store.id" *ngFor="let store of stores" >{{store.title}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Linked Product</label>
        <input class="form-control" formControlName="linkedProduct" placeholder="Paste here Linked Product Id to fullFillService on pmt success">
    </div>
    <div class="form-group">
        <label for="sq">Billing Date</label>
        <input type="date" class="form-control" formControlName="billingDate">
    </div>
    <div class="form-group">
        <label for="sq">Due Date</label>
        <input type="date" class="form-control" formControlName="dueDate">
    </div>
    <div class="form-group">
        <label for="sqd">Invoice Type</label>
        <select formControlName="invoiceType" class="form-control" id="">
            <option value="null">Select Invoice Type</option>
           <option value="TI">Taxable Invoice</option>
           <option value="BS">Bill of Summary</option>
           <!-- <option value="null">According Combined Items</option> -->
        </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!optForm.valid||optFormStatus=='Processing'">{{(optFormStatus=='Processing'?'Processing...':'Add')}}</button>
</form>
<form class="p-15 bg-secondary" [formGroup]="optForm" (ngSubmit)="updatePaymentOpt()" *ngIf="displayEditForm" >
    <legend>Edit {{selectedOption?.title}}</legend>
    <div class="form-group">
        <label for="sq">Option/EMI Title</label>
        <input type="text" class="form-control"  placeholder="Title of the payment option" formControlName="title">
    </div>
    <div class="form-group">
        <label for="sq">Amount</label>
        <input readonly type="number" class="form-control"  placeholder="Amount in INR" formControlName="amount">
    </div>
    <div class="form-group">
        <label for="sq">Any Charge</label>
        <input type="number" class="form-control"  placeholder="Amount in INR" formControlName="extraAmount">
    </div>
    <div class="form-group">
        <label for="">Apply Discount On this Option/EMI</label>
        <select formControlName="applyDiscount" id="" class=" form-control">
            <option value="false">No</option>
            <option value="true">Yes</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sq">Store</label>
        <select type="date" class="form-control" formControlName="storeId">
            <option [ngValue]="null">Select Store</option>
            <option [ngValue]="store.id" *ngFor="let store of stores" >{{store.title}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Linked Product</label>
        <input class="form-control" formControlName="linkedProduct" placeholder="Paste here Linked Product Id to fullFillService on pmt success">
    </div>
    <div class="form-group">
        <label for="sq">Billing Date</label>
        <input type="date" class="form-control" formControlName="billingDate">
    </div>
    <div class="form-group">
        <label for="sq">Due Date</label>
        <input type="date" class="form-control" formControlName="dueDate">
    </div>
    <div class="form-group">
        <label for="sqd">Invoice Type</label>
        <select formControlName="invoiceType" class="form-control" id="">
            <option value="null">Select Invoice Type</option>
           <option value="TI">Taxable Invoice</option>
           <option value="BS">Bill of Summary</option>
           <!-- <option value="null">According Combined Items</option> -->
        </select>
    </div>
    <a class="btn btn-info" (click)="optForm.reset();selectedOption=null;displayEditForm=false">Cancel</a>
    <button type="submit" class="btn btn-primary" [disabled]="!optForm.valid||optFormStatus=='Processing'">{{(optFormStatus=='Processing'?'Processing...':'Update')}}</button>
</form>
