

<div class="activity-content">
    <form class="form" role="form" (ngSubmit)="addQset()" [formGroup]="qsetForm">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">qset</h3>
                    </div>
                    <div class="panel-body panel-loader" [ngClass]="frmLoader">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetTitle">Title<sup style="color: red">*</sup> </label>
                                <input type="text" class="form-control" id="qsetTitle" placeholder="Title of qset" formControlName="title" pattern="[^'\x22]+">
                            </div>
                            <div class="validate" *ngIf=" qsetForm.value.title != '' &&!qsetForm.controls['title'].valid&&qsetForm.controls['title'].dirty">
                                {{validMessage}}
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetAlias">Alias<sup style="color: red">*</sup></label>
                                <input type="text" class="form-control" id="qsetAlias" placeholder="Title Alias of qset" formControlName="alias" pattern="[^'\x22]+">
                            </div>
                            <div class="validate" *ngIf=" qsetForm.value.alias != '' &&!qsetForm.controls['alias'].valid&&qsetForm.controls['alias'].dirty">
                                {{validMessage}}
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetCourse">Course<sup style="color: red">*</sup></label>
                                <select #qCourse id="qsetCourse" class="form-control" formControlName="course" (change)="changeCourse(qCourse.value)">
                                    <option value="" >Select Course</option>
                                    <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                </select>
                                <!-- <input type="text" class="form-control" id="qsetAlias" *ngIf="qsetForm.value.course" value="{{courses.value}}" readonly> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="quesStream">Stream<sup style="color: red">*</sup></label>
                                    <select name="" #qstream id="quesStream" class="form-control" formControlName="stream">
                                        <option value="">Select Stream</option>
                                        <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                </select>
                                </div>
                            </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetType">qset Type<sup style="color: red">*</sup></label>
                                <select name="" id="qsetType" class="form-control" formControlName="type">
                                    <option value="PRACTICE" >PRACTICE</option>
                                    <option value="LIVE" >LIVE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetPaperType">Paper Type<sup style="color: red">*</sup></label>
                                <select name="" id="qsetPaperType" class="form-control" formControlName="paperType">
                                    <option value="Conventional" >Conventional</option>
                                    <option value="Objective" >Objective</option>
                                </select>
                            </div>
                        </div>
                        
                            
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetDuration">Duration<sup style="color: red">*</sup></label>
                                <input type="text" class="form-control" id="qsetDuration" placeholder="qset duration" formControlName="duration">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="totalQs">Total Questions<sup style="color: red">*</sup></label>
                                <input type="text" class="form-control" id="totalQs" placeholder="Total Questions" formControlName="totalQs">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="totalMarks">Total Marks<sup style="color: red">*</sup></label>
                                <input type="text" class="form-control" id="totalMarks" placeholder="Total Marks" formControlName="totalMarks">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetLang">default Language<sup style="color: red">*</sup></label>
                                <select name="" id="qsetLang" class="form-control" formControlName="defaultLang">
                                    <option value="EN">English</option>
                                    <option value="HI">Hindi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="!courseId">
                            <div class="form-group">
                                <label for="faculty">Assign To</label>
                                <select id="faculty" class="form-control" formControlName="assignedTo">
                                    <option value="">Select Faculty</option>
                                    <option value="{{faculty.userDetails?.id}}" *ngFor="let faculty of faculties" >{{faculty.name}} {{faculty.lastName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qsetStatus">Status<sup style="color: red">*</sup></label>
                                <select name="" id="qsetStatus" class="form-control" formControlName="status" >
                                    <option value="true" >Active</option>
                                    <option value="false" >Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="qsetDesc">Description</label>
                                <ck-editor id="qsetDes" formControlName="description"></ck-editor>
                                <!-- <textarea  class="form-control"   placeholder="Mini Description" pattern="[^'\x22]+" ></textarea> -->
                            </div>
                            <!-- <div class="validate" *ngIf=" qsetForm.value.description != '' && !qsetForm.controls['description'].valid&&qsetForm.controls['description'].dirty">
                                    {{validMessage}}
                            </div> -->
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary" [disabled]="!qsetForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
                <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox" [checked]="qsetForm.value.customParam?.publicQuiz" (change)="addPublicQuiz($event)"> Enable As Public Quiz </div>
                </div>
                <div class="panel panel-default" *ngIf="clientConfig?.isESSeller">
                    <div class="panel-heading"><input type="checkbox" [checked]="qsetForm.value.forSell" (change)="qsetForSell($event)"> Qset For Sale </div>
                    <div class="panel-body" *ngIf="qsetForm?.value?.forSell">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label for="mrp">Mrp<sup>*</sup></label>
                                    <input type="number" class="form-control" id="mrp" placeholder="Enter Mrp" formControlName="mrp">
                                </div>
                                <div class="form-group">
                                    <label for="cost">Cost<sup>*</sup></label>
                                    <input type="number" class="form-control" id="cost" placeholder="Enter Cost" formControlName="cost">
                                </div>
                                <div class="form-group">
                                    <label for="discount">Discount (in %)<sup>*</sup></label>
                                    <input type="number" class="form-control" id="discount" placeholder="Enter discount" formControlName="discount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instruction-box">
                    <h4>Instructions:</h4>
                    <hr/>
                    <ul>
                        <li>Fields marked with * are mandatory.</li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>