<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Qset</h3>
                    <ul class="list-inline pull-right">
                        <li *ngIf="activeClientConfig?.isESBuyer"><button class="btn btn-success" (click)="displayBuyQsetModal()">Buy Qset</button></li>
                    </ul>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <form role="form" [formGroup]="searchForm" (ngSubmit)="searchData()">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Course</th>
                                        <th>Stream</th>
                                        <th>Duration</th>
                                        <th>Total Question</th>
                                        <th>Total Marks</th>
                                        <th>Created By</th>
                                        <th *ngIf="routes == 'ims'">Assigned To</th>
                                        <!-- <th>Assigned By</th> -->
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="routes == 'ims'">
                                        <td></td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" formControlName="title"
                                                    placeholder="Qset Title">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <select name="" id="quesCourse" class="form-control"
                                                    formControlName="course">
                                                    <option value="" *ngIf="!courses">Loading courses...</option>
                                                    <option value="" *ngIf="courses">Select Course</option>
                                                    <option value="{{crs.id}}" *ngFor="let crs of courses">
                                                        {{crs.valueAlias}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <select name="" id="quesStrm" #quesStrm class="form-control"
                                                    formControlName="stream">
                                                    <option value="" *ngIf="!streams">Loading streams...</option>
                                                    <option value="" *ngIf="streams">Select stream</option>
                                                    <option value="{{stream.id}}" *ngFor="let stream of streams">
                                                        {{stream.valueAlias}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control" formControlName="createdBy">
                                                    <option value="">Select faculty</option>
                                                    <option value="{{faculty.userDetails?.id}}"
                                                        *ngFor="let faculty of faculties">{{faculty.name}}
                                                        {{faculty.lastName}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control" formControlName="assignedTo">
                                                    <option value="">Select faculty</option>
                                                    <option value="{{faculty.userDetails?.id}}"
                                                        *ngFor="let faculty of faculties">{{faculty.name}}
                                                        {{faculty.lastName}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <!-- <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="assignedBy">
                                                <option value="">Select faculty</option>
                                                <option value="{{faculty.userDetails?.id}}" *ngFor="let faculty of faculties">{{faculty.name}} {{faculty.lastName}}</option>
                                            </select>
                                        </div>
                                    </td> -->
                                        <td>
                                            <div class="form-group">
                                                <select name="" id="" class="form-control" formControlName="status">
                                                    <option value="">Select Status</option>
                                                    <option value="true">Active</option>
                                                    <option value="false">Inactive</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-info">Filter</button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let row of rows; let i=index">
                                        <td>{{countBase+i}}</td>
                                        <td>
                                            <a routerLink="/{{routes}}/qbank/qset/view"[queryParams]="{qsetId: row?.id}"title="View Details">{{row?.title}}</a><br>    
                                            <i *ngIf="row?.isPublished" title="Published" class="fa fa-check-circle fa-lg" style="color: #0202e0;"></i>
                                            <i *ngIf="row?.isPurchased" title="Purchased" class="fa fa-shopping-bag" style="color:green"></i>
                                            <i *ngIf="row?.forSell" title="For Sale" class="fa fa-inr forSell-icon"></i>
                                        </td>
                                        <td>{{row?.course?.value}}</td>
                                        <td>{{row?.stream?.valueAlias}}</td>
                                        <td>{{row?.duration}}</td>
                                        <td>{{row?.totalQs}}</td>
                                        <td>{{row?.totalMarks}}</td>
                                        <td style="font-size: 12px;">{{row?.createdBy?.firstName}}
                                            {{row?.createdBy?.lastName}}</td>
                                        <td *ngIf="routes == 'ims'">
                                            <div *ngIf="row?.assignedTo" style="font-size: 12px;">
                                                {{row?.assignedTo?.firstName}} {{row?.assignedTo?.lastName}}
                                                <a (click)="assignModal(i)" style="cursor: pointer;">Change</a>
                                            </div>
                                            <a class="btn btn-warning btn-mini" *ngIf="!row?.assignedTo"
                                                (click)="assignModal(i)">Assign</a>
                                        </td>
                                        <!-- <td>{{row?.assignedBy?.firstName}} {{row?.assignedBy?.lastName}}</td> -->
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" [checked]="row?.status"
                                                    (click)="updateStatus($event,i)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <ek-dropdown class="ek-action-btn" direction="right">
                                                <span class="dropdown-toggle"><i class="fa fa-bars"
                                                        aria-hidden="true"></i></span>
                                                <ng-container class="dropdown-menu">
                                                    <li><a routerLink="/{{routes}}/qbank/qset/view"
                                                            [queryParams]="{qsetId: row?.id}"> <i
                                                                class="fa fa-file-text-o"></i> View Detail</a></li>
                                                    <li><a routerLink="/{{routes}}/qbank/qset/edit/{{row?.id}}"
                                                            [queryParams]="{qsetId: row?.id, lang : row.defaultLang}"><i
                                                                class="fa fa-pencil-square-o"></i> Edit</a></li>
                                                    <ng-container *ngIf="!row.isPublished">
                                                        <li><a routerLink="/{{routes}}/qbank/question/add"
                                                                [queryParams]="{qsetId: row?.id, lang : row.defaultLang}"><i
                                                                    class="fa fa-plus"></i> Add Question</a></li>
                                                        <li ><a routerLink="/{{routes}}/qbank/question/studioplus"
                                                                [queryParams]="{qsetId: row?.id, lang : row?.defaultLang}"><i
                                                                    class="fa fa-quora"></i> Question Bank</a></li>
                                                        <li><a routerLink="/{{routes}}/qbank/qset/maker/{{row?.id}}"><i
                                                                    class="fa fa-files-o"></i> Qset Maker</a></li>
                                                        <li><a routerLink="/{{routes}}/qbank/upload"
                                                                [queryParams]="{qsetId: row?.id, lang : row.defaultLang}"><i
                                                                    class="fa fa-cloud-upload"></i> Upload Question</a></li>
                                                    </ng-container>
                                                    <li *ngIf="user?.type!= 'STAFF'"><a routerLink="/{{routes}}/qbank/qset/print"
                                                            [queryParams]="{qsetId: row?.id}"><i
                                                                class="fa fa-print"></i> Print Question</a></li>
                                                    <li *ngIf="row.oShip != '2'"><a (click)="quickTestModal(i)"><i
                                                                class="fa fa-print"></i> Quick Test</a></li>
                                                    <li><a (click)="createDuplicate(row)"><i class="fa fa-files-o"></i>
                                                            Duplicate</a></li>
                                                    <li *ngIf="this.user?.type !='STAFF'"><a (click)="deleteQset(row)"><i class="fa fa-trash"></i>
                                                            Delete</a></li>
                                                </ng-container>
                                            </ek-dropdown>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <p *ngIf="rows?.length < 1" class="alignC">
                        <b>No qset available! </b>
                        <a routerLink="/{{routes}}/qbank/qset/add" class="ek-btn btn-create btn-icon">Add New</a>
                    </p>
                </div>
                <div class="row" *ngIf="rows?.length>0">
                    <div class="col-md-12">
                        <p class="alignC">Total Records: {{totalRecords}}</p>
                        <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}"
                            [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Assign Faculty" [(visible)]="showAssignModal" [modal]="true" [width]="300" [height]="200">
    <div class="row">
        <div class="col-md-8">
            <select id="faculty" #faculty class="form-control">
                <option value="">Select Faculty</option>
                <option value="{{faculty.userDetails?.id}}" *ngFor="let faculty of faculties">{{faculty.name}}
                    {{faculty.lastName}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <a class="ek-btn btn-primary" (click)="assignFaculty(faculty.value)">Assign</a>
        </div>
    </div>
</p-dialog>
<p-sidebar [(visible)]="displayQuickTest" position="right" styleClass="ui-sidebar-md">
    <div class="panel panel-primary" style="margin-top: 25px;">
        <div class="panel-heading">
            <h3 class="panel-title">Create Quick Test</h3>
        </div>
        <div class="panel-body">
            <form class="form" role="form" (ngSubmit)="addQuickTest()" [formGroup]="testForm">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for="testTitle">Title<sup>*</sup> </label>
                            <input type="text" class="form-control" id="testTitle" placeholder="Title of Test"
                                formControlName="title">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="testTheme">Theme <sup>*</sup></label>
                            <select name="" id="testTheme" class="form-control" formControlName="theme">
                                <option value="">Select Theme</option>
                                <option value="GATE" >GATE</option>
                                <option value="NEET" >NEET</option>
                                <option value="JEE" >JEE</option>
                                <option value="ESE" >ESE</option>
                                <option value="SSC" >SSC</option>
                                <option value="SBI-PO" >SBI PO</option>
                                <option value="CSIR" >CSIR</option>
                                <option value="UPSC-IAS" >UPSC (IAS)</option>
                                <option value="SCHOLARSHIP" >SCHOLARSHIP</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <ul class="list-inline" style="margin-bottom: auto;">
                                <li><label for="quesInstruction">Instruction</label></li>
                                <!-- <li><a (click)="getInstructions()"><i class="fa fa-refresh" style="cursor: pointer"></i> Refresh</a></li>
                                <li><a routerLink="/ims/testment/instruction/add" target="blank" ><i class="fa fa-plus-circle"></i> Add New</a></li>
                                <li><a routerLink="/ims/testment/instruction/{{testForm.value.instruction}}" target="blank">View</a></li> -->
                            </ul>
                            <select #qInstruction id="quesInstruction" class="form-control"
                                formControlName="instruction">
                                <option value="">Select Instruction</option>
                                <option value="{{instruction.id}}" *ngFor="let instruction of instructions">
                                    {{instruction?.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div><label>Start Date <sup>*</sup></label></div>
                            <p-calendar formControlName="startDate" [showTime]="true" [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <div><label>End Date <sup>*</sup></label></div>
                            <p-calendar formControlName="endDate" [showTime]="true" [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="testForm.value.testType == 'LIVE'">
                        <div class="form-group">
                            <div><label>Result Date</label></div>
                            <p-calendar formControlName="resultDate" [showTime]="true" [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group col-md-2 col-md-offset-9">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!testForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-sidebar>
<p-sidebar [(visible)]="showBuyQsetModal" [fullScreen]="true">
    <h3 style="text-align: center;">Buy Question Sets</h3>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <form class="form" role="form" (ngSubmit)="getBuyQsets()" [formGroup]="buyQsetFilterForm">
                <div class="row">
                    <div class="col-md-3 col-xs-12 form-group">
                        <select #seller class="form-control" formControlName="client"
                            (change)="selectClient(seller.value)">
                            <option value="" *ngIf="!sellers">Loading Sellers...</option>
                            <option value="" *ngIf="sellers">Select Sellers</option>
                            <option value="{{seller.client?.id}}" *ngFor="let seller of sellers">
                                {{seller.client?.title}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-12 form-group">
                        <select class="form-control" formControlName="course">
                            <option value="">Select Course</option>
                            <option value="" *ngIf="!sellerCourses">Choose Seller First</option>
                            <option value="{{crs.id}}" *ngFor="let crs of sellerCourses">{{crs.valueAlias}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-12 form-group">
                        <select class="form-control" formControlName="stream">
                            <option value="">Select stream</option>
                            <option value="" *ngIf="!sellerStreams">Choose Seller First</option>
                            <option value="{{stream.id}}" *ngFor="let stream of sellerStreams">{{stream.valueAlias}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!buyQsetFilterForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Filter')}}</button>
                        <button type="button" class="btn btn-success pull-right" (click)="showOrderSummary()">Buy
                            Now</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-body panel-loader" [ngClass]="panelLoader"  style="height: 80vh; overflow-y: auto;">
            <p *ngIf="buyQsets?.length < 1" class="alignC">
                <i class="fa fa-filter" style="font-size: 100px;color: #80808066;"></i><br>
                <b>Apply Filter to view Qsets !!</b>
            </p>
            <ng-container *ngIf="buyQsets?.length > 0">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Course</th>
                            <th>Stream</th>
                            <th>Total Question</th>
                            <th>MRP</th>
                            <th>Discount</th>
                            <th>Effective Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of buyQsets; let i=index">
                            <td>
                                {{BuyCountBase+i}}
                            </td>
                            <td>{{row?.title}}</td>
                            <td>{{row?.course?.value}}</td>
                            <td>{{row?.stream?.valueAlias}}</td>
                            <td>{{row?.totalQs}}</td>
                            <td>MRP :- {{row.mrp}}<br>Sell. Price :- {{row.cost}}</td>
                            <td>{{row.discount}}%</td>
                            <td><span *ngIf="row.cost">{{row.cost-(row.cost*row.discount/100)}}</span></td>
                            <td>
                                <button type="button" class=" ek-btn btn-list btn-mini"
                                    (click)="displayBuyQsetQsModal(i)">View Questions</button>
                                <input type="checkbox" (change)="selectBuyQsets($event,row.id,i)"
                                    [checked]="selectedBuyQsets[row.id]"
                                    style="float: right;line-height: normal;height: 25px;width: 25px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-12">
                    <p class="alignC">Total Records: {{totalBuyQsetsRecords}}</p>
                    <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalBuyQsetsRecords}}"
                        [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="buyQsetPaginate($event)">
                    </p-paginator>
                </div>
            </ng-container>
        </div>
    </div>
</p-sidebar>

<p-dialog header="Qset Questions" [(visible)]="showBuyQsetQsModal" modal="true" [width]="1200">
    <div class="row">
        <div class="col-md-12" id="mathload" style="height: 70vh; overflow-y: auto;">
            <div *ngFor="let qsetQuestion of buyQsetQs[lang]; let i=index">
                <div class="panel panel-primary panel-profile" [ngClass]="panelLoader">
                    <div class="panel-heading panel-loader">
                        <span><b>Question : {{qsetQuestion?.questionSeqId}} </b></span>
                        <!-- <span class=" brooch brooch-success">{{qsetQuestion?.mp}}</span>
                        <span class="brooch brooch-danger">-{{qsetQuestion?.mn}}</span>
                        <ul class="list-inline pull-right" *ngIf="activeClientConfig?.client == qsetQuestion?.question?.client">
                            <li><a class="ek-btn btn-edit btn-mini "
                                    routerLink="/{{routes}}/qbank/question/edit/{{qsetQuestion?.question?._id}}"
                                    [queryParams]="{qsetId: qset?.id,lang : qsetQuestion?.question?.defaultLang}"><span
                                        class="glyphicon glyphicon-edit"></span></a>
                            </li>
                            <li><a class="ek-btn btn-edit btn-mini" (click)="showQuickEdit(i)">Quick Edit</a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" *ngIf="qsetQuestion?.question?.havePassage">
                                <span [innerHTML]="qsetQuestion?.question?.passage?.passageContent | safeHtml"></span>
                            </div>
                            <div class="col-md-8 col-border-right q-content">
                                <div *ngIf="qsetQuestion?.question?.qContent"
                                    [innerHTML]="qsetQuestion?.question?.qContent | safeHtml"></div>
                                <div
                                    *ngIf="qsetQuestion?.question?.qType == 'MCQ' || qsetQuestion?.question?.qType == 'MAQ' || qsetQuestion?.question?.qType == 'ARQ' || qsetQuestion?.question?.qType == 'PTQ'">
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml"></span>
                                    </div>
                                </div>
                                <div *ngIf="qsetQuestion?.question?.qType == 'MTQ'">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionP"><b>(P) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionP | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionQ"><b>(Q) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionQ | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionR"><b>(R) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionR | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionS"><b>(S) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionS | safeHtml"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionT"><b>(T) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionT | safeHtml"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-brdr0">
                                    <tbody>
                                        <!-- <tr>
                                            <td colspan="2">
                                                <label>Title</label><br /><b>{{qsetQuestion?.question?.title}}</b></td>
                                        </tr> -->
                                        <tr>
                                            <td><label>Question
                                                    Type</label><br /><b>{{qsetQuestion?.question?.qType}}</b></td>
                                            <td><label>Language</label><br /><b>{{qsetQuestion?.question?.defaultLang}}</b>
                                                <!-- <td><label>Level</label><br /><b>{{questionLevel[qsetQuestion?.question?.level]}}</b>
                                            </td> -->
                                        </tr>
                                        <tr>
                                            <td><label>Course</label><br /><b>{{qsetQuestion?.question?.course?.value}}</b>
                                            </td>
                                            <td><label>Stream</label><br /><b>{{qsetQuestion?.question?.stream?.valueAlias}}</b>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td *ngIf="qsetQuestion?.question?.topic?.name">
                                                <label>Topic</label><br /><b>{{qsetQuestion?.question?.topic?.name}}</b>
                                            </td>
                                            <td *ngIf="qsetQuestion?.question?.linkCount"><label>Q
                                                    Linked</label><br /><b>{{qsetQuestion?.question?.linkCount}}</b>
                                            </td>
                                        </tr> -->
                                        <!-- <tr>
                                            <td><label>Language</label><br /><b>{{qsetQuestion?.question?.defaultLang}}</b>
                                            </td>
                                            <td><label>Is
                                                    Variant</label><br /><b>{{qsetQuestion.question?.isVariant?'True' : 'False'}}</b>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<p-dialog header="Order Summary"  [(visible)]="displayOrderSummary" modal="true" [width]="800">
    <div class="row  panel-loader" [ngClass]="panelLoader" *ngIf="orderSummary">
        <div class="col-md-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>MRP</th>
                        <th>Sell. Price</th>
                        <th>Discount</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let qset of orderSummary?.qsets; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{qset.title}}</td>
                        <td>{{qset.mrp}}</td>
                        <td>{{qset.cost}}</td>
                        <td>{{qset.discountAmt}}<br><b>{{qset.discount}}%</b></td>
                        <td>{{qset.totalAmount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Total Amount : </td>
                        <td><b>{{orderSummary?.totalAmount}}</b></td>
                    </tr>
                    <tr>
                        <td>GST (18%) :</td>
                        <td><b>{{(orderSummary?.totalAmount*0.18).toFixed(2)}}</b></td>
                    </tr>
                    <tr>
                        <td>Payable Amount :</td>
                        <td><b>{{(orderSummary?.totalAmount+(orderSummary?.totalAmount*0.18)).toFixed(2)}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 alignC">
            <button type="button" class="btn btn-success" (click)="placeOrder()">Place Order</button>
        </div>
    </div>
</p-dialog>
<p-dialog header="Make Payment" [(visible)]="displayPaymentModal" modal="true" draggable="false" [responsive]="true">
    <div class="row panel-loader" [ngClass]="panelLoader">
        <div class="col-md-12">
            <p>
                Amount in Your Wallet : {{activeClientConfig?.cashBalance?.toFixed(2)||0}}
            </p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Amount to pay</th>
                        <th>{{order?.total}}</th>
                    </tr>

                </thead>
            </table>
            <p style="text-align: center;">
                <ng-container *ngIf="order?.total> (activeClientConfig?.cashBalance || 0) ">
                    Insufficient Balance<br>
                    <a class="btn btn-success" routerLink="/ims/edukit-store"> Add Money</a>
                </ng-container>
                <button class="btn btn-success" (click)="makePayment()"
                    *ngIf="order?.total==activeClientConfig?.cashBalance||activeClientConfig?.cashBalance>order?.total">Proceed
                    to pay</button>
            </p>
        </div>
    </div>
</p-dialog>