<div class="activity-content">
    <div class="panel panel-default" [ngClass]="panelLoader">
        <div class="panel-heading" style="min-height: 60px;">
            <!-- <h3 class="panel-title">Qset</h3> -->
            <ul class="list-inline pull-right">
                <li><label for="defaultLang">Language :</label></li>
                <li>
                    <!-- <button class="btn btn-success" (click)="displayBuyQsetModal()">Buy Qset</button> -->
                     <div class="form-group">
                        <select class="form-control" name="defaultLang" [ngModelOptions]="{standalone: true}" [(ngModel)]="defaultLang" (change)="loadVariantQs(dfaultLang.value)" #dfaultLang >
                            <option value="EN" title="English">EN</option>
                            <option value="HI" title="Hindi">HI</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 qset-print">
                    <table class="table table-responsive">
                        <tbody>
                            <tr *ngFor="let row of rows; let i=index">
                                <td width="1px"><span class="q_seq">{{i+1}}.</span></td>
                                <td>
                                    <div *ngIf="row?.question?.havePassage">
                                        <span>Passage - </span>
                                        <span [innerHTML]="row?.question?.passage?.passageContent | safeHtml" [ngClass]="row?.question?.defaultFont" ></span>
                                    </div>
                                    <span *ngIf="row?.question?.qContent" [innerHTML]="row?.question?.qContent | safeHtml" [ngClass]="row?.question?.defaultFont"></span>
                                   
                                    <div class="q-option"  *ngIf="row?.question?.qType == 'MCQ' || row?.question?.qType == 'MAQ' || row?.question?.qType == 'ARQ' || row?.question?.qType == 'PTQ'">
                                            <div><b>(a) </b><span [innerHTML]="row?.question?.qOption?.optionA | safeHtml" [ngClass]="row?.question?.defaultFont"></span>
                                            </div>
                                            <div><b>(b) </b><span [innerHTML]="row?.question?.qOption?.optionB | safeHtml" [ngClass]="row?.question?.defaultFont"></span>
                                            </div>
                                            <div><b>(c) </b><span [innerHTML]="row?.question?.qOption?.optionC | safeHtml" [ngClass]="row?.question?.defaultFont"></span>
                                            </div>
                                            <div><b>(d) </b><span [innerHTML]="row?.question?.qOption?.optionD | safeHtml" [ngClass]="row?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="row?.question?.qOption?.optionE"><b>(e) </b><span [innerHTML]="row?.question?.qOption?.optionE | safeHtml" [ngClass]="row?.question?.defaultFont"></span>
                                            </div>
                                    </div>
                                    <div class="q-option" *ngIf="row?.question?.qType == 'MTQ'">
                                        <div class="mtq-left">
                                            <div><b>(a) </b><span [innerHTML]="row?.question?.qOption?.optionA | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div><b>(b) </b><span [innerHTML]="row?.question?.qOption?.optionB | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div><b>(c) </b><span [innerHTML]="row?.question?.qOption?.optionC | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div><b>(d) </b><span [innerHTML]="row?.question?.qOption?.optionD | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div *ngIf="row?.question?.qOption?.optionE"><b>(e) </b><span [innerHTML]="row?.question?.qOption?.optionE | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                        </div>
                                        <div class="mtq-right">
                                            <div><b>(p) </b><span [innerHTML]="row?.question?.qOption?.optionP | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div><b>(q) </b><span [innerHTML]="row?.question?.qOption?.optionQ | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div><b>(r) </b><span [innerHTML]="row?.question?.qOption?.optionR | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div><b>(s) </b><span [innerHTML]="row?.question?.qOption?.optionS | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                            <div *ngIf="row?.question?.qOption?.optionT"><b>(t) </b><span [innerHTML]="row?.question?.qOption?.optionT | safeHtml" [ngClass]="row?.question?.defaultFont"></span></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>

    