<div class="activity-content">
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <div class="panel panel-default" *ngFor="let data of generatedData;let i=index">
                <div class="panel-body">
                    <table class="table table-brdr0">
                        <tbody>
                            <tr>
                                <td><label>Question Type</label><br>{{data?.qType}}</td>
                                <td><label>Total Questions</label><br>{{data?.totalQs}}</td>
                                <td><label>Available Questions</label><br>{{data?.availableQs}}</td>
                            </tr>
                            <tr>
                                <td><label>Language</label><br>{{data?.defaultLang}}</td> 
                                <td><label>Positive Marks</label><br>{{data?.mp}}</td> 
                                <td><label>Negative Marks</label><br>{{data?.mn}}</td>   
                            </tr>
                            <tr>
                                <td><label>Course</label><br>{{data?.course}}</td>
                                <td><label>Stream</label><br>{{data?.stream}}</td>
                                <td>
                                    <label>Subject</label>
                                    <div *ngFor="let subject of data?.subject">{{subject?.name}},</div>
                                    <div *ngIf="data?.subject?.length <1">NIL</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Unit</label>
                                    <div *ngFor="let unit of data?.unit">{{unit?.name}},</div>
                                    <div *ngIf="data?.unit?.length <1">NIL</div>
                                </td>
                                <td colspan="2">
                                    <label>Topic</label>
                                    <div *ngFor="let topic of data?.topic">{{topic?.name}},</div>
                                    <div *ngIf="data?.topic?.length <1">NIL</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generate Questions</h3>
                </div>
                <div class="panel-body panel-loader" [ngClass]="frmLoader">
                    <form class="form" role="form" (ngSubmit)="generateQuestions()" [formGroup]="genForm">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Question Type <sup style="color: red">*</sup></label>
                                    <select id="qType" #quesType class="form-control" formControlName="qType">
                                        <option value="">Select Type</option>
                                        <option value="MCQ" >MCQ</option>
                                        <option value="MAQ" >MAQ</option>
                                        <option value="DTQ" >DTQ</option>
                                        <!-- <option value="PTQ" >PTQ</option> -->
                                        <option value="MTQ" >MTQ</option>
                                        <option value="ARQ" >ARQ</option>
                                        <option value="TFQ" >TFQ</option>                            
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Total Questions <sup style="color: red">*</sup></label>
                                    <input type="number" class="form-control" placeholder="Total Questions" formControlName="totalQs">
                                </div>
                            </div> 
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div><label>Positive Marks</label></div>
                                    <input type="number" class="form-control" placeholder="Positive Marks" formControlName="mp">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div><label>Negative Marks</label></div>
                                    <input type="number" class="form-control" placeholder="Negative Marks" formControlName="mn">
                                </div>
                            </div> 
                            
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                        <label>Course <sup style="color: red">*</sup></label>
                                    <select name="" id="qsetCourse" class="form-control" formControlName="course">
                                        <option value="" >Select Course</option>
                                        <option value="{{i}}" *ngFor="let crs of courses;let i=index" >{{crs.valueAlias}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Stream <sup style="color: red">*</sup></label>
                                    <select #qstream id="quesStream" class="form-control" formControlName="stream" (change)="setSubjects(qstream.value)">
                                        <option value="">Select Stream</option>
                                        <option value="{{i}}" *ngFor="let stream of streams;let i=index" >{{stream.valueAlias}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div><label>Subject</label></div>
                                    <p-multiSelect [options]="subjects" formControlName="subject" [panelStyle]="{minWidth:'20em',maxWidth:'25em'}" (onChange)="subjectOnChange($event)" (onPanelHide)="setUnits()"></p-multiSelect>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div><label>Unit</label></div>
                                    <p-multiSelect [options]="subjectUnit" formControlName="unit" [panelStyle]="{minWidth:'20em',maxWidth:'25em'}" (onChange)=" unitOnChange($event)" (onPanelHide)="setTopics()"></p-multiSelect>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <div><label>Topic</label></div>
                                    <p-multiSelect [options]="topics" formControlName="topic" [panelStyle]="{minWidth:'20em',maxWidth:'25em'}"></p-multiSelect>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>language <sup style="color: red">*</sup></label>
                                    <select name="" id="lang" class="form-control" formControlName="defaultLang">
                                        <option value="" >Select Language</option>
                                        <option value="EN">ENGLISH</option>
                                        <option value="HI">HINDI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-2 col-md-offset-8">
                                <button type="submit" class="btn btn-primary" [disabled]="!genForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Generate')}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-xs-12" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Questions</h3>
                    <ul class="list-inline pull-right" *ngIf="questions.length > 0">
                        <li><a class="ek-btn btn-list btn-sm pull-right"  (click)="shuffleQuestions(questions)">Shuffle</a></li>
                        <li><a class="ek-btn btn-create pull-right" (click)="confirmAssign()">Save</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <h3 style="text-align: center" *ngIf="questions.length < 1">No Questions</h3>
                    <h5 style="text-align: center" *ngIf="questions.length > 0">Total Questions : {{questions?.length}}</h5>
                    <div class="panel panel-primary panel-profile" *ngFor="let question of questions; let i=index;">
                            <div class="panel-heading">
                                <span class="panel-title">Question : {{i+1}}</span>
                                <span class=" brooch brooch-success">{{question?.mp}}</span>
                                <span class="brooch brooch-danger">-{{question?.mn}}</span>
                                <a class="ek-btn btn-delete btn-mini pull-right" (click)="deleteQuestion(i)"><i class="fa fa-times"></i></a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12" *ngIf="question?.havePassage">
                                        <div *ngIf="question?.passage?.passageContent">
                                            <b>Passage -
                                            <div [innerHTML]="question?.passage?.passageContent | safeHtml" [ngClass]="question?.defaultFont"></div>
                                            </b>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-border-right" style="font-size: 16px;">
                                        <div  class="file-question"><span class="pull-left" >Q - </span><span *ngIf="question?.qContent" [innerHTML]="question?.qContent | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qType == 'MCQ' || question?.qType == 'MAQ' || question?.qType == 'ARQ' || question?.qType == 'PTQ'">
                                            <div *ngIf="question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                            <div *ngIf="question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        </div>
                                        <div *ngIf="question?.qType == 'MTQ'">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div *ngIf="question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                               </div>
                                                <div class="col-md-6">
                                                    <div *ngIf="question?.qOption?.optionP"><b>P. </b><span  [innerHTML]="question?.qOption?.optionP | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionQ"><b>Q. </b><span  [innerHTML]="question?.qOption?.optionQ | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionR"><b>R. </b><span  [innerHTML]="question?.qOption?.optionR | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionS"><b>S. </b><span  [innerHTML]="question?.qOption?.optionS | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                    <div *ngIf="question?.qOption?.optionT"><b>T. </b><span  [innerHTML]="question?.qOption?.optionT | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                 </div>
                                            </div>
                                        </div>
                                        <div><p class="brooch brooch-info">Answer :</p> <b>{{question?.ans}}</b></div>
                                        <div class="brooch brooch-info">Solution :</div>
                                        <div *ngIf="question?.qSolution" [innerHTML]="question?.qSolution | safeHtml" [ngClass]="question?.defaultFont"></div>            
                                    </div>
                                    <div class="col-md-4">
                                        <table class="table table-brdr0">
                                            <tbody>
                                                <tr>
                                                    <td><label>Question Type</label><br/><b>{{question?.qType}}</b></td>
                                                    <td><label>Level</label><br/><b>{{questionLevel[question?.level] || 0}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Course</label><br/><b>{{question?.course?.value || 'NIL'}}</b></td>
                                                    <td><label>Stream</label><br/><b>{{question?.stream?.value || 'NIL'}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Subject</label><br/><b>{{question?.subject?.name || 'NIL'}}</b></td>
                                                    <td><label>Unit</label><br/><b>{{question?.unit?.name || 'NIL'}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><label>Topic</label><br/><b>{{question?.topic?.name || 'NIL'}}</b></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>