<div class="activity-content" id="mathload">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary panel-profile" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <h3 class="panel-title" style="width: 34%;">
                        {{qset?.title}} 
                        <i *ngIf="qset?.isPublished" title="Published" class="fa fa-check-circle fa-lg" style="color: #0202e0;"></i>
                        <i *ngIf="row?.isPurchased" title="Purchased" class="fa fa-shopping-bag" style="color:green"></i>
                        <i *ngIf="qset?.forSell" title="For Sale" class="fa fa-inr forSell-icon"></i>
                    </h3>
                    <ul class="list-inline pull-right">
                        <li *ngIf="user?.type!= 'STAFF'"><a class="ek-btn btn-create btn-mini" routerLink="/{{routes}}/qbank/qset/print"
                                [queryParams]="{qsetId: qset?.id, defaultLang: lang||qset?.defaultLang}"><i class="fa fa-print"></i> Print</a></li>
                        <li *ngIf="!qset?.isPublished"><a class="ek-btn btn-create btn-mini" routerLink="/{{routes}}/qbank/question/add"
                                [queryParams]="{qsetId: qset?.id, lang : qset?.defaultLang}">Add Question</a></li>
                        <li *ngIf="!qset?.isPublished">
                            <a class="ek-btn btn-create btn-mini" routerLink="/{{routes}}/qbank/question/studioplus"
                             [queryParams]="{qsetId: qset?.id, lang : qset?.defaultLang}">Question Bank</a></li>
                        <li *ngIf="!qset?.isPublished"><a class="ek-btn btn-create btn-mini" routerLink="/{{routes}}/qbank/upload"
                                [queryParams]="{qsetId: qset?.id, lang : qset?.defaultLang}">Upload Question</a></li>
                        <li *ngIf="!qset?.isPublished"><a class="ek-btn btn-create btn-mini"
                                routerLink="/{{routes}}/qbank/qset/maker/{{qset?.id}}">Qset Maker</a></li>
                        <li><a class="ek-btn btn-edit btn-mini" routerLink="/{{routes}}/qbank/qset/edit/{{qset?.id}}"
                                *ngIf="panelLoader!='deleted'"><span class="glyphicon glyphicon-edit"></span></a></li>
                        <!-- <li><a class="ek-btn btn-delete btn-mini " (click)="deleteQset(qset?.id)"
                                *ngIf="panelLoader!='deleted'"><span class="glyphicon glyphicon-trash"></span></a></li> -->
                    </ul>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <table class="table table-brdr0">
                        <tbody>
                            <tr>
                                <td><label>Title</label><br><strong [innerHTML]="qset?.title | safeHtml"></strong></td>
                                <td><label>Course</label><br>{{qset?.course?.valueAlias}}</td>
                                <td><label>Stream</label><br>{{qset?.stream?.valueAlias}}</td>
                                <td><label>Duration</label><br>{{qset?.duration}}</td>
                                <td><label>Total Question</label><br> {{qsetQs[lang]?.length || 0}} / {{qset?.totalQs}}
                                </td>
                                <td><label>Total Marks</label><br>{{qset?.totalMarks}}</td>
                                <td><label>Status</label><br>
                                    <span class=" brooch brooch-success" *ngIf="qset?.status">Active</span>
                                    <span class=" brooch brooch-danger" *ngIf="!qset?.status">In Active</span>
                                </td>
                            </tr>
                            <tr>
                                <td *ngIf="!qset?.isPurchased && activeClientConfig?.isESSeller">
                                    <label>For Sell</label><br>
                                    <span class=" brooch brooch-success" *ngIf="qset?.forSell">Active</span>
                                    <span class=" brooch brooch-danger" *ngIf="!qset?.forSell">In Active</span>
                                </td>
                                <td><label>Assigned To</label><br>{{qset?.assignedTo?.firstName}}
                                    {{qset?.assignedTo?.lastName}}</td>
                                <td><label>Assigned By</label><br>{{qset?.assignedBy?.firstName}}
                                    {{qset?.assignedBy?.lastName}}</td>
                                <td><label>Created By</label><br>{{qset?.createdBy?.firstName}}
                                    {{qset?.createdBy?.lastName}}</td>
                                <td  *ngIf="activeClientConfig?.isESBuyer">
                                    <label>Owner Ship</label><br>{{oShipTitle[qset?.oShip]}} <button
                                        *ngIf="qset?.oShip == '2'" class="btn btn-success btn-mini"
                                        (click)="showOrderSummary()">Pay Now</button>
                                </td>
                                <td class="col-md-2">
                                    <div><label>Language</label></div>
                                    <select class="form-control" [(ngModel)]="lang" (change)="changeLanguage()">
                                        <option value="EN">English</option>
                                        <option value="HI">Hindi</option>
                                    </select>
                                </td>
                                <td  *ngIf="qset?.isPurchased">
                                    <label>Purchased</label><br>
                                    <span class=" brooch brooch-success" *ngIf="qset?.isPurchased">Active</span>
                                </td>
                            </tr>
                            <tr *ngIf="qset?.forSell && !qset?.isPurchased">
                                <td>
                                    <label>Cost</label>
                                    <div>{{qset?.cost}}</div>
                                </td>
                                <td>
                                    <label>MRP</label>
                                    <div>{{qset?.mrp}}</div>
                                </td>
                                <td>
                                    <label>Discount</label>
                                    <div>{{qset?.discount}}%</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngFor="let qsetQuestion of qsetQs[lang]; let i=index">
                <div class="panel panel-primary panel-profile panel-loader" [ngClass]="questionLoader">
                    <div class="panel-heading panel-loader">
                        <span><b>Question : {{qsetQuestion?.questionSeqId}} </b></span>
                        <span class=" brooch brooch-success">{{qsetQuestion?.mp}}</span>
                        <span class="brooch brooch-danger">-{{qsetQuestion?.mn}}</span>
                        <ul class="list-inline pull-right" *ngIf="activeClientConfig?.client == qsetQuestion?.question?.client && !qset?.isPurchased">
                            <li><a class="ek-btn btn-edit btn-mini "
                                    routerLink="/{{routes}}/qbank/question/edit/{{qsetQuestion?.question?._id}}"
                                    [queryParams]="{qsetId: qset?.id,lang : qsetQuestion?.question?.defaultLang}"><span
                                        class="glyphicon glyphicon-edit"></span></a>
                            </li>
                            <li><a class="ek-btn btn-edit btn-mini" (click)="showQuickEdit(i)">Quick Edit</a>
                            </li>
                            <li *ngIf="!qset?.isPublished"><a class="ek-btn btn-delete btn-mini" (click)="deleteQsetQuestion(qsetQuestion._id,i)"><span class="glyphicon glyphicon-trash"></span></a>
                            </li>
                        </ul>
                        <!-- <a class="ek-btn btn-edit btn-mini pull-right" routerLink="/{{routes}}/qbank/question/edit/{{qsetQuestion?.question?._id}}" [queryParams]="{qsetId: qset?.id,lang : qsetQuestion?.question?.defaultLang}"><span class="glyphicon glyphicon-edit"></span></a> -->
                        <!-- <a class="ek-btn btn-edit btn-mini pull-right" (click)="showQuickEdit(i)">Quick Edit</a> -->
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" *ngIf="qsetQuestion?.question?.havePassage">
                                <span [innerHTML]="qsetQuestion?.question?.passage?.passageContent | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                            </div>
                            <div class="col-md-8 col-border-right q-content">
                                <div *ngIf="qsetQuestion?.question?.qContent"
                                    [innerHTML]="qsetQuestion?.question?.qContent | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></div>
                                <div
                                    *ngIf="qsetQuestion?.question?.qType == 'MCQ' || qsetQuestion?.question?.qType == 'MAQ' || qsetQuestion?.question?.qType == 'ARQ' || qsetQuestion?.question?.qType == 'PTQ'">
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                    </div>
                                    <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span
                                            [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                    </div>
                                </div>
                                <div *ngIf="qsetQuestion?.question?.qType == 'MTQ'">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionP"><b>(P) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionP | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionQ"><b>(Q) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionQ | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionR"><b>(R) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionR | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionS"><b>(S) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionS | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                            <div *ngIf="qsetQuestion?.question?.qOption?.optionT"><b>(T) </b><span
                                                    [innerHTML]="qsetQuestion?.question?.qOption?.optionT | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="oShipEnable && qsetQuestion?.question?.ans">
                                    <p class="brooch brooch-info">Answer :</p> 
                                    <span class="bold">{{qsetQuestion?.question?.ans}}</span>
                                </div>
                                <div *ngIf="oShipEnable && qsetQuestion?.question?.qSolution">
                                    <div class="brooch brooch-info">Solution :</div>
                                    <div [innerHTML]="qsetQuestion?.question?.qSolution | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-brdr0">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <label>Title</label><br /><b [innerHTML]="qsetQuestion?.question?.title" [ngClass]=" qsetQuestion?.question?.defaultFont"></b></td>
                                        </tr>
                                        <tr>
                                            <td><label>Question
                                                    Type</label><br /><b>{{qsetQuestion?.question?.qType}}</b></td>
                                            <td><label>Level</label><br /><b>{{questionLevel[qsetQuestion?.question?.level]}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Course</label><br /><b>{{qsetQuestion?.question?.course?.value}}</b>
                                            </td>
                                            <td><label>Stream</label><br /><b>{{qsetQuestion?.question?.stream?.valueAlias}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td *ngIf="qsetQuestion?.question?.topic?.name">
                                                <label>Topic</label><br /><b>{{qsetQuestion?.question?.topic?.name}}</b>
                                            </td>
                                            <td *ngIf="qsetQuestion?.question?.linkCount"><label>Q
                                                    Linked</label><br /><b>{{qsetQuestion?.question?.linkCount}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label>Language</label><br /><b>{{qsetQuestion?.question?.defaultLang}}</b>
                                            </td>
                                            <td><label>Is
                                                    Variant</label><br /><b>{{qsetQuestion.question?.isVariant?'True' : 'False'}}</b>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!qset?.isPurchased">
                                            <td colspan="2">
                                                <label>ID</label><br /><b>{{qsetQuestion?.question?._id}}</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader" *ngIf="qsetQs[lang]?.length<1">
                <div class="panel-heading">
                    <p class="alignC">
                        <b>No Question available for now!</b>
                        <a routerLink="/{{routes}}/qbank/question/add"
                            [queryParams]="{qsetId: qset?.id,lang : qset?.defaultLang}"
                            class="ek-btn btn-create btn-icon">Add New Question</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Edit Question" [modal]="true" [(visible)]="displayQEdit" [width]="800">
    <div class="quickedit">
        <form class="form-horizontal fgm0" role="form" (ngSubmit)="updateEditQuestion()" [formGroup]="editQuesForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="qContent">Question</label>
                        <ck-editor id="qContent" formControlName="qContent" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                    </div>
                </div>
                <fieldset formGroupName="qOption" *ngIf="questionType!='DTQ' && questionType!='TFQ' && questionType!='STQ' && questionType!='FUQ'  " class="col-md-12">
                    <div class="col-md-6">
                        <label for="OptionA">Option A :</label>
                        <ck-editor id="optionA" formControlName="optionA" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionB">Option B :</label>
                        <ck-editor id="optionB" formControlName="optionB" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionA">Option C :</label>
                        <ck-editor id="optionC" formControlName="optionC" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionD">Option D :</label>
                        <ck-editor id="optionD" formControlName="optionD" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionE">Option E :</label>
                        <ck-editor id="optionE" formControlName="optionE" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                    </div>
                    <div class="col-md-6" *ngIf="questionType=='MTQ'">
                        <label for="OptionP">Option P :</label>
                        <ck-editor id="optionP" formControlName="optionP" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionQ">Option Q :</label>
                        <ck-editor id="optionQ" formControlName="optionQ" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionR">Option R :</label>
                        <ck-editor id="optionR" formControlName="optionR" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionS">Option S :</label>
                        <ck-editor id="optionS" formControlName="optionS" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionT">Option T :</label>
                        <ck-editor id="optionT" formControlName="optionT" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                    </div>
                </fieldset>
                <div class="col-md-12 col-xs-12">
                    <div class="form-group" *ngIf="questionType=='MCQ' || questionType=='PTQ' || questionType=='ARQ'">
                        <label>Answer</label>
                        <ul class="list-inline choose-option ek-border">
                            <li *ngFor="let option of options"><input type="radio" formControlName="ans"
                                    value="{{option}}">{{option}}</li>
                            <!-- <li><input type="radio" formControlName="ans" value="A"> A</li>
                            <li><input type="radio" formControlName="ans" value="B"> B</li>
                            <li><input type="radio" formControlName="ans" value="C"> C</li>
                            <li><input type="radio" formControlName="ans" value="D"> D</li>
                            <li><input type="radio" formControlName="ans" value="E"> E</li> -->
                        </ul>
                    </div>
                    <div class="form-group" *ngIf="questionType=='TFQ'">
                        <label>Answer</label>
                        <ul class="list-inline choose-option">
                            <li><input type="radio" formControlName="ans" value="true"> TRUE</li>
                            <li><input type="radio" formControlName="ans" value="false"> FALSE</li>
                        </ul>
                    </div>
                    <div class="form-group" *ngIf="questionType=='DTQ'">
                        <label for="quesAns">Answer </label>
                        <input type="text" class="form-control" id="quesAns" placeholder="Answer" formControlName="ans">
                    </div>
                    <div class="form-group" *ngIf="questionType=='MAQ'">
                        <label>Answer</label>
                        <ul class="list-inline choose-option ek-border">
                            <li *ngFor="let option of options"><input type="checkbox" value="{{option}}"
                                    (change)="insertCheckbxValue($event)"
                                    [checked]="answers.indexOf(option) >=0">{{option}}</li>
                        </ul>
                    </div>
                    <div class="form-group" *ngIf="questionType=='MTQ'">
                        <label>Answer</label>
                        <table class="choose-option ek-border" border="1">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>P</td>
                                    <td>Q</td>
                                    <td>R</td>
                                    <td>S</td>
                                    <td>T</td>
                                </tr>
                                <tr *ngFor="let option of options">
                                    <td>{{option}}</td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('P') >=0:false" value="P"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('Q') >=0:false" value="Q"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('R') >=0:false" value="R"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('S') >=0:false" value="S"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('T') >=0:false" value="T"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="solution">Solution</label>
                    <ck-editor id="solution" formControlName="qSolution" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right">Save Changes</button>
                    <button class="btn btn-danger pull-right" style="margin-right: 15px;"
                        (click)="displayQEdit = false">Close</button>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
<p-dialog header="Order Summary" [modal]="true" [(visible)]="displayOrderSummary" [width]="800">
    <div class="row mb-10" *ngIf="orderSummary">
        <div class="col-md-4 col-xs-12">
            <div class="order-card">
                <div class="score">{{orderSummary?.totalQs}}</div>
                <h4>Total Qset Questions</h4>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="order-card">
                <div class="score">{{orderSummary?.yourQs}}</div>
                <h4>Your Questions</h4>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="order-card">
                <div class="score">{{orderSummary?.paidQs}}</div>
                <h4>Paid Questions</h4>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="orderSummary">
        <div class="col-md-12 table-responsive">
            <table class="table table-brdr0">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Seller</th>
                        <th>Total Question</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orderSummary?.clients; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{order.client?.title}}</td>
                        <td>{{order.totalQuestions}}</td>
                        <td> <i class="fa fa-inr"></i> {{order.totalPrice}}</td>
                    </tr>
                    <tr style="border-top: 2.5px solid #e8e8e8;">
                        <td colspan="3" style="text-align: right">
                            <p>Total :</p>
                        </td>
                        <td style="text-align: right">
                            <p> <i class="fa fa-inr"> </i> {{orderSummary?.totalAmount}} /-</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;">
                            <p> Tax (18% GST) : </p>
                        </td>
                        <td style="text-align: right">
                            <p> <i class="fa fa-inr"> </i> {{(orderSummary?.totalAmount*0.18)}} /- </p>
                        </td>
                    </tr>
                    <tr style="border-top: 1px dotted #bebcbc">
                        <td colspan="3" style="text-align: right;">
                            <p> Total Payble : </p>
                        </td>
                        <td style="text-align: right;">
                            <p> <i class="fa fa-inr"> </i>
                                {{(orderSummary?.totalAmount+ orderSummary?.totalAmount*0.18)}} /- </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="alignC">
                            <button type="button" class="btn btn-success" (click)="placeOrder()">Place Order</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</p-dialog>
<!-- <div class="panel panel-primary panel-profile">
        <div class="panel-heading panel-loader" [ngClass]="panelLoader">
            <span><b> Passage Question</b></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <span [innerHTML]="qsetQuestion?.question?.passage?.passageContent | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span>
                </div>
                <div class="col-md-8 col-border-right q-content">
                    <div class="panel col-border-top">
                        <div class="panel-body"> 
                            <span><b>Question : {{qsetQuestion?.questionSeqId}}  </b></span>
                            <span class=" brooch brooch-success">{{qsetQuestion?.question?.mp}}</span>
                            <span class="brooch brooch-danger">-{{qsetQuestion?.question?.mn}}</span>
                            <a class="ek-btn btn-edit btn-mini pull-right" routerLink="/{{routes}}/qbank/question/edit/{{qsetQuestion?.question?._id}}" [queryParams]="{qsetId: qset?.id,lang : qsetQuestion?.question?.defaultLang}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="ek-btn btn-edit btn-mini pull-right" (click)="showQuickEdit(i)">Quick Edit</a>
                        </div>
                    </div>
                    <div *ngIf="qsetQuestion?.question?.qContent" [innerHTML]="qsetQuestion?.question?.qContent | safeHtml"></div>
                    <div *ngIf="qsetQuestion?.question?.qType == 'MCQ' || qsetQuestion?.question?.qType == 'MAQ' || qsetQuestion?.question?.qType == 'ARQ' || qsetQuestion?.question?.qType == 'PTQ'">
                        <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                        <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                        <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                        <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                        <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                    </div>            
                    <div *ngIf="qsetQuestion?.question?.qType == 'MTQ'">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionA"><b>(A) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionA | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionB"><b>(B) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionB | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionC"><b>(C) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionC | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionD"><b>(D) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionD | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionE"><b>(E) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionE | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                            </div>
                            <div class="col-md-6">
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionP"><b>(P) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionP | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionQ"><b>(Q) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionQ | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionR"><b>(R) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionR | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionS"><b>(S) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionS | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                                <div *ngIf="qsetQuestion?.question?.qOption?.optionT"><b>(T) </b><span  [innerHTML]="qsetQuestion?.question?.qOption?.optionT | safeHtml" [ngClass]=" qsetQuestion?.question?.defaultFont"></span></div>
                            </div>
                        </div>
                    </div>
                    <div><p class="brooch brooch-info">Answer :</p> <span class="bold">{{qsetQuestion?.question?.ans}}</span></div>
                    <div class="brooch brooch-info">Solution :</div>
                    <div *ngIf="qsetQuestion?.question?.qSolution" [innerHTML]="qsetQuestion?.question?.qSolution | safeHtml"></div>
                </div>
                <div class="col-md-4">
                    <table class="table table-brdr0">
                        <tbody>
                            <tr>
                                <td colspan="2"><label>Title</label><br/><b>{{qsetQuestion?.question?.title}}</b></td>
                            </tr> 
                            <tr>
                                <td><label>Question Type</label><br/><b>{{qsetQuestion?.question?.qType}}</b></td>
                                <td><label>Level</label><br/><b>{{questionLevel[qsetQuestion?.question?.level]}}</b></td>
                            </tr>
                            <tr>
                                <td><label>Course</label><br/><b>{{qsetQuestion?.question?.course?.value}}</b></td>
                                <td><label>Stream</label><br/><b>{{qsetQuestion?.question?.stream?.valueAlias}}</b></td>
                            </tr>
                            <tr >
                                <td *ngIf="qsetQuestion?.question?.topic?.name"><label>Topic</label><br/><b>{{qsetQuestion?.question?.topic?.name}}</b></td>
                                <td *ngIf="qsetQuestion?.question?.linkCount"><label>Q Linked</label><br/><b>{{qsetQuestion?.question?.linkCount}}</b></td>
                            </tr>
                            <tr >
                                <td><label>Language</label><br/><b>{{qsetQuestion?.question?.defaultLang}}</b></td>
                                <td><label>Is Variant</label><br/><b>{{qsetQuestion.question?.isVariant?'True' : 'False'}}</b></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label>ID</label><br/><b>{{qsetQuestion?.question?._id}}</b></td>
                            </tr>                                      
                        </tbody>
                    </table>
                </div>                            
            </div>
        </div>
    </div> -->


<p-dialog header="Make Payment" [(visible)]="displayPaymentModal" modal="true" draggable="false" [responsive]="true">
    <div class="row">
        <div class="col-md-12">
            <p>
                Amount in Your Wallet : {{activeClientConfig?.cashBalance?.toFixed(2)||0}}
            </p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Amount to pay</th>
                        <th>{{order?.total}}</th>
                    </tr>

                </thead>
            </table>
            <p>
                <ng-container *ngIf="order?.total> (activeClientConfig?.cashBalance || 0) ">
                    Insufficient Balance<a class="btn btn-success" routerLink="/ims/edukit-store"> Add Money</a>
                </ng-container>
                <button class="btn btn-success" (click)="makePayment()"
                    *ngIf="order?.total==activeClientConfig?.cashBalance||activeClientConfig?.cashBalance>order?.total">Proceed
                    to pay</button>
            </p>
        </div>
    </div>
</p-dialog>