<div class="rsw-child">

    <div class="std-profile">
        <div class="row dtl-row dtl-brdr-btm">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Enrollement No.<br><b>{{student?.srn}}</b></div>
                    <div class="col-md-6">Stream<br><b>{{student?.majorStream?.valueAlias}}</b></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Session<br><b>{{student?.session?.name}}</b></div>
                    <div class="col-md-6">Reg. Date<br><b>{{student?.createdAt|date:'d/M/y'}}</b></div>
                </div>
            </div>
        </div>
        <div class="row dtl-row">

            <div class="col-md-6">
                <div class="row dtl-row">
                    <div class="col-md-6">First Name</div>
                    <div class="col-md-6"><b>{{student?.firstName}}</b></div>
                </div>
                <div class="row dtl-row">
                    <div class="col-md-6">Last Name</div>
                    <div class="col-md-6"><b>{{student?.lastName}}</b></div>
                </div>
                <div class="row dtl-row">
                    <div class="col-md-6">Email ID</div>
                    <div class="col-md-6"><b>{{student?.email}}</b></div>
                </div>
                <div class="row dtl-row">
                    <div class="col-md-6">Mobile Number</div>
                    <div class="col-md-6"><b>{{student?.mobile}}</b></div>
                </div>
                <div class="row dtl-row">
                    <div class="col-md-6">Username (Login ID)</div>
                    <div class="col-md-6"><b>{{student?.user?.username}}</b></div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 alignR">
                        <p *ngIf="student?.personalImg&&student?.personalImg!='NA'" ><img class="prsnlImg" src="{{student?.personalImg}}" alt="Personal Photo"></p>
                        <p *ngIf="student?.signImg&&student?.signImg!='NA'" ><img class="signImg" src="{{student?.signImg}}" alt="Sign Photo"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row dtl-row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Father/Gaurdian Name</div>
                    <div class="col-md-6"><b>{{student?.father?.name}}</b></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Gaurdian Contact</div>
                    <div class="col-md-6"><b>{{student?.father?.mobile}}</b></div>
                </div>
            </div>
        </div>
        <div class="row dtl-row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Mother Name</div>
                    <div class="col-md-6"><b>{{student?.mother?.name}}</b></div>
                </div>
            </div>
        </div>

        <div class="row dtl-row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">DoB</div>
                    <div class="col-md-6"><b>{{student?.dob}}</b></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Gender</div>
                    <div class="col-md-6"><b>{{student?.gender}}</b></div>
                </div>
            </div>
        </div>
        <div class="row dtl-row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Category</div>
                    <div class="col-md-6"><b>{{student?.category}}</b></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">College</div>
                    <div class="col-md-6"><b>{{student?.pastCourses&&student?.pastCourses[0]&&student?.pastCourses[0]?.college?student?.pastCourses[0]?.college:'NA'}}</b></div>
                </div>
            </div>
        </div>
        <div class="row dtl-row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Corresependence Address</div>
                    <div class="col-md-6" *ngIf="student?.address">
                        {{student?.address?.address}}<br> {{student?.address?.landmark}}
                        <br> {{student?.address?.city}}
                        <br> {{student?.address?.postalCode}}, {{student?.address?.state}}<br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">Permanant Address</div>
                    <div class="col-md-6" *ngIf="student?.permanantAddress">
                        {{student?.permanantAddress?.address}}<br> {{student?.permanantAddress?.landmark}}
                        <br> {{student?.permanantAddress?.city}}
                        <br> {{student?.permanantAddress?.postalCode}}, {{student?.permanantAddress?.state}}<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a class="btn btn-info btn-outline" routerLink="/ims/academics/student/{{student?.id}}">Full Details</a>
                    <button *ngIf="profileDownloadOpt&&!student?.profilePdf" class="btn btn-success btn-outline" (click)="createProfilePdf()">Create Profile PDF</button>
                    <a *ngIf="profileDownloadOpt&&student?.profilePdf" class="btn btn-success" href="{{student?.profilePdf}}" target="new">Download Profile</a>
                    <button *ngIf="profileDownloadOpt&&student?.profilePdf" class="btn btn-link" (click)="createProfilePdf()">Re-Create Profile PDF</button>

                    <a *ngIf="profileDownloadOpt&&student?.idCard" class="btn btn-success pull-right"  href="{{BASIC_CONFIG?.API_URL}}/student-manager/student/{{student?.id}}/id-card" target="blank">Download ID Card</a>
                    <a *ngIf="profileDownloadOpt&&!student?.idCard" class="btn btn-success pull-right btn-outline" (click)="createIdCard()">Create ID Card</a>
                    <button *ngIf="student?.user" class="btn btn-warning btn-outline btn-block" (click)="resetDeviceLimit(student?.user.id)"> Reset Device Limit</button>

                </p>
            </div>
        </div>
    </div>

</div>
