<!-- <div class="activity-header">
    <h1 class="activity-heading">Edit Employee <small>{{employee?.name}}</small></h1>
    <div class="activity-header-menu">
        <ul>
            <li><a routerLink="{{routes}}/add" class="ek-btn btn-create">Add New</a></li>
            <li><a routerLink="{{routes}}" class="ek-btn btn-list">View All</a></li>
        </ul>
    </div>
</div>

<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li><a routerLink="/ims/home">Home</a></li>
        <li><a routerLink="/ims/hr">HR</a></li>
        <li><a routerLink="{{routes}}">Employee</a></li>
        <li class="active">Edit</li>
    </ol>
</div> -->

<div class="activity-content">
    <div class="row">
        <div class="col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Basic Details</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" (ngSubmit)="updateEmployee()" [formGroup]="employeeForm">
                        <div class="form-group">
                            <label for="frstNm" class="col-sm-2 control-label">First Name<sup>*</sup></label>
                            <div class="col-sm-10">
                                <input type="text" id="frstNm" class="form-control" formControlName="firstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lstNm" class="col-sm-2 control-label">Last Name<sup>*</sup></label>
                            <div class="col-sm-10">
                                <input type="text" id="lstNm" class="form-control" formControlName="lastName">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="i4" class="col-sm-2 control-label">Email<sup>*</sup>:</label>
                            <div class="col-sm-10">
                                <input type="text" id="i4" class="form-control" formControlName="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="i5" class="col-sm-2 control-label">Mobile<sup>*</sup>:</label>
                            <div class="col-sm-10">
                                <input type="text" id="i5" class="form-control" formControlName="mobile">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="i6" class="col-sm-2 control-label">Phone:</label>
                            <div class="col-sm-10">
                                <input type="text" id="i6" class="form-control" formControlName="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Employee mini description</label>
                            <div class="col-sm-10">
                                <ck-editor formControlName="description" costomHeight="400"></ck-editor>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="i6" class="col-sm-2 control-label">Profile Photo:</label>
                            <div class="col-sm-10">
                                <ek-fileinput typeCategory="IMAGE" [fmModalStatus]="'hide'" [customClass]="'form-control'" formControlName="profileImg"></ek-fileinput>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!designation">
                            <label for="input2" class="col-sm-2 control-label">Designation<sup>*</sup></label>
                            <div class="col-sm-10">
                                <select #poc class="form-control" formControlName="designation">
                                    <option value="">Select Designation</option>
                                    <option value="{{desi.id}}" *ngFor="let desi of designations" >{{desi.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input3" class="col-sm-2 control-label">Status<sup>*</sup>:</label>
                            <div class="col-sm-10">

                                <select name="" id="input3" class="form-control" formControlName="status">
                                    <option value="true" >Active</option>
                                    <option value="false" >Inactive</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <p><button class="btn btn-warning" (click)="loadAccessWindow()">Set App Access</button></p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">General Access</h3>
                </div>
                <div class="panel-body">
                    <ek-user-general-access-form [userId]="employee?.user.id"></ek-user-general-access-form>
                </div>
            </div>
            <div class="instruction-box">
                <h4>Instructions:</h4>
                <hr/>
                <ul>
                    <li>Fields marked with * are mandatory.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body">
                    <ek-user-change-password [userId]="employee?.user.id"></ek-user-change-password>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="ek-full-screen-window" [ngClass]="fswState">
    <span class="close-opt" (click)="closeWindow()"><i class="fa fa-close fa-2x"></i></span>
    <div class="fsw-container">
        <div class="eaa-app-grp" *ngFor="let aa of allActivities" >
            <h4>{{aa._id}}</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr *ngFor="let activity of aa.activities" >
                        <td><b>{{activity.title}}</b></td>
                        <td>
                            <ul>
                                <li *ngFor="let option of activity.permissionOptions" ><input type="checkbox" [checked]="userPerms&&userPerms[aa._id]&&userPerms[aa._id][activity.activity]&&userPerms[aa._id][activity.activity][option]" (change)="setPermission(aa._id, activity.activity, option, $event)">  {{option}}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><small>Note: In any activity group, if selected any option, 'LIST' option will be included by default.</small></p>
        <hr>
        <p class="alignC"><button class="btn btn-warning" (click)="updateUserPermission()">Update</button></p>
    </div>
</div>