<!-- <div class="activity-header">
    <h1 class="activity-heading">Employees</h1>
    <div class="activity-header-menu">
        <ul>
            <li><a routerLink="{{routes}}/add" class="ek-btn btn-create">Add New</a></li>
        </ul>
    </div>
</div>

<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li><a routerLink="/ims/home">Home</a></li>
        <li><a routerLink="/ims/hr">HR</a></li>
        <li class="active">Employee</li>
    </ol>
</div> -->

<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" *ngIf="title">{{title}}</h3>
                </div>
                <div class="table-responsive panel-loader" [ngClass]="panelLoader">
                    <table class="table table-hover manage-u-table">
                        <thead>
                            <tr>
                                <th width="70" class="text-center">#</th>
                                <th>NAME</th>
                                <th>DESIG.</th>
                                <th>EMAIL</th>
                                <th>ADDED</th>
                                <th width="250">ADDRESS</th>
                                <th>MANAGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let member of employees; let i=index">
                                <td class="text-center">{{countBase+i}}</td>
                                <td><a routerLink="{{routes}}/{{member.id}}"><span class="font-medium">{{member.user?.firstName}} {{member.user?.lastName}}</span></a>
                                    <br><span class="text-muted">{{member.city}}</span></td>
                                <td>{{member.designation?.title}}
                                    <br><span class="text-muted">{{member.jobCategory}}</span></td>
                                <td>{{member.user?.email}}
                                    <br><span class="text-muted">+91 {{member.user?.mobile}}</span></td>
                                <td>{{member.createdAt | date:'d/M/yy'}}
                                    <span class="text-muted">{{member.createdAt | date:'shortTime'}}</span></td>
                                <td>
                                    -
                                </td>
                                <td>
                                    <a routerLink="{{routes}}/edit/{{member.id}}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <button (click)="deleteEmployee(member)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" *ngIf="employees?.length>0">
                    <div class="col-md-12">
                        <p class="alignC">Total Records: {{totalRecords}}</p>
                        <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>