<!-- <div class="activity-header">
    <h1 class="activity-heading">Employee <small>{{employee?.name}}</small></h1>
    <div class="activity-header-menu">
        <ul>
            <li><a routerLink="{{routes}}/add" class="ek-btn btn-create">Add New</a></li>
            <li><a routerLink="{{routes}}" class="ek-btn btn-list">View All</a></li>
        </ul>
    </div>
</div>

<div class="activity-breadcrumb">
    <ol class="breadcrumb">
        <li><a routerLink="/ims/home">Home</a></li>
        <li><a routerLink="/ims/hr">HR</a></li>
        <li><a routerLink="{{routes}}">Employees</a></li>
        <li class="active">{{employee?.name}}</li>
    </ol>
</div> -->

<div class="activity-content">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-primary panel-profile">
                <div class="panel-heading">
                    <h3 class="panel-title">{{employee?.name}}</h3>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">

                    <table class="table table-brdr0">

                        <tbody>
                            <tr>
                                <td><label>Name</label><br>{{employee?.name}}</td>
                                <td><label>Email</label><br>{{employee?.user.email}}</td>
                            </tr>
                            <tr>
                                <td><label>Mobile</label><br>{{employee?.user.mobile}}</td>
                                <td><label>Username</label><br>{{employee?.user.username}}</td>
                            </tr>
                            <tr>
                                <td><label>Status</label><br>{{employee?.status?'Active':'Inactive'}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    <a class="ek-btn btn-edit " routerLink="{{routes}}/edit/{{employee?.id}}" *ngIf="panelLoader!='deleted'">Edit</a>
                    <a class="ek-btn btn-delete " (click)="deleteEmployee(employee?.id)" *ngIf="panelLoader!='deleted'">Delete</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xs-12">

            <div class="panel panel-info" *ngIf="employee">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <!--<ek-cc-classrooms [employeeUserId]="employee?.user.id"></ek-cc-classrooms>-->
            </div>

        </div>
    </div>

</div>