<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            
            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3 class="panel-title mr-10"><i  routerLink="/student/dashboard" class="pi pi-arrow-left back-btn-icon" style="cursor: pointer;"></i>  Articles</h3>
                    </div>
                    <div class="col-md-6 col-xs-12" *ngIf="student&&student?.batches&&student?.batches.length>0">
                        <ul class="list-inline pull-right">
                            <li><label for="activeBatchIndex">Batches :</label></li>
                            <li>
                                 <div class="form-group">
                                    <select class="form-control" name="activeBatchIndex" [ngModelOptions]="{standalone: true}" [(ngModel)]="activeBatchIndex" (change)="setActiveBatch(dfaultLang.value)" #dfaultLang >
                                        <option value="{{i}}" *ngFor="let batch of student?.batches;let i=index">{{batch?.batch?.code}}</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body"> 
                    <div class="batch-feeds">
                        <div class="article-card-container" *ngIf="articles&& articles.length>0">
                            <div class="article-card-container-inner" *ngFor="let feed of articles;let i=index">       
                                <div class="article-card" >
                                    <div class="article-card-header" [ngStyle]="{'background-image': getUrl(feed?.data?.featureImg)}">
                                    </div>
                                    <div class="article-card-body">
                                      <h4 class="article-card-title">{{feed?.data?.title}}
                                      </h4>
                                     <p>
                                        <i> By {{feed?.user?.firstName}} {{feed?.user?.lastName}}</i>
                                        <br>
                                        {{feed?.data?.publishedAt |date}}
                                     </p>
                                     <div class="article-content" [innerHtml]="feed?.data?.description?.length>100?(feed?.data?.description| slice:0:100):feed?.data?.description">
                                     </div>
                                    </div>
                                    <div class="article-card-footer" [ngClass]="(i%2==0?'article-royal-blue-bg':'article-sky-blue-bg')" (click)="showDetails(i)" >
                                        <span>Read More </span>
                                        <i class="pull-right fa fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="articles&& articles.length<1">
                          <div class="row">
                            <div class="col-md-12 col-xs-12 alignC p-15">
                                <div class="data-not-found"></div>
                            </div>
                          </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="displayArticleDetail" [fullScreen]="true" [ngStyle]="{overflow:'scroll'}" blockScroll="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" [ngClass]="panelLoader">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{selectedArticle?.data?.title}}
                            <span class="pull-right panel-title-side-span">
                                <i class="fa fa-user"></i>
                                {{selectedArticle?.user?.firstName}} {{selectedArticle?.user?.lastName}}
                                | {{selectedArticle?.data?.publishedAt|date}}
                            </span>
                        </h3>
                    </div>
    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ng-container *ngIf="selectedArticle?.data?.featuredVideo">
                                    <embed style="width: 100%;height: 400px;" [src]="getSafeUrl(selectedArticle?.data?.featuredVideo,'VIDEO')" type="">
                                    </ng-container>
                                <ng-container *ngIf="!selectedArticle?.data?.featuredVideo&&selectedArticle?.data?.featureImg">
                                    <img src="{{selectedArticle?.data?.featureImg}}">
                                </ng-container>
                            </div>
                            <div class="col-md-12 mt-15 mb-15" *ngIf="selectedArticle?.data?.tags&&selectedArticle?.data?.tags.length>0">
                                <b>Tags</b>: <span *ngFor="let tag of selectedArticle?.data?.tags" class="label label-primary">{{tag}}</span>
                            </div>
                            <div class="col-md-12" style="overflow: auto;">
                                <div [innerHtml]="selectedArticle?.data?.description"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>