<div class="table-responsive panel-loader" [ngClass]="panelLoader">
    <form [formGroup]="filterRowForm">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th *ngIf="!filter.key">Action</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngIf="!filter.key&&!filter.value">
                    <td> <i class="fa fa-serach"></i> </td>
                    <td> <input class="form-control" placeholder="First Name" formControlName="firstName"> </td>
                    <td> <input class="form-control" placeholder="Email" formControlName="email"> </td>
                    <td> <input class="form-control" placeholder="Mobile no" formControlName="mobile"> </td>
                    <td> 
                        <select class="form-control" placeholder="Type" formControlName="type">
                            <option value="null">Select User type</option>
                            <option value="ADMIN">Admin</option>
                            <option value="STUDENT">Student</option>
                            <option value="FACULTY">Faculty</option>
                            <option value="STAFF">Staff</option>
                            <option value="GUEST">Guest</option>
                        </select>
                    </td>
                    <td> 
                        <select class="form-control" formControlName="status">
                            <option value="null">Select User type</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                            <option value="all">All</option>
                        </select>
                    </td>
                    <td> <button class="btn btn-sm btn-primary" (click)="loadUserWithFilter()">Filter</button></td>
                </tr>
                <tr *ngIf="rows?.length<1" class="alignC">
                    <td colspan="7"><b>No records found!</b></td>
                </tr>
                <tr *ngFor="let row of rows; let i=index">
                    <td>{{countBase+i}}</td>
                     <td>{{row?.user?row?.user?.firstName:row?.firstName}} {{row?.user?row?.user?.lastName:row?.lastName}}</td>
                     <td>{{row?.user?row?.user?.email:row?.email}}</td>
                     <td>{{row?.user?row?.user?.mobile:row?.mobile}}</td>
                     <td>{{row?.user?row?.user?.type:row?.type}}</td>
                    <td >
                            {{row.status?'Active':'Inactive'}}
                    </td> 
                </tr>
            </tbody>
        </table>
    </form>
</div>

<p class="alignC">Total Records: {{totalRecords}}</p>
<p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
