<div class="rsw-child">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal padding15" role="form" (ngSubmit)="addFirm()" [formGroup]="firmForm">
                <div class="form-group">
                    <label for="name">Firm Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Firm Name" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="ftype">Type of Firm</label>
                    <select class="form-control" id="ftype" placeholder="Select" formControlName="type">
                        <option value="">Select</option>
                        <option value="Private Limited">Private Limited</option>
                        <option value="Limited Liability Partnership">Limited Liability Partnership</option>
                        <option value="Partnership">Partnership</option>
                        <option value="Sole Proprietorship">Sole Proprietorship</option>
                        <option value="Public Limited">Public Limited</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fAlwSr">Allow Student Registration:</label>
                    <select class="form-control" id="fAlwSr" placeholder="Select" formControlName="allowStdReg">
                        <option value="">Select</option>
                        <option [value]="true">Yes</option>
                        <option [value]="false">No</option>
                       
                    </select>
                </div>
                <div class="form-group" *ngIf="firmForm.value?.allowStdReg==true">
                    <label for="fSrnP">SRN Prefix</label>
                    <input type="text" class="form-control" id="fSrnP" placeholder="Student Registration Number (Enrollement No.) Prefix" formControlName="srnPrefix">
                </div>
                <div class="form-group">
                    <label for="fgstin">GSTIN</label>
                    <input type="text" class="form-control" id="fgstin" placeholder="GSTIN" formControlName="gstin">
                </div>
                <div class="form-group">
                    <label for="femail">Email</label>
                    <input type="text" class="form-control" id="femail" placeholder="Email ID" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="fphone">Phone</label>
                    <input type="text" class="form-control" id="fphone" placeholder="Phone Number" formControlName="phone">
                </div>
                <div class="form-group">
                    <label for="flogo">Logo</label>
                    <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="logo" (onFileSelect)="onLogoSelect($event)"></ek-fileinput>
                </div>
                <div class="form-group">
                    <label for="flogo">Director's Sign</label>
                    <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="directorSign"></ek-fileinput>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea rows="3" class="form-control" id="address" placeholder="Address of Firm" formControlName="address"></textarea>
                </div>
                <div class="form-group">
                    <label for="fcity">City</label>
                    <input type="text" class="form-control" id="fcity" placeholder="City" formControlName="city">
                </div>
                <div class="form-group">
                    <label for="fstate">State</label>
                    <input type="text" class="form-control" id="fstate" placeholder="State" formControlName="state">
                </div>

                <div class="form-group">
                    <label for="fsign">Address Signature</label>
                    <textarea rows="4" class="form-control" id="fsign" placeholder="Signature" formControlName="signature"></textarea>
                </div>
                <div class="form-group">
                    <label for="input3">Status</label>
                    <select name="" id="input3" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >Inactive</option>
                    </select>
                </div>


                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!firmForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>