<div class="faculty-login">
    <div class="row">
        <div class="col-md-5 col-xs-12" style="background-color: #e2f5ff;    justify-content: center;
        display: flex;
        flex-direction: column;">
            <p><img src="./assets/images/logo.png" style="margin-top:-100px; padding-left: 25px;    max-width: 50%; max-height: 120px;"></p>

            <ek-loginbox userType="STUDENT" [loginWith]="loginWith" title="Student Login" [authenticated]="false" loginTarget="/student/dashboard" logoutTarget="same"></ek-loginbox>
        </div>
        <div class="col-md-7 col-xs-12 lft" style="display: flex;
        justify-content: center;
        align-items: center; background-color: white;">
            <!-- <h1 class="wlcm-text">Welcome to Student Zone!<br><small></small></h1> -->

            <!-- <img src="./assets/images/student-login-2.svg"> -->
            <img src="./assets/images/3718985.jpg" style="width:100%; max-width:100%;">
        </div>

    </div>
</div>
