<div class="activity-content">
    <div class="row">
        <div class="col-md-12" *ngIf="!variantEnable">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic Details</h3>
                    <ul class="list-inline pull-right">
                        <li><a class="btn btn-primary" (click)="showCodeModal = true;">Enter Code</a></li>
                        <li><a class="btn btn-warning" (click)="showInstructionModal = true;">Instructions</a></li>
                    </ul>                    
                </div>
                <div class="panel-body panel-loader" [ngClass]="frmLoader">
                    <form class="form-horizontal fgm0" role="form" (ngSubmit)="addQuestion()" [formGroup]="quesForm">
                        <div *ngIf="qCode">
                            <div class="col-md-4 col-xs-12">
                                <label>ALPHA</label>
                                <input type="text" class="form-control" value="{{qCode?.alpha?.code}}" readonly>
                                <!-- <p style="background: #dedede"> {{qCode?.alpha?.code}}</p> -->
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label>BETA</label>
                                <input type="text" class="form-control" value="{{qCode?.beta?.code}}" readonly>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label>GAMMA</label>
                                <input type="text" class="form-control" value="{{qCode?.gamma?.code}}" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="quesTitle">Title</label>
                                <input type="text" class="form-control" id="quesTitle" placeholder="Title of Question" formControlName="title">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12" *ngIf="!qCode">
                            <div class="form-group">
                                <label for="qType">Question Type<sup>*</sup></label>
                                <select name="" id="qType" #quesType class="form-control" formControlName="qType" (change)="setQueryParams(quesType.value)">
                                    <option value="null">Select Type</option>
                                    <option value="MCQ">(MCQ) Multiple Choice Question</option>
                                    <option value="MAQ">(MAQ) Multiple Answer Question</option>
                                    <option value="DTQ">(DTQ) Digit Type Question</option>
                                    <option value="PTQ">(PTQ) Passage Type Question</option>
                                    <option value="MTQ">(MTQ) Matrix Type Question</option>
                                    <option value="ARQ">(ARQ) Assertion Reason Question</option>
                                    <option value="TFQ">(TFQ) True False Question</option>
                                    <option value="STQ">(STQ) Subjective Type Question</option>
                                    <option value="FUQ">(FUQ) Fill Up Question</option>                            
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="defaultLang">Default Language<sup>*</sup></label>
                                <select name="" id="defaultLang" class="form-control" formControlName="defaultLang">
                                    <option value="" >Select Language</option>
                                    <option value="EN">English</option>
                                    <option value="HI">Hindi</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="qContent">Question<sup>*</sup></label>
                                <ck-editor formControlName="qContent" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="batch-box">
                                <div class="togl"><input type="checkbox" (change)="setPassageBox($event)" [attr.checked]="(havePassage)?true:null"> Have passage in this Question?</div>
                                <div class="batch-form" *ngIf="passageBoxStatus">
                                    <div class="form-group col-md-4 col-xs-12 ">
                                        <input class="form-control" #passageId (change)="addPassage(passageId.value)" placeholder="Enter Passage Id" value="{{addedPassage}}">
                                        <a routerLink="/{{routes}}/qbank/passage" target="blank" class="pull-right"><i class="fa fa-plus-circle"></i> View Passage</a>
                                    </div>
                                    <div class="col-md-2 col-xs-12">
                                        <b> OR &nbsp;&nbsp; </b>
                                        <a type="text" (click)="displayPassage=true;" class="ek-btn btn-list">Add New</a>
                                    </div>
                                    <p *ngIf="!addedPassage">No passage added yet !!</p>
                                </div> 
                            </div>
                            <div class="col-md-6 col-xs-12" *ngIf="addedPassage" style="background: #dedede"><b>Passage ID : </b>  {{addedPassage}} <i class="fa fa-close fa-2x p-remove"(click)="removePassage()"></i></div>
                        </div>
                        <!-- <div class="col-md-6 col-xs-12">
                            <div class="batch-box">
                                <div class="togl"><input type="checkbox" (change)="setPassageBox($event)" [attr.checked]="(havePassage)?true:null"> Have passage in this Question?</div>
                                <div class="batch-form" *ngIf="passageBoxStatus">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-8 col-xs-12">
                                                <select #passage class="form-control pull-left" (change)="addPassage(passage.value)">
                                                    <option value="" *ngIf="!passages" >Loading passages...</option>
                                                    <option value="" *ngIf="passages" >Select passage</option>
                                                    <option value="{{passage.id}}" *ngFor="let passage of passages; let i=index">{{passage.id}} :- {{passage.title}}</option>
                                                </select>        
                                            </div>
                                            <div class="col-md-4 col-xs-12">
                                                <a type="text" (click)="showDialog()" class="ek-btn btn-list">Add New</a>
                                            </div>
                                        </div>
                                    </div>    
                                    <p *ngIf="!addedPassage">No passage added yet!</p>
                                </div>
                                <p *ngIf="addedPassage" style="background: #dedede"><b>Passage ID :</b> {{addedPassage}}</p>
                            </div>
                        </div> -->
                        <fieldset formGroupName="qOption"  *ngIf="questionType!='DTQ' && questionType!='TFQ' && questionType!='STQ' && questionType!='FUQ' " class="col-md-12" style="    margin-top: 2%;">
                            <div [ngClass]="(questionType =='MTQ'? 'col-md-6' : 'col-md-12')">
                                <div class="form-group">
                                    <label for="optionA">Option A</label>
                                    <ck-editor id="optionA" formControlName="optionA" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionB">Option B</label>
                                    <ck-editor id="optionB" formControlName="optionB" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionC">Option C</label>
                                    <ck-editor id="optionC" formControlName="optionC" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionD">Option D</label>
                                    <ck-editor id="optionD" formControlName="optionD" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionE"> <input type="checkbox" (click)="showOptE=!showOptE;"> Option E</label>
                                    <ck-editor id="optionE" *ngIf="showOptE" formControlName="optionE" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="questionType=='MTQ'">
                                <div class="form-group">
                                    <label for="optionP">Option P</label>
                                    <ck-editor id="optionP" formControlName="optionP" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionQ">Option Q</label>
                                    <ck-editor id="optionQ" formControlName="optionQ" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionR">Option R</label>
                                    <ck-editor id="optionR" formControlName="optionR" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionS">Option S</label>
                                    <ck-editor id="optionS" formControlName="optionS" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionT"> <input type="checkbox" (click)="showOptT=!showOptT;"> Option T</label>
                                    <ck-editor id="optionT" *ngIf="showOptT" formControlName="optionT" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-12 col-xs-12"> 
                            <label>Answer<sup>*</sup></label>
                            <div *ngIf="!questionType">Choose Question Type First.</div>
                            <div class="form-group" *ngIf="questionType=='MCQ' || questionType=='PTQ' || questionType=='ARQ'">
                                <ul class="list-inline choose-option ek-border">
                                    <li><input type="radio" formControlName="ans" value="A">A</li>
                                    <li><input type="radio" formControlName="ans" value="B">B</li>
                                    <li><input type="radio" formControlName="ans" value="C">C</li>
                                    <li><input type="radio" formControlName="ans" value="D">D</li>
                                    <li><input type="radio" formControlName="ans" value="E">E</li>
                                </ul>
                            </div>
                            <div class="form-group" *ngIf="questionType=='TFQ'">
                                <ul class="list-inline choose-option">
                                    <li><input type="radio" formControlName="ans" value="true" >TRUE</li>
                                    <li><input type="radio" formControlName="ans" value="false" >FALSE</li>
                                </ul>
                            </div>
                            <div class="form-group" *ngIf="questionType=='DTQ'">
                                <input type="text" class="form-control" id="quesAns" placeholder="Answer" formControlName="ans">
                            </div>
                            <div class="form-group" *ngIf="questionType=='MAQ'">
                                <ul class="list-inline choose-option ek-border">
                                    <li *ngFor="let option of options"><input type="checkbox"  value="{{option}}" [checked]="answers.indexOf(option) >=0" (change)="insertCheckbxValue($event)">{{option}}</li>
                                </ul>
                            </div>
                            <div class="form-group" *ngIf="questionType=='MTQ'">
                                <table class="choose-option ek-border" border="1">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>P</td>
                                            <td>Q</td>
                                            <td>R</td>
                                            <td>S</td>
                                            <td>T</td>
                                        </tr>
                                        <tr *ngFor="let option of options">
                                            <td>{{option}}</td>
                                            <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('P') >=0:false" value="P"></td>
                                            <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('Q') >=0:false" value="Q"></td>
                                            <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('R') >=0:false" value="R"></td>
                                            <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('S') >=0:false" value="S"></td>
                                            <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('T') >=0:false" value="T"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" *ngIf="questionType=='MAQ'">
                            <div class="form-group">
                                <label for="solution"><input type="checkbox" formControlName="partialMark"> Set as Partial Marking </label>
                            </div>
                        </div> 
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="solution">Solution<sup>*</sup></label>
                                <ck-editor id="solution" formControlName="qSolution" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                            </div>
                        </div>       
                        <div *ngIf="!qCode"> 
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="quesCourse">Course<sup>*</sup></label>
                                    <select name="" id="quesCourse" class="form-control" formControlName="course">
                                        <option value="null" *ngIf="!courses" >Loading courses...</option>
                                        <option value="null" *ngIf="courses" >Select Course</option>
                                        <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                <label for="quesStream">Stream<sup>*</sup></label>
                                <select name="" #qstream id="quesStream" class="form-control" (change)="setSubjects(qstream.value)" formControlName="stream">                                        <option value="null" *ngIf="!streams" >Loading streams...</option>
                                    <option value="null" *ngIf="!streams" >Loading streams...</option>                                    
                                    <option value="null" *ngIf="streams">Select Stream</option>
                                    <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                </select>
                                </div>
                            </div>                       
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <select name="" #qsubject id="subject" class="form-control" (change)="setUnits(qsubject.value)" formControlName="subject">
                                        <option value="null" *ngIf="!subjects" >Loading subjects...</option>
                                        <option value="null" *ngIf="subjects">Select Subject</option>
                                        <option value="{{subject.id}}" *ngFor="let subject of subjects" >{{subject.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="unit">Unit</label>
                                    <select name="" #qunit id="unit" class="form-control" (change)="setTopics(qunit.value)" formControlName="unit">
                                        <option value="null" *ngIf="!subjectUnit" >Loading units...</option>
                                        <option value="null" *ngIf="subjectUnit">Select Unit</option>
                                        <option value="{{unit.id}}" *ngFor="let unit of subjectUnit" >{{unit.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="topic">Topic</label>
                                    <select name="" id="topic" class="form-control" formControlName="topic">
                                        <option value="null" *ngIf="!topics">Loading topics...</option>
                                        <option value="null" *ngIf="topics">Select Topic</option>
                                        <option value="{{topic.id}}" *ngFor="let topic of topics" >{{topic.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label for="level">Level</label>
                                    <select name="" id="level" class="form-control" formControlName="level">
                                        <option value="" >Select Level</option>
                                        <option value="1">Easy</option>
                                        <option value="2">Average</option>
                                        <option value="3">Medium</option>
                                        <option value="4">Difficult</option>
                                        <option value="5">Very Difficult</option>
                                    </select>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="stage">Stage</label>
                            <select id="stage" class="form-control" formControlName="stage">
                                <option value="">Select Stage</option>
                                <option value="NOT_REVIEWED">NOT REVIEWED</option>
                                <option value="REVIEWED">REVIEWED</option>
                                <option value="FINALISED">FINALISED BY FACULTY</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="pSesion">Session</label>
                                <p-multiSelect [options]="sessions" formControlName="session" ></p-multiSelect>
                            </div>
                        </div>  
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <ul class="list-inline" style="margin-bottom: auto;">
                                    <li><label for="quesExam">Exam</label></li>
                                    <li (click)="refershExam()"><a><i class="fa fa-refresh" style="cursor: pointer"></i> Refresh</a></li>
                                    <li><a routerLink="/{{routes}}/qbank/option/examlist" target="blank" ><i class="fa fa-plus-circle"></i> Add & View</a></li>
                                </ul>
                                <select id="quesExam" class="form-control" formControlName="exam">
                                    <option value="null" *ngIf="!examList">Loading Exam...</option>
                                    <option value="null" *ngIf="examList">Select Exam</option>
                                    <option value="{{exam.id}}" *ngFor="let exam of examList" >{{exam.value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="routes == 'ims'">
                            <div class="form-group">
                                <ul class="list-inline" style="margin-bottom: auto;">
                                    <li><label for="qSource">Sources</label></li>
                                    <li><a style="cursor: pointer" (click)="refershSource()"><i class="fa fa-refresh" ></i> Refresh</a></li>
                                    <li><a routerLink="/{{routes}}/qbank/option/qsource" target="blank" ><i class="fa fa-plus-circle"></i> Add & View</a></li>
                                </ul>
                                <select id="qSource" class="form-control" formControlName="source">
                                    <option value="null" *ngIf="sourceList">Select Sources</option>
                                    <option value="null" *ngIf="!sourceList">Refresh Sources...</option>
                                    <option value="{{source.id}}" *ngFor="let source of sourceList" >{{source.value}}</option>
                                </select>
                            </div>
                        </div>
                       
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="defaultFont">Default Font</label>
                                <select name="" id="defaultFont" class="form-control" formControlName="defaultFont">
                                    <option value="" >Select Default Font</option>
                                    <option value="arial">Arial</option>
                                    <option value="kruti-dev-10">Kurti Dev</option>
                                    <option value="mangal">Mangal</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="positiveMarks">Positive Marks</label>
                                <input type="number" class="form-control" id="positiveMarks" placeholder="Positive Marks" formControlName="mp">
                            </div>
                        </div>                                                   
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="duration">Question Duration(in secs)</label>
                                <input type="number" class="form-control" id="duration" placeholder="Duration(in secs)" formControlName="duration">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="minusMarks">Negative Marks</label>
                                <input type="number" class="form-control" id="minusMarks" placeholder="Minus Marks" formControlName="mn">
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="forSell"> <input type="checkbox" formControlName="forSell"> is Question For Sale</label>
                            </div>
                        </div> -->
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="tags">Tags</label>
                                <p-chips formControlName="tags" [allowDuplicate]="false" [inputStyle]="{'width':'200px'}" placeholder="Enter Tag then press 'Enter'"></p-chips>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="quesStatus">Status<sup>*</sup></label>
                                <select name="" id="quesStatus" class="form-control" formControlName="status">
                                    <option value="true" >Active</option>
                                    <option value="false" >Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" *ngIf="isClientSeller">
                            <div class="form-group">
                                <label for="forSell"> <input type="checkbox" formControlName="forSell"> is Question For Sale</label>
                                <input *ngIf="quesForm.value.forSell" type="number" class="form-control" id="price" placeholder="Enter Price" formControlName="price">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <ul class="list-inline pull-right">
                                    <li><button type="submit" class="btn btn-success" (click)="variantQuestion()" [disabled]="!quesForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Save & Add Variant Question')}}</button></li>
                                    <li><button type="submit" class="btn btn-primary" [disabled]="!quesForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button></li>
                                </ul>
                                <!-- <div class="col-md-5 col-md-offset-5">
                                    <button type="submit" class="btn btn-success" (click)="variantQuestion()" [disabled]="!quesForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Save & Add Variant Question')}}</button> 
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary"  [disabled]="!quesForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12" *ngIf="variantEnable">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Variant</h3>
                    <ul class="list-inline pull-right">
                        <li><a class="btn btn-warning" (click)="showInstructionModal = true;">Instructions</a></li>
                    </ul>
                </div>
                <div class="panel-body panel-loader" [ngClass]="frmLoader">
                    <form class="form-horizontal fgm0" role="form" (ngSubmit)="addVariantQuestion()" [formGroup]="quesForm">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="quesTitle">Title</label>
                                <input type="text" class="form-control" id="quesTitle" placeholder="Title of Question" formControlName="title" [ngClass]="quesForm.value?.defaultFont">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="qType">Question Type<sup>*</sup></label>
                                <select name="" id="qType" #quesType class="form-control" formControlName="qType" readonly>
                                    <option value="null">Select Type</option>
                                    <option value="MCQ">(MCQ) Multiple Choice Question</option>
                                    <option value="MAQ">(MAQ) Multiple Answer Question</option>
                                    <option value="DTQ">(DTQ) Digit Type Question</option>
                                    <option value="PTQ">(PTQ) Passage Type Question</option>
                                    <option value="MTQ">(MTQ) Matrix Type Question</option>
                                    <option value="ARQ">(ARQ) Assertion Reason Question</option>
                                    <option value="TFQ">(TFQ) True False Question</option>   
                                    <option value="STQ">(STQ) Subjective Type Question</option>
                                    <option value="FUQ">(FUQ) Fill Up Question</option>                          
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="defaultLang">Default Language<sup>*</sup></label>
                                <select name="" id="defaultLang" class="form-control" formControlName="defaultLang">
                                    <option value="" >Select Language</option>
                                    <option value="EN">English</option>
                                    <option value="HI">Hindi</option>
                                    <!-- <option value="EN + HI">Both (EN + HI)</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 form-group">
                            <label for="quesCourse">Course<sup>*</sup></label>
                            <select name="" id="quesCourse" class="form-control" formControlName="course" readonly>
                                <option value="null" *ngIf="!courses" >Loading courses...</option>
                                <option value="null" *ngIf="courses" >Select Course</option>
                                <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-xs-12 form-group">
                            <label for="quesStream">Stream<sup>*</sup></label>
                            <select name="" #qstream id="quesStream" class="form-control" formControlName="stream" readonly> 
                                <option value="null" *ngIf="!streams" >Loading streams...</option>
                                <option value="null" *ngIf="!streams" >Loading streams...</option>                                    
                                <option value="null" *ngIf="streams">Select Stream</option>
                                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 col-xs-12 form-group">
                            <label for="defaultFont">Default Font</label>
                            <select name="" id="defaultFont" class="form-control" formControlName="defaultFont">
                                <option value="" >Select Default Font</option>
                                <option value="arial">Arial</option>
                                <option value="kruti-dev-10">Kurti Dev</option>
                                <option value="mangal">Mangal</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="qContent">Question<sup>*</sup></label>
                               <ck-editor id="qContent" formControlName="qContent" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="batch-box">
                                <div class="togl"><input type="checkbox" (change)="setPassageBox($event)" [attr.checked]="(havePassage)?true:null"> Have passage in this Question?</div>
                                <div class="batch-form" *ngIf="passageBoxStatus">
                                    <div class="form-group col-md-4 col-xs-12 ">
                                        <input class="form-control" #passageId (change)="addPassage(passageId.value)" placeholder="Enter Passage Id" value="{{addedPassage}}">
                                        <a routerLink="/{{routes}}/qbank/passage" target="blank" class="pull-right"><i class="fa fa-plus-circle"></i> View Passage</a>
                                    </div>
                                    <div class="col-md-2 col-xs-12">
                                        <b> OR &nbsp;&nbsp; </b>
                                        <a type="text" (click)="displayPassage=true;" class="ek-btn btn-list">Add New</a>
                                    </div>
                                    <p *ngIf="!addedPassage">No passage added yet !!</p>
                                </div> 
                            </div>
                            <div class="col-md-6 col-xs-12" *ngIf="addedPassage" style="background: #dedede"><b>Passage ID : </b>  {{addedPassage}} <i class="fa fa-close fa-2x p-remove"(click)="removePassage()"></i></div>
                        </div>
                        <fieldset formGroupName="qOption" *ngIf="questionType!='DTQ' && questionType!='TFQ' && questionType!='STQ' && questionType!='FUQ'" class="col-md-12" style="margin-top: 2%;">
                            <div [ngClass]="(questionType =='MTQ'? 'col-md-6' : 'col-md-12')">
                                <div class="form-group">
                                    <label for="optionA">Option A</label>
                                    <ck-editor id="optionA" formControlName="optionA" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionB">Option B</label>
                                    <ck-editor id="optionB" formControlName="optionB" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionC">Option C</label>
                                    <ck-editor id="optionC" formControlName="optionC" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionD">Option D</label>
                                    <ck-editor id="optionD" formControlName="optionD" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionE"> <input type="checkbox" (click)="showOptE=!showOptE;"> Option E</label>
                                    <ck-editor id="optionE" *ngIf="showOptE" formControlName="optionE" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="questionType=='MTQ'">
                                <div class="form-group">
                                    <label for="optionP">Option P</label>
                                    <ck-editor id="optionP" formControlName="optionP" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionQ">Option Q</label> 
                                    <ck-editor id="optionQ" formControlName="optionQ" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionR">Option R</label>
                                    <ck-editor id="optionR" formControlName="optionR" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionS">Option S</label>
                                    <ck-editor id="optionS" formControlName="optionS" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                                <div class="form-group">
                                    <label for="optionT"> <input type="checkbox" (click)="showOptT=!showOptT;"> Option T</label>
                                    <ck-editor id="optionT" *ngIf="showOptT" formControlName="optionT" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="solution">Solution<sup>*</sup></label>
                                <ck-editor id="solution" formControlName="qSolution" [ngClass]="quesForm.value?.defaultFont"></ck-editor>
                            </div>
                        </div>       
                        
                        <div class="col-md-2 col-md-offset-10 col-xs-12">
                            <div class="form-group">
                                <ul class="list-inline pull-right">
                                    <li><button type="submit" class="btn btn-primary" [disabled]="!quesForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Add Code" [(visible)]="showCodeModal" [modal]="true" >
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" (ngSubmit)="addCode()" [formGroup]="codeForm">
                <div class="form-group">
                    <label for="alpha">ALPHA<sup>*</sup></label>
                    <input type="text" class="form-control" id="alpha" placeholder="Enter Alpha" formControlName="alpha">
                </div>   
                <div class="form-group">
                    <label for="beta">BETA<sup>*</sup></label>
                    <input type="text" class="form-control" id="beta" placeholder="Enter Beta" formControlName="beta">
                </div>
                <div class="form-group">
                    <label for="gamma">GAMMA<sup>*</sup></label>
                    <input type="text" class="form-control" id="gamma" placeholder="Enter Gamma" formControlName="gamma">
                </div>                                                     
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!codeForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                </div>                                                         
            </form>
        </div>
    </div>
</p-dialog>
<p-dialog header="Add New Passage" [(visible)]="displayPassage" [modal]="true" [width]="800">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal fgm0" role="form" (ngSubmit)="addNewPassage()" [formGroup]="passageForm">
                <div class="form-group">
                    <label for="passageTitle">Title<sup>*</sup>:</label>
                    <input type="text" class="form-control" id="passageTitle" placeholder="Title of Question" formControlName="title">
                </div>                                                        
                <div class="form-group">
                    <label for="passageContent">Passage</label>

                    <ck-editor id="passageContent" formControlName="passageContent" [ngClass]="quesForm.value?.defaultFont"></ck-editor>                                                            </div>
                <div class="form-group">
                    <label for="status">Status<sup>*</sup>:</label>
                    <select name="" id="status" class="form-control" formControlName="status">
                        <option value="true" >Active</option>
                        <option value="false" >InActive</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!passageForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                </div>                                                         
            </form>
        </div>
    </div>
</p-dialog>
<p-dialog header="Instructions" [(visible)]="showInstructionModal" [modal]="true">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul>
                <li>Fields marked with <strong style="color :red">*</strong> are mandatory.</li>
            </ul>
        </div>
    </div>
</p-dialog>

