<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <h3 class="panel-title">Question</h3>
                    <ul class="list-inline pull-right">  
                        <li>
                            <select #sort (change)="sortBy(sort.value)">
                                <option value=""> Sort By</option>
                                <option value="ATOZ">A to Z (Title)</option>
                                <option value="ZTOA">Z to A (Title)</option>
                                <option value="LTOO">latest to Oldest</option>
                                <option value="OTOL">Oldest to Latest</option>
                            </select>
                        </li>                  
                        <li><a class="ek-btn btn-create" *ngIf="routes == 'ims' && user?.type!='STAFF'" (click)="printQuestion()"><i class="fa fa-print" aria-hidden="true"></i> Print</a></li>
                        <li><a class="ek-btn btn-create" routerLink="/{{routes}}/qbank/question/studioplus">Q-Bank Studio</a></li> 
                        <li><a class="ek-btn btn-create" routerLink="/{{routes}}/qbank/upload" [queryParams]="{lang:'EN'}">Upload Questions</a></li> 
                        
                    </ul>
                </div>
                <form  role="form" [formGroup]="searchForm" (ngSubmit)="searchData()">
                    <div class="table-responsive">
                        <table class="table table-responsive table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Question Type</th>
                                    <th>Course</th>
                                    <th>Stream</th>
                                    <th>Subject</th>
                                    <th>Topic</th>
                                    <th>Level</th>
                                    <th>Q. Link</th>
                                    <th>Created By</th>
                                    <th>Variant</th>
                                    <th>Stage</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="title" placeholder="Question Title">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select formControlName="qType" class="form-control">
                                                <option value=""> Question Type</option>
                                                <option value="MCQ">(MCQ) Multiple Choice Question</option>
                                                <option value="MAQ">(MAQ) Multiple Answer Question</option>
                                                <option value="DTQ">(DTQ) Digit Type Question</option>
                                                <option value="PTQ">(PTQ) Passage Type Question</option>
                                                <option value="MTQ">(MTQ) Matrix Type Question</option>
                                                <option value="ARQ">(ARQ) Assertion Reason Question</option>
                                                <option value="TFQ">(TFQ) True False Question</option>
                                                <option value="STQ">(STQ) Subjective Type Question</option>
                                                <option value="FUQ">(FUQ) Fill Up Question</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" *ngIf="!courseId">
                                            <select name="" id="quesCourse" class="form-control" formControlName="course">
                                                <option value="" *ngIf="!courses" >Loading courses...</option>
                                                
                                                <option value="" *ngIf="courses" >Select Course</option>
                                                <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                        <select name="" id="quesStrm" #quesStrm class="form-control" formControlName="stream" (change)="setSubjects(quesStrm.value)">
                                                <option value="" *ngIf="!streams" >Loading streams...</option>
                                                <option value="" *ngIf="streams" >Select stream</option>
                                                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select name="" id="quessubject" #quesSubject class="form-control" formControlName="subject" (change)="setTopics(quesSubject.value)">
                                                <option value="" *ngIf="!subjects" >Loading subjects...</option>
                                                <option value="" *ngIf="subjects" >Select subject</option>
                                                <option value="{{subject.id}}" *ngFor="let subject of subjects" >{{subject.name}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select name="" id="questopic" class="form-control" formControlName="topic">
                                                <option value="" *ngIf="!topics" >Loading topics...</option>
                                                
                                                <option value="" *ngIf="topics" >Select topic</option>
                                                <option value="{{topic.id}}" *ngFor="let topic of topics" >{{topic.name}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select formControlName="level" class="form-control">
                                                <option value="">Select Level</option>
                                                <option value="1">Easy</option>
                                                <option value="2">Average</option>
                                                <option value="3">Medium</option>
                                                <option value="4">Difficult</option>
                                                <option value="5">Very Difficult</option>
                                                <option value="6">Tough</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" class="form-control" formControlName="linkCount" placeholder="Q.Link">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" *ngIf="routes == 'ims' && user?.type!='STAFF'">
                                            <select name="" id="quescreatedBy" #quescreatedBy class="form-control" formControlName="createdBy">
                                                <option value="" *ngIf="!createdBy" >Loading createdBy...</option>
                                                <option value="" *ngIf="createdBy" >Select createdBy</option>
                                                <option value="{{user.id}}" *ngFor="let user of createdBy" >{{user.firstName}} {{user.lastName}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <select id="stage" class="form-control" formControlName="stage">
                                                <option value="">All</option>
                                                <option value="NOT_REVIEWED">NOT REVIEWED</option>
                                                <option value="REVIEWED">REVIEWED</option>
                                                <option value="FINALISED">FINALISED BY FACULTY</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="status">
                                                <option value="">Select Status</option>
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-info">Filter</button>
                                    </td>
                                </tr>
                                <tr  *ngFor="let row of rows; let i=index">
                                    <td>{{countBase+i}}</td>
                                    <td><a routerLink="/{{routes}}/qbank/question/{{row.id}}" [ngClass]="row.defaultFont" [innerHTML]="row.title | safeHtml"></a><br><small>{{row.alias}}</small></td>
                                    <td>{{row.qType}}</td>
                                    <td>{{row.course?.valueAlias}}</td>
                                    <td>{{row.stream?.valueAlias}}</td>
                                    <td>{{row.subject?.name}}</td>
                                    <td>{{row.topic?.name}}</td>
                                    <td>{{questionLevel[row?.level]}}</td> 
                                    <td><div *ngIf="row.linkCount"><button class="ek-btn btn-list btn-mini" (click)="qLink(row.id)">Q.Link {{row.linkCount}}</button></div></td>
                                    <td style="font-size: 12px;">{{row.createdBy?.firstName}} {{row.createdBy?.lastName}}</td>                           
                                    <td>{{row.isVariant?'True':'False'}}</td>
                                    <td>{{row.stage}}</td>
                                    <td>{{row.status?'Active':'In Active'}}</td>
                                    <td>
                                        <ek-dropdown class="ek-action-btn" direction="right">
                                            <span class="dropdown-toggle"><i class="fa fa-bars" aria-hidden="true"></i></span>
                                            <ng-container class="dropdown-menu">
                                                <li><a routerLink="/{{routes}}/qbank/question/{{row.id}}"><i class="fa fa-file-text-o"></i> View Details</a>
                                                </li>
                                                <li><a routerLink="/{{routes}}/qbank/question/edit/{{row.id}}"><i class="fa fa-pencil-square-o"></i>  Edit</a>
                                                </li>
                                                <li><a routerLink="/ims/testment/feedback" [queryParams]="{qId : row?.id}"><i class="fa fa-commenting-o"></i> Feedbacks</a></li>
                                                <li *ngIf="user?.type!='STAFF'"><a (click)="deleteQuestion(row)"><i class="fa fa-trash"></i> Delete</a>
                                                </li>
                                            </ng-container>
                                        </ek-dropdown>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <p *ngIf="rows?.length<1" class="alignC">
                        <b>No Question available for now!</b>
                        <a routerLink="/{{routes}}/qbank/question/add" class="ek-btn btn-create btn-icon">Add New</a>
                    </p>
                </div>  
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="rows?.length>0">
    <div class="col-md-12">
        <p class="alignC">Total Records: {{totalRecords}}</p>
        <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>
<p-dialog header="Question Link" [(visible)]="showLinkedQs" [modal]="true">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>#</th>
                <th>Qset</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let data of linkQsets;let i=index;"> 
                <td>{{i+1}}</td>
                <td>{{data.qset?.title}}</td>
                <td><a class="ek-btn btn-list btn-mini" target="blank" routerLink="/{{routes}}/qbank/qset/view" [queryParams]="{qsetId : data.qset?.id}">View</a></td>
            </tr>
        </tbody>
    </table>
</p-dialog> 