<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" [ngClass]="panelLoader">
                <div class="panel-body">
                    <div *ngFor="let question of rows; let i=index">
                        <div class="row" style="    margin: 20px;">
                            <div class="col-md-1">
                                <b>Q.{{i+1}}</b>
                            </div>
                            <div class="col-md-11">
                                <div><b>{{question.id}}</b></div>
                                    <div *ngIf="question?.havePassage">
                                            <p><b>Passage :</b></p>
                                            <span  [innerHTML]="question?.passage?.passageContent | safeHtml" [ngClass]="question?.defaultFont"></span>
                                            <p><b>Q.</b></p>
                                    </div>
                                    <div *ngIf="question?.qContent" [innerHTML]="question?.qContent | safeHtml" [ngClass]="question?.defaultFont"></div>
                                    <div *ngIf="question?.qType == 'MCQ' || question?.qType == 'MAQ' || question?.qType == 'ARQ' || question?.qType == 'PTQ'">
                                        <div *ngIf="question?.qOption?.optionA"><span class="opt">(A)</span><span  [innerHTML]="question?.qOption?.optionA | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionB"><span class="opt">(B)</span><span  [innerHTML]="question?.qOption?.optionB | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionC"><span class="opt">(C)</span><span  [innerHTML]="question?.qOption?.optionC | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionD"><span class="opt">(D)</span><span  [innerHTML]="question?.qOption?.optionD | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionE"><span class="opt">(E)</span><span  [innerHTML]="question?.qOption?.optionE | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                    </div>
                                    <div *ngIf="question?.qType == 'MTQ'">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div *ngIf="question?.qOption?.optionA"><span class="opt">(A)</span><span  [innerHTML]="question?.qOption?.optionA | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionB"><span class="opt">(B)</span><span  [innerHTML]="question?.qOption?.optionB | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionC"><span class="opt">(C)</span><span  [innerHTML]="question?.qOption?.optionC | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionD"><span class="opt">(D)</span><span  [innerHTML]="question?.qOption?.optionD | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionE"><span class="opt">(E)</span><span  [innerHTML]="question?.qOption?.optionE | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div *ngIf="question?.qOption?.optionP"><span class="opt">(P)</span><span  [innerHTML]="question?.qOption?.optionP | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionQ"><span class="opt">(Q)</span><span  [innerHTML]="question?.qOption?.optionQ | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionR"><span class="opt">(R)</span><span  [innerHTML]="question?.qOption?.optionR | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionS"><span class="opt">(S)</span><span  [innerHTML]="question?.qOption?.optionS | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                                <div *ngIf="question?.qOption?.optionT"><span class="opt">(T)</span><span  [innerHTML]="question?.qOption?.optionT | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="question?.ans"><b>Answer : </b>{{question?.ans}}</div>
                                    <div><span class="opt"><b>Solution : </b></span> <span *ngIf="question?.qSolution" [innerHTML]="question?.qSolution | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                    <ul class="list-inline">
                                        <li *ngIf="question?.alpha"><b>ALPHA : </b>{{question?.alpha?.code}}</li>
                                        <li *ngIf="question?.beta"><b>BETA : </b>{{question?.beta?.code}}</li>
                                        <li *ngIf="question?.gamma"><b>GAMMA : </b>{{question?.gamma?.code}}</li>
                                    </ul>
                                    <hr>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>

    