<div class=" ek-full-screen-window">
    <div class="panel panel-primary panel-profile">
        <div class="panel-heading">
           <p class="alignC font-size-20 text-dark">Question Bank</p>
           <!-- <a class="ek-btn btn-create pull-right" style="float: right;margin-top : -3rem;" routerLink="/{{routes}}/qbank/upload" [queryParams]="{lang:'EN'}"><i class="fa fa-file-word-o" aria-hidden="true"></i> Upload Questions</a> -->
        </div>
        <div class="panel-body panel-loader" [ngClass]="frmLoader">
            <div class="row">
                <div class="col-md-6" style="padding-left: 25px;">
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            <select #qFilter (change)="examFilters(qFilter.value)" class="form-control">
                                <option value="null">Select Filter</option>
                                <option value="qset">Qset Filter</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-3">
                            Total Question  : <b>{{questionList?.length || 0}}</b>
                        </div> -->
                    </div>
                    <div class="row" style="margin: 5px 0px;">
                        <div *ngIf="examFilterActive == 'qset'">
                            <div class="col-md-4" *ngIf="!courseId">
                                <select class="form-control" [(ngModel)]="qCourse">
                                    <option value="null">Select Course</option>
                                    <option value="{{crs.id}}" *ngFor="let crs of qsetCourses" >{{crs.valueAlias}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select #qStream class="form-control" (change)=setTitle(qStream.value,qCourse)>
                                <option value="null">Select Stream</option>
                                <option value="{{stream.id}}" *ngFor="let stream of qsetStreams" >{{stream.valueAlias}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select #qsetId class="form-control">
                                    <option value="null" *ngIf="!qsetTitles" >Loading Titles...</option>
                                    <option value="null" *ngIf="qsetTitles" >Select Qset Title</option>
                                    <option value="{{qset.id}}" *ngFor="let qset of qsetTitles">{{qset.title}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" (click)="searchQset(qsetId.value)" class="btn btn-info pull-right">Filter</button>
                            </div>
                        </div>
                        <div *ngIf="examFilterActive == 'passage'">
                            <div class="col-md-10">
                                <div class="form-group">
                                <select class="form-control" #passageId>
                                    <option value="null">Select Passage Title</option>
                                    <option value="{{passage.id}}" *ngFor="let passage of passageTitles">{{passage.title}}</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-info pull-right" (click)="searchPassage(passageId.value)">Filter</button>
                            </div>
                        </div>
                        <div *ngIf="questionList.length < 1" class="col-md-12" style="margin-top: 80px; position: absolute;">
                            <div class="instruction-box">
                                <h4>Instructions:</h4>
                                <ul>
                                    <li>No Question Added Yet.</li>
                                    <li>Select Q.Set or Passage First.</li>
                                    <li>Double Click or Drag & Drop on Question For Action.</li>
                                </ul>
                            </div>                   
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- <div class="row  margin-bottom-10">
                        <div class="col-md-3 pull-right">
                            <select #qbFilter (change)="questionBankFilters(qbFilter.value)" class="form-control">
                            <option value="">Select Filter</option>
                            <option value="question">Question Filter</option>
                            <option value="qset">Qset Filter</option>
                            <option value="code">Code Filter</option> -->
                            <!-- <option value="passage">Passage Filter</option> -->
                            <!-- <option value="advance">Question Adv. Filter</option>
                            </select>
                        </div>
                    </div> -->
                    <ul class="list-inline pull-right">
                        <li>
                            <select class="form-control" #sort (change)="sortBy(sort.value)">
                                <option value=""> Sort By</option>
                                <option value="ATOZ">A to Z (Title)</option>
                                <option value="ZTOA">Z to A (Title)</option>
                                <option value="LTOO">latest to Oldest</option>
                                <option value="OTOL">Oldest to Latest</option>
                            </select>
                        </li>
                        <li *ngIf="!isFinalised && !isPurchased && isESBuyer"> 
                            <select #client (change)="selectClient(client.value)" class="form-control" [(ngModel)]="selectedClient">
                                <option value="" *ngIf="!clientConfigs" >Loading Sellers...</option>
                                <option value="" *ngIf="clientConfigs" >Select Seller</option>
                                <option value="{{clientConfig.client?.id}}" *ngFor="let clientConfig of clientConfigs" >{{clientConfig.client?.title}}</option>
                            </select>
                        </li>
                        <li> 
                            <select #qbFilter (change)="questionBankFilters(qbFilter.value)" class="form-control">
                                <option value="">Select Search Filter</option>
                                <option value="question">Question Filter</option>
                                <option value="qset" *ngIf="activeClient == selectedClient">Qset Filter</option>
                                <option value="code" *ngIf="activeClient == selectedClient">Code Filter</option>
                                <!-- <option value="passage">Passage Filter</option> -->
                                <option value="advance">Question Adv. Filter</option>
                            </select>
                        </li>
                        
                        
                    </ul>
                    <div class="row margin-bottom-10 ">
                        <div *ngIf="qbFilterActive == 'question'">
                            <form class="form" role="form" [formGroup]="searchForm" (ngSubmit)="searchData()">
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" formControlName="id" placeholder="Question ID">
                                </div>
                                <div class="col-md-6 form-group" *ngIf="!courseId">
                                    <select name="" id="quesCourse" class="form-control" formControlName="course">
                                        <option value="null" *ngIf="!courses" >Loading courses...</option>
                                        <option value="null" *ngIf="courses" >Select Course</option>
                                        <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <select formControlName="qType" class="form-control">
                                        <option value="null"> Question Type</option>
                                        <option value="MCQ">(MCQ) Multiple Choice Question</option>
                                        <option value="MAQ">(MAQ) Multiple Answer Question</option>
                                        <option value="DTQ">(DTQ) Digit Type Question</option>
                                        <option value="PTQ">(PTQ) Passage Type Question</option>
                                        <option value="MTQ">(MTQ) Matrix Type Question</option>
                                        <option value="ARQ">(ARQ) Assertion Reason Question</option>
                                        <option value="TFQ">(TFQ) True False Question</option>
                                        <option value="STQ">(STQ) Subjective Type Question</option>
                                        <option value="FUQ">(FUQ) Fill Up Question</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <button (click)="searchData()" class="btn btn-info pull-right">Filter</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="qbFilterActive == 'advance'">
                            <form class="form" role="form" [formGroup]="searchForm" (ngSubmit)="searchData()">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" formControlName="id" placeholder="Question ID">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" formControlName="title" placeholder="Question Title">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="" id="" formControlName="qType" class="form-control">
                                    <option value="null"> Question Type</option>
                                    <option value="MCQ">(MCQ) Multiple Choice Question</option>
                                    <option value="MAQ">(MAQ) Multiple Answer Question</option>
                                    <option value="DTQ">(DTQ) Digit Type Question</option>
                                    <option value="PTQ">(PTQ) Passage Type Question</option>
                                    <option value="MTQ">(MTQ) Matrix Type Question</option>
                                    <option value="ARQ">(ARQ) Assertion Reason Question</option>
                                    <option value="TFQ">(TFQ) True False Question</option>
                                    <option value="STQ">(STQ) Subjective Type Question</option>
                                    <option value="FUQ">(FUQ) Fill Up Question</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" *ngIf="!courseId">
                                <select name="" id="quesCourse" class="form-control" formControlName="course">
                                <option value="null" *ngIf="!courses" >Loading courses...</option>
                                <option value="null" *ngIf="courses" >Select Course</option>
                                <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="" id="quesStrm" #quesStrm class="form-control" formControlName="stream" (change)="setSubjects(quesStrm.value)">
                                <option value="null" *ngIf="!streams" >Loading streams...</option>
                                <option value="null" *ngIf="streams" >Select stream</option>
                                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="" id="quessubject" #qSubject class="form-control" formControlName="subject" (change)="setUnits(qSubject.value)">
                                <option value="null" *ngIf="!subjects" >Loading subjects...</option>
                                <option value="null" *ngIf="subjects" >Select subject</option>
                                <option value="{{subject.id}}" *ngFor="let subject of subjects" >{{subject.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="" #qunit id="unit" class="form-control" (change)="setTopics(qunit.value)" formControlName="unit">
                                    <option value="null" *ngIf="!subjectUnit" >Loading units...</option>
                                    <option value="null" *ngIf="subjectUnit">Select Unit</option>
                                    <option value="{{unit.id}}" *ngFor="let unit of subjectUnit" >{{unit.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="" id="questopic" class="form-control" formControlName="topic">
                                <option value="null" *ngIf="!topics" >Loading topics...</option>
                                <option value="null" *ngIf="topics" >Select topic</option>
                                <option value="{{topic.id}}" *ngFor="let topic of topics" >{{topic.name}}</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <select name="" id="" formControlName="level" class="form-control">
                                <option value="null">Select Level</option>
                                <option value="easy">Easy</option>
                                <option value="medium">Medium</option>
                                <option value="difficult">Difficult</option>
                                <option value="veryDifficult">Very Difficult</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="" id="level" class="form-control" formControlName="defaultLang">
                                    <option value="null" >Select Default Language</option>
                                    <option value="EN">English</option>
                                    <option value="HI">Hindi</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" *ngIf="activeClient == selectedClient">
                                <select name="" id="quessource" class="form-control" formControlName="source">
                                <option value="null" *ngIf="!sources" >Loading sources...</option>
                                <option value="null" *ngIf="sources" >Select source</option>
                                <option value="{{source.id}}" *ngFor="let source of sources" >{{source.value}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="positiveMarks" placeholder="Positive Marks" formControlName="mp">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="minusMarks" placeholder="Negative Marks" formControlName="mn">
                            </div>
                            <div class="form-group col-md-6">
                                <input id="tags" class="form-control"  formControlName="tags" placeholder="Tags">
                            </div>
                            <div class="form-group col-md-6" *ngIf="routes == 'ims'">
                                <select class="form-control" formControlName="session">
                                    <option value="null" *ngIf="sessions">Select Session</option>
                                    <option value="{{session.id}}" *ngFor="let session of sessions" >{{session.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" formControlName="stage">
                                    <option value="null">Select Stage</option>
                                    <option value="">ALL</option>
                                    <option value="NOT_REVIEWED">NOT REVIEWED</option>
                                    <option value="REVIEWED">REVIEWED</option>
                                    <option value="FINALISED">FINALISED BY FACULTY</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6" *ngIf="routes == 'ims' && activeClient == selectedClient && user?.type!='STAFF'">
                                <select name="" id="quescreatedBy" class="form-control" formControlName="createdBy">
                                    <option value="null" *ngIf="sessions">Select Created By</option>
                                    <option value="{{user.id}}" *ngFor="let user of createdBy" >{{user.firstName}} {{user.lastName}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="" id="" class="form-control" formControlName="status">
                                <option value="null">Select Status</option>
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 pull-right">
                                <button (click)="searchData()" class="btn btn-info pull-right">Filter</button>
                            </div>
                            </form>   
                        </div>
                        <div *ngIf="qbFilterActive == 'qset'">
                            <div class="col-md-6 form-group" *ngIf="!courseId">
                                <select class="form-control" [(ngModel)]="qbCourse">
                                    <option value="">Select Qset Course</option>
                                    <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select name="" #qstream class="form-control" (change)="setTitle(qstream.value,qbCourse)">
                                <option value="">Select Qset Stream</option>
                                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <select class="form-control" #qsetId >
                                <option value="" *ngIf="!qsetTitles" >Loading Qset Titles...</option>
                                <option value="" *ngIf="qsetTitles" >Select Qset Title</option>
                                <option value="{{qset.id}}" *ngFor="let qset of qsetTitles">{{qset.title}}</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <button type="submit" class="btn btn-info pull-right" (click)="loadQbQsetQuestion(qsetId.value)">Filter</button>
                            </div>
                        </div>
                        <div *ngIf="qbFilterActive == 'code'">
                            <form role="form" (ngSubmit)="getCodeQuestions()" [formGroup]="codeForm">
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="alpha" placeholder="Enter Alpha" formControlName="alpha">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="beta" placeholder="Enter Beta" formControlName="beta">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" class="form-control" id="gamma" placeholder="Enter Gamma" formControlName="gamma">
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control" formControlName="stage">
                                        <option value="">Select Stage</option>
                                        <option value="">ALL</option>
                                        <option value="NOT_REVIEWED">NOT REVIEWED</option>
                                        <option value="REVIEWED">REVIEWED</option>
                                        <option value="FINALISED">FINALISED BY FACULTY</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-info pull-right" [disabled]="!codeForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Filter')}}</button>
                                </div>
                            </form>
                        </div>
                        <div *ngIf="qbFilterActive == 'passage'">
                            <div class="col-md-10 form-group">
                                <select class="form-control" #qbPassageId>
                                <option value="null">Select Passage Title</option>
                                <option value="{{passage.id}}" *ngFor="let passage of passageTitles">{{passage.title}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <button type="submit" class="btn btn-info pull-right" (click)="loadQbPassageFilter(qbPassageId.value)">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p-pickList [source]="questionList" [target]="questionBankList" [responsive]="true" sourceHeader="Question List" targetHeader=" Question Bank"
                    dragdrop="true" dragdropScope="questions" [showTargetControls]="false"  [sourceStyle]="{'height':'100%','width':'650px','padding-bottom':'40px'}" [targetStyle]="{'height':'100%','width':'640px'}"
                    (onMoveToSource)="onMoveToSource($event)" (onMoveToTarget)="onMoveToTarget($event)">
                        <ng-template let-questionBank let-i="index" pTemplate="item">
                            <div>
                                <div style="font-size:14px;margin:0 5px 0 5px ">
                                    <div *ngIf="questionBank?.question" class="col-border-top col-border-bottom studio-content">
                                        <span *ngIf="questionBank?.question?.qContent" style="font-weight: bold;">Question : {{questionBank?.questionSeqId}}</span>
                                        <ul class="list-inline pull-right">
                                            <li><input type="tel" class="input-marks border-success" (change)="changePositiveMarks(mp.value,i,questionBank?.question?._id)" style="color: black"  #mp [value]="questionBank?.mp" pattern="^[0-9]+$"></li>
                                            <li><input type="tel" class="input-marks border-danger" (change)="changeNegativeMarks(mn.value,i,questionBank?.question?._id)" style="color: black"  #mn [value]="questionBank?.mn" pattern="^[0-9]+$"></li>
                                            <li *ngIf="activeClient == questionBank?.question?.client"><a class="ek-btn btn-edit btn-mini" routerLink="/{{routes}}/qbank/question/edit/{{questionBank?.question?._id}}" target="blank"><span class="glyphicon glyphicon-edit"></span></a></li>
                                        </ul>
                                        <div *ngIf="questionBank?.question?.qContent" [innerHTML]="questionBank?.question?.qContent | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></div>
                                        <div class="row" style="margin-right: 0px;">
                                            <div class="col-md-6 col-border-right">
                                                <div *ngIf="questionBank?.question?.qType == 'MCQ' || questionBank?.question?.qType == 'MAQ' || questionBank?.question?.qType == 'ARQ' || questionBank?.question?.qType == 'PTQ'">
                                                    <div *ngIf="questionBank?.question?.qOption?.optionA"><b>(A)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionA | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.question?.qOption?.optionB"><b>(B)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionB | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.question?.qOption?.optionC"><b>(C)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionC | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.question?.qOption?.optionD"><b>(D)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionD | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.question?.qOption?.optionE"><b>(E)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionE | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                </div>
                                                <!-- <div *ngIf="questionBank?.question?.qType == 'DTQ' || questionBank?.question?.qType == 'TFQ'">
                                                    <p class="brooch brooch-info">Answer :</p><b>{{questionBank?.question?.ans}}</b>
                                                </div> -->
                                                <div *ngIf="questionBank?.question?.qType == 'MTQ'">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                        <div *ngIf="questionBank?.question?.qOption?.optionA"><b>(A)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionA | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionB"><b>(B)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionB | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionC"><b>(C)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionC | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionD"><b>(D)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionD | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionE"><b>(E)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionE | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                        <div *ngIf="questionBank?.question?.qOption?.optionA"><b>(P)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionP | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionB"><b>(Q)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionQ | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionC"><b>(R)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionR | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionD"><b>(S)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionS | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        <div *ngIf="questionBank?.question?.qOption?.optionE"><b>(T)</b><span  [innerHTML]="questionBank?.question?.qOption?.optionT | safeHtml" [ngClass]="questionBank?.question?.defaultFont"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="activeClient == questionBank?.question?.client"><p class="brooch brooch-info">Answer :</p> <span class="bold">{{questionBank?.question?.ans}}</span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2"><div><label>Q.ID</label><b> : {{questionBank?.question?._id}}</b></div></td>
                                                        </tr>
                                                        <tr *ngIf="questionBank?.question?.passage?.title">
                                                            <td  colspan="2"><div><label>Passage</label><b> : {{questionBank?.question?.passage?.title}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Question Type</label><b> : {{questionBank?.question?.qType}}</b></div></td>
                                                            <td><div *ngIf="questionBank?.question?.linkCount"><button class="ek-btn btn-list btn-mini" (click)="qLink(questionBank?.question?._id)">Q Link : {{questionBank.question?.linkCount}}</button></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Course</label><b> : {{questionBank?.question?.course?.value}}</b></div></td>
                                                            <td><div><label>Stream</label><b> : {{questionBank?.question?.stream?.valueAlias}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Subject</label><b> : {{questionBank?.question?.subject?.name}}</b></div></td>
                                                            <td><div><label>Unit</label><b> : {{questionBank?.question?.unit?.name}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Topic</label><b> : {{questionBank?.question?.topic?.name}}</b></div></td>
                                                            <td><div><label>Level</label><b> : {{questionLevel[questionBank?.question?.level]}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Language</label><b> : {{questionBank?.question?.defaultLang}}</b></div></td>
                                                            <td><div><label>Stage</label><b> : {{questionBank?.question?.stage}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Is Variant</label><b> : {{questionBank?.question?.isVariant? 'True':'False'}}</b></div></td>
                                                            <td *ngIf="questionBank?.question?.tags"><div><label>Tags</label> : <b class="brooch brooch-tag" *ngFor="let tag of questionBank?.question?.tags ">{{tag}}</b></div></td>
                                                        </tr>
                                                        <tr *ngIf="questionBank?.question?.forSell">
                                                            <td><div><label>Price</label><b> : {{questionBank?.question?.price}}</b></div></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
    <!-- ================================ QuestionBank Question Display ================================= -->
                                    <div *ngIf="questionBank?.qContent" class="col-border-top  col-border-bottom studio-content">
                                        <span *ngIf="questionBank?.qContent" style="font-weight: bold;">Question</span>
                                        <ul class="list-inline pull-right">                    
                                            <li><input type="tel" class="input-marks border-success" (change)="changePositiveMarks(mp.value,i,questionBank?.id)" style="color: black"  #mp [value]="questionBank?.mp" pattern="[0-9]"></li>
                                            <li><input type="tel" class="input-marks border-danger" (change)="changeNegativeMarks(mn.value,i,questionBank?.id)" style="color: black"  #mn [value]="questionBank?.mn" pattern="[0-9]"></li>
                                            <li *ngIf="activeClient == questionBank?.client"><a class="ek-btn btn-edit btn-mini" routerLink="/{{routes}}/qbank/question/edit/{{questionBank?.id}}" target="blank"><span class="glyphicon glyphicon-edit"></span></a></li>
                                        </ul>
                                        <div *ngIf="questionBank?.qContent" [innerHTML]="questionBank?.qContent | safeHtml" [ngClass]="questionBank?.defaultFont"></div>
                                        <div class="row" style="margin-right: 0px;">
                                            <div class="col-md-6 col-border-right">
                                                <div *ngIf="questionBank?.qType == 'MCQ' || questionBank?.qType == 'MAQ' || questionBank?.qType == 'ARQ' || questionBank?.qType == 'PTQ'">
                                                    <div *ngIf="questionBank?.qOption?.optionA"><b>(A)</b><span  [innerHTML]="questionBank?.qOption?.optionA | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.qOption?.optionB"><b>(B)</b><span  [innerHTML]="questionBank?.qOption?.optionB | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.qOption?.optionC"><b>(C)</b><span  [innerHTML]="questionBank?.qOption?.optionC | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.qOption?.optionD"><b>(D)</b><span  [innerHTML]="questionBank?.qOption?.optionD | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                    <div *ngIf="questionBank?.qOption?.optionE"><b>(E)</b><span  [innerHTML]="questionBank?.qOption?.optionE | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                </div>
                                                <!-- <div *ngIf="questionBank?.qType == 'DTQ' || questionBank?.qType == 'TFQ'">
                                                    <p class="brooch brooch-info">Answer :</p>
                                                    <b>{{questionBank?.ans}}</b>
                                                </div> -->
                                                <div *ngIf="questionBank?.qType == 'MTQ'">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div *ngIf="questionBank?.qOption?.optionA"><b>(A)</b><span  [innerHTML]="questionBank?.qOption?.optionA | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionB"><b>(B)</b><span  [innerHTML]="questionBank?.qOption?.optionB | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionC"><b>(C)</b><span  [innerHTML]="questionBank?.qOption?.optionC | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionD"><b>(D)</b><span  [innerHTML]="questionBank?.qOption?.optionD | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionE"><b>(E)</b><span  [innerHTML]="questionBank?.qOption?.optionE | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div *ngIf="questionBank?.qOption?.optionA"><b>(P)</b><span  [innerHTML]="questionBank?.qOption?.optionP | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionB"><b>(Q)</b><span  [innerHTML]="questionBank?.qOption?.optionQ | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionC"><b>(R)</b><span  [innerHTML]="questionBank?.qOption?.optionR | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionD"><b>(S)</b><span  [innerHTML]="questionBank?.qOption?.optionS | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                            <div *ngIf="questionBank?.qOption?.optionE"><b>(T)</b><span  [innerHTML]="questionBank?.qOption?.optionT | safeHtml" [ngClass]="questionBank?.defaultFont"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="activeClient == questionBank?.client"><p class="brooch brooch-info">Answer :</p> <span class="bold">{{questionBank?.ans}}</span></div>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2"><div><label>Title : </label><b [innerHTML]="questionBank?.title"></b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><div><label>Question ID</label><b> : {{questionBank?.id}}</b></div></td>
                                                        </tr>
                                                        <tr *ngIf="questionBank?.passage">
                                                            <td colspan="2"><div><label>Passage</label><b> : {{questionBank?.passage}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Question Type</label><b> : {{questionBank?.qType}}</b></div></td>
                                                            <td><div *ngIf="questionBank?.linkCount"><button class="ek-btn btn-list btn-mini" (click)="qLink(questionBank?.id)">Q Link : {{questionBank.linkCount}}</button></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Course</label><b> : {{questionBank?.course?.valueAlias}}</b></div></td>
                                                            <td><div><label>Stream</label><b> : {{questionBank?.stream?.valueAlias}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Subject</label><b> : {{questionBank?.subject?.name}}</b></div></td>
                                                            <td><div><label>Unit</label><b> : {{questionBank?.unit?.name}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Topic</label><b> : {{questionBank?.topic?.name}}</b></div></td>
                                                            <td><div><label>Level</label><b> : {{questionLevel[questionBank?.level]}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Language</label><b> : {{questionBank?.defaultLang}}</b></div></td>
                                                            <td><div><label>Stage</label><b> : {{questionBank?.stage}}</b></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><div><label>Is Variant</label><b> : {{questionBank?.isVariant? 'True':'False'}}</b></div></td>
                                                            <td *ngIf="questionBank?.tags"><label>Tags</label> : <b class="brooch brooch-tag" *ngFor="let tag of questionBank?.tags ">{{tag}}</b></td>
                                                        </tr>
                                                        <tr *ngIf="questionBank?.forSell">
                                                            <td><div><label>Price</label><b> : {{questionBank?.price}}</b></div></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </ng-template>
                    </p-pickList>   
                </div>
            </div>
            <div class="row" *ngIf="qbFilterActive != 'passage' || qbFilterActive == 'qset'">
                <div class=" col-md-6 pull-right">
                    <p-paginator  alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                </div>
            </div>
        </div>
    </div> 
    <div class="ek-footer">
        <div class="footer-container">
            <div class="col-md-6 alignC" style="padding-top: 1vh;">
                Total Questions  : <b>{{questionList?.length || 0}}</b>
            </div>
            <div class="pull-right" style="margin-right: 33px; margin-bottom: -6px;">
                <ul class="list-inline">                    
                    <li><a class="btn btn-danger btn-sm" (click)="setQueryParams()">Close</a></li>
                    <li><button (click)="saveExamQuestion()" class="btn btn-success btn-sm" [disabled]="questionList.length < 1" >Save</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Question Link" [(visible)]="showLinkedQs" [modal]="true">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>#</th>
                <th>Qset</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let data of linkQsets;let i=index;"> 
                <td>{{i+1}}</td>
                <td>{{data.qset?.title}}</td>
                <td><a class="ek-btn btn-list btn-mini" target="blank" routerLink="/{{routes}}/qbank/qset/view" [queryParams]="{qsetId : data.qset?.id}">View</a></td>
            </tr>
        </tbody>
    </table>
</p-dialog>