<!-- <div class="activity-header">
    <div class="activity-header-menu">
        <ul>
            <li>
                <a class="ek-btn btn-list" (click)="qbAdvFilterActive != qbAdvFilterActive">Advance Filter</a>
            </li>
        </ul>
    </div>
</div> -->
<div class="activity-content" id="mathload">
    <div class="row">
        <div class="col-md-12" >
            <div class="panel panel-default panel-loader" [ngClass]="panelLoader">
                <div class="panel-body">
                    <form class="form" role="form" [formGroup]="searchForm" (ngSubmit)="searchData()">
                        <div class="form-group col-md-2">
                            <label>ID</label>
                            <input type="text" class="form-control" formControlName="id" placeholder="Question ID">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Title</label>
                            <input type="text" class="form-control" formControlName="title" placeholder="Question Title">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Question Type</label>
                            <select id="qType" formControlName="qType" class="form-control">
                                <option value=""> Question Type</option>
                                <option value="MCQ">(MCQ) Multiple Choice Question</option>
                                <option value="MAQ">(MAQ) Multiple Answer Question</option>
                                <option value="DTQ">(DTQ) Digit Type Question</option>
                                <option value="PTQ">(PTQ) Passage Type Question</option>
                                <option value="MTQ">(MTQ) Matrix Type Question</option>
                                <option value="ARQ">(ARQ) Assertion Reason Question</option>
                                <option value="TFQ">(TFQ) True False Question</option>
                                <option value="STQ">(STQ) Subjective Type Question</option>
                                <option value="FUQ">(FUQ) Fill Up Question</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Default Lang</label>
                            <select id="level" class="form-control" formControlName="defaultLang">
                                <option value="" >Select Default Language</option>
                                <option value="EN">English</option>
                                <option value="HI">Hindi</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Session</label>
                            <select class="form-control" formControlName="session">
                                <option value="" *ngIf="sessions">Select Session</option>
                                <option value="{{session.id}}" *ngFor="let session of sessions" >{{session.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2" *ngIf="routes == 'ims'">
                            <label>Source</label>
                            <select id="qSource" class="form-control" formControlName="source">
                                <option value="" *ngIf="sourceList">Select Sources</option>
                                <option value="" *ngIf="!sourceList">loading Sources...</option>
                                <option value="{{source.id}}" *ngFor="let source of sourceList" >{{source.value}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Q Link</label>
                            <input type="number" class="form-control" formControlName="linkCount" placeholder="Q.Link">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Course</label>
                            <select id="quesCourse" class="form-control"
                                formControlName="course">
                                <option value="" *ngIf="!courses">Loading courses...</option>
                                <option value="" *ngIf="courses">Select Course</option>
                                <option value="{{crs.id}}" *ngFor="let crs of courses">
                                    {{crs.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Stream</label>
                            <select id="quesStrm" #quesStrm class="form-control"
                                formControlName="stream" (change)="setSubjects(quesStrm.value)">
                                <option value="" *ngIf="!streams">Loading streams...</option>
                                <option value="" *ngIf="streams">Select stream</option>
                                <option value="{{stream.id}}" *ngFor="let stream of streams">
                                    {{stream.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Subject</label>
                            <select id="quessubject" #quesSubject class="form-control"
                                formControlName="subject" (change)="setUnits(quesSubject.value)">
                                <option value="" *ngIf="!subjects">Loading subjects...</option>
                                <option value="" *ngIf="subjects">Select subject</option>
                                <option value="{{subject.id}}" *ngFor="let subject of subjects">
                                    {{subject.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="unit">Unit</label>
                            <select name="" #qunit id="unit" class="form-control" (change)="setTopics(qunit.value)" formControlName="unit">
                                <option value="" *ngIf="!subjectUnit" >Loading units...</option>
                                <option value="" *ngIf="subjectUnit">Select Unit</option>
                                <option value="{{unit.id}}" *ngFor="let unit of subjectUnit" >{{unit.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Topic</label>
                            <select id="questopic" class="form-control" formControlName="topic">
                                <option value="" *ngIf="!topics">Loading topics...</option>
                                <option value="" *ngIf="topics">Select topic</option>
                                <option value="{{topic.id}}" *ngFor="let topic of topics">{{topic.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Level</label>
                            <select formControlName="level" class="form-control">
                                <option value="">Select Level</option>
                                <option value="1">Easy</option>
                                <option value="2">Average</option>
                                <option value="3">Medium</option>
                                <option value="4">Difficult</option>
                                <option value="5">Very Difficult</option>
                                <option value="6">Tough</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Stage</label>
                            <select id="stage" class="form-control" formControlName="stage">
                                <option value="">All</option>
                                <option value="NOT_REVIEWED">NOT REVIEWED</option>
                                <option value="REVIEWED">REVIEWED</option>
                                <option value="FINALISED">FINALISED BY FACULTY</option>
                            </select>
                        </div>
                       
                        <div class="form-group col-md-2">
                            <label>Positive Marks</label>
                            <input type="text" class="form-control" id="positiveMarks" placeholder="Positive Marks" formControlName="mp">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Negative Marks</label>
                            <input type="text" class="form-control" id="minusMarks" placeholder="Negative Marks" formControlName="mn">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Tags</label>
                            <input id="tags" class="form-control"  formControlName="tags" placeholder="Tags">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Status</label>
                            <select id="status" class="form-control" formControlName="status">
                            <option value="">Select Status</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2" *ngIf="user?.type!='STAFF'">
                            <label>Created By</label>
                            <select id="quescreatedBy" #quescreatedBy class="form-control"
                                formControlName="createdBy">
                                <option value="" *ngIf="!createdBy">Loading createdBy...</option>
                                <option value="" *ngIf="createdBy">Select createdBy</option>
                                <option value="{{user.id}}" *ngFor="let user of createdBy">
                                    {{user.firstName}} {{user.lastName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2" style="height: 60px;">
                            <label>Created At</label>
                            <p-calendar formControlName="createdAt" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                        </div>
                        <div class="form-group col-md-2 pull-right">
                            <br>
                            <button type="submit" class="btn btn-success">Filter</button>
                            <!-- <span *ngIf="routes == 'ims' && user?.type!='STAFF'" class="pull-right"><p-splitButton icon="fa-print" [model]="printButtons"></p-splitButton></span> -->
                            <button class="btn btn-primary pull-right" *ngIf="routes == 'ims' && user?.type!='STAFF'" (click)="printQuestion()"><i class="fa fa-print" aria-hidden="true"></i></button>
                        </div>
                    </form>   
                    <div class="col-md-12" *ngIf="rows?.length<1">
                        <p class="alignC">
                            <b>No Question available for now!</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================================Question Data ================================== -->
        <div class="col-md-12" *ngFor="let row of rows; let i=index">
            <div class="panel panel-primary panel-profile" [ngClass]="panelLoader">
                <div class="panel-heading panel-loader">
                    <span><b>Question : {{countBase+i}} </b></span>
                    <span class=" brooch brooch-success">{{row?.mp}}</span>
                    <span class="brooch brooch-danger">-{{row?.mn}}</span>
                    <ul class="list-inline pull-right">
                        <!-- <li><a class="ek-btn btn-edit btn-mini "
                                routerLink="/{{routes}}/qbank/question/edit/{{row.id}}"
                                [queryParams]="{qsetId: qset?.id,lang : row.defaultLang}"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                        </li> -->
                        <li><a class="ek-btn btn-edit btn-mini" (click)="showQuickEdit(i)">Quick Edit</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" *ngIf="row.havePassage">
                            <span [innerHTML]="row.passage?.passageContent | safeHtml" [ngClass]="row.defaultFont"></span>
                        </div>
                        <div class="col-md-8 col-border-right q-content">
                            <div *ngIf="row.qContent" [innerHTML]="row.qContent | safeHtml" [ngClass]="row.defaultFont"></div>
                            <div
                                *ngIf="row.qType == 'MCQ' || row.qType == 'MAQ' || row.qType == 'ARQ' || row.qType == 'PTQ'">
                                <div *ngIf="row.qOption?.optionA"><b>(A) </b><span
                                        [innerHTML]="row.qOption?.optionA | safeHtml" [ngClass]="row.defaultFont"></span>
                                </div>
                                <div *ngIf="row.qOption?.optionB"><b>(B) </b><span
                                        [innerHTML]="row.qOption?.optionB | safeHtml" [ngClass]="row.defaultFont"></span>
                                </div>
                                <div *ngIf="row.qOption?.optionC"><b>(C) </b><span
                                        [innerHTML]="row.qOption?.optionC | safeHtml" [ngClass]="row.defaultFont"></span>
                                </div>
                                <div *ngIf="row.qOption?.optionD"><b>(D) </b><span
                                        [innerHTML]="row.qOption?.optionD | safeHtml" [ngClass]="row.defaultFont"></span>
                                </div>
                                <div *ngIf="row.qOption?.optionE"><b>(E) </b><span
                                        [innerHTML]="row.qOption?.optionE | safeHtml" [ngClass]="row.defaultFont"></span>
                                </div>
                            </div>
                            <div *ngIf="row.qType == 'MTQ'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div *ngIf="row.qOption?.optionA"><b>(A) </b><span
                                                [innerHTML]="row.qOption?.optionA | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionB"><b>(B) </b><span
                                                [innerHTML]="row.qOption?.optionB | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionC"><b>(C) </b><span
                                                [innerHTML]="row.qOption?.optionC | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionD"><b>(D) </b><span
                                                [innerHTML]="row.qOption?.optionD | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionE"><b>(E) </b><span
                                                [innerHTML]="row.qOption?.optionE | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="row.qOption?.optionP"><b>(P) </b><span
                                                [innerHTML]="row.qOption?.optionP | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionQ"><b>(Q) </b><span
                                                [innerHTML]="row.qOption?.optionQ | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionR"><b>(R) </b><span
                                                [innerHTML]="row.qOption?.optionR | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionS"><b>(S) </b><span
                                                [innerHTML]="row.qOption?.optionS | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                        <div *ngIf="row.qOption?.optionT"><b>(T) </b><span
                                                [innerHTML]="row.qOption?.optionT | safeHtml" [ngClass]="row.defaultFont"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="brooch brooch-info">Answer :</p>
                                <span class="bold">{{row.ans}}</span>
                            </div>
                            <div>
                                <div class="brooch brooch-info">Solution :</div>
                                <div [innerHTML]="row.qSolution | safeHtml" [ngClass]="row.defaultFont"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-brdr0">
                                <tbody>
                                    <tr>
                                        <td colspan="2"><label>Title</label><br /><b [ngClass]="row.defaultFont">{{row.title}}</b></td>
                                    </tr>
                                    <tr>
                                        <td><label>Question Type</label><br /><b>{{row.qType}}</b></td>
                                        <td><label>Level</label><br /><b>{{questionLevel[row.level]}}</b></td>
                                    </tr>
                                    <tr>
                                        <td><label>Course</label><br /><b>{{row.course?.valueAlias}}</b></td>
                                        <td><label>Stream</label><br /><b>{{row.stream?.valueAlias}}</b></td>
                                    </tr>
                                    <tr>
                                        <td *ngIf="row.topic?.name">
                                            <label>Topic</label><br /><b>{{row.topic?.name}}</b>
                                        </td>
                                        <td *ngIf="row.linkCount">
                                                <button class="ek-btn btn-list btn-mini" (click)="qLink(row.id)">Q.Link
                                                    {{row.linkCount}}</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>Language</label><br /><b>{{row.defaultLang}}</b></td>
                                        <td><label>Is Variant</label><br /><b>{{row?.isVariant?'True' : 'False'}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>ID</label><br /><b>{{row.id}}</b></td>
                                        <td *ngIf="row.price"><label>Price</label><br /><b>{{row.price}}</b></td>
                                    </tr>
                                    <tr>
                                        <td *ngIf="row.createdBy?.firstName"><label>Created By</label><br/><b>{{row.createdBy?.firstName}} {{row.createdBy?.lastName}}</b></td>
                                       <td><label>Created At</label><br/><b>{{row.createdAt | date :  "MMM d, y, h:mm a"}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="rows?.length>0">
    <div class="col-md-12">
        <p class="alignC">Total Records: {{totalRecords}}</p>
        <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}"
            [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
    </div>
</div>
<p-dialog header="Question Link" [(visible)]="showLinkedQs" [modal]="true">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>#</th>
                <th>Qset</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let data of linkQsets;let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.qset?.title}}</td>
                <td><a class="ek-btn btn-list btn-mini" target="blank" routerLink="/{{routes}}/qbank/qset/view"
                        [queryParams]="{qsetId : data.qset?.id}">View</a></td>
            </tr>
        </tbody>
    </table>
</p-dialog>
<p-dialog header="Edit Question" [modal]="true" [(visible)]="displayQEdit" [width]="1200">
    <div class="quickedit">
        <form class="form-horizontal fgm0" role="form" (ngSubmit)="updateEditQuestion()" [formGroup]="editQuesForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="qContent">Question</label>
                        <ck-editor id="qContent" formControlName="qContent" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                    </div>
                </div>
                <fieldset formGroupName="qOption" *ngIf="questionType!='DTQ' && questionType!='TFQ' && questionType!='STQ'&& questionType!='FUQ'" class="col-md-12">
                    <div [ngClass]="(questionType =='MTQ'? 'col-md-6' : 'col-md-12')">
                        <label for="OptionA">Option A :</label>
                        <ck-editor id="optionA" formControlName="optionA" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionB">Option B :</label>
                        <ck-editor id="optionB" formControlName="optionB" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionA">Option C :</label>
                        <ck-editor id="optionC" formControlName="optionC" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionD">Option D :</label>
                        <ck-editor id="optionD" formControlName="optionD" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionE">Option E :</label>
                        <ck-editor id="optionE" formControlName="optionE" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                    </div>
                    <div class="col-md-6" *ngIf="questionType=='MTQ'">
                        <label for="OptionP">Option P :</label>
                        <ck-editor id="optionP" formControlName="optionP" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionQ">Option Q :</label>
                        <ck-editor id="optionQ" formControlName="optionQ" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionR">Option R :</label>
                        <ck-editor id="optionR" formControlName="optionR" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionS">Option S :</label>
                        <ck-editor id="optionS" formControlName="optionS" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                        <label for="OptionT">Option T :</label>
                        <ck-editor id="optionT" formControlName="optionT" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                    </div>
                </fieldset> 
                <div class="col-md-12 col-xs-12">
                    <div class="form-group" *ngIf="questionType=='MCQ' || questionType=='PTQ' || questionType=='ARQ'">
                        <label>Answer</label>
                        <ul class="list-inline choose-option ek-border">
                            <li *ngFor="let option of options"><input type="radio" formControlName="ans"
                                    value="{{option}}">{{option}}</li>
                        </ul>
                    </div>
                    <div class="form-group" *ngIf="questionType=='TFQ'">
                        <label>Answer</label>
                        <ul class="list-inline choose-option">
                            <li><input type="radio" formControlName="ans" value="true"> TRUE</li>
                            <li><input type="radio" formControlName="ans" value="false"> FALSE</li>
                        </ul>
                    </div>
                    <div class="form-group" *ngIf="questionType=='DTQ'">
                        <label for="quesAns">Answer </label>
                        <input type="text" class="form-control" id="quesAns" placeholder="Answer" formControlName="ans">
                    </div>
                    <div class="form-group" *ngIf="questionType=='MAQ'">
                        <label>Answer</label>
                        <ul class="list-inline choose-option ek-border">
                            <li *ngFor="let option of options"><input type="checkbox" value="{{option}}"
                                    (change)="insertCheckbxValue($event)"
                                    [checked]="answers.indexOf(option) >=0">{{option}}</li>
                        </ul>
                    </div>
                    <div class="form-group" *ngIf="questionType=='MTQ'">
                        <label>Answer</label>
                        <table class="choose-option ek-border" border="1">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>P</td>
                                    <td>Q</td>
                                    <td>R</td>
                                    <td>S</td>
                                    <td>T</td>
                                </tr>
                                <tr *ngFor="let option of options">
                                    <td>{{option}}</td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('P') >=0:false" value="P"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('Q') >=0:false" value="Q"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('R') >=0:false" value="R"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('S') >=0:false" value="S"></td>
                                    <td><input type="checkbox" (change)="mtqAnsChange($event,option)" [checked]="mtqAns[option]? mtqAns[option]?.indexOf('T') >=0:false" value="T"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="solution">Solution</label>
                    <ck-editor id="solution" formControlName="qSolution" [ngClass]="editQuesForm.value?.defaultFont"></ck-editor>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right">Save Changes</button>
                    <button class="btn btn-danger pull-right" style="margin-right: 15px;"
                        (click)="displayQEdit = false">Close</button>
                </div>
            </div>
        </form>
    </div>
</p-dialog>