<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary panel-profile">
                <div class="panel-heading panel-loader" [ngClass]="panelLoader">
                    <div class="row">
                        <div class="col-md-2">
                            <span><b>Question Details -</b></span>
                        </div>
                        <div class="col-md-2">
                            <span>Positive Marks : </span>
                            <span class=" brooch brooch-success">{{question?.mp}}</span>
                        </div>
                        <div class="col-md-6">
                            <span>Negative Marks : </span>
                            <span class="brooch brooch-danger">- {{question?.mn}}</span>
                        </div>
                        <div class="col-md-2">
                            <a class="ek-btn btn-edit btn-mini pull-right" routerLink="/{{routes}}/qbank/question/edit/{{question?.id}}"><span class="glyphicon glyphicon-edit"></span></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                        
                    <div class="row">
                        <div class="col-md-12" *ngIf="question?.havePassage">
                            <p><b>Passage</b></p>
                            <span [innerHTML]="question?.passage?.passageContent | safeHtml" [ngClass]="question?.defaultFont"></span>
                            <p><b>(Q)</b></p>
                        </div>
                        <div class="col-md-8 col-border-right q-content">
                            <div *ngIf="question?.qContent" [innerHTML]="question?.qContent | safeHtml" [ngClass]="question?.defaultFont"></div>
                            <div *ngIf="question?.qType == 'MCQ' || question?.qType == 'MAQ' || question?.qType == 'ARQ' || question?.qType == 'PTQ'">
                                <div *ngIf="question?.qOption?.optionA"><b>(A) </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                <div *ngIf="question?.qOption?.optionB"><b>(B) </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                <div *ngIf="question?.qOption?.optionC"><b>(C) </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                <div *ngIf="question?.qOption?.optionD"><b>(D) </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                <div *ngIf="question?.qOption?.optionE"><b>(E) </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                            </div>
                            <div *ngIf="question?.qType == 'MTQ'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div *ngIf="question?.qOption?.optionA"><b>(A) </b><span  [innerHTML]="question?.qOption?.optionA | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionB"><b>(B) </b><span  [innerHTML]="question?.qOption?.optionB | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionC"><b>(C) </b><span  [innerHTML]="question?.qOption?.optionC | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionD"><b>(D) </b><span  [innerHTML]="question?.qOption?.optionD | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionE"><b>(E) </b><span  [innerHTML]="question?.qOption?.optionE | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="question?.qOption?.optionP"><b>(P) </b><span  [innerHTML]="question?.qOption?.optionP | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionQ"><b>(Q) </b><span  [innerHTML]="question?.qOption?.optionQ | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionR"><b>(R) </b><span  [innerHTML]="question?.qOption?.optionR | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionS"><b>(S) </b><span  [innerHTML]="question?.qOption?.optionS | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                        <div *ngIf="question?.qOption?.optionT"><b>(T) </b><span  [innerHTML]="question?.qOption?.optionT | safeHtml" [ngClass]="question?.defaultFont"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="question?.ans"><p class="brooch brooch-info">Answer :</p> <span class="bold">{{question?.ans}}</span></div>
                            <div class="brooch brooch-info">Solution :</div>
                            <div *ngIf="question?.qSolution" [innerHTML]="question?.qSolution | safeHtml" [ngClass]="question?.defaultFont"></div>            
                        </div>
                        <div class="col-md-4">
                            <table class="table table-brdr0">
                                <tbody>
                                    <tr *ngIf="question?.alpha">
                                        <td><label>ALPHA</label><br/><b>{{question?.alpha?.code}}</b></td>
                                        <td><label>BETA</label><br/><b>{{question?.beta?.code}}</b></td>
                                    </tr>
                                    <tr *ngIf="question?.gamma">
                                        <td><label>GAMMA</label><br/><b>{{question?.gamma?.code}}</b></td>
                                    </tr>
                                    <tr *ngIf="question?.title">
                                        <td colspan="2" ><label>Title</label><br/><b [innerHTML]="question?.title | safeHtml" [ngClass]="question?.defaultFont"></b></td>
                                    </tr> 
                                    <tr>
                                        <td><label>Question Type</label><br/><b>{{question?.qType}}</b></td>
                                        <td><label>Level</label><br/><b>{{questionLevel[question?.level]}}</b></td>
                                    </tr>
                                    <tr>
                                        <td><label>Course</label><br/><b>{{question?.course?.value}}</b></td>
                                        <td><label>Stream</label><br/><b>{{question?.stream?.valueAlias}}</b></td>
                                    </tr>
                                    <tr>
                                        <td><label>Subject</label><br/><b>{{question?.subject?.name}}</b></td>
                                        <td><label>Unit</label><br/><b>{{question?.unit?.name}}</b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><label>Topic</label><br/><b>{{question?.topic?.name}}</b></td>
                                    </tr>
                                    <tr>
                                        <td><label>Language</label><br/><b>{{question?.defaultLang}}</b></td>
                                        <td><label>Is Variant</label><br/><b>{{question?.isVariant? 'True':'False'}}</b></td>
                                    </tr>
                                    <tr>
                                        <td><label>Stage</label><br/><b>{{question?.stage}}</b></td>
                                        <td>
                                            <label>Tags</label>
                                            <br/>
                                            <b *ngFor="let tag of question?.tags">
                                                {{tag}}, 
                                            </b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
