<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-default">
                <h4  *ngIf="qBookmark?.length > 0" style="padding: 20px;"><i class="fa fa-star" style="color: #ffc626;"></i> Bookmark Questions</h4>
                <div class="panel-body alignC" *ngIf="qBookmark?.length < 1">
                    <i class="fa fa-star fa-5x" style="color: #ffc6268c;"></i>
                    <h3>No Bookmarked Questions</h3>
                </div>
            </div>
            <div class="panel panel-primary panel-profile" *ngFor="let data of qBookmark; let i=index;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" *ngIf="data?.question?.havePassage">
                            <button *ngIf="!data?.question?.passage?.passageContent" class="ek-btn btn-list btn-sm" (click)="getPassage(data?.question?.passage,i)">Show Passage</button>
                            <div *ngIf="data?.question?.passage?.passageContent">
                                <b>Passage -</b>
                                <div [innerHTML]="data?.question?.passage.passageContent | safeHtml"></div>
                            </div>
                        </div>
                        <div class="col-md-8 col-border-right">
                            <div style="font-weight: bold"><span class="pull-left" >Q.{{i+1}} - </span><span *ngIf="data?.question?.qContent" [innerHTML]="data?.question?.qContent | safeHtml"></span></div>
                            <div *ngIf="data?.question?.qType == 'MCQ' || data?.question?.qType == 'MAQ' || data?.question?.qType == 'ARQ' || data?.question?.qType == 'PTQ'">
                                <div *ngIf="data?.question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="data?.question?.qOption?.optionA | safeHtml"></span></div>
                                <div *ngIf="data?.question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="data?.question?.qOption?.optionB | safeHtml"></span></div>
                                <div *ngIf="data?.question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="data?.question?.qOption?.optionC | safeHtml"></span></div>
                                <div *ngIf="data?.question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="data?.question?.qOption?.optionD | safeHtml"></span></div>
                                <div *ngIf="data?.question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="data?.question?.qOption?.optionE | safeHtml"></span></div>
                            </div>
                            <div *ngIf="data?.question?.qType == 'MTQ'">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div *ngIf="data?.question?.qOption?.optionA"><b>A. </b><span  [innerHTML]="data?.question?.qOption?.optionA | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionB"><b>B. </b><span  [innerHTML]="data?.question?.qOption?.optionB | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionC"><b>C. </b><span  [innerHTML]="data?.question?.qOption?.optionC | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionD"><b>D. </b><span  [innerHTML]="data?.question?.qOption?.optionD | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionE"><b>E. </b><span  [innerHTML]="data?.question?.qOption?.optionE | safeHtml"></span></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="data?.question?.qOption?.optionP"><b>P. </b><span  [innerHTML]="data?.question?.qOption?.optionP | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionQ"><b>Q. </b><span  [innerHTML]="data?.question?.qOption?.optionQ | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionR"><b>R. </b><span  [innerHTML]="data?.question?.qOption?.optionR | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionS"><b>S. </b><span  [innerHTML]="data?.question?.qOption?.optionS | safeHtml"></span></div>
                                        <div *ngIf="data?.question?.qOption?.optionT"><b>T. </b><span  [innerHTML]="data?.question?.qOption?.optionT | safeHtml"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data.question?.qSolution" class="margin-top-20">
                                <div class="brooch brooch-list">Solution :</div>
                                <div [innerHTML]="data.question?.qSolution | safeHtml"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <table class="table table-brdr0">
                                <tbody>
                                    <tr>
                                        <td><label>Question Type</label><br/><b>{{data?.question?.qType}}</b></td>
                                        <td><label>Correct Answer</label><br><span class=" brooch brooch-success">{{data?.question?.ans}}</span></td>
                                    </tr>
                                    <!-- <tr>
                                        <td><label>Course</label><br/><b>{{data?.question?.course[0]?.value}}</b></td>
                                        <td><label>Stream</label><br/><b>{{data?.question?.stream[0]?.valueAlias}}</b></td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td><label>Positive Marks</label><br><span class=" brooch brooch-success">{{data?.question?.mp}}</span></td>
                                        <td><label>Negative Marks</label><br><span class="brooch brooch-danger">-{{data?.question?.mn}}</span></td> 
                                    </tr> -->
                                    <tr *ngIf="data.question?.level">
                                        <td><label>Level</label><br/><b>{{qLevelLabel[data?.question?.level]}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>