/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.page{
    .header{
        h1{
            margin: 0px;
            padding: 10px 5px;
            border-bottom: solid 2px #ececec;
            color: #797979;
            font-weight: 400;
        }
    }
    .section{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.container {
  height: 100%;
    padding:0px 15px;
  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }
  a{
    color: #282e38;
  }
  a:hover{
      text-decoration: none;
  }

//   a {
//     color: #fff !important;
//     text-transform: uppercase;
//     text-decoration: none;
//     background: #ed3330;
//     padding: 20px;
//     border-radius: 5px;
//     display: inline-block;
//     border: none;
//     transition: all 0.4s ease 0s;

//     &:hover {
//       background: #fff;
//       color: #ed3330 !important;
//       letter-spacing: 1px;
//       -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
//       -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
//       box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
//       transition: all 0.4s ease 0s;
//     }
//   }
}
