<div class="dashbox">
    <div class="row opts">
        <div class="col-md-12 alignR">
            <button *ngIf="!filterFormState"  class="btn btn-xs btn-default" (click)="displayFilterForm()">Filter</button>
            <button  class="btn btn-xs btn-info" (click)="exportRecords()">Export</button>
        </div>
    </div>
    <div class="row fltr-bx" *ngIf="filterFormState" >
        <div class="vol-md-12">
            
            <form [formGroup]="filterForm" (ngSubmit)="filterPayments()" role="form">
                
                <div class="form-group">
                    <label for="">Date From <small>(Payment Approved Date)</small></label>
                    <input type="date" class="form-control" id="" formControlName="approvedDateFrom">
                </div>
                <div class="form-group">
                    <label for="">Date To <small>(Payment Approved Date)</small></label>
                    <input type="date" class="form-control" id="" formControlName="approvedDateTo">
                </div>
                <div class="form-group">
                    <label for="fllterStr">Store</label>
                    <select class="form-control" id="fllterStr" formControlName="store">
                        <option [value]="null">Select Store</option>
                        <option value="{{str.id}}" *ngFor="let str of stores" >{{str.title}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fllterCntr">Center</label>
                    <select class="form-control" id="fllterCntr" formControlName="center">
                        <option [value]="null">Select Center</option>
                        <option value="{{cntr.id}}" *ngFor="let cntr of centers" >{{cntr.title}}</option>
                        <option [value]="null">All</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button> <button type="submit" class="btn btn-default btn-sm" (click)="filterFormState=false">Close</button>
                </div>
            </form>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="striped-rows-db">
        <div class="row" *ngFor="let pmt of payments">
            <div class="col-md-4">{{pmt._id}}</div>
            <div class="col-md-8 alignR"> <b>₹ {{(pmt.totalCollection+pmt.extraCollection)}}/-</b></div>
        </div>
        <div class="row">
            <div class="col-md-4"><b>Total:</b></div>
            <div class="col-md-8 alignR"> <b>₹ {{total}}/-</b></div>
        </div>
    </div>
    
</div>