<div class="panel-loader order-detail-panel" [ngClass]="panelLoader">
    <p-tabView orientation="right" (onChange)="onTabChange($event)">
        <p-tabPanel header="Overview" [selected]="true">
            <h4>Order Overview</h4>
            <hr>
            <table class="table table-brdr0">
                <tbody>
                    <tr>
                        <th>Order No: </th>
                        <td>#{{order?.orderNo}}</td>
                        <th>Order ID: </th>
                        <td>{{order?.id}}</td>
                    </tr>
                    <tr>
                        <th>Customer: </th>
                        <td>{{order?.user?.firstName}} {{order?.user?.lastName}}</td>
                        <th>Customer Type: </th>
                        <td>{{order?.user.type}}</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>
                            <ng-container *ngIf="userPerms?.VIEW_EMAIL"> {{order?.user?.email}}</ng-container>
                            <ng-container *ngIf="!userPerms?.VIEW_EMAIL"> *******</ng-container>
                        </td>
                        <th>Mobile: </th>
                        <td>
                            <ng-container *ngIf="userPerms?.VIEW_MOBILE">{{order?.user?.mobile}}</ng-container> 
                            <ng-container *ngIf="!userPerms?.VIEW_MOBILE">********</ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>Total Amount: </th>
                        <td>₹ {{order?.total}} <small >(Sub Total: {{order?.subTotal}}/-)</small></td>
                        <th>Discount: </th>
                        <td>₹ {{order?.discountTotal}}</td>
                    </tr>
                    <tr>
                        <th>Paid Amount: </th>
                        <td>₹ {{order?.paid}}</td>
                        <th>Remaining Amount:</th>
                        <td>₹ <ng-container *ngIf="order?.paid>0">{{order?.total-order?.paid}}</ng-container><ng-container *ngIf="order?.paid<0.1">{{order?.total}}</ng-container> </td>
                    </tr>
                    <tr>
                        <th>Current Status: </th>
                        <td>{{order?.status}}</td>
                        <th>User IP: </th>
                        <td>{{order?.tracer?.ip}}</td>
                    </tr>
                    <tr>
                        <th>Date Added: </th>
                        <td>{{order?.createdAt|date:'medium'}}</td>
                        <th>Date Modified: </th>
                        <td>{{order?.updatedAt|date:'medium'}}</td>
                    </tr>
                </tbody>
                <tbody class="spcl-bdy">
                    <tr>
                        <th>Center: </th>
                        <td>{{order?.relCenter?.title}}</td>
                        <th>Session: </th>
                        <td>{{order?.relSession?.name}}</td>
                    </tr>
                    <tr>
                        <th>Course: </th>
                        <td>{{order?.relCourse?.valueAlias}}</td>
                        <th>Stream: </th>
                        <td>{{order?.relStream?.valueAlias}}</td>
                    </tr>
                    <tr>
                        <th>Program/Product: </th>
                        <td>{{order?.productTitle}}</td>
                        <th>Batch: </th>
                        <td>{{order?.relBatch?.name}} ({{order?.relBatch?.code}})<br><a class="link" (click)="showBatchChangeWindow=true" *ngIf="userPerms?.CHANGE_BATCH">Change Batch</a></td>
                    </tr>

                </tbody>
            </table>
            <p *ngIf="!order?.isApproved" class="alignC"><a (click)="approveOrder()" class="btn btn-primary" *ngIf="invoiceOpt"> Approve </a></p>

        </p-tabPanel>

        <p-tabPanel header="Payments/Fee">
            <h4>Payments/Fee</h4>
            <hr>
            <div class="pmt-box brdr-{{pmt?.transactionStatus|lowercase}}" *ngFor="let pmt of orderPayments; let pi=index">
                <ek-dropdown class="ordr-pmt-dd pull-right" direction="right">
                    <button class="btn dropdown-toggle">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </button>
                    <ng-container class="dropdown-menu">
                        <li *ngIf="pmt?.transactionStatus=='Success'&&pmt?.receiptNo"><a class="link" href="{{API_URL}}/sales/payment/receipt-preview?pid={{pmt?.id}}" target="_blank">View Receipt</a></li>
                        <li *ngIf="pmt?.transactionStatus=='Success'&&!pmt?.receiptNo"><a class="link" (click)="showCancelPayment(pmt?.id)" target="_blank">Cancel Payment</a></li>
                        <li *ngIf="pmt?.transactionStatus=='Success'&&pmt?.receiptNo"><a class="link" (click)="showTransferPayment(pi)" target="_blank">Transfer Payment</a></li>
                        <li *ngIf="pmt.transactionStatus=='Success'"><a class="link" (click)="showRefundPayment(pi)">Refund Payment</a></li>
                        <li *ngIf="pmt?.transactionStatus=='Success'"> <a class="link" (click)="showEditPmt(pi)">Edit Payment Mode</a></li>
                    </ng-container>
                </ek-dropdown>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-4 col-xs-5 th">Payment Mode</div>
                            <div class="col-md-8 col-xs-7 td">{{pmt?.primaryMode}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-4 col-xs-5 th">Payment ID</div>
                            <div class="col-md-8 col-xs-7 td">#{{pmt?.refId}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-4 col-xs-5 th">Payment Option </div>
                            <div class="col-md-8 col-xs-7 td">{{pmt?.title}}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-4 col-xs-5 th">Date</div>
                            <div class="col-md-8 col-xs-7 td">{{pmt?.createdAt}}</div>
                        </div>
                    </div>
                </div>
                <div class="pmt-details" *ngIf="pmt?.primaryMode=='Online'">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Status</div>
                                <div class="col-md-8 col-xs-7 td"> <label class="label label-{{pmt?.transactionStatus|lowercase}}"> {{pmt?.transactionStatus}} </label></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Tracking ID</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.trackingId}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Amount</div>
                                <div class="col-md-8 col-xs-7 td">₹ {{pmt?.amount}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Extra Amount</div>
                                <div class="col-md-8 col-xs-7 td">₹ {{pmt?.extraAmount}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Payment Via</div>
                                <div class="col-md-8 col-xs-7 td">₹ {{pmt?.details?.mode}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Bank/Card/Wallet</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.details?.bankCardName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">RefID from Bank</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.details?.bankRefId}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Bank/Card/Wallet Response</div>
                                <div class="col-md-8 col-xs-7 td">Code: {{pmt?.details?.bankResponseStatus}} | {{pmt?.details?.bankResponseMsg}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Payment Gateway</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.details?.paymentGateway}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Payment Gateway Response</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.details?.responseMsg}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Store</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.store?.id}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">More</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.details?.beneficiary|json}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pmt-details" *ngIf="pmt?.primaryMode!='Online'">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Status</div>
                                <div class="col-md-8 col-xs-7 td"> <label class="label label-{{pmt?.transactionStatus|lowercase}}"> {{pmt?.transactionStatus}} </label></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Ref ID</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.details?.bankRefId}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Amount</div>
                                <div class="col-md-8 col-xs-7 td">₹ {{pmt?.amount}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Extra Amount</div>
                                <div class="col-md-8 col-xs-7 td">₹ {{pmt?.extraAmount}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Store</div>
                                <div class="col-md-8 col-xs-7 td">{{pmt?.store?.id}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-xs-5 th">Note</div>
                                <div class="col-md-8 col-xs-7 td"> {{pmt?.details?.note}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="invc-opt print-hide">
                    <br>
                    <ng-container *ngIf="pmt?.transactionStatus=='Success'||pmt?.transactionStatus=='Refunded'">
                        <button *ngIf="!pmt?.isApproved&&(pmt?.transactionStatus=='Success'||pmt?.transactionStatus=='Refunded')" class="btn btn-success btn-sm" (click)="approvePayment(pi)">Approve Payment</button>
                        <span class="" *ngIf="pmt?.isApproved&&pmt?.transactionStatus=='Success'">Approved | Receipt No: <i>{{pmt?.receiptNo}}</i></span>
                        <span class="" *ngIf="pmt?.isApproved&&pmt?.transactionStatus=='Refunded'">Refund Approved | Receipt No: <i>{{pmt?.receiptNo}}</i></span>
                       <ng-container *ngIf="pmt?.isApproved&&pmt?.receiptNo"  >

                            <a class="btn btn-info btn-xs pull-right" target="_blank" href="{{API_URL}}/sales/payment/receipt-preview?pid={{pmt?.id}}" style="margin-right: 10px;"> <span class="glyphicon glyphicon-save"></span> Download Receipt PDF</a>
                            <a class="btn btn-info btn-xs pull-right" *ngIf="pmt?.store&&pmt?.store?.primaryType=='BOOKSTORE'" target="_blank" href="{{API_URL}}/sales/payment/book-receipt-preview?pid={{pmt?.id}}" style="margin-right: 10px;"> <span class="glyphicon glyphicon-save"></span> Download Book Receipt PDF</a>
                       </ng-container>
                        
                    </ng-container>
                    <ng-container *ngIf="pmt?.transactionStatus=='Canceled'">
                        <span>Payment Canceled</span>
                    </ng-container>
                </div>
            </div>
            <div class="add-pmt-bx box-with-pm14 print-hide">
                <ek-order-payment-2 [order]="order" (onPaymentAdd)="onNewPaymentAdd($event)"></ek-order-payment-2>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Discount">
            <h4>Discounts</h4>
            <hr>
            <p *ngIf="!order?.discountDetail" >No discount availed on this order!</p>
            <div clas *ngIf="order?.discountDetail">
                <table class="table table-bordered tbl-discnt" >
                    <tbody>
                        <tr>
                            <th width="25%">Discount Code: </th>
                            <td width="25%">{{order?.discountDetail?.discountCode}}</td>
                            <th width="25%">Discount Type</th>
                            <td>{{order?.discountDetail?.discountType}}</td>
                        </tr>
                        <tr>
                            <th>Discount Amount: </th>
                            <td>₹ {{order?.discountDetail?.discountAmount||order?.discountDetail?.discountTotal}}</td>
                            <th>Type</th>
                            <td>{{order?.discountDetail?.type}}</td>
                        </tr>
                        <tr>
                            <!-- <th> With Payment </th>
                            <td>{{od.payment?.receiptNo}}</td> -->
                            <th rowspan="3">Document: </th>
                            <td rowspan="3"> <a target="new" href="{{order?.discountDetail?.reqDoc}}">View</a> </td>
                        </tr>
                        <tr>
                            <th>Date </th>
                            <td>{{order?.createdAt|date:'dd-MM-yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
                 
                <!-- <table class="table table-bordered tbl-discnt" *ngFor="let od of orderDiscounts" >
                    <tbody>
                        <tr>
                            <th width="25%">Discount Code: </th>
                            <td width="25%">{{od.discount?.code}}</td>
                            <th width="25%">Discount Type</th>
                            <td>{{od.discount?.discountType}}</td>
                        </tr>
                        <tr>
                            <th>Discount Amount: </th>
                            <td>₹ {{od.amount}}</td>
                            <th>Type</th>
                            <td>{{od.discount?.type}}</td>
                        </tr>
                        <tr>
                            <th> With Payment </th>
                            <td>{{od.payment?.receiptNo}}</td>
                            <th rowspan="2">Document: </th>
                            <td rowspan="2"> {{od.doc|json}}</td>
                        </tr>
                        <tr>
                            <th>Date </th>
                            <td>{{od.createdAt|date:'dd-MM-yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="add-discnt-bx">
                    <form (ngSubmit)="addOrderDiscount()" [formGroup]="discountForm">
                        <legend>Add Discount</legend>
                        <div class="form-group">
                            <label for="discountPmtOpt">Payment Option/EMI</label>
                            <select class="form-control" id="discountPmtOpt" placeholder="Type" formControlName="paymentOption">
                                <option [value]="null">Select</option>
                                <option value="{{i}}" *ngFor="let opt of paymentOptions; let i=index" >{{opt.title}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="discountTyp">Type</label>
                            <select class="form-control" id="discountTyp" placeholder="Type" formControlName="type">
                                <option [value]="null">Select</option>
                                <option value="COUPON">Coupon Code Based</option>
                                <option value="CUSTOM">Custom</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="discountForm.value.type=='COUPON'" >
                            <label for="discountCod">Coupon Code</label>
                            <input type="text" class="form-control" id="discountCod" placeholder="Coupon Code " formControlName="discountCode">
                        </div>
                        <div class="form-group" *ngIf="discountForm.value.type!='COUPON'">
                            <label for="discountAmtTyp">Amount Type</label>
                            <select class="form-control" id="discountTyp" placeholder="Type" formControlName="discountType">
                                <option [value]="null">Select</option>
                                <option value="PER">Percentage (%)</option>
                                <option value="FIX">FIX Amount</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="discountForm.value.type!='COUPON'">
                            <label for="discountAmt">Discount Amount</label>
                            <input type="text" class="form-control" id="discountAmt" placeholder="Discount Amount " formControlName="discountVal">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" [disabled]="!discountForm.valid||disFormStatus=='Processing'">{{(disFormStatus=='Processing'?'Processing...':'Add Discount')}}</button>
                        </div>
                    </form>
                </div> -->
            </div>
        </p-tabPanel>

        <p-tabPanel header="Shipping" *ngIf="order?.isShipping">
            <h4>Shipping</h4>
            <hr>
            <div class="" *ngIf="order?.buyerDetail?.address&&order?.buyerDetail?.address.shipping" >
                <h4>{{order?.buyerDetail?.address?.shipping?.name}}</h4>
                <p>
                    {{order?.buyerDetail?.address?.shipping?.address}}<br>
                    <b>{{order?.buyerDetail?.address?.shipping?.landmark}}</b>
                    <b>{{order?.buyerDetail?.address?.shipping?.city}}, </b>
                    <b>{{order?.buyerDetail?.address?.shipping?.state}}</b><br>
                    <b>{{order?.buyerDetail?.address?.shipping?.postalCode}}</b>
                </p>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Customer/Student">
            <h4>Customer/Student</h4>
            <hr>
            <table class="table table-brdr0">

                <tbody>

                    <tr>
                        <th>First Name</th>
                        <td>{{order?.user?.firstName}}</td>
                        <th>Last Name</th>
                        <td>{{order?.user?.lastName}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{order?.buyerDetail.email}}
                            <p *ngIf="order?.user?.email!=order?.buyerDetail.email">({{order?.user?.email}})</p>
                        </td>
                        <th>Mobile</th>
                        <td>{{order?.user?.mobile}}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{order?.user?.username}}</td>
                        <th>Registered At</th>
                        <td>{{order?.user?.createdAt|date:'short'}}</td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="!showStdInfo"><button class="btn btn-outline" (click)="showStdInfo=true">Load Detaild Info</button></p>
            <div class="std-detaild-info" *ngIf="showStdInfo">
                <ek-student-info [userId]="order?.user?.id" [profileDownloadOpt]="studentProfileDownloadOpt"></ek-student-info>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Programs/Products">
            <h4 class="display-ib">Programs/Products </h4>
            <ul class="list-inline pull-right">
                <li><button class="btn btn-sm btn-warning" (click)="processFullfillStep()">Process Fullfill Step</button></li>
                <li><button class="btn btn-sm btn-danger" (click)="unfullfillProduct()">Un Fullfill Order</button></li>
            </ul>
            <hr>
            <table class="table table-bordered panel-loader" [ngClass]="panelLoader">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Program/Product</td>
                        <td>Cost</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of orderProducts; let i=index;" >
                        <td>{{i+1}}.</td>
                        <td>
                            <a routerLink="/ims/cmn/product/{{product?.id}}">{{product?.alias}}</a>
                        </td>
                        <td>₹ {{product?.cost}}</td>
                    </tr>

                </tbody>
            </table>
        </p-tabPanel>
        <p-tabPanel header="History (Status)">
            <h4>History</h4>
            <hr>
            
        </p-tabPanel>

        <p-tabPanel header="More Details">
            <h4>More Details</h4>
            <hr>
            <p *ngIf="!customParamsKeys">
                There is no more data!
            </p>
            <table *ngIf="customParamsKeys" class="table table-bordered">

                <tbody>
                    <tr *ngFor="let cpKey of customParamsKeys" >
                        <th>{{cpKey}} </th>
                        <td *ngIf="!order?.customParams[cpKey]?.val" >{{order?.customParams[cpKey] | uppercase}}</td>
                        <td *ngIf="order?.customParams[cpKey]?.val&&order?.customParams[cpKey]?.type!='url'" >{{order?.customParams[cpKey]?.val}}</td>
                        <td *ngIf="order?.customParams[cpKey]?.val&&order?.customParams[cpKey]?.type=='url'" ><a href="{{order?.customParams[cpKey]?.val}}" target="new">View/Download</a></td>
                    </tr>
                </tbody>
            </table>
        </p-tabPanel>
    </p-tabView>
    <p-dialog header="Change Batch" [modal]="true" [(visible)]="showBatchChangeWindow" [width]="420" [dismissableMask]="true">
        <div *ngIf="showBatchChangeWindow">
            <ek-order-change-student-batch [orderId]="order?.id" [productId]="order?.products[0]" [batchId]="order?.relBatch?.id"></ek-order-change-student-batch>
        </div>
    </p-dialog>
    <p-dialog header="Cancel Payment" [modal]="true" [(visible)]="showPaymentCancelWindow"  [width]="420" [dismissableMask]="false">
        <form action="" [formGroup]="cancelPaymentForm" (ngSubmit)="cancelPayment()">
            <div class="form-group">
                <label for="">Reason for Payment Cancelation</label>
                <input type="text" formControlName="reason" class="form-control" placeholder="Please Enter Payment Cancelation Reason">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!cancelPaymentForm.valid||fh.status=='Processing'">{{fh.status=='Processing'?'Processing':'Cancel Payment'}}</button>
            </div>
        </form>
    </p-dialog>
    <p-dialog header="Transfer Payment" [modal]="true" [(visible)]="showPaymentTransferModal" [width]="420" [dismissableMask]="false">
        <form action="" [formGroup]="transferPaymentForm" (ngSubmit)="transferPayment()">
            <div class="form-group">
                <label for="">Order No. <small>(On which Payment will transfered)</small></label>
                <input type="number" min="1" formControlName="newOrderNo" class="form-control" #ordrNo (keyup)="loadPaymentNode(ordrNo.value)" placeholder="Enter Order No.">
            </div>
            <div class="form-group" *ngIf="paymentNodes&&paymentNodes.length>0">
                <label for="paymentNode">Payment Option</label>
                <select class="form-control" formControlName="paymentNode" id="">
                    <option value="null">Select Payment Option</option>
                    <option value="{{pmtNode.id}}" *ngFor="let pmtNode of paymentNodes" [disabled]="pmtNode.amount>selectedPayment.nodes[0].paid||pmtNode.paid==selectedPayment.nodes[0].paid">{{pmtNode.title}} {{pmtNode.amount}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!transferPaymentForm.valid||fh.status=='Processing'">{{fh.status=='Processing'?'Processing':'Transfer
                    Payment'}}</button>
            </div>
        </form>
    </p-dialog>
    <p-dialog header="Refund Payment" [modal]="true" [(visible)]="showPaymentRefundModal" [width]="420" [dismissableMask]="false">
        <form action="" [formGroup]="refundPaymentForm" (ngSubmit)="refundPayment()">
            <div class="form-group" *ngIf="paymentNodes&&paymentNodes.length>0">
                <label for="">Payment Node</label>
                <select class="form-control" formControlName="paymentNode" id="pmtNodde">
                    <option value="null">Select Payment Node</option>
                    <option value="{{i}}" *ngFor="let pmtNode of paymentNodes; let i=index">{{pmtNode.title}} {{pmtNode.amount}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Payment Refund Amount</label>
                <input type="number" formControlName="refundAmount" #refAmt (keyup)="checkPaymentAmount(refAmt.value)" class="form-control" placeholder="Please Enter Payment Refund Reason">
            </div>
            <div class="form-group">
                <label for="">Reason for Payment Refund</label>
                <input type="text" formControlName="refundReason" class="form-control" placeholder="Please Enter Payment Refund Reason">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!refundPaymentForm.valid||fh.status=='Processing'">{{fh.status=='Processing'?'Processing':'Cancel
                    Payment'}}</button>
            </div>
        </form>
    </p-dialog>

    <p-dialog header="Edit Payment Mode"  [modal]="true" [(visible)]="showEditPaymentModal" [width]="420" [dismissableMask]="false">
        <form [formGroup]="editPaymentModeForm" (ngSubmit)="updatePaymentMode()">
            <div class="form-group">
                <label for="">Payment Mode</label>
                <select type="text" formControlName="primaryMode" class="form-control">
                    <option value="null">Select Payment Mode</option>
                    <option value="Online">Online</option>
                    <option value="CASH">Cash</option>
                    <option value="NEFT">NEFT</option>
                    <option value="DD">DD</option>
                    <option value="CHEQUE">CHEQUE</option>
                    <option value="POS">POS</option>
                </select>

            </div>
            <div class="form-group">
                <label for="trackingId">Tracking Id</label>
                <input type="text" formControlName="trackingId" class="form-control" [required]="editPaymentModeForm?.value?.primaryMode=='Online'||editPaymentModeForm?.value?.primaryMode=='DD'||editPaymentModeForm?.value?.primaryMode=='CHEQUE'||editPaymentModeForm?.value?.primaryMode=='NEFT'?true:false">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!editPaymentModeForm.valid||fh.status=='Processing'">{{fh.status=='Processing'?'Processing':'Update Payment Mode'}}</button>
            </div>
        </form>
    </p-dialog>
</div>