<div class="page">
    <div class="header">
        <div class="container">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="section courses">
        <div class="container">
            <div class="courses">
                <div class="row">
                    <div class="col-3">
                        <div class="course">
                            Course
                            <a [routerLink]="['/course']">Go</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="course">
                            Course
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="course">
                            Course
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="course">
                            Course
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="course">
                            Course
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
