
<div class="activity-content">
    <form class="form" role="form" (ngSubmit)="updateQuiz()" [formGroup]="quizForm">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Quiz</h3>
                    </div>
                    <div class="panel-body panel-loader" [ngClass]="frmLoader">
                        <!-- <div class="col-md-6 col-xs-12 form-group">
                            <label for="quesCourse">Course<sup>*</sup></label>
                            <select name="" #course id="quesCourse" class="form-control" formControlName="course">
                                <option value="null" *ngIf="!courses" >Loading courses...</option>
                                <option value="null" *ngIf="courses" >Select Course</option>
                                <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                            <label for="quesStream">Stream<sup>*</sup></label>
                            <select name="" #stream id="quesStream" class="form-control" formControlName="stream" (change)="setQsets(course.value,stream.value)"> 
                                <option value="null" *ngIf="!streams" >Loading streams...</option>                                    
                                <option value="null" *ngIf="streams">Select Stream</option>
                                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                            </select>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="quizGroup">Quiz Group<sup style="color: red">*</sup></label>
                                <select id="quizGroup" class="form-control" formControlName="quizGroup">
                                    <option value="" >Select Quiz Group</option>
                                    <option value="{{qg.id}}" *ngFor="let qg of quizGroups">{{qg.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="qset">Qset<sup style="color: red">*</sup></label>
                                <select id="qset" class="form-control" formControlName="qset">
                                    <option value="">Select Qset</option>
                                    <option value="{{qset.id}}" *ngFor="let qset of qsets" >{{qset.title}}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div><label>Start Date <sup>*</sup></label></div>
                                <p-calendar formControlName="startDate" [(ngModel)]="startDate" [showTime]="true" hourFormat="12" [showIcon]="true"></p-calendar>
                                <span class="pull-right"> 
                                    <p *ngIf="!startDate">{{quiz?.startDate | date : "MMM d, y h:mm a"}}</p>
                                    <p *ngIf="startDate">{{startDate | date : "MMM d, y h:mm a"}}</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <div><label>End Date <sup>*</sup></label></div>
                                <p-calendar formControlName="endDate" [(ngModel)]="endDate" [showTime]="true" hourFormat="12" [showIcon]="true"></p-calendar>
                                <span class="pull-right"> 
                                    <p *ngIf="!endDate">{{quiz?.endDate | date : "MMM d, y h:mm a"}}</p>
                                    <p *ngIf="endDate">{{endDate | date : "MMM d, y h:mm a"}}</p>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 form-group">
                            <label for="isFree">Enable as Free<sup style="color: red">*</sup></label>
                            <select name="" id="isFree" class="form-control" formControlName="isFree" >
                                <option value="true" >Active</option>
                                <option value="false" >Inactive</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-xs-12 form-group">
                            <label for="onetime">One Time Submission<sup style="color: red">*</sup></label>
                            <select name="" id="onetime" class="form-control" formControlName="oneTimeSubmission" >
                                <option value="true" >Active</option>
                                <option value="false" >Inactive</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-xs-12 form-group">
                            <label for="quizStatus">Status<sup style="color: red">*</sup></label>
                            <select name="" id="quizStatus" class="form-control" formControlName="status" >
                                <option value="true" >Active</option>
                                <option value="false" >Inactive</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-xs-12 form-group">
                            <div class="col-md-2 col-md-offset-10">
                                <button type="submit" class="btn btn-primary" [disabled]="!quizForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="instruction-box">
                    <h4>Instructions:</h4>
                    <hr/>
                    <ul>
                        <li>Fields marked with * are mandatory.</li>
                    </ul>
                </div>
                <!-- <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox" [checked]="quizForm.value.isPublic" (change)="publicQuiz($event)"> Enable As Public Quiz </div>
                </div> -->
                <!-- <div class="panel panel-default">
                    <div class="panel-heading"><input type="checkbox" [checked]="quizForm.value.isFree" (change)="freeQuiz($event)"> Enable As Free Quiz </div>
                </div> -->
            </div>
        </div>
    </form>
</div>