
<div class="activity-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Quiz</h3>
                    <ul class="list-inline pull-right">
                        <li><a class="btn btn-success" (click)="showAssignQuiz()">Assign Quiz</a></li>
                        <li><a class="ek-btn btn-create" routerLink="/{{routes}}/qbank/quiz/add">Add New</a></li>
                    </ul>
                </div>
                <div class="panel-body panel-loader" [ngClass]="panelLoader">
                    <form role="form" [formGroup]="searchForm" (ngSubmit)="searchData()">
                        <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Quiz Group</th>
                                    <th>Qset</th>
                                    <!-- <th>Course</th>
                                    <th>Stream</th> -->
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>created By</th>
                                    <!-- <th>Is Public</th> -->
                                    <th>one Time Submission</th>
                                    <th>Is Free</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" #qgroup formControlName="quizGroup" (change)="setQsets(qgroup.value)">
                                                <option value="" *ngIf="quizGroups" >Select Quiz Groups</option>
                                                <option value="" *ngIf="!quizGroups" >Loading Quiz Groups...</option>
                                                <option value="{{qg.id}}" *ngFor="let qg of quizGroups" >{{qg.title}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="qset">
                                                <option value="" *ngIf="!qsets" >Loading Qsets...</option>
                                                <option value="" *ngIf="qsets" >Select Qsets</option>
                                                <option value="{{q.qset?.id}}" *ngFor="let q of qsets" >{{q.qset?.title}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="course">
                                                <option value="" *ngIf="!courses" >Loading courses...</option>
                                                <option value="" *ngIf="courses" >Select Course</option>
                                                <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                        <select name="" id="quesStrm" #quesStrm class="form-control" formControlName="stream">
                                                <option value="" *ngIf="!streams" >Loading streams...</option>
                                                <option value="" *ngIf="streams" >Select stream</option>
                                                <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                                            </select>
                                        </div>
                                    </td> -->
                                    <td style="width: 12%;" >
                                        <div class="form-group calendar-input">
                                            <!-- [showTime]="true" -->
                                            <p-calendar formControlName="startDate" [showIcon]="true"></p-calendar>
                                        </div>
                                    </td>
                                    <td style="width: 12%;">
                                        <div class="form-group calendar-input">
                                            <p-calendar formControlName="endDate" [showIcon]="true"></p-calendar>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="createdBy">
                                                <option value="">Select faculty</option>
                                                <option value="{{faculty.userDetails?.id}}" *ngFor="let faculty of faculties">{{faculty.name}} {{faculty.lastName}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="isPublic">
                                                <option value="">Select Status</option>
                                                <option value="true">YES</option>
                                                <option value="false">NO</option>
                                            </select>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="oneTimeSubmission">
                                                <option value="">Select Status</option>
                                                <option value="true">YES</option>
                                                <option value="false">NO</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="isFree">
                                                <option value="">Select Status</option>
                                                <option value="true">YES</option>
                                                <option value="false">NO</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" formControlName="status">
                                                <option value="">Select Status</option>
                                                <option value="true">Active</option>
                                                <option value="false">Inactive</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-info">Filter</button>
                                    </td>
                                </tr>
                                <tr *ngFor="let row of rows; let i=index">
                                    <td>{{countBase+i}}
                                        <input type="checkbox" (change)="selectQuiz($event,row?.id,i)" [checked]="selectedQuiz[row?.id]">
                                    </td>
                                    <td>{{row.quizGroup?.title}} <br><small>{{row.quizGroup?.alias}}</small></td>
                                    <td><a routerLink="/{{routes}}/qbank/qset/view" [queryParams]="{qsetId: row.qset?.id}" title="View Details">{{row?.qset?.title}}</a></td>
                                    <!-- <td>{{row?.course?.valueAlias}}</td>
                                    <td>{{row?.stream?.valueAlias}}</td> -->
                                    <td>{{row?.startDate | date : "medium" }}</td>
                                    <td>{{row?.endDate | date : "medium" }}</td>
                                    <td style="font-size: 12px;">{{row?.createdBy?.firstName}} {{row?.createdBy?.lastName}}</td>
                                    <!-- <td>{{row?.isPublic? 'YES' : 'NO'}}</td> -->
                                    <td>
                                        <span *ngIf="row?.oneTimeSubmission" class="badge badge-success">YES</span>
                                        <span *ngIf="!row?.oneTimeSubmission" class="badge badge-danger">NO</span>
                                    </td>
                                    <td>
                                        <span *ngIf="row?.isFree" class="badge badge-success">YES</span>
                                        <span *ngIf="!row?.isFree" class="badge badge-danger">NO</span>
                                    </td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox"  [checked]="row?.status" (click)="updateStatus($event,i)">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <button class="ek-btn btn-edit btn-mini" routerLink="/{{routes}}/qbank/quiz/edit/{{row.id}}" >Edit</button>
                                        <button class="ek-btn btn-delete btn-mini" (click)="deleteQuiz(row.id,i)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                        </div>
                    </form>
                    <p *ngIf="rows?.length < 1" class="alignC">
                        <b>No quiz available! </b>
                        <a routerLink="/{{routes}}/qbank/quiz/add" class="ek-btn btn-create btn-icon">Add New</a>
                    </p>
                </div>
                <div class="row" *ngIf="rows?.length>0">
                    <div class="col-md-12">
                        <p class="alignC">Total Records: {{totalRecords}}</p>
                        <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Assign Quiz" [(visible)]="displayAssignQuizModal" modal="true" draggable="false" [responsive]="true" [width]="400">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal fgm0" role="form" (ngSubmit)="assignQuiz()" [formGroup]="assignQuizForm">
                <div class="col-md-12 col-xs-12 form-group">
                    <label for="quesCourse">Batch<sup>*</sup></label>
                    <select name="" id="quesCourse" class="form-control" formControlName="batch">
                        <option value="null" *ngIf="!batches" >Loading batches...</option>
                        <option value="null" *ngIf="batches" >Select batches</option>
                        <option value="{{batch.id}}" *ngFor="let batch of batches" >{{batch.name}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xs-12 form-group">
                    <label for="quesStream">Quiz Group<sup>*</sup></label>
                    <select class="form-control" formControlName="quizGroup">
                        <option value="" *ngIf="quizGroups" >Select Quiz Groups</option>
                        <option value="" *ngIf="!quizGroups" >Loading Quiz Groups...</option>
                        <option value="{{qg.id}}" *ngFor="let qg of quizGroups" >{{qg.title}}</option>
                    </select>
                </div>
                <div class="col-md-6 col-xs-12 alignC" *ngIf="selectCount">
                    <b>
                        &<br>
                        {{selectCount}} selected Quiz.
                    </b>
                </div>
                <div class="col-md-12 col-xs-12 form-group">
                    <button type="submit" class="btn btn-primary pull-right"  [disabled]="!assignQuizForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Proceed')}}</button>
                </div>
            </form>
        </div>
    </div>
</p-dialog>