
    <div class="activity-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary panel-loader" [ngClass]="panelLoader">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quiz Groups</h3>
                        <ul class="list-inline pull-right">
                            <li><a (click)="showAddQuizGroup()" class="ek-btn btn-create">Add New</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <table class="table tbale-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Course</th>
                                    <th>Stream</th>
                                    <th>Paid Quiz</th>
                                    <th>Free Quiz</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of quizGroupList; let i=index">
                                    <td>{{countBase + i}}</td>
                                    <td>{{row?.title}}
                                        <br>
                                        <small>{{row?.alias}}</small>
                                    </td>
                                    <td>{{row?.course?.valueAlias}}</td>
                                    <td>{{row?.stream?.valueAlias}}</td>
                                    <td>{{row?.paidQuiz}}</td>
                                    <td>{{row?.freeQuiz}}</td>
                                    <td>{{row?.status? 'Active': 'In Active'}}</td>
                                    <td>
                                        <a class="ek-btn btn-list btn-mini" routerLink="/{{routes}}/qbank/quiz" [queryParams]="{quizGroup:row?.id}">View Quiz</a>
                                        <a class="ek-btn btn-create btn-mini" (click)="showEditQuizGroup(row?.id,i)">Edit</a> &nbsp;&nbsp;
                                        <a class="ek-btn btn-delete btn-mini" (click)="deleteQuizGroup(row,i)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p *ngIf="quizGroupList?.length < 1" class="alignC">
                            <b>No quiz Group available! </b>
                            <a class="ek-btn btn-create btn-icon" (click)="showAddQuizGroup()">Add New</a>
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="alignC">Total Records: {{totalRecords}}</p>
                                <p-paginator alwaysShow="false" rows="10" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[10,20,50,100,200]" (onPageChange)="paginate($event)"></p-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-sidebar [(visible)]="displayAddQuizGroup" styleClass="ui-sidebar-md ui-sidebar-right" position="right">
        <div class="panel panel-primary" style="margin-top:85px;">
            <div class="panel-heading">Add Quiz Group</div>
            <div class="panel-body">
                <form class="form-horizontal fgm0" role="form" (ngSubmit)="addQuizGroup()" [formGroup]="addQuizGroupForm">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="alias">Alias</label>
                        <input type="text" class="form-control" id="alias" placeholder="Enter Alias" formControlName="alias">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                        <label for="quesCourse">Course<sup>*</sup></label>
                        <select name="" id="quesCourse" class="form-control" formControlName="course">
                            <option value="" *ngIf="!courses" >Loading courses...</option>
                            <option value="" *ngIf="courses" >Select Course</option>
                            <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <label for="quesStream">Stream<sup>*</sup></label>
                        <select name="" id="quesStream" class="form-control" formControlName="stream"> 
                            <option value="" *ngIf="!streams" >Loading streams...</option>                                    
                            <option value="" *ngIf="streams">Select Stream</option>
                            <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <label for="Status">Status<sup>*</sup></label>
                        <select name="" id="Status" class="form-control" formControlName="status">
                            <option value="true" >Active</option>
                            <option value="false" >Inactive</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <br>
                        <input type="checkbox" [checked]="addQuizGroupForm.value.isPublic" (change)="addPublicQuizGroup($event)"> Enable As Public Quiz
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"  [disabled]="!addQuizGroupForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </form>
            </div>
        </div>
    </p-sidebar>
    <p-sidebar [(visible)]="displayEditQuizGroup" styleClass="ui-sidebar-md ui-sidebar-right" position="right">
        <div class="panel panel-primary" style="margin-top:85px;">
            <div class="panel-heading">Edit Quiz Group</div>
            <div class="panel-body">
                <form class="form-horizontal fgm0" role="form" (ngSubmit)="updateQuizGroup()" [formGroup]="editQuizGroupForm">
                   
                    <div class="form-group">
                        <label for="Title">Alias<sup>*</sup></label>
                        <input type="text" class="form-control" id="Title" placeholder="Enter Alias" formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="name">Title<sup>*</sup></label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="alias">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                        <label for="quesCourse">Course<sup>*</sup></label>
                        <select name="" id="quesCourse" class="form-control" formControlName="course">
                            <option value="" *ngIf="!courses" >Loading courses...</option>
                            <option value="" *ngIf="courses" >Select Course</option>
                            <option value="{{crs.id}}" *ngFor="let crs of courses" >{{crs.valueAlias}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                        <label for="quesStream">Stream<sup>*</sup></label>
                        <select name="" id="quesStream" class="form-control" formControlName="stream"> 
                            <option value="" *ngIf="!streams" >Loading streams...</option>                                    
                            <option value="" *ngIf="streams">Select Stream</option>
                            <option value="{{stream.id}}" *ngFor="let stream of streams" >{{stream.valueAlias}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Status1">Status<sup>*</sup></label>
                        <select name="" id="Status1" class="form-control" formControlName="status">
                            <option value="true" >Active</option>
                            <option value="false" >Inactive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"  [disabled]="!editQuizGroupForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </form>
            </div>
        </div>
    </p-sidebar>