<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12 panel-loader"  [ngClass]="panelLoader">
            <div class="panel panel-primary panel-profile ">
                <div id="testMentTabView" class="panel-body" *ngIf="userTestSeries?.length >0">
                    <p-tabView *ngIf="courseIds && courseIds.length > 0">
                        <p-tabPanel header="{{courses[courseId]?.valueAlias}}" *ngFor="let courseId of courseIds; let i=index" [selected]="courses[courseId]?._id == activeCourse">
                            <div  *ngFor="let testSeries of userTestSeries; let j=index">
                                <p-fieldset (onAfterToggle)="setQueryParams(testSeries?.tsDetail?._id)" *ngIf="testSeries.course._id == courses[courseId]?._id" [toggleable]="true" [collapsed]="(testSeries?.tsDetail?._id == activeTestSeries? false: true)">
                                    <p-header>{{testSeries?.tsDetail?.title}}</p-header>
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12 margin-bottom-10">
                                            <button class="btn btn-primary btn-sm pull-right" (click)="ShowFeedbackModal(testSeries?.tsDetail)">TestSeries Feedback</button>
                                        </div>
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row test-student" *ngFor="let tests of testSeries.tests; let i=index">
                                                <div class="col-md-1 col-xs-1">
                                                    <strong>{{i+1}}</strong>
                                                </div>
                                                <div class="col-md-7 col-xs-10">
                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12">
                                                            <b>{{tests?.test?.title}}</b><br><small>{{tests?.test?.alias}}</small>
                                                            <!-- <div class="test-type pull-left bg-practice" [ngClass]="(tests?.test?.testType=='PRACTICE'?'bg-practice':'bg-live')">{{tests?.test?.testType}}</div> -->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">Duration : </span><b>{{tests?.test?.duration}} Min.</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">Total Marks: </span><b>{{tests?.test?.maxScore}}</b>
                                                        </div>
                                                        <div class="col-md-3 col-xs-12">
                                                            <span class="ek-label">Total Question: </span><b>{{tests?.test?.totalQs}}</b>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-12">
                                                            <span class="ek-label">Start Date : </span><b>{{tests?.test?.startDate | date : "MMM d y, h:mm a"}}</b>
                                                        </div>
                                                        <div class="col-md-6 col-xs-12">
                                                            <span class="ek-label">End Date : </span><b>{{tests?.test?.endDate | date : "MMM d y, h:mm a"}}</b>
                                                        </div>
                                                        <div class="col-md-6 col-xs-12" *ngIf="tests?.test?.preDiscussionVideos?.ids&&tests?.test?.preDiscussionVideos?.ids.length>0" style="margin-top: 10px;">
                                                            <button class="btn btn-primary btn-xs" (click)="showPreDisVideosModal(tests)">Pre Discussion Video</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-1 col-xs-offset-1" *ngIf="tests?.test.isTestStarted">
                                                    <div class="test-btn" *ngIf="tests?.test?.testType == 'PRACTICE'">

                                                        <button class="btn btn-primary btn-xs" *ngIf="testOpened" (click)="loadTests()"><i class="fa fa-refresh"></i></button>
                                                        <ng-container *ngIf="tests?.test?.oneTimeSubmission">
                                                                <button class="btn btn-success margin-left-10" *ngIf="tests?.isAttempted == false" [disabled]="testOpened" (click)="testWindow(tests)">Attempt Now</button>
                                                        </ng-container>
                                                        <ng-container *ngIf="!tests?.test?.oneTimeSubmission">
                                                                <button class="btn btn-success margin-left-10" [disabled]="testOpened" (click)="testWindow(tests)">Attempt Now</button>
                                                        </ng-container>
                                                        <button class="btn btn-warning margin-left-10" *ngIf="tests?.isAttempted == true" [disabled]="testOpened" routerLink="/student/testment/overview" [queryParams]="{uotId:tests?._id}">Report</button>
                                                    </div>
                                                    <div class="test-btn" *ngIf="tests?.test?.testType == 'LIVE'">
                                                        <button class="btn btn-primary btn-xs" *ngIf="tests?.isAttempted == false && testOpened" (click)="loadTests()"><i class="fa fa-refresh"></i></button>
                                                        <button class="btn btn-success margin-left-10" *ngIf="tests?.isAttempted == false" [disabled]="tests?.test.isTestStarted == false || testOpened" (click)="testWindow(tests)">Attempt Now</button>
                                                        <button class="btn btn-warning margin-left-10" *ngIf="tests?.isAttempted == true && tests?.test?.showLiveResult"  routerLink="/student/testment/overview" [queryParams]="{uotId:tests?._id}">Report</button>
                                                        <div class="brooch brooch-info" *ngIf="tests?.isAttempted == true && !tests?.test?.showLiveResult"> Attempted </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-xs-1 col-xs-offset-1" *ngIf="!tests?.test.isTestStarted">
                                                    <button class="btn btn-primary margin-left-10" disabled >Starts On<br>{{tests?.test?.startDate | date : "MMM d, y h:mm a"}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <div class="panel-body alignC" *ngIf="userTestSeries?.length < 1">
                    <i class="fa fa-file-text-o fa-5x" aria-hidden="true" style="color :#80808075"></i>
                    <h3> No Test To Attempt !!</h3>
                    <button class="btn btn-primary btn-mini" routerLink="/student/testment/testseries">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Watch Pre Discussion Video" [modal]="true" [width]="600" [(visible)]="displayPreDisVideoModal">
    <div>
        <ul class="list-inline">
            <li *ngFor="let id of activeTest?.test?.preDiscussionVideos?.ids; let i = index;">
                <a class="btn btn-xs2" [ngClass]="(i == activeVideo?'btn-info':'btn-default')" (click)="changeVideoURL(i,id,activeTest?.test?.preDiscussionVideos?.source)">Video {{i+1}}</a>
            </li> 
        </ul>
    </div>
    <iframe *ngIf="preDisVideoURL" width="550" height="300" frameborder="0" [src]="preDisVideoURL"></iframe>
</p-dialog>
<p-dialog header="FeedBack Form" [modal]="true" [width]="600" [(visible)]="displayFeedbackModal">
        <form role="form" (submit)="submitFeedback()" [formGroup]="feedbackForm">
            <div class="row panel-loader" [ngClass]="panelLoader">
                <div class="col-md-12 col-xs-12 form-group">
                    <label>Questions</label>
                    <ul style="list-style: none;">
                        <li  *ngFor="let subject of fbSubjects; let i=index;">
                        <input type="radio" formControlName="subject" value="{{subject.id}}"> <b>{{subject.title}}</b>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-xs-12 form-group">
                    <label for="title">Write Your Comment</label>
                    <textarea class="form-control" id="title" rows="8" placeholder="Enter your comment" formControlName="query"></textarea>
                </div>
                <div class="col-md-12 col-xs-12 form-group">
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!feedbackForm.valid || panelLoader == 'Show'? true : false">{{panelLoader == 'Show'? 'Processing...' : 'Submit'}}</button>
                </div>
            </div>
        </form>
    </p-dialog>