<div class="rsw-child">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" (ngSubmit)="updateDFParams()" [formGroup]="defaultParamsForm">
                <div class="form-group">
                    <label for="dfSsn" class="col-sm-5 control-label">Default Session<sup>*</sup></label>
                    <div class="col-sm-7">
                        <select id="dfSsn" class="form-control" formControlName="session">
                            <option [value]="null">Select Session</option>
                            <option value="{{i}}" *ngFor="let item of sessions; let i=index" >{{item.name}}</option>
                            <option [value]="null">All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dfCntr" class="col-sm-5 control-label">Default Center<sup>*</sup></label>
                    <div class="col-sm-7">
                        <select id="dfCntr" class="form-control" formControlName="center">
                            <option [value]="null">Select Center</option>
                            <option value="{{i}}" *ngFor="let item of centers; let i=index" >{{item.title}}</option>
                            <option [value]="null">All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dffrm" class="col-sm-5 control-label">Default Firm<sup>*</sup></label>
                    <div class="col-sm-7">
                        <select id="dffrm" class="form-control" formControlName="firm">
                            <option [value]="null">Select Firm</option>
                            <option value="{{i}}" *ngFor="let item of firms; let i=index" >{{item.name}}</option>
                            <option [value]="null">All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dfStr" class="col-sm-5 control-label">Default Store<sup>*</sup></label>
                    <div class="col-sm-7">
                        <select id="dfStr" class="form-control" formControlName="store">
                            <option [value]="null">Select Store</option>
                            <option value="{{i}}" *ngFor="let item of stores; let i=index" >{{item.title}}</option>
                            <option [value]="null">All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dffy" class="col-sm-5 control-label">Default Financial Year<sup>*</sup></label>
                    <div class="col-sm-7">
                        <select id="dffy" class="form-control" formControlName="financialYear">
                            <option [value]="null">Select FY</option>
                            <option value="{{i}}" *ngFor="let item of fys; let i=index" >{{item.title}}</option>
                            <option [value]="null">All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-5">
                        <button type="submit" class="btn btn-primary" [disabled]="!defaultParamsForm.valid||dfFormStatus=='Processing'">{{(dfFormStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>