<div class="ek-tab-panel panel-loader" [ngClass]="panelLoader">

    <div class="ek-tab-panel-tabs">
        <ul>
            <li class="ek-tab-panel-tab" (click)="activeTab=0" [ngClass]="(!activeTab||activeTab===0?'active':'')">Overview</li>
            <li class="ek-tab-panel-tab" (click)="activeTab=1" [ngClass]="(activeTab===1?'active':'')">Type</li>
            <li class="ek-tab-panel-tab" (click)="activeTab=2" [ngClass]="(activeTab===2?'active':'')">More</li>
        </ul>
    </div>
    <div class="ek-tab-panel-contents">
        <div class="ek-tab-panel-content" *ngIf="(!activeTab||activeTab===0)">
            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Name</div>
                <div class="col-md-9 col-xs-7 val">{{firm?.name}}</div>
            </div>


            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Current Status</div>
                <div class="col-md-9 col-xs-7 val">{{firm?.status?'Active':'Inactive'}}</div>
            </div>
        </div>
        <div class="ek-tab-panel-content" *ngIf="(activeTab===1)">
            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Type</div>
                <div class="col-md-9 col-xs-7 val">{{firm?.type}}</div>
            </div>

        </div>
        <div class="ek-tab-panel-content" *ngIf="(!activeTab||activeTab===0)">
            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Allow Student</div>
                <div class="col-md-9 col-xs-7 val">{{(firm?.allowStdReg?'Yes':'No')}}</div>
            </div>


            <div class="row detail-row" *ngIf="firm?.allowStdReg==true">
                <div class="col-md-3 col-xs-5 lbl">SRN Prefix</div>
                <div class="col-md-9 col-xs-7 val">{{firm?.srnPrefix}}</div>
            </div>
        </div>
        <div class="ek-tab-panel-content" *ngIf="(activeTab===2)">
            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Logo</div>
                <div class="col-md-9 col-xs-7 val"><img src="{{firm?.logo}}" style="max-width:100%"></div>
            </div>

        </div>
        <div class="ek-tab-panel-content" *ngIf="(activeTab===2)">
            <div class="row detail-row">
                <div class="col-md-3 col-xs-5 lbl">Director Sign</div>
                <div class="col-md-9 col-xs-7 val"><img src="{{firm?.directorSign}}" style="max-width:100%"></div>
            </div>

        </div>
    </div>
</div>