<div class="panel-laoder table-bx" [ngClass]="panel1Loader">
    <p class="table-opts">
        <button class="btn btn-default btn-sm" (click)="setFilterBox()" *ngIf="!filterOpen">Filter</button>
        <button class="btn btn-info btn-sm" (click)="exportData()">Export</button>
    </p>
    <div class="table-filter-bx" *ngIf="filterOpen">
        <span class="close-opt" (click)="filterOpen=false"> <i class="fa fa-close"></i> </span>
        <form [formGroup]="filterForm" (ngSubmit)="loadProductsWithFilter()" role="form">

            <legend>Filter Data</legend>

            <div class="form-group">
                <label for="">Date From</label>
                <input type="date" class="form-control" id="" formControlName="from">
            </div>
            <div class="form-group">
                <label for="">Date To</label>
                <input type="date" class="form-control" id="" formControlName="to">
            </div>
            <div class="form-group" *ngIf="!store">
                <label for="fltrStor">Store</label>
                <select class="form-control" id="fltrStor" formControlName="store">
                    <option value="" *ngIf="!stores">Loading...</option>
                    <option value="" *ngIf="stores" >All</option>
                    <option value="{{store.id}}" *ngFor="let store of stores" >{{store.title}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fltrPmtMode">Payment Mode</label>
                <select class="form-control" id="fltrPmtMode" formControlName="paymentMode">
                    <option value="">All</option>
                    <option value="CASH">CASH</option>
                    <option value="Online">Online</option>
                    <option value="CHEQUE">Cheque</option>
                    <option value="DD">DD</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fltrOrdrSt">Order Status</label>
                <select class="form-control" id="fltrOrdrSt" formControlName="status">
                        <option value="" *ngIf="!orderStatus">Loading...</option>
                        <option value="" *ngIf="orderStatus" >All</option>
                    <option value="{{sts.value}}" *ngFor="let sts of orderStatus" >{{sts.valueAlias}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fltrPmtSt">Payment Status</label>
                <select class="form-control" id="fltrPmtSt" formControlName="paymentStatus">
                    <option value="">All</option>
                    <option value="Paid">Full Paid</option>
                    <option value="Unpaid">Only Partially Paid</option>
                    <option value="Partiall Paid">Unpaid</option>
                </select>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
    <p class="filter-tags">
        <span class="label label-info" *ngIf="filterForm.value.from">From: {{filterForm.value.from}}</span>
        <span class="label label-info" *ngIf="filterForm.value.to">To: {{filterForm.value.to}}</span>
        <span class="label label-info" *ngIf="filterForm.value.status">Status: {{filterForm.value.status}}</span>
        <span class="label label-info" *ngIf="filterForm.value.paymentStatus">Payment Status: {{filterForm.value.paymentStatus}}</span>
        <span class="label label-info" *ngIf="filterForm.value.paymentMode">Payment Mode: {{filterForm.value.paymentMode}}</span>
        <span class="label label-info" *ngIf="filterForm.value.store">Store</span>
    </p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th class="alignR">Total Sales</th>
                <th class="alignR">Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; let i=index">
                <td>{{i+1}}.</td>
                <td><a routerLink="/ims/cmn/product/{{item.product.id}}">{{item.product.title}}</a></td>
                <td class="alignR">{{item.salesCount}}</td>
                <td class="alignR">₹ {{item.totalAmount}}</td>
            </tr>
        </tbody>
    </table>

</div>