<div class="activity-content">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary panel-profile panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading" *ngIf="userTestSeries?.length > 0">
                    <span class="panel-title">My Test Series</span>
                    <span class="pull-right"><a class="btn btn-info" routerLink="/student/testment/test">My Tests</a></span>
                </div>
                <div class="panel-body">
                    <div class="row ts-content" *ngIf="userTestSeries?.length > 0"> 
                        <div class="col-md-3" *ngFor="let tsDetail of userTestSeries">
                            <div class="ts-card">
                                <div class="thumb"><img class="card-img" *ngIf="tsDetail?.testSeries?.featureImage"  src="{{tsDetail?.testSeries?.featureImage}}" alt="No Image"> <i *ngIf="!tsDetail?.testSeries?.featureImage" class="fa fa-file"></i></div>
                                <div class="ttl"><h4><a routerLink="/student/testment/test" [queryParams]="{tsId:tsDetail?.testSeries?._id}">{{tsDetail?.testSeries?.title}}</a></h4></div>
                                <div class="info">
                                    
                                </div>
                                <div class="opts">
                                   <span>50 Tests</span> <a class="btn btn-info btn-xs pull-right" routerLink="/student/testment/test" [queryParams]="{tsId:tsDetail?.testSeries?._id}">View Tests</a>
                                </div>
                            </div>
                           
                        </div>
                    </div>    
                    <div *ngIf="userTestSeries?.length < 1" class="alignC">
                        <i class="fa fa-file-text-o fa-5x" aria-hidden="true" style="color :#80808075"></i>
                        <h3>No Test Series !!</h3>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary panel-profile panel-loader" [ngClass]="panelLoader">
                <div class="panel-heading">
                    <h3 class="panel-title">Buy Products</h3>
                </div>
                <div class="panel-body">
                    <div class="row ts-content">
                        <div class="col-md-3" *ngFor="let product of tsProducts">
                            <div class="card">
                                <img class="card-img" src="{{product?.featureImg}}" alt="Product Image" style="width:100%">
                                <div class="overlay" routerLink="/student/testment/product/{{product?.id}}">
                                    <div class="text">
                                        <h4>{{product?.title}}</h4>
                                        <div>Course :<b> {{product?.course?.valueAlias}}</b></div>
                                        <div>Stream :<b> {{product?.stream?.valueAlias}}</b></div>
                                        <!-- <div>Total Test Series :<b> {{product?.sourceId?.length}}</b></div>
                                        <div>Price :<b> {{product?.cost}}</b></div> -->
                                        <div style="margin-top: 40px;"><a class="btn btn-primary pull-right" >View Details</a></div>
                                    </div>
                                </div>
                                <div class="card-container">
                                    <h5><b>{{product?.title}}</b></h5>
                                    <div>Total Test Series :<b> {{product?.sourceId?.length}}</b></div>
                                    <div>Price :<b> {{product?.cost}}</b></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngIf="tsProducts?.length < 1" style="text-align: center">
                            <i class="fa fa-shopping-cart fa-5x" aria-hidden="true" style="color :#80808075"></i>
                            <h3>Coming Soon !!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
