<div class="rsw-child">
    <div class="row">
        <div class="col-md-12" [ngClass]="panelLoader">
            <form class="form-horizontal padding15 panel-loader" role="form" (ngSubmit)="updateJobapplication()" [formGroup]="jobapplicationForm">
                <div class="form-group">
                    <label for="jaOpng">Status</label>
                    <select name="" id="jaOpng" class="form-control" formControlName="jobopening">
                                <option value="null" >Select Opening</option>
                                <option value="{{jo.id}}" *ngFor="let jo of jobOpenings">{{jo.title}}</option>
                            </select>
                </div>
                <div class="form-group">
                    <label for="jaFnm">Applicant First Name</label>
                    <input type="text" class="form-control" id="jaFnm" placeholder="Applicant's First Name" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label for="jaLnm">Applicant Last Name</label>
                    <input type="text" class="form-control" id="jaLnm" placeholder="Applicant's Last Name" formControlName="lastName">
                </div>
                <div class="form-group">
                    <label for="jaEml">Applicant Email</label>
                    <input type="text" class="form-control" id="jaEml" placeholder="Applicant's Email" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="jaMbl">Applicant Mobile</label>
                    <input type="text" class="form-control" id="jaMbl" placeholder="Applicant's Mobile" formControlName="mobile">
                </div>
                <div class="form-group">
                    <label for="jaDob">Applicant DoB</label>
                    <input type="date" class="form-control" id="jaDob" placeholder="Applicant's Date of Birth" formControlName="dob">
                </div>
                <div class="form-group">
                    <label for="jaGndr">Applicant Gender</label>
                    <select class="form-control" id="jaGndr" formControlName="gender">
                                <option value="null" >Select Gender</option>
                                <option value="M" >Male</option>
                                <option value="F" >Female</option>
                            </select>
                </div>
                <fieldset formGroupName="address">
                    <b>Applicant Address</b>
                    <div class="form-group">
                        <label for="adrs">Address</label>
                        <textarea class="form-control" id="adrs" placeholder="Address" formControlName="address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="lndmrk">Landmark</label>
                        <input type="text" class="form-control" id="lndmrk" placeholder="Nearby Landmark" formControlName="landmark">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="pin">Postal Code (pin)</label>
                        <input type="text" class="form-control" id="pin" placeholder="6 Digit PIn Code" formControlName="postalCode">
                    </div>

                </fieldset>
                <div class="form-group">
                    <label for="flogo">Passport Photo</label>
                    <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="personalImg"></ek-fileinput>
                </div>
                <div class="form-group">
                    <label for="flogo">Sign Photo</label>
                    <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="signImg"></ek-fileinput>
                </div>
                <div class="form-group">
                    <label for="flogo">CV (PDF)</label>
                    <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="cv"></ek-fileinput>
                </div>
                <div class="form-group">
                    <label for="flogo">Video CV (MP4)</label>
                    <ek-fileinput [fmModalStatus]="'hide'" customClass="form-control" formControlName="cvVideo"></ek-fileinput>
                </div>


                <div class="form-group">
                    <label for="input3">Status</label>
                    <select name="" id="input3" class="form-control" formControlName="status">
                                <option value="null" >Select Status</option>
                                <option value="true" >Active</option>
                                <option value="false" >Inactive</option>
                            </select>
                </div>


                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="!jobapplicationForm.valid||formStatus=='Processing'">{{(formStatus=='Processing'?'Processing...':'Submit')}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>