<div class="rswindow" [style.right]="windowPos + 'px'" [style.display]="'block'" [style.width]="windowWidth+'px'" (scroll)="onScroll($event)">
    <div class="rsw-wrapper">
        <div class="rsw-header">
            <div class="rsw-heading">
                <h4>{{windowTitle}}</h4>
            </div>
            <div class="rsw-options">
                <button (click)="closeRsw()" class="btn btn-xs btn-dedault close-btn"> <i class="fa fa-times"></i> </button>
            </div>
        </div>
        <div class="rsw-content">
            <div #rsWindow></div>
        </div>
    </div>

</div>