<div class="rsw-child">
    <div class="ek-tab-panel panel-loader" [ngClass]="panelLoader">

        <div class="ek-tab-panel-tabs">
            <ul>
                <li class="ek-tab-panel-tab" (click)="activeTab=0" [ngClass]="(!activeTab||activeTab===0?'active':'')">Overview</li>
            </ul>
        </div>
        <div class="ek-tab-panel-contents">
            <div class="ek-tab-panel-content" *ngIf="(!activeTab||activeTab===0)">
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Job</div>
                    <div class="col-md-9 col-xs-7 val"><b>{{jobapplication?.jobopening.title}}</b></div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.stream?.valueAlias">
                    <div class="col-md-3 col-xs-5 lbl">Stream</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.stream?.valueAlias}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Applicant Name</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.firstName}} {{jobapplication?.lastName}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Email</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.email}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Mobile</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.mobile}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Gender</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.gender}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">DoB</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.dob}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-6 col-xs-6 lbl">
                        <span class="lbl">Personal Photo</span>
                        <p><img src="{{jobapplication?.personalImg}}" style="width:120px; max-height:140px;"></p>
                    </div>
                    <div class="col-md-6 col-xs-6 lbl">
                        <span class="lbl">Sign Photo</span>
                        <p><img src="{{jobapplication?.signImg}}" style="width:120px; max-height:100px;"></p>
                    </div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.experience">
                    <div class="col-md-3 col-xs-5 lbl">Experience (in Yrs)</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.experience}}</div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.qualification">
                    <div class="col-md-3 col-xs-5 lbl">Qualification</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.qualification}}</div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.collegeType">
                    <div class="col-md-3 col-xs-5 lbl">College Type</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.collegeType}}</div>
                </div>

                <div class="row detail-row" *ngIf="jobapplication?.collegeName">
                    <div class="col-md-3 col-xs-5 lbl">College Name</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.collegeName}}</div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.jobType">
                    <div class="col-md-3 col-xs-5 lbl">Job Type</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.jobType}}</div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.availableMonths">
                    <div class="col-md-3 col-xs-5 lbl">Available Months</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.availableMonths}}</div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.availableWeekDays">
                    <div class="col-md-3 col-xs-5 lbl">Available Week Days</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.availableWeekDays}}</div>
                </div>
                <div class="row detail-row" *ngIf="jobapplication?.availableDayHours">
                    <div class="col-md-3 col-xs-5 lbl">Available Day Hours</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.availableDayHours}}</div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">CV (PDF)</div>
                    <div class="col-md-9 col-xs-7 val"><a href="{{jobapplication?.cv}}" target="_blank">{{jobapplication?.cv}}</a></div>
                </div>

                <div class="row detail-row">
                    <div class="col-md-3 col-xs-5 lbl">Current Status</div>
                    <div class="col-md-9 col-xs-7 val">{{jobapplication?.status?'Active':'Inactive'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>